<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> patterns-heading-sidebar }}
    <div class="subsection person-card">
      <p>
        <strong>Marc-André Gosselin</strong><br>
        Attaché de presse<br>
        Cabinet du maire et du comité exécutif
      </p>
      <ul class="list-icon">
        <li class="list-icon-item">
          {{> styles-fonticon-item(icon-label: "012-telephone") }}
          <span>514 222-3456</span>
        </li>
      </ul>
    </div>
    <div class="subsection person-card">
      <p>
        <strong>Linda Boutin</strong><br>
        Relationiste<br>
        Service des communications
      </p>
      <ul class="list-icon">
        <li class="list-icon-item">
          {{> styles-fonticon-item(icon-label: "012-telephone") }} 
          <span>514 333-34567</span>
        </li>
        <li class="list-icon-item">
          {{> styles-fonticon-item(icon-label: "028-enveloppe") }}
          <a href="mailto:linda.boutin@ville.montreal.qc.ca">linda.boutin@ville.montreal.qc.ca</a>
        </li>
      </ul>
    </div>
  </section>
</div>