{{# sb-abonnement }}
<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> patterns-heading-sidebar }}
    {{{ sb-abonnement-text }}}
    {{> components-button(buttonClass: "btn-secondary")}}
  </section>
</div>
{{/ sb-abonnement }}