<h2 class="sidebar-title {{ sidebar-title-classes }}">
{{# sidebarTitlePrependIcon }}
  {{> styles-fonticon-item(icon-label: "036-attention-circulaire") }}
{{/ sidebarTitlePrependIcon }}{{ sidebarTitle }}
{{# sidebarTitleAppendIcon }}
  {{> styles-fonticon-item(icon-label: "001-rosace") }}
{{/ sidebarTitleAppendIcon }}
</h2>