<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-md-offset-8 sidebar">
      <div class="sidebar-box form">
        {{> 00-atoms/02-text/00-heading-sidebar.mustache }}
        <p>Leggings ugh pickled messenger bag. Art party swag marfa next level mustache flexitarian. DIY polaroid trust fund cliche artisan.</p>
        {{> 02-organisms/01-forms/01-email-subscribe-form }}
      </div>
      <div class="sidebar-box form wide-buttons stacked-buttons">
        {{> 00-atoms/02-text/00-heading-sidebar-icon.mustache }}
        <p>Leggings ugh pickled messenger bag. Art party swag marfa next level mustache flexitarian. DIY polaroid trust fund cliche artisan.</p>
        {{> 00-atoms/05-buttons/00-button }}
        {{> 00-atoms/05-buttons/00-button }}
      </div>
    </div>
  </div>
</div>
