<div class="document-heading employes">
	<div class="row">
		<div class="col-md-12 col-lg-7 container-title">
			<h1 class="h3">Titre de la page qui peut être très long ou&nbsp;pas</h1>
			<div class="container-subtitle">
        		<p>Informations supplémentaires</p>
        		<span class="icon icon-dot-interpunct"></span>
        		<button class="btn btn-link btn-squared dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				Libellé
  				</button>
  				{{> components-dropdown}}
    		</div>
    	</div>
		<div class="col-md-12 col-lg-5 container-btn">
			<a class="btn btn-secondary btn-squared" href="#">Action secondaire</a>
			<a class="btn btn-primary btn-squared" href="#">Action principale</a>
		</div>
	</div>
</div>
