<!--
<header class="content-header {{ contentHeaderClasses }}">
  <div class="container">
    <div class="row">
      {{# has-breadcrumb}}
      <div class="col-12">
      {{> components-breadcrumbs}}
      </div>
      {{/ has-breadcrumb}}
      <div class="col-12">
        {{# contentHeaderSubtitle}}
        <div class="content-header-subtitle">{{ contentHeaderSubtitle }}</div>
        {{/ contentHeaderSubtitle}}
        <div class="content-header-title">
          <h1>{{ heading }}</h1>
        </div>
        {{# has-header-liner}}
        <div class="content-header-liner">
          <p class="lead">{{ liner-text }}</p>
        </div>
        {{/ has-header-liner }}
      </div>
      {{# has-publication-date }}
      <div class="col-12">
        <div class="content-header-metadata">
        {{> styles-date-time-text }}
        </div>
      </div>
      {{/ has-publication-date}}
      {{# has-informations}}
      <div class="col-12">
        <div class="content-header-metadata metadata-infos">
          {{# informations-state }}
          <span class="badge badge-pill {{ badgeClass }}">{{ badge }}</span>
          {{/ informations-state }}

          {{# informations-event}}
          <div class="infos-event {{ informations-state.stateClass }}">
            {{# date }}
            <span class="infos-date">
            {{# informations-state.state-cancel }}<s>
            {{/ informations-state.state-cancel }}
            {{ date }}
            {{# informations-state.state-cancel }}</s>
            {{/ informations-state.state-cancel }}
            </span>
            {{/ date}}
            {{# lieu }}
            <span class="infos-lieu">{{ lieu }}</span>
            {{/ lieu }}
          </div>
          {{/ informations-event}}

          {{# badges }}
          {{> styles-badge}}
          {{/ badges }}
        </div>
      </div>
      {{/ has-informations}}
    </div>
  </div>
</header>
-->

<div class="document-heading {{ documentHeadingWrapperClass }}">
  <div style="background-image:url('https://picsum.photos/id/1025/1920/1280?grayscale')" class="document-heading-background"></div>
  {{# documentHeadingNotch}}
  <div class="document-heading-wrapper container">
    <div class="row justify-content-center">
      <div class="document-heading-content col-12{{# has-left-notch}} col-lg-8{{/ has-left-notch}}{{^ has-left-notch}} col-lg-10{{/ has-left-notch}}"></div>
    </div>
  </div>
  {{/ documentHeadingNotch}}
</div>
