<div class="document-heading {{ documentHeadingWrapperClass }}">
  <div style="background-image:url('{{documentHeadingImageUrl}}')" class="document-heading-background"></div>
  {{# documentHeadingNotch}}
  <div class="document-heading-wrapper container">
    <div class="row justify-content-center">
      <div class="document-heading-content col-12{{# has-left-notch}} col-lg-8{{/ has-left-notch}}{{^ has-left-notch}} col-lg-10{{/ has-left-notch}}"></div>
    </div>
  </div>
  {{/ documentHeadingNotch}}
</div>
