<div class="document-heading {{ documentHeadingClass }}{{# documentHeadingFullWidth}} document-heading-fullwidth{{/ documentHeadingFullWidth}}{{^documentHeadingFullWidth}} document-heading-grid{{/ documentHeadingFullWidth}}">
  {{# documentHeadingImageUrl}}
  <div class="document-heading-image-container">
    <div style="background-image:url('{{documentHeadingImageUrl}}')" class="document-heading-background"></div>
    {{# media.copyright }}
    <div class="img-copyright">
      <span class="icon icon-copyright" aria-hidden="true"></span>
      <span class="copyright-text d-none">{{ media.copyright }}</span>
      <span class="sr-only">&copy; {{ media.copyright }}</span>
    </div>
    {{/ media.copyright }}
  </div>
  {{/ documentHeadingImageUrl}}
  
  {{# documentHeadingFullWidth}}<div class="container position-relative">{{/ documentHeadingFullWidth}}
    {{# documentHeadingFullWidth}}
    <div class="row document-heading-header">
      {{^ documentHeadingOverride}}
      <div class="col-12{{^ customHeadingGridClass}} col-lg-7{{/customHeadingGridClass}}{{# customHeadingGridClass}} col-md-6 col-lg-5{{/customHeadingGridClass}}">
        <div class="pb-2">
          {{# heading-surtitle}}
          <div class="document-heading-surtitle">{{heading-surtitle}}</div>
          {{/ heading-surtitle}}
          <h1 class="{{^headingClass}}h1{{/headingClass}}{{#headingClass}} {{headingClass}}{{/headingClass}}">{{{ heading }}}</h1>
          {{# heading-subtitle}}
          <div class="document-heading-subtitle">{{heading-subtitle}}</div>
          {{/ heading-subtitle}}
        </div>
        {{# has-brand-border}}
        <div class="brand-border-bottom"></div>
        {{/ has-brand-border}}
        {{# has-search-form}}
        <div class="form-group form-group-lg">
          <div class="input-group-icon input-group-icon-left">
            <input type="text" class="form-control input-rounded" id="input-group-search" placeholder="Rechercher ...">
            <span class="icon icon-search" aria-hidden="true"></span>
          </div>
        </div>
        {{/ has-search-form}}
        {{# has-quick-links}}
        <div class="quick-links">
          <span class="quick-links-label">Recherche rapide</span>
          <ul class="list-inline">
            {{# quickLinksItem }}
            <li class="list-inline-item"><a href="{{ url }}">{{ label }}</a></li>
            {{/ quickLinksItem }}
          </ul>
        </div>
        {{/ has-quick-links}}
      </div>
      {{/ documentHeadingOverride}}
      {{# documentHeadingOverride}}
        {{# mesures-urgence}}
        <div class="col-12 col-lg-8">
          <div class="d-flex justify-content-center mb-4">
            <span class="icon icon-sante-et-securite-publiques" aria-hidden="true"></span>
          </div>
          <div class="document-heading-surtitle">{{heading-surtitle}}</div>
          <h2 class="h3">{{{ heading }}}</h2>
          {{# heading-subtitle}}
          <div class="document-heading-subtitle">{{{heading-subtitle}}}</div>
          {{/ heading-subtitle}}
          {{# button-cta}}
          {{> components-button}}
          {{/ button-cta}}
        </div>
        {{/ mesures-urgence}}
      {{/ documentHeadingOverride}}
    </div>
    {{/ documentHeadingFullWidth}}
    {{# documentHeadingNotch}}
    <div class="document-heading-wrapper">
      <div class="document-heading-content-wrapper">
        <div class="document-heading-content col-12{{# has-left-notch}} col-lg-8{{/ has-left-notch}}{{^ has-left-notch}}{{^notch-full-width }} col-lg-10{{/notch-full-width}}{{/ has-left-notch}}"></div>
      </div>
    </div>
    {{/ documentHeadingNotch}}
  {{# documentHeadingFullWidth}}</div>{{/ documentHeadingFullWidth}}
</div>
