<div class="document-heading {{ documentHeadingClass }}{{^documentHeadingFullWidth}} document-heading-grid{{/ documentHeadingFullWidth}}">
  <div class="document-heading-image-container">
    <div style="background-image:url('{{documentHeadingImageUrl}}')" class="document-heading-background"></div>
    {{# media.copyright }}
    <div class="img-copyright">
      <span class="icon icon-copyright" aria-hidden="true"></span>
      <span class="copyright-text d-none">{{ media.copyright }}</span>
      <span class="sr-only">&copy; {{ media.copyright }}</span>
    </div>
    {{/ media.copyright }}
  </div>
  {{# documentHeadingNotch}}
  {{# documentHeadingFullWidth}}<div class="container position-relative">{{/ documentHeadingFullWidth}}
    {{# documentHeadingFullWidth}}
    <div class="row document-heading-header pt-8 pb-10 pt-lg-16 pb-lg-22">
      <div class="col-12 col-lg-6">
        <h1>{{ heading }}</h1>
        <div class="form-group form-group-lg">
          <div class="input-group-icon input-group-icon-left">
            <input type="text" class="form-control input-rounded" id="input-group-search" placeholder="Rechercher ...">
            <span class="icon icon-search" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
    {{/ documentHeadingFullWidth}}
    <div class="document-heading-wrapper">
      <div class="document-heading-content-wrapper">
        <div class="document-heading-content col-12{{# has-left-notch}} col-lg-8{{/ has-left-notch}}{{^ has-left-notch}}{{^notch-full-width }} col-lg-10{{/notch-full-width}}{{/ has-left-notch}}"></div>
      </div>
    </div>
  {{# documentHeadingFullWidth}}</div>{{/ documentHeadingFullWidth}}
  {{/ documentHeadingNotch}}
</div>
