
{{# header-in-container}}
<div class="container">
{{/ header-in-container}}
  <header class="content-header content-header-profile pb-8">
    <div class="row justify-content-between mb-0">
      <div class="col-12 col-lg-7">
        <h1 class="mb-2">{{heading}}</h1>
        {{# heading-subtitle}}
        <div class="font-size-lg text-dark mb-4">
          {{# items}}<div>{{content}}</div>{{/ items}}
        </div>
        {{/ heading-subtitle}}
        {{# extras}}
        {{> components-list-item}}
        {{/ extras}}
      </div>
      <div class="col-12 col-lg-auto mt-4 mt-lg-0">
        <div class="img-profile-container">
          {{# headingImg}}
          <img src="{{src}}" alt="{{alt}}" class="img-fluid rounded-circle">
          {{/ headingImg}}
        </div>
      </div>
    </div>
  </header>
{{# header-in-container}}
</div>
{{/ header-in-container}}
