<header class="wizard-header" role="banner">
  <div class="hdr-container">
    <span class="hdr-title">{{ wizard-form-name }}</span>
  </div>
  <div class="d-flex align-items-center pr-2">
    <button class="btn btn-link btn-squared btn-hide-label-sm btn-icon-right">
      <span class="btn-label">Quitter</span>
      <span class="icon icon-log-out" aria-hidden="false"></span>
    </button>
  </div>
</header>
