<!-- Button trigger modal -->
<div class="buttons-wrapper mb-4">
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalDefault">Small</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalMd">Medium</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalLarge">Large</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalBodyScrollable">.scrollable</button>
</div>

<!-- Default modal  -->
{{# modalLiveExample}}
  {{# default}}
    {{> components-modal}}
  {{/ default}}
{{/ modalLiveExample}}

<h4 class="pl-pattern-subtitle">Compacte mobile</h4>
<div class="buttons-wrapper">
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalCompactDefault">Small</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalCompactMd">Medium</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalCompactLarge">Large</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalCompactBodyScrollable">.scrollable</button>
</div>

<!-- Compact modal  -->
{{# modalLiveExample}}
  {{# compact}}
    {{> components-modal}}
  {{/ compact}}
{{/ modalLiveExample}}


