<!-- Modal -->
<div class="modal{{# modalClasses}} {{modalClasses}}{{/ modalClasses}}" id="{{modalID}}" tabindex="-1" role="dialog" aria-labelledby="{{modalHeaderID}}" aria-hidden="true">
  <div class="modal-dialog{{# modalDialogClasses}} {{modalDialogClasses}}{{/ modalDialogClasses}}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{modalHeaderID}}">{{modalHeaderTitle}}</h5>
        <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
          {{> styles-icon-item("icon-name": "icon-x")}}
        </button>
      </div>
      <div class="modal-body{{#modalBodyClass}} {{modalBodyClass}}{{/modalBodyClass}}">
        {{# modalHasIcon}}
        <div class="modal-icon">
          <span class="icon{{#iconClass}} {{iconClass}}{{/iconClass}}" aria-hidden="true"></span>
        </div>
        {{/ modalHasIcon}}
        {{{modalBody}}}
      </div>
      {{# modalFooter}}
      <div class="modal-footer">
        {{# buttons}}{{> components-button}}{{/buttons}}
      </div>
      {{/ modalFooter}}
    </div>
  </div>
</div>
