<div id="nav-filters" class="section-filters border-bottom py-2">
  {{#bsContainer}}
  <div class="container">
  {{/bsContainer}}
    <div class="d-none d-lg-block">
      <ul class="nav nav-filters">
        {{#filters}}
        <li class="nav-item {{ dropdownClass }}">
          {{> components-chip }}
        </li>
        {{/ filters }}
        {{# moreFilters }}
        <li class="nav-item nav-item-btn">
          {{> components-chip }}
        </li>
        {{/ moreFilters }}
      </ul>
    </div>
    <!-- Modal More Filters -->
    {{# moreFilters}}
    <div class="modal modal-filters" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="moreFiltersModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="moreFiltersModalLabel">Filtres</h5>
            <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
              {{> styles-icon-item("icon-name": "icon-x")}}
            </button>
          </div>
          <div class="modal-body">
            <form>
              {{# filters}}
              <div class="modal-filters-content">
                <div class="modal-filters-title">{{ title }}</div>
                <div class="form-group">
                  {{# radios}}
                  <div class="custom-control custom-radio {{ class }} ">
                    <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                    <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                  </div>
                  {{/ radios}}
                  {{# checkboxes}}
                  <div class="custom-control custom-checkbox {{ class }}">
                    <input type="checkbox" class="custom-control-input" id="{{ id }}" value="{{ id }}" {{ state }}>
                    <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                  </div>
                  {{/ checkboxes}}
                </div>
              </div>
              {{/filters}}
            </form>
          </div>
          <div class="modal-footer">
            <div class="ml-auto">
              <button type="button" class="btn btn-primary btn-sm">Appliquer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/ moreFilters}}
    <!-- END - Modal More Filters -->
    {{# mobileFilters }}
    <div class="d-lg-none">
      {{> components-chip }}
    </div>
    <!-- Modal Mobile Filters -->
    <div class="modal modal-filters fade" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="mobileFiltersModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mobileFiltersModalLabel">Filtres</h5>
            <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
              {{> styles-icon-item("icon-name": "icon-x")}}
            </button>
          </div>
          <div class="modal-body">
            <div id="accordion" class="accordeon-listed mb-2" role="tablist" aria-multiselectable="true">
              {{# filters }}
              <div class="collapsible-item">
                <div class="collapsible-header" role="tab" id="{{ heading-id }}">
                  <div class="collapsible-title">
                    <a data-toggle="collapse" href="#" data-target="#{{ block-id }}" aria-expanded="false" aria-controls="{{ block-id }}">
                      <span>{{ chipLabel }}</span>
                    </a>
                  </div>
                </div>
                <div id="{{ block-id }}" class="collapse" role="tabpanel" aria-labelledby="{{ heading-id }}">
                  {{# dropdownMenu}}
                  {{# dropdownSection}}
                  {{# dropdownFilters}}
                  <div class="collapsible-block">
                    <div class="form-group">
                      {{# radios}}
                      <div class="custom-control custom-radio {{ class }} ">
                        <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                        <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                      </div>
                      {{/ radios}}
                      {{# checkboxes}}
                      <div class="custom-control custom-checkbox {{ class }}">
                        <input type="checkbox" class="custom-control-input" id="{{ id }}" value="{{ id }}" {{ state }}>
                        <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                      </div>
                      {{/ checkboxes}}
                    </div>
                  </div>
                  {{/ dropdownFilters}}
                  {{/ dropdownSection}}
                 {{/ dropdownMenu}}
                </div>
              </div>
              {{/ filters }}
              {{# moreFilters.filters}}
              <div class="collapsible-item">
                <div class="collapsible-header" role="tab" id="{{ heading-id }}">
                  <div class="collapsible-title">
                    <a data-toggle="collapse" href="#" data-target="#{{ block-id }}" aria-expanded="false" aria-controls="{{ block-id }}">
                      <span>{{ title }}</span>
                    </a>
                  </div>
                </div>
                <div id="{{ block-id }}" class="collapse" role="tabpanel" aria-labelledby="{{ heading-id }}">
                  <div class="collapsible-block">
                    <div class="form-group">
                      {{# radios}}
                      <div class="custom-control custom-radio {{ class }} ">
                        <input type="radio" id="{{ idMobile }}" name="{{ name }}" class="custom-control-input" value="{{ idMobile }}" {{ state }}>
                        <label class="custom-control-label" for="{{ idMobile }}">{{{ label }}}</label>
                      </div>
                      {{/ radios}}
                      {{# checkboxes}}
                      <div class="custom-control custom-checkbox {{ class }}">
                        <input type="checkbox" class="custom-control-input" id="{{ idMobile }}" value="{{ idMobile }}" {{ state }}>
                        <label class="custom-control-label" for="{{ idMobile }}">{{{ label }}}</label>
                      </div>
                      {{/ checkboxes}}
                    </div>
                  </div>
                </div>
              </div>
              {{/ moreFilters.filters}}
            </div>

            {{# filtersApplied }}
            <div class="row mb-2">
              <div class="col-12 filters-applied px-4" aria-label="Filtres sélectionnés">
                <div class="badge-group">
                  {{# badges}}
                  {{> components-etiquette}}
                  {{/ badges}}
                </div>
              </div>
            </div>
            {{/ filtersApplied }}

          </div>
          <div class="modal-footer">
            <div class="ml-auto">
              <button type="button" class="btn btn-link btn-squared">Tout effacer</button>
            </div>
            <div>
              <button type="button" class="btn btn-primary btn-squared">Appliquer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Mobile Filters -->
    {{/ mobileFilters }}
   {{# bsContainer}}
  </div>
  {{/ bsContainer}}
</div>
