<button class="navbar-button navbar-button-lg menu-toggler slide-menu-control" type="button" aria-haspopup="true" aria-controls="navbarSideMenu" data-target="slide-menu-left" data-action="toggle">
  <span class="vdm vdm-106-menu-simple" aria-hidden="true"></span>
  <span class="button-label d-none d-md-flex">Menu</span>
</button>