<button class="navbar-button menu-toggler slide-menu-control" type="button" aria-haspopup="true" aria-controls="navbarSideMenu" data-target="slide-menu-left" data-action="toggle">
  <svg width="24" height="24" viewBox="0 0 24 24" class="mr-0 mr-md-2">
    <title>Menu</title>
    <path class="icon-dark" d="M3 13a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2H3zm.176-6C2.526 7 2 6.552 2 6s.527-1 1.176-1h17.648C21.474 5 22 5.448 22 6s-.527 1-1.176 1H3.176zM3 19a1 1 0 0 1 0-2h10a1 1 0 0 1 0 2H3zm14-2h4a1 1 0 0 1 0 2h-4a1 1 0 0 1 0-2z" fill="#ADB5BD" fill-rule="evenodd"/>
  </svg>
  <span class="button-label d-none d-md-flex">Menu</span>
</button>