<nav class="nav-tabs">
  <div class="container">
    <div class="row">
      <ul class="nav" role="tablist">
        {{# navTabs.navItem }}
        <li class="nav-item" role="presentation">
          <a href="{{ url }}" class="nav-link {{ class }}" role="tab" data-toggle="tab">{{ title }}</a>
        </li>
        {{/ navTabs.navItem }}
      </ul>
    </div>
  </div>
</nav>
