<nav class="nav-tabs {{navTabsClass}}">
  <div class="container">
    <ul class="nav" role="tablist">
      {{# navTabs.navItem }}
      <li class="nav-item {{liClass}}" role="presentation">
        <a href="{{ url }}" class="nav-link {{ class }}" role="tab" data-toggle="tab">{{ title }}</a>
      </li>
      {{/ navTabs.navItem }}
    </ul>
  </div>
</nav>
