{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  {{# featuredSection}}
    {{> molecules-card }}
  {{/ featuredSection}}

  <!-- Teaser -->
  {{# has-lead-text }}
  {{> molecules-lead }}
  {{/ has-lead-text }}

  <section class="page-section {{ regionMainClasses }}">
    {{# third-level-section }}
    <div class="container">
      <div class="row">
        {{# third-level-section.items.heading }}
        <div class="col-12">
          <h2 class="section-heading">{{items.heading}}</h2>
        </div>
        {{/ third-level-section.items.heading }}

        <div class="col-12 col-lg-7">
          <div class="hub-list-container">
            {{# third-level-section.items.subheading}}
            <h3>{{ items.subheading }}</h3>
            {{/ third-level-section.items.subheading}}
            <ul class="hub-list">
              {{# third-level-section.items.item}}
              <li class="hub-list-item">
                {{# link}}
                <a href="{{ url }}">{{ title }}</a>
                {{/ link}}
                {{# description}}
                  {{{ description}}}
                {{/ description}}
              </li>
              {{/ third-level-section.items.item}}
            </ul>
          </div>
        </div>
        {{# sidebarRight}}
        <aside class="col-12 {{ sidebarRightClass }} sidebar sidebar-right">
        </aside>
        {{/ sidebarRight}}
      </div>
    </div>
    {{/ third-level-section }}
  </section>
</main>

{{> organisms-footer-portal }}
