{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  {{# nouvellesListes }}
  <section class="page-section bg-gray-sky">
    <div class="container">
      {{# inputGroupSearch }}
      <div class="row">
        <div class="col-12 col-lg-6">
          {{> atoms-input-icon }}
        </div>
      </div>
      {{/ inputGroupSearch }}
      {{^ cards }}
      <div class="row">
        <div class="col-12">
          {{> molecules-empty-search-results }}
        </div>
      </div>
      {{/ cards }}

      {{# cards }}
      <div class="row">
        {{# cards.headings }}
        <div class="col-12">
          <h2 class="{{ cards.headings.class }}">{{ cards.headings.text }}</h2>
        </div>
        {{/ cards.headings }}

        <div class="cards {{ cards.classes }}">
          {{# cards.card-item }}
          <div class="{{ cards.bsgrid-classes }}">
            {{> molecules-card-item }}
          </div>
          {{/ cards.card-item }}
        </div>

        {{# hasPagination }}
        <div class="col-12">  
          {{> molecules-pagination("paginationClass": justify-content-center) }}
        </div>
        {{/ hasPagination }}

      </div>
      {{/ cards }}
    </div>
  </section>
  {{/ nouvellesListes }}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}

