{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  <section class="page-section bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{# cards.headings }}
          <h2 class="{{ cards.headings.class }}">{{ cards.headings.text }}</h2>
          {{/ cards.headings }}

          <!--{{> molecules-search-field+dropdown }}-->

          <div class="form-group">
            <div class="input-group-icon input-group-icon-left">
              {{> atoms-fonticon-item(icon-label: "002-recherche") }}
              <input type="text" class="form-control" id="text-icon-left" placeholder="Rechercher une information ou un service">
            </div>
          </div>

          {{# cards }}
          <div class="cards {{ cards.classes }}">
          {{# cards.card-item }}
            {{> molecules-card-item }}
          {{/ cards.card-item }}
          </div>
          {{/ cards }}
          
          {{# hasPagination }}
            {{> molecules-pagination("paginationClass": justify-content-center) }}
          {{/ hasPagination }}

        </div>
      </div>
    </div>
  </section>
</main>

{{> organisms-footer-portal }}

