<div class="row">
  {{# list-sizes}}
  <div class="col-12 col-lg-4 mb-4 mb-lg-0">
    <h4 class="pl-pattern-subtitle">{{ subtitle }}</h4>
    {{# list-item-size}}
    {{^listUL}}<div class="list{{#listClass}} {{listClass}}{{/listClass}}">{{/ listUL}}
    {{#listUL}}<ul class="list{{#listClass}} {{listClass}}{{/listClass}}">{{/ listUL}}
      {{# list }}
      {{> components-list-item-element}}
      {{/ list }}
    {{#listUL}}</ul>{{/ listUL}}{{^listUL}}</div>{{/ listUL}}
    {{/ list-item-size}}
  </div>
  {{/ list-sizes}}
</div>
