<div class="list list-icon">
	{{# list }}
  <div class="list-item-icon">
    {{# listItemAction}}
    <a class="list-item-icon-action" href="{{ url }}">
      <span class="icon {{listIconUtility}}" aria-hidden="true"></span>
      <div class="list-item-icon-label">{{text}}</div>
    </a>
    {{# listExtraContent}}
    <div class="list-item-icon-content ml-5">{{{listExtraContent}}}</div>
    {{/ listExtraContent}}
    {{/ listItemAction}}
    {{^ listItemAction}}
    <span class="icon {{listIconUtility}}" aria-hidden="true"></span>
    <div class="list-item-icon-content">
      {{# text }}
      <div class="list-item-icon-label">{{text}}</div>
      {{/ text }}
      {{# listExtraContent}}
      <div>{{{listExtraContent}}}</div>
      {{/ listExtraContent}}
    </div>
    {{/ listItemAction}}
  </div>
  {{/ list }}
</div>
