{{^ hasIcon}}
{{^ listUL}}<div class="list-item {{ listItemClass }}">{{/ listUL}}
{{# listUL}}<li class="list-item {{ listItemClass }}">{{/ listUL}}
  {{# listItemAction}}
  <div class="list-item-action">
    <a href="{{url}}"{{# actionClasses}} class="{{actionClasses}}"{{/ actionClasses}}>
      <span class="link-label">{{listItemLabel}}</span>
    </a>
  </div>
  {{# listItemContent}}
  <div class="list-item-content">{{# itemContent}}{{{itemContent}}}{{/ itemContent}}
    {{^ itemContent}}{{# extraContent}}
    <div{{#class}} class="{{class}}"{{/class}}>{{{content}}}</div>
    {{/ extraContent}}{{/ itemContent}}
    {{# extraContentAction}}
    <div class="list-item-action{{# classes}} {{classes}}{{/classes}}">
      <a href="{{url}}"{{# actionClasses}} class="{{actionClasses}}"{{/ actionClasses}}>
        <span class="link-label">{{ text }}</span>
      </a>
    </div>
    {{/ extraContentAction}}
    {{# extraContentDropdown}}
    <div class="dropdown mt-1">
      <a href="{{url}}" class="link-list-element link-has-icon dropdown-toggle" id="dropdownDateButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div><span class="link-label">{{ link-label }}</span></div></a>
      {{> components-dropdown}}
    </div>
    {{/ extraContentDropdown}}
  </div>
  {{/ listItemContent}}
  {{/ listItemAction}}
  {{^ listItemAction}}
  {{# listItemLabel }}
  <div class="list-item-label">{{listItemLabel}}</div>
  {{/ listItemLabel }}
  {{# listItemContent}}
  <div class="list-item-content">
    {{# itemContent}}{{{itemContent}}}{{/ itemContent}}
    {{^ itemContent}}{{# extraContent}}
    <div{{#class}} class="{{class}}"{{/class}}>{{{content}}}</div>
    {{/ extraContent}}{{/ itemContent}}
    {{# extraContentAction}}
    <div class="list-item-action{{# classes}} {{classes}}{{/classes}}">
      <a href="{{url}}"{{# actionClasses}} class="{{actionClasses}}"{{/ actionClasses}}>
        <span class="link-label">{{ text }}</span>
      </a>
    </div>
    {{/ extraContentAction}}
    {{# extraContentDropdown}}
    <div class="dropdown mt-1">
      <a href="{{url}}" class="link-list-element link-has-icon dropdown-toggle" id="dropdownDateButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div><span class="link-label">{{ link-label }}</span></div></a>
      {{> components-dropdown}}
    </div>
    {{/ extraContentDropdown}}
  </div>
  {{/ listItemContent}}
  {{/ listItemAction}}
{{# listUL}}</li>{{/ listUL}}
{{^ listUL}}</div>{{/ listUL}}
{{/ hasIcon}}
{{# hasIcon}}
{{^ listUL}}<div class="list-item-icon {{ listItemClass }}">{{/listUL}}
{{# listUL}}<li class="list-item-icon {{ listItemClass }}">{{/listUL}}
  {{# listItemAction}}
  <div class="list-item-icon-action">
    <a href="{{url}}" class="link-has-icon" {{# toggle}}data-toggle="{{ type }}" data-target="{{ id }}"{{/ toggle}}>
      <div><span class="icon {{icon-name}}"></span></div>
      <div><span class="link-icon-label">{{ listItemLabel }}</span></div>
    </a>
  </div>
  {{# listItemContent}}
  <div class="list-item-icon-content {{listExtraContentClass}}">
    {{# itemContent}}{{{itemContent}}}{{/ itemContent}}
    {{^ itemContent}}{{# extraContent}}
    <div{{#class}} class="{{class}}"{{/class}}>{{{content}}}</div>
    {{/ extraContent}}{{/ itemContent}}
    {{# extraContentAction}}
    <div class="list-item-action {{# classes}} {{classes}}{{/classes}}">
      <a href="{{url}}"{{# actionClasses}} class="{{actionClasses}}"{{/ actionClasses}}>
        <span class="link-label">{{ text }}</span>
      </a>
    </div>
    {{/ extraContentAction}}
    {{# extraContentDropdown}}
    <div class="dropdown mt-1">
      <a href="{{url}}" class="link-list-element link-has-icon dropdown-toggle" id="dropdownDateButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div><span class="link-label">{{ link-label }}</span></div></a>
      {{> components-dropdown}}
    </div>
    {{/ extraContentDropdown}}
  </div>
  {{/ listItemContent}}
  {{/ listItemAction}}
  {{^ listItemAction}}
  <span class="icon {{icon-name}}{{# icon-color}} {{icon-color}}{{/icon-color}}" aria-hidden="true"></span>
  <div class="list-item-icon-content">
    {{# listItemLabel }}
    <div class="list-item-icon-label">{{listItemLabel}}</div>
    {{/ listItemLabel}}
    {{# listItemContent}}
    {{#listExtraContentClass}}
    <div class="{{listExtraContentClass}}">
    {{/listExtraContentClass}}
      {{# itemContent}}{{{itemContent}}}{{/ itemContent}}
      {{^ itemContent}}{{# extraContent}}
      <div{{#class}} class="{{class}}"{{/class}}>{{{content}}}</div>
      {{/ extraContent}}{{/ itemContent}}
      {{# extraContentAction}}
      <div class="list-item-action {{# classes}} {{classes}}{{/classes}}">
        <a href="{{url}}"{{# actionClasses}} class="{{actionClasses}}"{{/ actionClasses}}>
          <span class="link-label">{{ text }}</span>
        </a>
      </div>
      {{/ extraContentAction}}
      {{# extraContentDropdown}}
      <div class="dropdown mt-1">
        <a href="{{url}}" class="link-list-element link-has-icon dropdown-toggle" id="dropdownDateButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div><span class="link-label">{{ link-label }}</span></div></a>
        {{> components-dropdown}}
      </div>
      {{/ extraContentDropdown}}
    {{#listExtraContentClass}}
    </div>
    {{/ listExtraContentClass}}
    {{/ listItemContent}}
    {{# extraContentSchedule}}
    {{> components-schedule}}
    {{/ extraContentSchedule}}
  </div>
  {{/ listItemAction}}
{{# listUL}}</li>{{/ listUL}}
{{^ listUL}}</div>{{/ listUL}}
{{/ hasIcon}}
