{{^ hasIcon}}
{{^ listUL}}<div class="list-item {{ listItemClass }}">{{/ listUL}}
{{# listUL}}<li class="list-item {{ listItemClass }}">{{/ listUL}}
  {{# listItemAction}}
  <div class="list-item-action">
    <a href="{{url}}">
      <span class="link-label">{{listItemLabel}}</span>
    </a>
  </div>
  {{# listExtraContent}}
  <div class="list-item-content">
    {{# extraContentBold }}
    <div class="font-weight-bold">{{{extraContentBold}}}</div>
    {{/ extraContentBold }}
    {{{extraContent}}}
  </div>
  {{/ listExtraContent}}
  {{/ listItemAction}}
  {{^ listItemAction}}
  <div class="list-item-content">
    {{# listItemLabel }}
    <div class="list-item-label">{{listItemLabel}}</div>
    {{/ listItemLabel }}
    {{# listExtraContent}}
    <div class="list-item-content">
      {{# extraContentAction}}
      <div class="list-item-action{{# classes}} {{classes}}{{/classes}}">
        <a href="{{url}}"{{# actionClasses}} class="{{actionClasses}}"{{/ actionClasses}}>
          <span class="link-label">{{ text }}</span>
        </a>
      </div>
      {{/ extraContentAction}}
      {{# extraContentBold }}
      <div class="font-weight-bold">{{{extraContentBold}}}</div>
      {{/ extraContentBold }}
      {{{extraContent}}}
    </div>
    {{/ listExtraContent}}
  </div>
  {{/ listItemAction}}
{{# listUL}}</li>{{/ listUL}}
{{^ listUL}}</div>{{/ listUL}}
{{/ hasIcon}}
{{# hasIcon}}
{{^ listUL}}<div class="list-item-icon {{ listItemClass }}">{{/listUL}}
{{# listUL}}<li class="list-item-icon {{ listItemClass }}">{{/listUL}}
  {{# listItemAction}}
  <div class="list-item-icon-action">
    <a href="{{url}}" class="link-has-icon" {{# toggle}}data-toggle="{{ type }}" data-target="{{ id }}"{{/ toggle}}>
      <div><span class="icon {{icon-name}}"></span></div>
      <div><span class="link-icon-label">{{ listItemLabel }}</span></div>
    </a>
  </div>
  {{# hasExtraContent}}
  <div class="list-item-icon-content ml-5 {{listExtraContentClass}}">
    {{# listExtraContent}}
    <div>
      {{# extraContentBold }}
      <div class="font-weight-bold">{{{extraContentBold}}}</div>
      {{/ extraContentBold }}
      {{{extraContent}}}
      {{# extraContentAction}}
      <div class="list-item-action {{# classes}} {{classes}}{{/classes}}">
        <a href="{{url}}"{{# actionClasses}} class="{{actionClasses}}"{{/ actionClasses}}>
          <span class="link-label">{{ text }}</span>
        </a>
      </div>
      {{/ extraContentAction}}
    </div>
    {{/ listExtraContent}}
  </div>
  {{/ hasExtraContent}}
  {{/ listItemAction}}
  {{^ listItemAction}}
  <span class="icon {{icon-name}}" aria-hidden="true"></span>
  <div class="list-item-icon-content">
    {{# listItemLabel }}
    <div class="list-item-icon-label">{{listItemLabel}}</div>
    {{/ listItemLabel}}
    {{# listExtraContent}}
    <div {{#listExtraContentClass}}class="{{listExtraContentClass}}"{{/listExtraContentClass}}>
      {{# extraContentAction}}
      <div class="list-item-action {{# classes}} {{classes}}{{/classes}}">
        <a href="{{url}}"{{# actionClasses}} class="{{actionClasses}}"{{/ actionClasses}}>
          <span class="link-label">{{ text }}</span>
        </a>
      </div>
      {{/ extraContentAction}}
      {{# extraContentBold }}
      <div class="font-weight-bold">{{{extraContentBold}}}</div>
      {{/ extraContentBold }}
      {{{extraContent}}}
    </div>
    {{/ listExtraContent}}
    {{# extraContentSchedule}}
    {{> components-schedule}}
    {{/ extraContentSchedule}}
  </div>
  {{/ listItemAction}}
{{# listUL}}</li>{{/ listUL}}
{{^ listUL}}</div>{{/ listUL}}
{{/ hasIcon}}