<div class="pl-badge pl-mb-0">
	{{# badges }}
	  {{> components-etiquette }}
	{{/ badges }}
</div>
<h4 class="pl-pattern-subtitle">Avec icône</h4>
<div class="pl-badge">
	{{# badges-icon }}
	  {{> components-etiquette }}
	{{/ badges-icon }}
</div>
