{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}
{{> organisms-nav-services }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="services-heading">
          <h2>Bonjour</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <aside class="col-12 col-md-4 sidebar sidebar-left {{ sidebar-classes }}" role="complementary">
        {{> organisms-sidebar-block }}
      </aside>
      <article class="col-12 col-md-8">
        <p class="lead">Pour compléter votre premiere déclaration, il suffit de remplir les informations suivantes.</p>

        {{> organisms-dashboard-nav-step }}

      </article>
    </div>
  </div>
</main>

{{> organisms-footer-portal }}
