<div class="d-flex justify-content-center mx-auto py-8">
  {{> components-spinner }}
</div>
<div class="bg-gray-900 d-flex justify-content-center mx-auto py-8">
  {{> components-spinner }}
</div>
<div class="py-4">
  {{> components-buttons-spinner}}
</div>
