{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{# has-breadcrumb}}
  <div class="container-fluid container-fluid-max-xl">
    <div class="row">
      <div class="col-12">
      {{> molecules-breadcrumbs}}
      </div>
    </div>
  </div>
  {{/ has-breadcrumb}}

  {{> organisms-content-header-jumbotron }}

  <div class="region-content {{ regionMainClasses }}">
    <div class="container">
      <div class="row">

        {{# sidebarRight }}
        <aside class="col-12 col-lg-5 col-xl-4 order-lg-last" role="complementary">
          {{> organisms-sidebar-block-schedule }}
        </aside>
        {{/ sidebarRight }}

        <article class="col-12 col-lg-7 col-xl-8">
          <div class="content-block">
            <p class="lead">{{ lead }}</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at convallis felis. Sed non purus ligula. Phasellus vulputate aliquam libero nec sollicitudin. 
            Integer vel egestas neque, eu faucibus tellus. Ut consequat tortor justo, blandit convallis ex malesuada vel. Ut dapibus enim pretium diam lacinia porttitor et a ante. 
            Maecenas a ligula at urna accumsan mollis. Quisque congue erat nec lacus dapibus, ut sodales mi finibus. Proin rhoncus nibh vel justo cursus pharetra.</p>
          </div>

          {{# commodites}}
          <div class="content-block">
            <h2 class="h5">Commodités</h2>
            {{# items}}
            <ul class="list-unstyled row">
              {{# item}}
              <li class="col-12 col-md-6">{{ text }}</li>
              {{/ item}}
            </ul>
            {{/ items}}
          </div>
          {{/ commodites}}

          {{# installations}}
          <div class="content-block">
            <h2 class="h5">Installations</h2>
            {{# items}}
            <div class="row">
              <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                <div class="content-block-icon h-100">
                  {{# item-heading}}
                  <span class="content-block-icon-label">{{ item-heading }}</span>
                  {{/ item-heading}}
                  <ul class="mb-0">
                    {{# item}}
                    <li>{{ text }}</li>
                    {{/ item}}
                  </ul>
                </div>
              </div>
            </div>
            {{/ items}}
          </div>
          {{/ installations}}

          {{# accessibilite}}
          <div class="content-block">
            <h2 class="h5">Accessibilité</h2>
            {{# items}}
            <ul class="list-unstyled row">
              {{# item}}
              <li class="col-12 col-md-6">{{ text }}</li>
              {{/ item}}
            </ul>
            {{/ items}}
          </div>
          {{/ accessibilite}}

          {{# mode-paiement}}
          <div class="content-block">
            <h2 class="h5">Mode de paiement</h2>
            {{# items}}
            <ul class="list-unstyled row">
              {{# item}}
              <li class="col-12 col-md-6">{{ text }}</li>
              {{/ item}}
            </ul>
            {{/ items}}
          </div>
          {{/ mode-paiement}}

          {{# tc-references}}
          <div class="content-block">
            <h2 class="h5">Sujets et démarches</h2>
            {{# items }}
            <div class="hub-list-container">
              <ul class="hub-list">
                {{# item }}
                <li class="hub-list-item">
                  {{# link}}
                  <a href="{{ url }}">{{ title }}</a>
                  {{/ link}}
                  {{# description}}
                    {{{ description}}}
                  {{/ description}}
                </li>
                {{/ item}}
              </ul>
            </div>
            {{/ items}}
          </div>
          {{/ tc-references}}

          {{# events}}
          <div class="content-block">
            <h2 class="h5">Événements à venir</h2>
            {{> molecules-list-group-hub }}
            {{# button}}
            <div class="pagination-wrapper pt-0">
              {{> atoms-button}}
            </div>
            {{/ button}}
          </div>
          {{/ events}}

          {{# has-tags}}
          <div class="content-block">
            <h2 class="h5">Thèmes associés</h2>
            <ul class="list-inline {{container-class}}">
              {{# tags}}
              <li class="list-inline-item">{{> atoms-badge}}</li>
              {{/ tags}}
            </ul>
          </div>
          {{/ has-tags}}
        
        </article>

      </div>
      {{# map }}
      <div class="row">
        <div class="col-12">
          <h2 class="h5">{{ section-title }}</h2>
          <div class="map-section">
            <div id="{{ mapID }}" style="height:500px"></div>
          </div>
        </div>
      </div>
      {{/ map }}
    </div>
  </div>

  {{# hasLieux}}
  {{> organisms-page-section-cards}}
  {{/ hasLieux}}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}

<script>

  var data = { 
    address : "{{{map.addressInfos.address}}}", 
    title : "{{{text-elements.headings.display.content}}}",
    uri: null
  }

  generateMap([{{{ map.lngLat }}}], data, {{ map.mapID }});
</script>

