
{{# url}}
<a href="{{ url }}" class="card {{ classes }}"{{# data-link-title}} data-link-title="{{data-link-title}}"{{/ data-link-title}}{{# data-link-position}} data-link-position="{{data-link-position}}"{{/ data-link-position}}>
{{/ url}}
{{^ url}}
<div class="card {{ classes }}">
{{/ url}}

  {{# card-media }}
    {{# card-media.icon }}
    <div class="card-icon-top">
      <span class="icon {{ card-media.icon }}" aria-hidden="true"></span>
    </div>
    {{/ card-media.icon }}
    {{# card-media.img }}
    <img class="card-img-top {{ card-media.img.classes }}" src="{{ card-media.img.src}}" alt="{{ card-media.img.alt }}">
    {{/ card-media.img }}
    {{# card-media.placeholder}}
    <div class="card-img-bg img-placeholder" style="background-image:url(https://res.cloudinary.com/villemontreal/image/upload/q_auto,f_auto,dpr_auto,w_768,c_fill/v1571398706/portail/background/texture-Small-highlight.png)">
      <span class="icon {{ card-media.placeholder.icon }}" aria-hidden="true"></span>
    </div>
    {{/ card-media.placeholder}}
  {{/ card-media }}

  <div class="card-body">

    {{# card-type }}
    <span class="card-type">{{ card-type }}</span>
    {{/ card-type}}

    {{# card-date }}
      <span class="card-type">
      {{# date-time}}
      {{{text}}} <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>
      {{/ date-time}}
      </span>
    {{/ card-date }}

    {{# card-title }}
    <span class="card-title">{{{ card-title }}}</span>
    {{/ card-title }}

    {{# card-subtitle }}
    <span class="card-text-interface font-weight-bold">{{ card-subtitle }}</span>
    {{/ card-subtitle}}

    {{# card-text }}
    <p class="card-text">{{{ card-text }}}</p>
    {{/ card-text }}

    {{# card-text-interface }}
    <div class="card-text-interface">
      {{^ date-time}}
      {{{ card-text-interface }}}
      {{/ date-time}}
      {{# date-time}}
      {{{text}}} <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>{{# line-break}}<br>{{/ line-break}}
      {{/ date-time}}
    </div>
    {{/ card-text-interface }}

    {{# card-cta }}
      {{> components-button}}
    {{/ card-cta }}

    {{# card-link }}
      <div class="card-link">{{ card-link }}</div>
    {{/ card-link }}

  </div>

{{# url }}
</a>
{{/ url }}
{{^url}}
</div>
{{/ url}}
