<div class="content-modules border-bottom border-neutral-stroke pb-4 mb-8" id="{{ voletID }}">
  {{# module-state }}
  <div class="mb-2">
    {{> components-badge }}
  </div>
  {{/ module-state }}

  {{# module-text}}
  <div class="content-module-stacked">
    <h2>{{ voletTitle }}</h2>
    <p>Corps de texte - <i>Italique</i> et <strong>gras</strong>, exposant, indice et caractères spéciaux adipiscing elit. Morbi condimentum sollicitudin erat, quis <a href="#">lien interne</a> ou <a href="https://google.com">lien externe</a> convallis risus. Nullam  posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
    <ul>
      <li>Liste à puce</li>
      <li>Liste à puce</li>
      <li>Liste à puce</li>
      <li>Liste à puce</li>
    </ul>
    <ol>
      <li>Liste numérotée</li>
      <li>Liste numérotée</li>
      <li>Liste numérotée</li>
    </ol>
  </div>
  {{/ module-text}}

  {{# module-emphasis }}
  <div class="content-module-stacked">
    {{> styles-blockquote }}
  </div>
  {{/ module-emphasis}}

  {{# module-message }}
  <div class="content-module-stacked">
    {{> components-alert}}
  </div>
  {{/ module-message }}

  {{# module-list-reference}}
  <div class="content-module-stacked">
    {{> components-list-item-links-icons-categories}}
  </div>
  {{/ module-list-reference}}

  {{# module-table}}
  <h3>Titre tableau - module Titre</h3>
  <div class="content-module-stacked">
    <p>Courte description optionnelle - module corps de texte</p>
    {{> styles-table }}
  </div>
  {{/ module-table}}

  {{# module-collapse}}
  <h3>Contenus imbriqués Accordéons - module titre</h3>
  <div class="content-module-stacked">
    <div id="accordion" class="wrapper-accordion" role="tablist" aria-multiselectable="true">
      {{> components-collapsible-item }}
    </div>
  </div>
  {{/ module-collapse}}

  {{# module-comparatif-colonne}}
  <h3>Comparatif Colonnes - module titre</h3>
  <div class="content-module-stacked">
    {{> patterns-content-comparatif }}
  </div>
  {{/ module-comparatif-colonne}}

  {{# module-comparatif-rangee}}
  <h3>Comparatif Rangées - module titre</h3>
  <div class="content-module-stacked">
    {{> patterns-content-comparatif }}
  </div>
  {{/ module-comparatif-rangee}}

  {{# module-documents}}
  <h3>Documents à télécharger</h3>
  <div class="content-module-stacked">
    {{> components-list-item-link}}
  </div>
  {{/ module-documents }}

  {{# module-card-cta}}
  <div class="content-module-stacked">
    <div class="row cards">
      {{# cards.card-item }}
      <div class="{{ cards.bsgrid-classes }}">
        {{> components-card-item-full-width }}
      </div>
      {{/ cards.card-item }}
    </div>
  </div>
  {{/ module-card-cta}}

  {{# module-cta }}
  <div class="content-module-stacked">
    {{> components-button}}
  </div>
  {{/ module-cta}}

</div>
