<div class="sidebar pt-8">
  {{# sb-block-nous-joindre}}
  <section class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Nous joindre")}}
    {{> components-list-item}}
  </section>
  {{/ sb-block-nous-joindre}}
  {{# sb-block-nous-suivre}}
  <section class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Nous suivre") }}
    {{> components-list-item-link}}
  </section>
  {{/ sb-block-nous-suivre}}
</div>
