
<div class="mt-2 mb-n2">
  {{# schedule}}
  <div class="row mb-2">
    {{# day}}
    <div class="col-12 col-sm-3 col-md-2 col-lg-4">
      <span class="schedule-day">{{day}}</span>
    </div>
    {{/ day}}
    {{# scheduleData}}
    <div class="col-auto">
      {{# time}}
      <div class="schedule-data">
        <span>{{startTime}}</span> à <span>{{endTime}}</span>
      </div>
      {{/ time}}
      {{^ time}}
      <div class="schedule-data">{{customLabel}}</div>
      {{/ time}}
    </div>
    {{/ scheduleData}}
  </div>
  {{/ schedule}}
</div>