<nav class="navbar navbar-services" aria-label="Service navigation" role="navigation">
  <div class="container-fluid">
    {{# hasServiceLink}}
    <div class="navbar-header navbar-header-service-link">
      {{# serviceIcon}}
      <span class="navbar-icon vdm {{ serviceIcon }}" aria-hidden="true"></span>
      {{/ serviceIcon}}
      <div class="d-flex flex-column">
        <span class="navbar-link"><a href="#">{{ enterpriseName }}</a></span>
        {{# serviceNav}}
        <ul>
          {{# serviceNav.items}}
          <li>
            {{# url}}
            <a href="{{ url }}">{{ label }}</a>
            {{/ url}}
            {{^url}}
            {{ label }}
            {{/ url}}
          </li>
          {{/ serviceNav.items}}
        </ul>
        {{/ serviceNav}}
      </div>
    </div>
    {{/ hasServiceLink}}
    {{^ hasServiceLink}}
    <div class="navbar-header">
      {{> atoms-fonticon-item(icon-label: "103-311-mobile", icon-class: "navbar-icon") }}
      <span class="navbar-brand">{{ serviceName }}</span>
    </div>
    {{/ hasServiceLink}}
    
    <ul class="nav">
      <li class="nav-item">{{> atoms-button("buttonClass": "btn-secondary btn-sm", "buttonText": "Enregistrer")}}</li>
      <li class="nav-item">{{> atoms-button("buttonClass": "btn-secondary btn-sm", "buttonText": "Quitter")}}</li>
    </ul>
  </div>
</nav>
