{{> styles-link-skip-to-main-content }}

<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{# messageBar}}
  {{> components-message-bar}}
  {{/ messageBar}}

  {{> patterns-content-header}}

  <div class="container">
    <div class="mb-4 mb-lg-8 border-bottom border-neutral-stroke">
      <div class="row mb-2 mb-lg-6 px-2 px-lg-0">
        <div class="col-12 col-lg-6 pl-lg-8 pl-xl-14">
          <h2 class="mb-2">Liens rapides</h2>
          <p class="mb-2">Takimata tempor ea no rebum stet et erat, ipsum amet kasd stet no, gubergren eirmod consetetur sea vero.</p>
        </div>
        <div class="col-12 col-lg-6 pr-lg-8 pr-xl-14">
          <ul class="list-inline mb-1">
            {{# liensRapides}}
            <li class="list-inline-item mb-1">
              <a href="{{ url }}" class="btn btn-sm{{^btnPrimary}} btn-secondary{{/ btnPrimary}}{{#btnPrimary}} btn-primary{{/ btnPrimary}}">{{ label }}</a>
            </li>
            {{/ liensRapides}}
        </div>
      </div>
    </div>
  </div>

  {{# categoriesAll}}
  <div class="container">
    <div class="mb-4 mb-lg-12">
      <div class="column-count-md-2 column-count-lg-3">
        {{# category }}
        <div class="d-flex">
          <span class="mr-2 icon {{icon-name}}" aria-hidden="true"></span>
          <div class="flex-grow-1 mt-1">
            <h2 class="h4">{{ categoryName}}</h2>
            <ul class="list-unstyled mb-4">
              {{# link-items}}
              <li>
                <a href="{{url}}" class="link-list-element link-sm">
                  <span class="link-label">{{ label }}</span>
                </a>
              </li>
              {{/ link-items}}
            </ul>
          </div>
        </div>
        {{/ category}}
      </div>
    </div>
  </div>
  {{/ categoriesAll}}

  <div class="pb-4 pb-lg-8">
    <div class="container">
      {{# events }}
      <div class="pb-lg-4">
        <h2>Événements</h2>
        {{# cards }}
        <div class="row cards">
        {{# card-item }}
          <div class="{{ cards.bsgrid-classes }}">
            {{> components-card-item }}
          </div>
        {{/ card-item }}
        </div>
        <div class="d-flex justify-content-center mt-0 mb-4 my-lg-4">
        {{> components-button}}
        </div>
        {{/ cards}}
        {{^ cards}}
        <div class="row">
          <div class="col-12 col-lg-9 col-xl-7 font-size-lg text-dark">
            <p class="mb-4">ll n'y a pas d'événements à venir prochainement. Consulter cette section plus tard pour rester à l'affût des prochains événements.</p>
          </div>
        </div>
        {{/ cards}}
      </div>
      {{/ events }}
      {{# news }}
      <div class="border-top pt-4 pt-lg-8 pb-lg-4">
        <h2>Nouvelles</h2>
        {{# cards }}
        <div class="row cards">
        {{# card-item }}
          <div class="{{ cards.bsgrid-classes }}">
            {{> components-card-item }}
          </div>
        {{/ card-item }}
        </div>
        <div class="d-flex justify-content-center mt-0 mb-4 my-lg-4">
        {{> components-button}}
        </div>
        {{/ cards}}
        {{^ cards}}
        <div class="row">
          <div class="col-12 col-lg-9 col-xl-7 font-size-lg text-dark">
            <p class="mb-4">ll n'y a pas nouvelles pour le moment. Consulter cette section plus tard pour rester à l'affût.</p>
          </div>
        </div>
        {{/ cards}}
      </div>
      {{/ news }}
    </div>
  </div>

  <div class="border-top pt-8 pb-4 pt-lg-16 pb-lg-8" id="elusSection">
    <div class="container">
      {{# mairie}}
      <div class="pb-lg-4">
        <div class="row cards">
        {{# cards.card-item }}
          <div class="{{ cards.bsgrid-classes }}">
            {{> components-card-item-featured }}
          </div>
        {{/ cards.card-item }}
        </div>
      </div>
      {{/ mairie }}
      {{# comite-conseils}}
      <div class="pb-lg-4">
        <h2>Prochaines séances</h2>
        <div class="row cards">
        {{# cards.card-item }}
          <div class="{{ cards.bsgrid-classes }}">
            {{> components-card-item }}
          </div>
        {{/ cards.card-item }}
        </div>
        <div class="d-flex justify-content-center mt-0 mb-4 my-lg-4">
        {{> components-button}}
        </div>
      </div>
      {{/ comite-conseils }}
    </div>
  </div>

  {{# homePromo}}
  <div class="border-top pt-8 pb-4 pt-lg-16 pb-lg-8">
    <div class="container">
      <h2>Des services simples et pratiques</h2>
      <div class="alternate-order-lg">
      {{# promoContent}}
      <div class="row alternate-order-content mb-4 mb-lg-8">  
        <div class="col-12 col-lg-6 alternate-order-element my-auto">
          <img class="img-fluid mb-4 mb-lg-0" alt="{{img.alt}}" src="{{ img.src }}" />
        </div>
        <div class="col-12 col-lg-6 my-auto">
          <h3>{{ title }}</h3>
          <div class="formatted-text-container">
            {{{formattedText}}}
          </div>
          {{# link}}
          {{> styles-link-list-element}}
          {{/ link}}
        </div>
      </div>
      {{/ promoContent}}
    </div>
  </div>
  {{/ homePromo}}

</main>

{{> patterns-footer-main }}

