<div class="alert {{ alertClass }}" role="alert">
	{{# alertTitle }}
	{{ alertTitle }}
	{{/ alertTitle }}
	{{{ alertText }}}
	{{# dismissableAlert }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	{{/ dismissableAlert }}
</div>
