<div class="alert {{ alertClass }}" role="alert">
	{{# alertTitle }}
	{{ alertTitle }}
	{{/ alertTitle }}
  {{# alertIcon }}
  <span class="vfi vfi-{{ alertIcon }}" aria-hidden="true"></span>
  {{/ alertIcon }}
  {{# alertIcon }}
  <div class="">
  {{/ alertIcon }}
	{{{ alertText }}}
  {{# alertIcon }}
  </div>
  {{/ alertIcon }}
	{{# dismissableAlert }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	{{/ dismissableAlert }}
</div>
