<div class="popover-wrapper {{ popoverClass }}">
  <span class="vfi vfi-question vfi-3x" aria-hidden="true" data-toggle="popover" title="Lorem ipsum" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur."></span>
  <span class="sr-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur.</span>
</div>
