<div class="header-banner">
    <div class="banner-container">
        <span class="banner-description">Version bêta du site de la Ville de Montréal</span>
        <a class="banner-link" href="#" target="_blank" aria-label="En savoir plus">En savoir +</a>
    </div>
    <a class="back-link" href="#" target="_blank" aria-label="Quitter la version bêta du site Lien externe">Quitter la version bêta du site</a>
</div>