<div class="pl-badge pl-mb-0">
	{{# badges-light }}
	  {{> components-etiquette }}
	{{/ badges-light }}
</div>
<h4 class="pl-pattern-subtitle">Avec icône</h4>
<div class="pl-badge">
	{{# badges-light-icon }}
	  {{> components-etiquette }}
	{{/ badges-light-icon }}
</div>
