<div class="pl-badge pl-mb-0">
	{{# badges-strong }}
	  {{> components-etiquette }}
	{{/ badges-strong }}
</div>
<h4 class="pl-pattern-subtitle">Avec icône</h4>
<div class="pl-badge">
	{{# badges-strong-icon }}
	  {{> components-etiquette }}
	{{/ badges-strong-icon }}
</div>
