<div class="header-container region {{ headerContainerClasses }}">
    <div class="content-wrapper">
        <div class="content">
            {{# hasimage}}
                {{> molecules-header-image-portal }}
            {{/ hasimage }}
        </div>
    </div>
</div>