<div class="region region-content-header {{ headerContainerClasses }}">
    <div class="region-container">
        <div class="region-row">
            <div class="media">
                {{# hasimage}}
                    {{> molecules-header-image-portal }}
                {{/ hasimage }}
            </div>
            <div class="text">
                {{> molecules-teaser-text }}
            </div>
        </div>
    </div>
</div>

<!-- Markup Before regions refactoring -->
<!--

<div class="header-container region {{ headerContainerClasses }}">
    <div class="content-wrapper">
        <div class="media">
            {{# hasimage}}
                {{> molecules-header-image-portal }}
            {{/ hasimage }}
        </div>
        <div class="text">
            {{> molecules-teaser-text }}
        </div>
    </div>
</div>

-->