<div class="header-container region {{ headerContainerClasses }}">
    <div class="content-wrapper">
        <div class="media">
            {{# hasimage}}
                {{> molecules-header-image-portal }}
            {{/ hasimage }}
        </div>
        <div class="text">
            {{> molecules-teaser-text }}
        </div>
    </div>
</div>