<div class="main-container region {{ mainContainerClasses }}">
    <div class="content-wrapper">
        {{# fullTop }}
            {{> organisms-section-top-portal }}
        {{/ fullTop }}
        {{# colLeft }}
            {{> organisms-sidebar-left }}
        {{/ colLeft }}
        <article class="main-content">
            {{> atoms-paragraph }}
            {{> atoms-paragraph }}
            {{> atoms-paragraph }}
        </article>
        {{# colRight }}
            {{> organisms-sidebar-right }}
        {{/ colRight }}
        {{# fullBottom }}
            {{> organisms-section-bottom-portal }}
        {{/ fullBottom }}
    </div>
</div>
