<div class="main-container region {{ mainContainerClasses }}">
    <div class="content-wrapper">
        {{# fullTop }}
            {{> organisms-section-top-portal }}
        {{/ fullTop }}
        {{# 2colsleft }}
            {{> organisms-sidebar-left }}
        {{/ 2colsleft }}
        <article class="content">
            {{> atoms-paragraph }}
            {{> atoms-paragraph }}
            {{> atoms-paragraph }}
        </article>
        {{# 2colsright }}
            {{> organisms-sidebar-right }}
        {{/ 2colsright }}
        {{# fullBottom }}
            {{> organisms-section-bottom-portal }}
        {{/ fullBottom }}
    </div>
</div>
