<div class="main-container region {{ mainContainerClasses }}">
    <div class="content-wrapper">
        {{# 2colsleft}}
        <div class="sidebar sidebar-left">
            <div class="">Block 1</div>
            <div class="">Block 2</div>
            <div class="">Block 3</div>
        </div>
        {{/ 2colsleft }}
        <div class="content">
            <h1>Page Title</h1>
            {{> atoms-paragraph }}
            {{> atoms-paragraph }}
            {{> atoms-paragraph }}
        </div>
        {{# 2colsright }}
        <div class="sidebar sidebar-right">
            <div class="">Block 1</div>
            <div class="">Block 2</div>
            <div class="">Block 3</div>
        </div>
        {{/ 2colsright }}
    </div>
</div>
