<div class="full-width-container region {{ fullWidthContainerClasses }}">
    <div class="content-wrapper">
        <div class="content">
        Quinoa succulents gastropub butcher YOLO tilde dreamcatcher aesthetic. You probably haven't heard of them hot chicken fam, banh mi flexitarian pitchfork sartorial deep v lyft. Pok pok af vape PBR&B flexitarian. Heirloom godard health goth you probably haven't heard of them, scenester shoreditch sustainable. Hell of pok pok pop-up, hoodie bicycle rights intelligentsia af pug pickled enamel pin asymmetrical. Aesthetic asymmetrical prism ramps yuccie chicharrones.
        </div>
    </div>
</div>