<div class="region region-content-header {{ headerContainerClasses }}">
    <div class="region-container">
        <div class="region-row">
            <div class="region-content">
                {{> atoms-heading-1 }}
                {{> atoms-teaser }}
            </div>
        </div>
    </div>
</div>