<div class="region region-before {{ regionAfterClasses }}">
    <div class="region-container">
        <div class="region-row">
            <div class="region-content">
                Region after content
            </div>
        </div>
    </div>
</div>