<div class="region main-region {{ regionMainClasses }}">
    <div class="region-container {{ regionMainContainerClasses }}">
        <div class="region-row">
            {{# fullTopSection }}
                {{> organisms-section-top-portal }}
            {{/ fullTopSection }}
            {{# colLeft }}
                {{> organisms-sidebar-left }}
            {{/ colLeft }}
            <article class="main-content {{ regionMainContentClasses }}">
                {{> atoms-paragraph }}
                {{> atoms-paragraph }}
                {{> atoms-paragraph }}
            </article>
            {{# colRight }}
                {{> organisms-sidebar-right }}
            {{/ colRight }}
            {{# fullBottomSection }}
                {{> organisms-section-bottom-portal }}
            {{/ fullBottomSection }}
        </div>
    </div>
</div>
