<div class="region region-content-header {{ headerContainerClasses }}">
    <div class="region-container">
        <div class="region-row">
            <div class="media">
                {{# hasimage }}
                    {{> molecules-header-image-portal }}
                {{/ hasimage }}
            </div>
            <div class="text">
                {{> molecules-teaser-text }}
            </div>
        </div>
    </div>
</div>