<div class="region region-before {{ regionPrefooterClasses }}">
    <div class="region-container">
        <div class="region-row">
            <div class="region-content">
                {{# regionsDemoContent }}
                    Region pre-footer content
                {{/ regionsDemoContent }}
            </div>
        </div>
    </div>
</div>