<div class="region region-content-header {{ headerContainerClasses }}">
    <div class="region-container">
        <div class="region-row">
            <div class="region-content">
                {{> atoms-heading-1 }}

                {{# has-subtitle }}
                    {{> atoms-heading-2 }}
                {{/ has-subtitle }}

                {{# has-lead-text }}
                    {{> atoms-lead }}
                {{/ has-lead-text }}
                
                {{# has-nav-tabs }}
                    {{> molecules-nav-tab }}
                {{/ has-nav-tabs}}
            </div>
        </div>
    </div>
</div>