<div class="region content-header {{ headerContainerClasses }}">
  <div class="container">
    <div class="row">
      {{# hasimage }}
      <div class="media">
        {{> molecules-header-image-portal }}
      </div>
      {{/ hasimage }}
      <div class="col">
        {{> atoms-heading-1 }} 
        {{# has-subtitle }} 
          {{> atoms-heading-2 }} 
        {{/ has-subtitle }}
        {{# has-lead-text }}
          {{> atoms-lead }}
        {{/ has-lead-text }}
        {{# has-nav-tabs }}
          {{> molecules-nav-tab }}
        {{/ has-nav-tabs}}
      </div>
    </div>
  </div>
</div>
