<div class="region region-before {{ regionBeforeClasses }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{# regionsDemoContent }}
          Region before content
        {{/ regionsDemoContent }}

        <!-- Begin collector page variants -->

        {{# collectorServicesContent }}
          {{> organisms-service-cards }}
        {{/ collectorServicesContent }}

        {{# collectorTransactionsContent }}
          {{> organisms-transaction-cards-thumbs }}
        {{/ collectorTransactionsContent }}

        <!-- End collector page variants -->

      </div>
    </div>
  </div>
</div>
