{{> styles-link-skip-to-main-content }}

{{> components-navbar-interne }}

{{# menuItemVerticalIconBar}}
{{> components-nav-complex-menu-item}}
{{/ menuItemVerticalIconBar}}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <div class="page-wrap-iframe">
    <iframe id="item-frame" class="is-full-frame" allowfullscreen="" sandbox="allow-forms allow-popups allow-same-origin allow-scripts" src="{{link.templates-citoyens-demarche}}">
    </iframe>
  </div>
  <div class="page-drawers">
    {{# menuItemInfo}}
    <div class="menu-item-content" id="vdl311-info">
      <div class="menu-item-content-header">
        <div class="mb-2">
          <div class="h4 mb-1">Nom de l'arrondissement</div>
          <div class="d-flex">
            {{# badgesCategories}}
            {{> components-badge}}
            {{/ badgesCategories}}
          </div>
        </div>
        <div class="font-size-xs-interface">Mis à jour 2019-09-04</div>
      </div>
      {{# accordionListed}}
      {{> components-accordeon}}
      {{/ accordionListed}}

      {{# help}}
      <div class="pl-2 pr-7 mb-2">
        {{> components-list-item}}
      </div>
      {{/ help}}
    </div>
    {{/ menuItemInfo}}
    {{# menuItemSignaler}}
    <div class="menu-item-content" id="vdl311-signaler">
      <div class="menu-item-content-header">
        <div class="h4 mb-0">Signaler...</div>
      </div>
      <div class="p-2">
        <form id="form-vdl311-signaler">
        {{# formGroupSelectProblem}}
        {{> components-select-item}}
        {{/ formGroupSelectProblem}}
        {{> components-textarea("formGroupInputID": "form-group-signaler-description","formGroupInputLabel": "Description", "formGroupInputPlaceholder": true, "formGroupInputPlaceholder.text": "Placeholder", "formGroupInputRequired": true)}}
        {{> components-textarea("formGroupInputID": "form-group-signaler-recommendation","formGroupInputLabel": "Recommandation", "formGroupInputPlaceholder": true, "formGroupInputPlaceholder.text": "Placeholder", "formGroupInputRequired": false)}}
        {{> components-button(buttonType: "submit", buttonClass: "btn-primary btn-squared", buttonText: "Soumettre")}}
        </form>
      </div>
    </div>
    {{/ menuItemSignaler}}
    {{# menuItemPartager}}
    <div class="menu-item-content" id="vdl-311-partager">
      <div class="menu-item-content-header">
        <div class="h4 mb-0">Partager...</div>
      </div>
      <div class="p-2">
        <form id="form-vdl311-partager">
          <div class="mb-2">http://montreal.ca/collectes/collecte-des-dechets-domestiques</div>
          {{> components-input-text("formGroupInputID": "form-group-partager-email","formGroupInputLabel": "Adresse courriel du destinataire", "formGroupInputRequired": true)}}
          {{> components-textarea("formGroupInputID": "form-group-partager-comment","formGroupInputLabel": "Commentaires", "formGroupInputRequired": false)}}
          {{> components-button(buttonType: "submit", buttonClass: "btn-primary btn-squared", buttonText: "Envoyer")}}
        </form>
      </div>
    </div>
    {{/ menuItemPartager}}
  </div>
</main>


