{{> styles-skip-link }}

{{> components-navbar-interne }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <div class="row no-gutters h-100">
    <div class="col border-ltr-4">
      <iframe id="item-frame" class="is-full-frame" allowfullscreen="" sandbox="allow-forms allow-popups allow-same-origin allow-scripts" src="{{link.templates-citoyens-demarche}}"></iframe>
    </div>
    <div class="col-auto">

      {{> templates-employes-page-drawer}}

      {{# menuItemVerticalLabeledBar}}
      {{> components-nav-complex-menu-item}}
      {{/ menuItemVerticalLabeledBar}}
    </div>
  </div>
  <!-- TableData modal -->
  <div class="modal fade" id="exampleTableData" tabindex="-1" role="dialog" aria-labelledby="exampleTableDataLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleTableDataLabel">Seuil de faible revenu</h5>
          <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
            {{> styles-icon-item("icon-name": "icon-x")}}
          </button>
        </div>
        <div class="modal-body">
          {{> styles-table}}
        </div>
      </div>
    </div>
  </div>

  <!-- Flyout Aide décision -->
  {{# aideDecision }}
  {{> components-flyout-item }}
  {{/ aideDecision }}
</main>