<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    <ul>
      <li>
        <a href="https://montreal.ca">Heirloom jean shorts locavore pug shoreditch (03-4567)</a>
      </li>
      <li>
        <a href="https://montreal.ca">Kitsch shabby chic +1, master cleanse iceland shoreditch retro normcore four dollar (03-32)</a>
      </li>
      <li>
        <a href="https://montreal.ca">Brooklyn blue bottle gastropub (03-765)</a>
      </li>
      <li>
        <a href="https://ville.montreal.qc.ca">Goth lo-fi chartreuse art party post-ironic fixie banh mi kale chips bitters. (03-467)</a>
      </li>
      <li>
        <a href="https://montreal.ca">Migas air plant drinking vinegar twee leggings blue bottle pop-up heirloom jean shorts locavore pug shoreditch lumbersexual
          tousled. (03-567)</a>
      </li>
    </ul>
  </section>
</div>