<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> patterns-heading-sidebar }}
    <div class="subsection">
      <h3 class="subtitle">Ville de Montréal</h3>
      <p>IPhone messenger bag gastropub, health goth lo-fi chartreuse art party post-ironic fixie banh mi kale chips bitters.</p>
      <ul class="list-icon">
        <li class="list-icon-item">
          {{> styles-fonticon-item(icon-label: "012-telephone") }}
          <span>514 222-3456</span>
        </li>
      </ul>
    </div>
    <div class="subsection">
      <h3 class="subtitle">Société d'habitation du Québec</h3>
      <p>Taxidermy flannel hammock, schlitz cloud bread direct trade tote bag skateboard readymade vexillologist meditation
        sartorial.
      </p>
      <ul class="list-icon">
        <li class="list-icon-item">
          {{> styles-fonticon-item(icon-label: "012-telephone") }}
          <span>1 800 111-34567</span>
        </li>
        <li class="list-icon-item">
          {{> styles-fonticon-item(icon-label: "028-enveloppe") }}
          <a href="mailto:infoshq@shq.gouv.qc.ca">infoshq@shq.gouv.qc.ca</a>
        </li>
      </ul>
    </div>
    <div class="subsection">
      <h3 class="subtitle">Autres ressources</h3>
      <p>Paleo ugh blog truffaut kinfolk XOXO tousled cliche chia four dollar toast shoreditch deep v pok pok viral.</p>
    </div>
  </section>
</div>