<div class="sidebar {{ sidebarClasses }}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    {{# evenement-list-infos }}
    {{> styles-text-icons-list }}
    {{> styles-social-media-icons-list}}
    {{/ evenement-list-infos }}
  </section>
</div>