<div class="sidebar {{ sidebarClasses }}">
  <section class="sb-block {{ sb-classes }}">
    {{> patterns-heading-sidebar }}
    {{# evenement-list-infos }}
    {{> components-text-icons-list }}
    {{> components-social-media-icons-list}}
    {{/ evenement-list-infos }}
  </section>
</div>