<div class="sidebar sidebar-border">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar(sidebar-title-classes: "icon left", sidebarTitlePrependIcon: true) }}
    <p>Vous devez remplir cette section même si vous n’utilisez, n’entreposez ou ne produisez pas de matières dangereuses visées.</p>
    <p>Avant de vous présenter au bureau de permis de la ville (pour obtenir un permis de construction ou de transformation, un certificat d’autorisation d’usage ou un certificat d’occupation) veuillez obtenir en remplissant la section déclaration une lettre de non assujettissement au règlement XXXXXX.</p>
  </section>
</div>