<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer-sub">
      <div class="row">
        <div class="col-12 col-lg order-lg-2 col-footer-sub col-lg-text-center">
          {{> atoms-social-media-icons-list(has-label: false)}}
        </div>
        <div class="col-12 col-lg order-lg-3 col-footer-sub col-lg-text-right">
          <button class="btn-lang">English</button>
        </div>
        <div class="col-12 col-lg order-lg-1 col-footer-sub col-lg-text-left">
          <ul class="legal-links list-inline">
            <li class="list-inline-item">
              <a href="#">Accessibilité</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Politique de confidentialité</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-section">
      <div class="row">
        <div class="col col-lg-text-left col-footer-copyright">
          <span class="copyright">© Ville de Montréal 199X – 2018 – Tous droits réservés</span>
        </div>
      </div>
    </div>
  </div>
</footer>
