// @file patternlab.scss

/**
 * Patternlab specific css -- all classes MUST begin w/ pl-
 * The code below lives for the sake of the patternlab instance & is not compiled along with the main site stylesheet
 * @see pattern-scaffolding.css in mustache demo starterkit for reference
 */

// Bootstrap Framework.
@import '../styles.scss';

.sg-main {
  padding: 20px 20px;
}

.patternLink {
  border: none;
  color: $gray-800;
  &:hover {
    color: lighten($gray-800, 30%);
    border: none;
    background-color: transparent !important;
  }
}

// - - - - - - - - - -  - - - - - -
//  * * * STYLES * * *
// - - - - - - - - - -  - - - - - -



// Fonts
// - - - - - - - - - -  - - - - - -

// Titles
.pl-stroked-header {
  padding-top: 0.25em;
  //   padding-left: 0.25em;
  // border-top: 1px solid #ddd;
  width: 93%;
}
.sg-pattern-category {
	margin-top: 4rem !important;
}
//h2
//h2
.sg-pattern-category-title a,
h3.sg-pattern-title a,
h4.pl-pattern-subtitle,
h5.pl-pattern-subtitle {
	color:#000 !important;
	font-weight: bold;
}

.sg-pattern-category-title a {
	font-size: 24px;
}
h3.sg-pattern-title a {
	font-size: 18px;
	text-transform: none;
	&::first-letter { 
  		text-transform: uppercase;
	}
}

h4.pl-pattern-subtitle {
	font-size: 16px;
}
h5.pl-pattern-subtitle {
	font-size: 14px;
}

// Scalers
.pl-small {
  font-size: 0.85em;
}
.pl-smaller {
  font-size: 0.75em;
}
.pl-smallest {
  font-size: 0.65em;
}

.pl-headers-wrapper {
  .pl-headers {
    > li {
      margin-bottom: 1.5rem;
    }
  }
}

.pl-placeholder-block {
  @extend .pl-padding-10;
  background: $gray-100;
  margin-bottom: 1rem;
}

// Utility vertical spacer : margin-bottom
.pl-vspacer {
  margin-bottom: 1rem;
  &.pl-vspacer-5 {
    margin-bottom: 0.33rem;
  }
  &.pl-vspacer-10 {
    margin-bottom: 0.33rem;
  }
  &.pl-vspacer-25 {
    margin-bottom: 1.7rem;
  }
  &.pl-vspacer-50 {
    margin-bottom: 4rem;
  }
}

// Block level paddings
.pl-padding-5 {
  padding: 0.33rem;
}
.pl-padding-10 {
  padding: 0.7rem;
}
.pl-padding-25 {
  padding: 1.5rem;
}

// Size demontration blocks for font-size, paddings and margins
.pl-size-wrapper {
  &.pl-size-2x-root {
    font-size: 2rem;
  }
  &.pl-size-2x {
    font-size: 2em;
  }
}

.pl-size-block {
  border-top: 1px solid $gray-600;
  border-bottom: 1px solid $gray-600;
  background: $gray-100;
  text-align: center;
  position: relative;
  margin-bottom: 30px;

  &:last-of-type {
    margin-right: 0;
  }

  .pl-size-unit {
    // The inner span contianing the descriptive text
    position: absolute;
    bottom: -30px;
    left: 0.3em;
    font-size: $font-size-xs;
  }

  &.pl-size-inline {
    display: inline-block;
    margin-right: 1rem;
    width: 10%;
  }
  &.pl-size-5 {
    width: 5%;
  }
  &.pl-size-75 {
    width: 7.5%;
  }
  &.pl-size-10 {
    width: 10%;
  }
  &.pl-size-15 {
    width: 15%;
  }
  &.pl-size-20 {
    width: 20%;
  }
}

// Box demos for units
$pl-size-box-wrapper-size: 20rem;
$pl-size-box-wrapper-padding: 1rem;

.pl-size-box-wrapper {
  width: $pl-size-box-wrapper-size;
  height: $pl-size-box-wrapper-size;
  border: 1px solid $gray-600;
  float: left;
  margin-right: $pl-size-box-wrapper-padding;

  .pl-size-box {
    text-align: center;
    margin: $pl-size-box-wrapper-padding/2 auto $pl-size-box-wrapper-padding/2
      auto;
  }
  .pl-size-box-margin {
    background: darken($gray-100, 20%);
    border: 1px solid $gray-600;
    z-index: -5;
    width: $pl-size-box-wrapper-size - $pl-size-box-wrapper-padding;
    height: $pl-size-box-wrapper-size - $pl-size-box-wrapper-padding;
    .pl-size-box-base {
      background: $gray-100;
      border: 1px solid $gray-600;
      z-index: 0;
      width: $pl-size-box-wrapper-size - $pl-size-box-wrapper-padding * 2;
      height: $pl-size-box-wrapper-size - $pl-size-box-wrapper-padding * 2;

      .pl-size-box-padding {
        background: lighten($gray-100, 20%);
        border: 1px solid $gray-600;
        z-index: 5;
        width: $pl-size-box-wrapper-size - $pl-size-box-wrapper-padding * 3;
        height: $pl-size-box-wrapper-size - $pl-size-box-wrapper-padding * 3;
      }
    }
  }

  // 2 rem modifier
  &.pl-size-box-2rem {
    font-size: 2rem;

    .pl-size-box {
      margin: $pl-size-box-wrapper-padding auto $pl-size-box-wrapper-padding
        auto;
    }

    .pl-size-box-margin {
      width: $pl-size-box-wrapper-size - 2rem;
      height: $pl-size-box-wrapper-size - 2rem;
      .pl-size-box-base {
        width: $pl-size-box-wrapper-size - 4rem;
        height: $pl-size-box-wrapper-size - 4rem;
        .pl-size-box-padding {
          width: $pl-size-box-wrapper-size - 6rem;
          height: $pl-size-box-wrapper-size - 6rem;
        }
      }
    }
  }
}

// Lists
.pl-list-stacked-block {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0 0 1.5rem 0;
  }
  &.plain {
    list-style-type: none;
  }
  &.pl-width-20 {
    max-width: 20%;
  }
}

// Documentation
// - - - - - - - - - -  - - - - - -
.pl-document {
  color: $gray-600;
  font-size: $font-size-xs;
  ul {
    li {
      line-height: 1.3em;
      pre {
        width: 40%;
        color: $gray-600;
        background: $gray-100;
      }
    }
  }
}

// Icons
// - - - - - - - - - -  - - - - - -

.pl-atom-icons-grid {
  .pl-atom-icon-item {
    text-align: left;
    margin: 0.75rem;
    position: relative;
    transition: all .5s cubic-bezier(.165,.84,.44,1);
    transform: translateZ(0);
    &:hover {
      &:after {
        opacity: 1;
      }
    }
	&.ic-editorial {
		text-align: center;
    a {
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: block;
      svg {
        fill: $gray-500;
        width: 40px;
        height: 40px;
      }
    }

	}
	&.ic-utility {
		margin: 0.25rem;
    a {
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        border: none;
        background-color: transparent;

        svg {
          fill: $neutral-primary;
        }
      }
    }
		svg {
			fill: $gray-500;
			margin-right: 12px;
			width: 24px;
			height: 24px;
		}
	}
    
  }
}

.ic-name {
      color: $black;
      font-size: .8rem;
      user-select: all;
      line-height: 1rem;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;

      &:hover {
        color: $gray-900;
      }
    }

//modal icon
#exampleModalIcon {
  .modal-body {
    p {
      font-size: $font-size-sm;
      line-height: $line-height-sm;
    }
  }
}



// Swatches
// Color, name, variable and hex code

.pl-swatches-flex{
  .pl-swatches-wrapper {
    .pl-swatches-title {
      font-size: $font-size-lg;
    }
    .pl-swatches {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin-bottom: 2rem;

      // Header
      .pl-swatch-header {
        display: none;
        font-weight: $font-weight-bold;
        color: $headings-color;
      }

      // Row
      .pl-swatch {
        width: 100%;
        border-bottom: 1px solid $gray-100;
        margin-bottom: 1rem;
        @include media-breakpoint-up(md) {
          border-bottom: none;
          border-top: 1px solid $gray-100;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          margin-bottom: 0;
        }
        // item
        &-item {
          display: flex;
          flex-flow: row nowrap;
          flex: 1;
          padding: .5em 1rem;
          //word-break: break-word;
          align-items: center;
          &:before {
            content: attr(data-header);
            color: $headings-color;
            font-weight: 700;
            width: 30%;
          }
          &-fw {
            padding: .5rem 0 .5em 0;
            &:before {
              content: none;
            }
          }
          &[data-header="Variable"] {
            display: block;
          }

          @include media-breakpoint-up(md) {
            padding: .5em;
            &-fw {
              margin-right: 1rem;
            }
            &:before { 
              content: none; 
            }
          }
        }
      }
    }
  }
  .pl-swatch-square {
    display: block;
    width: 100%;
    height: 4rem;
  }
  .pl-swatch-round {
    border-radius: 50%;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
  }
}

// Form-elements
// - - - - - - - - - -  - - - - - -
.pl-button,
.pl-badge {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  align-items: center;
  .bg-gray-900 {
    text-align: center;
  }
  button,
  .badge,
  a.btn {
    margin-right: 8px;
    margin-bottom: 16px;
  }
}

// - - - - - - - - - -  - - - - - -
//  * * * LAYOUT * * *
// - - - - - - - - - -  - - - - - -

//  For regions demonstration pages -- highlights empty regions.
.pl-regions-demo-page {
  .region {
    background: $gray-100;
    border: 1px solid $gray-200;

    .region-row {
      .region-content {
        border: 1px solid $gray-200;
        background: $white;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
    }

    // Shade alterning regions so as to emphasise their limits
    &:nth-child(even) {
      background-color: $white;
      border: 1px solid $gray-300;
      .region-row {
        .region-content {
          background: $gray-100;
        }
      }
    }
  }
}

// Examples styling

.sg-pattern .progress + .progress {
  margin-top: 1rem;
}

// - - - - - - - - - -  - - - - - -
//  * * * MOLECULES * * *
// - - - - - - - - - -  - - - - - -

// Tiles
// - - - - - - - - - -  - - - - - -
.pl-molecule-tiles {
  .pl-tiles-index {
    @include make-row();
    @include clearfix();
    > li {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
}

// Tiles
// - - - - - - - - - -  - - - - - -
.pl-molecule-cards {
  @extend .container;
  .pl-cards-index {
    @include make-row();
    > li {
      // display: flex;
      // Provide equal height behaviour, vertical sizing

      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      @include media-breakpoint-up(sm) {
        @include make-col(4);
      }
      @include media-breakpoint-up(md) {
        @include make-col(3);
      }

      margin-bottom: $grid-gutter-width;
    }
  }
}

.pl-molecule-cards-large {
  @extend .container;
  .pl-cards-index {
    @include make-row();
    > li {
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }

      margin-bottom: $grid-gutter-width;
    }
  }
}

.pl-teasers-index {
  > ul {
    > li {
      @extend .container;
    }
  }
}

// PL headings 

.pl-h2 {
 @extend .h2;
}


// Logos
// - - - - - - - - - -  - - - - - -
.pl-atom-logos-grid {
  .pl-atom-logo-item {
    text-align: center;
    position: relative;
	border: 1px solid $gray-200;
    transition: all .5s cubic-bezier(.165,.84,.44,1);
    transform: translateZ(0);
	svg {
		  max-height: 100px;
		  margin: 3.5rem 2.875rem;

		  &#logo-rosace {
			  max-height: 70px;
			  max-width: 70px;
        min-width: 40px;
        min-height: 40px;
		  }
		
		  &#logo-mtl-rosace {
			  max-height: 40px;
			  padding: 0 0.5rem;
		  }
	}
	&.color{
		background-color: $white;
		.logo-version {
			color:$gray-700;
		}
	}
	&.black{
		background-color: $white;
		.logo-version {
			color:$gray-700;
		}
	}
	&.reverse {
		background-color: $gray-800;
		.logo-version {
			color:$white;
		}
	}
	&.arrond {
		position: relative;
		height:200px;
		  div {
			  display: flex;
			  align-content: center;
			  text-align: center;
			  width: 100%;
			  height: 100%;
			  * {
				align-self: center;
				margin: 0 auto;
			  }
			  svg {
				max-width: 200px;
				width: 100%;
				overflow: visible;
				
		  	}
		  }  
	  }
	.logo-version {
		padding: 1rem 0.5rem 0; 
		display: block;
		line-height: 1em;
	}
	
  }
}


// Colors
//
// Contextual variations (linked badges get darker on :hover).
.pl-brand {
  background: $brand;
}
.pl-brand-black{
  background: $brand-black;
}
.pl-neutral-primary {
  background: $neutral-primary; 
}
.pl-neutral-primary-reverse{
  background: $neutral-primary-reverse; 
  border: 1px solid $gray-500;
}
.pl-neutral-secondary {
  background: $neutral-secondary;	
}
.pl-neutral-tertiary {
  background: $neutral-tertiary;	
}
.pl-neutral-stroke {
  background: $neutral-stroke;
}
.pl-neutral-underground-1 {
  background: $neutral-underground-1;	
}
.pl-neutral-underground-2 {
  background: $neutral-underground-2; 
}
.pl-action {
  background: $action;	
}
.pl-action-lighter {
  background: $action-lighter;
}
.pl-action-darker {
  background: $action-darker;
}
.pl-highlight-light {
  background: $highlight-light;
}
.pl-highlight-strong {
  background: $highlight-strong;	
}
.pl-informative-dark {
  background: $informative-dark;
}
.pl-informative-light {
  background: $informative-light;				
}
.pl-informative {
  background: $informative;
}
.pl-positive-dark {
  background: $positive-dark;
}
.pl-positive-light {
  background: $positive-light;
}
.pl-positive {
  background: $positive;
}
.pl-warning-dark {
  background: $warning-dark;
}
.pl-warning-light {
  background: $warning-light;	
}
.pl-warning {
  background: $warning;
}
.pl-negative-dark {
  background: $negative-dark;
}
.pl-negative-light {
  background: $negative-light;	
}
.pl-negative {
  background: $negative;
}
.pl-black {
  background: $black;
}
.pl-white {
  background: $white;
}


.pl-example-modal {
  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }

  .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
  }
}


// sg-pattern-extra

.sg-pattern-extra {
  a {
    border-bottom: 1px solid #ccc;
    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid #f5f2f0;
      background-color: #f5f2f0;
    }
  }

  .sg-pattern-desc {
    color: $gray-900;
    margin: 0.5rem 0 0 0;
    border-bottom: none;
    h1:first-child {
      margin-top: 0;
    }
    h1 {
      font-size: 1rem;
      margin: 1rem auto;
      line-height: 1;
    }
    h2 {
      font-size: 0.9rem;
      margin: 0.9rem auto;
      line-height: 1;
    }
    h3 {
      font-size: 0.8rem;
      margin: 0.8rem auto;
      line-height: 1;
    }
    h4,
    h5,
    h6{
      font-size: 0.75rem;
      margin: 0.75rem auto;
      line-height: 1;
    }
    h1, h2, h3, h4, h5, h6 {
      
    }
    p, ul, ol {
      margin-top:0;
      font-size: 0.75rem;
      margin-bottom: 0.75rem;
      display: block;
      clear: both;
    }
    a {
      border-bottom: none;
      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}

.sg-pattern-extra-toggle:hover,
.sg-pattern-extra-toggle:focus{
  border-bottom: 1px solid #ddd;
}

.pl-message-bar {
  .message-bar + .message-bar {
    margin-top: 1rem;
  }
}

// Tweak for fixed header in view all pages
.sg-pattern-example {
  .header-main-nav {
    position: relative;
    display: flex;
  }
  .fixed-top {
    position: absolute;
  }
}

.pl-pattern-example {
  @extend .clearfix;
  > .dropdown-menu:first-child {
    position: static;
    display: block;
  }
}

@each $spacer, $value in $spacers {
  .pl-width-#{$spacer} {
   width: $value;
  }
}
