<div class="alert-container {{ alertContainerClass }}">
  {{> molecules-alerts }}
</div>
{{# has-confirmation-summary }}
{{> organisms-wizard-confirmation-summary }}
{{/ has-confirmation-summary }}

{{# confirmation-cta }}
{{> organisms-wizard-confirmation-cta }}
{{/ confirmation-cta }}