<dl {{# dl-classes}}class="{{ dl-classes }}"{{/ dl-classes}}>
  {{# dl-item}}
  <div class="dl-item">
    <dt>{{ term }}</dt>
    <dd>{{ definition }}</dd>
    {{# dd-image}}
    <dd class="dd-image pt-1">
    {{> components-galerie }}
    </dd>
    {{/ dd-image}}
  </div>
  {{/ dl-item}}
</dl>
