<h4 class="pl-pattern-subtitle">Default (Medium)</h4>
<div class="mb-2">
  <div class="mb-1">
    <a href="#" title="link title text">Libellé</a>
  </div>
  <div class="mb-1">
    <a href="#" class="is-external-link" title="link title text">Libellé</a>
  </div>
  <div>
    <a href="#" class="link-has-icon" title="link title text">Libellé<span class="icon icon-link" aria-hidden="true"></span></a>
  </div>
</div>

<h4 class="pl-pattern-subtitle">Small</h4>
<div class="mb-2">
  <div class="mb-1">
    <a href="#" title="link title text" class="link-sm">Libellé</a>
  </div>
  <div class="mb-1">
    <a href="#" title="link title text" class="link-sm is-external-link">Libellé</a>
  </div>
  <div class="mb-1">
    <a href="#" title="link title text" class="link-sm link-has-icon">Libellé<span class="icon icon-link" aria-hidden="true"></span></a>
  </div>
</div>

<h4 class="pl-pattern-subtitle">ExtraSmall</h4>
<div class="mb-2">
  <div class="mb-1">
    <a href="#" title="link title text" class="link-xs">Libellé</a>
  </div>
  <div class="mb-1">
    <a href="#" title="link title text" class="link-xs is-external-link">Libellé</a>
  </div>
  <div class="mb-1">
    <a href="#" title="link title text" class="link-xs link-has-icon">Libellé<span class="icon icon-link" aria-hidden="true"></span></a>
  </div>
</div>
