<h4 class="pl-pattern-subtitle">Medium</h4>
<div class="mb-2">
{{> styles-link-list-element("link-label": "Link label")}}
</div>


<h4 class="pl-pattern-subtitle">Small</h4>
<div class="mb-2">
{{> styles-link-list-element("linkSize": "link-sm", "link-label": "Link label")}}
</div>


<h4 class="pl-pattern-subtitle">ExtraSmall</h4>
<div class="mb-2">
{{> styles-link-list-element("linkSize": "link-xs", "link-label": "Link label")}}
</div>