<h4 class="pl-pattern-subtitle">Medium</h4>
<div class="mb-2">
  <div>
  {{> styles-link-list-element("has-icon": true, "icon-right": false, "link-label": "Link with icon (left)", icon: "icon-arrow-left")}}
  </div>
  <div>
  {{> styles-link-list-element("has-icon": true,"icon-right": true, "link-label": "Link with icon (right)", icon: "icon-arrow-right")}}
  </div>
</div>

<h4 class="pl-pattern-subtitle">Small</h4>
<div class="mb-2">
  <div>
  {{> styles-link-list-element("has-icon": true,"linkSize": "link-sm", "icon-right": false, "link-label": "Link with icon (left)", icon: "icon-arrow-left")}}
  </div>
  <div>
  {{> styles-link-list-element("has-icon": true,"linkSize": "link-sm", "icon-right": true, "link-label": "Link with icon (right)", icon: "icon-arrow-right")}}
  </div>
</div>