<div class="container-fluid pl-atom-txt-utilities-grid">

  <ul class="row list-unstyled">
    {{#textColorPrimary }}
      <li class="col-xs-12 col-sm-4 col-md-3">
        <div class="pl-atom-item">
          <p class="select-all {{ classColor }}">{{ label }}</p>
        </div>
      </li>
    {{/textColorPrimary}}
  </ul>

  <ul class="row list-unstyled">
    {{#textColorBase }}
      <li class="col-xs-12 col-sm-4 col-md-3">
        <div class="pl-atom-item">
          <p class="select-all {{ classColor }}">{{ label }}</p>
        </div>
      </li>
    {{/textColorBase}}
  </ul>

  <ul class="row list-unstyled">
    {{#textColorDialog }}
      <li class="col-xs-12 col-sm-4 col-md-3">
        <div class="pl-atom-item">
          <p class="select-all {{ classColor }}">{{ label }}</p>
        </div>
      </li>
    {{/textColorDialog}}
  </ul>

  <ul class="row list-unstyled">
    {{#textColorDialogReversed }}
      <li class="col-xs-12 col-sm-4 col-md-3">
        <div class="pl-atom-item">
          <p class="select-all {{ classColor }}">{{ label }}</p>
        </div>
      </li>
    {{/textColorDialogReversed}}
  </ul>

</div>
