{{^ has-icon }}
<a href="{{url}}" class="link-list-element {{linkSize}}"{{# data-link-title}} data-link-title="{{data-link-title}}"{{/ data-link-title}}{{# data-link-position}} data-link-position="{{data-link-position}}"{{/ data-link-position}}><span class="link-label">{{ link-label }}</span></a>
{{/ has-icon }}
{{# has-icon }}
<a href="{{url}}" class="link-list-element link-has-icon {{linkSize}}{{#icon-right}} icon-right{{/ icon-right}}"{{# data-link-title}} data-link-title="{{data-link-title}}"{{/ data-link-title}}{{# data-link-position}} data-link-position="{{data-link-position}}"{{/ data-link-position}}>
  {{^icon-right}}<div><span class="icon {{ icon }}"></span></div>{{/ icon-right}}
  <div>
    <span class="link-label link-icon-label">{{ link-label }}</span>
  </div>
  {{#icon-right}}<div><span class="icon {{ icon }}"></span></div>{{/ icon-right}}
</a>
{{/ has-icon }}
