{{# link-icon }}
<a href="{{url}}" class="link-has-icon {{#icon-right}}icon-right{{/ icon-right}}">
  {{^icon-right}}<span class="icon {{ icon }}"></span>{{/ icon-right}}
  <span class="link-icon-label">{{ link-icon-label }}</span>
  {{#icon-right}}<span class="icon {{ icon }}"></span>{{/ icon-right}}
</a>
{{/ link-icon }}
