{{# link-icon }}
<a href="{{url}}" class="link-has-icon {{ linkIconSize}} {{#icon-right}}icon-right{{/ icon-right}}">
  {{^icon-right}}<div><span class="icon {{ icon }}"></span></div>{{/ icon-right}}
  <div>
    <span class="link-icon-label">{{ link-icon-label }}</span>
  </div>
  {{#icon-right}}<div><span class="icon {{ icon }}"></span></div>{{/ icon-right}}
</a>
{{/ link-icon }}
