<div class="sr-only skip-links d-print-none">
  <a href="#main-content" class="text-white sr-focusable-js">Aller au contenu</a>
  <a href="#main-footer" class="text-white sr-focusable-js">Aller au pied de page</a>
</div>