<body class="">
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname));
//]]></script><script async src="/browser-sync/browser-sync-client.js?v=2.18.13"></script>
<!-- ********************** -->
<!-- Skip to main navigation -->
<a href="#main-content" class="sr-only sr-only-focusable d-print-none">Skip to main content</a>
<!-- Begin side navigation menu -->
<nav class="side-menu wrapper" id="sideNav" aria-label="Main navigation">
  <ul class="menu-links">
    <li class="menu-item"> <a class="menu-link" href="#home">Home</a> </li>
    <li class="menu-item has-children"> <a class="menu-link parent-link" href="#news"> News <i class="vdmi ic-arrow-right" aria-hidden="true"></i> </a>
      <ul class="menu-links submenu">
        <li class="menu-item back-item"> <a class="menu-link back-link" href="#back"> Back 01 <i class="vdmi ic-arrow-left" aria-hidden="true"></i> </a> </li>
        <li class="menu-item parent-item"> <a class="menu-link parent-link" href="#news">News</a> </li>
        <li class="menu-item"> <a class="menu-link child-link" href="#noticesalerts">Notices and alerts</a> </li>
        <li class="menu-item"> <a class="menu-link child-link" href="#noticesalerts">News</a> </li>
      </ul>
    </li>
    <li class="menu-item"> <a class="menu-link" href="#request">Requests and payments</a> </li>
    <li class="menu-item"> <a class="menu-link" href="#infos">Useful information</a> </li>
    <li class="menu-item has-children"> <a class="menu-link parent-link" href="#find"> Find a place <i class="vdmi ic-arrow-right" aria-hidden="true"></i> </a>
      <ul class="menu-links submenu">
        <li class="menu-item back-item"> <a class="menu-link back-link" href="#back"> Back 02 <i class="vdmi ic-arrow-left" aria-hidden="true"></i> </a> </li>
        <li class="menu-item parent-item"> <a class="menu-link parent-link" href="#news">Parent item</a> </li>
        <li class="menu-item child"> <a class="menu-link" href="#child1">Child item 01</a> </li>
        <li class="menu-item child"> <a class="menu-link" href="#child2">Child item 02</a> </li>
      </ul>
    </li>
    <li class="menu-item"> <a class="menu-link" href="#contact">Contact Us</a> </li>
  </ul>
</nav>
<!-- ********************** -->
<!-- End side navigation menu -->
<!-- *********************************************** -->
<!-- Begin main page skeleton wrapper -->
<div class="vdm-page has-side-menu">
 <!-- Begin main page header -->
  <header class="vdm-header">
    <div class="navbar-banner">
      <div class="main"> <span class="" "description"="">Beta version of Montréal's Web site</span> <a href="#" class="link">Learn more</a> </div>
      <div class="secondary"> <a href="#">Exit beta version of the site</a> </div>
    </div>
    <nav class="vdm-navbar" data-component-type="navigation" role="menu">
      <div class="menu-trigger-wrapper">
        <button type="button" class="menu-trigger" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle main navigation</span> </button>
      </div>
      <img src="../../images/logos/vdm-logo.svg" class="brand-logo top-nav" alt="">
      <div class="navbar-icons">
        <ul class="icons">
          <li class="search">
            <button type="button" class="navbar-button search" aria-haspopup="true" aria-controls="searchform"> <span class="button-label">Search</span> </button>
          </li>
          <li class="user">
            <button type="button" class="navbar-button account"> <span class="button-label">Mon compte</span> </button>
          </li>
          <li class="language">
            <ul class="language-list">
              <li class="lang active"> <a href="/fr" title="Voir ce site en français">fr</a> </li>
              <li class="lang"> <a href="/en" title="View this site in English">en</a> </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="invisible searchbar-wrapper">
        <form id="searchform">
          <div class="form-combo icon-combo color-scheme-light inline-button">
            <h3 class="title">Combo block title - inline button</h3>
            <div class="input-wrapper stroked d-flex d-inline-flex"> <i class="vdmi ic-search" aria-hidden="true"></i>
              <div class="form-group vdm-form-group">
                <input type="text" class="form-control vdm-form-control" id="text">
                <label for="text">Textfield</label>
              </div>
              <button type="button" class="vdm-btn vdm-btn-sm">Button</button>
            </div>
          </div>
        </form>
      </div>
    </nav>
  </header>
  <!-- End main page header -->
  <!-- Begin header region -->
  <main class="main-content regions" id="main-content" aria-label="Main Content">
    <!-- Begin mock regions-->
    <!-- Begin content header region-->
    <div class="region region-content-header pl-demo-region">
      <div class="container">
          <div class="row">
            <div class="col-12 pl-demo-region-content">
                <h1 class="vdm-title">Page title</h1>
                <p class="teaser-text">Page teaser text -- Quinoa succulents gastropub butcher YOLO tilde dreamcatcher aesthetic.</p>
            </div>
          </div>
      </div>
    </div>
    <!-- End content header region-->
    <!-- Begin before-content region-->
    <div class="region region-before pl-demo-region">
        <div class="container">
            <div class="row">
                <div class="col-12 pl-demo-region-content">
                    Region before content
                </div>
            </div>
        </div>
    </div>
    <!-- End before-content region-->
    <!-- Begin main-content region-->
    <div class="region main-region pl-demo-region">
        <div class="container"> <!-- .container -->
            <div class="row"><!-- .row -->
                <article class="col-9 pl-demo-region-content">
                Main content
                </article>
                <aside class="col-3 pl-demo-region-content">
                Sidebar right
                </aside>
            </div>
        </div>
    </div>
    <!-- End main-content region-->
    <!-- Begin after-content region-->
    <div class="region region-after pl-demo-region">
        <div class="container"> <!-- .container -->
            <div class="row"><!-- .row -->
                <div class="col-12 pl-demo-region-content">
                    Region after content
                </div>
            </div>
        </div>
    </div>
    <!-- End after-content region-->
    <!-- End mock regions-->

    <div class="header-container region ">
        <div class="content-wrapper">
        <div class="media"> </div>
        <div class="text">
            <div class="title-block">
            <div class="meta copyright"> ©Larry Paquette </div>
            <h1 class="vdm-title">Heading 1 headin 1 heading 1</h1>
            <div class="date-time updated"> Mis à jour le 23 octembre 2037 </div>
            </div>
            <p class="teaser-text">Quinoa succulents gastropub butcher YOLO tilde dreamcatcher aesthetic. You probably haven't heard of them hot chicken fam, banh mi flexitarian pitchfork sartorial deep v lyft. Pok pok af vape PBR&amp;B flexitarian.</p>
        </div>
        </div>
    </div>
    <!-- End header region -->

    <!-- Begin main content-->
    <div class="main-container region col-both">
        <div class="content-wrapper">

        <!-- Begin sidebar left -->
        <aside class="sidebar sidebar-left">
            <div class="">Block 1</div>
            <div class="">Block 2</div>
            <div class="">Block 3</div>
        </aside>
        <!-- End sidebar left -->
        <!-- Begin main page content, central -->
        <article class="main-content">
            <p>Lorem ipsum dolor sit amet, consiaculis dolor od scelerisque eu libero. Pellentesque vel diam id lacus placerat rhoncus a nec diam. Fusce lobortis vestibulum metus, vel euismod dui vestibulum in. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Nullam consectetur placerat justo, sit amet auctor nisi tincidunt eu. Integer at tristique nisl.</p>
            <p>Lorem ipsum dolor sit amet, consiaculis dolor od scelerisque eu libero. Pellentesque vel diam id lacus placerat rhoncus a nec diam. Fusce lobortis vestibulum metus, vel euismod dui vestibulum in. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Nullam consectetur placerat justo, sit amet auctor nisi tincidunt eu. Integer at tristique nisl.</p>
            <p>Lorem ipsum dolor sit amet, consiaculis dolor od scelerisque eu libero. Pellentesque vel diam id lacus placerat rhoncus a nec diam. Fusce lobortis vestibulum metus, vel euismod dui vestibulum in. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Nullam consectetur placerat justo, sit amet auctor nisi tincidunt eu. Integer at tristique nisl.</p>
        </article>
        <!-- End main page content, central -->

        <!-- Begin sidebar right --> 
        <aside class="sidebar sidebar-right "> 
            <!-- Variant : contact block -->
            <section class="sb-block ">
            <h2 class="vdm-title ">Sidebar header title</h2>
            <div class="subsection person-card"> <strong class="name">Marc-André Gosselin</strong><br>
                Attaché de presse<br>
                Cabinet du maire et du comité exécutif
                <ul>
                <li> <a href="tel:+15142223456" class="icon left"> <i class="vdmi ic-phone" aria-hidden="true"></i> 514 222-3456 </a> </li>
                </ul>
            </div>
            <div class="subsection person-card"> <strong class="name">Linda Boutin</strong><br>
                Relationiste <br>
                Service des communications
                <ul>
                <li> <a href="tel:+15143333456" class="icon left"> <i class="vdmi ic-phone" aria-hidden="true"></i> 514 333-34567 </a> </li>
                <li> <a href="mailto:linda.boutin@ville.montreal.qc.ca" class="icon left"> <i class="vdmi ic-enveloppe" aria-hidden="true"></i> linda.boutin@ville.montreal.qc.ca </a> </li>
                </ul>
            </div>
            </section>
            
            <!-- Variant : Forms 01  - email registration form -->
            <section class="sb-block ">
            <h2 class="vdm-title ">Sidebar header title</h2>
            <p>Leggings ugh pickled messenger bag. Art party swag marfa next level mustache flexitarian. DIY polaroid trust fund cliche artisan.</p>
            <form lpformnum="1">
                <div class="form-group vdm-form-group compact">
                <input type="text" class="form-control vdm-form-control" id="firstName" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                <label for="firstName">First name</label>
                </div>
                <div class="form-group vdm-form-group compact">
                <input type="text" class="form-control vdm-form-control" id="lastName">
                <label for="lastName">Last name</label>
                </div>
                <div class="form-group vdm-form-group compact">
                <input type="email" class="form-control vdm-form-control" id="email">
                <label for="email">Email</label>
                </div>
                <button type="button" class="vdm-btn vdm-btn-sm">Button</button>
            </form>
            </section>
        </aside>
        <!-- End sidebar right --> 
        </div>
    </div>

    <!-- Begin post-content container - after columns -->
    <div class="footer-container region ">
        <div class="content-wrapper">
        <div class="main-content"> Page footer container -- Quinoa succulents gastropub butcher YOLO tilde dreamcatcher aesthetic. You probably haven't heard of them hot chicken fam, banh mi flexitarian pitchfork sartorial deep v lyft. Pok pok af vape PBR&amp;B flexitarian. Heirloom godard
            health goth you probably haven't heard of them, scenester shoreditch sustainable. Hell of pok pok pop-up, hoodie bicycle rights intelligentsia af pug pickled enamel pin asymmetrical. Aesthetic asymmetrical prism ramps yuccie chicharrones. </div>
        </div>
    </div>
  </main>
  <!-- End post-content container - after columns -->
  <!-- Begin footer -->
  <footer class="vdm-footer">
    <div class="footer-wrapper">
      <div class="main"> <a class="featured"> <span class="icon-text">311</span> <span class="text">Services au citoyen</span> </a>
        <ul class="vdm-footer-links">
          <li><a href="#" title="Link title">Link 1</a></li>
          <li><a href="#" title="Link title">Link 2</a></li>
          <li><a href="#" title="Link title">Link 3</a></li>
          <li><a href="#" title="Link title">Link 4</a></li>
          <li><a href="#" title="Link title">Link 5</a></li>
          <li><a href="#" title="Link title">Link 6</a></li>
        </ul>
        <ul class="vdm-social-media footer">
          <li><a href="#" title="Facebook" class="social-icon facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" title="Linkedin" class="social-icon linkedin"><span class="label">Linkedin</span></a></li>
          <li><a href="#" title="Twitter" class="social-icon twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" title="YouTube" class="social-icon youtube"><span class="label">YouTube</span></a></li>
          <li><a href="#" title="Instagram" class="social-icon instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" title="Google+" class="social-icon googleplus"><span class="label">Google+</span></a></li>
        </ul>
      </div>
      <div class="sub">
        <div class="first"> First text </div>
        <div class="last">
          <ul class="vdm-sub-footer-links">
            <li><a href="#" title="Link title">Last - Link 1</a></li>
            <li><a href="#" title="Link title">Last - Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer -->
</div>
<!-- End main page skeleton wrapper -->

<!-- *********************************************** -->
<script src="../../js/vendor/popper.min.js"></script> 
<script src="../../js/vendor/jquery.slim.min.js"></script> 
<script src="../../js/vendor/bootstrap.min.js"></script> 
<script src="../../js/vdm-bao.js"></script> 

<!--DO NOT REMOVE--> 
<script type="text/json" id="sg-pattern-data-footer" class="sg-pattern-data">
    {
      "cssEnabled": false,
      "patternLineageExists": true,
      "patternLineages": [{
        "lineagePattern": "molecules-menu-open-side",
        "lineagePath": "../../patterns/01-molecules-03-navigation-01-menu-open-side/01-molecules-03-navigation-01-menu-open-side.rendered.html"
      }, {
        "lineagePattern": "organisms-header-portal",
        "lineagePath": "../../patterns/02-organisms-03-header-header-portal/02-organisms-03-header-header-portal.rendered.html"
      }, {
        "lineagePattern": "organisms-header-region-portal",
        "lineagePath": "../../patterns/02-organisms-07-regions-00-header-region-portal/02-organisms-07-regions-00-header-region-portal.rendered.html"
      }, {
        "lineagePattern": "organisms-main-content-portal",
        "lineagePath": "../../patterns/02-organisms-07-regions-00-main-content-portal/02-organisms-07-regions-00-main-content-portal.rendered.html"
      }, {
        "lineagePattern": "organisms-region-page-footer-portal",
        "lineagePath": "../../patterns/02-organisms-07-regions-00-region-page-footer-portal/02-organisms-07-regions-00-region-page-footer-portal.rendered.html"
      }, {
        "lineagePattern": "organisms-footer-portal",
        "lineagePath": "../../patterns/02-organisms-04-footer-footer-portal/02-organisms-04-footer-footer-portal.rendered.html"
      }],
      "lineage": [{
        "lineagePattern": "molecules-menu-open-side",
        "lineagePath": "../../patterns/01-molecules-03-navigation-01-menu-open-side/01-molecules-03-navigation-01-menu-open-side.rendered.html"
      }, {
        "lineagePattern": "organisms-header-portal",
        "lineagePath": "../../patterns/02-organisms-03-header-header-portal/02-organisms-03-header-header-portal.rendered.html"
      }, {
        "lineagePattern": "organisms-header-region-portal",
        "lineagePath": "../../patterns/02-organisms-07-regions-00-header-region-portal/02-organisms-07-regions-00-header-region-portal.rendered.html"
      }, {
        "lineagePattern": "organisms-main-content-portal",
        "lineagePath": "../../patterns/02-organisms-07-regions-00-main-content-portal/02-organisms-07-regions-00-main-content-portal.rendered.html"
      }, {
        "lineagePattern": "organisms-region-page-footer-portal",
        "lineagePath": "../../patterns/02-organisms-07-regions-00-region-page-footer-portal/02-organisms-07-regions-00-region-page-footer-portal.rendered.html"
      }, {
        "lineagePattern": "organisms-footer-portal",
        "lineagePath": "../../patterns/02-organisms-04-footer-footer-portal/02-organisms-04-footer-footer-portal.rendered.html"
      }],
      "patternLineageRExists": false,
      "patternLineagesR": [],
      "lineageR": [],
      "patternLineageEExists": true,
      "patternDesc": "",
      "patternBreadcrumb": {
        "patternType": "templates"
      },
      "patternExtension": "mustache",
      "patternName": "Base Page Portal 3cols",
      "patternPartial": "templates-base-page-portal-3cols",
      "patternState": "",
      "patternEngineName": "mustache",
      "extraOutput": {}
    }
  </script> 
<script>
    /*!
     * scriptLoader - v0.1
     *
     * Copyright (c) 2014 Dave Olsen, http://dmolsen.com
     * Licensed under the MIT license
     *
     */

    var scriptLoader = {

      run: function(js, cb, target) {
        var s = document.getElementById(target + '-' + cb);
        for (var i = 0; i < js.length; i++) {
          var src = (typeof js[i] != 'string') ? js[i].src : js[i];
          var c = document.createElement('script');
          c.src = '../../' + src + '?' + cb;
          if (typeof js[i] != 'string') {
            if (js[i].dep !== undefined) {
              c.onload = function(dep, cb, target) {
                return function() {
                  scriptLoader.run(dep, cb, target);
                }
              }(js[i].dep, cb, target);
            }
          }
          s.parentNode.insertBefore(c, s);
        }
      }

    }
  </script> 
<script id="pl-js-polyfill-insert-1508504660407">
    (function() {
      if (self != top) {
        var cb = '1508504660407';
        var js = [];
        if (typeof document !== 'undefined' && !('classList' in document.documentElement)) {
          js.push('styleguide/bower_components/classList.min.js');
        }
        scriptLoader.run(js, cb, 'pl-js-polyfill-insert');
      }
    })();
  </script> 
<script src="../../styleguide/bower_components/jwerty.min.js?1508504660407"></script><script src="../../styleguide/js/patternlab-pattern.min.js?1508504660407"></script><script id="pl-js-insert-1508504660407">
    (function() {
      if (self != top) {
        var cb = '1508504660407';
        var js = [{
          'src': 'styleguide/bower_components/jwerty.min.js',
          'dep': ['styleguide/js/patternlab-pattern.min.js']
        }];
        scriptLoader.run(js, cb, 'pl-js-insert');
      }
    })();
  </script>
</body>
