{{> molecules-menu-open-side }}
<div class="vdm-page {{ pageClasses }}">
    {{> organisms-header-portal }}
    <div class="main-container region {{ mainContainerClasses }}">
        <div class="content-wrapper">
            <article class="content">
                {{> atoms-heading-1 }}
                <h2>Subtitle subtitle subtitle</h2>
                {{> organisms-service-cards }}
            </article>
        </div>
    </div>
    {{> organisms-footer-portal }}
</div>


