{{> molecules-menu-open-side }}
<div class="vdm-page {{ pageClasses }}">
    {{> organisms-header-portal }}
    {{> organisms-breadcrumb-region }}
    {{> organisms-region-header-simple-portal }}
    {{> organisms-region-before-portal }}
    {{> organisms-region-main-no-columns-portal }}
    {{> organisms-footer-portal }}
</div>


