{{# featuredSearch}}
<section id="{{ featuredContentID }}" class="bg-image-section" {{# featuredContentBgImage }} style="{{ featuredContentBgImage }}" {{/ featuredContentBgImage }}>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        {{# inputGroupSearch }}
          {{> atoms-input-icon }}
        {{/ inputGroupSearch }}
        {{# quickLinks }}
        <div class="quick-links">
          <ul class="list-inline">
            {{# quickLinksItem }}
            <li class="list-inline-item"><a href="{{ url }}" class="btn btn-primary btn-light btn-sm">{{ label }}</a></li>
            {{/ quickLinksItem }}
          </ul>
        </div>
        {{/ quickLinks }}
      </div>
    </div>
  </div>
</section>
{{/ featuredSearch}}