<section class="sb-block">

    {{> atoms-heading-sidebar }}
    {{> atoms-sidebar-list }}

    {{# social-media-list }}
        {{> atoms-social-media-icons }}
    {{/ social-media-list }}

    {{# arrow-blocks-list }}
        {{> atoms-sidebar-list-arrow-blocks }}
    {{/ arrow-blocks-list }}

    {{# labels-list }}
        {{> atoms-sidebar-list-inline }}
    {{/ labels-list }}

</section>



