
<h3 class="pl-stroked-header">Cards - base</h3>
<div class="pl-molecule-cards">
    <ul class="pl-list-stacked-block plain pl-cards-index">
        <li>
            <a class="card card-base ic-rosette" title="title text">
                Titre de la rubrique rosette
            </a>
        </li>
        <li>
            <a class="card card-base ic-flag" title="title text">
                Titre de la rubrique flag
            </a>
        </li>
        <li>
            <a class="card card-base ic-search" title="title text">
                Titre de la rubrique search
            </a>
        </li>
        <li>
            <a class="card card-base ic-profile" title="title text">
                Titre de la rubrique profile
            </a>
        </li>
    </ul>
</div>
