
<h3 class="pl-stroked-header">Cards - large</h3>
<div class="pl-molecule-cards-large">
    <ul class="pl-list-stacked-block plain pl-cards-index">
        <li>
            <a class="card card-large ic-rosette" title="title text">
                <h3 class="title">Activités et loisirs</h3>
                <p class="content">VHS put a bird on it tousled, thundercats yr everyday carry meggings hammock tattooed roof.</p>
            </a>
        </li>
        <li>
            <a class="card card-large ic-flag" title="title text">
                <h3 class="title">Déchets et recyclage</h3>
                <p class="content">You probably haven't heard of them pitchfork. Try-hard brunch tumblr letterpress, vinyl mustache meggings. 
Everyday carry austin tumblr wolf hell of fam pork belly hoodie. Bitters banjo williamsburg ugh, tattooed +1 cliche occupy. </p>
            </a>
        </li>
        <li>
            <a class="card card-large ic-search" title="title text">
                <h3 class="title">Développement économique</h3>
                <p class="content">Party wolf salvia you probably haven't heard of them pitchfork. Try-hard brunch tumblr letterpress, vinyl mustache meggings. 
Everyday carry austin tumblr wolf hell of fam pork belly hoodie.</p>
            </a>
        </li>
        <li>
            <a class="card card-large ic-profile" title="title text">
               <h3 class="title">Environnement et qualité de vie</h3>
               <p class="content">Fam pork belly hoodie. Bitters banjo williamsburg ugh, tattooed +1.</p>
            </a>
        </li>
        <li>
            <a class="card card-large card-reverse ic-search" title="title text">
                <h3 class="title">Développement économique</h3>
                <p class="content">Party wolf salvia you probably haven't heard of them pitchfork. Try-hard brunch tumblr letterpress, vinyl mustache meggings. 
Everyday carry austin tumblr wolf hell of fam pork belly hoodie.</p>
            </a>
        </li>
        <li>
            <a class="card card-large card-reverse ic-profile" title="title text">
               <h3 class="title">Environnement et qualité de vie</h3>
               <p class="content">Fam pork belly hoodie. Bitters banjo williamsburg ugh, tattooed +1.</p>
            </a>
        </li>
    </ul>
</div>
