<h3 class="pl-stroked-header">Teaser with picture</h3>
<div class="pl-molecule-teaser-picture vdm-date-list">
    <ul class="vdm-list-plain">
        <li>
            <h2 class="vdm-date day-month"><span class="day">15</span> Juillet</h2>
            <ul class="pl-list-stacked-block plain pl-teasers-index list-items">
                <li>
                    <a class="teaser teaser-picture" title="title text">
                        {{> 00-atoms/10-images/teaser-block }}
                        <div class="content">
                            <h3 class="title">Dreamcatcher slow-carb health goth hoodie fingerstache street</h3>
                            {{> atoms-label }}
                        </div>
                    </a>
                </li>
                 <li>
                    <a class="teaser teaser-picture" title="title text">
                        {{> 00-atoms/10-images/teaser-block }}
                        <div class="content">
                            <h3 class="title">Dreamcatcher slow-carb health goth hoodie fingerstache street art master cleanse slow-carb health goth hoodie fingerstache </h3>
                            {{> atoms-label }}
                        </div>
                    </a>
                </li>
                <li>
                    <a class="teaser teaser-picture" title="title text">
                        {{> 00-atoms/10-images/teaser-block }}
                        <div class="content">
                            <h3 class="title">Dreamcatcher slow-carb health goth hoodie cleanse slow-carb health goth hoodie fingerstache street art master cleanse slow-carb health goth hoodie fingerstache </h3>
                            {{> atoms-label }}
                        </div>
                    </a>
                </li>
            </ul> 
        </li>
        <li>
            <h2 class="vdm-date day-month"><span class="day">19</span> Juillet</h2>
            <ul class="pl-list-stacked-block plain pl-teasers-index list-items">
                <li>
                    <a class="teaser teaser-picture" title="title text">
                        {{> 00-atoms/10-images/teaser-block }}
                        <div class="content">
                            <h3 class="title">Toast put a bird on it, jianbing pork belly williamsburg pickled</h3>
                            {{> atoms-label }}
                        </div>
                    </a>
                </li>
            </ul>
        </li> 
        <li>
            <h2 class="vdm-date day-month"><span class="day">19</span> Juillet</h2>
            <ul class="pl-list-stacked-block plain pl-teasers-index list-items">
                <li>
                    <a class="teaser teaser-picture" title="title text">
                        {{> 00-atoms/10-images/teaser-block }}
                        <div class="content">
                            <h3 class="title">Selvage chartreuse wayfarers, pour-over gluten-free</h3>
                            {{> atoms-label }}
                        </div>
                    </a>
                </li>
                <li>
                    <a class="teaser teaser-picture" title="title text">
                        {{> 00-atoms/10-images/teaser-block }}
                        <div class="content">
                            <h3 class="title">Dreamcatcher slow-carb health goth hoodie fingerstache street art master cleanse</h3>
                            {{> atoms-label }}
                        </div>
                    </a>
                </li>
            </ul>
        </li>   
    </ul>
</div>