<h3 class="pl-stroked-header">Alerts teasers</h3>
<div class="pl-molecule-teaser-alert vdm-date-list">
    <ul class="vdm-list-plain">
        <li>
            <h2 class="vdm-date day-month"><span class="day">03</span> Août</h2>
            <ul class="pl-list-stacked-block plain pl-teasers-index list-items">
            <li>
                    <a class="teaser teaser-alert" title="Alert : Dreamcatcher slow-carb health goth hoodie fingerstache street art master cleanse raw denim etsy YOLO cray.">
                        <div class="content">
                            <h3 class="what">Street art master cleanse</h3>
                            <p class="where">Le Sud-Ouest, Ville Marie, Lasalle</p>
                            <p class="when">3 août 2017 - 14 h 47</p>
                        </div>
                        <div class="metadata">
                            <span class="identifier"># 3444F45T</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="teaser teaser-alert" title="Alert : Dreamcatcher slow-carb health goth hoodie fingerstache street art master cleanse raw denim etsy YOLO cray.">
                        <div class="content">
                            <h3 class="what">Dreamcatcher slow-carb health goth hoodie fingerstache street art master cleanse raw denim etsy YOLO cray.</h3>
                            <p class="where">Le Sud-Ouest, Ville Marie, Lasalle</p>
                            <p class="when">3 août 2017 - 14 h 47</p>
                        </div>
                        <div class="metadata">
                            <span class="identifier"># 6224F67A</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="vdm-date day-month"><span class="day">14</span> Juillet</h2>
            <ul class="pl-list-stacked-block plain pl-teasers-index list-items">
                <li>
                    content
                </li>
            </ul>
        </li>
        <li>
            <h2 class="vdm-date day-month"><span class="day">07</span> Juillet</h2>
            <ul class="pl-list-stacked-block plain pl-teasers-index list-items">
                <li>
                    content
                </li>
            </ul>
        </li>

    </ul>
</div>