<h2>Tiles</h2><br/>
<div class="container-fluid pl-atom-tiles">
	<ul class="pl-tiles-index">
        <li>
            {{# linked-icon-nav }}
            <a class="tile tile-nav tile-icon" title="{{ title-attr }}">
                <span class="wrapper">
                    <i class="vdmi ic-arrow-select" aria-hidden="true"></i>
                    <h3>{{ label }}</h3>
                </span>
            </a>
            {{/ linked-icon-nav }}
        </li>
        <li>
            {{# linked-icon-nav }}
            <a class="tile tile-nav tile-icon invert" title="{{ title-attr }}">
                <span class="wrapper">
                    <i class="vdmi ic-recycle" aria-hidden="true"></i>
                    <h3>{{ label }}</h3>
                </span>
            </a>
            {{/ linked-icon-nav }}
        </li>
    </ul>
</div>
