<div class="container mb-2">
  <div class="row">
    <div class="col-12 col-md-4">
      {{> components-encadre-item("light": true)}}
    </div>
  </div>
</div>

<div class="container bg-light py-2">
  <div class="row">
    <div class="col-12 col-md-4">
      {{> components-encadre-item}}
    </div>
  </div>
</div>
