{{# listGroupXLarge}}
<h4 class="pl-pattern-subtitle">Format très grand</h4>
<div class="pl-mb-4">
{{> components-liste-lien}}
</div>
{{/ listGroupXLarge}}

{{# listGroupLarge}}
<h4 class="pl-pattern-subtitle">Format grand</h4>
<div class="pl-mb-4">
{{> components-liste-lien}}
</div>
{{/ listGroupLarge}}

{{# listGroupDefault}}
<h4 class="pl-pattern-subtitle">Format moyen (défaut)</h4>
{{> components-liste-lien}}
{{/ listGroupDefault}}
