*.txt
.bower
.bowerrc
.docker
.editorconfig
.eslintrc
.github
.gitignore
.nvmrc
Dockerfile
Dockerfile*
Jenkinsfile
Jenkinsfile*
bower.json
build.config.json
composer.json
composer.lock
config
core
execute-deployment.sh
gulpfile.js
localhost
output
patternlab-config.json
public
scripts
server.js
source
vendor