<h4 class="pl-pattern-subtitle">Default</h4>
<div class="chip-group">
{{# chips }}
{{> components-chip }}
{{/ chips }}
</div>

<h4 class="pl-pattern-subtitle">Small</h4>
<div class="chip-group">
{{# chips-sm }}
{{> components-chip }}
{{/ chips-sm }}
</div>

<h4 class="pl-pattern-subtitle">ExtraSmall</h4>
<div class="chip-group">
{{# chips-xs }}
{{> components-chip }}
{{/ chips-xs }}
</div>
