<h4 class="pl-pattern-subtitle">Truncated label</h4>
<div class="chip-group">
	{{# chips-truncated-label }}
	  {{> components-chip }}
	{{/ chips-truncated-label }}
</div>

<h4 class="pl-pattern-subtitle">Max width Truncated label</h4>
<div class="chip-group">
	{{# chips-max-width-truncated-label }}
	  {{> components-chip }}
	{{/ chips-max-width-truncated-label }}
</div>

