<footer class="pre-footer" role="contentinfo">
  <div class="container">
    <div class="row mb-8">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
        <img src="https://res.cloudinary.com/villemontreal/image/upload/q_auto,f_auto,dpr_auto,w_225/v1/portail/logos/Logo_Ville-Marie_732x368px.png" alt="Logo de l'arrondissement XYZ" />
      </div>
      <div class="col-12 col-md-6 col-lg-8 align-self-end">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu ligula interdum, mattis diam. Aenean porta malesuada urna vitae placerat. — <a href="#" class="font-weight-bold">Découvrir l'arrondissement</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 font-size-sm">
        <div class="list-heading">Liens utiles</div>
        <ul class="list-unstyled font-weight-bold mb-0">
          <li><a href="#" class="no-border">Joindre l'arrondissement</a></li>
          <li><a href="#" class="no-border">Carte de l'arrondissement</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 font-size-sm">
        <div class="list-heading">Annonces</div>
        <ul class="list-unstyled font-weight-bold mb-0">
          <li><a href="#" class="no-border">Appels d'offres</a></li>
          <li><a href="#" class="no-border">Avis publics</a></li>
          <li><a href="#" class="no-border">Communiqués</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 font-size-sm">
        <div class="list-heading">Suivez-nous</div>
        <p>Abonnez-vous à notre <a href="#" class="font-weight-bold">infolettre</a> mensuelle ou suivez-nous sur les réseaux sociaux.</p>

        {{# prefooterSocialMediaIcons}}
        <ul class="list-inline list-social-medias mb-0">
          {{# socialMediaIcons}}
          <li class="list-inline-item">
            <a href="{{ url }}" >
              <span class="icon {{icon-name}}" aria-hidden="true"></span>
              <span class="sr-only">{{ sr-text}}</span>
            </a>
          </li>
          {{/ socialMediaIcons}}
        </ul>
        {{/ prefooterSocialMediaIcons}}
      </div>
    </div>
  </div>
</footer>
