<footer class="pre-footer" role="contentinfo">
  <div class="container">
    <div class="row mb-8">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
        <img src="https://imgplaceholder.com/225x108/f4f6f8/212529?text=Logo+arrondissement&font-family=Roboto_Bold" alt="Logo de l'arrondissement XYZ" />
      </div>
      <div class="col-12 col-md-6 col-lg-8 align-self-end">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu ligula interdum, mattis diam. Aenean porta malesuada urna vitae placerat. — <a href="#" class="font-weight-bold">Découvrir l'arrondissement</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 font-size-sm">
        <div class="list-heading">Liens utiles</div>
        <ul class="list-unstyled font-weight-bold">
          <li><a href="#" class="no-border">Joindre l'arrondissement</a></li>
          <li><a href="#" class="no-border">Carte de l'arrondissement</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 font-size-sm">
        <div class="list-heading">Annonces</div>
        <ul class="list-unstyled font-weight-bold">
          <li><a href="#" class="no-border">Appels d'offres</a></li>
          <li><a href="#" class="no-border">Avis publics</a></li>
          <li><a href="#" class="no-border">Communiqués</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 font-size-sm">
        <div class="list-heading">Suivez-nous</div>
        <p>Abonnez-vous à notre <a href="#" class="font-weight-bold">infolettre</a> mensuelle ou suivez-nous sur les réseaux sociaux.</p>
        {{# prefooterSocialMediaIcons}}
        {{> styles-social-media-icons-list}}
        {{/ prefooterSocialMediaIcons}}
      </div>
    </div>
  </div>
</footer>
