<!-- Modal -->
<!-- pl-example-modal is used to show modal, used only for examples -->
<div class="pl-example-modal pl-gray-sky py-md-4">
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
            <span class="vdm vdm-046-grand-x"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-user">
            {{> atoms-fonticon-item(icon-label: 110-profil-connecte)}}
             <div class="user-info">
              <span class="user-profil">Profil personnel</span>
              <span class="user-name">{{ user.name }}</span>
              <span class="user-email">{{ user.email }}</span>
            </div>
          </div>

          <div class="modal-user">
            {{> atoms-fonticon-item(icon-label: 110-profil-connecte)}}
             <div class="user-info">
              <span class="user-profil">Hydro-Québec</span>
              <span class="user-name">{{ user.name }}</span>
              <span class="user-email">{{ user.email }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>