  <!-- Modal Mobile Filters -->
  <div class="modal modal-filters fade" id="{{nav-filters.navModalID}}" tabindex="-1" role="dialog" aria-labelledby="mobileFiltersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mobileFiltersModalLabel">Filtres</h5>
          <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
            <span class="vdm vdm-046-grand-x" aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            {{# nav.navItem}}
            <div class="filters-content">
              <span class="filters-title">{{ title }}</span>
              {{# radios}}
              <div class="form-group">
                <div class="custom-control custom-control-sm custom-radio {{ class }} ">
                  <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                  <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                </div>
              </div>
              {{/ radios}}
              {{# checkboxes}}
              <div class="form-group">
                <div class="custom-control custom-control-sm custom-checkbox {{ class }}">
                  <input type="checkbox" class="custom-control-input" id="{{ id }}" value="{{ id }}" {{ state }}>
                  <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                </div>
              </div>
              {{/ checkboxes}}
            </div>
            {{/ nav.navItem}}
            {{# nav.more-filters.filter}}
            <div class="filters-content">
              <span class="filters-title">{{ title }}</span>
              {{# radios}}
              <div class="form-group">
                <div class="custom-control custom-control-sm custom-radio {{ class }} ">
                  <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                  <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                </div>
              </div>
              {{/ radios}}
              {{# checkboxes}}
              <div class="form-group">
                <div class="custom-control custom-control-sm custom-checkbox {{ class }}">
                  <input type="checkbox" class="custom-control-input" id="{{ id }}" value="{{ id }}" {{ state }}>
                  <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                </div>
              </div>
              {{/ checkboxes}}
            </div>
            {{/ nav.more-filters.filter}}
          </form>

          {{# filters-applied }}
          <div class="row d-md-none">
            <div class="col-12 filters-applied mt-4">
              <span class="sr-only">Filtres sélectionnés : </span>
              {{> atoms-badges}}
            </div>
          </div>
          {{/ filters-applied }}

        </div>
        <div class="modal-footer">
          <div class="mr-auto">
            <button type="button" class="btn btn-secondary btn-sm">Tout effacer</button>
          </div>
          <div class="ml-auto">
            <button type="button" class="btn btn-primary btn-sm">Appliquer</button>
          </div>
        </div>
      </div>
    </div>
  </div>