<div class="list-group {{ listGroupClass }}">
	{{# listGroup }}
  	<a class="list-group-item list-group-item-action {{ class }}" href="{{ url }}">
      {{# listIconEditorial}}
      <span class="icon {{ listIconEditorial}}" aria-hidden="true"></span>
      {{/ listIconEditorial}}
      {{# listIconUtility}}
      <span class="icon {{listIconUtility}}" aria-hidden="true"></span>
      {{/ listIconUtility}}
      {{{ text }}}
    </a>
  	{{/ listGroup }}
</div>
