<ul class="list-group {{ listGroupClass }}">
	{{# listGroup }}
  <li class="list-group-item list-group-item-action {{ class }}">
    <a href="{{ url }}">
      {{# icon-name}}
      <span class="icon {{ icon-name}}" aria-hidden="true"></span>
      {{/ icon-name}}
      {{{ text }}}
    </a>
  </li>
  {{/ listGroup }}
</ul>
