<ul class="list-group {{ listGroupClass }}">
	{{# listGroup }}
  <li class="list-group-item list-group-item-action {{ class }}">
    <a href="{{ url }}"{{# classLink }} class="{{classLink}}"{{/ classLink }}>
      {{# icon-name}}
      <span class="icon {{ icon-name}}" aria-hidden="true"></span>
      {{/ icon-name}}
      {{{ text }}}
      {{# externalLinkIcon}}
      <span class="icon icon-externallink ml-1 mr-0" aria-hidden="true"></span>
      {{/ externalLinkIcon}}
    </a>
  </li>
  {{/ listGroup }}
</ul>
