<ul class="list-group {{ listGroupClass }}">
	{{# listGroup }}
  <li class="list-group-item list-group-item-action {{ class }}">
  	<a class="" href="{{ url }}">
      {{# listIconEditorial}}
      <span class="icon {{ listIconEditorial}}" aria-hidden="true"></span>
      {{/ listIconEditorial}}
      {{# listIconUtility}}
      <span class="icon {{listIconUtility}}" aria-hidden="true"></span>
      {{/ listIconUtility}}
      {{{ text }}}
    </a>
  </li>
  {{/ listGroup }}
</ul>
