<li class="vdm-teaser arrow-block {{ transactionTeaserArrowClasses }}">
    <a class="vdm-teaser-body" title="View request {{ collectors.transactions-teaser-requests.header-text }}">
        <h3 class="title">{{ collectors.transactions-teaser-requests.header-text }}</h3>
        <p class="content">{{ collectors.transactions-teaser-requests.body-text }}</p>
    </a>
</li>
