{{> styles-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <!--
  <div class="container-fluid container-fluid-max-width-xl px-6">
    <div class="row">
      <div class="col-12">
      {{> components-breadcrumbs}}
      </div>
    </div>
  </div>
  -->

  {{> organisms-content-header-profile }}

  <!-- Begin main-content region-->
  <div class="region-content {{ regionMainClasses }}">
    <div class="container {{ regionMainContainerClasses }}">
      <div class="row">
        <article class="col-12 {{ regionMainContentClasses }}">
          <div class="page-section pt-0">
            <h2 class="section-heading">Rôles et responsabilités</h2>
            {{# cards-roles }}
            <div class="cards">
              {{# cards.card-item }}
                {{> components-card-item}}
              {{/ cards.card-item }}
            </div>
            {{/ cards-roles }}
          </div>
          {{# section-responsabilites }}
          <div class="page-section pt-0">
            <h2 class="section-heading">Autres responsabilités</h2>
            {{> components-list-group }}
          </div>
          {{/ section-responsabilites }}
        </article>
        <aside class="col-12 col-lg-5 col-xl-4" role="complementary">
          {{> organisms-sidebar-block-coordinates }}
        </aside>
      </div>
    </div>
  </div>

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}
