<h4 class="pl-pattern-subtitle">Size</h4>

<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    <div class="form-group-sm">
		<div class="form-group {{ selectWrapperClasses }}">
			<div class="file-drop-container">
			  	<span class="help-text">{{ fileDrop.helpText }}</span>
			  	<div class="file-selector-button">
			    	<label class="btn btn-secondary" for="inputId">{{ fileDrop.label }}</label>
			    	<input type="file" id="inputId" class="sr-only">
			  	</div>
			</div>
		</div>
	</div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
		<div class="form-group {{ selectWrapperClasses }}">
			<div class="file-drop-container">
			  	<span class="help-text">{{ fileDrop.helpText }}</span>
			  	<div class="file-selector-button">
			    	<label class="btn btn-secondary" for="inputId">{{ fileDrop.label }}</label>
			    	<input type="file" id="inputId" class="sr-only">
			  	</div>
			</div>
		</div>
	</div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group-lg">
		<div class="form-group {{ selectWrapperClasses }}">
		  	<div class="file-drop-container">
			  	<span class="help-text">{{ fileDrop.helpText }}</span>
			  	<div class="file-selector-button">
			    	<label class="btn btn-secondary" for="inputId">{{ fileDrop.label }}</label>
			    	<input type="file" id="inputId" class="sr-only">
			  	</div>
			</div>
		</div>
	</div>
  </li>
</ul>

