<div class="form-group {{ formGroupClass }}">
  <div class="file-drop-container">
    <span class="help-text">{{ formGroupFileDropHelpText }}</span>
    <div class="file-selector-button">
      <label class="btn btn-secondary" for="{{ formGroupFileDropID}}">{{ formGroupFileDropLabel }}</label>
      <input type="file" id="{{ formGroupFileDropID}}" class="sr-only">
    </div>
  </div>
</div>
