<div class="form-group {{ formGroupClass}}">
  <label for="{{formGroupInputID}}">{{ formGroupInputLabel}}{{^ formGroupInputRequired}}<span>Facultatif</span>{{/ formGroupInputRequired}}</label>
  <textarea class="form-control {{formGroupInputClass}}" id="{{ formGroupInputID }}" {{# formGroupInputPlaceholder}}placeholder="{{ formGroupInputPlaceholder.text}}"{{/ formGroupInputPlaceholder}}{{# formGroupTextareaRows}} rows="{{formGroupTextareaRows}}"{{/ formGroupTextareaRows}}></textarea>
  {{# formGroupFeedbackIcon}}
  <div class="valid-feedback feedback-icon">
    <span class="icon icon-check-circle"></span>
  </div>
  <div class="invalid-feedback feedback-icon">
    <span class="icon icon-warning"></span>
  </div>
  {{/ formGroupFeedbackIcon}}
  {{^formGroupInputError}}
  {{# formGroupInputHelpText}}
  <small id="textRequiredHelpBlock" class="form-text">{{ formGroupInputHelpText }}</small>
  {{/ formGroupInputHelpText}}
  {{/formGroupInputError}}
  {{# formGroupInputError}}
  <div class="invalid-feedback">{{ formGroupInputError.text }}</div>
  {{/ formGroupInputError}}
</div>
