{{> molecules-menu-open-side }}
<div class="vdm-page {{ pageClasses }}">
    {{> organisms-header-portal }}
    {{> organisms-header-region-portal }}
    {{> organisms-main-content-portal }}
    {{> organisms-footer-portal }}
</div>
