<h4 class="pl-pattern-subtitle">Tailles</h4>
{{# progress-size}}
<div class="pl-mb-2">
  {{> components-progress-bar-item}}
</div>
{{/ progress-size}}

<h4 class="pl-pattern-subtitle">Couleurs</h4>
{{# progress-colors}}
<div class="pl-mb-2">
  {{> components-progress-bar-item}}
</div>
{{/ progress-colors}}

