{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Ville-Marie</h1>
        </div>
      </div>
    </div>
  </section>

  {{# alertSection }}
  <section>
    <div class="alert {{ alertClass }} mb-0" role="alert">
      <div class="container text-center">
        <strong>Prochain conseil d'arrondissement :</strong> jj mm aaaa, hh:mm <a href="" class="alert-link ml-2">En savoir plus</a>
      </div>
    </div>
  </section>
  {{/ alertSection }}

  {{# featuredSection}}
  <div class="page-section" id="featuredContent">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      <div class="row cards {{ cards.classes }}">
      {{# cards.card-item }}
        <div class="{{ bsgrid-classes }}">
          {{> molecules-card-item }}
        </div>
      {{/ cards.card-item }}
      </div>
    </div>
  </div>
  {{/ featuredSection}}

  {{# serviceSection}}
  <section class="page-section {{cards.section-classes}}" id="featuredServices">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div> 
      <div class="row cards {{ cards.classes }}">
        {{# cards.card-item}}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item }}
        </div>
        {{/ cards.card-item}}
      </div>
    </div>
  </section>
  {{/ serviceSection}}

  {{# dateSection}}
  <div class="page-section" id="dateSection">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="display-1 text-center">1</div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="display-1 text-center">2</div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="display-1 text-center">3</div>
        </div>
      </div>
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Voir plus</a>
      </div>
    </div>
  </div>
  {{/ dateSection}}

  {{# newsSection }}
  <section class="page-section">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div> 
      {{> molecules-list-group-hub }}
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Toutes les nouvelles</a>
      </div>
    </div>
  </section>
  {{/ newsSection}}

  {{# evenementSection}}
  <div class="page-section" id="evenementSection">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      {{> molecules-list-group-hub }}
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Tous les événements</a>
      </div>
    </div>
  </div>
  {{/ evenementSection}}

  {{# elusSection}}
  <div class="page-section bg-gray-sky" id="elusSection">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </div>
  {{/ elusSection}}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-arrondissement}}

{{> organisms-footer-portal }}

