{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Ville-Marie</h1>
        </div>
      </div>
    </div>
  </section>

  {{# alertSection }}
  <section>
    <div class="alert {{ alertClass }} mb-0" role="alert">
      <div class="container text-center">
        <strong>Prochain conseil d'arrondissement :</strong> jj mm aaaa, hh:mm <a href="" class="alert-link ml-2">En savoir plus</a>
      </div>
    </div>
  </section>
  {{/ alertSection }}

  {{# featuredSection}}
  <div class="page-section" id="featuredContent">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      <div class="row cards {{ cards.classes }}">
      {{# cards.card-item }}
        <div class="{{ bsgrid-classes }}">
          {{> molecules-card-item }}
        </div>
      {{/ cards.card-item }}
      </div>
    </div>
  </div>
  {{/ featuredSection}}

  {{# serviceSection}}
  <section class="page-section {{cards.section-classes}}" id="featuredServices">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div> 
      <div class="row cards {{ cards.classes }}">
        {{# cards.card-item}}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item }}
        </div>
        {{/ cards.card-item}}
      </div>
    </div>
  </section>
  {{/ serviceSection}}

  {{# dateSection}}
  <div class="page-section" id="dateSection">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="text-center">
            <div class="mb-2">15 décembre au plus tard</div>
            <div class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            {{> atoms-button(buttonClass: btn-secondary, buttonText: "CTA lorem ipsum")}}
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="text-center">
            <div class="mb-2">À partir du 1er février</div>
            <div class="h5">Proin sed ante arcu</div>
            {{> atoms-button(buttonClass: btn-secondary, buttonText: "CTA lorem ipsum")}}
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="text-center">
            <div class="mb-2">Du 15 décembre 2018 au 23 mars 2019</div>
            <div class="h5">Curabitur nulla mi imperdiet vitae velit ut venenatis venenatis nunc</div>
            {{> atoms-button(buttonClass: btn-secondary, buttonText: "CTA lorem ipsum")}}
          </div>
        </div>
      </div>
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Voir plus</a>
      </div>
    </div>
  </div>
  {{/ dateSection}}

  {{# featuredSearch}}
  {{> organisms-page-section-featured-search}}
  {{/ featuredSearch}}

  {{# newsSection }}
  <section class="page-section">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div> 
      {{> molecules-list-group-hub }}
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Toutes les nouvelles</a>
      </div>
    </div>
  </section>
  {{/ newsSection}}

  {{# evenementSection}}
  <div class="page-section" id="evenementSection">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      {{> molecules-list-group-hub }}
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Tous les événements</a>
      </div>
    </div>
  </div>
  {{/ evenementSection}}

  {{# elusSection}}
  <div class="page-section" id="elusSection">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Tous les élus de l'arrondissement</a>
      </div>
    </div>
  </div>
  {{/ elusSection}}

  {{# conseilSection}}
  <div class="page-section {{section-classes}}" id="conseilSection">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div>
      <div class="row cards {{ cards.classes }}">
        {{# cards.card-item}}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item }}
        </div>
        {{/ cards.card-item}}
      </div>
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Toutes les séances</a>
      </div>
    </div>
  </div>
  {{/ conseilSection}}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-arrondissement}}

{{> organisms-footer-portal }}

