{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Ville-Marie</h1>
        </div>
      </div>
    </div>
  </section>

  {{# has-alert}}
  {{/ has-alert}}

  {{# servicesSection}}
  <section class="page-section {{cards.section-classes}}" id="services">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="section-heading">{{ headings.text }}</h2>
        </div>
      </div> 
      <div class="row cards {{ cards.classes }}">
        {{# cards.card-item}}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item }}
        </div>
        {{/ cards.card-item}}
      </div>
    </div>
  </section>
  {{/ servicesSection}}

  {{# nouvellesListes }}
  <section class="page-section bg-gray-sky">
    <div class="container">
      <div class="row">
        {{# cards.headings}}
        <div class="col-12">
          <h2 class="{{ cards.headings.class }}">{{ cards.headings.text }}</h2>
        </div>
        {{/ cards.headings}}
      </div>
      <div class="row cards {{ cards.classes }}">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item }}
        </div>
        {{/ cards.card-item }}
      </div>
      <div class="pagination-wrapper">
        <a href="#" class="btn btn-secondary">Toutes les nouvelles</a>
      </div>
    </div>
  </section>
  {{/ nouvellesListes}}

  {{# homePromo}}
  <section class="section-promo">
    {{# promo-featured-card }}
    <div class="home-promo">
      <div class="row no-gutters card card-fluid card-featured">
        <div class="col-xs-12 col-lg-5 card-bg-image" style="background:url(https://picsum.photos/768/480?image=1033) right center / cover no-repeat"></div>
        <div class="col-xs-12 col-lg-7">
          <div class="card-body">
            <span class="card-title">Montréal a besoin de vos lumières</span>
            <p class="card-text">Rendez-vous sur simplicite.montreal.ca et participez&nbsp;avec la Ville de Montréal au développement de ses services numériques.&nbsp;Testez, commentez, échangez.</p>
            <div class="card-footer">
              <a href="#" class="btn btn-primary" title="Call to action">Call to action</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/ promo-featured-card }}
    {{# promo-full-width }}
    <div class="home-promo">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 col-lg-6">
            <div class="promo-content">
              <h2>Découvrez l'application Montréal - Services aux citoyens</h2>
              <p>Recevez nos avis et alertes de sécurité par texto et courriel.</p>
              <p>Signalez-nous un problème tel un nid-de-poule ou un graffiti.</p>
              <a href="#" class="btn btn-primary" title="Call to action">Call to action</a>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <img src="https://res.cloudinary.com/villemontreal/image/upload/v1/portail/eonsir6ecilo7r74sc3e.jpg" class="img-fluid" alt="Un main qui tient un téléphone intelligent" title="">
          </div>
        </div>
      </div>
    </div>
    {{/ promo-full-width }}
  </section>
  {{/ homePromo}}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}

