<div class="col-12 col-md-4 col-lg-2 top-separator">
  <div class="list-heading">Mon compte</div>
  <ul class="list-unstyled mb-4 mb-md-8">
    <li>
      <a href="#">À propos de mon compte</a>
    </li>
    <li>
      <a href="#">Créer mon compte</a>
    </li>
    <li>
      <a href="#">Tous les services numériques</a>
    </li>
      <li>
      <a href="#">Toutes les alertes</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-4 col-lg-2 top-separator">
  <div class="list-heading">Nous joindre</div>
  <ul class="list-unstyled mb-4 mb-md-8">
    <li>
      <a href="#">Communiquer avec la Ville</a>
    </li>
    <li>
      <a href="#">Faire une réclamation</a>
    </li>
    <li>
      <a href="#">Porter plainte</a>
    </li>
    <li>
      <a href="#">Signaler un problème</a>
    </li>
      <li>
      <a href="#">Trouver un point de service</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-4 col-lg-2 top-separator">
  <div class="list-heading">Travailler avec nous</div>
  <ul class="list-unstyled mb-4 mb-md-8">
    <li>
      <a href="#">Appel d'offres</a>
    </li>
    <li>
      <a href="#">Carrières</a>
    </li>
    <li>
      <a href="#">Devenir fournisseur</a>
    </li>
    <li>
      <a href="#">Espace employés</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-4 col-lg-2 top-separator">
  <div class="list-heading">Visiter Montréal</div>
  <ul class="list-unstyled mb-4 mb-md-8">
    <li>
      <a href="#">Carte Wi-Fi</a>
    </li>
    <li>
      <a href="#">Circuits et balades</a>
    </li>
    <li>
      <a href="#">Hôtel de Ville</a>
    </li>
    <li>
      <a href="#">Tourisme d'affaire</a>
    </li>
    <li>
      <a href="https://www.mtl.org/fr/quoi-faire">Tourisme Montréal</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-4 col-lg-2 top-separator">
  <div class="list-heading">À propos de nous</div>
  <ul class="list-unstyled mb-4 mb-md-8">
    <li>
      <a href="#">Armoiries et logo</a>
    </li>
    <li>
      <a href="#">Avis publics</a>
    </li>
    <li>
      <a href="#">Charte Montréalaise des droits et responsabilitées</a>
    </li>
    <li>
      <a href="#">Communiqués</a>
    </li>
    <li>
      <a href="#">Médias</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-4 col-lg-2 top-separator">
  <div class="list-heading">Nous suivre</div>
  <ul class="list-unstyled list-social-media mb-4 mb-md-8">
    <li>
      <a href="https://www.facebook.com/mtlville">
        <span class="icon icon-social-facebook" aria-hidden="true"></span> Facebook
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/449259/">
        <span class="icon icon-social-linkedin" aria-hidden="true"></span> LinkedIn
      </a>
    </li>
    <li>
      <a href="https://twitter.com/mtl_ville">
        <span class="icon icon-social-twitter" aria-hidden="true"></span> Twitter
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/MTLVille">
        <span class="icon icon-social-youtube" aria-hidden="true"></span> YouTube
      </a>
    </li>
  </ul>
</div>