{{> styles-skip-link }}

{{> components-navbar-interne }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <div class="container-fluid {{ regionMainContainerClasses }}">
    {{> patterns-entete-interne }}
    <div class="row">
      <div class="{{ regionMainContentClasses }}">
        {{# module-alert}}{{> components-alert }}{{/ module-alert}}

        {{# module-filters}}
        <div class="row no-gutters">
          {{# searchInput}}
          <div class="col-auto col-md-4 col-lg-3 col-xl-2">
            {{> components-input-icon}}
          </div>
          {{/ searchInput}}
          {{# buttonFilter}}
          <div class="col-auto ml-auto">
            {{> components-button-icon}}
          </div>
          {{/ buttonFilter}}
        </div>
        {{/ module-filters}}

        {{> components-liste-objets-utilitaires}}

      </div>
    </div>
  </div>
</main>
