<ul class="vdm-social-media">
	<li><a href="#" title="Facebook"  class="social-icon facebook">Facebook</a></li>
	<li><a href="#" title="Linkedin"  class="social-icon linkedin">Linkedin</a></li>
	<li><a href="#" title="Twitter"  class="social-icon twitter">Twitter</a></li>
	<li><a href="#" title="YouTube"  class="social-icon youtube">YouTube</a></li>
</ul>
<a href="#" title="Facebook"  class="social-icon facebook">Facebook</a>
<a href="#" title="Facebook"  class="social-icon social-inverse facebook">Facebook</a>
<a href="#" title="Linkedin"  class="social-icon linkedin">Linkedin</a>
<a href="#" title="Twitter"  class="social-icon twitter">Twitter</a>
<a href="#" title="YouTube"  class="social-icon youtube">YouTube</a>

<ul class="vdm-social-media">
	<li style="background-color:#F2F2F2;"><a href="#" title="Facebook"  class="social-icon inverse facebook">Facebook</a></li>
</ul>