{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  <!-- Teaser -->
  {{# has-lead-text}}
  {{> molecules-lead }}
  {{/ has-lead-text}}

  <!-- Tabs -->
  {{# has-nav-tabs}}
    {{> molecules-nav-tab }}
  {{/ has-nav-tabs}}

  <div class="region-content {{ regionMainClasses }}">
    <div class="container">
      <div class="row">
        <article class="col-12 col-md-8">
          {{# searchBox}}
            <div class="mb-6">
            {{> molecules-dropdown-field-combo }}
            </div>
          {{/ searchBox}}

          <div class="row">
            <div class="col-md-12">
              <h2 class="section-heading">Ville-Marie</h2>
              <div id="accordion" role="tablist" aria-multiselectable="true">
                {{> molecules-collapsible-item }}
              </div>
            </div>
          </div>
        </article>

        {{# sidebarRight}}
        <aside class="col-12 col-md-4 sidebar-right {{ sidebar-classes }}" role="complementary">
          <div class="sidebar">
            <section class="sb-block">
              <div class="subsection">
                {{> organisms-heading-sidebar(sidebarTitle: "Mode de paiement") }}
                <h3 class="subtitle">En personne</h3>
                <ul>
                  <li>Argent comptant</li>
                  <li>Carte de débit ou carte de crédit (MasterCard, Visa)</li>
                  <li>Chèque ou mandat à l’ordre de la Ville de Montréal</li>
                </ul>
                <h3 class="subtitle">Par la poste</h3>
                <ul>
                  <li>Chèque ou mandat à l’ordre de la Ville de Montréal</li>
                </ul>
              </div>

              <div class="subsection">
                {{> organisms-heading-sidebar(sidebarTitle: "Ce que vous devez savoir")}}
                <p>La première année, le permis est valide pour une période maximale de 15 mois, soit du 1er juillet au 30 septembre de l'année suivante.</p>
                <p>Par la suite, il est renouvelable tous les 12 mois, soit du 1er octobre au 30 septembre de l'année suivante.</p>
                <p>Il est possible de se procurer, entre le 1er avril et le 30 juin, un permis pour une durée de six mois, valide jusqu'au 30 septembre de la même année.</p>
                <p>Vous pouvez faire la demande pour un seul véhicule, mais il n'y a pas de limite au nombre de vignettes par adresse.</p>
                <p>La vignette ne peut pas être transférée, cédée ou remboursée.</p>
              </div>

              <div class="subsection">
                {{> organisms-heading-sidebar(sidebarTitle: "Règlements") }}
                <ul class="list-unstyled">
                  <li class="link-with-icon">
                    <a href="#">Règlement de la Ville de Montréal (16-049-900009){{> atoms-fonticon-item(icon-label: "063-fleche-droite") }}</a>
                  </li>
                  <li class="link-with-icon">
                    <a href="#">Règlement (16-049-900009){{> atoms-fonticon-item(icon-label: "063-fleche-droite") }}</a>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </aside>
        {{/ sidebarRight}}

      </div>
    </div>
  </div>

  {{# informations}}
  <section class="page-section {{ regionAfterClasses }} bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-heading">Plus d'informations</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </section>
  {{/ informations}}

  {{# tarifs}}
  <section class="page-section bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-heading">Tarification</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item-tarif}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </section>
  {{/ tarifs}}

</main>

{{> organisms-footer-portal }}
