{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  <!-- Teaser -->
  {{# has-lead-text}}
  {{> molecules-lead }}
  {{/ has-lead-text}}

  <!-- Tabs -->
  {{# has-nav-tabs}}
    {{> molecules-nav-tab }}
  {{/ has-nav-tabs}}

  <div class="region-content {{ regionMainClasses }}">
    <div class="container">
      <div class="row">
        {{# has-empty-state}}
        <article class="col-12">
          {{> molecules-empty-state-arrondissement}}
        </article>
        {{/ has-empty-state}}
        {{^ has-empty-state}}
        <article class="col-12 col-lg-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus cursus mauris non orci malesuada aliquet. Nunc tincidunt nisi fringilla consectetur pharetra. Duis sed pretium velit, ut placerat purus. Quisque volutpat facilisis nisl, ut scelerisque orci dapibus in. Proin vestibulum et felis ac tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis sed vulputate velit, vitae venenatis nisi. Sed et egestas ligula. Vestibulum feugiat scelerisque odio quis accumsan. Etiam diam lacus, lobortis eu tortor et, consequat vehicula nibh.</p>
          <p>Donec lacinia neque nec turpis consequat dictum non non felis. <a href="https://google.ca">Suspendisse vehicula</a> eros a nulla sagittis, sit amet porta quam egestas. Donec non velit ut nulla porta pulvinar. Nullam venenatis sapien id ligula gravida, non tincidunt est malesuada. Nulla eleifend est sit amet dapibus pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut finibus libero non eros consectetur porta. Curabitur vitae tellus commodo, maximus est vel, lobortis massa. Integer ultricies ultrices blandit. Duis lacinia dui vitae augue ultricies pretium a ornare ante.</p>
          {{# pieces-justificatives}}
          <h2 class="h4">Documents nécessaires</h2>

          <h3 class="h5">Preuve de possession ou de location du véhicule personnel</h3>
          <p>Une photocopie des documents suivants :</p>
          <ul>
            <li>permis de conduire valide et certificat d’immatriculation du véhicule qui indique vos nom et adresse</li>
            <li>contrat de location qui indique vos nom et adresse, accompagné du certificat d’immatriculation</li>
            <li>certificat d’assurance automobile qui indique vos nom et adresse</li>
          </ul>

          <h3 class="h5">Preuve d'assurance du véhicule</h3>
          <p>Une photocopie des documents suivants :</p>
          <ul>
            <li>certificat d’assurance automobile qui indique vos nom et adresse</li>
            <li>preuve d’assurance automobile attestant que vous êtes le conducteur principal, accompagnée du certificat d’immatriculation</li>
          </ul>

          <h3 class="h5">Preuve de possession ou de location du véhicule appartenant à une compagnie</h3>
          <p>Dans le cas d'un véhicule assuré au nom et à l’adresse d'une compagnie :</p>
          <ul>
            <li>certificat d'immatriculation accompagné d'une lettre officielle avec le logo de l'entreprise indiquant que vous êtes le conducteur principal du véhicule. Cette lettre doit inclure les détails de la voiture (marque, modèle, année) et vos coordonnées (adresse civique complète).</li>
          </ul>

          <h3 class="h5">Preuve de possession ou de location du véhicule appartenant à une compagnie à propriétaire unique</h3>
          <p>Si vous êtes un utilisateur de véhicules de compagnie à propriétaire unique, vous devez présenter ces documents :</p>
          <ul>
            <li>certificat d'immatriculation accompagné de l'état de renseignements d'une personne morale inscrit au Registre des entreprises du Québec (REQ) confirmant que le propriétaire est l'unique actionnaire et le seul membre du conseil d'administration (la carte professionnelle ou une lettre manuscrite sont refusées).</li>
          </ul>

          <h3 class="h5">Preuves de résidences</h3>
          <p>2 preuves de résidence (de moins de 3 mois) parmi les documents suivants :</p>
          <ul>
            <li>permis de conduire valide</li>
            <li>facture de services publics (Hydro-Québec, entreprise de télécommunication telle que Bell, Vidéotron, Rogers ou autre)</li>
            <li>facture de gaz naturel</li>
            <li>facture ou lettre officielle d'un établissement d'enseignement</li>
            <li>relevé mensuel d'une institution financière ou de crédit</li>
            <li>relevé de placements d'une institution financière ou d'une fiducie</li>
            <li>avis de changement d'adresse ou preuve de réacheminement du courrier de Postes Canada (autocollant)</li>
            <li>documents officiels de Revenu Québec ou de l’Agence du revenu du Canada (ARC)</li>
            <li>relevé d'assurance-emploi</li>
            <li>avis de renouvellement de la carte de la Régie de l'assurance maladie du Québec (RAMQ)</li>
            <li>avis de renouvellement du permis de conduire de la Société de l'assurance automobile du Québec (SAAQ)</li>
            <li>correspondance de la cour municipale</li>
            <li>certificat ou extrait du contrat d'assurance automobile attestant que vous êtes le conducteur principal</li>
          </ul>
          {{/ pieces-justificatives}}

          <div class="collapsible-variant pt-4" role="tablist" aria-multiselectable="true">
            {{> molecules-collapsible-item }}
          </div>

        </article>
        {{# sidebarRight}}
        <aside class="col-12 col-lg-4 sidebar-right" role="complementary">
          {{> organisms-sidebar-block-top-stroke}}
        </aside>
        {{/ sidebarRight}}
        {{/ has-empty-state}}
      </div>
    </div>
  </div>

  {{# tarifs}}
  <section class="page-section bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-heading">Tarifs</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item-tarif-v2}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </section>
  {{/ tarifs}}

  {{# informations}}
  <section class="page-section {{ regionAfterClasses }} bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-heading">Plus d'information</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </section>
  {{/ informations}}


</main>

{{> organisms-footer-portal }}
