<ul class="list-group {{ listGroupClass }}">
	{{# listGroup }}
  	<li class="list-group-item {{class}}">{{{ text }}}
  		{{# badge }}{{> atoms-badges }}{{/ badge }}
  	</li>
  {{/ listGroup }}
</ul>