<div class="list-group {{ listGroupClass }}">
	{{# listGroup }}
  	<a class="list-group-item list-group-item-action {{ class }}" href="{{ url }}">
    <div class="list-group-item-body">
      <div class="list-group-max-width">
        <span class="list-group-item-title">{{ title}}</span>
        {{# infos }}
          <div class="list-group-item-content {{infosClass}}">
          {{# infos.infos-items }}
            <span class="{{class}}">{{{ text }}}</span>
          {{/ infos.infos-items }}
          </div>
        {{/ infos}}
      </div>
    </div>
    <div class="list-group-item-footer">
    {{^ footer.icon-label }}
    {{> atoms-fonticon-item(icon-label: "063-fleche-droite")}}
    {{/ footer.icon-label }}
    {{# footer.icon-label }}
      {{> atoms-fonticon-item(icon-label: "117-lien-externe-lg")}}
    {{/ footer.icon-label }}
    </div>
    </a>
  {{/ listGroup }}
</div>