<div class="sidebar pt-8{{^ documentHeading}} pt-lg-0{{/documentHeading}}">
  {{# sb-block-tc-lies}}
  <section class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Articles connexes") }}
    {{> components-liste-lien}}
  </section>
  {{/ sb-block-tc-lies}}
</div>
