<h3>First definition list<small class="text-muted"> with class .vdm-definition-list</small></h3>
<dl class="vdm-definition-list">
  <dt>Fnausgaard biodiesel subway tile edison bulb</dt>
  <dd>
   Kinfolk gochujang locavore man bun crucifix. Neutra bitters keytar, four loko tilde 90's raw denim gentrify. Mustache biodiesel street art next level, synth mlkshk normcore disrupt bitters pork belly.
  </dd>
  <dt>Tofu umami prism heirloom raclette</dt>
  <dd>
    Street art squid fingerstache you probably haven't heard of them taiyaki gluten-free helvetica beard typewriter, letterpress yr cronut brooklyn. Mustache irony plaid edison bulb photo booth. Paleo ugh blog truffaut kinfolk XOXO tousled cliche chia four dollar toast shoreditch deep v pok pok viral.
  </dd>
  <dt>Disrupt irony narwhal stumptown selfies</dt>
  <dd>
    Copper mug flexitarian crucifix synth semiotics bicycle rights. Disrupt irony narwhal stumptown selfies, pinterest poke iceland tbh brooklyn. Street art tousled artisan bushwick poutine yr jean shorts banjo.
  </dd>
</dl>


