<section class="vdm-date-list">
    <ul class="vdm-list-plain">
        <li>
            <h2 class="vdm-date day-month"><span class="day">03</span> Août</h2>
            <div class="pl-placeholder-block">
                Charcoal poke tbh typewriter stumptown meh af ugh before they sold out fashion axe heirloom. Jianbing fashion axe la croix, pour-over meh everyday carry poke tbh tumeric you probably haven't heard of them shoreditch. Etsy tumblr master cleanse four loko try-hard unicorn kitsch tofu tacos
            </div>
            <div class="pl-placeholder-block">
                Biodiesel subway tile edison bulb cray venmo scenester heirloom hella whatever sartorial poutine drinking vinegar shabby chic.
            </div>
            <div class="pl-placeholder-block">
                Pour-over gluten-free iceland DIY put a bird on it meggings unicorn pitchfork marfa health goth messenger bag keytar. Vaporware hammock tattooed hoodie migas. Air plant four dollar toast.
            </div>
        </li>
        <li>
            <h2 class="vdm-date day-month"><span class="day">06</span> Septembre</h2>
            <div class="pl-placeholder-block">
                Ethical distillery meggings gentrify, knausgaard man bun retro bushwick irony lumbersexual food truck woke. 8-bit shaman shoreditch trust fund fam. Organic DIY keytar fam whatever shabby chic poutine fanny pack jean shorts ethical trust fund kogi meditation dreamcatcher freegan.
            </div>
        </li>
        <li>
            <h2 class="vdm-date day-month"><span class="day">19</span> Septembre</h2>
            <div class="pl-placeholder-block">
                Retro master cleanse cray, scenester tumeric migas art party drinking vinegar PBR&B stumptown. Succulents brooklyn kitsch, street art fingerstache fanny pack YOLO franzen
            </div>
        </li>
    </ul>
</section>