<ul class="list-inline">
  <li class="list-inline-item">{{ listItem }}</li>
  <li class="list-inline-item">{{ listItem }}</li>
  <li class="list-inline-item">{{ listItem }}</li>
  <li class="list-inline-item">{{ listItem }}</li>
</ul>