<ol class="vdm-numbered-list">
    <li>
        <h2 class="title">Title title</h2>
        <p>Everyday carry poke tbh tumeric you probably haven't heard of them shoreditch. Etsy tumblr master cleanse four loko try-hard unicorn kitsch tofu tacos</p>
    </li>
    <li>
        <h2 class="title">Title title</h2>
        <p>Organic DIY keytar fam whatever shabby chic poutine fanny pack jean shorts ethical trust fund kogi meditation dreamcatcher freegan.</p>
    </li>
    <li>
        <h2 class="title">Title title</h2>
        <p>Retro master cleanse cray, scenester tumeric migas art party drinking vinegar PBR&B stumptown. Succulents brooklyn kitsch, street art fingerstache fanny pack YOLO franzen.</p>
    </li>
</ol>
