<ul class="vdm-list-plain sb-list">
    <li>
        <a href="#" class="icon left">
            <i class="vdmi ic-arrow-select" aria-hidden="true"></i>
            Link 01 link link link  
        </a>
    </li>
    <li>
        <a href="#" class="icon left">
            <i class="vdmi ic-phone" aria-hidden="true"></i>
            Link 02 link link
        </a>
    </li>
</ul>