{{# social-media-icons-list}}
<ul class="social-media-list {{^ has-label}}social-media-list-icons{{/ has-label}}{{ socialMediaClasses }}">
  {{# has-facebook}}
  <li>
    <a href="#" title="Facebook">
      {{> atoms-fonticon-item(icon-label: "101-social-facebook") }}
      <span {{^ has-label}}class="sr-only"{{/ has-label}}>Facebook</span>
    </a>
  </li>
  {{/ has-facebook}}
  {{# has-instagram}}
  <li>
    <a href="#" title="Instagram">
      {{> atoms-fonticon-item(icon-label: "097-social-instagram") }}
      <span {{^ has-label}}class="sr-only"{{/ has-label}}>Instagram</span>
    </a>
  </li>
  {{/ has-instagram}}
  {{# has-youtube}}
  <li>
    <a href="#" title="YouTube">
      {{> atoms-fonticon-item(icon-label: "100-social-youtube") }}
      <span {{^ has-label}}class="sr-only"{{/ has-label}}>YouTube</span>
    </a>
  </li>
  {{/ has-youtube}}
  {{# has-linkedin}}
  <li>
    <a href="#" title="Linkedin">
      {{> atoms-fonticon-item(icon-label: "098-social-linkedin") }}
      <span {{^ has-label}}class="sr-only"{{/ has-label}}>Linkedin</span>
    </a>
  </li>
  {{/ has-linkedin}}
  {{# has-twitter}}
  <li>
    <a href="#" title="Twitter">
      {{> atoms-fonticon-item(icon-label: "099-social-twitter") }}
      <span {{^ has-label}}class="sr-only"{{/ has-label}}>Twitter</span>
    </a>
  </li>
  {{/ has-twitter}}
</ul>
{{/ social-media-icons-list}}
