<ul class="list-unstyled sb-list">
    <li>
        <a href="#" class="icon left">
            {{> atoms-fonticon-item(label: "fleche) }}
            Link 01 link link link  
        </a>
    </li>
    <li>
        <a href="#" class="icon left">
            {{> atoms-fonticon-item(label: "telephone") }}
            Link 02 link link
        </a>
    </li>
</ul>

