<ul>
    <li><a href="#" title="link title text" class="block arrow">Link title arrow, block 01</a></li>
    <li><a href="#" title="link title text" class="block arrow">Link title arrow, block 02</a></li>
</ul>


