// @file footer.scss


// Main portal footer, the fat version with all bells & whistles present in the Sketch mockups
footer {
  &.vdm-footer {
    background-color: $vdm-sub-brand;
    color: $vdm-white;
    // Links
    a {
      color: $vdm-white;
      &:before, 
      &:after {
        color: $vdm-white;
      }
      &:hover, 
      &:active {
        color: $vdm-white;
        text-decoration: underline;
        &:before, 
        &:after {
          color: $vdm-white;
        }
      }
      
    }
    // List items
    ul {
      margin: 0;
      padding: 0;
      border: 1px solid white;
      >li {
        margin: 0;
        padding: 0;
        a {
          display: block;
          .label {

          }
          
        }
      }
    }


    .main {

      .featured {

      }

      .vdm-footer-links {
        >li {
          >a {
            .label {

            }
          }
        }
      }// ul

      .vdm-social-media {
        &.footer {
          >li {
            >a {
              .label {
  
              }
            }
          }// li
        } // ul
      } 
    } // Main wrapper

    .sub {
      .first {

      }
      .last {
        .vdm-sub-footer-links {
          >li {
            >a {
              .label {
  
              }
            }
          }
        }// ul
      }
    } // Secondary wrapper, sub-footer section
  }
}


// Martino's first shot at creating a footer below 
footer {

  &.footer-martino {
    background-color: $vdm-sub-brand;
    padding-top: 45px;



    ul {
      float:left;
      padding:0;
      margin:0;
      list-style-type: none;
      width:100%;
      li {
        // padding-bottom: 12px;
        // padding-top: 12px;
        float:left;
        width:100%;
        .link {
          float:left;
          padding-top:4px;
        }
        .link-arrow {
          float:right;
        }
      }
    }
    hr {
      border: solid 2px $vdm-white;
    }
    span {
      color: $vdm-white;
    }
    i {
      color: $vdm-white;
    }
    a {
      color: $vdm-white;
    }
    a:hover {
      color: $vdm-white;
    }
    .services-citoyen {
      float:left;
      margin-bottom:40px;
      .services-citoyen-311 {
        .number311 {
          float:left;
          font-size: 350%;
        }
        .title {
          float:right;
          padding-top: 18px;
          padding-left:25px;
        }
      }
      .services-citoyen-horaires {
        .open {
          background: $vdm-sarcelle;
          display: inline-block;
          border-radius: 50%;
          width: 14px;
          height: 14px;
        }
        .hours {
          font-size: $vdm-font-size-smaller;
        }
      }
    }
    .horaires {
      .link-arrow {
        float:left;
        padding-left:20px;
      }
    }
    .language {
      text-align:right;
    }
    .social-media {
      text-align: right;
      margin-top:90px;
    }
    .copyright {
      font-size: $vdm-font-size-smaller;
      padding-bottom:20px;
    }
  } // .footer
}
