// @file footer.scss


// Main portal footer, the fat version with all bells & whistles present in the Sketch mockups
footer {
  &.vdm-footer {
    background-color: $vdm-sub-brand;
    color: $vdm-white;
    padding-top: 2rem;
    padding-bottom: 1rem;

    .footer-wrapper {
      @include make-container();
      @include make-container-max-widths();
    }
    
    // Links
    a {
      color: $vdm-white;
      &:before, 
      &:after {
        color: $vdm-white;
      }
      &:hover, 
      &:active {
        color: $vdm-white;
        text-decoration: underline;
        &:before, 
        &:after {
          color: $vdm-white;
        }
      }
      
    }
    // List items
    ul {
      margin: 0;
      padding: 0;
      border: 1px solid #FC1313;
      list-style-type: none;
      >li {
        margin: 0;
        padding: 0;
        a {
          display: block;
          .label {

          }
        }
      }
    }


    .main {
      @include make-row();
      padding-bottom: 1rem;

      // 311 block
      .featured {
        @include make-col-ready();
        @include make-col(12);
        order: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-text {
          font-size: 4rem;
          flex-basis: 30%;
          padding-right: 1rem;
          line-height: 1em;
        }
        .text {
          flex: 1;

        }
      }

      // Links laid out on 3 columns;
      .vdm-footer-links {
        
        @include make-col-ready();
        @include make-col(12);

        // Pick one of these 2 methods and stick to inspect
        // Column count creates a weird bottom padding or height 100% effect,
        // vertical alignement becomes a problem

        // column-count: 3;
        @include n-columns("li", 33%, 0, false, 3);
        
        margin-bottom: 1rem;
        >li {
          margin-bottom: 0.3rem;
          >a {
            @include icon-block-link(arrow-right, 2.5em);
            .label {
              display: none;
            }
          }
        }
      }// ul

      .vdm-social-media {
        order: 3;
        @include make-col-ready();
        @include make-col(12);
        min-height: 2.3rem;
        margin-top: 1rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &.footer {
          >li {
            min-height: 2.3rem;
            >a {
              padding-left : 0.3rem;
              .label {
                display: none;
              }
            }
          }// li
        } // ul
      } 
    } // Main wrapper

    // Second section of the footer : under the white line;
    .sub {
      @include make-row();
      font-size: $vdm-font-size-smaller;
      padding-top: 0.6rem;
      border-top: 2px solid $vdm-white;

      .first {
        @include make-col-ready();
        @include make-col(3);
      }
      .last {
        @include make-col-ready();
        @include make-col(9);
        text-align: right;

        .vdm-sub-footer-links {
          >li {
            display: inline-block;
            position: relative;
            padding: 0 1em;
            &:before {
              content : "";
              width: 1px;
              height: 70%;
              background: $vdm-white;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
            &:first-of-type {
              padding-left: 0;
              border: 0;
              &:before {
                display: none;
              }
            }
          }
        }// ul
      }
    } // Secondary wrapper, sub-footer section

    @include media-breakpoint-up(sm) { 
      border: 1px solid orange;
      .main {
        .featured {
          order: 1;
          flex-wrap: wrap;
        }
        .vdm-footer-links {
          margin-bottom: 0;
        }
        .vdm-social-media {
          margin-top: 2rem;
        }
      }
    } // sm-up

    @include media-breakpoint-up(md) { 
      border: 1px solid turquoise;
      .main {
        .featured {
          @include make-col(3);
          order: 0; 
         
        }
        .vdm-footer-links {
          @include make-col(9);
        }
        .vdm-social-media {
          
        }
      }

      .main {
        .vdm-social-media {
          &.footer {
            >li {
              >a {
                .label {
                  display: inline;
                }
              }
            }
          }
        }
      }
    } // md-up


  } // vdm-footer
} // Footer 


// Martino's first shot at creating a footer below 
footer {

  &.footer-martino {
    background-color: $vdm-sub-brand;
    padding-top: 45px;



    ul {
      float:left;
      padding:0;
      margin:0;
      list-style-type: none;
      width:100%;
      li {
        // padding-bottom: 12px;
        // padding-top: 12px;
        float:left;
        width:100%;
        .link {
          float:left;
          padding-top:4px;
        }
        .link-arrow {
          float:right;
        }
      }
    }
    hr {
      border: solid 2px $vdm-white;
    }
    span {
      color: $vdm-white;
    }
    i {
      color: $vdm-white;
    }
    a {
      color: $vdm-white;
    }
    a:hover {
      color: $vdm-white;
    }
    .services-citoyen {
      float:left;
      margin-bottom:40px;
      .services-citoyen-311 {
        .number311 {
          float:left;
          font-size: 350%;
        }
        .title {
          float:right;
          padding-top: 18px;
          padding-left:25px;
        }
      }
      .services-citoyen-horaires {
        .open {
          background: $vdm-sarcelle;
          display: inline-block;
          border-radius: 50%;
          width: 14px;
          height: 14px;
        }
        .hours {
          font-size: $vdm-font-size-smaller;
        }
      }
    }
    .horaires {
      .link-arrow {
        float:left;
        padding-left:20px;
      }
    }
    .language {
      text-align:right;
    }
    .social-media {
      text-align: right;
      margin-top:90px;
    }
    .copyright {
      font-size: $vdm-font-size-smaller;
      padding-bottom:20px;
    }
  } // .footer
}
