// @file forms.scss

label {
    font-family: $vdm-font-family;
    font-weight: $vdm-font-weight-regular;
    //font-size: $vdm-font-size-smaller;
    line-height: $vdm-line-height-base;
}


// Radios and checkboxes - common rules
.checkbox, 
.radio {
    &.vdm-checkbox,
    &.vdm-radio {
        input {
            position: relative;
            margin: 0 2rem 0 0;

            &:before, 
            &:after {
                position: absolute;
                content: '';
                // opacity: 0.5; // Debug : line it up with the original element
            }

            // The background - centering w/ native element is key;
            &:before {
                left: -0.3rem;
                top: -0.3rem;
                width: 1.8rem;
                height: 1.8rem;
                background: $vdm-form-disabled-bg-color;
                cursor: pointer;
                border-radius: 0.3rem;
            }

            // The selection
            &:after {
                z-index: 1;
                width: 1.3rem;
                height: 1.3rem;
            }
        }
    }
}


.checkbox {
    &.vdm-checkbox {
        label {

        }
        input {


            &:before, 
            &:after {

            }

            // The checkmark
            &:after {
                top: 0.125em;
                transform: rotate(-45deg);
                width: 1.15rem;
                height: .5rem;

            }

            // The patch on top of the input
            &:before {


            }

            // The tranformed rectangle, titled 45 degrees with 2 out of 4 borders
            &[checked="checked"] {
                &:after {
                    border: 1px solid $vdm-brand;
                    border-top-style: none;
                    border-right-style: none;

                }
            }

            &[disabled="disabled"] {
                
            }

            &[checked="checked"] {
                &[disabled="disabled"] {
                
                }
            }
        }
    }
}

.radio {
    &.vdm-radio {
        label {

        }
        input {


            &:before, 
            &:after {
                border-radius: 50%;

            }
    
            // The background of the input
            &:before {
                width: 2.1rem;
                height: 2.1rem;
                left: -0.4rem;
                top: -0.4rem;
            }

            // The inner circle for the checked checkbox
            &:after {
                width:  70%;
                height: 70%;
                // transform: scale(0.75, 0.75);
                transform: translate(0.23rem, 0.18rem);
                
            }

            // The selected, circular input
            &[checked="checked"] {
                &:after {

                    background: $vdm-brand;
                }
            }
            &[disabled="disabled"] {
                
            }

            &[checked="checked"] {
                &[disabled="disabled"] {
                
                }
            }
        }
    }
}

// Fix the inline margin-tops
.vdm-checkbox, .vdm-radio {
    &.checkbox-inline, 
    &.radio-inline {
        margin-top: 0;
    }
}
