// @file forms.scss

label {
    font-family: $vdm-font-family;
    font-weight: $vdm-font-weight-regular;
    line-height: $vdm-line-height-base;
}

///////////////////////////////////////////////////////////////////
// Radios and checkboxes - common rules
.checkbox, 
.radio {
    &.vdm-checkbox,
    &.vdm-radio {
        input {
            position: relative;
            margin: 0 2rem 0 0;

            &:before, 
            &:after {
                position: absolute;
                content: '';
                // opacity: 0.5; // Debug : line it up with the original element
            }

            // The background - centering w/ native element is key;
            &:before {
                left: -0.3rem;
                top: -0.3rem;
                width: 1.8rem;
                height: 1.8rem;
                background: $vdm-form-disabled-bg-color;
                cursor: pointer;
                border-radius: 0.3rem;
            }

            // The selection
            &:after {
                z-index: 1;
                width: 1.3rem;
                height: 1.3rem;
            }
        }
    }
}

///////////////////////////////////////////////////////////////////
// Checkboxes
.checkbox {
    &.vdm-checkbox {
        label {

        }
        input {


            &:before, 
            &:after {

            }

            // The checkmark
            &:after {
                top: 0.125em;
                transform: rotate(-45deg);
                width: 1.15rem;
                height: .5rem;

            }

            // The patch on top of the input
            &:before {


            }

            // The tranformed rectangle, titled 45 degrees with 2 out of 4 borders
            &[checked="checked"] {
                &:after {
                    border: 1px solid $vdm-brand;
                    border-top-style: none;
                    border-right-style: none;

                }
            }

            &[disabled="disabled"] {
                
            }

            &[checked="checked"] {
                &[disabled="disabled"] {
                
                }
            }
        }
    }
}

///////////////////////////////////////////////////////////////////
// Radio buttons
.radio {
    &.vdm-radio {
        label {

        }
        input {


            &:before, 
            &:after {
                border-radius: 50%;

            }
    
            // The background of the input
            &:before {
                width: 2.1rem;
                height: 2.1rem;
                left: -0.4rem;
                top: -0.4rem;
            }

            // The inner circle for the checked checkbox
            &:after {
                width:  70%;
                height: 70%;
                // transform: scale(0.75, 0.75);
                transform: translate(0.23rem, 0.18rem);
                
            }

            // The selected, circular input
            &[checked="checked"] {
                &:after {

                    background: $vdm-brand;
                }
            }
            &[disabled="disabled"] {
                
            }

            &[checked="checked"] {
                &[disabled="disabled"] {
                
                }
            }
        }
    }
}

// Fix the inline margin-tops for inline display;
.vdm-checkbox, .vdm-radio {
    &.checkbox-inline, 
    &.radio-inline {
        margin-top: 0;
    }
}

///////////////////////////////////////////////////////////////////
// Textfields and textareas

// select,
// textarea,
// input[type="text"],
// input[type="password"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="date"],
// input[type="month"],
// input[type="time"],
// input[type="week"],
// input[type="number"],
// input[type="email"],
// input[type="url"],
// input[type="search"],
// input[type="tel"],
// input[type="color"] {

// }


.form-group {
    &.vdm-form-group {
        position: relative;
        margin-top: 3rem;

        // input, 
        // textarea,
        // select {
            .form-control {
                &.vdm-form-control {
                    font-size: $vdm-font-size-base;
                    box-shadow: none;
                    transition: none;
                    border: 1px solid $vdm-grey-light;
                    border-radius: 0;
                    // border-radius: $vdm-textfield-border-radius;

                    &:focus {
                        border: 1px solid $vdm-brand;
                    }

                    // Move the label
                    // When the field is selected
                    // Once the field is filled (js toggle class "used")
                    &:focus, &.used {
                        & ~ label {
                            top: -26px;
                            left: 10px;
                            font-size: $vdm-font-size-smaller;
                            color: $vdm-black;
                        }
                       
                    }
                    &.used {
                        color: $vdm-black;
                        border: 1px solid $vdm-black;
                    }
                }
            }

        // }

        label {
            color:$vdm-grey; 
            position: absolute;
            pointer-events: none;
            left: 10px;
            top: 8px;
            transition:0.2s ease all; 
        }

        .help-block {
            margin-left: 10px;
            font-size: $vdm-font-size-smaller;
        }


        &.has-error {
            
            .vdm-form-control {
                color: $vdm-error-color !important;
                border: 1px solid $vdm-error-color;
                &:focus,  
                &.used  {
                    border: 1px solid $vdm-error-color;
                }
            }

            .help-block {
                color: $vdm-error-color;
                margin-left: 0;
            }

        } // Errors

        // Feedback icons
        &.has-feedback {
            .vdm-form-control {
                & ~ .form-control-feedback {
                    font-family: $vdm-icon-font-family;
                    font-size: 3rem;
                    top: 0;

                    &.glyphicon-remove {
                        &:before {
                           content: "\E202"; 
                           color: $vdm-error-color;
                        }
                    } 
                    &.glyphicon-ok {
                        &:before {
                           content: "\E20B"; 
                           color: $vdm-brand;
                        }
                    } 
                }
            }

        } // Feedback
    }
}

///////////////////////////////////////////////////////////////////
// Select

.vdm-select-wrapper {
    background-color: #FFF;
    display: inline-block;
    position: relative;
    margin-top: 26px;
    &:after {
        background: $vdm-white;
        font-family: $vdm-icon-font-family;
        font-size: 2.6rem;
        content: "\E038"; 
        position: absolute;
        top: 0.1rem;
        right: 0.2rem;
        z-index: 2;
        display: block;
        width: $vdm-element-base-height;
        height: floor($vdm-element-base-height  *  0.95);
        line-height: floor($vdm-element-base-height *  0.95);
        text-align: center;
        pointer-events: none;
    }
    // Change arrow direction 
    // @see $( "select.vdm-select" ).mouseup(function()) {}
    &.select-open {
        &:after {
            content: "\E036"; 
        }
    }
    // @to-do - implement a 'has-label' class on parent element? Inline vs block label?
    label {
        font-size: $vdm-font-size-smaller;
        color: $vdm-black;
        position: absolute;
        pointer-events: none;
        left: 18px;
        top: -26px;
    }
}

select {
    max-width: 300px;
    &.form-control {
        
        &.vdm-select {
            border-radius: 0;
            box-shadow: none;
            border: 1px solid $vdm-grey-light;
            &:focus {
                box-shadow: none;
                border: 1px solid $vdm-brand;
            }
            option {
                
            }
        }
        
    }
    
}







