// @file icons.scss


// >> Begin demo code for atoms-icons
// - - - - - - - - - -  - - - - - -


@font-face {
  font-family: $vdm-icon-font-family;
  src: url('#{$vdm-icon-font-path}/vdm-font-icon.eot?v=#{$vdm-icon-font-version}');
  src: url('#{$vdm-icon-font-path}/vdm-font-icon.eot?v=#{$vdm-icon-font-version}') format('embedded-opentype'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.woff2?v=#{$vdm-icon-font-version}') format('woff2'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.woff?v=#{$vdm-icon-font-version}') format('woff'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.ttf?v=#{$vdm-icon-font-version}') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $vdm-icon-font-family;
  src: url('#{$vdm-icon-font-path}/vdm-font-icon.eot?v=#{$vdm-icon-font-version}');
  src: url('#{$vdm-icon-font-path}/vdm-font-icon.eot?v=#{$vdm-icon-font-version}') format('embedded-opentype'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.woff2?v=#{$vdm-icon-font-version}') format('woff2'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.woff?v=#{$vdm-icon-font-version}') format('woff'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.ttf?v=#{$vdm-icon-font-version}') format('truetype');

  font-weight: normal;
  font-style: normal;
}

// test social icon font
@font-face {
  font-family: $social-icon-font-family;
  src: url('#{$social-icon-font-path}/ic-social.eot?v=#{$social-icon-font-version}');
  src: url('#{$social-icon-font-path}/ic-social.eot?v=#{$social-icon-font-version}') format('embedded-opentype'),
    url('#{$social-icon-font-path}/ic-social.woff2?v=#{$social-icon-font-version}') format('woff2'),
    url('#{$social-icon-font-path}/ic-social.woff?v=#{$social-icon-font-version}') format('woff'),
    url('#{$social-icon-font-path}/ic-social.ttf?v=#{$social-icon-font-version}') format('truetype');

  font-weight: normal;
  font-style: normal;
}
// fin test

@font-face {
  font-family: $fontawesome-icon-font-family;
  src: url('#{$fontawesome-icon-font-path}/fontawesome-webfont.eot?v=#{$fontawesome-icon-font-version}');
  src: url('#{$fontawesome-icon-font-path}/fontawesome-webfont.eot?v=#{$fontawesome-icon-font-version}') format('embedded-opentype'),
  url('#{$fontawesome-icon-font-path}/fontawesome-webfont.woff2?v=#{$fontawesome-icon-font-version}') format('woff2'),
  url('#{$fontawesome-icon-font-path}/fontawesome-webfont.woff?v=#{$fontawesome-icon-font-version}') format('woff'),
  url('#{$fontawesome-icon-font-path}/fontawesome-webfont.ttf?v=#{$fontawesome-icon-font-version}') format('truetype');

  font-weight: normal;
  font-style: normal;
}


// >> Begin custom inline vdm code
// - - - - - -
// @ see primary reference for this implementation : http://fontawesome.io/examples/
// @ TO-DO : implement more modifiers (scale,etc), fetching inspiration from the main fa stylesheet


// VDM ICONS

i {
  &.vdmi {
    display: inline-block;
    font: normal normal normal $vdm-font-size-base/1 $vdm-icon-font-family;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Individual symbol instances
    // @see variable $icons in variables.scss -- contains all characters
    // mapping & object names as in { document: "\E012"; }
    @each $name, $char in $icons {
      &.ic-#{$name} {
        &:before {
          content: $char;
        }
      }
    }

    // Scale modifiers
    &.ic-lg {
      font-size: 1.33333333em;
      line-height: 0.75em;
      vertical-align: -15%;
    }
    &.ic-2x {
      font-size: 2em;
    }
    &.ic-3x {
      font-size: 3em;
    }
    &.ic-4x {
      font-size: 4em;
    }
    &.ic-5x {
      font-size: 5em;
    }
    &.ic-6x {
      font-size: 6em;
    }
    &.ic-7x {
      font-size: 7em;
    }
    &.ic-8x {
      font-size: 8em;
    }

    // Fixed width
    &.ic-fw {
      width: 1.28571429em;
      text-align: center;
    }
  }
}



// FONTAWESOME ICONS

.fa {
  display: inline-block;
  color: $vdm-sub-brand;
  font: normal normal normal $vdm-font-size-base/1 $fontawesome-icon-font-family;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.fa-facebook {
    &:before {
      content: "\f09a";
    }
  }
  &.fa-youtube {
    &:before {
      content: "\f167";
    }
  }
  &.fa-google-plus {
    &:before {
      content: "\f0d5";
    }
  }
  &.fa-twitter {
    &:before {
      content: "\f099";
    }
  }
  &.fa-linkedin {
    &:before {
      content: "\f0e1";
    }
  }
  &.fa-instagram {
    &:before {
      content: "\f16d";
    }
  }
  &.fa-circle {
    &:before {
      content: "\f111";
      color: $vdm-white;
    }
  }
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-xl {
  font-size: 1.66666666em;
  line-height: 1em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x,
.fa-stack-3x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-stack-3x {
  font-size: 3em;
}
.fa-inverse {
  color: #ffffff;
}


// Social media

ul {
  &.vdm-social-media {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0 $vdm-icon-social-media-padding-right-lists 0 0;
      display: inline-block;
      &:last-of-type {
        margin: 0;
      }
      a {
        &.social-icon {
          display: block;
        }
      }
    }
  }
}

/* a {
  &.social-icon {
    height: $vdm-icon-social-media-scale;
    padding-left: $vdm-icon-social-media-scale + $vdm-icon-social-media-padding-right;
    line-height: $vdm-icon-social-media-scale;
    display: inline-block;

    color: $vdm-black;
    text-decoration: none;
    &:hover, 
    &:active {
      color: $vdm-black;
      text-decoration: underline;
    }
  
    &.facebook {
      background: url('#{$assets-icons-path}/ic-facebook.png');
      background: url('#{$assets-icons-path}/ic-facebook.svg') no-repeat 0 0;
    }
    &.linkedin {
      background: url('#{$assets-icons-path}/ic-linkedin.png');
      background: url('#{$assets-icons-path}/ic-linkedin.svg') no-repeat 0 0;
    }
    &.twitter {
      background: url('#{$assets-icons-path}/ic-twitter.png');
      background: url('#{$assets-icons-path}/ic-twitter.svg') no-repeat 0 0;
    }
    &.youtube {
      background: url('#{$assets-icons-path}/ic-youtube.png');
      background: url('#{$assets-icons-path}/ic-youtube.svg') no-repeat 0 0;
    }
    &.inverse {
      &.facebook {
        background: url('#{$assets-icons-path}/ic-facebook-black-white.png');
        background: url('#{$assets-icons-path}/ic-facebook-black-white.svg') no-repeat 0 -65px;
      }
    }
  }
} */

// test social icon font
a {
  position: relative;
  &.social-icon {
    //height: $vdm-icon-social-media-scale;
    //padding-left: $vdm-icon-social-media-scale + $vdm-icon-social-media-padding-right;
    //line-height: $vdm-icon-social-media-scale;
    display: inline-block;
    font-size: 1rem;
    color: $vdm-black;
    line-height: $social-icon-font-size;
    margin-left: $social-icon-font-size * 1.15;
    text-decoration: none;
    &:hover, 
    &:active {
      color: $vdm-black;
      text-decoration: underline;
      &:before {
        text-decoration: none;
      }
    }
  
    &.facebook {
      &:before {
        content: "\E800";
      }
    }
    &.linkedin {
      &:before {
        content: "\E801";
      }
    }
    &.twitter {
      &:before {
        content: "\E802";
      }
    }
    &.youtube {
      &:before {
        content: "\E803";
      }
    }
    &.instagram {
      &:before {
        content: "\E804";
      }
    }
    &.googleplus {
      &:before {
        content: "\E805";
      }
    }
    &.inverse {
      &.facebook {
        color: white;
      }
    }
    &:before {
      display: inline-block;
      font-size: $social-icon-font-size;
      font-family: $social-icon-font-family;
      position: absolute;
      left: -$social-icon-font-size * 1.15;
    }
  }
}