// @file layout.scss


html {
  body {
    background-color: $vdm-white;
  }
  header {
    background-color: $vdm-sub-brand;
    height: 100px;
    .header-logo {
      background-color: $vdm-white;
      float:left;
      height:100px;
      img {
        padding-top:25px;
        padding-left:50px;
        padding-right:50px;
        height:75%;
      }
    }
    .header-nav {
      float:right;
      ul {
        padding-top:35px;
        list-style-type: none;
        li {
          float: left;
          padding-right:40px;
          a {
            color: $vdm-white;
          }
        }
      }
      .header-primary-nav {
        float:right;
      }
      .header-search {
        float:right;
        min-width: 100px;
        padding-top:14px;
        padding-right:40px;
        form {
          display:inline;
        }
        i {
          color:$vdm-white;
        }
      }
    }
  }
}
