// @file layout.scss


html {
  body {
    background-color: $vdm-white;
  }
  header {
    background-color: $vdm-sub-brand;
    height: 100px;
    .header-logo {
      background-color: $vdm-white;
      float:left;
      height:100px;
      img {
        padding-top:25px;
        padding-left:50px;
        padding-right:50px;
        height:75%;
      }
    }
    .header-nav {
      float:right;
      ul {
        padding-top:35px;
        list-style-type: none;
        li {
          padding-right:40px;
          a {
            color: $vdm-white;
          }
        }
      }
      .header-primary-nav {
        float:right;
      }
      .header-search {
        float:right;
        min-width: 100px;
        padding-top:14px;
        padding-right:40px;
        form {
          display:inline;
        }
        i {
          color:$vdm-white;
        }
      }
    }
  }
  footer {
    background-color: $vdm-sub-brand;
    // height: 340px;
    padding-top: 45px;
    ul {
      float:left;
      padding:0;
      margin:0;
      list-style-type: none;
      width:100%;
      li {
        // padding-bottom: 12px;
        // padding-top: 12px;
        float:left;
        width:100%;
        .link {
          float:left;
          padding-top:4px;
        }
        .link-arrow {
          float:right;
        }
      }
    }
    hr {
      border: solid 2px $vdm-white;
    }
    span {
      color: $vdm-white;
    }
    i {
      color: $vdm-white;
    }
    a {
      color: $vdm-white;
    }
    a:hover {
      color: $vdm-white;
    }
    .services-citoyen {
      float:left;
      margin-bottom:40px;
      .services-citoyen-311 {
        .number311 {
          float:left;
          font-size: 350%;
        }
        .title {
          float:right;
          padding-top: 18px;
          padding-left:25px;
        }
      }
      .services-citoyen-horaires {
        .open {
          background: $vdm-sarcelle;
          display: inline-block;
          border-radius: 50%;
          width: 14px;
          height: 14px;
        }
        .hours {
          font-size: $vdm-font-size-smaller;
        }
      }
    }
    .horaires {
      .link-arrow {
        float:left;
        padding-left:20px;
      }
    }
    .language {
      text-align:right;
    }
    .social-media {
      text-align: right;
      margin-top:90px;
    }
    .copyright {
      font-size: $vdm-font-size-smaller;
      padding-bottom:20px;
    }
  }
}
