// @file layout.scss

/*

* {
  box-sizing: border-box;
}
*/

html {
  body {
    background-color: $vdm-white;
  }
  // Header here

  // Footer here

  // Main region and columns here
  .sidebar {
    >* {
      background-color: $vdm-grey-light
    }
  }

}

