// @file mixins.scss

/**
 * - - - - - - - - - -
 * == Typography
 * - - - - - - - - - -
 */

// @arg $level - integrer [1-6]
// @arg $weight - string ['light','regular','bold']
 @mixin header($level: 1, $weight: 'regular') {

  font-family: $vdm-font-family;
  font-size: $vdm-font-size-base * 4.1875;        // 67px
  line-height: $vdm-line-height-base * 5.6250;    // 92px
  font-weight: $vdm-font-weight-regular;
  display: block;

  // WTF is this, should we, really, reset all headers vertical margins?
  // margin-top: 0;
  // margin-bottom: 0;

  @if $level == 2 {
    font-weight: $vdm-font-weight-light;
    font-size: $vdm-font-size-base * 3.125;       // 50px
    line-height: $vdm-line-height-base * 3.2857;  // 69px

  } @else if $level == 3 {
    font-size: $vdm-font-size-base * 2.3125;      // 37px
    line-height: $vdm-line-height-base * 2.3809;  // 50px

  } @else if $level == 4 {
      font-size: $vdm-font-size-base * 1.750;       // 28px
      line-height: $vdm-line-height-base * 1.8095;  // 38px
      font-weight: $vdm-font-weight-regular;

      @if $weight == 'bold' {
        font-weight: $vdm-font-weight-bold;
      }
  } @else if $level == 5 {
    font-size: $vdm-font-size-base * 1.3125;      // 21px
    line-height: $vdm-line-height-base * 1.3333;  // 28px

  } @else if $level == 6 {
    font-size: $vdm-font-size-base * 1.0000;      // 16px
    line-height: $vdm-line-height-base * 1.0000;  // 26px
  }
 }




 /**
  * Vdm fonticon mixin
  * Reference : http://jaydenseric.com/blog/fun-with-sass-and-font-icons
  *
  * @arg $position [string] - [before, after, both]
  * @arg $icon [string or false] - a member of the $icons variable
  * @arg $styles [boolean] - whther the extra styles rules shoudl be applied or just the content attribute
  *
  * Usage 
  * <a href="#" class="some-class">Some text</a>
  *
  * .some-class {
  *     @include icon(before, rosette);
  * }
  *
  *
  */


// Generate all .ic-icon classnames : 
[class^="ic-"]:before,
[class*=" ic-"]:before {
    font-weight: normal;
    font-style: normal;
    font-family: $vdm-icon-font-family;
}

// @see variable $icons in variables.scss -- contains all characters
// mapping & object names as in   document: "\E012";
@each $name, $char in $icons {
    .ic-#{$name} {
        content: $char;
    }
}


@mixin icon($position: before, $icon: false, $styles: true) {
    @if $position == both {
        $position: 'before, &:after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &:#{$position} {

        @if $icon {
            // A particular icon has been specified
            content: "#{map-get($icons, $icon)}";
        }

        @if $styles {
            font-weight: normal;
            font-style: normal;
            font-family: $vdm-icon-font-family;
            text-decoration: none;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        @content;
    }
}




/**
 * - - - - - - - - - -
 * == UI
 * - - - - - - - - - -
 */

//== Accents
// - - - - - - - - - -

@mixin drop-shadow(
    $dist-top: 0,
    $dist-right: 5px,
    $dist-bottom: 11px,
    $dist-left: 0 ,
    $color-r: 0,
    $color-g: 0,
    $color-b: 0,
    $opacity: 0.27
  ) {

    box-shadow: $dist-top $dist-right $dist-bottom $dist-left rgba(
      $color-r,
      $color-g,
      $color-b,
      $opacity
    );

    // $forms-ds-color-r: 0;
    // $forms-ds-color-g: 0;
    // $forms-ds-color-b: 0;
    // $forms-ds-opacity: 0.27;
    // $forms-ds-right-size: 5px;
    // $forms-ds-bottom-size: 11px;
}


/**
 * - - - - - - - - - -
 * == Forms
 * - - - - - - - - - -
 */

//== Buttons
// - - - - - - - - - -
@mixin button-alter($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
}

// Button sizes
@mixin button-alter-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

/**
 * - - - - - - - - - -
 * == DEBUG
 * - - - - - - - - - -
 */

//== Debugging mixins

// - - - - - - - - - -
// Debug : quickly add border to element
@mixin db-border($color: $vdm-grey) {
  border: 1px solid $color;
}
