// @file mixins.scss

/**
 * - - - - - - - - - - 
 * == Typography
 * - - - - - - - - - - 
 */

// @arg $level - integrer [1-6]
// @arg $weight - string ['light','regular','bold']
 @mixin header($level: 1, $weight: 'regular') {

  font-family: $font-family;
  font-size: $font-size-base * 4.1875; // 37px
  font-weight: $font-weight-regular;
  line-height: $headings-line-height;

  @if $level == 2 {
    font-weight: $font-weight-light;
    font-size: $font-size-base * 3.125;   // 50px
  } @else if $level == 3 {
    font-size: $font-size-base * 2.3125;  // 37px
  } @else if $level == 4 {
    font-size: $font-size-base * 1.750;   // 28px
    @if $weight == 'bold' {
      font-weight: $font-weight-bold;
    }
  } @else if $level == 5 {
    font-size: $font-size-base * 1.3125; // 21px
  } @else if $level == 6 {
    font-size: $font-size-base * 1.0000; // 16px
  }
 }

/**
 * - - - - - - - - - - 
 * == UI
 * - - - - - - - - - - 
 */

//== Accents
// - - - - - - - - - - 

@mixin drop-shadow(
    $dist-top: 0, 
    $dist-right: $forms-ds-right-size, 
    $dist-bottom: $forms-ds-bottom-size, 
    $dist-left: 0 ,
    $color-r: $forms-ds-color-r,
    $color-g: $forms-ds-color-g,
    $color-b: $forms-ds-color-b,
    $opacity: $forms-ds-opacity
  ) {

    box-shadow: $dist-top $dist-right $dist-bottom $dist-left rgba(
      $forms-ds-color-r,
      $forms-ds-color-g,
      $forms-ds-color-b,
      $opacity
    );
}


/**
 * - - - - - - - - - - 
 * == Forms 
 * - - - - - - - - - - 
 */

//== Buttons
// - - - - - - - - - - 
@mixin button-alter($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
}

// Button sizes
@mixin button-alter-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}