

// Breadcrumb
.vdm-breadcrumb {
  background-color: $vdm-white;
  font-size: $vdm-font-size-smaller;
  color: $vdm-brand;
  >li {

    a {
      
    }
    &.active {
      color: $vdm-black;
    }
  }
  >li + li {
    &:before {
      color: $vdm-brand;
      padding: 0 1.1rem;
    }
  }
}

// Breadcrumb
// @todo -- review this code with a real reference, this is imaginary
.vdm-pagination {
  border: none;
  border-radius: 0;
  >li {
     border: none;
    a {
      color: $vdm-brand;
      border: none;
      &:hover, 
      &:active {
        color: $vdm-black;
      }
    }
    &.active {
      color: $vdm-black;
      a {
        background-color: $vdm-brand;
        &:hover, 
        &:active {
          background-color: $vdm-brand;
        }
      }
     
    }
    // @todo -- get thisfirst & last selector working
    &:first-child, 
    &:last-child {
        > a {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
    }

  }
}
