
// Anything that is a top level sidebar in the layout.
// See also base definition in the layout.scss document.
.sidebar { 
}

// A single vertical unit that makes sense as a unit
.sidebar-box {
    padding: $vdm-sidebar-box-v-padding $vdm-sidebar-box-h-padding;
    padding-bottom: 3rem;
    
    &:last-of-type {
      padding-bottom: 0;
    }

    .vdm-title {
        margin-bottom: 2em;
    }

    &.form {

        form{
            width: 96%;
            padding-left: 2%;
            padding-right: 2%;
            margin-top: 2.5rem;
        } 

        .vdm-btn {
            display: block;
            @extend .mx-auto;
            margin-top: 2rem;
        }

        &.wide-buttons {
            .vdm-btn {
               width: 100%
            }  
            &.stacked-buttons {
                .vdm-btn {
                    margin-top: 1.35rem;
                }  
            }
        }
    }
}