// @file ui-buttons-switches-tabs.scss


// Buttons
// -------------------------
.vdm-btn {
    display: inline-block;
    height: $vdm-btn-height;	
    width: auto;
    padding: $vdm-btn-padding-y $vdm-btn-padding-x;
    border-radius: $vdm-btn-height;	
    background-color: $vdm-brand;
    text-align: center;
    font-size: $vdm-font-size-base;
    color: $vdm-white;
    border: $vdm-form-border;
    text-shadow: none;
    margin-right:0.725em;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    background-image: none; 
    &:last-of-type {
        margin-right: 0;
    }
    
    &:active,
    &:hover {
        @include drop-shadow();
        color: $vdm-white;
        background-color: $vdm-brand;

    }

    &.vdm-btn-sm {
        height: $vdm-btn-small-height;
        font-size: $vdm-font-size-smaller;
        border-radius: $vdm-btn-small-height;	
    }

    &[disabled="disabled"] {
        color: $vdm-form-disabled-text-color;
        border: $vdm-form-border;
        background-color: $vdm-form-disabled-bg-color;
        &:active,
        &:hover {
            box-shadow: unset;
            color: $vdm-form-disabled-text-color;
            background-color: $vdm-form-disabled-bg-color;
        }
        
    }

    &.vdm-btn-secondary {
        color: $vdm-form-alt-text-color;
        border: $vdm-form-alt-border;
        background-color: $vdm-form-alt-bg-color;
        padding: ( $vdm-btn-padding-y - $vdm-btn-border-width ) ( $vdm-btn-padding-x - $vdm-btn-border-width );
        &[disabled="disabled"] {
            color: $vdm-form-disabled-text-color;
            border: $vdm-form-disabled-secondary-border;
            background-color: $vdm-form-alt-bg-color;
            
            &:active,
            &:hover {
                box-shadow: unset;
                border: $vdm-form-alt-border;
                background-color: $vdm-form-alt-bg-color;
                border: $vdm-form-disabled-secondary-border;
                padding: ( $vdm-btn-padding-y - $vdm-btn-border-width ) ( $vdm-btn-padding-x - $vdm-btn-border-width );
                
            }
        }
        
        &:active,
        &:hover {
             @include drop-shadow(
                3px, 
                5px, 
                11px, 
                2px,
                0,
                0,
                0,
                0.27
            );
            border: none;
            background-color: $vdm-form-alt-bg-color;
            padding: $vdm-btn-padding-y $vdm-btn-padding-x;
        }

    }
}

a {
    &.vdm-btn {
        padding-top: 1em;
        display: inline-block;
        text-decoration: none;
    }
}

// Switches - Checkboxes as state toggles
// -------------------------


.vdm-checkbox {
    // Massive negative offset clers the original checkbox & label.
    &.vdm-toggle {
        position: relative;
        input {
            &[type="checkbox"] {  
                position: absolute;
                left: -10000px;
                visibility: hidden;

                // Graphics container
                & + label {
                    position: relative;
                    text-indent : -10000px;
                    height: $vdm-switch-height;
                    width: $vdm-switch-width;
                    user-select: none;

                    &:before,
                    &:after {
                        display: block;
                        position: absolute;
                        content: "";
                    }

                    // Inside button
                    &:after {
                        top: $vdm-switch-padding;
                        left: $vdm-switch-padding;
                        bottom: $vdm-switch-padding;
                        right: $vdm-switch-padding;
                        background-color: $vdm-form-bg-color;
                        border-radius: $vdm-switch-border-radius;
                        width: $vdm-switch-width-inside;
                    }

                    // Outside pill
                    &:before {
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-color: transparent;
                        border: $vdm-element-border-width solid $vdm-form-bg-color;;
                        border-radius: $vdm-switch-border-radius-inside;
                        width: $vdm-switch-width;
                    }

                }

                &[checked="checked"] {
                    & + label {
                        // Inside button
                        &:after {
                           background-color: $vdm-white; 
                           margin-left: $vdm-switch-width-inside + $vdm-switch-padding;
                        }

                        // Outside pill
                        &:before {
                            background-color: $vdm-form-bg-color;
                            border: 0;
                        }
                        
                    }

                }   //  Checked

                &[disabled="disabled"] {
                    & + label {

                        // Inside button
                        &:after {
                           background-color: $vdm-white; 
                           margin-left: 0;
                        }

                        // Outside pill
                        &:before {
                            background-color: $vdm-form-disabled-bg-color;
                            border: 0;
                        }
                        
                    }
                }   //  Disabled

                &[disabled="disabled"] {
                    &[checked="checked"] {
                        & + label {
                            // Inside button
                            &:after {
                                margin-left: $vdm-switch-width-inside + $vdm-switch-padding;
                            }

                            // Outside pill
                            &:before {
                                background-color: $vdm-form-disabled-bg-color;
                            }
                            
                        }

                    }
                }   //  Disabled & checked
            }
        }
    } // Toggle
}   //  Checkboxes



// Navigation tabs
// -------------------------


// @ to-do : make variables out of paddings, border heights &&
.vdm-tabs {
    border: 0;
    >li {
        margin-bottom: 0;
        >a {
            color: $vdm-neutral-mid;
            background: $vdm-grey-light;
            border: 0;
            padding: $vdm-tabs-v-padding $vdm-tabs-h-padding;
            border-radius: 0;
            margin-right: $vdm-tabs-spacing;
            line-height: $vdm-tabs-line-height;
            
            &:hover,
            &:focus {
                background: $vdm-white;
                border: 0;
                color: $vdm-link;
            }
        }

        &.active {
            // border-bottom: 4px solid $vdm-brand;

            // Simulated border with background color & border raduis
            &:before {
                content: " ";
                position: absolute;
                display: block;
                height: $vdm-tabs-spacing;
                border-radius: $vdm-tabs-spacing;
                width: calc(100% - #{$vdm-tabs-spacing});
                background: $vdm-brand;
                bottom: 0;
                z-index: 2;
            }
            

            >a {      
                color: $vdm-link;
                border: 0;

                &:hover,
                &:focus {
                    border: 0;
                    color:  $vdm-link;
                    margin-bottom: 0;
                }

            }

        }
        &:last-of-type {
            >a {
                margin-right: 0;
            }
            &.active {
                &:before {
                    width: 100%;
                }
            }
        }
    } // >li

    
    // Justified tabs
    &.nav-tabs {
        &.nav-justified {
            >li {
                >a {
                    margin-bottom: 0;
                    border-bottom: 0;
                    border-radius: 0;
                    margin-right: $vdm-tabs-spacing;
                }
            }
            >.active {
                @media screen and (max-width: $screen-sm-max) {
                    &:before {
                        height: $vdm-tabs-spacing;
                        border-radius: $vdm-tabs-spacing;
                        bottom: -2px;
                    }
                }
                
                a { 
                    border: 0;
                    border-bottom: 0;
                }
            }
            >li {
                &:last-of-type {
                    >a {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    // Red borders on top;
    &.nav-tabs {
        &.vdm-tabs-border-top {
            >li {
                >a {
                    &:hover, 
                    &:active {
                        color: $vdm-black;
                    }
                }
                &.active {
                    >a {
                        color: $vdm-black;
                    }
                
                    &:before {
                        background: $vdm-sub-brand;
                        top: 0;
                    }
                }
              
            }
        }
    }
}// vdm




