// @file ui-nav-blocks.scss


.card {
    background: $vdm-white;
    border-radius: 0;
    display: block;
    padding: 8rem 2rem 1rem 2rem;
    border: 1px solid $vdm-brand;
    text-align: center;
    text-decoration: none;
    color: $vdm-black;
    cursor: pointer;
    line-height: floor(($vdm-font-size-base * 1.2));

    &:hover,
    &:active {
        color: $vdm-white;
        background: $vdm-brand;
        text-decoration: none;
         &:before {
            color: $vdm-white;
         }
    }

    // Fonticon
    &:before {
        font-size: 3.6rem;
        width: 3.6rem;
        height: 3.6rem;
        line-height: 3.6rem;
        position: absolute;
        text-decoration: none;
        color: $vdm-brand;
    }
    
    &.card-base {
        &:before {
            left: calc(50% - 1.8rem);
            top: 3.4rem;
        }
    }

    // Large card, icon on left, ttle & teaser features at least, 
    &.card-large {
        background: $vdm-grey-light;
        padding: 2.3rem 2.3em 3rem 7.75rem;
        border: 0;
        text-align: left;
        min-height: 12rem;

        @media only screen and (max-width: $screen-xs-max) {
            padding: 8rem 2.3rem 2.5rem 2.3rem;
        }

        // Fonticon
        &:before {
            font-size: 3.6rem;
            left: 3.25rem;
            top: calc(50% - 1.8rem);
            @media only screen and (max-width: $screen-xs-max) {
                top: 2.3rem;
                left: calc(50% - 1.8rem);
            }
        }

        &:hover,
        &:active {
            background: $vdm-brand;
        }

        .title {
           @include header(4);
           font-weight: $vdm-font-weight-bold;
           padding-top: 0;
           margin-top: 0;
           margin-bottom: 2.4rem;
           @media only screen and (max-width: $screen-xs-max) {
                margin-bottom: 1.8rem;
            }
        }

        .content {
            font-size: $vdm-font-size-base;
            line-height: floor(($vdm-font-size-base * 1.625));

            &:first-of-type {
                margin-top: 0;
                padding-top: 0
            }
            &:last-of-type {
                margin-bottom: 0;
                padding-bottom: 0
            }
            
        }

    }

    // Loop over all icons in the set to produce the classes & invoke the icon() mixin
    @each $name, $char in $icons {
        &.ic-#{$name} {
            @include icon(before, $name);
        }
    }

}


// Base block : tile -- keep ? Seems to be replaced with the card block type above
.tile {
    display: block;
    background: $vdm-neutral-light;
    display: flex;
    align-items : center;
    justify-content: center;
    border: 1px solid $vdm-brand;

    // Navigation tile : this element is always hyperlinked
    &.tile-nav {
        text-decoration: none;
        color: $vdm-black;
        &:hover,
        &:active {
            color: $vdm-white;
            background: $vdm-brand;
            .wrapper {
                h3 {
                    color: $vdm-white;
                }
                .vdmi {

                    color: $vdm-white;
                }
            }
        }
    }

    // Implements vdm-fonticon
    &.tile-icon {
        width: 170px;
        height: 170px;
    }

    // Insures bi-axial centering in the flex grid
    .wrapper {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        // Icon
        .vdmi {
            font-size: 3em;
            color: $vdm-brand;
            cursor: pointer;
            margin-bottom: 0.15em;
        }
        // Label
        h3 {
            font-size: $vdm-font-size-base;
            $font-weight: $vdm-font-weight-regular;
            cursor: pointer;
            line-height: 1.6em;
        }

    }
}

// Teasers
// Teaser picture
.teaser {
    display: block;
    padding: 0;
    background: $vdm-grey-light;
    text-decoration: none;
    color: $vdm-text;
    overflow: hidden;
    cursor: pointer;

    &:hover, 
    &:active {
        text-decoration: underline;
        background: darken($vdm-grey-light, 4%);
    }

    .content {
        padding: 1.9rem 1.9rem 1.3rem 1.9rem;
        width: 100%;
        height: 100%;
        .title {
            @include header(4);
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 1.5rem;
        }
        .vdm-label {
            background: transparent;
            text-decoration: none;
        }
    }

    &.teaser-picture {
        display: flex;
        align-items: flex-end;

        >img, 
        .content {
            // Vertically align each flex slave
            align-self: flex-start;
        }
        .content {
            // Grow content to fill unallocated space
            flex: 1;
        }
        >img {
            margin-left: 1rem;
            max-width: 300px;

            order: 1;
        }
        // Position picture first, reset margins, change flex-axis
         @include media-breakpoint-down(sm) {
            flex-direction: column;
            >img {
                margin: 0;
                max-width: 100%;
                order: -1;
            }
        }
    }

    &.teaser-alert {
        box-sizing: border-box;
        position: relative;
        // font-size: 125%; // -- Use this to tests scalability 
        // padding-left: 9rem;
        min-height: 4rem;

        @include icon(before, rosette);
        @include icon(after, arrow-right);

        &:hover, 
        &:active {

            text-decoration: none;
            &:after {
                color: $vdm-black;
            }

            .content {
                .what {
                    // text-decoration: underline; 
                }
            }

        }

        &:before {
            position: absolute;
            font-size: 4.9rem;
            line-height: 4.9rem;
            width: 4.9rem;
            height: 4.9rem;
            top: calc(50% - 2rem); // Perceptual -- should work out to 0.65
            left: 2rem;
            pointer-events: none;
            color: $vdm-black;
        }

        &:after {
            font-size: 5.2rem;
            line-height: 5.2rem;
            width: 5.2rem;
            height: 5.2rem;
            position: absolute;
            top: calc(50% - 2.6rem);
            right: 2rem;
            display: block;
            text-align: center;
            pointer-events: none;
            color: $vdm-brand;
        }


        .content {
            display: inline-block;
            vertical-align: middle; // key for vertical centering w/inline-block;
            width: 70.5%;
            padding: 2.75rem 1.7rem 4.8rem 9rem;
            margin-right: 3%;
            
            .what {
                @include header(4);
                margin-top: 0;
                margin-bottom: 0.25rem;

            }
            .where {
                font-size: $vdm-font-size-larger;
                line-height: floor(($vdm-font-size-larger * 1.3125));
                margin-bottom: 1.5rem;
            }
            .when {
                font-size: $vdm-font-size-larger;
                line-height: floor(($vdm-font-size-larger * 1.3125));
                margin-bottom: 0;
                padding-bottom: 0;
                color: #9b9b9b; // !warning - color out of range
                
            }
            
            
        }
        .metadata {
            display: inline-block;
            vertical-align: middle; // key for vertical centering w/inline-block;
            
            color: #4a4a4a; // !warning - color out of range
            position: relative;
            font-size: $vdm-font-size-base;
            width: 12%;
            text-decoration: none;

            // border: 1px solid turquoise;

            .identifier {

            }
        }
        
        // Small and x-small - mobile
        @media only screen and (max-width: $screen-sm-max) {
            
            &:before {
                top: 1.7rem;
            }
            &:after {
                top: calc(100% - 6rem);
                left: calc(50% - 2.6rem);
                right: auto;
            }

            .content {
                border: 1px solid lime;
                padding: 1.7rem 1.7rem 5.5rem 9rem;
                display: block;
                width: 100%;
                margin-bottom: 2rem;

                
                .where {
                    margin-bottom: 2.5rem;
                }
                
            }
            .metadata {
                // border: 1px solid violet;
                display: none;
                width: 100%;
                
            }
        }

        // X-small - mobile only
        @media only screen and (max-width: $screen-xs-min) {
            border: 1px solid orange;
            
            &:before {
                display: none;
            }
            &:after {
                top: calc(100% - 6rem);
            }

            .content {
                // border: 1px solid orange;
                padding: 1.7rem 1.7rem 3rem 1.7rem;
                margin-bottom: 3rem;
                .what {
                    margin-bottom: 1.2rem;
                }
            }
            .metadata {
                text-align: center;
                // border: 1px solid yellow;
            }

        }
         
         
            
    } // Teaser alert
}


