// @file ui-buttons-switches-tabs.scss
.vdm-btn {

    display: inline-block;
    height: $vdm-btn-default-height;	
    width: auto;
    padding: $vdm-btn-default-padding-y $vdm-btn-default-padding-x;
    border-radius: $vdm-btn-default-height;	
    background-color: $vdm-brand;
    text-align: center;
    font-size: $vdm-font-size-base;
    color: $vdm-white;
    border: $vdm-form-border;
    text-shadow: none;
    margin-right:0.725em;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;

    &:last-of-type {
        margin-right: 0;
    }
    
    &:active,
    &:hover {
        @include drop-shadow();
        color: $vdm-white;
        background-color: $vdm-brand;

    }

    &.vdm-btn-sm {
        height: $vdm-btn-small-height;
        font-size: $vdm-font-size-smaller;
        border-radius: $vdm-btn-small-height;	
    }

    &[disabled="disabled"] {
        color: $vdm-form-disabled-text-color;
        border: $vdm-form-border;
        background-color: $vdm-form-disabled-bg-color;
        &:active,
        &:hover {
            box-shadow: unset;
            color: $vdm-form-disabled-text-color;
            background-color: $vdm-form-disabled-bg-color;
        }
        
    }

    &.vdm-btn-secondary {
        color: $vdm-form-alt-text-color;
        border: $vdm-form-alt-border;
        background-color: $vdm-form-alt-bg-color;
        padding: ( $vdm-btn-default-padding-y - 2px ) ( $vdm-btn-default-padding-x - 2px );
        &[disabled="disabled"] {
            color: $vdm-form-disabled-text-color;
            border: $vdm-form-disabled-secondary-border;
            background-color: $vdm-form-alt-bg-color;
            
            &:active,
            &:hover {
                box-shadow: unset;
                border: $vdm-form-alt-border;
                background-color: $vdm-form-alt-bg-color;
                border: $vdm-form-disabled-secondary-border;
            }
        }
        
        &:active,
        &:hover {
            
             @include drop-shadow(
                3px, 
                5px, 
                11px, 
                2px,
                0,
                0,
                0,
                0.27
            );
            border: none;
            background-color: $vdm-form-alt-bg-color;
        }

    }
}

a {
    &.vdm-btn {
        padding-top: 1em;
        display: inline-block;
    }
}


.vdm-tabs {
    border: none;
    > li {
        background: transparent;
        &.active {

        }
        
        > a {
            color: $vdm-brand;
        }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        // color: $nav-tabs-active-link-hover-color;
        // background-color: $nav-tabs-active-link-hover-bg;
        // border: 1px solid $nav-tabs-active-link-hover-border-color;
        // border-bottom-color: transparent;
        // cursor: default;
      }
    }
}

