// @file ui-nav-blocks.scss

// Base pseudo-element : tile
.tile {
    display: block;
    background: $vdm-neutral-light;
    display: flex;
    align-items : center;
    justify-content: center;
    border: 1px solid $vdm-brand;

    // Navigation tile : this element is always hyperlinked
    &.tile-nav {
        text-decoration: none;
        color: $vdm-black;
        &:hover,
        &:active {
            color: $vdm-white;
            background: $vdm-brand;
            .wrapper {
                h3 {
                    color: $vdm-white;
                }
                .vdmi {

                    color: $vdm-white;
                }
            }
        }
    }

    // Implements vdm-fonticon
    &.tile-icon {
        width: 170px;
        height: 170px;
    }

    // Insures bi-axial centering in the flex grid
    .wrapper {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        // Icon
        .vdmi {
            font-size: 3em;
            color: $vdm-brand;
            cursor: pointer;
            margin-bottom: 0.15em;
        }
        // Label
        h3 {
            font-size: $vdm-font-size-base;
            $font-weight: $vdm-font-weight-regular;
            cursor: pointer;
            line-height: 1.6em;
        }
        
    }

    

}