// @file ui-buttons-switches-tabs.scss

button[type="button"], 
button[type="button"].btn {
    
    height: $btn-default-height;	
    width: auto;
    padding: $btn-default-padding-y $btn-default-padding-x;
    border-radius: $btn-default-height;	
    background-color: $ui;
    text-align: center;
    font-size: $font-size-base;
    color: $white;
    border: $felem-border;
    text-shadow: none;
    margin-right:0.725em;
    &:last-of-type {
        margin-right: 0;
    }
    
    &:active,
    &:hover {
        @include drop-shadow();
        color: $white;
        background-color: $ui;

    }



    &.btn-sm {
        height: $btn-small-height;
        font-size: $font-size-smaller;
        border-radius: $btn-small-height;	
    }

    &[disabled="disabled"] {
        color: $felem-disabled-text-color;
        border: $felem-border;
        background-color: $felem-disabled-bg-color;
        &:active,
        &:hover {
            box-shadow: unset;
            color: $felem-disabled-text-color;
            background-color: $felem-disabled-bg-color;
        }
        
    }

    &.btn-secondary {
        color: $felem-alt-text-color;
        border: $felem-alt-border;
        background-color: $felem-alt-bg-color;
        padding: ( $btn-default-padding-y - 2px ) ( $btn-default-padding-x - 2px );
        &[disabled="disabled"] {
            color: $felem-disabled-text-color;
            border: $felem-disabled-secondary-border;
            background-color: $felem-alt-bg-color;
            
            &:active,
            &:hover {
                box-shadow: unset;
                border: $felem-alt-border;
                background-color: $felem-alt-bg-color;
                border: $felem-disabled-secondary-border;
            }
        }
        
        &:active,
        &:hover {
             @include drop-shadow(
                3px, 
                $forms-ds-right-size, 
                $forms-ds-bottom-size, 
                2px,
                $forms-ds-color-r,
                $forms-ds-color-g,
                $forms-ds-color-b,
                $forms-ds-opacity
            );
            border: $felem-alt-border;
            background-color: $felem-alt-bg-color;
        }

    }
}

.btn-primary {
    &.btn {
        @extend button[type="button"];
        box-shadow: unset;
        font-size: $font-size-base;
    }  
}
a {
    &.btn-primary {
        &.btn {
            @extend button[type="button"];
            box-shadow: unset;
            padding-top: 1em;
            font-size: $font-size-base;
        }  
    }
}
