// @file variables.scss

//= = = = Colors = = = =
//
//== Neutrals

$vdm-white:               #FFFFFF;
$vdm-black:               #000000;
$vdm-sarcelle:            #429A8E;
$vdm-grey-light:          #F2F2F1;
$vdm-grey:                #80807F;
$vdm-red:                 #E00000;

$vdm-neutral-mid:         #80807F;
$vdm-neutral-light:       #E7E5E5;

//== Brand

$vdm-brand:                 #429A8E;
$vdm-sub-brand:             #E00000;

// - - - - - - - - - -
// == Scaffolding
// - - - - - - - - - -

//== Links

//** Global text color on `<body>`
$vdm-text:            $vdm-black;
//** Global textual link color
$vdm-link:            $vdm-brand;
$vdm-icon-link:       $vdm-black; // Arrow link
//** Link hover color
$vdm-link-hover:      $vdm-black;
//** Link hover decoration
$vdm-link-hover-decoration: underline;
$vdm-icon-link-hover-decoration: none;  // Arrow link

// - - - - - - - - - -
// == Typography
// - - - - - - - - - -

//== Font Family
$vdm-font-family:             'Nunito Sans', Helvetica, Arial, sans-serif;

//== Font Weight
$vdm-font-weight-light:        300; // Nunito Sans Light
$vdm-font-weight-regular:      400; // Nunito Sans Regular
$vdm-font-weight-bold:         700; // Nunito Sans Bold

//== Fonts Size
$vdm-font-size-base:          16px;                            //  16px
$vdm-font-size-large:         ceil(($vdm-font-size-base * 1.125)); // ~18px
$vdm-font-size-small:         ceil(($vdm-font-size-base * 0.85));  // ~14px
$vdm-font-size-smaller:       ceil(($vdm-font-size-base * 0.75));  // ~12px

//== Line Height
$vdm-line-height-base:        floor(($vdm-font-size-base * 1.3125));   // 21px

//== Icons fonts -vdm-font-icon character
$vdm-icon-font-path: '../fonts/';
$vdm-icon-font-version: '0.5';
$vdm-icon-font-family : 'vdm-fonticon';

//== Font Awesome character
$fontawesome-icon-font-path: '../fonts/font-awesome-4.7.0';
$fontawesome-icon-font-version: '4.7.0';
$fontawesome-icon-font-family : 'fontawesome-fonticon';

// - - - - - - - - - -
// == UI - general -- split this cat. later
// - - - - - - - - - -


// - - - - - - - - - -
// == Forms
// - - - - - - - - - -

//== Form elements

$vdm-form-bg-color: $vdm-brand;
$vdm-form-text-color: $vdm-white;
$vdm-form-border: none;

// Secondary buttons
$vdm-form-alt-bg-color: $vdm-white;
$vdm-form-alt-text-color: $vdm-brand;
$vdm-form-alt-border: 2px solid $vdm-brand;

$vdm-form-disabled-bg-color: $vdm-neutral-light;
$vdm-form-disabled-text-color: $vdm-neutral-mid;
$vdm-form-disabled-secondary-border: 2px solid $vdm-neutral-light;

$vdm-btn-default-padding-x: 40px;
$vdm-btn-default-padding-y: 5px;
$vdm-btn-default-border-width: 2px;
$vdm-btn-default-height: 53px;
$vdm-btn-small-height: 40px;





