@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');
@import "variables.scss";

html {
  body {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;

    h1 {
      @include header(1);
    }
    h2 {
      @include header(2);
    }
    h3 {
      @include header(3);
    }
    h4 {
      @include header(4);
      &.strong {
        @include header(4, "bold");
      }
    }
    h5 {
      @include header(5);
    }
    h6 {
      @include header(6);
    }
    .regular {
      font-weight: $font-weight-regular;
    }
    .bold {
      font-weight: $font-weight-bold;
    }
    .light {
      font-weight: $font-weight-light;
    }
    .intro {
      font-family: $font-family;
      font-weight: $font-weight-regular;
      font-size: $font-size-intro;
      line-height: $line-height-intro;
    }
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
  }
}

