@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');
@import "variables.scss";

html {
  body {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-regular;
    font-size: 16px;

    h1, .h1 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-h1;
      font-size: $font-size-h1;
    }
    h2, .h2 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-h2;
      font-size: $font-size-h2;
    }
    h3, .h3 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-h3;
      font-size: $font-size-h3;
    }
    h4, .h4 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-h4;
      font-size: $font-size-h4;
    }
    h5, .h5 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-h5;
      font-size: $font-size-h5;
    }
    h6, .h6 {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-h6;
      font-size: $font-size-h6;
    }
  }
}

