// @file icons.scss


// >> Begin demo code for atoms-icons
// - - - - - - - - - -  - - - - - - 
$vdm-icon-font-path: '../fonts/';
$vdm-icon-font-version: '0.5';
$vdm-icon-font-familly : 'vdm-fonticon';

@font-face {
  font-family: $vdm-icon-font-familly;
  src: url('#{$vdm-icon-font-path}/vdm-font-icon.eot?v=#{$vdm-icon-font-version}');
  src: url('#{$vdm-icon-font-path}/vdm-font-icon.eot?v=#{$vdm-icon-font-version}') format('embedded-opentype'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.woff2?v=#{$vdm-icon-font-version}') format('woff2'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.woff?v=#{$vdm-icon-font-version}') format('woff'),
    url('#{$vdm-icon-font-path}/vdm-font-icon.ttf?v=#{$vdm-icon-font-version}') format('truetype');

  font-weight: normal;
  font-style: normal;
}


// >> Begin Nurun code code
// - - - - - -
#icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  text-align: -webkit-match-parent;
  border: 0;
  margin: 0;
  padding: 0;
  // Reset font-size & line height : important!
  font-size: 13px;
  line-height: 1;
  li {
    margin: 0 10px 10px 0;
    border: 0;
    padding: 0;
    display: inline-block;
    .font-glyph {
      font-family: $vdm-icon-font-familly !important;
      display: block;
      width: 128px;
      height: 128px;
      font-size: 128px;
      background-color: rgba(0, 0, 0, 0.05);
      text-rendering: geometricPrecision;
      -webkit-font-smoothing: antialiased;
      vertical-align: middle;
      font-smooth: always;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
      }
    }
    .font-glyphname {
      padding-top: 10px;
      font-size: 10px;
      font-weight: 100;
      display: block;
      width: 128px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:before {
        font-size: 16px;
        font-family: $vdm-icon-font-familly !important;
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
        vertical-align: middle;
        font-smooth: always;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
      }
      .glyph-address {
        cursor: pointer;
        color: #33b353;
      }
    }
  }
}
//  End Nurun code code <<


// >> Begin custom inline vdm code
// - - - - - -

// @ see primary reference for this implementation : http://fontawesome.io/examples/
// @ TO-DO : implement more modifiers, fetching inspiration from the main fa stylesheet

i {
  &.vdmi {
    display: inline-block;
    font: normal normal normal 14px/1 $vdm-icon-font-familly;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Scale modifiers
    &.vdmi-lg {
      font-size: 1.33333333em;
      line-height: 0.75em;
      vertical-align: -15%;
    }
    &.vdmi-2x {
      font-size: 2em;
    }
    &.vdmi-3x {
      font-size: 3em;
    }
    &.vdmi-4x {
      font-size: 4em;
    }
    &.vdmi-5x {
      font-size: 5em;
    }

    // Fixed width 
    &.vdmi-fw {
      width: 1.28571429em;
      text-align: center;
    }

    // Individual instances - Rinse & repeat
    &.vdmi-rosace {
      &:before {
        content: "\E000";
      }
    }

  }
}

// End custom inline vdm code <<
// End demo code for atoms-icons <<
// - - - - - - - - - -  - - - - - - 