// @file patternlab.scss

/**
 * Patternlab specific css -- all classes MUST begin w/ pl-
 * The code below lives for the sake of the patternlab instance & is not compiled along with the main site stylesheet
 * @see pattern-scaffolding.css in mustache demo starterkit for reference
 */

// Import a custom bootstrap import file
@import "bootstrap-imports.scss";
// Import an override file for bootstrap variables
@import "bootstrap-variables.scss";
// Import our local project variables
@import "variables.scss";

.sg-main {
  padding:20px 20px;
}

// - - - - - - - - - -  - - - - - -
//  * * * ATOMS * * *
// - - - - - - - - - -  - - - - - -

// Fonts
// - - - - - - - - - -  - - - - - -

// Titles
.pl-stroked-header {
  padding-top: 0.25em;
  // padding-left: 0.25em;
  // border-top: 1px solid #ddd;
  width: 93%;
}

// Scalers
.pl-small {
  font-size: 0.85em;
}
.pl-smaller {
  font-size: 0.75em;
}
.pl-smallest {
  font-size: 0.65em;
}

.pl-headers-wrapper {
  .pl-headers {
    >li {
      margin-bottom: 1.5rem;
    }
  }
}

// Documentation
// - - - - - - - - - -  - - - - - -
.pl-document {
  color: $vdm-neutral-mid;
  font-size: $vdm-font-size-small;
  ul {
    li {
      line-height: 1.3em;
      pre {
        width: 40%;
        color: $vdm-neutral-mid;
        background: $vdm-neutral-light;
      }
    }
  }
}

// Icons
// - - - - - - - - - -  - - - - - -
.pl-atom-icons-grid {
  .wrapper{
    @include make-row();
    @include clearfix();
    ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style: none;
      text-align: -webkit-match-parent;
      border: 0;
      margin: 0;
      padding: 0;
      // Reset font-size & line height : important!
      font-size: 13px;
      line-height: 1;
      >li {
        margin: 0 5px 10px 0;
        border: 0;
        padding: 0;
        display: inline-block;
        >i {
          &.vdmi {
            font-family: $vdm-icon-font-family !important;
            display: block;
            width: 128px;
            height: 128px;
            font-size: 128px;
            background-color: rgba(0, 0, 0, 0.05);
            text-rendering: geometricPrecision;
            -webkit-font-smoothing: antialiased;
            vertical-align: middle;
            font-smooth: always;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
          }
        }
        .ic-name,
        .ic-charcode {
          display: block;
          color: $vdm-neutral-mid;
          margin-top: 0.5em;
          font-size: $vdm-font-size-small;
        }
        .ic-name {
          color: $vdm-black;
        }

      }
    }
  }
}


// Colors
// - - - - - - - - - -  - - - - - -

.pl-atom-color {
  .pl-swatches-wrapper {
    @include make-row();
    @include clearfix();
    margin-top:30px;
    h2 {
      padding-left:12px;
    }
    .pl-swatches {
      @include make-xs-column(12);
      @include make-md-column(6);

      .pl-swatch-list {

        list-style-type: none;
        padding: 0;
        margin: 0;

        .pl-swatch {
          padding: 1em;

          // Hexadecimal identifier
          .pl-hex {
            display: block;
            float: right;
            width: 30%;
            font-size: $vdm-font-size-small;
            text-align: right;
          }
        }
      }
    }
  }

  .pl-swatches-color-table {
    tr {
      th {
        font-weight: $vdm-font-weight-bold;
        font-size: $vdm-font-size-base;
      }
      td {
        text-align: left;
      }
    }

    // Colors
    // Brand
    .pl-brand {
        background: $vdm-brand;
        color: $vdm-white;
    }
    .pl-sub-brand {
      background: $vdm-sub-brand;
      color: $vdm-white;
    }
    // Columns
    .pl-color-table-column-swatch {
      width: 5%;
    }
    .pl-color-table-column-name {
      width: 10%;
      font-weight: $vdm-font-weight-bold;
    }
    .pl-color-table-column-function {
      width: 73%;
    }
    .pl-color-table-column-accessibility {
      width: 7%;
    }

    .pl-swatch-round {
      border-radius: 20px;
      width: 40px;
      height: 40px;
      display: block;
      &.pl-swatch-accessibility,
      &.pl-swatch-accessibility-invert {
        border-radius: 15px;
        width: 30px;
        height: 30px;
        background: $vdm-neutral-light;
        color: $vdm-black;
        float: right;
        text-align: center;
        padding-top: 6px;
        font-size: $vdm-font-size-small;
        margin-right: 0.8em;
        &:after {
          content: 'AA';
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      &.pl-swatch-accessibility-invert {
        background: $vdm-black;
        color: $vdm-white;
        float: left;
      }

    }
    .pl-sass-name {
      display: block;
      font-size: $vdm-font-size-small;
      font-weight: $vdm-font-weight-light;
    }

  }

  .pl-accessibility-table {
    .pl-acc-demo {
      width: 50%;
      padding-left: 30px;

      .pl-swatch-round {
        display: block;
        &.pl-swatch-accessibility,
        &.pl-swatch-accessibility-invert {
          border-radius: 15px;
          width: 30px;
          height: 30px;
          background: $vdm-neutral-light;
          color: $vdm-black;
          float: left;
          text-align: center;
          padding-top: 6px;
          font-size: $vdm-font-size-small;
          margin-right: 0.8em;
          &:after {
            content: 'AA';
          }
        }
        &.pl-swatch-accessibility-invert {
          background: $vdm-black;
          color: $vdm-white;
        }

      }
    }
  }

  // Colors
  // Brand
  .pl-brand {
    background: $vdm-brand;
    color: $vdm-white;
  }
  .pl-sub-brand {
    background: $vdm-sub-brand;
    color: $vdm-white;
  }

  // Neutrals
  .pl-neutral-lightest {
    background: $vdm-neutral-light;
    color: $vdm-neutral-mid;
  }
  .pl-neutral-lighter {
    background: $vdm-neutral-light;
    color: $vdm-neutral-mid;
  }
  .pl-neutral-light {
    background: $vdm-neutral-light;
    color: $vdm-neutral-mid;
  }
  .pl-neutral {
    background: $vdm-neutral-mid;
    color: $vdm-white;
  }
  .pl-neutral-dark {
    background: $vdm-neutral-mid;
    color: $vdm-white;
  }
  .pl-neutral-base {
    background: $vdm-black;
    color: $vdm-white;
  }

  // UI & Alerts
  .pl-ui {
    background: $vdm-brand;
    color: $vdm-white;
  }
  // .pl-ui-medium {
  //   background: $vdm-brand-medium;
  //   color: $vdm-white;
  // }
  // .pl-ui-light {
  //   background: $vdm-brand-light;
  //   color: $vdm-neutral-mid;
  // }
  // .pl-ui-lighter{
  //   background: $vdm-brand-lighter;
  //   color: $vdm-neutral-mid;
  // }

  // Alternate UI colors
  // .pl-ui-alt-danger{
  //   background:$vdm-brand-alt-danger;
  //   color: $vdm-white;
  // }
  // .pl-ui-alt-warm-dark{
  //   background: $vdm-brand-alt-warm-dark;
  //   color: $vdm-white;
  // }
}// .pl-atom-color



// Form-elements
// - - - - - - - - - -  - - - - - -
.pl-button {
  margin-bottom: 0.6em;
}




// - - - - - - - - - -  - - - - - -
//  * * * MOLECULES * * *
// - - - - - - - - - -  - - - - - -

// Tiles
// - - - - - - - - - -  - - - - - -
.pl-atom-tiles {
    .pl-tiles-index {
        @include make-row();
        @include clearfix();
        >li {
           display: inline-block;
           margin-right: 15px;
          margin-bottom: 15px;
        }
    }
}

