// @file patternlab.scss

/**
 * Patternlab specific css -- all classes MUST begin w/ pl-
 * The code below lives for the sake of the patternlab instance & is not compiled along with the main site stylesheet
 * @see pattern-scaffolding.css in mustache demo starterkit for reference
 */

#pl { 
    font-size: normal;
    color: inherit;
}

// Fonts
// - - - - - - - - - -  - - - - - - 

// Titles
.pl-stroked-header {
    padding-top: 0.25em;
    padding-left: 0.25em;
    border-top: 1px solid #ddd;
    width: 93%;
}

// Scalers
.pl-small {
    font-size: 0.85em;
}
.pl-smaller {
    font-size: 0.75em;
}
.pl-smallest {
    font-size: 0.65em;
}