// Import a custom bootstrap import file
@import "bootstrap-vdm.scss";
// import an override file for bootstrap variables
@import "bootstrap-variables-vdm.scss";


// Start writing yor styles below
// Import other files structured according to your inheritance model

// Stylesheets structure ->
// ******************************
// --styles.scss
//     --patternlab.scss
//     --skeleton.scss
//     --fonts.scss

@import "patternlab.scss";
@import "skeleton.scss";
@import "fonts.scss";


.toto {
     color: #000;
 }

.tata {
    border: 1px solid red;
    background: orange;
    height: 200px;
}