// @file variables.scss

//= = = = Colors = = = =
//
//## Neutrals
$white:                     #FFFFFF !default;
$neutral-base:              #000 !default;
$neutral-dark:              #727271 !default;
$neutral:                   #A2A3A1 !default;
$neutral-light:             #D0D0CE !default;
$neutral-lighter:           #E7E5E5 !default;
$neutral-lightest:          #F2F2F1 !default;

//## Brand
$brand:                     #E00000 !default;
$brand-dark:                $neutral-base !default;

//## UI
$ui:                        #429A8E !default;
$ui-medium:                 #5AD3C3 !default;
$ui-light:                  #87DFD3 !default;
$ui-lighter:                #B4EBE3 !default;


$ui-alt-danger:            #FF3200 !default;
$ui-alt-warm-dark:         #A30000 !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
// Do not invoke the $nunito- variables direcly if at all possible : they are too specific

//## Fonts Family
$font-family-sans-serif:  $nunito-family !default;
$font-family-base:        $nunito-family !default;

$nunito-family:           'Nunito Sans';
$nunito-light:            300;
$nunito-regular:          400;
$nunito-semi:             600;
$nunito-bold:             700;


//## Fonts Size
$font-size-base:          16px !default;                            // 16px
$font-size-large:         ceil(($font-size-base * 1.25)) !default;  // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default;  // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default;  // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default;   // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default;  // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default;  // ~12px


//== Font Weight
$font-weight-light:       16px !default;
$font-weight-regular:     ceil(($font-size-base * 1.25)) !default;  // ~18px
$font-weight-semi:        ceil(($font-size-base * 0.85)) !default;  // ~12px
$font-weight-light:        $nunito-light;
$font-weight-regular:      $nunito-light;
$font-weight-semi:         $nunito-light;
$font-weight-bold:         $nunito-light;

$font-weight-h1:          normal;
$font-weight-h2:          normal;
$font-weight-h3:          normal;
$font-weight-h4:          normal;
$font-weight-h5:          normal;
$font-weight-h6:          normal;

//== Icons
$vdm-icon-font-path: '../fonts/';
$vdm-icon-font-version: '0.5';
$vdm-icon-font-family : 'vdm-fonticon';


