// @file variables.scss

//= = = = Colors = = = =
//
//## Neutrals
$white:                     #FFFFFF !default;
$neutral-base:              #000 !default;
$neutral-dark:              #727271 !default;
$neutral:                   #A2A3A1 !default;
$neutral-light:             #D0D0CE !default;
$neutral-lighter:           #E7E5E5 !default;
$neutral-lightest:          #F2F2F1 !default;

//## Brand
$brand:                     #E00000 !default;
$brand-dark:                $neutral-base !default;

//## UI
$ui:                        #429A8E !default;
$ui-medium:                 #5AD3C3 !default;
$ui-light:                  #87DFD3 !default;
$ui-lighter:                #B4EBE3 !default;


$ui-alt-danger:            #FF3200 !default;
$ui-alt-warm-dark:         #A30000 !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
// Do not invoke the $nunito- variables direcly if at all possible : they are too specific

//## Fonts Family
$font-family-sans-serif:  $nunito-family !default;
$font-family-base:        $nunito-family !default;

$font-family:           'Nunito Sans';
$font-weight-light:            300;
$font-weight-regular:          400;
$font-weight-semi:             600;
$font-weight-bold:             700;


//## Fonts Size
$font-size-base:          16px !default;                            // 16px
$font-size-large:         ceil(($font-size-base * 1.25)) !default;  // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default;  // ~12px

$font-size-h1:            67px;
$font-size-h2:            50px;
$font-size-h3:            37px;
$font-size-h4:            28px;
$font-size-h5:            21px;
$font-size-h6:            16px;

//## Line Height
$line-height-h1:          92px;
$line-height-h2:          69px;
$line-height-h3:          50px;
$line-height-h4:          38px;
$line-height-h5:          28px;
$line-height-h6:          26px;




//== Icons
$vdm-icon-font-path: '../fonts/';
$vdm-icon-font-version: '0.5';
$vdm-icon-font-family : 'vdm-fonticon';


