
<div class="row">
  <div class="col-md-12">
    <h2 class="section-heading">Ville-Marie</h2>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      {{> molecules-collapsible-item }}
    </div>
  </div>
</div>
