<h4 class="pl-pattern-subtitle">Size (adaptative)</h4>
<h1>Example heading {{> components-badge }}</h1>
<h2>Example heading {{> components-badge }}</h2>
<h3>Example heading {{> components-badge }}</h3>
<h4>Example heading {{> components-badge }}</h4>
<h5>Example heading {{> components-badge }}</h5>
<h6>Example heading {{> components-badge }}</h6>
<br/>
<h4 class="pl-pattern-subtitle">Colors</h4>
<div class="pl-badge">
	{{# badges-colors }}
	  {{> components-badge }}
	{{/ badges-colors }}
</div>

<h4 class="pl-pattern-subtitle">Shapes</h4>
<div class="pl-badge">
	{{# badges-shapes }}
	  {{> components-badge }}
	{{/ badges-shapes }}
</div>