<h4 class="pl-pattern-subtitle">Colors</h4>
<div class="pl-badge">
	{{# badges-colors }}
	  {{> components-badge }}
	{{/ badges-colors }}
</div>

<h4 class="pl-pattern-subtitle">Shapes</h4>
<div class="pl-badge">
	{{# badges-shapes }}
	  {{> components-badge }}
	{{/ badges-shapes }}
</div>