<h4 class="pl-pattern-subtitle">Colors</h4>
<div class="pl-badge">
	{{# badges-icons }}
	  {{> components-badge }}
	{{/ badges-icons }}
</div>

<h4 class="pl-pattern-subtitle">Positions</h4>
<div class="pl-badge">
	{{# badges-icons-position }}
	  {{> components-badge }}
	{{/ badges-icons-position }}
</div>
