{{# menuItemHorizontal}}
<h4 class="pl-pattern-subtitle mb-2">Horizontal (Default)</h4>
<div class="pl-pattern-example mb-4">
  {{> components-menu-item}}
</div>
{{/ menuItemHorizontal}}

{{# menuItemVerticalIconOnly}}
<h4 class="pl-pattern-subtitle mb-2">Vertical (Icon only)</h4>
<div class="pl-pattern-example mb-4">
  {{> components-menu-item}}
</div>
{{/ menuItemVerticalIconOnly}}

{{# menuItemVerticalIconAndText}}
<h4 class="pl-pattern-subtitle mb-2">Vertical (Icon and text)</h4>
<div class="pl-pattern-example mb-4">
  {{> components-menu-item}}
</div>
{{/ menuItemVerticalIconAndText}}
