<nav class="navbar navbar-services" data-component-type="navigation" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">{{ ServiceName }}</span>
    </div>
    <ul class="nav">
      <li class="nav-item">{{> atoms-button("btnClasses": "vdm-btn-secondary vdm-btn-sm nav-link", "buttonText": "Enregistrer")}}</li>
      <li class="nav-item">{{> atoms-button("btnClasses": "vdm-btn-secondary vdm-btn-sm nav-link", "buttonText": "Quitter")}}</li>
    </ul>
  </div>
</nav>
