<nav class="navbar navbar-services" aria-label="Service navigation" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">{{ ServiceName }}</span>
    </div>
    <ul class="nav">
      <li class="nav-item">{{> atoms-button("buttonClass": "vdm-btn vdm-btn-secondary vdm-btn-sm", "buttonText": "Enregistrer")}}</li>
      <li class="nav-item">{{> atoms-button("buttonClass": "vdm-btn vdm-btn-secondary vdm-btn-sm", "buttonText": "Quitter")}}</li>
    </ul>
  </div>
</nav>
