<nav class="navbar navbar-services" aria-label="Service navigation" role="navigation">
  <div class="container-fluid">
    {{# hasProfileLink }}
    <div class="navbar-header navbar-header-profile-link">
      <span class="navbar-link"><a href="#">{{ enterpriseName }}</a></span>
      <span class="navbar-brand">{{ serviceName }}</span>
    </div>
    {{/ hasProfileLink }}
    {{^ hasProfileLink }}
    <div class="navbar-header">
      <span class="navbar-brand">{{ serviceName }}</span>
    </div>
    {{/ hasProfileLink}}
    
    <ul class="nav">
      <li class="nav-item">{{> atoms-button("buttonClass": "vdm-btn vdm-btn-secondary vdm-btn-sm", "buttonText": "Enregistrer")}}</li>
      <li class="nav-item">{{> atoms-button("buttonClass": "vdm-btn vdm-btn-secondary vdm-btn-sm", "buttonText": "Quitter")}}</li>
    </ul>
  </div>
</nav>
