<nav class="subnav subnav-services" aria-label="Service navigation" role="navigation">
  <div class="subnav-container">
    <span class="subnav-title">{{ serviceName }}</span>
  </div>
  <div class="subnav-links">
    <button class="btn btn-quit">
      <span class="button-label d-none d-md-inline-flex">Quitter</span>
      {{> atoms-fonticon-item(icon-label: "111-quitter") }}
      <span class="sr-only">Quitter</span>
    </button>
  </div>
</nav>
