<nav class="d-flex flex-wrap" aria-label="Service navigation" role="navigation">
  <div class="col">
    <span class="subnav-title">{{ serviceName }}</span>
  </div>
  <div class="col-auto">
    <ul class="nav nav-tabs" role="tablist">
      {{# navTabs.navItem }}
      <li class="nav-item" role="presentation">
        <a href="{{ url }}" class="nav-link {{ class }}" role="tab" data-toggle="tab">{{ title }}</a>
      </li>
      {{/ navTabs.navItem }}
    </ul>
  </ul>
</nav>
