<div class="nav-dashboard">
  {{# navDashboard}}
  <div class="nav-dashboard-item">
    <span class="db-label">{{ navDashboardLabel }}</span>
    <h2 class="db-title">{{ navDashboardTitle }}
      {{# hasComplete}}
      <span class="state bg-success">
        {{> atoms-fonticon-item(icon-label:"077-mini-case-coche-coche" )}}
      </span>
      {{/ hasComplete }}
    </h2>
    <p class="db-info">{{ navDashboardInfo }}</p>
    {{# hasFeedback}}
    {{> atoms-progress-bars }}
    {{/ hasFeedback }}
    {{# hasButton}}
      {{> atoms-button }}
    {{/ hasButton}}
  </div>
  {{/ navDashboard }}
</div>