<!-- <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse vdm-navbar"> -->
<nav class="vdm-navbar" data-component-type="navigation" role="menu">
    <div class="menu-trigger-wrapper">
        {{> molecules-main-menu-button }}
    </div>
    {{> atoms-logo-svg }}
    <div class="navbar-icons">
        <ul class="icons">
            <li class="search">{{> molecules-search-button }}</li>
            <li class="user">{{> molecules-account-button }}</li>
            <li class="language">{{> molecules-language-switcher }}</li>
        </ul>
    </div>
    <div class="invisible searchbar-wrapper">
        {{> molecules-search-field-combo-button-inside }}
    </div>
    
    <!--
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
    -->
</nav>