<footer class="pre-footer border-top" role="contentinfo" data-component-type="pre-footer">
  <div class="container">
    {{# pre-footer-arrondissement}}
    <div class="row mb-4 mb-md-8">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
        <img src="https://res.cloudinary.com/villemontreal/image/upload/q_auto,f_auto,dpr_auto,w_225/v1/portail/logos/Logo_Ville-Marie_732x368px.png" alt="Logo de l'arrondissement XYZ" />
      </div>
      <div class="col-12 col-md-6 col-lg-8 align-self-end">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu ligula interdum, mattis diam. Aenean porta malesuada urna vitae placerat. — <a href="#" class="font-weight-bold" data-link-title="Découvrir l'arrondissement">Découvrir l'arrondissement</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 font-size-sm">
        <div class="list-heading">Liens utiles</div>
        <ul class="list-unstyled font-weight-bold mb-4">
          <li><a href="#" class="no-border" data-link-title="Joindre l'arrondissement">Joindre l'arrondissement</a></li>
          <li><a href="#" class="no-border" data-link-title="Carte de l'arrondissement">Carte de l'arrondissement</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 font-size-sm">
        <div class="list-heading">Annonces</div>
        <ul class="list-unstyled font-weight-bold mb-4">
          <li><a href="#" class="no-border" data-link-title="Appels d'offres">Appels d'offres</a></li>
          <li><a href="#" class="no-border" data-link-title="Avis publics">Avis publics</a></li>
          <li><a href="#" class="no-border" data-link-title="Communiqués">Communiqués</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 font-size-sm">
        <div class="list-heading">Suivez-nous</div>
        <p>Abonnez-vous à notre <a href="#" class="font-weight-bold" data-link-title="infolettre">infolettre</a> mensuelle ou suivez-nous sur les réseaux sociaux.</p>

        {{# prefooterSocialMediaIcons}}
        <ul class="list-inline list-social-medias mb-4">
          {{# socialMediaIcons}}
          <li class="list-inline-item">
            <a href="{{ url }}" data-link-title="{{sr-text}}">
              <span class="icon {{icon-name}}" aria-hidden="true"></span>
              <span class="sr-only">{{ sr-text}}</span>
            </a>
          </li>
          {{/ socialMediaIcons}}
        </ul>
        {{/ prefooterSocialMediaIcons}}
      </div>
    </div>
    {{/ pre-footer-arrondissement}}
    {{# pre-footer-apropos}}
    <div class="row mb-4 mb-md-8 justify-content-end">
      <div class="col-12 col-lg-8">
        <h2 class="h4">À propos de ...</h2>
        <p class="mb-0">Sed elitr sed sit eirmod et lorem, kasd vero accusam sit sit rebum diam sit consetetur invidunt, amet magna sit amet stet sadipscing sadipscing sadipscing, et magna stet est gubergren eos labore at. Tempor et sit dolor lorem. Dolor diam diam ipsum ea invidunt at, diam et clita nonumy lorem stet, erat duo diam diam dolor clita. Lorem stet aliquyam sea eirmod aliquyam dolore et, diam invidunt et consetetur justo tempor aliquyam dolores.</p>
      </div>
    </div>
    {{/ pre-footer-apropos}}
  </div>
</footer>
