<h4 class="pl-pattern-subtitle">Buttons</h4>
<div class="mb-4">
  {{# tooltipsBtn}}
  <button type="button" class="btn btn-secondary btn-squared" data-toggle="tooltip"{{# dataHtml}} data-html="true"{{/ dataHtml}} data-placement="{{dataPlacement}}" title="{{{title}}}">{{label}}</button>
  {{/ tooltipsBtn}}
</div>


<h4 class="pl-pattern-subtitle">Links</h4>
<div>
  {{# tooltipsLink}}
  <p>Sanctus rebum invidunt consetetur duo et, at gubergren erat sea <a href="#" data-toggle="tooltip" data-placement="{{dataPlacement}}" title="{{title}}">{{label}}</a> rebum. Ea voluptua et tempor lorem dolor ea.</p>
  {{/ tooltipsLink}}
</div>
