<form id="password-form-example" class="needs-validation" novalidate>
  {{> components-input-text}}
  {{# password-hints}}
  {{> components-list-item}}
  {{/ password-hints}}
  {{> components-button("buttonClass": "btn-primary btn-squared","buttonText": "soumettre") }}
  
</form>
