<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4">
      {{> components-input-text(
        "formGroupInputLabel": "Prénom",
        "formGroupInputID": "validationCustomPrenom",
        "formGroupInputPlaceholder": true,
        "formGroupInputPlaceholder.text": "Prénom",
        "formGroupInputRequired": true,
        "formGroupInputError": true,
        "formGroupInputError.id": "validationFeedbackPrenom",
        "formGroupInputError.text": "Veuillez saisir un prénom valide.")
      }}
    </div>
    <div class="col-md-4">
      {{> components-input-text(
        "formGroupInputLabel": "Nom",
        "formGroupInputID": "validationCustomNom",
        "formGroupInputPlaceholder": true,
        "formGroupInputPlaceholder.text": "Nom",
        "formGroupInputRequired": true,
        "formGroupInputError": true,
        "formGroupInputError.id": "validationFeedbackNom",
        "formGroupInputError.text": "Veuillez saisir un nom valide.")
      }}
    </div>
    <div class="col-md-4">
      {{> components-input-text(
        "formGroupInputLabel": "Username",
        "formGroupInputID": "validationCustomUsername",
        "formGroupInputPlaceholder": true,
        "formGroupInputPlaceholder.text": "Username",
        "formGroupInputRequired": true,
        "formGroupInputError": true,
        "formGroupInputError.id": "validationFeedbackUsername",
        "formGroupInputError.text": "Veuillez saisir un username valide.")
      }}
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      {{> components-input-text(
        "formGroupInputLabel": "Ville",
        "formGroupInputID": "validationCustomVille",
        "formGroupInputPlaceholder": true,
        "formGroupInputPlaceholder.text": "Montréal",
        "formGroupInputRequired": true,
        "formGroupInputError": true,
        "formGroupInputError.id": "validationFeedbackVille",
        "formGroupInputError.text": "Veuillez saisir une ville valide.")
      }}
    </div>
    <div class="col-md-3">
      {{> components-input-text(
        "formGroupInputLabel": "Province",
        "formGroupInputID": "validationCustomProvince",
        "formGroupInputPlaceholder": true,
        "formGroupInputPlaceholder.text": "Québec",
        "formGroupInputRequired": true,
        "formGroupInputError": true,
        "formGroupInputError.id": "validationFeedbackProvince",
        "formGroupInputError.text": "Veuillez saisir une province valide.")
      }}
    </div>
    <div class="col-md-3">
      {{> components-input-text(
        "formGroupInputLabel": "Code postal",
        "formGroupInputID": "validationCustomCodePostal",
        "formGroupInputPlaceholder": true,
        "formGroupInputPlaceholder.text": "H1X 1X0",
        "formGroupInputRequired": true,
        "formGroupInputError": true,
        "formGroupInputError.id": "validationFeedbackPostalCode",
        "formGroupInputError.text": "Veuillez saisir un code postale valide.")
      }}
    </div>
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="confirmation-vld-chk-card01" value="confirmation-vld-chk-card01" required>
      <label class="custom-control-label" for="confirmation-vld-chk-card01">Accepter les termes et conditions</label>
    </div>
    <div class="invalid-feedback" id="validationfeedbackAccepTerm">
      <span class="icon icon-exclamation icon-xs" aria-hidden="true"></span>
      <span class="sr-only">Erreur</span>
      Message d'erreur personnalisé.
    </div>
  </div>

  <button class="btn btn-primary btn-squared" type="submit">Soumettre</button>

</form>
