<div class="vdm-teaser icon-left col-6">
    <a class="vdm-teaser-body {{ collectors.services.iconClass }}" title="{{ collectors.services.header-text }}">
        <h2 class="title">{{ collectors.services.header-text }}</h2>
        <p class="content"> {{ collectors.services.body-text }}</p>
    </a>
</div>