<li class="vdm-card thumb white-scheme icon-center {{ transactionCardThumbClasses }}">
    <a class="vdm-card-body {{ collectors.transactions-card-thumbs.iconClass }}" title="View category {{ collectors.transactions-card-thumbs.header-text }}">
        <h2 class="title">{{ collectors.transactions-card-thumbs.header-text }}</h2>
    </a>
</li>