<h2 class="pl-stroked-header">Boutons VDM</h2><br/><br/>

<button type="button" class="pl-button vdm-btn">Bouton principal</button>
<button type="button" class="pl-button vdm-btn vdm-btn-secondary">Bouton secondaire</button><br/>
<button type="button" class="pl-button vdm-btn" disabled="disabled">Bouton désactivé</button>
<button type="button" class="pl-button vdm-btn vdm-btn-secondary" disabled="disabled">Bouton secondaire désactivé</button><br/>
<button type="button" class="pl-button vdm-btn vdm-btn-sm">Bouton petit</button>
<a href="#" class="pl-button vdm-btn" role="button">Bouton lien</a><br/><br/><br/>

<h2 class="pl-stroked-header">Boutons Bootstrap</h2><br/><br/>

<a class="btn btn-default" href="#" role="button">Link</a>
<button class="btn btn-default" type="submit">Button</button>
<input class="btn btn-default" type="button" value="Input">
<input class="btn btn-default" type="submit" value="Submit"><br/><br/><br/>

<button type="button" class="btn btn-primary btn-lg active">Primary button</button>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-primary btn-xs">X-Small button</button>
<a href="#" class="btn btn-primary btn-lg active" role="button">Primary link</a><br/><br/><br/>


<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
