<!--
<button type="button" class="btn {{ buttonClass }}">{{ cta }}</button>
-->
<a href="#" class="btn btn-primary btn-lg active" role="button">a.btn bootstrap</a>
<button type="button">Bouton principal</button>
<button type="button" class="btn">Bouton principal</button>
<button type="button" class="btn btn-default">Bouton principal</button>
<button type="button" class="btn btn-primary">Bouton principal</button>
<button type="button" class="btn btn-danger">Bouton principal</button>
<button type="button" class="btn-secondary">Bouton secondaire</button>
<button type="button" disabled="disabled">Bouton désactivé</button>
<button type="button" class="btn-secondary" disabled="disabled">Bouton secondaire désactivé</button>
<button type="button" class="btn-sm">Bouton petit</button>

<a href="#">
    <button type="button">Bouton principal</button>
</a>
 