<div class="pl-button">
  {{> atoms-button(buttonClass: btn-primary, buttonText: "Primary button")}}
  {{> atoms-button(buttonClass: btn-secondary, buttonText: "Secondary button")}}
</div>
<div class="pl-button">
  {{> atoms-button(buttonClass: btn-primary, buttonText: "Disabled button", buttonState: "disabled")}}
</div>
<div class="pl-button">
  {{> atoms-button(buttonClass: "btn-primary btn-sm", buttonText: "Primary small button")}}
  {{> atoms-button(buttonClass: "btn-secondary btn-sm", buttonText: "Secondary small button")}}
  <a href="#" class="btn-link" role="button">Button link</a>
</div>
