<div>
  <button type="button" class="pl-button vdm-btn">Bouton principal</button>
  <button type="button" class="pl-button vdm-btn vdm-btn-secondary">Bouton secondaire</button>
</div>
<div>
  <button type="button" class="pl-button vdm-btn" disabled>Bouton désactivé</button>
  <button type="button" class="pl-button vdm-btn vdm-btn-secondary" disabled>Bouton secondaire désactivé</button>
</div>
<div>
  <button type="button" class="pl-button vdm-btn vdm-btn-sm">Bouton petit</button>
  <button type="button" class="pl-button vdm-btn vdm-btn-sm vdm-btn-secondary">Bouton petit</button>
  <a href="#" class="pl-button vdm-btn" role="button">Bouton lien</a>
  <!--<button type="button" class="pl-button vdm-btn vdm-btn-wide">Bouton pleine largeur</button>-->
</div>
