<div class="pl-button">
  {{> atoms-button(buttonClass: "btn-primary", buttonText: "Primary button")}}
  {{> atoms-button(buttonClass: "btn-secondary", buttonText: "Secondary button")}}
  {{> atoms-button(buttonClass: "btn-primary btn-light", buttonText: "Primary light button")}}
  {{> atoms-button(buttonClass: "btn-primary", buttonText: "Disabled button", buttonState: "disabled")}}
  {{> atoms-button(buttonClass: "btn-link", buttonText: "Button link")}}
  {{> atoms-button(buttonClass: "btn-link btn-reset", buttonText: "Button Reset")}}
</div>

<div class="pl-button">
  {{> atoms-button(buttonClass: "btn-primary btn-sm", buttonText: "Primary small button")}}
  {{> atoms-button(buttonClass: "btn-secondary btn-sm", buttonText: "Secondary small button")}}
  {{> atoms-button(buttonClass: "btn-primary btn-light btn-sm", buttonText: "Primary light small button")}}
  {{> atoms-button(buttonClass: "btn-primary btn-sm", buttonText: "Disabled small button", buttonState: "disabled")}}
  {{> atoms-button(buttonClass: "btn-link btn-sm", buttonText: "Button link")}}
</div>

<div class="pl-button pl-gray-900 px-2 pt-4 pb-2">
  {{> atoms-button(buttonClass: "btn-primary btn-light", buttonText: "Primary light button")}}
  {{> atoms-button(buttonClass: "btn-secondary btn-light", buttonText: "Secondary light button")}}
  {{> atoms-button(buttonClass: "btn-primary btn-inverse", buttonText: "Primary white button")}}
  {{> atoms-button(buttonClass: "btn-secondary btn-inverse", buttonText: "Secondary white button")}}
</div>
