<div class="pl-button">
  {{> atoms-button-icon(buttonClass: "btn-primary", buttonText: "Primary button with icon", icon-label: "034-ampoule", buttonIcon: true)}}
  {{> atoms-button-icon(buttonClass: "btn-primary btn-sm", buttonText: "Primary small button with icon", icon-label: "034-ampoule", buttonIcon: true)}}
</div>

<div class="pl-button">
  {{> atoms-button-icon(buttonClass: "btn-secondary", buttonText: "Secondary button with icon", icon-label: "065-fleche-gauche", buttonIcon: true)}}
  {{> atoms-button-icon(buttonClass: "btn-secondary btn-sm", buttonText: "Secondary small button with icon", icon-label: "065-fleche-gauche", buttonIcon: true)}}
</div>

<div class="pl-button">
  {{> atoms-button-icon(buttonClass: "btn-primary btn-light", buttonText: "Modifier", icon-label: "033-crayon", buttonIcon: true)}}
  {{> atoms-button-icon(buttonClass: "btn-primary btn-light btn-sm", buttonText: "Modifier", icon-label: "033-crayon", buttonIcon: true)}}
</div>

<div class="pl-button">
  {{> atoms-button-icon(buttonClass: "btn-notification", buttonIconSr: true, buttonIconSrText: "Toggle notification view", buttonText: false, icon-label: "093-porte-voix", buttonIcon: true, dataToggle: false, dataTarget: false)}}
</div>
