<div class="pl-button">
{{> atoms-button-icon(buttonClass: "btn-primary", buttonText: "Primary button with icon", icon-label: "ampoule", buttonIcon: true)}}
{{> atoms-button-icon(buttonClass: "btn-primary btn-sm", buttonText: "Primary small button with icon", icon-label: "ampoule", buttonIcon: true)}}
</div>

<div class="pl-button">
{{> atoms-button-icon(buttonClass: "btn-secondary", buttonText: "Secondary button with icon", icon-label: "fleche-gauche", buttonIcon: true)}}
{{> atoms-button-icon(buttonClass: "btn-secondary btn-sm", buttonText: "Secondary small button with icon", icon-label: "fleche-gauche", buttonIcon: true)}}
</div>

<div class="pl-button">
{{> atoms-button-icon(buttonClass: "btn-primary btn-light", buttonText: "Primary light button with icon", icon-label: "attention-circulaire", buttonIcon: true)}}
{{> atoms-button-icon(buttonClass: "btn-primary btn-light btn-sm", buttonText: "Primary light small button with icon", icon-label: "attention-circulaire", buttonIcon: true)}}
</div>
