<div class="pl-button">
  <button type="button" class="btn btn-primary" disabled>
    {{> atoms-loader }}
    Primary button loader
  </button>
  <button type="button" class="btn btn-primary btn-sm" disabled>
    {{> atoms-loader }}
    Primary small button loader
  </button>
</div>

<!--
<div class="pl-button">
  <button type="button" class="btn btn-secondary">
    {{> atoms-loader }}
    Secondary button loader
  </button>
  <button type="button" class="btn btn-secondary btn-sm">
    {{> atoms-loader }}
    Secondary small button loader
  </button>
</div>

<div class="pl-button">
  <button type="button" class="btn btn-primary btn-light">
    {{> atoms-loader }}
    Primary light button loader
  </button>
  <button type="button" class="btn btn-primary btn-light btn-sm">
    {{> atoms-loader }}
    Primary light small button loader
  </button>
</div>

<div class="pl-button pl-gray-900 px-2 pt-4 pb-2">
  <button type="button" class="btn btn-primary btn-light">
    {{> atoms-loader }}
    Primary light button loader
  </button>
  <button type="button" class="btn btn-secondary btn-light">
    {{> atoms-loader }}
    Secondary light button loader
  </button>
  <button type="button" class="btn btn-primary btn-inverse">
    {{> atoms-loader }}
    Primary white button loader
  </button>
  <button type="button" class="btn btn-secondary btn-inverse">
    {{> atoms-loader }}
    Secondary white button loader
  </button>
</div>
-->
