<button type="{{ buttonType }}" class="btn {{ buttonClass }}" {{ buttonState }}>{{# buttonIcon }}<span class="vdm vdm-{{ icon-label }}" aria-hidden="true"></span>{{/ buttonIcon}}{{# buttonIconSr }}<span class="sr-only">{{buttonIconSrText}}</span>{{/ buttonIconSr}}{{# buttonText }}{{ buttonText }}{{/ buttonText}}</button>
