<div class="btn-group btn-group-stepper" role="group" aria-label="Input stepper">
  <button type="button" class="btn btn-icon" aria-label="Moins" disabled>
    <span class="icon icon-minus" aria-hidden="true"></span>
  </button>
  <input type="text" min="0" max="10" value="0" class="form-control input-btn-group" size="3" />
  <button type="button" class="btn btn-icon" aria-label="Plus">
    <span class="icon icon-plus" aria-hidden="true"></span>
  </button>
</div>
