<h2 class="vdm-title {{ sidebar-title-classes }}">
  {{# sidebarTitlePrependIcon }}
    {{> atoms-fonticon-item(icon-label: "attention-circulaire") }}
  {{/ sidebarTitlePrependIcon }}
  Sidebar header title
  {{# sidebarTitleAppendIcon }}
    {{> atoms-fonticon-item(icon-label: "rosace") }}
  {{/ sidebarTitleAppendIcon }}
</h2>