<section class="section full-width bottom bg-light">
    Full width Bottom - You probably haven't heard of them hot chicken fam, banh mi flexitarian pitchfork sartorial deep v lyft. Pok pok af vape PBR&B flexitarian.
</section>