<div class="summary {{ summaryClass }}">
  {{# summaryHasHeading}}
  <div class="summary-heading-container">
    <h2>Année X</h2>
    {{# summaryHasNavButtons}}
    <ul class="nav">
      <li class="nav-item">{{> atoms-button("buttonClass": "vdm-btn vdm-btn-secondary", "buttonText": "modifier") }}</li>
      <li class="nav-item">{{> atoms-button("buttonText": "Imprimer") }}</li>
    </ul>
    {{/ summaryHasNavButtons}}
  </div>
  {{/ summaryHasHeading}}
  <div class="summary-content {{ summaryContentClass }}">
    {{# summaryFull}}
    <div class="row mb-3">
      <div class="col-12 col-md-6">
        <span class="label">Date</span>
        <span>Valeur xyz</span>
      </div>
      <div class="col-12 col-md-6">
        <span class="label">No. de référence</span>
        <span>Valeur xyz</span>
      </div>
    </div>
    {{/ summaryFull}}
    <div class="row">
      <div class="col-12 col-md-6">
        <span class="label">Entreprise</span>
        <span>Valeur xyz</span>
      </div>
      <div class="col-12 col-md-6">
        <span class="label">Établissement</span>
        <span>Valeur xyz</span>
      </div>
    </div>
  </div>
</div>