<div class="row block-coordinates mb-6">
  <div class="col-12">
    <h2 class="title">Coordonnées</h2>
  </div>
  <div class="col-12 col-md-6">
    <span class="item-label">Nom de la cie</span>
    <p>Société en nom collectif</p>
  </div>
  <div class="col-12 col-md-6">
    <span class="item-label">Personne contact</span>
    <p>Gilles Bergeron</p>
  </div>
  <div class="col-12 col-md-6">
    <span class="item-label">Courriel</span>
    <p>email@gmail.com</p>
  </div>
  <div class="col-12 col-md-6">
    <span class="item-label">Téléphone</span>
    <p>514-990-7688</p>
  </div>
  <div class="col-12">
    <span class="item-label">Adresse postale</span>
    <address>50 Queen<br>
      Suite 101<br>
      Montréal, Québec<br>
      H3C 2N5
    </address>
  </div>
</div>
