{{# labelContent}}
<div class="label-content {{ classes }}">
  <div class="row">
    <div class="col-12">
      {{# title}}
      <h2 class="title">{{ title }}</h2>
      {{/ title}}

      {{# row}}
        <div class="row">
          {{# items}}
            <div class="{{ class }}">
              <span class="item-label">{{ label }}</span>
              {{# content}}
              <div class="item-content">{{{ content }}}</div>
              {{/ content}}
            </div>
          {{/ items}}
        </div>
      {{/ row}}
    </div>
  </div>
</div>
{{/ labelContent}}
