<div class="row mb-3">
  <div class="col-md-8 col-xl-6 offset-md-2 offset-xl-3">
    <div class="text-center">
      <h2 class="h4">Lorem ipsum dolor sit amet</h2>
      <p>Nunc a accumsan arcu. Vivamus quis elementum enim, at laoreet eros. Mauris consectetur urna velit, sit amet sagittis sem tincidunt in.</p>
      {{> atoms-button(buttonClass: "vdm-btn vdm-primary")}}
    </div>
  </div>
</div>