<div class="region region-content-header {{ headerContainerClasses }}">
  <div class="container">
    <div class="row">
      {{# has-image }}
      <div class="media">
        {{> molecules-header-image-portal }}
      </div>
      {{/ has-image }}
      <div class="content-header {{ content-header-classes }}">
        <div class="col-12 col-lg-8 header-title-overlap">
          <div class="content-header-title">
            {{> atoms-heading-1 }}
            {{# header-category }}
              <span class="intro">{{ header-category }}</span>
            {{/ header-category }}
            {{# has-publication-date }}
              {{> atoms-date-time-text }}
            {{/ has-publication-date }}
          </div>
        </div>
        <div class="col-12">

          {{# has-lead-text }}
            {{> atoms-lead }}
          {{/ has-lead-text }}
          {{# has-nav-tabs }}
            {{> molecules-nav-tab }}
          {{/ has-nav-tabs}}
        </div>
      </div>
    </div>
  </div>
</div>
