<div class="pl-swatches-flex">
  <div class="pl-swatches-wrapper">

    <h4 class="pl-pattern-subtitle">Elements</h4>
    <h5 class="pl-pattern-subtitle">Actions</h5> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
     <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-action"></span></div>
        <div class="pl-swatch-item" data-header="Color">Action default</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$primary, <br/>$action</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#097d6c</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-action-lighter"></span></div>
        <div class="pl-swatch-item" data-header="Color">Action lighter</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$primary-lighter,<br/>$action-lighter</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0cb097</div>
      </div>
    </div>

    <h5 class="pl-pattern-subtitle">Brand</h5>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-brand"></span></div>
        <div class="pl-swatch-item" data-header="Color">Rouge Montréal</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$brand, <br/>$primary-red</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#e00000</div>
      </div>
    </div>

    <h5 class="pl-pattern-subtitle">Neutral</h5>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-primary"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral primary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-900, <br/>$gray-800</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#212529</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-primary-reverse"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral primary reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$white</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ffffff</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-secondary"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral secondary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-secondary</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#637381</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-tertiary"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral tertiary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-500,<br/>$gray-600,<br/>$gray-700</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#adb5bd</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-stroke"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral stroke</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-400</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ced4da</div>
      </div>
    </div>

    <h5 class="pl-pattern-subtitle">Alerts</h5> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Informative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$informative-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0296C0</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Positive</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$positive-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#28a745</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Warning</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$warning-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ffc107</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Negative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$negative-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ff3200</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Background</h4>
    <h5 class="pl-pattern-subtitle">Neutral</h5>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-underground-1"></span></div>
        <div class="pl-swatch-item" data-header="Color">Underground 1</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-underground-1,<br/>$gray-100</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#f8f9fa</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-underground-2"></span></div>
        <div class="pl-swatch-item" data-header="Color">Underground 2</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-underground-2, <br/>$gray-300</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#dee2e6</div>
      </div>
    </div>

    <h5 class="pl-pattern-subtitle">Highligth</h5> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
     <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-highlight-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Highlight light</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$highlight-light, <br/>$gray-200</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#eefaf8</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-highlight-strong"></span></div>
        <div class="pl-swatch-item" data-header="Color">Highlight strong</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$highlight-strong</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#d0f3ee</div>
      </div>
    </div>

  <h5 class="pl-pattern-subtitle">Alerts</h5> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Informative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$informative-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0296C0</div>
      </div>
       <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative"></span></div>
        <div class="pl-swatch-item" data-header="Color">Informative Reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$info, <br/>$blue, <br/>$informative</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0296C0</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Positive</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$positive-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#28a745</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive"></span></div>
        <div class="pl-swatch-item" data-header="Color">Positive reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$green, <br/>$success, <br/>$positive</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#28a745</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Warning</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$warning-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#fefae6</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning"></span></div>
        <div class="pl-swatch-item" data-header="Color">Warning reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$yellow, <br/>$warning</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#fecc03</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Negative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$negative-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ffebe6</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative"></span></div>
        <div class="pl-swatch-item" data-header="Color">Negative reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$danger, <br/>$red, <br/>$negative</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ff3200</div>
      </div>
    </div>

  </div>
</div>


<p><span class="text-primary">.text-primary</span>
<span class="text-secondary">.text-secondary</span></p>
<p><span class="text-success">.text-success</span>
<span class="text-success-dark">.text-success-dark</span></p>
<p><span class="text-danger">.text-danger</span>
<span class="text-danger-dark">.text-danger-dark</span></p>
<p><span class="text-warning">.text-warning</span>
<span class="text-warning-dark">.text-warning-dark</span></p>
<p><span class="text-info">.text-info</span>
<span class="text-info-dark">.text-info-dark</span></p>
<p class="text-light bg-dark">.text-light</p>
<p class="text-dark">.text-dark</p>
<p class="text-body">.text-body</p>
<p class="text-muted">.text-muted</p>
<p class="text-white bg-dark">.text-white</p>

<p><a href="#" class="text-primary">Primary link</a></p>
<p><a href="#" class="text-secondary">Secondary link</a></p>
<p><a href="#" class="text-success">Success link</a></p>
<p><a href="#" class="text-danger">Danger link</a></p>
<p><a href="#" class="text-warning">Warning link</a></p>
<p><a href="#" class="text-info">Info link</a></p>
<p><a href="#" class="text-light bg-dark">Light link</a></p>
<p><a href="#" class="text-dark">Dark link</a></p>
<p><a href="#" class="text-muted">Muted link</a></p>
<p><a href="#" class="text-white bg-dark">White link</a></p>

<div class="p-3 mb-2 bg-primary text-dark">.bg-primary</div>
<div class="p-3 mb-2 bg-secondary text-dark">.bg-secondary</div>
<div class="p-3 mb-2 bg-success text-white">.bg-success</div>
<div class="p-3 mb-2 bg-success-light text-dark">.bg-success-light</div>
<div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
<div class="p-3 mb-2 bg-danger-light text-dark">.bg-danger-light</div>
<div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
<div class="p-3 mb-2 bg-warning-light text-dark">.bg-warning-light</div>
<div class="p-3 mb-2 bg-info text-white">.bg-info</div>
<div class="p-3 mb-2 bg-info-light text-dark">.bg-info-light</div>
<div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
<div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
<div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
<div class="p-3 mb-2 bg-transparent text-dark">.bg-transparent</div> 
