{{> atoms-link-skip-to-main-content }}
{{> molecules-menu-open-side }}
{{> organisms-header-portal }}
{{> molecules-breadcrumb }}
<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header-portal }}

  <div class="region {{ regionMainClasses }}">
    <div class="container {{ regionMainContainerClasses }}">
      <div class="row">
        <article class="col-12 {{ regionMainContentClasses }}">
        </article>
        {{# sidebarRight }}
        <aside class="col-12 {{ sidebarLeftClass }} sidebar sidebar-right">
          {{> organisms-sidebar-block }}
        </aside>
        {{/ sidebarRight }}
      </div>
    </div>
  </div>
 <!-- Region-after section -->
</main>

{{> organisms-footer-portal }}
