{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  <!-- Teaser -->
  {{# has-lead-text }}
  {{> molecules-lead }}
  {{/ has-lead-text }}

  <div class="region-content {{ regionMainClasses }}">
    <div class="container">
      <div class="row">

        <article class="col-12 col-lg-7 col-xl-8">
          <p>• Coupure d'eau - Rue Duff Court, entre Croissant Roy et  24e Avenue, arrondissement de Lachine.<br>
             • À partir de : en cours.<br>
             • Raison : rupture de conduite.<br>
             • Le nombre de portes touchées est estimé à environ 3 édifices à logements, 2357 à 2377.<br>
             • Retour à la normale, aujourd'hui, aussitôt que possible.
          </p>

          {{# map }}
          <h2>Emplacement</h2>
          <section class="map-section pb-4">
            <div id="{{ map.mapID }}" style="height:400px"></div>
          </section>
          {{/ map }}

          {{# conseil }}
          <h2>Conseils</h2>
          {{{ conseilText }}}
          {{/ conseil }}
        
        </article>
        {{# sidebarRight}}
        <aside class="col-12 col-lg-5 col-xl-4" role="complementary">
          {{> organisms-sidebar-block-abonnement }}
        </aside>
        {{/ sidebarRight}}
      </div>
    </div>
  </div>

  {{# informations}}
  <section class="page-section {{ regionAfterClasses }} bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-heading">Plus d'information</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </section>
  {{/ informations}}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}

</main>

{{> organisms-footer-portal }}

<script>
    var startZoom = 16;
    var center = [-73.662623, 45.553576];
    var maxBounds = [[-74.3965936,45.319517],[-73.442801,45.751651]];
    var marker = new mapboxgl.Marker(defaultMarker());
    var mapboxStyle = {
    version: 8,
    name: 'basic',
    sources: {
      'vector-tile-api': {
        type: 'vector',
        tiles: [`https://api.montreal.ca/api/it-platforms/geomatic/vector-tiles/maps/v1/basemap/{z}/{x}/{y}.pbf`]
      },
    },
    glyphs: '../../glyphs/{fontstack}/{range}.pbf',
    layers: [
      {
        id: 'background',
        type: 'background',
        paint: {
          'background-color': '#e7e5e0'
        }
      },
  
      {
        id: 'cities',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'cities',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#E6E4E0'
        }
      },
  
      {
        id: 'water',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'water',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#75cff0'
        }
      },
  
      {
        id: 'large_parks',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'parks',
        filter: ['>=', 'SHAPE_AREA', 150000],
        paint: {
          'fill-color': '#B6E59E'
        }
      },
      {
        id: 'small_parks',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'parks',
        filter: ['<', 'SHAPE_AREA', 150000],
        minzoom: 12,
        paint: {
          'fill-color': '#B6E59E'
        }
      },
      {
        id: 'lakes',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'lakes',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#75cff0'
        }
      },
      {
        id: 'streams',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'streams',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#75cff0'
        }
      },
      {
        id: 'canals',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'canals',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#75cff0'
        }
      },
      {
        id: 'roads_0',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        minzoom: 14,
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#D6D9E6',
          'line-width': {
            base: 1.4,
            stops: [[10, 1.45], [14, 6], [18, 38]]
          }
        }
      },
      {
        id: 'arterial_network_0',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['any', ['==', 'classification', 6], ['==', 'classification', 7]],
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#DBDDE3',
          'line-width': {
            base: 1.2,
            stops: [[12, 1.45], [14, 5], [18, 38]]
          }
        }
      },
      {
        id: 'roads',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        minzoom: 11,
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#F8F8F8',
          'line-width': {
            base: 1.55,
            stops: [[12, 1.35], [14, 5], [18, 35]]
          }
        }
      },
      {
        id: 'arterial network',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['any', ['==', 'classification', 6], ['==', 'classification', 7]],
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#F8F8F8',
          'line-width': {
            base: 1.4,
            stops: [[10, 1.25], [14, 3], [18, 35]]
          }
        }
      },
  
      {
        id: 'highways',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['==', 'classification', 8],
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#FFA35C',
          'line-width': {
            base: 1.4,
            stops: [[6, 0.5], [20, 30]]
          }
        }
      },
      {
        id: 'buildings',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'buildings',
        minzoom: 13,
        paint: {
          'fill-color': ['interpolate', ['linear'], ['zoom'], 15, '#DCDCDC', 16, '#D3D3D3', 17, '#CECECE', 18, '#C3C3C3']
        }
      },
      
      {
        id: 'highways_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['all', ['==', 'classification', 8], ['!=', 'name', 'voie Non-nommée'], ['!=', 'name', 'voie Privée']],
        layout: {
          'text-font': ['Open Sans SemiBold'],
          'text-transform': 'uppercase',
          'text-field': '{name}',
          'text-size': 10,
          'symbol-placement': 'line',
          'text-letter-spacing': 0.1
        },
        paint: {
          'text-color': '#666',
          'text-halo-color': 'rgba(255,255,255,0.75)',
          'text-halo-width': 2
        }
      },
      {
        id: 'roads_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['all', ['!=', 'classification', 8], ['!=', 'name', 'voie Non-nommée'], ['!=', 'name', 'voie Privée']],
        minzoom: 14,
        layout: {
          'text-font': ['Open Sans Regular'],
          'text-field': '{name}',
          'text-size': 11,
          'symbol-placement': 'line',
          'text-letter-spacing': 0.1,
          'text-max-angle': 70
        },
        paint: {
          'text-color': '#787878',
          'text-halo-color': '#fff',
          'text-halo-width': 1,
          'text-halo-blur': 0.5
        }
      },
      {
        id: 'large_parks_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'parks',
        filter: ['>=', 'SHAPE_AREA', 150000],
        minzoom: 12,
        layout: {
          'text-anchor': 'center',
          'text-font': ['Open Sans Regular'],
          'text-field': '{NOM_PARC}',
          'text-size': 11.5,
          'symbol-placement': 'point',
          'text-letter-spacing': 0.1,
          'text-padding': 60
        },
        paint: {
          'text-color': '#26660D',
          'text-halo-color': '#fff',
          'text-halo-width': 1,
          'text-halo-blur': 0.5
        }
      },
      {
        id: 'small_parks_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'parks',
        filter: ['<', 'SHAPE_AREA', 150000],
        minzoom: 14.5,
        layout: {
          'text-anchor': 'center',
          'text-font': ['Open Sans Regular'],
          'text-field': '{NOM_PARC}',
          'text-size': 11.5,
          'symbol-placement': 'point',
          'text-letter-spacing': 0.1,
          'text-padding': 30
        },
        paint: {
          'text-color': '#26660D',
          'text-halo-color': '#fff',
          'text-halo-width': 1,
          'text-halo-blur': 0.5
        }
      },
  
      {
        id: 'boroughs_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'boroughs-center',
        maxzoom: 14,
        layout: {
          'text-anchor': 'center',
          'text-font': ['Open Sans Light'],
          'text-field': '{NOM_ARROND}',
          'text-transform': 'uppercase',
          'symbol-placement': 'point',
          'text-letter-spacing': 0.1,
          'text-size': 9
        },
        paint: {
          'text-color': '#666',
          'text-halo-color': 'rgba(255,255,255,0.75)',
          'text-halo-width': 1,
          'text-halo-blur': 1
        }
      },
  
      {
        id: 'cities_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'cities-center',
        filter: ['!=', 'NOM_VILLE', 'Montréal'],
        maxzoom: 14,
        'text-transform': 'uppercase',
        layout: {
          'text-anchor': 'center',
          'text-font': ['Open Sans SemiBold'],
          'text-field': '{NOM_VILLE}',
          'text-size': 10.5,
          'symbol-placement': 'point',
          'text-letter-spacing': 0.1
        },
        paint: {
          'text-color': '#666',
          'text-halo-color': 'rgba(255,255,255,0.75)',
          'text-halo-width': 1,
          'text-halo-blur': 1
        }
      }
    ]
  };
  mapboxgl.accessToken = 'undefined';
  var map = new mapboxgl.Map({
    container: '{{ map.mapID }}',
    zoom: startZoom,
    style: mapboxStyle,  
    center,
    maxBounds,
    interactive: false,
  });

  marker.setLngLat([-73.662623, 45.553576]).addTo(map);

  function defaultMarker() {
    const el = document.createElement('div');
    el.className = 'marker';
    el.style.backgroundImage = "url('../../images/marker/marker.png')";
    el.style.width = '40px';
    el.style.height = '52px';

    return el;
  }

  </script>
