{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  <!-- Teaser -->
  {{# has-lead-text }}
  {{> molecules-lead }}
  {{/ has-lead-text }}

  <div class="region-content {{ regionContentClasses }}">
    <article class="section-content-fluid">
      {{# default-content}}
      <div class="section-inner section-inner-md">
        <p>Donec lacinia neque nec turpis consequat dictum non non felis. Suspendisse vehicula eros a nulla sagittis, sit amet porta quam egestas. Donec non velit ut nulla porta pulvinar. Nullam venenatis sapien id ligula gravida, non tincidunt est malesuada. Nulla eleifend est sit amet dapibus pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut finibus libero non eros consectetur porta. Curabitur vitae tellus commodo, maximus est vel, lobortis massa. Integer ultricies ultrices blandit. Duis lacinia dui vitae augue ultricies pretium a ornare ante.</p>
        <p>Aenean viverra, libero in varius faucibus, sem metus aliquet odio, eu pulvinar massa sapien non tortor. Donec et sapien justo. Donec maximus at nisl ut molestie. Aenean sed maximus ipsum. In eu odio vitae arcu tempus aliquet sed a odio. In id arcu ut magna luctus placerat. Duis dictum nibh id fringilla fermentum. Mauris non ipsum in metus viverra sagittis. Etiam at imperdiet nunc. Ut dolor purus, tincidunt vitae malesuada ut, laoreet in nisl. Mauris euismod hendrerit nisl, ac cursus diam eleifend a. Suspendisse ut condimentum nunc. Ut ultricies orci sit amet ipsum posuere, ac iaculis lacus pulvinar. Praesent vel euismod metus. Sed consectetur diam a tortor ultricies congue.</p>
      </div>
      <div class="section-inner section-inner-lg section-inner-media">
        <div class="media media-image">
          <img src="https://picsum.photos/1200/600?image=1031" alt="Test image nouvelle." class="img-fluid">
        </div>
      </div>
      <div class="section-inner section-inner-md">
        <h2>Nam sed elementum magna</h2>
        <p>Duis sit amet dolor lectus. Donec molestie hendrerit magna <a href="https://beta.montreal.ca/collectrices/nouvelles">montreal.ca</a>, non fringilla turpis maximus vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tellus interdum, vestibulum erat non, vestibulum metus. Vivamus in pulvinar enim. Sed justo tortor, vulputate sed lorem at, interdum aliquet quam. Morbi rhoncus arcu eget tincidunt cursus.</p>
        <p>Nam sed elementum magna. Fusce et malesuada elit. Aliquam semper eget ante quis tristique. Morbi hendrerit vestibulum ante vel fringilla. Etiam et diam et magna placerat posuere sit amet id neque. Etiam a ipsum arcu. Etiam neque ante, convallis vitae imperdiet sed, accumsan sit amet eros. Quisque et iaculis ante, non finibus arcu. Maecenas scelerisque vel purus in interdum. Sed id odio quis felis tempus sagittis nec at orci. Nullam bibendum dictum dolor eget varius.</p>
      
        <h2>Règlements</h2>
        <ul>
          <li><a href="test.pdf">Règlement sur l’encadrement des animaux domestiques</a></li>
          <li><a href="test2.pdf">Faits saillants - Règlement sur l’encadrement des animaux domestiques</a></li>
          <li><a href="#">Foire aux questions  - Règlement sur l’encadrement des animaux domestiques</a></li>
          <li><a href="https://ville.montreal.qc.ca">Un règlement sur ville.montreal.qc.ca</a></li>
        </ul>
      </div>
      {{/ default-content}}
      {{# variant-prix}}
      <div class="section-inner section-inner-md">
        <p>Donec non velit ut nulla porta pulvinar. Nullam venenatis sapien id ligula gravida, non tincidunt est malesuada. Nulla eleifend est sit amet dapibus pulvinar.</p>
        
        <h2>Critères d'admissibilité</h2>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut finibus libero non eros consectetur porta.</p>

        <h2>Mode d'évaluation</h2>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut finibus libero non eros consectetur porta.</p>
        <p>Maecenas et ipsum vitae justo gravida convallis nec quis enim :</p>
        <ol>
          <li>Curabitur tincidunt nibh facilisis libero tincidunt, vitae condimentum massa condimentum.</li>
          <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
          <li>Suspendisse vehicula eros a nulla sagittis.</li>
        </ol>

        <h2>Appel de candidature</h2>
        <p>Maecenas et ipsum vitae justo gravida convallis nec quis enim :</p>
        <ul>
          <li>Curabitur tincidunt nibh facilisis libero tincidunt, vitae condimentum massa condimentum.</li>
          <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
        </ul>

        <h2>Dossier de candidature</h2>
        <p>Duis sit amet dolor lectus. Donec molestie hendrerit magna <a href="https://beta.montreal.ca/collectrices/nouvelles">une page de montreal.ca</a>, non fringilla turpis maximus vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tellus interdum, vestibulum erat non, vestibulum metus. Vivamus in pulvinar enim. Sed justo tortor, vulputate sed lorem at, interdum aliquet quam. Morbi rhoncus arcu eget tincidunt cursus.</p>

        <p><strong>Nam sed elementum magna. Fusce et malesuada elit.</strong></p>
      
        <h3>Documents de la demande</h3>
        <ul>
          <li><a href="test.pdf">Règlement sur l’encadrement des animaux domestiques</a></li>
          <li><a href="test2.pdf">Faits saillants - Règlement sur l’encadrement des animaux domestiques</a></li>
          <li><a href="#">Foire aux questions  - Règlement sur l’encadrement des animaux domestiques</a></li>
          <li><a href="https://ville.montreal.qc.ca">Un règlement sur ville.montreal.qc.ca</a></li>
        </ul>
      </div>
      {{/ variant-prix}}
      {{# variant-mois}}
      <div class="section-inner section-inner-md">
        <p>Donec lacinia neque nec turpis consequat dictum non non felis. Suspendisse vehicula eros a nulla sagittis, sit amet porta quam egestas. Donec non velit ut nulla porta pulvinar. Nullam venenatis sapien id ligula gravida, non tincidunt est malesuada. Nulla eleifend est sit amet dapibus pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut finibus libero non eros consectetur porta. Curabitur vitae tellus commodo, maximus est vel, lobortis massa. Integer ultricies ultrices blandit. Duis lacinia dui vitae augue ultricies pretium a ornare ante.</p>
        <p>Aenean viverra, libero in varius faucibus, sem metus aliquet odio, eu pulvinar massa sapien non tortor. Donec et sapien justo. Donec maximus at nisl ut molestie. Aenean sed maximus ipsum. In eu odio vitae arcu tempus aliquet sed a odio. In id arcu ut magna luctus placerat. Duis dictum nibh id fringilla fermentum. Mauris non ipsum in metus viverra sagittis. Etiam at imperdiet nunc. Ut dolor purus, tincidunt vitae malesuada ut, laoreet in nisl. Mauris euismod hendrerit nisl, ac cursus diam eleifend a. Suspendisse ut condimentum nunc. Ut ultricies orci sit amet ipsum posuere, ac iaculis lacus pulvinar. Praesent vel euismod metus. Sed consectetur diam a tortor ultricies congue.</p>
      </div>
      <div class="section-inner section-inner-lg section-inner-media">
        <div class="media media-image">
          <img src="https://picsum.photos/1200/600?image=998" alt="Test image nouvelle." class="img-fluid">
        </div>
      </div>
      <div class="section-inner section-inner-md">
        <h2>Nam sed elementum magna</h2>
        <p>Duis sit amet dolor lectus. Donec molestie hendrerit magna <a href="https://beta.montreal.ca/collectrices/nouvelles">montreal.ca</a>, non fringilla turpis maximus vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tellus interdum, vestibulum erat non, vestibulum metus. Vivamus in pulvinar enim. Sed justo tortor, vulputate sed lorem at, interdum aliquet quam. Morbi rhoncus arcu eget tincidunt cursus.</p>
        <p>Nam sed elementum magna. Fusce et malesuada elit. Aliquam semper eget ante quis tristique. Morbi hendrerit vestibulum ante vel fringilla. Etiam et diam et magna placerat posuere sit amet id neque. Etiam a ipsum arcu. Etiam neque ante, convallis vitae imperdiet sed, accumsan sit amet eros. Quisque et iaculis ante, non finibus arcu. Maecenas scelerisque vel purus in interdum. Sed id odio quis felis tempus sagittis nec at orci. Nullam bibendum dictum dolor eget varius.</p>
        <p><a href="test.pdf">Présentation détaillée des activités offertes sur le territoire montréalais</a></p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut finibus libero non eros consectetur porta.</p>
        <p><a href="http://montreal.ca" class="btn btn-primary">Remplir le sondage</a></p>
      </div>
      {{/ variant-mois}}
      {{# social-medias }}
      <div class="section-inner section-inner-md section-divider">
        <h2 class="section-subheading">Suivez le sujet XYZ</h2>
        {{> atoms-social-media-icons-list}}
      </div>
      {{/ social-medias}}
      {{# contact }}
      <div class="section-inner section-inner-md section-divider">
        <h2 class="section-subheading">Contact</h2>
        {{> molecules-block-contact }}
      </div>
      {{/ contact}}
    </article>
  </div>

  {{# cards-tarif}}
  <section class="page-section {{ regionAfterClasses }} bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-heading">Tarifs</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item-tarif-v2}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </section>
  {{/ cards-tarif}}

  {{# cards-suggested-content}}
  <section class="page-section {{ regionAfterClasses }} bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-heading">Plus d'information</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </section>
  {{/ cards-suggested-content}}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}
