{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  <div class="region-content {{ regionContentClasses }}">

  </div>

</main>

{{> organisms-footer-portal }}
