{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  <!-- Teaser -->
  {{# has-lead-text }}
  {{> molecules-lead }}
  {{/ has-lead-text }}

  <div class="region-content {{ regionMainClasses }}">
    <div class="container">
      <div class="row">
        <article class="col-12 col-lg-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at convallis felis. Sed non purus ligula. Phasellus vulputate aliquam libero nec sollicitudin. 
          Integer vel egestas neque, eu faucibus tellus. Ut consequat tortor justo, blandit convallis ex malesuada vel. Ut dapibus enim pretium diam lacinia porttitor et a ante. 
          Maecenas a ligula at urna accumsan mollis. Quisque congue erat nec lacus dapibus, ut sodales mi finibus. Proin rhoncus nibh vel justo cursus pharetra.</p>
          
          <div class="list-group list-group-hub">
            <!-- Services -->
            <div class="list-group-item">
              <div class="list-group-item-body">
                <h2 class="list-group-item-title">Services</h2>
                <div class="list-group-item-content">
                  <div class="row list-group-item-column">
                    <div class="col-12">
                      <ul>
                        <li>Wi-Fi gratuit</li>
                        <li>Vestiaire familial</li>
                        <li>Toilettes</li>
                        <li>Casse-croûte</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accessibilité -->
            <div class="list-group-item">
              <div class="list-group-item-body">
                <h2 class="list-group-item-title">Accessibilité Universelle</h2>
                <div class="list-group-item-content">
                  <div class="row list-group-item-row">
                    <div class="col-md-4">
                      <span class="label">Lieu ou bâtiment accessible</span>
                    </div>
                    <div class="col-md-8">
                      <span>Oui</span>
                    </div>
                  </div>
                  <div class="row list-group-item-row">
                    <div class="col-md-4">
                      <span class="label">Service accessbile</span>
                    </div>
                    <div class="col-md-8">
                      <span>Oui</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Acces -->
            <div class="list-group-item">
              <div class="list-group-item-body">
                <h2 class="list-group-item-title">Accès</h2>
                <div class="list-group-item-content">
                  <div class="row list-group-item-row">
                    <div class="col-md-4">
                      <span class="label">Capacité d'accueil</span>
                    </div>
                    <div class="col-md-8">
                      <span>899900 places</span>
                    </div>
                  </div>
                  <div class="row list-group-item-row">
                    <div class="col-md-4">
                      <span class="label">Condition d'admission</span>
                    </div>
                    <div class="col-md-8">
                      <a class="elided-text" href="http://ville.montreal.qc.ca/portal/page?_pageid=5798,85041649&_dad=portal&_schema=PORTAL">http://ville.montreal.qc.ca/portal/page?_pageid=5798,85041649&_dad=portal&_schema=PORTAL</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tarifs -->
            <div class="list-group-item">
              <div class="list-group-item-body">
                <h2 class="list-group-item-title">Tarifs</h2>
                <div class="list-group-item-content">
                  <div class="row list-group-item-column">
                    <div class="col-12">
                      <span class="label">Prix</span>
                      <p>Prix réguliers // Résidents du Québec<br>
                      Adultes : 20,50 $ // 16,00 $<br>
                      65 ans et plus : 18,75 $ // 15,00 $<br>
                      Étudiants (18+)* : 15,00 $ // 12,25 $<br>
                      5 à 17 ans : 10,25 $ // 8,00 $<br>
                      Famille** : 56,75 $ // 45,00 $</p>
                      <p>Tarifs valides du 30 janvier au 31 décembre 2018</p>
                    </div>
                  </div>
                  <div class="row list-group-item-column">
                    <div class="col-12">
                      <span class="label">Précisions sur les tarifs</span>
                      <p>* Tarif accordé sur présentation de carte d'identité étudiante.<br>
                      ** Famille : un maximum de 2 adultes et 3 enfants de 5 à 17 ans. Le tarif famille carte Accès Montréal est applicable si tous les membres de la famille présents lors de la visite sont détenteurs d'une carte Accès Montréal valide.</p>
                      <p>Taxes comprises<br>
                      Gratuit pour les enfants de 4 ans et moins</p>
                    </div>
                  </div>
                  <div class="row list-group-item-column">
                    <div class="col-12">
                      <span class="label">Tarifs de groupe</span>
                      <p>Minimum requis : 15 personnes<br>
                      Adultes : 14,00 $<br>
                      65 ans et plus : 13,00 $<br>
                      Étudiants (18+)* : 10,75 $<br>
                      5 à 17 ans : 7,00 $</p>
                      <p>Tarifs valides du 30 janvier au 31 décembre 2018</p>
                    </div>
                  </div>
                  <div class="row list-group-item-column">
                    <div class="col-12">
                      <span class="label">Mode(s) de paiement</span>
                      <ul>
                        <li>Argent comptant</li>
                        <li>Carte de débit</li>
                        <li>Visa</li>
                        <li>Mastercard</li>
                        <li>American Express</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row list-group-item-column">
                    <div class="col-12">
                      <span class="label">Pour connaître tous les tarifs</span>
                      <a class="elided-text" href="http://ville.montreal.qc.ca/portal/page?_pageid=5798,85041649&_dad=portal&_schema=PORTAL">http://ville.montreal.qc.ca/portal/page?_pageid=5798,85041649&_dad=portal&_schema=PORTAL</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </article>
        {{# sidebarRight }}
        <aside class="col-12 col-lg-4 sidebar-right" role="complementary">
          {{> organisms-sidebar-block-schedule }}
        </aside>
        {{/ sidebarRight }}
      </div>
    </div>
  </div>

  {{# map }}
  <section class="map-section">
    <div id="{{ mapID }}" style="height:500px"></div>
  </section>
  {{/ map }}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}

<script>
    var startZoom = 16;
    var center = [-73.662623, 45.553576];
    var maxBounds = [[-74.3965936,45.319517],[-73.442801,45.751651]];
    var marker = new mapboxgl.Marker(defaultMarker());
    var mapboxStyle = {
    version: 8,
    name: 'basic',
    sources: {
      'vector-tile-api': {
        type: 'vector',
        tiles: [`https://api.montreal.ca/api/it-platforms/geomatic/vector-tiles/maps/v1/basemap/{z}/{x}/{y}.pbf`]
      },
    },
    glyphs: '../../glyphs/{fontstack}/{range}.pbf',
    layers: [
      {
        id: 'background',
        type: 'background',
        paint: {
          'background-color': '#e7e5e0'
        }
      },
  
      {
        id: 'cities',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'cities',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#E6E4E0'
        }
      },
  
      {
        id: 'water',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'water',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#75cff0'
        }
      },
  
      {
        id: 'large_parks',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'parks',
        filter: ['>=', 'SHAPE_AREA', 150000],
        paint: {
          'fill-color': '#B6E59E'
        }
      },
      {
        id: 'small_parks',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'parks',
        filter: ['<', 'SHAPE_AREA', 150000],
        minzoom: 12,
        paint: {
          'fill-color': '#B6E59E'
        }
      },
      {
        id: 'lakes',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'lakes',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#75cff0'
        }
      },
      {
        id: 'streams',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'streams',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#75cff0'
        }
      },
      {
        id: 'canals',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'canals',
        filter: ['==', '$type', 'Polygon'],
        paint: {
          'fill-color': '#75cff0'
        }
      },
      {
        id: 'roads_0',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        minzoom: 14,
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#D6D9E6',
          'line-width': {
            base: 1.4,
            stops: [[10, 1.45], [14, 6], [18, 38]]
          }
        }
      },
      {
        id: 'arterial_network_0',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['any', ['==', 'classification', 6], ['==', 'classification', 7]],
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#DBDDE3',
          'line-width': {
            base: 1.2,
            stops: [[12, 1.45], [14, 5], [18, 38]]
          }
        }
      },
      {
        id: 'roads',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        minzoom: 11,
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#F8F8F8',
          'line-width': {
            base: 1.55,
            stops: [[12, 1.35], [14, 5], [18, 35]]
          }
        }
      },
      {
        id: 'arterial network',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['any', ['==', 'classification', 6], ['==', 'classification', 7]],
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#F8F8F8',
          'line-width': {
            base: 1.4,
            stops: [[10, 1.25], [14, 3], [18, 35]]
          }
        }
      },
  
      {
        id: 'highways',
        type: 'line',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['==', 'classification', 8],
        layout: {
          'line-cap': 'round',
          'line-join': 'round'
        },
        paint: {
          'line-color': '#FFA35C',
          'line-width': {
            base: 1.4,
            stops: [[6, 0.5], [20, 30]]
          }
        }
      },
      {
        id: 'buildings',
        type: 'fill',
        source: 'vector-tile-api',
        'source-layer': 'buildings',
        minzoom: 13,
        paint: {
          'fill-color': ['interpolate', ['linear'], ['zoom'], 15, '#DCDCDC', 16, '#D3D3D3', 17, '#CECECE', 18, '#C3C3C3']
        }
      },
      
      {
        id: 'highways_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['all', ['==', 'classification', 8], ['!=', 'name', 'voie Non-nommée'], ['!=', 'name', 'voie Privée']],
        layout: {
          'text-font': ['Open Sans SemiBold'],
          'text-transform': 'uppercase',
          'text-field': '{name}',
          'text-size': 10,
          'symbol-placement': 'line',
          'text-letter-spacing': 0.1
        },
        paint: {
          'text-color': '#666',
          'text-halo-color': 'rgba(255,255,255,0.75)',
          'text-halo-width': 2
        }
      },
      {
        id: 'roads_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'road-sections',
        filter: ['all', ['!=', 'classification', 8], ['!=', 'name', 'voie Non-nommée'], ['!=', 'name', 'voie Privée']],
        minzoom: 14,
        layout: {
          'text-font': ['Open Sans Regular'],
          'text-field': '{name}',
          'text-size': 11,
          'symbol-placement': 'line',
          'text-letter-spacing': 0.1,
          'text-max-angle': 70
        },
        paint: {
          'text-color': '#787878',
          'text-halo-color': '#fff',
          'text-halo-width': 1,
          'text-halo-blur': 0.5
        }
      },
      {
        id: 'large_parks_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'parks',
        filter: ['>=', 'SHAPE_AREA', 150000],
        minzoom: 12,
        layout: {
          'text-anchor': 'center',
          'text-font': ['Open Sans Regular'],
          'text-field': '{NOM_PARC}',
          'text-size': 11.5,
          'symbol-placement': 'point',
          'text-letter-spacing': 0.1,
          'text-padding': 60
        },
        paint: {
          'text-color': '#26660D',
          'text-halo-color': '#fff',
          'text-halo-width': 1,
          'text-halo-blur': 0.5
        }
      },
      {
        id: 'small_parks_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'parks',
        filter: ['<', 'SHAPE_AREA', 150000],
        minzoom: 14.5,
        layout: {
          'text-anchor': 'center',
          'text-font': ['Open Sans Regular'],
          'text-field': '{NOM_PARC}',
          'text-size': 11.5,
          'symbol-placement': 'point',
          'text-letter-spacing': 0.1,
          'text-padding': 30
        },
        paint: {
          'text-color': '#26660D',
          'text-halo-color': '#fff',
          'text-halo-width': 1,
          'text-halo-blur': 0.5
        }
      },
  
      {
        id: 'boroughs_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'boroughs-center',
        maxzoom: 14,
        layout: {
          'text-anchor': 'center',
          'text-font': ['Open Sans Light'],
          'text-field': '{NOM_ARROND}',
          'text-transform': 'uppercase',
          'symbol-placement': 'point',
          'text-letter-spacing': 0.1,
          'text-size': 9
        },
        paint: {
          'text-color': '#666',
          'text-halo-color': 'rgba(255,255,255,0.75)',
          'text-halo-width': 1,
          'text-halo-blur': 1
        }
      },
  
      {
        id: 'cities_labels',
        type: 'symbol',
        source: 'vector-tile-api',
        'source-layer': 'cities-center',
        filter: ['!=', 'NOM_VILLE', 'Montréal'],
        maxzoom: 14,
        'text-transform': 'uppercase',
        layout: {
          'text-anchor': 'center',
          'text-font': ['Open Sans SemiBold'],
          'text-field': '{NOM_VILLE}',
          'text-size': 10.5,
          'symbol-placement': 'point',
          'text-letter-spacing': 0.1
        },
        paint: {
          'text-color': '#666',
          'text-halo-color': 'rgba(255,255,255,0.75)',
          'text-halo-width': 1,
          'text-halo-blur': 1
        }
      }
    ]
  };
  mapboxgl.accessToken = 'undefined';
  var map = new mapboxgl.Map({
    container: '{{ map.mapID }}',
    zoom: startZoom,
    style: mapboxStyle,  
    center,
    maxBounds,
    interactive: false,
  });

  marker.setLngLat([-73.662623, 45.553576]).addTo(map);

  var markerHeight = 50, markerRadius = 10, linearOffset = 25;
  var popupOffsets = {
  'top': [0, 0],
  'top-left': [0,0],
  'top-right': [0,0],
  'bottom': [0, -markerHeight],
  'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
  'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
  'left': [markerRadius, (markerHeight - markerRadius) * -1],
  'right': [-markerRadius, (markerHeight - markerRadius) * -1]
  };
  var popup = new mapboxgl.Popup({closeButton: false, closeOnClick: false, offset: popupOffsets, className: 'map-popup'})
    .setLngLat([-73.662623, 45.553576])
    .setHTML("<address><strong>Maison de la culture Ahuntsic-Cartierville</strong><br>10300, rue Lajeunesse,<br>Montréal, Qc, H3L 2E5</address>")
    .addTo(map);

  function defaultMarker() {
    const el = document.createElement('div');
    el.className = 'marker';
    el.style.backgroundImage = "url('../../images/marker/marker.png')";
    el.style.width = '40px';
    el.style.height = '52px';

    return el;
  }

  </script>

