{{> styles-link-skip-to-main-content }}
{{> patterns-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> patterns-content-header }}

  <!-- Teaser -->
  {{# has-lead-text}}
  {{> components-lead }}
  {{/ has-lead-text}}

  <!-- Nav Anchors -->
  {{# has-nav-anchors }}
  {{> components-nav-anchors }}
  {{/ has-nav-anchors }}

  <div id="navTop" class="region-content {{ regionMainClasses }}">
    <div class="container">
      <div class="row">
       {{# has-empty-state}}
        <article class="col-12">
          {{> components-empty-state-arrondissement}}
        </article>
        {{/ has-empty-state}}
        {{^ has-empty-state}}
        <article class="col-12 col-lg-7 col-xl-8">
          <p>Duis iaculis nisi sit amet consequat interdum. Nunc elementum et nibh vitae suscipit. Sed at quam in nisl posuere aliquam. Quisque scelerisque porta feugiat. Praesent et bibendum diam. Fusce ultrices scelerisque molestie. Nulla risus sapien, luctus in ornare at, molestie non lectus. Etiam nec lacinia arcu.</p>
          <p>Morbi sed urna vitae odio tincidunt dictum. Vivamus nulla orci, scelerisque a gravida nec, elementum id purus. Curabitur malesuada consectetur turpis, eu malesuada odio convallis non. Ut lacus urna, auctor id mollis sit amet, fermentum sit amet dolor. Curabitur vitae sem vitae felis scelerisque aliquet. Sed euismod metus quam, vel porta magna ultricies cursus. Sed mi dolor, dictum eget libero et, tristique fermentum sapien. Praesent consequat arcu sit amet metus pellentesque sagittis. Donec non tortor mi. Aenean eget mauris ut sem malesuada fermentum a sed libero. Phasellus nunc turpis, malesuada nec purus at, lacinia elementum nibh. Donec varius, neque sed aliquet dictum, est nunc pharetra augue, ac fermentum risus tellus vel arcu. Sed aliquam pharetra tristique. Suspendisse sodales tincidunt semper.</p>
          <p>Pour connaître l'horaire de la collecte dans votre secteur, consultez <a href="https://servicesenligne2.ville.montreal.qc.ca/sel/infocollectes/?lang=fr">Info-collectes</a>.</p>          
          
          {{# matieres}}
          {{#matieres-collapsible-item}}
          <div id="{{ id }}" class="page-section-anchor">
            <h2 class="h3">{{ title }}</h2>
            
            {{> components-collapsible }}
            
          </div>
          {{/ matieres-collapsible-item}}

          {{# matieres-list-item}}
          <div id="{{ id }}" class="page-section-anchor" >
            <h3>{{ title }}</h3>
            <ul>
            {{# listItem }}
              <li>{{ text }}</li>
            {{/ listItem }}
            </ul>
          </div>
          {{/ matieres-list-item}}
          {{/ matieres}}

        </article>
        {{# sidebarRight}}
        <aside class="col-12 col-lg-5 col-xl-4" role="complementary">
          {{> patterns-sidebar-block-top-stroke}}
        </aside>
        {{/ sidebarRight}}
        {{/ has-empty-state}}
      </div>
    </div>
  </div>

  {{# informations}}
  <section id="informations" class="page-section {{ regionAfterClasses }} bg-gray-sky">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-heading">Plus d'information</h2>
        </div>
      </div>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> components-card-item}}
        </div>
        {{/ cards.card-item }}
      </div>
    </div>
  </section>
  {{/ informations}}

  {{# hasFeedbackForm}}
  {{> components-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> patterns-footer-portal }}
