icons-utility: (
	sprite: (
		width: 720px, 
		height: 640px, 
		svgPath: '../icon-utility/vdm-icons-scss.svg'
	),
	311-mobile: (
		width: 80px, 
		height: 80px, 
		backgroundX: -80px, 
		backgroundY: 0px
	),
	aerosol: (
		width: 80px, 
		height: 80px, 
		backgroundX: -240px, 
		backgroundY: -400px
	),
	ampoule: (
		width: 80px, 
		height: 80px, 
		backgroundX: 0px, 
		backgroundY: -80px
	),
	arbre: (
		width: 80px, 
		height: 80px, 
		backgroundX: -80px, 
		backgroundY: -80px
	),
	attention: (
		width: 80px, 
		height: 80px, 
		backgroundX: -160px, 
		backgroundY: 0px
	),
	autobus: (
		width: 80px, 
		height: 80px, 
		backgroundX: -160px, 
		backgroundY: -80px
	),
	balai: (
		width: 80px, 
		height: 80px, 
		backgroundX: 0px, 
		backgroundY: -160px
	),
	banc: (
		width: 80px, 
		height: 80px, 
		backgroundX: -80px, 
		backgroundY: -160px
	),
	billet: (
		width: 80px, 
		height: 80px, 
		backgroundX: -160px, 
		backgroundY: -160px
	),
	calendrier: (
		width: 80px, 
		height: 80px, 
		backgroundX: -240px, 
		backgroundY: 0px
	),
	carte-de-credit: (
		width: 80px, 
		height: 80px, 
		backgroundX: -240px, 
		backgroundY: -80px
	),
	cloche: (
		width: 80px, 
		height: 80px, 
		backgroundX: -240px, 
		backgroundY: -160px
	),
	compostage: (
		width: 80px, 
		height: 80px, 
		backgroundX: 0px, 
		backgroundY: -240px
	),
	cone: (
		width: 80px, 
		height: 80px, 
		backgroundX: -80px, 
		backgroundY: -240px
	),
	coyote: (
		width: 80px, 
		height: 80px, 
		backgroundX: -160px, 
		backgroundY: -240px
	),
	crayon: (
		width: 80px, 
		height: 80px, 
		backgroundX: -240px, 
		backgroundY: -240px
	),
	curseur: (
		width: 80px, 
		height: 80px, 
		backgroundX: -320px, 
		backgroundY: 0px
	),
	dossier-nouveau: (
		width: 80px, 
		height: 80px, 
		backgroundX: -320px, 
		backgroundY: -80px
	),
	drapeau: (
		width: 80px, 
		height: 80px, 
		backgroundX: -320px, 
		backgroundY: -160px
	),
	ecrou: (
		width: 80px, 
		height: 80px, 
		backgroundX: -320px, 
		backgroundY: -240px
	),
	engrenage: (
		width: 80px, 
		height: 80px, 
		backgroundX: 0px, 
		backgroundY: -320px
	),
	enveloppe: (
		width: 80px, 
		height: 80px, 
		backgroundX: -80px, 
		backgroundY: -320px
	),
	excavatrice: (
		width: 80px, 
		height: 80px, 
		backgroundX: -160px, 
		backgroundY: -320px
	),
	fax: (
		width: 80px, 
		height: 80px, 
		backgroundX: -240px, 
		backgroundY: -320px
	),
	feuille: (
		width: 80px, 
		height: 80px, 
		backgroundX: -320px, 
		backgroundY: -320px
	),
	glissant: (
		width: 80px, 
		height: 80px, 
		backgroundX: -400px, 
		backgroundY: 0px
	),
	horloge: (
		width: 80px, 
		height: 80px, 
		backgroundX: -400px, 
		backgroundY: -80px
	),
	journal: (
		width: 80px, 
		height: 80px, 
		backgroundX: -400px, 
		backgroundY: -160px
	),
	lampadaire: (
		width: 80px, 
		height: 80px, 
		backgroundX: -400px, 
		backgroundY: -240px
	),
	livre: (
		width: 80px, 
		height: 80px, 
		backgroundX: -400px, 
		backgroundY: -320px
	),
	localisation: (
		width: 80px, 
		height: 80px, 
		backgroundX: 0px, 
		backgroundY: -400px
	),
	localisation-etoile: (
		width: 80px, 
		height: 80px, 
		backgroundX: -80px, 
		backgroundY: -400px
	),
	maison: (
		width: 80px, 
		height: 80px, 
		backgroundX: -160px, 
		backgroundY: -400px
	),
	mire: (
		width: 80px, 
		height: 80px, 
		backgroundX: 0px, 
		backgroundY: 0px
	),
	nid-de-poule: (
		width: 80px, 
		height: 80px, 
		backgroundX: -320px, 
		backgroundY: -400px
	),
	oeil: (
		width: 80px, 
		height: 80px, 
		backgroundX: -400px, 
		backgroundY: -400px
	),
	ordinateur: (
		width: 80px, 
		height: 80px, 
		backgroundX: -480px, 
		backgroundY: 0px
	),
	permis-animal-chat: (
		width: 80px, 
		height: 80px, 
		backgroundX: -480px, 
		backgroundY: -80px
	),
	permis-animal-generique: (
		width: 80px, 
		height: 80px, 
		backgroundX: -480px, 
		backgroundY: -160px
	),
	permis-chat: (
		width: 80px, 
		height: 80px, 
		backgroundX: -480px, 
		backgroundY: -240px
	),
	permis-chien: (
		width: 80px, 
		height: 80px, 
		backgroundX: -480px, 
		backgroundY: -320px
	),
	permis-generique: (
		width: 80px, 
		height: 80px, 
		backgroundX: -480px, 
		backgroundY: -400px
	),
	permis-humain: (
		width: 80px, 
		height: 80px, 
		backgroundX: 0px, 
		backgroundY: -480px
	),
	permis-occupation-temporaire: (
		width: 80px, 
		height: 80px, 
		backgroundX: -80px, 
		backgroundY: -480px
	),
	permis-stationnement: (
		width: 80px, 
		height: 80px, 
		backgroundX: -160px, 
		backgroundY: -480px
	),
	personnes: (
		width: 80px, 
		height: 80px, 
		backgroundX: -240px, 
		backgroundY: -480px
	),
	petition: (
		width: 80px, 
		height: 80px, 
		backgroundX: -320px, 
		backgroundY: -480px
	),
	play: (
		width: 80px, 
		height: 80px, 
		backgroundX: -400px, 
		backgroundY: -480px
	),
	plume: (
		width: 80px, 
		height: 80px, 
		backgroundX: -480px, 
		backgroundY: -480px
	),
	porte-documents: (
		width: 80px, 
		height: 80px, 
		backgroundX: -560px, 
		backgroundY: 0px
	),
	porte-voix: (
		width: 80px, 
		height: 80px, 
		backgroundX: -560px, 
		backgroundY: -80px
	),
	poubelle: (
		width: 80px, 
		height: 80px, 
		backgroundX: -560px, 
		backgroundY: -160px
	),
	preferences: (
		width: 80px, 
		height: 80px, 
		backgroundX: -560px, 
		backgroundY: -240px
	),
	prix: (
		width: 80px, 
		height: 80px, 
		backgroundX: -560px, 
		backgroundY: -320px
	),
	profil: (
		width: 80px, 
		height: 80px, 
		backgroundX: -560px, 
		backgroundY: -400px
	),
	recyclage: (
		width: 80px, 
		height: 80px, 
		backgroundX: -560px, 
		backgroundY: -480px
	),
	rosace: (
		width: 80px, 
		height: 80px, 
		backgroundX: 0px, 
		backgroundY: -560px
	),
	sapin: (
		width: 80px, 
		height: 80px, 
		backgroundX: -80px, 
		backgroundY: -560px
	),
	signalisation: (
		width: 80px, 
		height: 80px, 
		backgroundX: -160px, 
		backgroundY: -560px
	),
	soleil: (
		width: 80px, 
		height: 80px, 
		backgroundX: -240px, 
		backgroundY: -560px
	),
	souffleuse: (
		width: 80px, 
		height: 80px, 
		backgroundX: -320px, 
		backgroundY: -560px
	),
	sports: (
		width: 80px, 
		height: 80px, 
		backgroundX: -400px, 
		backgroundY: -560px
	),
	telephone: (
		width: 80px, 
		height: 80px, 
		backgroundX: -480px, 
		backgroundY: -560px
	),
	terrain-sport: (
		width: 80px, 
		height: 80px, 
		backgroundX: -560px, 
		backgroundY: -560px
	),
	usine: (
		width: 80px, 
		height: 80px, 
		backgroundX: -640px, 
		backgroundY: 0px
	),
	vente-garage: (
		width: 80px, 
		height: 80px, 
		backgroundX: -640px, 
		backgroundY: -80px
	),
	voiture: (
		width: 80px, 
		height: 80px, 
		backgroundX: -640px, 
		backgroundY: -160px
	),
);