<div class="">
  <form method="GET">
    <div class="form-combo icon-combo dropdown-combo border-combo">
      <h3 class="title">{{ combo-box-text }}</h3>
      <div class="input-group">
        <div id="dropdown-combo-menu-list" class="dropdown-combo-toggle d-sm-flex d-none"
          aria-haspopup="true" data-toggle="dropdown">
          <span class="vfi vfi-localisation-plein" aria-hidden="true"></span>
          <span class="dropdown-combo-placeholder">Sélectionnez votre arrondissement</span>
          <span class="vfi vfi-chevron-bas" aria-hidden="true"></span>
        </div>
        <span class="dropdown-combo-toggle dropdown-combo-toggle-select d-sm-none d-flex">
          <span class="vfi vfi-localisation-plein" aria-hidden="true"></span>
          <div class="select-container">
            <select name="arrondissement" class="dropdown-combo-select" data-auto-submit-dropdown="true">
              <option value="">Sélectionnez votre arrondissement</option>
              {{# dropdown.options }}
              <option key={{value}} value={{value}}>{{label}}</option>
              {{/ dropdown.options }}
            </select>
          </div>
          <span class="dropdown-combo-select-button">
            <span class="vfi vfi-chevron-bas" aria-hidden="true"></span>
          </span>
        </span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-combo-menu-list">
        {{# dropdown.options }}  
          <li key={{value}} role="menuitem">
            <a class="dropdown-item" data-toolbox-dropdown-item={{value}}>{{label}}</a>
          </li>
        {{/ dropdown.options }}
        </ul>
      </div>
    </div>
  </form>
</div>
