<form id="searchform">
  <div class="form-combo icon-combo color-scheme-light inline-button">
    <h3 class="title">Combo block title - inline button</h3>
    <div class="input-wrapper stroked d-flex d-inline-flex">
      {{> atoms-fonticon-item }}
      {{> atoms-input }}
      {{> atoms-button }}
    </div>
  </div>
</form>
