<div class="header-search">
  <form method="post">
    <label for="search" class="sr-only">Search the site</label>
    {{> atoms-fonticon-item(label: "recherche") }}
  </form>
  {{> atoms-fonticon-item(label: "recherche") }}
</div>
