<form>
  <div class="form-combo icon-combo color-scheme-light d-flex">
    <h3 class="title">{{ combo-box-text }}</h3>
    <div class="input-wrapper stroked d-flex d-inline-flex">
      {{> atoms-fonticon-item }}
      {{> atoms-input }}
    </div>
    {{> atoms-button }}
  </div>
</form>
