<form>
  <div class="form-combo icon-combo search-combo">
    <h3 class="title {{combo-box-title-class}}">{{ combo-box-text }}</h3>
    <div class="input-group stroked">
      {{> atoms-fonticon-item }}
      {{> atoms-input( inputHideLabel: true) }}
    </div>
    {{> atoms-button }}
  </div>
</form>
