<div class="container-fluid pl-atom-icons-grid">

	<h4 class="pl-pattern-subtitle">Size</h4>
	<ul class="row list-unstyled">
    {{#iconSize}}
    <li class="col-xs-6 col-sm-4 col-md-2">
      <div class="pl-atom-icon-item icon-utility">
        <span class="icon {{ nameIcon }} {{ classSize }}"></span>
        <span class="ic-name">{{ label }}</span>
      </div>
    </li>
    {{/iconSize}}
  </ul>

	<h4 class="pl-pattern-subtitle">Color</h4>
  	<ul class="row list-unstyled">
  	{{#iconColorPrimary}}
    <li class="col-xs-6 col-sm-4 col-md-2">
      <div class="pl-atom-icon-item icon-utility">
        <span class="icon {{ nameIcon }} {{ classColor }}"></span>
        <span class="ic-name">{{ label }}</span>
      </div>
    </li>
		{{/iconColorPrimary}}
  </ul>
	<ul class="row list-unstyled">
  	{{#iconColorBase}}
    <li class="col-xs-6 col-sm-4 col-md-2">
      <div class="pl-atom-icon-item icon-utility">
        <span class="icon {{ nameIcon }} {{ classColor }}"></span>
        <span class="ic-name">{{ label }}</span>
      </div>
    </li>
		{{/iconColorBase}}
  </ul>
  <ul class="row list-unstyled">
  	{{#iconColorDialog}}
    <li class="col-xs-6 col-sm-4 col-md-2">
      <div class="pl-atom-icon-item icon-utility">
        <span class="icon {{ nameIcon }} {{ classColor }}"></span>
        <span class="ic-name">{{ label }}</span>
      </div>
    </li>
		{{/iconColorDialog}}
  </ul>
  <ul class="row list-unstyled">
  	{{#iconColorDialogDark}}
    <li class="col-xs-6 col-sm-4 col-md-2">
      <div class="pl-atom-icon-item icon-utility">
        <span class="icon {{ nameIcon }} {{ classColor }}"></span>
        <span class="ic-name">{{ label }}</span>
      </div>
    </li>
		{{/iconColorDialogDark}}
  </ul>

</div>
