{{> components-skip-navigation }}
<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  <div class="container pt-4 pt-lg-8">
    <div class="row{{^ sidebarRight }} justify-content-center{{/ sidebarRight}}">
      <div class="col-12{{^ sidebarRight }} col-lg-7{{/ sidebarRight}}">
        {{> components-breadcrumbs}}
      </div>
    </div>
  </div>

  {{# documentHeading}}
  <div class="mb-4 mb-lg-0">
  {{> patterns-content-header}}
  </div>
  {{/ documentHeading}}

  <div class="region-content pt-0">

    <div class="container">

      <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
          <header class="content-header">

            <h1>{{ heading }}</h1>

            {{> patterns-content-header-extras}}

          </header>

          <div class="lead">
            {{{ lead }}}
          </div>

          {{# module-anchors}}
          <div class="mb-8">
            {{> patterns-sommaire-navigation}}
          </div>
          {{/ module-anchors}}

          {{# module-volets}}
          {{> templates-citoyens-content-programme}}
          {{/ module-volets}}

          <div class="content-modules">
            {{# module-reglements}}
            <div class="content-module-stacked">
              <h2>Règlements</h2>
              {{> components-liste-lien }}
            </div>
            {{/ module-reglements}}

            {{# module-partners}}

              <h2>En partenariat</h2>
              {{{ partnerText }}}
              {{# hasLogos }}
              {{# listPartners}}
              <ul class="row cards pt-2">
                {{# listPartners.items }}
                <li class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                  {{# url}}<a href="{{url}}" class="card">{{/url}}
                  {{^url}}<div class="card">{{/url}}
                    <div class="card-body" style="height: 138px;">
                      {{# logo}}
                      <div class="p-2 d-flex align-items-center justify-content-center text-center my-auto h-100" >
                          <img src="{{ src }}" alt="{{ alt }}" class="h-auto w-auto mh-100 mw-100" />
                      </div>
                      {{/logo}}
                      {{^logo}}<div class="text-center my-auto font-weight-bold font-size-sm-interface">{{ name }}</div>{{/ logo}}
                    </div>
                  {{#url}}</a>{{/url}}
                  {{^url}}</div>{{/url}}
                </li>
                {{/ listPartners.items }}
              </ul>
              {{/ listPartners}}
              {{/ hasLogos}}
              {{^ hasLogos}}
              {{# listPartners}}
              <ul>
                {{# listPartners.items }}
                <li>
                  {{# url}}<a href="{{url}}">{{/ url}}
                  {{ name }}
                  {{#url}}</a>{{/url}}
                </li>
                {{/ listPartners.items }}
              </ul>
              {{/ listPartners}}
              {{/ hasLogos}}

            {{/ module-partners}}
          </div>

          {{# module-links}}
          <div class="badges-container mb-8">
            <h2 class="h5 text-body">Recherche rapide</h2>
            <ul class="list-inline mb-n1 font-size-base-interface">
            {{# links }}
              <li class="list-inline-item mr-1 mb-1">
                <a href="{{url}}" title="link title text">{{title}}</a>
              </li>
            {{/ links }}
            </ul>
          </div>
          {{/ module-links}}

        </div>

        {{# sidebarRight}}
        <aside class="col-12 col-lg-4" role="complementary">
          {{> templates-citoyens-sidebar-programme}}
        </aside>
        {{/ sidebarRight}}

      </section>

      <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
        {{> components-feedback-form}}
        </div>
      </section>

    </div>
  </div>
</main>

{{> patterns-footer-main }}
