<div class="container-fluid">
	<ul class="row list-unstyled">
		<li class="col-xs-12 col-sm-6">
			<img class="img-fluid" src="https://picsum.photos/768/768?image=1074" alt="Responsive circular image - 768 pixels" width="768" height="768">
		</li>
		<li class="col-xs-12 col-sm-6">
			<img class="img-fluid rounded-circle" src="https://picsum.photos/768/768?image=1074" alt="Responsive circular image - 768 pixels" width="768" height="768">
		</li>
	</ul>
</div>




