<h4 class="pl-pattern-subtitle">Avatar</h4>
<div class="pl-flex-wrap-container">
{{# mediaUserAvatar}}{{> styles-media-avatar}}{{/ mediaUserAvatar}}
</div>

<h4 class="pl-pattern-subtitle">Profile</h4>
<div class="pl-flex-wrap-container">
{{# mediaUserAvatarProfile}}{{> styles-media-avatar}}{{/ mediaUserAvatarProfile}}
</div>
