{{# grid-logos}}
<div class="grid-logos">
  <div class="row align-items-center">
    {{# grid-logos.items}}
    <div class="col-12 col-sm-6 col-md-4">
      <div class="grid-logo text-center">
        <img src="{{ src }}" alt="{{ alt }}"  class="img-fluid" />
      </div>
    </div>
    {{/ grid-logos.items}}
  </div>
</div>
{{/ grid-logos}}