// stylelint-disable declaration-no-important

//
// Background
//

//map the gray background-colors
@each $color, $value in $grays {
  @include bg-variant(".bg-gray-#{$color}", $value);
}

// Make the color of dialog light
@each $label, $map in $dialog-colors {
  $color-light: map-get($map, light);
  .bg-#{$label} {
  	background-color: $color-light !important;
  }
}

// Overrides colors
.bg-primary {
  background-color: transparent !important;
}

.bg-highlight-light {
	background-color: $highlight-light;
}