// stylelint-disable declaration-no-important

//
// Text
//

// Define the default link before the mixin 
a {
  color: $primary;
  border-bottom: $link-border-width solid $primary;
  font-weight: $font-weight-bold;
  @include hover-focus {
    color: $primary;
    background-color: $highlight-light;
    border-bottom: $link-border-width solid $primary;
  }
}

// Make the color of dialog dark
@each $label, $map in $dialog-colors {
  $color-dark: map-get($map, dark);
  $color-light: map-get($map, light);
  @include vdm-text-emphasis-variant(".text-#{$label}", $color-dark, $color-light);
}

@each $color, $value in $grays {
  .text-gray-#{$color} {
    color: $value;
  }
}

// Brand line
.brand-border-bottom {
  &:after {
    content: "";
    display: block;
    width: 4rem;
    height: .25rem;
    background-color: $brand;
  }
}

// Overrides colors
.text-secondary,
.text-black-50,
.text-white-50,
.text-gray-400,
.text-gray-300,
.text-gray-100 {
  color: $body-color !important;
}

.text-primary-lighter {
  color: $primary-lighter;
}
.text-primary-darker {
  color: $primary-darker;
}

.text-light {
  color: $white !important;
}

// Preserve white space
.text-preserve-space {
  white-space: pre;
}

a.text-light,
a.text-white {
  border-bottom: $link-border-width solid $white !important;
  @include hover-focus {
    color: $white !important;
    border-bottom: $link-border-width solid $white !important;
    background-color: transparent;
  }
}
a.text-white {
  @include hover-focus {
    background-color: rgba(255,255,255,.2);
  }
}
a.text-muted {
  border-bottom: none;
  cursor: not-allowed;
  @include hover-focus {
    color: $neutral-tertiary !important;
    border-bottom: none;
    background-color: transparent;
  }
}

// Utility class to give external link icon for external link
.is-external-link {
  margin-right: 1.625rem;
  position: relative;
  width: auto !important;
  &:after {
    content: '';
    -webkit-mask: url($data-icon-externallink) no-repeat 50% 50%;
    mask: url($data-icon-externallink) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $action;
    display: inline-flex;
    width: $icon-md;
    height: $icon-md;
    overflow: hidden;
    margin-right: -1.625rem;
    margin-left: .125rem;
    vertical-align: -.375rem;
  }

  @include hover-focus {
    &:before {
      background-color: $highlight-light;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: -1.625rem;
      bottom: -1px;
      z-index: -1;
    }
  }
}


// Utility class for font-size

// Paragraph
.font-size-lg {
  @include font-size($font-size-lg);      // 20px
  line-height: 2rem                       // 32px
}
.font-size-base {
  @include font-size($font-size-base);    // 16px
  line-height: $line-height-lg;           // 28px
}
.font-size-sm {
  @include font-size($font-size-sm);      // 14px
  line-height: $line-height-md            // 24px
}
.font-size-xs {
  @include font-size($font-size-xs);      // 12px
  line-height: $line-height-sm            // 20px
}

// Interface
.font-size-lg-interface {
  @include font-size($font-size-lg);      // 20px
  line-height: $line-height-lg            // 28px
}
.font-size-base-interface {
  @include font-size($font-size-base);    // 16px
  line-height: $line-height-md;           // 24px
}
.font-size-sm-interface {
  @include font-size($font-size-sm);      // 14px
  line-height: $line-height-sm            // 20px
}
.font-size-xs-interface {
  @include font-size($font-size-xs);      // 12px
  line-height: $line-height-xs            // 16px
}

// Remove last-child margin-bottom
.rm-last-child-mb {
  > :last-child {
    margin-bottom: 0;
  }
}

// Provide a utility class to give paragraph a smaller margin-bottom
// We limit this insanity to .content-modules zone
.element-mb-sm {
  p, ol, ul {
    margin-bottom: 1rem;
  }
}
