<!-- Media Gallery -->
<div class="media-gallery-button">
  <button class="btn-media js-gallery-trigger" aria-hidden="true">
    <img src="{{ mediaGallery.0.thumbnail.mediaSrc }}" class="img-fluid" height="{{ mediaGallery.0.thumbnail.height }}" width="{{ mediaGallery.0.thumbnail.width }}" itemprop="thumbnail" alt="{{ mediaGallery.0.mediaAlt }}">
  </button>
  {{^btnMediaIcon}}
  <button class="btn btn-sm btn-primary btn-reversed btn-media-gallery js-gallery-trigger">Voir la galerie</button>
  {{/btnMediaIcon}}
  {{# btnMediaIcon}}
  <button class="btn btn-sm btn-primary btn-reversed btn-media-gallery btn-icon js-gallery-trigger" aria-label={{ariaLabel}}>
    <span class="icon {{icon-name}}" aria-hidden="true"></span>
  </button>
  {{/btnMediaIcon}}
</div>

<ul class="media-gallery d-none" itemscope itemtype="http://schema.org/ImageGallery">
  {{# mediaGallery }}
  <li itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ mediaSrc }}" itemprop="contentUrl" data-size="{{ mediaSize }}" data-index="{{ index }}" data-description="{{ mediaCaption}}" data-author="{{ mediaAuthor }}" data-alt="{{ mediaAlt }}">
      <img src="{{ thumbnail.mediaSrc }}" class="img-fluid" height="{{ thumbnail.height }}" width="{{ thumbnail.width }}" itemprop="thumbnail" alt="{{ mediaAlt }}">
    </a>
  </li>
  {{/ mediaGallery}}
</ul>
