<div class="page-header">
	<div class="row">

		<div class="col container-title">
      <div class="row">
        {{# hasBreadcrumb}}
        <nav class="col-auto col-lg-12 pr-0 breadcrumb-container" role="navigation" aria-label="Fil d'ariane">
          <ol class="breadcrumb d-none d-lg-flex">
            {{# breadcrumbs }}
            <li class="breadcrumb-item"><a href="{{ url }}">{{ text }}</a></li>
            {{/ breadcrumbs }}
          </ol>
          <a href="/" class="btn-backlink btn-unstyled d-flex d-lg-none" aria-label="Libellé pour accessibilité">
            <span class="icon icon-arrow-left" aria-hidden="true"></span>
          </a>
        </nav>
        {{/hasBreadcrumb}}
        {{# hasBackLink}}
        <div class="col-auto pr-0">
           <a href="/" class="btn-backlink d-flex" aria-label="Libellé pour accessibilité">
            <span class="icon icon-arrow-left" aria-hidden="true"></span>
          </a>
        </div>
        {{/ hasBackLink}}
        <div class="col">
          <h1 class="h3">Vero erat invidunt voluptua dolores ut sit sed sed clita diam erat diam gubergren diam sadipscing dolore ipsum at elitr</h1>
          {{# pageHeaderExtraContent}}
          <div class="content-header-extras">
            <div class="list-inline-interpunct">
              {{# hasBadge}}<div class="list-inline-item">{{> components-badge }}</div>{{/ hasBadge}}
              {{# listElements}}
              <div class="list-inline-item">{{{ content}}}</div>
              {{/ listElements}}
            </div>
          </div>
          {{/ pageHeaderExtraContent}}
        </div>
      </div>
    </div>
    <div class="col-auto pl-0">
      <div class="container-btn btn-sem-order d-none d-md-flex">
        {{> components-button(buttonClass: "btn-primary btn-squared", buttonText: "Action primaire")}}
        {{> components-button(buttonClass: "btn-secondary btn-squared d-none d-lg-inline-flex", buttonText: "Action secondaire")}}
        {{# moreActionBtn}}
        <div class="dropdown">
          {{> components-button-icon(buttonClass: "btn-secondary btn-squared btn-icon", buttonText: false, ariaLabel: "Libellé pour accessibilité", icon-name: "icon-more-vertical", buttonIcon: true, dataToggle: false, dataTarget: false, dataExtras: "data-toggle=\"dropdown\" aria-expanded=\"false\" aria-haspopup=\"true\"")}}
          {{> components-dropdown}}
        </div>
        {{/ moreActionBtn}}
      </div>
      <div class="container-btn btn-sem-order d-md-none">
        {{# moreActionBtn}}
        <div class="dropdown">
          {{> components-button-icon(buttonClass: "btn-tertiary btn-squared btn-icon", buttonText: false, ariaLabel: "Libellé pour accessibilité", icon-name: "icon-more-vertical", buttonIcon: true, dataToggle: false, dataTarget: false, dataExtras: "data-toggle=\"dropdown\" aria-expanded=\"false\" aria-haspopup=\"true\"")}}
          {{> components-dropdown}}
        </div>
        {{/ moreActionBtn}}
      </div>
    </div>
	</div>
</div>
