<h2>Module Titre de section</h2>
<div class="content-module-stacked">
  <p>Corps de texte - <i>Italique</i> et <strong>gras</strong>, exposant, indice et caractères spéciaux adipiscing elit. Morbi condimentum sollicitudin erat, quis <a href="#">lien interne</a> ou <a href="https://google.com">lien externe</a> convallis risus. Nullam  posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
  <ul>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
  </ul>
  <ol>
    <li>Liste numérotée</li>
    <li>Liste numérotée</li>
    <li>Liste numérotée</li>
  </ol>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum sollicitudin erat, quis convallis risus.</p>
</div>

{{# module-cta }}
<div class="content-module-stacked">
  {{> components-button}}
</div>
{{/ module-cta}}

{{# module-card-cta}}
<div class="content-module-stacked">
  <div class="row cards">
    {{# cards.card-item }}
    <div class="{{ cards.bsgrid-classes }}">
      {{> components-card-item-full-width }}
    </div>
    {{/ cards.card-item }}
  </div>
</div>
{{/ module-card-cta}}

{{# module-emphasis }}
<div class="content-module-stacked">
  {{> styles-blockquote }}
</div>
{{/ module-emphasis}}

{{# module-blockquote }}
<div class="content-module-stacked">
  {{> styles-blockquote }}
</div>
{{/ module-blockquote}}

{{# module-text}}
<h2>Module Titre de section (H2, H3 ou H4)</h2>
<div class="content-module-stacked">
  <p>Corps de texte - <i>Italique</i> et <strong>gras</strong>, exposant, indice et caractères spéciaux adipiscing elit. Morbi condimentum sollicitudin erat, quis <a href="#">lien interne</a> ou <a href="https://google.com">lien externe</a> convallis risus. Nullam  posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
  <ul>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
  </ul>
  <ol>
    <li>Liste numérotée</li>
    <li>Liste numérotée</li>
    <li>Liste numérotée</li>
  </ol>
</div>
{{/ module-text}}

{{# module-image-album}}
<h2>Image-Album - Module titre</h2>
<div class="content-module-stacked">
  {{> components-carousel }}
</div>
{{/ module-image-album}}

{{^module-image-album}}
{{# module-image-single}}
<h2>Image simple - Module titre</h2>
<div class="content-module-stacked">
  {{> styles-figure}}
</div>
{{/ module-image-single}}
{{/module-image-album}}

{{# module-video}}
<h2>Vidéo intégrée - Module titre</h2>
<div class="content-module-stacked">
  {{> styles-video-responsive-embed }}
</div>
{{/ module-video}}

{{# module-collapse}}
<h2>Contenus imbriqués Accordéons - module titre</h2>
<div class="content-module-stacked">
  <div id="accordion" class="wrapper-accordion" role="tablist" aria-multiselectable="true">
    {{> components-collapsible-item }}
  </div>
</div>
{{/ module-collapse}}

{{# module-comparatif-colonne}}
<h2>Comparatif Colonnes - module titre (H2)</h2>
<div class="content-module-stacked">
  {{> patterns-content-comparatif }}
</div>
{{/ module-comparatif-colonne}}

{{# module-comparatif-rangee}}
<h3>Comparatif Rangées - module titre (H3)</h3>
<div class="content-module-stacked">
  {{> patterns-content-comparatif }}
</div>
{{/ module-comparatif-rangee}}

{{# module-explainer-img-left}}
<div class="content-module-stacked">
  {{> patterns-wrapper-explainer("wrapperExplainer.imgLeft": true) }}
</div>
{{/ module-explainer-img-left}}

{{# module-explainer-img-right}}
<div class="content-module-stacked">
  {{> patterns-wrapper-explainer("wrapperExplainer.imgRight": true) }}
</div>
{{/ module-explainer-img-right}}

{{# module-explainer-img-top}}
<div class="content-module-stacked">
  {{> patterns-wrapper-explainer("wrapperExplainer.imgTop": true) }}
</div>
{{/ module-explainer-img-top}}

{{# module-explainer-img-bottom}}
<div class="content-module-stacked">
  {{> patterns-wrapper-explainer("wrapperExplainer.imgBottom": true) }}
</div>
{{/ module-explainer-img-bottom}}

{{# module-table}}
<h2>Titre tableau - module Titre (H2, H3...)</h2>
<div class="content-module-stacked">
  <p>Courte description optionnelle - module corps de texte</p>
  {{> styles-table }}
</div>
{{/ module-table}}

{{# module-events}}
<h2>Événements à venir</h2>
<div class="content-module-stacked">
  {{> components-list-group-teaser}}
  <div class="d-flex justify-content-center">
  {{> components-button}}
  </div>
</div>
{{/ module-events}}
