<div class="row">
  {{# inputTextSize}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-number }}
  </div>
  {{/ inputTextSize}}
</div>

<h4 class="pl-pattern-subtitle">Validation</h4>
<div class="row">
  {{# inputTextSizeValidation}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-number }}
  </div>
  {{/ inputTextSizeValidation}}
</div>

<h4 class="pl-pattern-subtitle">États</h4>
<div class="row">
  {{# inputTextState}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-number}}
  </div>
  {{/ inputTextState}}
</div>
