<div class="form-group {{formGroupClass}}">
  {{# formGroupPopover}}<div class="label-has-popover">{{/ formGroupPopover}}
  <label for="{{formGroupInputID}}">{{ formGroupInputLabel}}</label>
  {{# formGroupPopover}}<div class="form-popover" aria-hidden="true" data-toggle="popover" data-placement="auto" title="Lorem ipsum" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur."><span class="icon icon-help" aria-hidden="true"></span><span class="sr-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur.</span></div>{{/ formGroupPopover}}
  {{# formGroupPopover}}</div>{{/ formGroupPopover}}
  {{# formGroupInputHelpText}}
    <span id="{{id}}" class="form-text">{{ text }}</span>
  {{/ formGroupInputHelpText}}
  <input type="number" class="form-control {{formGroupInputClass}}" id="{{ formGroupInputID }}" {{# formGroupInputValue}}value="{{ formGroupInputValue}}"{{/ formGroupInputValue}}{{# formGroupInputPlaceholder}} placeholder="{{ formGroupInputPlaceholder.text}}"{{/ formGroupInputPlaceholder}}{{# formGroupInputDescribedBy}} aria-describedby="{{formGroupInputDescribedBy}}"{{/ formGroupInputDescribedBy}}{{#formGroupInputError}} aria-describedby="{{id}}" {{#formAriaInputError}} aria-invalid="true" {{/formAriaInputError}}{{/formGroupInputError}}{{# formGroupInputState}} {{ formGroupInputState}}{{/ formGroupInputState}}{{# formGroupInputRequired}} required{{/ formGroupInputRequired}}{{# boundary}}{{#min}} min="{{min}}"{{/min}}{{#max}} max="{{max}}"{{/max}}{{#step}} step="{{step}}"{{/step}}{{/boundary}}>
  {{# formGroupInputCounter}}
    <span id="{{id}}" class="form-text">{{ text }}</span>
  {{/ formGroupInputCounter}}
  {{# formGroupInputError}}
    <div class="invalid-feedback" id={{formGroupInputError.id}}>
        <span class="icon icon-exclamation icon-xs" aria-hidden="true"></span>
        <span class="sr-only">Erreur</span>
        {{ formGroupInputError.text }}
    </div>
  {{/ formGroupInputError}}
</div>
