<div class="form-group {{#formGroupBtnClear}}has-clear{{/formGroupBtnClear}} {{formGroupClass}}">
  {{^ formGroupNoLabel}}
  {{# formGroupPopover}}<div class="label-has-popover">{{/ formGroupPopover}}
  <label for="{{formGroupInputID}}">{{ formGroupInputLabel}}</label>
  {{# formGroupPopover}}<div class="form-popover" aria-hidden="true" data-toggle="popover" data-placement="auto" title="Lorem ipsum" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur."><span class="icon icon-help" aria-hidden="true"></span><span class="sr-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur.</span></div>
  {{/ formGroupPopover}}
  {{# formGroupPopover}}</div>{{/ formGroupPopover}}
  {{/ formGroupNoLabel}}
  {{# formGroupInputHelpText}}
    <span id="{{id}}" class="form-text">{{ text }}</span>
  {{/ formGroupInputHelpText}}
  {{# formGroupBtnClear}}<div class="input-group-icon">{{/ formGroupBtnClear}}
    <input type="{{formGroupInputType}}" class="form-control {{formGroupInputClass}}" id="{{ formGroupInputID }}" {{# formGroupInputPlaceholder}}placeholder="{{ formGroupInputPlaceholder.text}}"{{/ formGroupInputPlaceholder}}{{# formGroupInputDescribedBy}} aria-describedby="{{formGroupInputDescribedBy}}"{{/ formGroupInputDescribedBy}}{{#formAriaInputError}} aria-invalid="true" {{/ formAriaInputError}}{{# formGroupInputState}} {{ formGroupInputState}}{{/ formGroupInputState}}{{# formGroupInputRequired}} required{{/ formGroupInputRequired}}>
    {{# formGroupBtnClear}}
      <button class="btn-clear">
        <span class="icon icon-x-circle icon-md" aria-hidden="true">
        <span class="sr-only">Clear the input text</span>
      </button>{{/ formGroupBtnClear}}
    {{# formGroupBtnClear}}
  </div>{{/ formGroupBtnClear}}
  {{# formGroupInputCounter}}
    <span id="{{id}}" class="form-text">{{ text }}</span>
  {{/ formGroupInputCounter}}
  {{# formGroupInputError}}
    <div class="invalid-feedback" id={{formGroupInputError.id}}>
        <span class="icon icon-exclamation icon-xs" aria-hidden="true"></span>
        <span class="sr-only">Erreur</span>
        {{ formGroupInputError.text }}
    </div>
  {{/ formGroupInputError}}
  {{# formGroupProgress}}
  {{> components-progress-bar-item}}
  {{/ formGroupProgress}}
</div>
