<div class="form-group {{ formGroupClass}}">
  {{# formGroupPopover}}<div class="label-has-popover">{{/ formGroupPopover}}
  <label for="{{formGroupInputID}}">{{ formGroupInputLabel}}</label>
  {{# formGroupPopover}}<div class="form-popover" aria-hidden="true" data-toggle="popover" data-placement="auto" title="Lorem ipsum" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur."><span class="icon icon-help" aria-hidden="true"></span><span class="sr-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur.</span></div>
  {{/ formGroupPopover}}
  {{# formGroupPopover}}</div>{{/ formGroupPopover}}
  {{# formGroupInputHelpText}}
  <span id="{{id}}" class="form-text">{{ text }}</span>
  {{/ formGroupInputHelpText}}
  <textarea class="form-control {{formGroupInputClass}}" id="{{ formGroupInputID }}" {{# formGroupInputPlaceholder}}placeholder="{{ formGroupInputPlaceholder.text}}"{{/ formGroupInputPlaceholder}}{{# formGroupTextareaRows}} rows="{{formGroupTextareaRows}}"{{/ formGroupTextareaRows}}{{^formGroupInputError}}{{# formGroupInputHelpText}} aria-describedby="{{id}}"{{/ formGroupInputHelpText}}{{/formGroupInputError}}{{#formGroupInputError}} aria-describedby="{{id}}"{{/formGroupInputError}}{{# formGroupInputState}} {{ formGroupInputState}}{{/ formGroupInputState}}{{# formGroupInputRequired}} required{{/ formGroupInputRequired}}></textarea>
  {{# formGroupInputCounter}}
  <span id="{{id}}" class="form-text">{{ text }}</span>
  {{/ formGroupInputCounter}}
  {{# formGroupInputError}}
  <div class="invalid-feedback" id={{id}}>{{ text }}</div>
  {{/ formGroupInputError}}
</div>
