<h4 class="pl-pattern-subtitle">Large</h4>
<div class="list list-lg {{ listClass }}">
	{{# list }}
  <a class="list-item list-item-action {{ class }}" href="{{ url }}">
    {{# listIconEditorial}}
    <span class="icon {{ listIconEditorial}}" aria-hidden="true"></span>
    {{/ listIconEditorial}}
    {{# listIconUtility}}
    <!--<span class="icon {{listIconUtility}}" aria-hidden="true"></span>-->
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Generic</title>
      <path d="M20.124 4.501l-1.562 1.25a2 2 0 1 0 0 2.499l1.562 1.249a4 4 0 1 1 0-4.998zM8 9h3v2H3V9h3V5H3V3h8v2H8v4zm-1 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm12 6v-4a2 2 0 1 0-4 0v4h-2v-8h2v1l.293-.293A2.414 2.414 0 0 1 17 13a4 4 0 0 1 4 4v4h-2z"/>
    </svg>
    {{/ listIconUtility}}
    {{{ text }}}
  </a>
  {{/ list }}
</div>

<h4 class="pl-pattern-subtitle">Default</h4>
<div class="list {{ listClass }}">
	{{# list }}
  <a class="list-item list-item-action {{ class }}" href="{{ url }}">
    {{# listIconEditorial}}
    <span class="icon {{ listIconEditorial}}" aria-hidden="true"></span>
    {{/ listIconEditorial}}
    {{# listIconUtility}}
    <!--<span class="icon {{listIconUtility}}" aria-hidden="true"></span>-->
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Generic</title>
      <path d="M20.124 4.501l-1.562 1.25a2 2 0 1 0 0 2.499l1.562 1.249a4 4 0 1 1 0-4.998zM8 9h3v2H3V9h3V5H3V3h8v2H8v4zm-1 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm12 6v-4a2 2 0 1 0-4 0v4h-2v-8h2v1l.293-.293A2.414 2.414 0 0 1 17 13a4 4 0 0 1 4 4v4h-2z"/>
    </svg>
    {{/ listIconUtility}}
    {{{ text }}}
  </a>
  {{/ list }}
</div>
