<div class="list-group list-group-teaser" role="list">
  {{# listGroup}}
  <a class="list-group-item list-group-item-action" href="{{ url }}" role="listitem">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-7">
        {{# type }}
        <div class="list-group-item-type">{{ type }}</div>
        {{/ type}}
        <div class="list-group-item-title">{{ title }}</div>
        {{# infos }}
        <div class="list-group-item-content {{infosClass}}">
          {{# badge}}
          <div class="list-group-item-badge">
            {{> components-badge}}
          </div>
          {{/ badge}}
          {{# infos.infos-items }}
          <div class="list-group-item-infos {{class}}">{{{ text }}}</div>
          {{/ infos.infos-items }}
        </div>
        {{/ infos}}
      </div>
    </div>
  </a>
  {{/ listGroup}}
</div>
