<div class="list-group list-group-teaser" role="list">
  {{# listGroup}}
  <a class="list-group-item list-group-item-action" href="{{ url }}" role="listitem">
    <div class="list-group-item-max-width">
      {{# media}}
      <div class="media"> 
      {{# media.img}}
      <div class="list-group-thumb mr-2 mr-lg-4">
        <img src="{{ src }}" alt="{{ alt }}" class="img-fluid" />
      </div>
      {{/ media.img}}
      {{# media.placeholder}}
      <div class="list-group-thumb list-group-thumb-placeholder mr-2 mr-lg-4" style="background-image:url(https://res.cloudinary.com/villemontreal/image/upload/q_auto,f_auto,dpr_auto,w_768,c_fill/v1571398706/portail/background/texture-Small-highlight.png)">
        <span class="icon {{ icon }}" aria-hidden="true"></span>
      </div>
      {{/ media.placeholder}}
      <div class="media-body">
      {{/ media}}
      {{# type }}
      <div class="list-group-item-type">{{ type }}</div>
      {{/ type}}
      <div class="list-group-item-title">{{ title }}</div>
      {{# infos }}
      <div class="list-group-item-content {{infosClass}}">
        {{# badge}}
        <div class="list-group-item-badge">
          {{> components-badge}}
        </div>
        {{/ badge}}
        {{# infos.infos-items }}
        <div class="list-group-item-infos {{class}}">{{{ text }}}</div>
        {{/ infos.infos-items }}
      </div>
      {{/ infos}}
      {{# media}}
      </div>
      </div>
      {{/ media}}
    </div>
  </a>
  {{/ listGroup}}
</div>

