<div class="list-group list-group-teaser list-group-date">
  {{# listGroup}}
  <a class="list-group-item list-group-item-action" href="{{ url }}">
    {{# date}}
    <div class="list-group-item-date"><time datetime="{{dateTimeFormat}}">{{{ dateTimeText }}}</time></div>
    {{/ date}}
    <span class="list-group-item-title">{{ title }}</span>
  </a>
  {{/ listGroup}}
</div>
