<form>
  <div class="form-combo icon-combo color-scheme-light d-flex">
    <h3 class="title">Combo block title</h3>
    <div class="input-wrapper stroked d-flex d-inline-flex">
      <i class="vdmi ic-search" aria-hidden="true"></i>
      {{> atoms-input }}
    </div>
    {{> atoms-button }}
  </div>
</form>
