<form>
  <div class="form-combo icon-combo color-scheme-light d-flex">
    <h3 class="title">Combo block title</h3>
    <div class="input-wrapper stroked d-flex d-inline-flex">
      <i class="vdmi ic-search" aria-hidden="true"></i>
      {{> 00-atoms/04-forms/00-input }}
    </div>
    {{> 00-atoms/05-buttons/00-button }}
  </div>
</form>

<form>
  <div class="form-combo icon-combo color-scheme-light inline-button">
    <h3 class="title">Combo block title - inline button</h3>
    <div class="input-wrapper stroked d-flex d-inline-flex">
      <i class="vdmi ic-search" aria-hidden="true"></i>
      {{> 00-atoms/04-forms/00-input }}
      {{> 00-atoms/05-buttons/00-button }}
    </div>
  </div>
</form>

