<div class="header-search">
  <form method="post" class="c-search-form">
    <label for="search" class="c-search-form__label is-vishidden">Search the site</label>
    <i class="vdmi ic-search ic-4x" aria-hidden="true"></i>
    <!--<input type="search" id="search" class="c-search-form__input" placeholder="Search the site" />-->
  </form>
  <i class="vdmi ic-profile ic-4x" aria-hidden="true"></i>
</div>
