<nav class="breadcrumb-container {{ breadcrumbContainerClasses }}" aria-label="breadcrumb">
  <ol class="breadcrumb {{ breadcrumbClasses }}">
    {{# breadcrumbs }}
    <li class="breadcrumb-item"><a href="{{ url }}">{{ text }}</a></li>
    {{/ breadcrumbs }}
  </ol>
</nav>

