<div class="left-nav-icon" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
  <i class="vdmi ic-menu ic-6x" aria-hidden="true"></i>
  <span class="sr-only">Toggle main navigation</span>
</div>

<!--<div class="left-nav" style="display:none;">
  <div class="back">
    <i class="vdmi ic-arrow-left ic-3x"></i>
    <span><a href="#"></a></span>
  </div>
  <ul class="primary">
    <li>Comprendre la ville</li>
    <ul class="sub">
      <li>Marie et élus</li>
      <li>Arrondissements</li>
      <li>Instances décisionnelles</li>
      <li>Budget et publications</li>
      <li>Politiques</li>
      <li>Programmes et initiatives</li>
      <li>Règlements</li>
      <li>Organisations municipale</li>
      <li>Montréal en statistiques</li>
      <li>Archives et histoire</li>
    </ul>
  </ul>
</div>

<div class="left-nav-icon">
  <i class="vdmi ic-menu ic-6x"></i>
</div>
-->
