<nav class="user-menu-wrapper">
    <ul class="user-menu">
        <li class="menu-item">
            <a class="menu-link" href="#dashboard">Dashboard</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#profile">Profile</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#account">Account settings</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#notifications">Notifications settings</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#logout">Logout</a>
        </li>
    </ul>
</nav>

