<div class="navbar-side-menu" id="navbar-side-menu" data-component-type="navigation" data-component-position="gauche" data-component-name="menu">
  <ul>
    <li class="navbar-side-menu-item">
      <a href="/">Accueil</a>
    </li>
    <li class="navbar-side-menu-item">
      <button data-menu-id="shell-menu-news">
        <span>Nouvelles</span>
      </button>
    </li>
    <ul id="shell-menu-news" class="navbar-side-sub-menu-item" data-link-section="Nouvelles">
      <li class="navbar-side-menu-item shell-menu-back">
        <button>
          <span>Retour</span>
        </button>
      </li>
      <li class="navbar-side-menu-item navbar-side-menu-item-header">
        <a href="/collectrices/nouvelles">Nouvelles</a>
      </li>
      <li class="navbar-side-menu-item">
        <a href="/collectrices/avis-et-alertes">Avis et alertes</a>
      </li>
      <li class="navbar-side-menu-item">
        <a href="/collectrices/nouvelles">Nouvelles</a>
      </li>
    </ul>
    <li class="navbar-side-menu-item">
      <a href="/collectrices/demandes-et-paiements">Demandes et paiements</a>
    </li>
    <li class="navbar-side-menu-item">
      <button data-menu-id="shell-menu-useful">
        <span>Informations pratiques</span>
      </button>
    </li>
    <ul id="navbar-side-menu-useful" class="navbar-side-sub-menu-item" data-link-section="Informations pratiques">
      <li class="navbar-side-menu-item shell-menu-back">
        <button>
          <span>Retour</span>
        </button>
      </li>
      <li class="navbar-side-menu-item navbar-side-menu-item-header">
        <a href="/collectrices/informations-pratiques">Informations pratiques</a>
      </li>
      <li class="navbar-side-menu-item">
        <a href="/collectrices/animaux-domestiques">Animaux domestiques</a>
      </li>
      <li class="navbar-side-menu-item">
        <a href="/collectrices/dechets-et-recyclage">Déchets et recyclage</a>
      </li>
      <li class="navbar-side-menu-item">
        <a href="/collectrices/demandes-de-service">Demandes de service</a>
      </li>
      <li class="navbar-side-menu-item">
        <a href="/collectrices/droit-et-justice">Droit et justice</a>
      </li>
      <li class="navbar-side-menu-item">
        <a href="/collectrices/habitation-et-taxes">Habitation et taxes</a>
      </li>
    </ul>
    <li class="navbar-side-menu-item">
      <a href="/collectrices/trouver-un-lieu">Trouver un lieu</a>
    </li>
    <li class="navbar-side-menu-item">
      <a href="/communiquer-avec-la-ville">Nous joindre</a>
    </li>
  </ul>
</div>
