<div class="shell-menu" id="shell-menu" data-component-type="navigation" data-component-position="gauche" data-component-name="menu">
  <ul>
    <li class="shell-menu-item first-item">
      <a href="/">Accueil</a>
    </li>
    <li class="shell-menu-item">
      <button data-menu-id="shell-menu-news">
        <span>Nouvelles</span>
      </button>
    </li>
    <ul id="shell-menu-news" class="shell-sub-menu-item" data-link-section="Nouvelles">
      <li class="shell-menu-item shell-menu-back">
        <button>
          <span>Retour</span>
        </button>
      </li>
      <li class="shell-menu-item shell-menu-item-header">
        <a href="/collectrices/nouvelles">Nouvelles</a>
      </li>
      <li class="shell-menu-item">
        <a href="/collectrices/avis-et-alertes">Avis et alertes</a>
      </li>
      <li class="shell-menu-item">
        <a href="/collectrices/nouvelles">Nouvelles</a>
      </li>
    </ul>
    <li class="shell-menu-item">
      <a href="/collectrices/demandes-et-paiements">Demandes et paiements</a>
    </li>
    <li class="shell-menu-item">
      <button data-menu-id="shell-menu-useful">
        <span>Informations pratiques</span>
      </button>
    </li>
    <ul id="shell-menu-useful" class="shell-sub-menu-item" data-link-section="Informations pratiques">
      <li class="shell-menu-item shell-menu-back">
        <button>
          <span>Retour</span>
        </button>
      </li>
      <li class="shell-menu-item shell-menu-item-header">
        <a href="/collectrices/informations-pratiques">Informations pratiques</a>
      </li>
      <li class="shell-menu-item">
        <a href="/collectrices/animaux-domestiques">Animaux domestiques</a>
      </li>
      <li class="shell-menu-item">
        <a href="/collectrices/dechets-et-recyclage">Déchets et recyclage</a>
      </li>
      <li class="shell-menu-item">
        <a href="/collectrices/demandes-de-service">Demandes de service</a>
      </li>
      <li class="shell-menu-item">
        <a href="/collectrices/droit-et-justice">Droit et justice</a>
      </li>
      <li class="shell-menu-item">
        <a href="/collectrices/habitation-et-taxes">Habitation et taxes</a>
      </li>
    </ul>
    <li class="shell-menu-item">
      <a href="/collectrices/trouver-un-lieu">Trouver un lieu</a>
    </li>
    <li class="shell-menu-item">
      <a href="/communiquer-avec-la-ville">Nous joindre</a>
    </li>
    <li class="shell-menu-mobile-search d-block d-sm-none" id="shell-menu-mobile-search">
      <form>
        <div class="shell-menu-mobile-search-input-wrapper">
          <label>
            <span class="sr-only">Rechercher</span>
            <input type="search" placeholder="Rechercher">
          </label>
          <button type="button">
          </button>
        </div>
      </form>
    </li>
    <li class="shell-menu-item">
      <a id="shell-menu-item-link-lang" href="/en/">English</a>
    </li>
  </ul>
</div>
