<nav>
  <ul class="nav nav-tabs" role="tablist">
    {{# navTabs.navItem }}
      <li class="nav-item" role="presentation">
        <a href="#home" class="nav-link {{ class }}" role="tab" data-toggle="tab">{{ title }}</a>
      </li>
    {{/ navTabs.navItem }}
  </ul>
</nav>