<section id="nav-filters" class="section-filters">
  <div class="container">
    <ul class="nav nav-filters">
      {{# nav.navItem }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">{{ title }}</a>
        <div class="dropdown-menu">
          {{# dropdown }}
          <a class="dropdown-item" href="{{ url }}">{{ title }}</a>
          {{/ dropdown }}
        </div>
      </li>
      {{/ nav.navItem }}
    </ul>
  </div>
</section>
