<!--
<a class="d-flex align-items-center" href="" title="Ce lien mène vers le site du dossier citoyen">
    <span class="sr-only">Ce lien mène vers le site du dossier citoyen</span>
    <span class="text-nav d-none d-lg-inline-block">Mon compte</span>
</a>
-->
<button type="button" class="navbar-button account">
    <span class="sr-only">Ce lien mène vers le site du dossier citoyen</span>
    <span class="button-label">Mon compte</span>
</button>
