<a class="d-flex align-items-center" href="" title="Ce lien mène vers le site du dossier citoyen">
    <span class="sr-only">Ce lien mène vers le site du dossier citoyen</span>
    <span class="text-nav d-none d-lg-inline-block">Mon compte</span>
    <span class="vfi vfi-profile"></span>
</a>

