<button class="menu-toggler slide-menu-control" type="button" aria-haspopup="true" aria-controls="navbarSideMenu" data-target="slide-menu-left" data-action="toggle">
  <span class="vfi vfi-menu" aria-hidden="true"></span>
  <span class="menu-label d-none d-md-flex">Menu</span>
</button>