<div class="slide-menu" id="slide-menu-left">
  <div class="slide-menu-header">
    <button class="btn-close">
      <span class="vfi vfi-grand-x"></span>
      <span class="btn-label d-none d-lg-flex">Fermer</span>
    </button>
  </div>

  <div class="slide-menu-search js-nav-search d-block d-lg-none" id="slide-menu-search">
    <form>
      <div class="form-group">
        <div class="input-group-icon">
          <div class="input-group-icon-left">
          {{> atoms-fonticon-item(icon-label: "recherche") }}
          </div>
          <input type="search" class="form-control" id="text-icon-left" placeholder="Rechercher un lieu ou un service" autocomplete="off">
        </div>
      </div>
    </form>
  </div>

  <ul class="side-menu">
    <li class="has-submenu">
      <a href="#">Menu entry</a>
      <ul class="submenu">
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li class="has-submenu">
          <a href="#">Submenu entry</a>
          <ul class="submenu">
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li class="has-submenu">
              <a href="#">Subsubmenu entry</a>
              <ul class="submenu">
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Menu entry</a>
    </li>
    <li class="has-submenu">
      <a href="#">Menu entry</a>
      <ul class="submenu">
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li class="has-submenu">
          <a href="#">Submenu entry</a>
          <ul class="submenu">
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
