<div class="navbar-side-menu" id="navbarSideMenu">
  <div class="side-menu-header">
    <button class="btn-side-menu-close">
      <span class="vfi vfi-grand-x"></span>
      <span class="btn-label">Fermer</span>
    </button>
  </div>
  <ul class="menu-links">
    <li class="menu-item">
      <a class="menu-link" href="#">Accueil</a>
    </li>
    <li class="menu-item has-children">  
      <a class="menu-link parent-link" href="#">News {{> atoms-fonticon-item(icon-label: "fleche-droite") }}</a>
      <ul class="menu-links submenu">
        <li class="menu-item back-item">
          <a class="menu-link back-link" href="#back">{{> atoms-fonticon-item(icon-label: "chevron-gauche") }} Back</a>
        </li>
        <li class="menu-item">
          <a class="menu-link child-link" href="#">Notices and alerts</a>
        </li>
        <li class="menu-item">
          <a class="menu-link child-link" href="#">News</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">Requests and payments</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">Useful information</a>
    </li>
    <li class="menu-item has-children">
      <a class="menu-link parent-link" href="#">Parent item {{> atoms-fonticon-item(icon-label: "fleche-droite") }}</a>
      <ul class="menu-links submenu">
        <li class="menu-item back-item">
          <a class="menu-link back-link" href="#back">{{> atoms-fonticon-item(icon-label: "chevron-gauche") }} Back</a>
        </li>
        <li class="menu-item child">
          <a class="menu-link" href="#">Child item 01</a>
        </li>
        <li class="menu-item child has-children">
          <a class="menu-link parent-link" href="#">Child item 02 Parent</a>
          <ul class="menu-links submenu">
            <li class="menu-item back-item">
              <a class="menu-link back-link" href="#back">{{> atoms-fonticon-item(icon-label: "chevron-gauche") }} Back</a>
            </li>
            <li class="menu-item child">
              <a class="menu-link" href="#">Sub-Child item 01</a>
            </li>
            <li class="menu-item child">
              <a class="menu-link" href="#">Sub-Child item 02</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">Contact Us</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">English</a>
    </li>
  </ul>
</div>

