<div class="slide-menu" id="slide-menu-left">
  <div class="slide-menu-header">
    <button class="btn-close js-button-close">
      <span class="vdm vdm-046-grand-x"></span>
      <span class="button-label d-none d-lg-flex">Fermer</span>
    </button>
  </div>

  <div class="slide-menu-search js-nav-search d-block d-lg-none" id="slide-menu-search">
    <form>
      <div class="form-group has-clear">
        <div class="input-group-icon input-group-icon-left">
          <button class="btn-close-search js-button-close-search d-none">
            <span class="vdm vdm-065-fleche-gauche"></span>
            <span class="sr-only">Quitter la recherche</span>
          </button>
          {{> atoms-fonticon-item(icon-label: "002-recherche") }}
          <input type="search" class="form-control" id="text-icon-left" placeholder="Rechercher un lieu ou un service" autocomplete="off">
          <button class="btn-clear hidden">
            {{> atoms-fonticon-item(icon-label: "071-mini-x-circulaire", icon-class: "form-control-clear hidden") }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <ul class="side-menu">
    <li>
      <a href="{{ link.templates-homepage }}">Accueil</a>
    </li>
    <li class="has-submenu">
      <a href="#">Nouvelles</a>
      <ul class="submenu">
        <li>
          <a href="{{ link.templates-collectrice-alerts }}">Avis et alertes</a>
        </li>
        <li>
          <a href="{{ link.templates-collectrice-news }}">Actualités</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ link.templates-collectrice-second-level-cards }}">Demandes et paiements</a>
    </li>
    <li>
      <a href="{{ link.pages-informations-pratiques }}">Informations pratiques</a>
    </li>
    <li class="has-submenu">
      <a href="#">Vie municipale</a>
      <ul class="submenu">
        <li>
          <a href="#">Fonctionnement</a>
        </li>
        <li>
          <a href="{{ link.pages-tous-les-elus }}">Mairesse et élus</a>
        </li>
        <li class="has-submenu">
          <a href="#">Conseils décisionnels et comité exécutif</a>
          <ul class="submenu">
            <li>
              <a href="{{ link.pages-conseil-municipal }}">Conseil municipal</a>
            </li>
            <li>
              <a href="{{ link.templates-instance }}">Conseil d'agglomération</a>
            </li>
            <li>
              <a href="{{ link.templates-instance-variante-comite-executif }}">Comité exécutif</a>
            </li>
            <li>
              <a href="{{ link.pages-conseils-arrondissement }}">Conseils d'arrondissement</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Commissions permanentes</a>
        </li>
        <li>
          <a href="#">Reddition de comptes</a>
        </li>
        <li>
          <a href="#">Organisation municipale</a>
        </li>
        <li>
          <a href="{{ link.pages-participation-citoyenne }}">Participation citoyenne</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ link.templates-collectrice-lieux }}">Trouver un lieu</a>
    </li>
    <li>
      <a href="#">Nous joindre</a>
    </li>
    <li>
      <a href="#">English</a>
    </li>
  </ul>
</div>
