<div class="slide-menu" id="slide-menu-left">
  <div class="slide-menu-header">
    <button class="btn-close js-button-close">
      <span class="vdm vdm-046-grand-x"></span>
      <span class="button-label d-none d-lg-flex">Fermer</span>
    </button>
  </div>

  <div class="slide-menu-search js-nav-search d-block d-lg-none" id="slide-menu-search">
    <form>
      <div class="form-group has-clear">
        <div class="input-group-icon input-group-icon-left">
          <button class="btn-close-search js-button-close-search d-none">
            <span class="vdm vdm-065-fleche-gauche"></span>
            <span class="sr-only">Quitter la recherche</span>
          </button>
          {{> atoms-fonticon-item(icon-label: "002-recherche") }}
          <input type="search" class="form-control" id="text-icon-left" placeholder="Rechercher un lieu ou un service" autocomplete="off">
          <button class="btn-clear hidden">
            {{> atoms-fonticon-item(icon-label: "071-mini-x-circulaire", icon-class: "form-control-clear hidden") }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <ul class="side-menu">
    <li class="has-submenu">
      <a href="#">Menu entry</a>
      <ul class="submenu">
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li class="has-submenu">
          <a href="#">Submenu entry</a>
          <ul class="submenu">
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li class="has-submenu">
              <a href="#">Subsubmenu entry</a>
              <ul class="submenu">
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
                <li>
                  <a href="#">Subsubsubmenu entry</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Menu entry</a>
    </li>
    <li class="has-submenu">
      <a href="#">Menu entry</a>
      <ul class="submenu">
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li class="has-submenu">
          <a href="#">Submenu entry</a>
          <ul class="submenu">
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
            <li>
              <a href="#">Subsubmenu entry</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
        <li>
          <a href="#">Submenu entry</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
