<div class="left-nav-icon" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
  {{> atoms-fonticon-item(label: "menu") }}
  <span class="sr-only">Toggle main navigation</span>
</div>