<div class="left-nav-icon" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
  <i class="vdmi ic-menu ic-6x" aria-hidden="true"></i>
  <span class="sr-only">Toggle main navigation</span>
</div>