<div class="left-nav-icon" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
  <button type="button" class="menu-trigger" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="sr-only">Toggle main navigation</span>
</button>
</div>