<nav class="breadcrumb-container {{ breadcrumbContainerClasses }}" aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{# breadcrumbs }}
    {{^ is-active }}
    <li class="breadcrumb-item"><a href="{{ url }}">{{ text }}</a></li>
    {{/ is-active }}
    {{# is-active }}
    <li class="breadcrumb-item active" aria-current="page">{{ text }}</li>
    {{/ is-active }}
    {{/ breadcrumbs }}
  </ol>
</nav>
