<div class="row mb-6">
  <div class="col-md-8 col-xl-6 offset-md-2 offset-xl-3">
    <div class="text-center">
      {{# cta-title }}
      <h2 class="h4">{{ cta-title}}</h2>
      {{/ cta-title }}
      <p>Nunc a accumsan arcu. Vivamus quis elementum enim, at laoreet eros. Mauris consectetur urna velit, sit amet sagittis sem tincidunt in.</p>
      <a href="#" class="btn {{ buttonClass}}">{{ buttonText }}</a>
    </div>
  </div>
</div>