{{> components-skip-navigation }}
<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <div class="region-content pt-0 pb-0 pb-lg-8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          {{# confirmationState}}
          {{> components-empty-state }}
          {{/ confirmationState}}
        </div>
      </div>
    </div>
  </div>
</main>

{{> patterns-footer-main }}
