<header class="wizard-header" role="banner">
  <div class="hdr-container">
    <span class="hdr-title">{{ wizard-form-name }}</span>
  </div>
  <div class="hdr-links">
    <button class="btn btn-quit">
      <span class="button-label d-none d-md-inline-flex">Quitter</span>
      {{> atoms-fonticon-item(icon-label: "111-quitter") }}
      <span class="sr-only">Quitter</span>
    </button>
  </div>
</header>
