<header class="{{ headerClasses }} {{# hasTopBanner}}has-top-banner{{/ hasTopBanner }}" role="banner">
  {{# hasTopBanner}}
  {{> molecules-top-banner }}
  {{/ hasTopBanner }}
  {{> organisms-navbar }}
</header>
