<header class="wizard-header" role="banner">
  <div class="hdr-container">
    <a class="home-link" href="https://beta.montreal.ca">
      {{> atoms-fonticon-item("icon-label": "rosace")}}
    </a>
    <span class="hdr-title">Compléter le profil de l’entreprise</span>
  </div>
  <div class="hdr-links">
    <ul class="list-inline">
      <li class="list-inline-item">
        <button class="vdm-btn vdm-btn-sm vdm-btn-secondary">Quitter</button>
      </li>
    </ul>
  </div>
</header>
