{{> styles-link-skip-to-main-content }}
{{> patterns-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  <div class="region-content {{ regionMainClasses }}">
    <div class="container">
      <div class="row justify-content-between">
        <article class="col-12 col-lg-7">

          <header class="content-header">

            <div class="header-back-link">
              <a href="#" class="bold">Toutes les démarches</a>
            </div>

            <h1>{{ heading }}</h1>

            {{# has-badges}}
            <div class="badges-container">
              {{# badges}}
              {{> components-badge}}
              {{/ badges}}
            </div>
            {{/ has-badges}}

            {{# publicationDate}}
            <div class="publication-date">
              Mis à jour le <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>
            </div>
            {{/ publicationDate}}

          </header>
          
          <div class="lead">
            {{{ lead }}}
          </div>

          <div class="mb-8">
            <h2>Module Titre de section</h2>

            <p>Corps de texte - <i>Italique</i> et <strong>gras</strong>, exposant, indice et caractères spéciaux adipiscing elit. Morbi condimentum sollicitudin erat, quis <a href="#">lien interne</a> ou <a href="https://google.com">lien externe</a> convallis risus. Nullam  posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>

            <ul>
              <li>Liste à puce</li>
              <li>Liste à puce</li>
              <li>Liste à puce</li>
              <li>Liste à puce</li>
            </ul>

            <ol>
              <li>Liste numérotée</li>
              <li>Liste numérotée</li>
              <li>Liste numérotée</li>
            </ol>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum sollicitudin erat, quis convallis risus.</p>

            {{# cta-button}}
            {{> components-button}}
            {{/ cta-button}}
          </div>

          {{# hasSelecteurArrondissement}}
          <div class="mb-8">
            <h2>Votre arrondissement</h2>
            {{> components-selecteur-arrondissement}}
          </div>
          {{/ hasSelecteurArrondissement}}


<!--
          {{# collapsibleHowTo }}
          {{> components-collapsible }}
          {{/ collapsibleHowTo }}
-->

          {{# pieces-justificatives}}
          <div class="modal" id="modalDocuments" tabindex="-1" role="dialog" aria-labelledby="modalDocumentsLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalDocumentsLabel">Documents nécessaires</h5>
                  <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                    <span class="vdm vdm-046-grand-x"></span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6>Preuve de possession ou de location du véhicule personnel</h6>
                  <p>Une photocopie des documents suivants :</p>
                  <ul>
                    <li>permis de conduire valide et certificat d’immatriculation du véhicule qui indique vos nom et adresse</li>
                    <li>contrat de location qui indique vos nom et adresse, accompagné du certificat d’immatriculation</li>
                    <li>certificat d’assurance automobile qui indique vos nom et adresse</li>
                  </ul>

                  <h6>Preuve d'assurance du véhicule</h6>
                  <p>Une photocopie des documents suivants :</p>
                  <ul>
                    <li>certificat d’assurance automobile qui indique vos nom et adresse</li>
                    <li>preuve d’assurance automobile attestant que vous êtes le conducteur principal, accompagnée du certificat d’immatriculation</li>
                  </ul>

                  <h6>Preuve de possession ou de location du véhicule appartenant à une compagnie</h6>
                  <p>Dans le cas d'un véhicule assuré au nom et à l’adresse d'une compagnie :</p>
                  <ul>
                    <li>certificat d'immatriculation accompagné d'une lettre officielle avec le logo de l'entreprise indiquant que vous êtes le conducteur principal du véhicule. Cette lettre doit inclure les détails de la voiture (marque, modèle, année) et vos coordonnées (adresse civique complète).</li>
                  </ul>

                  <h6>Preuve de possession ou de location du véhicule appartenant à une compagnie à propriétaire unique</h6>
                  <p>Si vous êtes un utilisateur de véhicules de compagnie à propriétaire unique, vous devez présenter ces documents :</p>
                  <ul>
                    <li>certificat d'immatriculation accompagné de l'état de renseignements d'une personne morale inscrit au Registre des entreprises du Québec (REQ) confirmant que le propriétaire est l'unique actionnaire et le seul membre du conseil d'administration (la carte professionnelle ou une lettre manuscrite sont refusées).</li>
                  </ul>

                  <h6>Preuves de résidences</h6>
                  <p>2 preuves de résidence (de moins de 3 mois) parmi les documents suivants :</p>
                  <ul>
                    <li>permis de conduire valide</li>
                    <li>facture de services publics (Hydro-Québec, entreprise de télécommunication telle que Bell, Vidéotron, Rogers ou autre)</li>
                    <li>facture de gaz naturel</li>
                    <li>facture ou lettre officielle d'un établissement d'enseignement</li>
                    <li>relevé mensuel d'une institution financière ou de crédit</li>
                    <li>relevé de placements d'une institution financière ou d'une fiducie</li>
                    <li>avis de changement d'adresse ou preuve de réacheminement du courrier de Postes Canada (autocollant)</li>
                    <li>documents officiels de Revenu Québec ou de l’Agence du revenu du Canada (ARC)</li>
                    <li>relevé d'assurance-emploi</li>
                    <li>avis de renouvellement de la carte de la Régie de l'assurance maladie du Québec (RAMQ)</li>
                    <li>avis de renouvellement du permis de conduire de la Société de l'assurance automobile du Québec (SAAQ)</li>
                    <li>correspondance de la cour municipale</li>
                    <li>certificat ou extrait du contrat d'assurance automobile attestant que vous êtes le conducteur principal</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {{/ pieces-justificatives}}

        </article>
        {{# sidebarRight}}
        <aside class="col-12 col-lg-4 mt-md-8" role="complementary">
          {{> templates-citoyens-sidebar-demarche}}
        </aside>
        {{/ sidebarRight}}

      </div>

      <div class="row">
        <div class="col-12 col-lg-7">
        {{> components-feedback-form}}
        </div>
      </div>

    </div>
  </div>
</main>

{{> patterns-footer-portal }}
