{{> styles-link-skip-to-main-content }}
{{> patterns-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">

  <div class="region-content">
    <div class="container">
       <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
          <header class="content-header">
            {{# header-back-link}}
            <div class="header-back-link">
              {{> styles-link-list-element("has-icon": true, "icon-right": false, "link-label": "Toutes les démarches", icon: "icon-arrow-left")}}
            </div>
            {{/ header-back-link}}

            <h1>{{ heading }}</h1>

            {{# has-badges}}
            <div class="badges-container">
              {{# badges}}
              {{> components-badge}}
              {{/ badges}}
            </div>
            {{/ has-badges}}

            {{# publicationDate}}
            <div class="publication-date">
              Mis à jour le <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>
            </div>
            {{/ publicationDate}}
          </header>
          
          <div class="lead content-module-stacked">
            {{{ lead }}}
          </div>

          <div class="content-modules">
            <h2>Module Titre de section</h2>
            <div class="content-module-stacked">
              <p>Corps de texte - <i>Italique</i> et <strong>gras</strong>, exposant, indice et caractères spéciaux adipiscing elit. Morbi condimentum sollicitudin erat, quis <a href="#">lien interne</a> ou <a href="https://google.com">lien externe</a> convallis risus. Nullam  posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
              <ul>
                <li>Liste à puce</li>
                <li>Liste à puce</li>
                <li>Liste à puce</li>
                <li>Liste à puce</li>
              </ul>
              <ol>
                <li>Liste numérotée</li>
                <li>Liste numérotée</li>
                <li>Liste numérotée</li>
              </ol>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum sollicitudin erat, quis convallis risus.</p>
            </div>

            {{^ hasSelecteurArrondissement}}
            {{# module-content}}
            {{> templates-citoyens-demarche-content}}
            {{/ module-content}}
            {{/ hasSelecteurArrondissement}}

            {{# hasSelecteurArrondissement}}
            <h2>Votre arrondissement</h2>
            <div class="content-module-stacked">
              {{> patterns-arrondissement}}
            </div>
            {{/ hasSelecteurArrondissement}}
          </div>
        </div>

        {{# sidebarRight}}
        <aside class="col-12 col-lg-4" role="complementary">
          {{> templates-citoyens-sidebar-demarche}}
        </aside>
        {{/ sidebarRight}}
      </section>

      <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
        {{> components-feedback-form}}
        </div>
      </section>

    </div>
  </div>
</main>

{{> patterns-footer-portal }}
