<div class="sidebar pt-8">
  {{# sb-block-bon-savoir}}
  <section class="sb-block">
    {{> patterns-heading-sidebar(sidebarTitle: "Bon à savoir")}}
    {{{ content }}}
  </section>
  {{/ sb-block-bon-savoir}}
  {{# sb-block-tc-lies}}
  <section class="sb-block">
    {{> patterns-heading-sidebar(sidebarTitle: "Types de contenus liés") }}
    {{> components-list-group-links}}
  </section>
  {{/ sb-block-tc-lies}}
  {{# sb-block-demarches}}
  <section class="sb-block">
    {{> patterns-heading-sidebar(sidebarTitle: "Collection de démarches") }}
    {{> components-list-group-links}}
  </section>
  {{/ sb-block-demarches}}
</div>