{{# sujetArronServices}}
<div class="content-module-stacked">
  <h3>Liste automatisée des services-collectes</h3>
  {{> components-list-item-link}}
</div>
{{/ sujetArronServices}}

{{# sujetArronDemarches}}
<div class="content-module-stacked">
  <h3>Liste automatisée des démarches</h3>
  {{> components-list-item-link}}
</div>
{{/ sujetArronDemarches}}

{{# sujetArronActivites}}
<div class="content-module-stacked">
  <h3>Liste automatisée des activités</h3>
  {{> components-list-item-link}}
</div>
{{/ sujetArronActivites}}

{{# sujetArronProgrammes}}
<div class="content-module-stacked">
  <h3>Liste automatisée des programmes</h3>
  {{> components-list-item-link}}
</div>
{{/ sujetArronProgrammes}}

{{# sujetArronArticles}}
<div class="content-module-stacked">
  <h3>Liste automatisée des articles</h3>
  {{> components-list-item-link}}
</div>
{{/ sujetArronArticles}}

{{# sujetArronPlans}}
<div class="content-module-stacked">
  <h3>Liste automatisée des plans</h3>
  {{> components-list-item-link}}
</div>
{{/ sujetArronPlans}}

{{# sujetArronProjets}}
<div class="content-module-stacked">
  <h3>Liste automatisée des projets</h3>
  {{> components-list-item-link}}
</div>
{{/ sujetArronProjets}}