{{> atoms-link-skip-to-main-content }}
{{> atoms-link-skip-to-main-content }}
{{> molecules-menu-open-side }}
<div class="vdm-page {{ pageClasses }}">
    {{> organisms-header-portal }}
    {{> organisms-breadcrumb-region }}
    <main class="main-content regions" id="main-content" aria-label="Main Content">
        {{> organisms-region-header-simple-portal }}
        {{> organisms-region-before-portal }}
        {{> organisms-region-main-no-columns-portal }}
    </main>
    {{> organisms-footer-portal }}
</div>


