<div class="alert-container {{ alertContainerClass }}">
  {{> components-alert }}
</div>
{{# has-confirmation-summary }}
{{> patterns-wizard-confirmation-summary }}
{{/ has-confirmation-summary }}

{{# confirmation-cta }}
{{> patterns-wizard-confirmation-cta }}
{{/ confirmation-cta }}