{{# page-section}}
<section class="page-section bg-gray-sky">
  <div class="container">
    {{# section-headings}}
    <div class="row">
      <div class="col">
        <h2 class="section-heading">{{ heading }}</h2>
      </div>
      {{# button}}
      <div class="col-auto">
        {{> components-button}}
      </div>
      {{/ button}}
    </div>
    {{/ section-headings}}
    {{# cards}}
    <div class="row cards">
      {{# cards.card-item }}
      <div class="{{ bsgrid-classes }}">
        {{> components-card-item-teaser}}
      </div>
      {{/ cards.card-item }}
    </div>
    {{/ cards}}
    {{# promoter}}
    {{> components-block-teaser-promoter}}
    {{/ promoter}}
  </div>
</section>
{{/ page-section}}