{{# contact-item }}
<div class="content-block content-block-contact">
  <div class="content-block-infos">
    <span class="content-block-infos-title ">{{ name }}</span>
    <span>{{ fonction }}</span>
    <span>{{ compagnie }}</span>
  </div>
  {{> styles-text-icons-list }}
  {{> styles-social-media-icons-list }}
</div>
{{/ contact-item }}

