<h3>Label only</h3>
{{# dropdownBase}}
<h4 class="pl-pattern-subtitle">Base</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownBase}}

{{# dropdownBaseDescription}}
<h4 class="pl-pattern-subtitle">Description</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownBaseDescription}}

{{# dropdownSection}}
<h4 class="pl-pattern-subtitle">Sections</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownSection}}

{{# dropdownSectionTitle}}
<h4 class="pl-pattern-subtitle">Sections with title</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownSectionTitle}}

<h3>With icons</h3>
{{# dropdownBaseHasIcons}}
<h4 class="pl-pattern-subtitle">Base with icons</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownBaseHasIcons}}

{{# dropdownBaseDescriptionHasIcons}}
<h4 class="pl-pattern-subtitle">Base with icons</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownBaseDescriptionHasIcons}}

{{# dropdownDividerHasIcons}}
<h4 class="pl-pattern-subtitle">Sections with icon</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownDividerHasIcons}}

{{# dropdownBaseStates}}
<h4 class="pl-pattern-subtitle">States</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownBaseStates}}

{{# dropdownSectionComplex}}
<h4 class="pl-pattern-subtitle">Exemple complexe</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownSectionComplex}}

{{# dropdownCheckbox}}
<h4 class="pl-pattern-subtitle">Checkbox</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownCheckbox}}

{{# dropdownRadio}}
<h4 class="pl-pattern-subtitle">Radio</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-dropdown}}
</div>
{{/ dropdownRadio}}

<h4 class="pl-pattern-subtitle">Dropdown buttons variants (down,up,right,left)</h4>
<!-- Default dropdown button -->
<div class="btn-group dropdown">
  <button class="btn btn-primary btn-squared dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
  {{> components-dropdown}}
</div>

<!-- Default dropup button -->
<div class="btn-group dropup">
  <button type="button" class="btn btn-primary btn-squared dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropup</button>
  {{> components-dropdown}}
</div>

<!-- Default dropright button -->
<div class="btn-group dropright">
  <button type="button" class="btn btn-primary btn-squared dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropright</button>
  {{> components-dropdown}}
</div>

<!-- Default dropleft button -->
<div class="btn-group dropleft">
  <button type="button" class="btn btn-primary btn-squared dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropleft</button>
  {{> components-dropdown}}
</div>
