@import "scss/functions";
@import "~bootstrap/scss/functions";

/*-- VARIABLES --*/
@import "scss/variables";

/*-- BOOTSTRAP --*/
@import "~bootstrap/scss/variables";
@import "scss/bootstrap_overrides"; // Overrides theme-colors variables
@import "scss/mixins"; // Partial bootstrap mixins import
@import "scss/icons";
@import "scss/mixins/caret";
@import "scss/bootstrap";

/*-- GENERIC --*/
@import "scss/utilities";

@import "scss/type";
@import "scss/tables";

/*-- MAIN ELEMENTS --*/
// @import "scss/main-navbar";
// @import "scss/menus";
// @import "scss/footer";

/*-- COMPONENTS --*/
@import "scss/badge";
@import "scss/buttons";
@import "scss/button-group";
@import "scss/card";
@import "scss/carousel";
@import "scss/chip";
@import "scss/close";
@import "scss/content-header";
@import "scss/dropdown";
@import "scss/overlay";
// @import "scss/gallery";
@import "scss/menu-item";
@import "scss/pre-footer";
@import "scss/forms";
@import "scss/layout";
@import "scss/list";
@import "scss/list-group";
@import "scss/map";
@import "scss/flyout";
@import "scss/modal";
@import "scss/media";
@import "scss/messaging";
@import "scss/nav";
@import "scss/collapse";
@import "scss/wrapper";
@import "scss/breadcrumb";
@import "scss/pagination";
@import "scss/progress";
@import "scss/sidebars";
@import "scss/spinners";
@import "scss/toasts";
@import "scss/tooltip";
@import "scss/page-drawer";
@import "scss/print";
