@import "scss/functions";

/*-- VARIABLES --*/
@import "scss/variables";

/*-- BOOTSTRAP --*/
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "scss/bootstrap_overrides"; // Overrides theme-colors variables
@import "scss/mixins-header-footer"; // Partial bootstrap mixins import
@import "scss/icons";
@import "scss/mixins/caret";
@import "scss/bootstrap-header-footer";

@import "scss/spinners";
@import "scss/buttons";

/*-- MAIN ELEMENTS --*/
@import "scss/main-navbar";
@import "scss/menus";
@import "scss/menu-item";
@import "scss/footer";

/*-- Utilities --*/
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/screenreaders";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";

/*-- CUSTOM --*/
@import "scss/utilities/text";
@import "scss/utilities/background";
@import "scss/utilities/vdm";
@import "scss/utilities/columns";


/*-- COMPONENTS --*/
@import "scss/type";
@import "scss/dropdown";
@import "scss/overlay";
@import "scss/list";
@import "scss/modal";
@import "scss/media";
@import "scss/nav";
@import "scss/collapse";

/*-- Print --*/
@import "scss/print";
