{{> components-skip-navigation }}
<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  <div class="container pt-4 pt-lg-8">
    <div class="row">
      <div class="col-12 col-lg-7">
        {{> components-breadcrumbs}}
      </div>
    </div>
  </div>

  {{# documentHeading}}
  <div class="mb-4 mb-lg-0">
  {{> patterns-content-header}}
  </div>
  {{/ documentHeading}}

  <div class="region-content pt-0">

    <div class="container">

      <div class="row d-md-block clearfix">
        <div class="col-12 col-lg-7 float-left">
          <header class="content-header mb-0 mb-lg-8 border-bottom-0 border-lg-bottom">

            {{# state}}
            <div class="d-flex mb-2">
              {{> components-etiquette }}
            </div>
            {{/ state}}

            <h1>{{ heading }}</h1>

            {{> patterns-content-header-extras}}

            {{# events-extras}}
            {{> components-liste-contenu}}
            {{/ events-extras}}

          </header>
        </div>
        <div class="col-12 col-lg-4 float-right">
          {{> templates-citoyens-sidebar-evenement}}
        </div>
        <div class="col-12 col-lg-7 float-left">
          {{# lead}}
          <div class="lead">
          {{{ lead }}}
          </div>
          {{/ lead}}

          {{# module-content}}
          <div class="content-modules">
          {{> templates-citoyens-evenement-content}}
          </div>
          {{/ module-content}}
        </div>
      </div>

      <section class="row justify-content-between">
        <div class="col-12 col-lg-7">
        {{> components-feedback-form}}
        </div>
      </section>

    </div>
  </div>
</main>

{{> patterns-footer-main }}

{{# module-content.module-map.cards.card-item}}
<script>
  window.addEventListener('load', function() {
    var data = {
      address : "{{{card-media.map.location.addressInfos.address}}}",
      title : "{{{card-media.map.location.addressInfos.addressTitle}}}",
      uri: "{{{card-media.map.location.addressInfos.uri}}}"
    }
    generateMap([{{{ card-media.map.location.lngLat }}}], data, '{{ card-media.map.location.mapID }}', {{ card-media.map.location.showZoom}});
  })
</script>
{{/ module-content.module-map.cards.card-item}}
