<h4 class="pl-pattern-subtitle">Couleurs</h4>
<div class="d-flex flex-wrap">
  {{# progress-colors}}
  <div class="col-auto">
    <div class="pl-mb-2">
      {{> components-progress-circle-item}}
    </div>
  </div>
  {{/ progress-colors}}
</div>
