<div class="sidebar pt-8 pt-lg-0">
  {{# sb-block-nous-joindre}}
  <section class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Nous joindre")}}
    {{> components-liste-contenu}}
  </section>
  {{/ sb-block-nous-joindre}}
  {{# sb-block-nous-suivre}}
  <section class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Nous suivre") }}
    {{> components-liste-contenu}}
  </section>
  {{/ sb-block-nous-suivre}}
</div>
