{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header-hub }}

  {{# nav-filters }}
  {{> molecules-nav-filters }}
  {{/ nav-filters }}

  {{# filters-applied }}
  <div class="container d-none d-md-flex">
    <div class="row mt-4">
      <div class="col-12 filters-applied">
        <span class="sr-only">Filtres sélectionnés : </span>
        <div class="badge-group badges-lg">
          {{> atoms-badges}}
          {{> atoms-button(buttonClass: "btn-link btn-sm py-1 mb-1",buttonText: "Tout effacer")}}
        </div>
      </div>
    </div>
  </div>
  {{/ filters-applied }}

  <section class="page-section pt-4 pt-md-8">
    <div class="container">
      {{# nav-filters }}
      <div class="mb-4 d-md-none">  
        <button type="button" class="btn btn-secondary btn-block d-flex justify-content-center" data-toggle="modal" data-target="#{{navModalID}}">
          <span class="vdm vdm-090-preferences" aria-hidden="true"></span>
          <span class="btn-label">Tous les filtres</span>
          {{# numb-filters}}
          <span>({{ numb-filters }})</span>
          {{/ numb-filters}}
        </button>
      </div>
      {{> molecules-modal-filters}}
      {{/ nav-filters }}
      {{^ has-empty-state}}
      {{# results }}
      <div class="hub-section-heading mb-2 mb-md-4">
        {{# headings }}
        <div class="row align-items-center">
          <div class="col-auto">
            <h2 class="{{ headings.class }} mb-0">{{ headings.text }}</h2>
          </div>
          {{# nav-sorts }}
          <div class="col-auto ml-auto">
            <div class="d-flex justify-content-end">
              <div class="nav nav-sorts">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">{{ title }}</a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <form>
                    {{# dropdownItem }}
                      <div class="dropdown-item form-group">
                        <div class="custom-control custom-control-sm custom-radio {{ class }} ">
                          <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                          <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                        </div>
                      </div>
                    {{/ dropdownItem }}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/ nav-sorts }}
        </div>
        {{/ headings }}
      </div>
      
      {{# listGroups }}
      <div class="row">
        <div class="col-12">
          {{> molecules-list-group-hub}}
        </div>
      </div>
      {{/ listGroups }}

      {{# hasPagination }}
      <div class="pagination-wrapper">
        {{> molecules-pagination("paginationClass": justify-content-center) }}
      </div>
      {{/ hasPagination }}
      {{/ results}}
      {{/ has-empty-state }}
      {{# has-empty-state}}
      <div class="row">
        <div class="col-12">
          {{> molecules-empty-state }}
        </div>
      </div>
      {{/ has-empty-state}}

    </div>
  </section>

  <!-- Teaser -->
  {{# has-lead-text}}
  {{> molecules-lead }}
  {{/ has-lead-text}}

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}

