<!-- Modal -->
<!-- pl-example-modal is used to show modal, used only for examples -->
<div class="pl-example-modal pl-neutral-underground-1 py-md-4">
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
            {{> styles-icon-item("icon-name": "icon-x")}}
          </button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas enim nec erat vulputate, at luctus neque lacinia. Phasellus sed ex ultrices, faucibus nisl sit amet, tincidunt magna.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">Accéder sans certification</button>
          <button type="button" class="btn btn-primary">Faire la certification</button>
        </div>
      </div>
    </div>
  </div>
</div>