<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalIconLive">
  Launch demo modal icon
</button>

<!-- Modal Icon variant -->
<div class="modal modal-icon fade" id="exampleModalIconLive" tabindex="-1" role="dialog" aria-labelledby="modalIconLiveExampleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="m-auto">
          <svg width="80" height="80" viewBox="0 0 80 80" class="icon-danger">
            <title>Illustrative Icons/Attention</title>
            <path d="M39.665 56.04c-.92 0-1.666-.745-1.666-1.666V31.666a1.667 1.667 0 0 1 3.333 0v22.708c0 .92-.746 1.667-1.667 1.667zm30 7.293H46.332a1.667 1.667 0 0 1 0-3.334h20.39L39.665 14.906 12.61 59.999H33a1.667 1.667 0 1 1 0 3.334H9.665a1.666 1.666 0 0 1-1.428-2.524l30-50a1.667 1.667 0 0 1 2.858 0l30 50a1.667 1.667 0 0 1-1.43 2.524zm-30 0a1.667 1.667 0 1 0 0-3.334 1.667 1.667 0 0 0 0 3.334z"/>
          </svg>
          <h5 class="modal-title" id="modalIconLiveExampleLabel">Modal title</h5>
        </div>
        <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>Icons/24px/X</title>
            <path d="M12 13.414l-5.293 5.293a1 1 0 1 1-1.414-1.414L10.586 12 5.293 6.707a1 1 0 0 1 1.414-1.414l12 12a1 1 0 0 1-1.414 1.414L12 13.414zm5.293-8.121a1 1 0 0 1 1.414 1.414l-3 3a1 1 0 1 1-1.414-1.414l3-3z" fill="#ADB5BD" fill-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas enim nec erat vulputate, at luctus neque lacinia. Phasellus sed ex ultrices, faucibus nisl sit amet, tincidunt magna.</p>
      </div>
      <div class="modal-footer">
        <div class="modal-footer-content mx-auto">
          <a href="#">Consulter le communiquer pour plus de détails</a>
        </div>
      </div>
    </div>
  </div>
</div>