<h2>Headings</h2>
<div class="pl-headers-wrapper">
  <ul class="pl-headers">
    <li>
      <h1>H1</h1>
      <span>NunitoSans-Regular / 67 px / 92 px Leading / #000000</span>
    </li>
    <li>
      <h2>H2</h2>
      <span>NunitoSans-Light / 50 px / 69 px Leading / #000000</span>
    </li>
    <li>
      <h3>H3</h3>
      <span>NunitoSans-Regular / 37 px / 50 px Leading / #000000</span>
    </li>
    <li>
      <h4>H4</h4>
      <span>NunitoSans-Regular / 28 px / 38 px Leading / #000000</span>
    </li>
    <li>
      <h4 class="strong">H4.strong</h4>
      <span>NunitoSans-Bold / 28 px / 38 px Leading / #000000</span>
    </li>
    <li>
      <h5>H5</h5>
      <span>NunitoSans-Regular / 21 px / 28 px Leading / #000000</span>
    </li>
    <li>
      <h6>H6</h6>
      <span>NunitoSans-Regular / 16 px / 26 px Leading / #000000</span>
    </li>
    <li>
      <label>LABEL</label><br>
      <span>NunitoSans-Regular / 12 px / 16 px Leading / #000000</span>
    </li>
    <li>
      <span class="intro">INTRO</span><br>
      <span>NunitoSans-Regular / 16 px / 26 px Leading / #000000</span>
    </li>
  </ul>
</div>
