<h2>Headings</h2>
<br>
<div class="pl-swatches-wrapper">
  <div class="pl-swatches">
    <h1>H1</h1>
    <span>NunitoSans-Regular / 67 px / 92 px Leading / #000000</span>
    <br><br>
    <h2>H2</h2>
    <span>NunitoSans-Light / 50 px / 69 px Leading / #000000</span>
    <br><br>
    <h3>H3</h3>
    <span>NunitoSans-Regular / 37 px / 50 px Leading / #000000</span>
    <br><br>
    <h4>H4</h4>
    <span>NunitoSans-Regular / 28 px / 38 px Leading / #000000</span>
    <br><br>
    <h5>H5</h5>
    <span>NunitoSans-Regular / 21 px / 28 px Leading / #000000</span>
    <br><br>
    <h6>H6</h6>
    <span>NunitoSans-Regular / 16 px / 26 px Leading / #000000</span>
    <br><br>
    <label>LABEL</label><br>
    <span>NunitoSans-Regular / 12 px / 16 px Leading / #000000</span>
    <br><br>
    <span class="intro">INTRO</span><br>
    <span>NunitoSans-Regular / 16 px / 26 px Leading / #000000</span>
    <br><br>
  </div>
</div>
