<div>
  <ul class="pl-list-stacked-block plain">
    <li>
      <h1>H1. Montréal Heading</h1>
      <span>NunitoSans-Regular - 48/60</span>
    </li>
    <li>
      <h2>H2. Montréal Heading</h2>
      <span>NunitoSans-Regular - 42/52</span>
    </li>
    <li>
      <h3>H3. Montréal heading</h3>
      <span>NunitoSans-Regular - 36/44</span>
    </li>
    <li>
      <h4>H4. Montréal heading</h4>
      <span>NunitoSans-Regular - 32/40</span>
    </li>
    <li>
      <h5>H5. Montréal heading</h5>
      <span>NunitoSans-Regular - 26/32</span>
    </li>
    <li>
      <h6>H6. Montréal heading</h6>
      <span>NunitoSans-Regular - 22/28</span>
    </li>
  </ul>
</div>
