<div>
  <ul class="pl-list-stacked-block plain">
    <li>
      {{> atoms-display-heading  }}
      <span>NunitoSans-Bold - 65/80</span>
    </li>
    <li>
      {{> atoms-display-heading(text-elements.headings.display.classes : "display-2", text-elements.headings.display.content : "Display 2")  }}
      <span>NunitoSans-Regular - 65/80</span>
    </li>
    <li>
      {{> atoms-display-heading(text-elements.headings.display.classes : "display-3", text-elements.headings.display.content : "Display 3")  }}
      <span>NunitoSans-Regular - 59/72</span>
    </li>
    <li>
      {{> atoms-display-heading(text-elements.headings.display.classes : "display-4", text-elements.headings.display.content : "Display 4")  }}
      <span>NunitoSans-Regular - 52/64</span>
    </li>
  </ul>
</div>
