{{> atoms-display-heading  }}
{{> atoms-display-heading(text-elements.headings.display.classes : "display-2", text-elements.headings.display.content : "Display 2")  }}
{{> atoms-display-heading(text-elements.headings.display.classes : "display-3", text-elements.headings.display.content : "Display 3")  }}
{{> atoms-display-heading(text-elements.headings.display.classes : "display-4", text-elements.headings.display.content : "Display 4")  }}
