<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum, leo a eleifend mollis, erat lectus dictum orci, et iaculis dolor odio vel ex. Praesent eu enim eu diam eleifend sollicitudin scelerisque eu libero. Pellentesque vel diam id lacus placerat rhoncus a nec diam. Fusce lobortis vestibulum metus, vel euismod dui vestibulum in. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam consectetur placerat justo, sit amet auctor nisi tincidunt eu. Integer at tristique nisl.</p>
</blockquote>
