<blockquote class="blockquote">
  <p>Meditation gochujang copper mug, selfies paleo yuccie gastropub single-origin coffee thundercats scenester venmo pickled. Neutra yr green juice, fixie blog literally squid lyft bitters actually bicycle rights thundercats.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Helvetica kitsch">Helvetica kitsch</cite></footer>
</blockquote>