<h4 class="pl-stroked-header">Base link</h4>
<ul class="pl-list-stacked-block">
	<li><a href="#" title="link title text">Link title</a></li>
</ul>

<h4 class="pl-stroked-header">Link without parent width, inline-block display </h4>
<ul class="pl-list-stacked-block">
	<li><a href="#" title="link title text" class="block arrow inline">Link title arrow, inline, self standing</a></li>
	<li><a href="#" title="link title text" class="block arrow inline">Link title arrow, inline, self standing</a>And some extra text</li>
</ul>

<h4 class="pl-stroked-header">Block level links w/ in a parent with a 20% width attribute</h4>
<ul class="pl-list-stacked-block pl-plain pl-width-20">
	<li><a href="#" title="link title text" class="block arrow">Link title arrow, block</a></li>
	<li><a href="#" title="link title text" class="block inverse arrow">Link title arrow, block, inverse</a></li>
</ul>

<h4 class="pl-stroked-header">Inline links with icons</h4>
<p>May or may not be useful</p>
<ul class="pl-list-stacked-block">
	<li><a href="#" title="link title text" class="icon right">Link title right<i class="vdmi ic-search" aria-hidden="true"></i></a></li>
	<li><a href="#" title="link title text" class="icon left"><i class="vdmi ic-phone" aria-hidden="true"></i>Link title left</a></li>
</ul>
<p>
Normcore tote bag 
<a href="#" title="link title text" class="icon right">affrogto<i class="vdmi ic-broom" aria-hidden="true"></i></a> 
<a href="#" title="link title text" class="icon left"><i class="vdmi ic-settings" aria-hidden="true"></i>freegan</a> man bun cardigan. 
<a href="#" title="link title text" class="icon left"><i class="vdmi ic-clock" aria-hidden="true"></i>Try-hard </a>cornhole 
<a href="#" title="link title text" class="icon right">hella<i class="vdmi ic-nut" aria-hidden="true"></i></a>, cred tofu meh drinking vinegar wolf blog snackwave kale chips semiotics next level microdosing. Cardigan mustache woke pitchfork, hell of master cleanse single-origin coffee dreamcatcher.
</p>

<h1><a href="#" title="link title text" class="icon left"><i class="vdmi ic-phone" aria-hidden="true"></i>Link title left H1</a></h1>
<h3><a href="#" title="link title text" class="icon left"><i class="vdmi ic-phone" aria-hidden="true"></i>Link title left H3</a></h3>