<h4 class="pl-stroked-header">Base link</h4>
<ul class="pl-list-stacked-block list-unstyled">
	<li><a href="#" title="link title text">Link title</a></li>
</ul>

<h4 class="pl-stroked-header">Link without parent width, inline-block display </h4>
<ul class="pl-list-stacked-block list-unstyled">
	<li><a href="#" title="link title text" class="block arrow inline">Link title arrow, inline, self standing{{> atoms-fonticon-item(label: "fleche-droite) }}</a></li>
	<li><a href="#" title="link title text" class="block arrow inline">Link title arrow, inline, self standing{{> atoms-fonticon-item(label: "fleche-droite) }}</a>And some extra text</li>
</ul>

<h4 class="pl-stroked-header">Block level links w/ in a parent with a 20% width attribute</h4>
<ul class="pl-list-stacked-block pl-plain pl-width-20 list-unstyled">
	<li><a href="#" title="link title text" class="block arrow">Link title arrow, block{{> atoms-fonticon-item(label: "fleche-droite) }}</a></li>
	<li><a href="#" title="link title text" class="block inverse arrow">Link title arrow, block, inverse{{> atoms-fonticon-item(label: "fleche-droite) }}</a></li>
</ul>

<h4 class="pl-stroked-header">Inline links with icons</h4>
<p>May or may not be useful</p>
<ul class="pl-list-stacked-block list-unstyled">
	<li><a href="#" title="link title text" class="icon right">Link title right{{> atoms-fonticon-item(label: "recherche") }}</a></li>
	<li><a href="#" title="link title text" class="icon left">{{> atoms-fonticon-item(label: "telephone") }}Link title left</a></li>
</ul>
<p>
Normcore tote bag 
<a href="#" title="link title text" class="icon right">affrogto{{> atoms-fonticon-item(label: "balai") }}</a> 
<a href="#" title="link title text" class="icon left">{{> atoms-fonticon-item(label: "parametres") }}freegan</a> man bun cardigan. 
<a href="#" title="link title text" class="icon left">{{> atoms-fonticon-item(label: "horloge) }}Try-hard</a>cornhole 
<a href="#" title="link title text" class="icon right">hella{{> atoms-fonticon-item(label: "ecrou") }}</a>, cred tofu meh drinking vinegar wolf blog snackwave kale chips semiotics next level microdosing. Cardigan mustache woke pitchfork, hell of master cleanse single-origin coffee dreamcatcher.
</p>

<h1><a href="#" title="link title text" class="icon left">{{> atoms-fonticon-item(label: "telephone") }}Link title left H1</a></h1>

<h3><a href="#" title="link title text" class="icon left">{{> atoms-fonticon-item(label: "telephone") }}Link title left H3</a></h3>
