<h1 class="{{ text-elements.headings.h1.classes }}">{{ text-elements.headings.h1.content }}</h1>
{{# text-elements.headings.h1.divider }}
  <div class="divider {{ text-elements.headings.h1.dividerClass }}"></div>
{{/ text-elements.headings.h1.divider }}
