<div class="left-nav">
  <ul class="primary">
    <li>Comprendre la ville</li>
    <ul class="sub">
      <li>Marie et élus</li>
      <li>Arrondissements</li>
      <li>Instances décisionnelles</li>
      <li>Budget et publications</li>
      <li>Politiques</li>
      <li>Programmes et initiatives</li>
      <li>Règlements</li>
      <li>Organisations municipale</li>
      <li>Montréal en statistiques</li>
      <li>Archives et histoire</li>
    </ul>
  </ul>
</div>
<div class="left-nav-icon">
  <i class="vdmi ic-menu ic-6x"></i>
</div>


