<nav class="side-menu wrapper" id="sideNav">
  <ul class="menu-links">
    <li class="menu-item">
        <a class="menu-link" href="#home">Home</a>
    </li>
    <li class="menu-item has-children">
        
        <a class="menu-link parent-link" href="#news">
            News
            <i class="vdmi ic-arrow-right" aria-hidden="true"></i>
        </a>
        
        <ul class="menu-links submenu">
            <li class="menu-item back-item">
                <a class="menu-link back-link" href="#back">
                    Back 01
                    <i class="vdmi ic-arrow-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="menu-item parent-item">
                <a class="menu-link parent-link" href="#news">News</a>
            </li>
            <li class="menu-item">
                <a class="menu-link child-link" href="#noticesalerts">Notices and alerts</a>
            </li>
            <li class="menu-item">
                <a class="menu-link child-link" href="#noticesalerts">News</a>
            </li>
        </ul>

    </li>
    <li class="menu-item">
        <a class="menu-link" href="#request">Requests and payments</a>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="#infos">Useful information</a>
    </li>
    <li class="menu-item has-children">
        
        <a class="menu-link parent-link" href="#find">
            Find a place
            <i class="vdmi ic-arrow-right" aria-hidden="true"></i>
        </a>

        <ul class="menu-links submenu">
            <li class="menu-item back-item">
                <a class="menu-link back-link" href="#back">
                    Back 02
                    <i class="vdmi ic-arrow-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="menu-item parent-item">
                <a class="menu-link parent-link" href="#news">Parent item</a>
            </li>
            <li class="menu-item child">
                <a class="menu-link" href="#child1">Child item 01</a>
            </li>
            <li class="menu-item child">
                <a class="menu-link" href="#child2">Child item 02</a>
            </li>
        </ul>

    </li>
    <li class="menu-item">
        <a class="menu-link" href="#contact">Contact Us</a>
    </li>
  </ul>
</nav>

