<div class="vdm-dropdown">
  	<a class="dropdown-trigger" role="button" data-toggle="collapse" href="#dropdown" aria-expanded="false" aria-controls="dropdown">
  		Dropdown button
	</a>
	<ul class="dropdown-elements collapse" id="dropdown">
		<li class="dropdown-element"><a href="#">Link 1</a></li>
		<li class="dropdown-element"><a href="#">Link 2</a></li>
		<li class="dropdown-element"><a href="#">Link link link link 3</a></li>
		<li class="dropdown-element"><a href="#">Link link 4</a></li>
	</ul>
</div>

<h4> BS dropdown below...</h4>
<p> Submenu is in absolute position, will display items above trigger when the trigger is low in the viewport.</p>
<div class="dropdown vdm-dropdown-bs">
  <!--
  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  -->
  	<a class="dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  		Dropdown button
	</a>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
	</div>
</div>

