<h3 class="pl-stroked-header">Collapsible - single</h3>
<div class="vdm-collapsible-item">
	<h4 class="object"><a role="button" data-toggle="collapse" href="#vdmCollapseSubject" aria-expanded="false" aria-controls="vdmCollapseSubject">Collapsible object</a></h4>
	<div id="vdmCollapseSubject" class="collapse subject" >Collapsible subject</div>
</div>

<h3 class="pl-stroked-header">Collapsible - multi</h3>
<ul class="vdm-collapsible-list panel-group" id="collapseList">
	<li class="vdm-collapsible-item panel">
		<h4 class="object"><a data-parent="#collapseList" role="button" data-toggle="collapse" data-target="#vdmCollapseSubject3" aria-expanded="false" aria-controls="vdmCollapseSubject3">Collapsible object - Collapsible object</a></h4>
		<div id="vdmCollapseSubject3" class="collapse subject" >Collapsible subject</div>
	</li>
	<li class="vdm-collapsible-item panel">
		<h4 class="object"><a  data-parent="#collapseList" role="button" data-toggle="collapse" data-target="#vdmCollapseSubject2" aria-expanded="false" aria-controls="vdmCollapseSubject2">Collapsible object</a></h4>
		<div id="vdmCollapseSubject2" class="collapse subject">Collapsible subject</div>
	</li>
</ul>
