<h4 class="pl-stroked-header">Nav tabs with a classic ul/li structure, not responsive</h4>
<ul class="nav nav-tabs vdm-tabs" role="tablist">
  <li class="nav-item" role="presentation"><a href="#home" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
  <li class="nav-item" role="presentation"><a href="#profile" class="nav-link" role="tab" data-toggle="tab">Profile</a></li>
  <li class="nav-item" role="presentation"><a href="#messages" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
	<li class="nav-item" role="presentation"><a href="#services" class="nav-link" role="tab" data-toggle="tab">Services</a></li>
	<li class="nav-item" role="presentation"><a href="#tasks" class="nav-link" role="tab" data-toggle="tab">Tasks</a></li>
</ul>

<div class="pl-vspacer pl-vspacer-50"></div>
<h4 class="pl-stroked-header">Nav tabs with flex utilities</h4>
<ul class="nav nav-tabs vdm-tabs flex-column flex-sm-row" role="tablist">
  <li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#home" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
  <li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#profile" class="nav-link" role="tab" data-toggle="tab">Profile</a></li>
  <li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#messages" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
	<li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#services" class="nav-link" role="tab" data-toggle="tab">Services</a></li>
	<li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#tasks" class="nav-link" role="tab" data-toggle="tab">Tasks</a></li>
</ul>

<div class="pl-vspacer pl-vspacer-50"></div>
<h4 class="pl-stroked-header">Nav tabs over a background</h4>
<div class="pl-background pl-grey-light pl-padding-10">
	<ul class="nav nav-tabs vdm-tabs  flex-column flex-sm-row" role="tablist">
		<li role="presentation" class="nav-item flex-sm-fill text-sm-center"><a href="#" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
		<li role="presentation" class="nav-item flex-sm-fill text-sm-center"><a href="#" class="nav-link" role="tab" data-toggle="tab">Profile</a></li>
		<li role="presentation" class="nav-item flex-sm-fill text-sm-center"><a href="#" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
	</ul>
</div>


<div class="pl-vspacer pl-vspacer-50"></div>
<h4 class="pl-stroked-header">Nav tabs - justified</h4>
<ul class="nav nav-tabs nav-justified vdm-tabs" role="tablist">
  <li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
  <li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Profile Profile Profile</a></li>
  <li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
</ul>

<div class="pl-vspacer pl-vspacer-50"></div>
<h4 class="pl-stroked-header">Nav tabs - justified with flex utilities</h4>
<ul class="nav nav-tabs nav-justified flex-column flex-sm-row vdm-tabs" role="tablist">
  <li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#home" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
  <li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#profile" class="nav-link" role="tab" data-toggle="tab">Profile</a></li>
  <li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#messages" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
	<li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#services" class="nav-link" role="tab" data-toggle="tab">Services</a></li>
	<li class="nav-item flex-sm-fill text-sm-center" role="presentation"><a href="#tasks" class="nav-link" role="tab" data-toggle="tab">Tasks</a></li>
</ul>

<div class="pl-vspacer pl-vspacer-50"></div>
<h4 class="pl-stroked-header">Nav tabs - fill</h4>
<ul class="nav nav-tabs nav-fill vdm-tabs flex-column flex-sm-row" role="tablist">
	<li role="presentation" class="nav-item flex-sm-fill text-sm-center"><a href="#" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
	<li role="presentation" class="nav-item flex-sm-fill text-sm-center"><a href="#" class="nav-link" role="tab" data-toggle="tab">Profile Profile Profile</a></li>
	<li role="presentation" class="nav-item flex-sm-fill text-sm-center"><a href="#" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
</ul>

