<h3 class="pl-stroked-header">Tabs variants - VDM</h3>

<h4 class="pl-stroked-header">With a classic ul/li structure</h4>
<ul class="nav nav-tabs vdm-tabs" role="tablist">
  <li class="nav-item" role="presentation"><a href="#home" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
  <li class="nav-item" role="presentation"><a href="#profile" class="nav-link" role="tab" data-toggle="tab">Profile</a></li>
  <li class="nav-item" role="presentation"><a href="#messages" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
</ul>

<h4 class="pl-stroked-header">With the nav tag</h4>
<nav class="nav nav-tabs vdm-tabs">
  <a class="nav-item nav-link active" href="#">Active</a>
  <a class="nav-item nav-link" href="#">Link</a>
  <a class="nav-item nav-link" href="#">Link</a>
  <a class="nav-item nav-link disabled" href="#">Disabled</a>
</nav>

<div class="pl-vspacer pl-vspacer-25"></div>

<div class="pl-background pl-grey-light pl-padding-10">
	<ul class="nav nav-tabs vdm-tabs" role="tablist">
		<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
		<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Profile</a></li>
		<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
	</ul>
</div>

<div class="pl-vspacer pl-vspacer-25"></div>

<div class="pl-background pl-grey-light pl-padding-10">
	<ul class="nav nav-tabs vdm-tabs vdm-tabs-border-top" role="tablist">
		<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
		<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Profile</a></li>
		<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
	</ul>
</div>

<div class="pl-vspacer pl-vspacer-50"></div>

<h4 class="pl-stroked-header">Nav Tabs - justified</h4>
<ul class="nav nav-tabs nav-justified vdm-tabs" role="tablist">
  <li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
  <li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Profile Profile Profile</a></li>
  <li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
</ul>

<div class="pl-vspacer pl-vspacer-25"></div>

<h4 class="pl-stroked-header">Nav Tabs - fill</h4>
<ul class="nav nav-tabs  nav-fill vdm-tabs" role="tablist">
	<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Home</a></li>
	<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Profile Profile Profile</a></li>
	<li role="presentation" class="nav-item"><a href="#" class="nav-link" role="tab" data-toggle="tab">Messages</a></li>
</ul>


<div class="pl-vspacer pl-vspacer-50"></div>

<h4 class="pl-stroked-header">Nav Tabs - Bootstrap 4</h4>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

