<nav>
  <ul class="nav nav-tabs nav-fill vdm-tabs flex-column flex-sm-row" role="tablist">
    {{# navTabsList }}
      <li class="nav-item flex-sm-fill text-sm-center" role="presentation">
        <a href="#home" class="nav-link" role="tab" data-toggle="tab">{{ title }}</a>
      </li>
    {{/ navTabsList }}
    <!--{{# listItems.five }}
      <li class="nav-item flex-sm-fill text-sm-center" role="presentation">
        <a href="#home" class="nav-link" role="tab" data-toggle="tab">{{ title }}</a>
      </li>
    {{/ listItems.five }}
    -->

  </ul>
</nav>
    
    <!--
    <li class="nav-item flex-sm-fill text-sm-center" role="presentation">
      <a href="#profile" class="nav-link" role="tab" data-toggle="tab">Profile</a>
    </li>
    <li class="nav-item flex-sm-fill text-sm-center" role="presentation">
      <a href="#messages" class="nav-link" role="tab" data-toggle="tab">Messages</a>
    </li>
    <li class="nav-item flex-sm-fill text-sm-center" role="presentation">
      <a href="#services" class="nav-link" role="tab" data-toggle="tab">Services</a>
    </li>
    <li class="nav-item flex-sm-fill text-sm-center" role="presentation">
      <a href="#tasks" class="nav-link" role="tab" data-toggle="tab">Tasks</a>
    </li>
    -->