<!--  @to-do - Implement pagination-lg and pagination-sm -->
<ul class="pagination vdm-pagination">
	<li class="pagination-previous">
		<a href="#" aria-label="Previous">
			<i class="vdmi ic-chevron-left" aria-hidden="true"></i>
		</a>
	</li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li class="active"><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
	<li class="pagination-next">
		<a href="#" aria-label="Next">
			<i class="vdmi ic-chevron-right" aria-hidden="true"></i>
		</a>
	</li>
</ul>