<ul class="pagination vdm-pagination">
	<li class="pagination-previous">
		<a href="#" aria-label="Previous">
		<span aria-hidden="true">&laquo;</span>
		</a>
	</li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li class="active"><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
	<li class="pagination-next">
		<a href="#" aria-label="Next">
		<span aria-hidden="true">&raquo;</span>
		</a>
	</li>
</ul>

