<ul class="language-list">
    <li class="lang active">
        <a href="/fr" title="{{ langswitcherTitle.fr }}">fr</a>
    </li>
    <li class="lang">
        <a href="/en" title="{{ langswitcherTitle.en }}">en</a>
    </li>
</ul>

