<button type="button" class="menu-trigger" data-toggle="collapse" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="sr-only">Ouvrir le menu principal</span>
</button>