<div class="navbar-banner">
    <div class="main">
        <span class"description">Beta version of Montréal's Web site</span>
        <a href="#" class="link">Learn more</a>
    </div>
    <div class="secondary">
        <a href="#">Exit beta version of the site</a>
    </div>
</div>
