<nav id="nav" class="">

  <ul class="">

    {{# primaryNav }}
      <li class=""><a href="{{ url }}" class="c-primary-nav__link">{{ label }}</a></li>
    {{/ primaryNav }}

  </ul><!--end c-primary-nav__list-->

</nav><!--end c-primary-nav-->
