<div class="pl-neutral-underground-1 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="collapsible-variant" role="tablist" aria-multiselectable="true">
          {{> components-collapsible-item }}
        </div>
      </div>
    </div>
  </div>
</div>