<div class="collapse collapse-content" id="collapseContentExample">
  <p>Cras quis gravida leo, id blandit elit. <a href="https://ville.montreal.qc.ca">Vivamus placerat</a> felis massa, consectetur fringilla ante ultricies feugiat. Sed imperdiet semper rhoncus. 
    Aenean quis augue consequat, viverra mi mollis, suscipit arcu. Vestibulum vitae urna ipsum. Nulla turpis dolor, facilisis a eleifend in, facilisis quis augue. Donec ullamcorper ligula blandit, pulvinar tellus eu, venenatis arcu. 
    Nam id finibus erat, eget sollicitudin lectus. Curabitur vel est id est rutrum cursus. Donec nunc neque, auctor et lectus eget, faucibus ullamcorper turpis. Phasellus malesuada magna ac turpis volutpat mollis. Ut suscipit condimentum augue vel placerat. 
    Sed fermentum eleifend dui. Nam aliquet malesuada neque sit amet sodales. Integer mauris nibh, sodales ut diam vel, venenatis pretium ex. Donec vulputate ut felis sit amet varius.</p>
  <p>Nulla facilisi. Nullam convallis massa sapien, id blandit lorem sodales pretium. Nam tempor erat et accumsan rhoncus. Nunc quis posuere magna. Ut elementum, velit eu venenatis venenatis, velit elit pellentesque leo, ac finibus enim orci eu lectus. 
    Sed vel risus nec nisl ultricies mollis at eu diam. Donec vitae orci congue, vulputate lacus ut, posuere ipsum.</p>
</div>
<div class="w-100 text-center">
  <button class="btn btn-link btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#collapseContentExample" aria-expanded="false" aria-controls="collapseContentExample">Voir plus</button>
</div>
