<div id="accordion" class="{{ collapsibleClasses }}">
  {{^ hideButton}}
  <button type="button" class="btn btn-accordion-collapse d-flex ml-auto" data-bs-toggle="collapse" aria-expanded="false">Tout ouvrir</button>
  {{/ hideButton}}
  {{> components-collapsible-item }}
</div>
