{{# collapsibleItem }}
<div class="collapsible-item">
  <div class="collapsible-header" id="{{ heading-id }}">
    <h3 class="collapsible-title">
      <button data-toggle="collapse" data-target="#{{ block-id }}" aria-expanded="{{# show}}true{{/ show}}{{^ show}}false{{/ show}}" aria-controls="{{ block-id }}"{{#item-disabled}} class="disabled" aria-disabled="true" disabled="true"{{/ item-disabled}}>
        <span>{{ title }}</span>
        {{# subtitle}}<span class="collapsible-subtitle">{{subtitle}}</span>{{/ subtitle}}
      </button>
    </h3>
  </div>
  <div id="{{ block-id }}" class="collapse {{# show }}show{{/ show}}" role="region" aria-labelledby="{{ heading-id }}">
    {{# collapsible-default-content}}
    <div class="collapsible-block">
      {{{ collapsible-default-content }}}
    </div>
    {{/ collapsible-default-content}}
    {{# collapsible-item-canaux}}
    <div class="collapsible-block">
      {{> templates-citoyens-demarche-canaux}}
    </div>
    {{/ collapsible-item-canaux}}
    {{# collapsible-item-vdl311}}
    <div class="collapsible-block">
      {{> templates-outils-interne-collapse-vdl311}}
    </div>
    {{/ collapsible-item-vdl311}}
  </div>
</div>
{{/ collapsibleItem }}
