<div class="list-group list-group-content {{ listGroupClass }}">
	{{# listGroupContent }}
  <div class="list-group-item {{ class }}">
    <div class="list-group-item-body">
      <h2 class="list-group-item-title">{{ title }}</h2>
      {{# items-column }}
      {{# items }}
      <div class="list-group-item-column">
        {{# label }}
        <span class="list-group-item-label">{{ label }}</span>
        {{/ label }}
        {{{ value }}}
      </div>
      {{/ items }}
      {{/ items-column }}
      {{# items-row }}
      {{# items }}
      <div class="row list-group-item-row">
        <div class="col-12 col-md-4">
          <span class="list-group-item-label">{{ label }}</span>
        </div>
        <div class="col-12 col-md-8">
        {{# value }}
          <span>{{{ value }}}</span>
        {{/ value }}
        {{# url }}
          <a class="elided-text" href="{{url}}">{{url}}</a>
        {{/ url }}
        </div>
      </div>
      {{/ items }}
      {{/ items-row }}
    </div>
  </div>
  {{/ listGroupContent }}
</div>