<div class="sidebar pt-8 pt-lg-0">
  {{# sb-block-coordonnees}}
  <section class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Coordonnées")}}
    {{# sb-block-contact}}
    {{# content}}
    {{> components-list-item}}
    {{/ content}}
    {{/ sb-block-contact}}
  </section>
  {{/ sb-block-coordonnees}}
</div>
