{{# menuItemHorizontal}}
<h4 class="pl-pattern-subtitle mb-2">Horizontal (Default)</h4>
<div class="pl-pattern-example mb-4">
  {{> components-nav-complex-menu-item}}
</div>
{{/ menuItemHorizontal}}

{{# menuItemHorizontalInfo}}
<h4 class="pl-pattern-subtitle mb-2">Horizontal (Informative)</h4>
<div class="pl-pattern-example mb-4">
  {{> components-nav-complex-menu-item}}
</div>
{{/ menuItemHorizontalInfo}}

{{# menuItemVerticalIconOnly}}
<h4 class="pl-pattern-subtitle mb-2">Vertical (Icon Bar)</h4>
<div class="pl-pattern-example mb-4">
  {{> components-nav-complex-menu-item}}
</div>
{{/ menuItemVerticalIconOnly}}

{{# menuItemVerticalIconAndText}}
<h4 class="pl-pattern-subtitle mb-2">Vertical</h4>
<div class="pl-pattern-example mb-4">
  {{> components-nav-complex-menu-item}}
</div>
{{/ menuItemVerticalIconAndText}}
