{{# menuItemHorizontal}}
<h4 class="pl-pattern-subtitle">Horizontal</h4>
<div class="pl-pattern-example pl-mb-4">
  {{> components-nav-complex-menu-item}}
</div>
{{/ menuItemHorizontal}}

{{# menuItemVerticalIconOnly}}
<h4 class="pl-pattern-subtitle pl-mb-2">Vertical Icon Bar</h4>
<div class="d-flex pl-mb-4">
  <div class="pl-mr-4">
    <h5 class="pl-pattern-subtitle">Default</h5>
    <div class="pl-pattern-example pl-width-7">
      {{> components-nav-complex-menu-item}}
    </div>
  </div>
  <div class="pl-mr-4">
    <h5 class="pl-pattern-subtitle">Underground</h5>
    <div class="pl-pattern-example pl-width-7">
      {{> components-nav-complex-menu-item("menuItemClass": "menu-items-underground menu-items-column menu-items-icon-bar")}}
    </div>
  </div>
  <div class="pl-mr-4">
    <h5 class="pl-pattern-subtitle ">Reverse</h5>
    <div class="pl-pattern-example pl-width-7">
      {{> components-nav-complex-menu-item("menuItemClass": "menu-items-reverse menu-items-column menu-items-icon-bar")}}
    </div>
  </div>
  <div class="pl-mr-4 position-relative">
    <h5 class="pl-pattern-subtitle">Position Right</h5>
    <div class="pl-pattern-example pl-width-7">
      {{> components-nav-complex-menu-item("navMenuItemsClass": "nav-menu-items-right position-absolute")}}
    </div>
  </div>
  <div class="pl-mr-4">
    <h5 class="pl-pattern-subtitle">Revealing Labels</h5>
    <div class="pl-pattern-example pl-width-7">
      {{> components-nav-complex-menu-item("menuItemClass": "menu-items-column menu-items-icon-bar menu-items-revealing-labels")}}
    </div>
  </div>
</div>
{{/ menuItemVerticalIconOnly}}

{{# menuItemVerticalIconAndText}}
<h4 class="pl-pattern-subtitle">Vertical Icon and text</h4>
<div class="pl-pattern-example">
  {{> components-nav-complex-menu-item}}
</div>
{{/ menuItemVerticalIconAndText}}
