<h4 class="pl-pattern-subtitle">Large</h4>
{{> components-nav-tab(navTabsClass: "nav-tabs-lg") }}

<h4 class="pl-pattern-subtitle">Medium</h4>
{{> components-nav-tab }}

<h4 class="pl-pattern-subtitle">Small</h4>
{{> components-nav-tab(navTabsClass: "nav-tabs-sm") }}
