<h4 class="pl-pattern-subtitle">Large</h4>
<div class="mb-4">
{{> components-nav-tab(navTabsClass: "nav-tabs-lg") }}
</div>

<h4 class="pl-pattern-subtitle">Medium</h4>
<div class="mb-4">
{{> components-nav-tab }}
</div>

<h4 class="pl-pattern-subtitle">Small</h4>
<div class="mb-4">
{{> components-nav-tab(navTabsClass: "nav-tabs-sm") }}
</div>
