<nav id="navAnchors" class="nav-anchors {{navAnchorsClass}}" {{# nav.is-sticky }}data-toggle="sticky-onscroll"{{/ nav.is-sticky}}>
  {{# nav.inContainer}}
  <div class="container">
  {{/ nav.inContainer}}
    <ul class="nav {{ navClass }}" role="tablist">
      {{# nav.navItem }}
      <li class="nav-item {{ class }}">
        <a href="{{ url }}" class="nav-link js-scroll-trigger">{{ title }}</a>
      </li>
      {{/ nav.navItem }}
    </ul>
  {{# nav.inContainer}}
  </div>
  {{/ nav.inContainer}}
</nav>