<!-- Skip to main navigation -->
{{> atoms-link-skip-to-main-content }}
<!-- Begin side navigation menu -->
{{> molecules-menu-open-side }}
<!-- ********************** -->
<!-- End side navigation menu -->
<!-- *********************************************** -->
<!-- Begin main page wrapper -->

<!-- Begin main page header -->
{{> organisms-header-portal }}
<!-- End main page header -->
<!-- Begin breadcrumb -->
{{> molecules-breadcrumb }}
<!-- End breadcrumb -->
<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">
  <!-- Begin content header region-->
  {{> organisms-content-header-portal }}
  <!-- End content header region-->

  <!-- Begin before-content region-->
  <section class="region region-before {{ regionBeforeClasses }}">
    <div class="container">
      <div class="row">
        <div class="col-12">Section before content</div>
      </div>
    </div>
  </section>
  <!-- End before-content region-->

  <!-- Begin main-content region-->
  <div class="region {{ regionMainClasses }}">
    <div class="container {{ regionMainContainerClasses }}">
      <div class="row">
        {{# fullTopSection }}
        <section class="col-12">
          <p>12 columns section -- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis orci ac lorem bibendum blandit. Aenean lobortis, ex pulvinar commodo congue, orci ligula ullamcorper felis, porta pretium justo diam ut erat.</p>
        </section>
        {{/ fullTopSection }}
        {{# sidebarLeft }}
          {{> organisms-sidebar-left }}
        {{/ sidebarLeft }}
        <article class="col-12 {{ regionMainContentClasses }}">
          {{> atoms-paragraph }}
        </article>
        {{# sidebarRight }}
          {{> organisms-sidebar-right }}
        {{/ sidebarRight }}
        {{# fullBottomSection }}
        <section class="col-12">
          <p>12 columns section -- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis orci ac lorem bibendum blandit. Aenean lobortis, ex pulvinar commodo congue, orci ligula ullamcorper felis, porta pretium justo diam ut erat.</p>
        </section>
        {{/ fullBottomSection }}
      </div>
    </div>
  </div>

  <!-- Begin after-content region-->
  <section class="region region-after {{ regionAfterClasses }}">
    <div class="container">
      <div class="row">
        <div class="col-12">Region after content</div>
      </div>
    </div>
  </section>
  <!-- End after-content region-->

</main>
<!-- End main-content region-->

<!-- Begin footer -->
{{> organisms-footer-portal }}
<!-- End footer -->
<!-- *********************************************** -->