{{> atoms-link-skip-to-main-content }}

{{> organisms-header-portal }}

<div class="site-content">
  <main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

    {{> organisms-content-header }}

    <div class="region-content {{ regionMainClasses }}">
      <div class="container {{ regionMainContainerClasses }}">
        <div class="row">
          <article class="col-12 {{ regionMainContentClasses }}">

          </article>
        </div>
      </div>
    </div>
  </main>
</div>
{{> organisms-footer-portal }}
