<div class="flyout-body-breadcrumb-tags d-flex flex-wrap mb-3">
  <div class="d-flex align-items-center mb-1">
    <a href="#" class="badge">Réponse 1</a>
    <span class="icon icon-xs icon-chevron-right icon-color-neutral-secondary" aria-hidden="true"></span>
  </div>
  <div class="d-flex align-items-center mb-1">
    <a href="#" class="badge">Réponse 2</a>
    <span class="icon icon-xs icon-chevron-right icon-color-neutral-secondary" aria-hidden="true"></span>
  </div>
  <div class="d-flex align-items-center mb-1">
    <a href="#" class="badge">Réponse 3</a>
    <span class="icon icon-xs icon-chevron-right icon-color-neutral-secondary" aria-hidden="true"></span>
  </div>
  <div class="d-flex align-items-center mb-1">
    <a href="#" class="badge">Réponse 4</a>
  </div>
</div>
<div class="flyout-body-question text-neutral-primary">
  <p>Invidunt eirmod dolor magna eirmod gubergren, et sed sed diam vero erat ?</p>
</div>
<div class="flyout-body-buttons">
  <button type="button" class="btn btn-secondary btn-squared btn-block">Choix 1</button>
  <button type="button" class="btn btn-secondary btn-squared btn-block">Choix 2</button>
  <button type="button" class="btn btn-secondary btn-squared btn-block">Choix 3</button>
</div>
<div class="flyout-body-pdf mt-6 mb-2">
  {{> styles-link-list-element("has-icon": true,"linkSize": "link-sm", "icon-right": false, "link-label": "Titre du pdf original", icon: "icon-file-pdf")}}
</div>