<nav class="breadcrumb-container" role="navigation" aria-label="Fil d'ariane">
  <ol class="breadcrumb">
    {{# breadcrumbs }}
    <li class="breadcrumb-item"><a href="{{ url }}">{{ text }}</a></li>
    {{/ breadcrumbs }}
  </ol>
</nav>
