{{^listUL}}<div class="list{{#listClass}} {{listClass}}{{/listClass}}">{{/ listUL}}
{{#listUL}}<ul class="list{{#listClass}} {{listClass}}{{/listClass}}">{{/ listUL}}
	{{# list }}
  {{> components-liste-contenu-element}}
  {{/ list }}
{{#listUL}}</ul>{{/ listUL}}{{^listUL}}</div>{{/ listUL}}
