{{# accordionFramed}}
<h4 class="pl-pattern-subtitle">Accordion Framed</h4>
{{> components-accordeon}}
{{/ accordionFramed}}

{{# accordionListedLg}}
<h4 class="pl-pattern-subtitle">Accordion Listed (Large)</h4>
{{> components-accordeon}}
{{/ accordionListedLg}}

{{# accordionListed}}
<h4 class="pl-pattern-subtitle">Accordion Listed</h4>
{{> components-accordeon}}
{{/ accordionListed}}

{{# accordionListedSm}}
<h4 class="pl-pattern-subtitle">Accordion Listed (Small)</h4>
{{> components-accordeon}}
{{/ accordionListedSm}}