{{# accordionFramed}}
<h4 class="pl-pattern-subtitle">Accordion Framed</h4>
<div class="mb-4">
  {{> components-accordeon}}
</div>
{{/ accordionFramed}}

{{# accordionListedLg}}
<h4 class="pl-pattern-subtitle">Accordion Listed (Large)</h4>
<div class="mb-4">
  {{> components-accordeon}}
</div>
{{/ accordionListedLg}}

{{# accordionListed}}
<h4 class="pl-pattern-subtitle">Accordion Listed</h4>
<div class="mb-4">
  {{> components-accordeon}}
</div>
{{/ accordionListed}}

{{# accordionListedSm}}
<h4 class="pl-pattern-subtitle">Accordion Listed (Small)</h4>
{{> components-accordeon}}
{{/ accordionListedSm}}