{{# generalites}}
  {{{ content }}}
  {{{ extra-content }}}
{{/ generalites}}

{{# procedures-acs-arron}}
  {{{ extra-content }}}
{{/ procedures-acs-arron}}

{{# procedures-acs-cs311}}
  {{{ extra-content }}}
{{/ procedures-acs-cs311}}

{{# procedures-acs-irp}}
  {{{ extra-content }}}
{{/ procedures-acs-irp}}

{{# gdc}}
  {{{ extra-content }}}
{{/ gdc}}

{{# personne-ressource}}
  {{# list-icon}}
  <div class="mb-2">
    {{> components-list-item}}
  </div>
  {{/ list-icon}}
  {{{ extra-content }}}
{{/ personne-ressource}}

{{# agent-liaison}}
  {{# list-icon}}
  <div class="mb-2">
    {{> components-list-item}}
  </div>
  {{/ list-icon}}
  {{{ extra-content }}}
{{/ agent-liaison}}

{{# responsable-maj}}
  {{# list-icon}}
  <div class="mb-2">
    {{> components-list-item}}
  </div>
  {{/ list-icon}}
  {{{ extra-content }}}
{{/ responsable-maj}}