{{> styles-skip-links-section }}

<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">

  <div class="container pt-4 pt-lg-8">
    <div class="row{{^ sidebarRight }} justify-content-center{{/ sidebarRight}}">
      <div class="col-12{{^ sidebarRight }} col-lg-7{{/ sidebarRight}}">
        {{> components-breadcrumbs}}
      </div>
    </div>
  </div>

  <div class="region-content pt-0">

    <div class="container">

      <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
          <header class="content-header">
            {{# module-state }}
            <div class="mb-2">
              {{> components-badge }}
            </div>
            {{/ module-state }}

            <h1>{{ heading }}</h1>

            {{> patterns-content-header-extras}}

          </header>
          
          <div class="lead">
            {{{ lead }}}
          </div>
          
          <div class="content-modules">
            {{# module-message }}
            <div class="content-module-stacked">
              {{> components-alert}}
            </div>
            {{/ module-message }}

            {{# module-text}}
            <h2>Présentation</h2>
            <div class="content-module-stacked">
              <p>Corps de texte - <i>Italique</i> et <strong>gras</strong>, exposant, indice et caractères spéciaux adipiscing elit. Morbi condimentum sollicitudin erat, quis <a href="#">lien interne</a> ou <a href="https://google.com">lien externe</a> convallis risus. Nullam  posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
              <ul>
                <li>Liste à puce</li>
                <li>Liste à puce</li>
                <li>Liste à puce</li>
                <li>Liste à puce</li>
              </ul>
              <ol>
                <li>Liste numérotée</li>
                <li>Liste numérotée</li>
                <li>Liste numérotée</li>
              </ol>
            </div>
            {{/ module-text}}
      
            {{# module-cta }}
            <div class="content-module-stacked">
              {{> components-button}}
            </div>
            {{/ module-cta}}

            {{# module-list-reference}}
            <div class="content-module-stacked">
              {{> components-list-item-link}}
            </div>
            {{/ module-list-reference}}

          </div>

          {{# module-clienteles}}
          <div class="content-modules">
            <div class="mb-8">
              {{> patterns-sommaire-navigation}}
            </div>
            {{# clienteles}}
            <div class="border-bottom pb-4 mb-8" id="{{ ID }}">
              <h2>{{ title }}</h2>
              {{# module-text}}
              <div class="content-module-stacked">
                {{{ module-text }}}
              </div>
              {{/ module-text}}
              {{# module-list-reference}}
              <div class="content-module-stacked">
                {{> components-list-item-link}}
              </div>
              {{/ module-list-reference}}
            </div>
            {{/ clienteles}}

          </div>
          {{/ module-clienteles}}

        </div>

      </section>

      <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
        {{> components-feedback-form}}
        </div>
      </section>

    </div>
  </div>
</main>

{{> patterns-footer-main }}
