<div class="pl-flex-wrap-container">
{{# mediaAvatar}}{{> components-media-avatar}}{{/ mediaAvatar}}
</div>
<div class="pl-flex-wrap-container">
{{# mediaAvatarProfile}}{{> components-media-avatar}}{{/ mediaAvatarProfile}}
</div>
