{{# media.copyright}}
<div class="img-container">
{{/ media.copyright}}
  <img src="{{ media.src }}" class="img-fluid {{ imgClass }}" alt="{{ media.alt }}">
{{# media.copyright }}
  <div class="badge-copyright">
  {{> components-etiquette}}
  </div>
</div>
{{/ media.copyright }}
