<div class="media-avatar{{# user.class}} {{user.class}}{{/ user.class}}" aria-hidden="true">
  {{# user.firstLetter}}<span class="user-first-letter">{{user.firstLetter}}</span>{{/ user.firstLetter}}
  {{# user.media}}<img src="{{ user.media.src }}" class="img-fluid {{ user.media.imgClass }}" alt="{{ user.media.alt }}" width="24" height="24">{{/ user.media}}
</div>
