<div class="pl-swatches-flex">
  <div class="pl-swatches-wrapper">

    <h4 class="pl-pattern-subtitle">Actions</h4> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
     <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-action"></span></div>
        <div class="pl-swatch-item" data-header="Color">Action default</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$primary, <br/>$action</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#097d6c</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-action-lighter"></span></div>
        <div class="pl-swatch-item" data-header="Color">Action lighter</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$primary-lighter,<br/>$action-lighter</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0cb097</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Brand</h4>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-brand"></span></div>
        <div class="pl-swatch-item" data-header="Color">Rouge Montréal</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$brand, <br/>$primary-red</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#e00000</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Neutral</h4>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-primary"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral primary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-900, <br/>$gray-800</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#212529</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-primary-reverse"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral primary reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$white</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ffffff</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-secondary"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral secondary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-secondary</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#637381</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-tertiary"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral tertiary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-500,<br/>$gray-600,<br/>$gray-700</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#adb5bd</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-stroke"></span></div>
        <div class="pl-swatch-item" data-header="Color">Neutral stroke</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-400</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ced4da</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Alerts</h4> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Informative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$informative-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0296C0</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Positive</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$positive-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#28a745</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Warning</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$warning-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ffc107</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Negative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$negative-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ff3200</div>
      </div>
    </div>

  
  </div>
</div>
