<div class="pl-swatches-flex">
  <div class="pl-swatches-wrapper">

    <h4 class="pl-pattern-subtitle">Neutral</h4>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-underground-1"></span></div>
        <div class="pl-swatch-item" data-header="Color">Underground 1</div>
        <div class="pl-swatch-item" data-header="Variable">
          <div class="select-all">$gray-100</div>
          <div class="select-all">$neutral-underground-1</div>
        </div>
        <div class="pl-swatch-item select-all" data-header="Hex">#f8f9fa</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-underground-2"></span></div>
        <div class="pl-swatch-item" data-header="Color">Underground 2</div>
        <div class="pl-swatch-item" data-header="Variable">
          <div class="select-all">$gray-300</div>
          <div class="select-all">$neutral-underground-2</div>
        </div>
        <div class="pl-swatch-item select-all" data-header="Hex">#dee2e6</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Highlight</h4> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
     <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-highlight-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Highlight light</div>
        <div class="pl-swatch-item" data-header="Variable">
          <div class="select-all">$highlight-light</div>
        </div>
        <div class="pl-swatch-item select-all" data-header="Hex">#eefaf8</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-highlight-strong"></span></div>
        <div class="pl-swatch-item" data-header="Color">Highlight strong</div>
        <div class="pl-swatch-item" data-header="Variable">
          <div class="select-all">$highlight-strong</div>
        </div>
        <div class="pl-swatch-item select-all" data-header="Hex">#d0f3ee</div>
      </div>
    </div>

  <h4 class="pl-pattern-subtitle">Alerts</h4> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
       <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative"></span></div>
        <div class="pl-swatch-item" data-header="Color">Informative Reverse</div>
        <div class="pl-swatch-item" data-header="Variable">
          <div class="select-all">$info </div>
          <div class="select-all">$blue </div>
          <div class="select-all">$informative</div>
        </div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0296C0</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive"></span></div>
        <div class="pl-swatch-item" data-header="Color">Positive reverse</div>
        <div class="pl-swatch-item" data-header="Variable">
          <div class="select-all">$green </div>
          <div class="select-all">$success </div>
          <div class="select-all">$positive</div>
        </div>
        <div class="pl-swatch-item select-all" data-header="Hex">#28a745</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning"></span></div>
        <div class="pl-swatch-item" data-header="Color">Warning reverse</div>
        <div class="pl-swatch-item" data-header="Variable">
          <div class="select-all">$yellow </div>
          <div class="select-all">$warning</div>
        </div>
        <div class="pl-swatch-item select-all" data-header="Hex">#fecc03</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative"></span></div>
        <div class="pl-swatch-item" data-header="Color">Negative reverse</div>
        <div class="pl-swatch-item" data-header="Variable">
          <div class="select-all">$danger </div>
          <div class="select-all">$red </div>
          <div class="select-all">$negative</div>
        </div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ff3200</div>
      </div>
    </div>

  </div>
</div>
