<div class="pl-swatches-flex">
  <div class="pl-swatches-wrapper">

    <h4 class="pl-pattern-subtitle">Neutral</h4>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-underground-1"></span></div>
        <div class="pl-swatch-item" data-header="Color">Underground 1</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-underground-1,<br/>$gray-100</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#f8f9fa</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-underground-2"></span></div>
        <div class="pl-swatch-item" data-header="Color">Underground 2</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-underground-2, <br/>$gray-300</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#dee2e6</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Highligth</h4> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
     <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-highlight-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Highlight light</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$highlight-light, <br/>$gray-200</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#eefaf8</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-highlight-strong"></span></div>
        <div class="pl-swatch-item" data-header="Color">Highlight strong</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$highlight-strong</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#d0f3ee</div>
      </div>
    </div>

  <h4 class="pl-pattern-subtitle">Alerts</h4> 
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Informative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$informative-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0296C0</div>
      </div>
       <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative"></span></div>
        <div class="pl-swatch-item" data-header="Color">Informative Reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$info, <br/>$blue, <br/>$informative</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0296C0</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Positive</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$positive-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#28a745</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive"></span></div>
        <div class="pl-swatch-item" data-header="Color">Positive reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$green, <br/>$success, <br/>$positive</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#28a745</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Warning</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$warning-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#fefae6</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning"></span></div>
        <div class="pl-swatch-item" data-header="Color">Warning reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$yellow, <br/>$warning</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#fecc03</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Negative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$negative-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ffebe6</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative"></span></div>
        <div class="pl-swatch-item" data-header="Color">Negative reverse</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$danger, <br/>$red, <br/>$negative</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ff3200</div>
      </div>
    </div>

  </div>
</div>
