<div class="container-fluid">
	<ul class="row list-unstyled">
    <li class="col-sm-12 col-md-3">
    	<h4 class="pl-pattern-subtitle">Text</h4>
		<p class="text-primary">.text-primary</p>
		<p class="text-primary-lighter">.text-primary-lighter</p>
		<p class="text-success">.text-success</p>
		<p class="text-danger">.text-danger</p>
		<p class="text-warning">.text-warning</p>
		<p class="text-info">.text-info</p>
		<p>
			<span class="text-white bg-dark">.text-white</span>		
			<span class="text-light bg-dark">.text-light</span>	
		</p>	
		<p>
			<span class="text-neutral-primary">.text-neutral-primary,</span>
			<span class="text-dark">.text-dark,</span>
			<span class="text-gray-900">.text-gray-900</span>	
		</p>
		<p>
			<span class="text-body">.text-body,<br/></span>
			<span class="text-neutral-secondary">.text-neutral-secondary,</span>
			<span class="text-gray-700">.text-gray-700</span>
		</p>
		<p>
			<span class="text-muted">.text-muted,<br/></span>
			<span class="text-neutral-tertiary">.text-neutral-tertiary,</span>
			<span class="text-gray-500">.text-gray-500</span>
		</p>
		<p class="text-gray-400">.text-gray-400</p>
		<p class="text-gray-300">.text-gray-300</p>
		<p class="text-gray-100 bg-dark">.text-gray-100</p>
		<p class="text-danger"> dabdsdasb sds dsds <a href="#">Info link</a> dhdggs</p>
	</li>

	<li class="col-sm-12 col-md-3">
    	<h4 class="pl-pattern-subtitle">Link</h4> 
		<p><a href="#" class="text-primary">Primary link</a></p>
		<p><a href="#" class="text-success">Success link</a></p>
		<p><a href="#" class="text-danger">Danger link</a></p>
		<p><a href="#" class="text-warning">Warning link</a></p>
		<p></p>
		<p><a href="#" class="text-white bg-dark">White link</a></p>
		<p><a href="#" class="text-muted">Muted link</a></p>
	</li>
	<li class="col-sm-12 col-md-6">
		<h4 class="pl-pattern-subtitle">Background</h4> 
		<div class="row">
			<div class="col-6 p-3 mb-2 bg-primary text-dark">.bg-primary</div>
		</div>
		<div class="row">
			<div class="col-6 p-3 mb-2 bg-success text-dark">.bg-success</div>
			<div class="col-6 p-3 mb-2 bg-danger text-dark">.bg-danger</div>
		</div>
		<div class="row">
			<div class="col-6 p-3 mb-2 bg-warning text-dark">.bg-warning</div>
			<div class="col-6 p-3 mb-2 bg-info text-dark">.bg-info</div>
		</div>
		<div class="row">
			<div class="col-6 p-3 mb-2 bg-white text-dark">.bg-white</div>
			<div class="col-6 p-3 mb-2 bg-transparent text-dark">.bg-transparent</div> 
		</div>
	</li>
</ul>
</div>





