<div class="container-fluid">
	<h4 class="pl-pattern-subtitle">Background</h4> 
	<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
			<div class="pl-p-3 pl-mb-2 bg-light">
				<span class="select-all">.bg-light</span>
			</div>
      <div class="pl-p-3 pl-mb-2 bg-neutral-underground-2 text-dark">
				<span class="select-all">.bg-neutral-underground-2</span>
			</div>
      <div class="pl-p-3 pl-mb-2 bg-dark text-white">
        <span class="select-all">.bg-dark</span>
      </div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="pl-p-3 pl-mb-2 bg-success text-dark">
        <span class="select-all">.bg-success</span>
      </div>
			<div class="pl-p-3 pl-mb-2 bg-danger text-dark">
        <span class="select-all">.bg-danger</span>
      </div>
      <div class="pl-p-3 pl-mb-2 bg-warning text-dark">
        <span class="select-all">.bg-warning</span>
      </div>
			<div class="pl-p-3 pl-mb-2 bg-info text-dark">
        <span class="select-all">.bg-info</span>
      </div>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="pl-p-3 pl-mb-2 bg-success-reversed text-white">
        <span class="select-all">.bg-success-reversed</span>
      </div>
			<div class="pl-p-3 pl-mb-2 bg-danger-reversed text-white">
        <span class="select-all">.bg-danger-reversed</span>
      </div>
      <div class="pl-p-3 pl-mb-2 bg-warning-reversed text-dark">
        <span class="select-all">.bg-warning-reversed</span>
      </div>
			<div class="pl-p-3 pl-mb-2 bg-info-reversed text-white">
        <span class="select-all">.bg-info-reversed</span>
      </div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="pl-p-3 pl-mb-2 bg-white text-dark">
        <span class="select-all">.bg-white</span>
      </div>
			<div class="pl-p-3 pl-mb-2 bg-transparent text-dark">
        <span class="select-all">.bg-transparent</span>
      </div> 
			<div class="pl-p-3 pl-mb-2 bg-highlight-light">
        <span class="select-all">.bg-highlight-light</span>
      </div>
      <div class="pl-p-3 pl-mb-2 bg-highlight-strong text-dark">
        <span class="select-all">.bg-highlight-strong</span>
      </div>
		</div>
	</div>
</div>
