<div class="container-fluid">
	<h4 class="pl-pattern-subtitle">Background</h4> 
	<ul class="row list-unstyled">
		<li class="col-xs-12 col-sm-6 col-md-3">
			<div class="p-3 mb-2 bg-success text-dark">.bg-success</div>
			<div class="p-3 mb-2 bg-danger text-dark">.bg-danger</div>
		</li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
			<div class="p-3 mb-2 bg-info text-dark">.bg-info</div>
		</li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<div class="p-1 mb-1 bg-white text-dark">.bg-white</div>
			<div class="p-1 mb-1 bg-transparent text-dark">.bg-transparent</div> 
			<div class="p-2 mb-1 bg-highlight-light">.bg-highlight-light</div>
		</li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<div class="p-4 mb-0 bg-gray-100">.bg-light,<br/> .bg-gray-100, <br/>.bg-neutral-underground-1</div> 
		</li>
	</ul>
</div>





