{{> styles-skip-links-section }}

<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">

  {{# documentHeading}}
  {{> patterns-content-header}}
  {{/ documentHeading}}

  {{# navFilters }}
  <div id="nav-filters" class="section-filters border-bottom py-2">
    <div class="container">
      <div class="d-none d-lg-block">
        <ul class="nav nav-filters">
          {{# filters}}
          <li class="nav-item {{ dropdownClass }}">
            {{> components-chip }}
          </li>
          {{/ filters }}
          {{# moreFilters }}
          <li class="nav-item nav-item-btn">
            {{> components-chip }}
          </li>
          {{/ moreFilters }}
        </ul>
      </div>
      <!-- Modal More Filters -->
      {{# moreFilters}}
      <div class="modal modal-filters" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="moreFiltersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="moreFiltersModalLabel">Filtres</h5>
              <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                {{> styles-icon-item("icon-name": "icon-x")}}
              </button>
            </div>
            <div class="modal-body">
              <form>
                {{# filters}}
                <div class="modal-filters-content">
                  <div class="modal-filters-title">{{ title }}</div>
                  <div class="form-group">
                    {{# radios}}
                    <div class="custom-control custom-radio {{ class }} ">
                      <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                      <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                    </div>
                    {{/ radios}}
                    {{# checkboxes}}
                    <div class="custom-control custom-checkbox {{ class }}">
                      <input type="checkbox" class="custom-control-input" id="{{ id }}" value="{{ id }}" {{ state }}>
                      <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                    </div>
                    {{/ checkboxes}}
                  </div>
                </div>
                {{/filters}}
              </form>
            </div>
            <div class="modal-footer">
              <div class="ml-auto">
                <button type="button" class="btn btn-primary btn-sm">Appliquer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/ moreFilters}}
      <!-- END - Modal More Filters -->
      {{# mobileFilters }}
      <div class="d-lg-none">  
        {{> components-chip }}
      </div>
      <!-- Modal Mobile Filters -->
      <div class="modal modal-filters fade" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="mobileFiltersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="mobileFiltersModalLabel">Filtres</h5>
              <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                {{> styles-icon-item("icon-name": "icon-x")}}
              </button>
            </div>
            <div class="modal-body">
              <div id="accordion" class="accordeon-listed mb-2" role="tablist" aria-multiselectable="true">
                {{# filters }}
                <div class="collapsible-item">
                  <div class="collapsible-header" role="tab" id="{{ heading-id }}">
                    <div class="collapsible-title">
                      <a data-toggle="collapse" href="#" data-target="#{{ block-id }}" aria-expanded="false" aria-controls="{{ block-id }}">
                        <span>{{ chipLabel }}</span>
                      </a>
                    </div>
                  </div>
                  <div id="{{ block-id }}" class="collapse" role="tabpanel" aria-labelledby="{{ heading-id }}">
                    {{# dropdownMenu.dropdownFilters}}
                    <div class="collapsible-block">
                      <div class="form-group">
                        {{# radios}}
                        <div class="custom-control custom-radio {{ class }} ">
                          <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                          <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                        </div>
                        {{/ radios}}
                        {{# checkboxes}}
                        <div class="custom-control custom-checkbox {{ class }}">
                          <input type="checkbox" class="custom-control-input" id="{{ id }}" value="{{ id }}" {{ state }}>
                          <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                        </div>
                        {{/ checkboxes}}
                      </div>
                    </div>
                    {{/ dropdownMenu.dropdownFilters}}
                  </div>
                </div>
                {{/ filters }}
                {{# moreFilters.filters}}
                <div class="collapsible-item">
                  <div class="collapsible-header" role="tab" id="{{ heading-id }}">
                    <div class="collapsible-title">
                      <a data-toggle="collapse" href="#" data-target="#{{ block-id }}" aria-expanded="false" aria-controls="{{ block-id }}">
                        <span>{{ title }}</span>
                      </a>
                    </div>
                  </div>
                  <div id="{{ block-id }}" class="collapse" role="tabpanel" aria-labelledby="{{ heading-id }}">
                    <div class="collapsible-block">
                      <div class="form-group">
                        {{# radios}}
                        <div class="custom-control custom-radio {{ class }} ">
                          <input type="radio" id="{{ idMobile }}" name="{{ name }}" class="custom-control-input" value="{{ idMobile }}" {{ state }}>
                          <label class="custom-control-label" for="{{ idMobile }}">{{{ label }}}</label>
                        </div>
                        {{/ radios}}
                        {{# checkboxes}}
                        <div class="custom-control custom-checkbox {{ class }}">
                          <input type="checkbox" class="custom-control-input" id="{{ idMobile }}" value="{{ idMobile }}" {{ state }}>
                          <label class="custom-control-label" for="{{ idMobile }}">{{{ label }}}</label>
                        </div>
                        {{/ checkboxes}}
                      </div>
                    </div>
                  </div>
                </div>
                {{/ moreFilters.filters}}
              </div>

              {{# filtersApplied }}
              <div class="row mb-2">
                <div class="col-12 filters-applied px-4" aria-label="Filtres sélectionnés">
                  <div class="badge-group">
                    {{# badges}}
                    {{> components-badge}}
                    {{/ badges}}
                  </div>
                </div>
              </div>
              {{/ filtersApplied }}

            </div>
            <div class="modal-footer">
              <div class="ml-auto">
                <button type="button" class="btn btn-link btn-squared">Tout effacer</button>
              </div>
              <div>
                <button type="button" class="btn btn-primary btn-squared">Appliquer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Mobile Filters -->
      {{/ mobileFilters }}


    </div>
  </div>
  {{/ navFilters }}

  <div class="region-content pt-2 pb-8">
    {{# filtersApplied }}
    <div class="container d-none d-lg-block">
      <div class="row mb-2">
        <div class="col-12 filters-applied" aria-label="Filtres sélectionnés">
          <div class="badge-group">
            {{# badges}}
            {{> components-badge}}
            {{/ badges}}
            {{> components-button(buttonClass: "btn-link btn-sm btn-squared", buttonText: "Tout effacer")}}
          </div>
        </div>
      </div>
    </div>
    {{/ filtersApplied }}

    <div class="container mt-2">

      {{# hasEmptyState}}
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="empty-state pt-4 mb-8 text-center">
            <div class="d-flex justify-content-center mb-2">
              <span class="icon icon-search" aria-hidden="true"></span>
            </div>
            <div class="font-size-lg text-dark">
              <p class="mb-0">Votre recherche ne donne aucun résultat. Essayez d'autres mots ou désactivez des filtres.</p>
            </div>
          </div>
        </div>
      </div>
      {{/ hasEmptyState}}
      {{^ hasEmptyState}}
      {{# results }}
      {{# headings }}
      <div class="row align-items-center">
        <div class="col-auto">
          <h2 class="list-group-heading mb-0">{{ headings.text }}</h2>
        </div>
        {{# navSorts }}
        <div class="col-auto ml-auto">
          <div class="d-flex justify-content-end">
            <div class="nav nav-sorts">
              <div class="nav-item dropdown">
                <button class="btn btn-link btn-squared dropdown-toggle" type="button" id="sortFilters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</button>
                <div class="dropdown-menu dropdown-menu-form-group dropdown-menu-sm dropdown-menu-right" aria-labelledby="sortFilters">
                  <form>
                    <div class="form-group mb-0">
                    {{# dropdownItem }}
                      <div class="dropdown-item">
                        <div class="custom-control custom-control custom-radio {{ class }} ">
                          <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                          <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                        </div>
                      </div>
                    {{/ dropdownItem }}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/ navSorts }}
      </div>
      {{/ headings }}
      
      {{# listing}}
      <div class="row pt-2 mb-8">
        <div class="col-12">
          {{> components-list-group-content }}
        </div>
      </div>
      {{/ listing}}
      
      {{# hasPagination }}
      <div class="pagination-wrapper">
        {{> components-pagination }}
      </div>
      {{/ hasPagination }}
      
      {{/ results}}

      {{/ hasEmptyState }}

      {{# hasLeadSection}}
      <div class="row mb-8 justify-content-between">
        <div class="col-12 col-lg-7 d-flex align-items-center mb-4 mb-lg-0">
          <div class="lead mb-0">
            {{{ lead }}}
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center">
          {{> patterns-wrapper-featured-cta}}
        </div>
      </div>
      {{/ hasLeadSection}}

    </div>
  </div>

</main>

{{> patterns-footer-main }}

