{{> styles-skip-links-section }}

<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">

  {{# messageBar}}
  {{> components-message-bar}}
  {{/ messageBar}}

  {{# documentHeading}}
  {{> patterns-content-header}}
  {{/ documentHeading}}

  {{# navFilters }}
  {{> components-nav-filters}}
  {{/ navFilters }}

  <div class="region-content pt-2 pb-8">
    {{# filtersApplied }}
    <div class="container d-none d-lg-block">
      <div class="row mb-2">
        <div class="col-12 filters-applied" aria-label="Filtres sélectionnés">
          <div class="chip-group">
            {{# filtersGroup}}
            {{> components-chip}}
            {{/ filtersGroup}}
            {{> components-button(buttonClass: "btn-link btn-sm btn-squared", buttonText: "Tout effacer")}}
          </div>
        </div>
      </div>
    </div>
    {{/ filtersApplied }}

    <div class="container mt-2">

      {{# hasEmptyState}}
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="empty-state pt-4 mb-8 text-center">
            <div class="d-flex justify-content-center mb-2">
              <span class="icon icon-search" aria-hidden="true"></span>
            </div>
            <div class="font-size-lg text-dark">
              <p class="mb-0">Votre recherche ne donne aucun résultat. Essayez d'autres mots ou désactivez des filtres.</p>
            </div>
          </div>
        </div>
      </div>
      {{/ hasEmptyState}}
      {{^ hasEmptyState}}
      {{# results }}
      {{# headings }}
      <div class="row align-items-center">
        <div class="col-auto">
          <h2 class="list-group-heading mb-0">{{ headings.text }}</h2>
        </div>
        {{# navSorts }}
        <div class="col-auto ml-auto">
          <div class="d-flex justify-content-end">
            <div class="nav nav-sorts">
              <div class="nav-item dropdown">
                <button class="btn btn-link btn-squared dropdown-toggle" type="button" id="sortFilters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</button>
                <div class="dropdown-menu dropdown-menu-form-group dropdown-menu-sm dropdown-menu-right" aria-labelledby="sortFilters">
                  <form>
                    <div class="form-group mb-0">
                    {{# dropdownItem }}
                      <div class="dropdown-item">
                        <div class="custom-control custom-control custom-radio {{ class }} ">
                          <input type="radio" id="{{ id }}" name="{{ name }}" class="custom-control-input" value="{{ id }}" {{ state }}>
                          <label class="custom-control-label" for="{{ id }}">{{{ label }}}</label>
                        </div>
                      </div>
                    {{/ dropdownItem }}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/ navSorts }}
      </div>
      {{/ headings }}

      {{# listing}}
      <div class="row pt-2 mb-8">
        <div class="col-12">
          {{> components-liste-objets-editoriaux }}
        </div>
      </div>
      {{/ listing}}

      {{# hasPagination }}
      <div class="pagination-wrapper">
        {{> components-pagination }}
      </div>
      {{/ hasPagination }}

      {{/ results}}

      {{/ hasEmptyState }}

      {{# hasLeadSection}}
      <div class="row mb-8 justify-content-between">
        <div class="col-12 col-lg-7 d-flex align-items-center mb-4 mb-lg-0">
          <div class="lead mb-0">
            {{{ lead }}}
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center">
          {{> patterns-wrapper-featured-cta}}
        </div>
      </div>
      {{/ hasLeadSection}}

    </div>
  </div>

</main>

{{> patterns-footer-main }}

