{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 text-center">
          <h1>Bienvenue!</h1>
          <div class="lead">
            <p>Notre nouveau site prend forme.</p>
            <p>Vous y trouverez de l’information pratique sur certains sujets et de nouveaux services personnalisés qui seront bonifiés régulièrement.</p>
            <p>Dites-nous ce que vous en pensez!</p>
            <a href="#services" data-smooth-scrolling="true" class="link-scrollto">Découvrez-le<span class="vfi vfi-chevron-bas" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <img src="https://res.cloudinary.com/villemontreal/image/upload/v1/portail/lqh3zdw8tzd8zj8jtxmy.jpg" alt="Pause Bixi au bord du canal Lachine" title="" class="img-fluid">

  {{# featuredSection }}
  <section class="page-section bg-gray-sky">
    {{# featuredSection.cards }}
      {{> molecules-card }}
    {{/ featuredSection.cards }}
  </section>
  {{/ featuredSection }}

  {{# nouvellesListes }}
  <section class="page-section {{ regionMainClasses }}">
    <div class="container {{ regionMainContainerClasses }}">
      <div class="row">
        {{# cards.headings}}
        <div class="col-12">
          <h2 class="{{ cards.headings.class }}">{{ cards.headings.text }}</h2>
        </div>
        {{/ cards.headings}}
      </div>
      <div class="row cards {{ cards.classes }}">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          {{> molecules-card-item }}
        </div>
        {{/ cards.card-item }}
      </div>
      <div class="col-12 text-center">
        <a href="#" class="vdm-btn vdm-btn-secondary">Toutes les nouvelles</a>
      </div>
    </div>
  </section>
  {{/ nouvellesListes}}

<!--
  {{# homePromo}}
  <section class="">
    <div class="home-promo">
      <div class="row no-gutters card card-fluid card-featured">
        <div class="col-xs-12 col-lg-5 card-bg-image" style="background:url(https://picsum.photos/768/480?image=1033) right center / cover no-repeat"></div>
        <div class="col-xs-12 col-lg-7">
          <div class="card-body">
            <span class="card-title">Montréal a besoin de vos lumières</span>
            <p class="card-text">Rendez-vous sur simplicite.montreal.ca et participez&nbsp;avec la Ville de Montréal au développement de ses services numériques.&nbsp;Testez, commentez, échangez.</p>
            <div class="card-footer">
              <a href="#" class="vdm-btn" title="Call to action">Call to action</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-promo">
      <div class="row no-gutters card card-fluid card-featured">
        <div class="col-xs-12 col-lg-5 card-bg-image order-lg-2">
          <img src="https://res.cloudinary.com/villemontreal/image/upload/v1/portail/eonsir6ecilo7r74sc3e.jpg" class="img-fluid" alt="Un main qui tient un téléphone intelligent" title="">
        </div>
        <div class="col-xs-12 col-lg-7 order-lg-1">
          <div class="card-body">
            <span class="card-title">Découvrez l’application Montréal - Services aux citoyens</span>
            <div class="card-text">
              <p>Recevez nos avis et alertes de sécurité par texto et courriel.</p>
              <p>Signalez-nous un problème tel un nid-de-poule ou un graffiti.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="vdm-btn" title="Call to action">Call to action</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{/ homePromo}}
  -->

</main>

{{> organisms-footer-portal }}

