{{> atoms-link-skip-to-main-content }}
{{> molecules-menu-open-side }}
{{> organisms-header-portal }}
{{> molecules-breadcrumb }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header-portal }}

  <section class="region {{ regionMainClasses }}">
    <div class="container {{ regionMainContainerClasses }}">
      <div class="row">
        <div class="col-12 {{ regionMainContentClasses }}">

          {{> molecules-search-field+dropdown }}

        </div>
      </div>
    </div>
    <section class="page-section bg-gray-sky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="date-list">
              <li>
                <h2 class="date day-month">
                  <span class="day">29</span>Mars
                </h2>
                {{# cards }}
                <div class="cards {{ cards.classes }}">
                {{# cards.card-item-block-1 }}
                  {{> molecules-card-item }}
                {{/ cards.card-item-block-1 }}
                </div>
                {{/ cards }}
              </li>
              <li>
                <h2 class="date day-month">
                  <span class="day">28</span>Mars
                </h2>
                {{# cards }}
                <div class="cards {{ cards.classes }}">
                {{# cards.card-item-block-2 }}
                  {{> molecules-card-item }}
                {{/ cards.card-item-block-2 }}
                </div>
                {{/ cards }}
              </li>
            </ul>
          
            {{# hasPagination }}
              {{> molecules-pagination("paginationClass": justify-content-center) }}
            {{/ hasPagination }}

          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{> organisms-footer-portal }}

