{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> organisms-content-header }}

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <p class="lead">Inscrivez dans ce formulaire vos commentaires, questions, requêtes ou plaintes concernant les activités et les services de la Ville et de ses arrondissements.</p>
          <div class="alert alert-warning alert-icon mb-6" role="alert">
            <span class="vdm vdm-030-attention" aria-hidden="true"></span>
            <div>Pour les urgences (police, pompiers et ambulances), composez le 911.</div>
          </div>
          <form id="form19" name="form19" class="wufoo" accept-charset="UTF-8" method="POST" action="https://vdmtl.wufoo.eu/forms/z1vh95sz0g1mp6f/#public" novalidate="novalidate">
            <p>Les champs marqués d'un (<span class="text-danger">*</span>) sont obligatoires</p>
            <div class="row">
              <div class="col-12 col-md">
                <div id="foli3" class="form-group required">
                  <label id="title3" for="Field3">Prénom</label>
                  <input type="text" id="Field3" name="Field3" class="form-control" maxlength="255" aria-required="true" required>
                  <div class="invalid-feedback">Entrez votre prénom</div>
                </div>
              </div>
              <div class="col-12 col-md">
                <div id="foli4" class="form-group required">
                  <label id="title4" for="Field4">Nom</label>
                  <input type="text" id="Field4" name="Field4" class="form-control" maxlength="255" aria-required="true" required>
                  <div class="invalid-feedback">Entrez votre nom</div>
                </div>
              </div>
            </div>
            <div id="foli5" class="form-group required">
              <label id="title5" for="Field5">Courriel</label>
              <input type="email" id="Field5" name="Field5" class="form-control" aria-required="true" placeholder="xyz@exemple.com" required>
              <div class="invalid-feedback">Saisissez votre adresse courriel</div>
              <small id="textRequiredHelpBlock" class="form-text text-muted">Pour obtenir un suivi, veuillez vous assurer de l'exactitude de votre adresse courriel.</small>
            </div>
            <div id="foli8" class="form-group">
              <label id="title8" for="Field8">Votre demande concerne-t-elle un arrondissement? Si oui, lequel?</label>
              <select id="Field8" name="Field8" class="form-control">
                <option selected=""></option>
                <option value="Ahuntsic-Cartierville">Ahuntsic-Cartierville</option>
                <option value="Anjou">Anjou</option>
                <option value="Côte-des-Neiges–Notre-Dame-de-Grâce">Côte-des-Neiges–Notre-Dame-de-Grâce</option>
                <option value="L'Île-Bizard–Sainte-Geneviève">L'Île-Bizard–Sainte-Geneviève</option>
                <option value="Lachine">Lachine</option>
                <option value="LaSalle">LaSalle</option>
                <option value="Le Plateau-Mont-Royal">Le Plateau-Mont-Royal</option>
                <option value="Le Sud-Ouest">Le Sud-Ouest</option>
                <option value="Mercier–Hochelaga-Maisonneuve">Mercier–Hochelaga-Maisonneuve</option>
                <option value="Montréal-Nord">Montréal-Nord</option>
                <option value="Outremont">Outremont</option>
                <option value="Pierrefonds-Roxboro">Pierrefonds-Roxboro</option>
                <option value="Rivière-des-Prairies–Pointe-aux-Trembles">Rivière-des-Prairies–Pointe-aux-Trembles</option>
                <option value="Rosemont–La Petite-Patrie">Rosemont–La Petite-Patrie</option>
                <option value="Saint-Laurent">Saint-Laurent</option>
                <option value="Saint-Léonard">Saint-Léonard</option>
                <option value="Verdun">Verdun</option>
                <option value="Ville-Marie">Ville-Marie</option>
                <option value="Villeray–Saint-Michel–Parc-Extension">Villeray–Saint-Michel–Parc-Extension</option>
              </select>
            </div>
            <div id="foli6" class="form-group">
              <label id="title6" for="Fiedl6">Objet</label>
              <input type="text" id="Field6" name="Field6" class="form-control" maxlength="255">
            </div>
            <div id="foli7" class="form-group required">
              <label id="title7" for="Field7">Message</label>
              <textarea id="Field7" name="Field7" class="form-control" aria-required="true" rows="7" required></textarea>
              <div class="invalid-feedback">Écrivez votre message</div>
            </div>
            <div id="foli9" class="notranslate d-none">
              <label id="title9">Language
                <div>
                  <input type="hidden" id="Field9" name="Field9" value="fr">
                </div>
              </label>
            </div>
            <button id="saveForm" name="saveForm" class="btn btn-primary" type="submit" disabled="">Soumettre</button>
            <div class="d-none">
              <label>Do Not Fill This Out
                <textarea name="comment" id="comment"></textarea>
                <input type="hidden" id="idstamp" name="idstamp" value="kmBkFdCoXbsS3sKzVX5qH5ZoFajez3vM7lWfztxN5Ns=">
              </label>
            </div>
          </form>
        </div>
        {{# sidebarRight }}
        <aside class="col-12 col-lg-4 sidebar-right" role="complementary">
          {{> organisms-sidebar-block-contact-ville }}
        </aside>
        {{/ sidebarRight }}
      </div>
    </div>
  </section>

  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}
