<div class="form-group">
  <label for="text-one">Not required <span>Facultatif</span></label>
  <input type="text" class="form-control" id="text-one" placeholder="Field not required">
</div>
<div class="form-group required">
  <label for="textrequired">Required</label>
  <input type="text" class="form-control" id="textrequired" aria-describedby="textRequiredHelpBlock" required placeholder="Field required">
  <small id="textRequiredHelpBlock" class="form-text">
    Help text goes here.
  </small>
</div>
<div class="form-group">
  <label for="mail">Email address</label>
  <input type="email" class="form-control" id="mail">
</div>
<div class="form-group">
  <label for="pass">Password</label>
  <input type="password" class="form-control" id="pass">
</div>
<div class="form-group">
  <label for="textarea">Textarea</label>
  <textarea class="form-control" rows="3" id="textarea"></textarea>
</div>
<div class="form-group">
  <label for="textdisabled"> Single textfield disabled</label>
  <input type="text" class="form-control" id="textdisabled" disabled>
</div>
<fieldset disabled>
  <div class="form-group">
    <label for="textdisabled1">Textfield 1 in disabled fieldset</label>
    <input type="text" class="form-control" id="textdisabled1">
  </div>
  <div class="form-group">
    <label for="textdisabled2">Textfield 2 in disabled fieldset</label>
    <input type="text" class="form-control" id="textdisabled2">
  </div>
</fieldset>

<div class="form-group form-group-sm">
  <label for="form-control-sm-one">Small Textfield group <span>Facultatif</span></label>
  <input type="text" class="form-control" id="form-control-sm-one">
</div>

<div class="form-group">
  <label for="form-control-default-one">Default Textfield group <span>Facultatif</span></label>
  <input type="text" class="form-control" id="form-control-default-one">
</div>

<div class="form-group form-group-lg">
  <label for="text-one">Large Textfield group <span>Facultatif</span></label>
  <input type="text" class="form-control" id="form-control-lg-one">
</div>
