<h4 class="pl-pattern-subtitle">Size</h4>

<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    <div class="form-group form-group-sm">
      <label for="form-control-sm-one">Small form group <span>Facultatif</span></label>
      <input type="text" class="form-control" id="form-control-sm-one" placeholder="Placeholder for small form group">
        <small id="textRequiredHelpBlock" class="form-text">
          Help text goes here.
        </small>
    </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
      <label for="form-control-default-one">Default form group <span>Facultatif</span></label>
      <input type="text" class="form-control" id="form-control-default-one" placeholder="Placeholder for default form group">
        <small id="textRequiredHelpBlock" class="form-text">
          Help text goes here.
        </small>
    </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group form-group-lg">
      <label for="text-one">Large form group <span>Facultatif</span></label>
      <input type="text" class="form-control" id="form-control-lg-one" placeholder="Placeholder for large form group">
        <small id="textRequiredHelpBlock" class="form-text">
          Help text goes here.
        </small>
    </div>
  </li>
</ul>


<h4 class="pl-pattern-subtitle">Shapes</h4>

<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
      <label for="form-control-input">Default squared input</label>
      <input type="text" class="form-control" id="form-control-input">
    </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
      <label for="form-control-rounded">Rounded input</label>
      <input type="text" class="form-control input-rounded" id="form-control-rounded" placeholder="Add .input-rounded to the input">
    </div>
  </li>
</ul>

<h4 class="pl-pattern-subtitle">States</h4>

<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
      <label for="textdisabled"> Disabled input</label>
      <input type="text" class="form-control" id="textdisabled" placeholder="Disabled input" disabled>
    </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
      <label for="textdisabled"> Read only input</label>
      <input type="text" class="form-control" id="textdisabled" placeholder="Read only input" readonly>
    </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group has-clear">
      {{^ inputHideLabel }}
      <label for="{{ formAttributes.input.type-text.id }}">Input has clear</label>
      {{/ inputHideLabel }}
      <div class="input-group-icon">
        <input type="text" class="form-control" id="{{ formAttributes.input.type-text.id }}" placeholder="{{ formAttributes.input.placeholder }}">
        <button class="btn-clear">
          {{> styles-fonticon-item(icon-label: "071-mini-x-circulaire", icon-class: "form-control-clear hidden") }}
          <span class="sr-only">Clear search input</span>
        </button>
      </div>
    </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
      <label for="form-control-default-one">Error input</label>
      <input type="text" class="form-control is-invalid" id="form-control-default-one">
        <div class="invalid-feedback">
          Error text goes here
        </div>
    </div>
  </li>
</ul>


<!--
<ul class="row list-unstyled">
  {{# inputs-size }}
    <li class="col-xs-6 col-md-4">{{> components-input }}</li>
  {{/ inputs-size }}
</ul>

<h4 class="pl-pattern-subtitle">Shapes</h4>
<ul class="row list-unstyled">
  {{# inputs-shapes }}
    <li class="col-xs-6 col-md-4">{{> components-input }}</li>
  {{/ inputs-shapes }}
</ul>


<ul class="row list-unstyled">
  {{# inputs-states }}
    <li class="col-xs-6 col-md-4">{{> components-input }}</li>
  {{/ inputs-states }}
</ul>
-->