<h4 class="pl-pattern-subtitle">Size</h4>
<div class="row">
  {{# inputTextSize}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-text }}
  </div>
  {{/ inputTextSize}}
</div>

<h4 class="pl-pattern-subtitle">Shapes</h4>
<div class="row">
  {{# inputTextShape}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-text }}
  </div>
  {{/ inputTextShape}}
</div>

<h4 class="pl-pattern-subtitle">States</h4>
<div class="row">
  {{# inputTextState}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-text}}
  </div>
  {{/ inputTextState}}
  <div class="col-xs-6 col-md-4">
    <div class="form-group has-clear">
      <label for="form-group-input-clear">Input has clear button</label>
      <div class="input-group-icon">
        <input type="text" class="form-control" id="form-group-input-clear" placeholder="Enter text and clear button will appear">
        <button class="btn-clear">
          <span class="icon icon-x icon-sm">
          <span class="sr-only">Clear search input</span>
        </button>
      </div>
    </div>
  </div>
</div>

<h4 class="pl-pattern-subtitle">Validation</h4>
<div class="row">
  {{# inputTextSizeError}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-text }}
  </div>
  {{/ inputTextSizeError}}
</div>
