<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
  		<label for="input-group-search">Input small with icon</label>
  		<div class="input-group-icon input-group-icon-sm">
   			<span class="icon icon-search" aria-hidden="true"></span>
    		<input type="text" class="form-control form-control-sm form-control-dark" id="input-group-search" placeholder="Input sm icon placeholder">
  		</div>
	</div>
  </li>
  <li class="col-xs-6 col-md-4">
   <div class="form-group">
		<label for="input-text-left">Input default with icon</label>
	  	<div class="input-group-icon input-group-icon-left">
	    	<input type="text" class="form-control " id="input-text-left" placeholder="Input placeholder">
	    	<span class="icon icon-search" aria-hidden="true"></span>
	 	</div>
	</div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group">
	  	<label for="input-group-search">Input large with icon</label>
	  	<div class="input-group-icon input-group-icon-lg input-group-icon-left">
	    	<span class="icon icon-search" aria-hidden="true"></span>
	    	<input type="text" class="form-control form-control-lg form-control-dark" id="input-group-search" placeholder="Input lg icon placeholder">
	  	</div>
	</div>
  </li>
</ul>


<!--
{{# inputGroupIconExamples}}
{{> components-input-icon}}
{{/ inputGroupIconExamples}}
-->