<h4 class="pl-pattern-subtitle">Size</h4>
<div class="row">
  {{# textareaSize}}
  <div class="col-xs-6 col-md-4">
    {{> components-textarea }}
  </div>
  {{/ textareaSize}}
</div>

<h4 class="pl-pattern-subtitle">Validation</h4>
<div class="row">
  {{# textareaValidation}}
  <div class="col-xs-6 col-md-4">
    {{> components-textarea }}
  </div>
  {{/ textareaValidation}}
</div>