<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    <div class="form-group form-group-sm">
      <label for="input-group-search">Input small with icon</label>
      <div class="input-group-icon input-group-icon-left">
        <input type="text" class="form-control" id="input-group-search" placeholder="Input sm icon placeholder">
        <span class="icon icon-search" aria-hidden="true"></span>
      </div>
  </div>
  </li>
  <li class="col-xs-6 col-md-4">
   <div class="form-group">
    <label for="input-text-left">Input default with icon</label>
      <div class="input-group-icon input-group-icon-left">
        <input type="text" class="form-control " id="input-text-left" placeholder="Input placeholder">
         <span class="icon icon-search" aria-hidden="true"></span>
    </div>
  </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="form-group form-group-lg">
      <label for="input-group-search">Input large with icon</label>
      <div class="input-group-icon input-group-icon-left">
        <input type="text" class="form-control" id="input-group-search" placeholder="Input lg icon placeholder">
         <span class="icon icon-search" aria-hidden="true"></span>
      </div>
  </div>
  </li>
</ul>


<!--
{{# inputGroupIconExamples}}
{{> components-input-icon}}
{{/ inputGroupIconExamples}}
-->