<div class="form-group has-clear">
  {{^ inputHideLabel }}
  <label for="{{ formAttributes.input.type-text.id }}">{{ formAttributes.input.type-text.label }}</label>
  {{/ inputHideLabel }}
  <div class="input-group-icon">
    <input type="text" class="form-control" id="{{ formAttributes.input.type-text.id }}" placeholder="{{ formAttributes.input.placeholder }}">
    <button class="btn-clear">
      {{> styles-fonticon-item(icon-label: "071-mini-x-circulaire", icon-class: "form-control-clear hidden") }}
      <span class="sr-only">Clear search input</span>
    </button>
  </div>
</div>