{{# switches }}
{{> components-switch }}
{{/ switches }}

<div class="custom-control custom-switch">
	<input type="checkbox" id="id-name--1" name="set-name" class="switch-input">
	<label for="id-name--1" class="switch-label">Switch</label>
</div>

<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" {{ switchState }} id="{{ switchID }}">
  <label class="custom-control-label" for="{{ switchID }}">{{ switchLabel }}</label>
</div>