<h4 class="pl-pattern-subtitle">Size</h4>
<div class="row">
  {{# inputTextIconSize}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-icon }}
  </div>
  {{/ inputTextIconSize}}
</div>

<h4 class="pl-pattern-subtitle">Validation</h4>
<div class="row">
  {{# inputTextIconError}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-icon }}
  </div>
  {{/ inputTextIconError}}
</div>

<h4 class="pl-pattern-subtitle">States</h4>
<div class="row">
  {{# inputTextIconState}}
  <div class="col-xs-6 col-md-4">
    {{> components-input-icon}}
  </div>
  {{/ inputTextIconState}}
</div>
