<form id="email-subscription-form" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="emailFirstName">First name</label>
    <input type="text" class="form-control" id="emailFirstName">
  </div>
  {{> styles-checkbox-custom-form-confirmation }}
  {{> styles-button(buttonClass:"btn btn-primary", buttonState: "disabled") }}
</form>
