<div class="form-group {{ formGroupClass}}">
  <label for="{{formGroupInputID}}">{{ formGroupInputLabel}}{{^ formGroupInputRequired}}<span>Facultatif</span>{{/ formGroupInputRequired}}</label>
  <div class="input-group-icon input-group-icon-left{{# formGroupInputError}} input-group-is-invalid{{/ formGroupInputError}}">
    <input type="text" class="form-control {{formGroupInputClass}}" id="{{ formGroupInputID }}" {{# formGroupInputPlaceholder}}placeholder="{{ formGroupInputPlaceholder.text}}"{{/ formGroupInputPlaceholder}}{{# formGroupInputState}} {{ formGroupInputState}}{{/ formGroupInputState}}>
    <span class="icon {{ icon-name }}" aria-hidden="true"></span>
  </div>
  {{^formGroupInputError}}
  {{# formGroupInputHelpText}}
  <small id="textRequiredHelpBlock" class="form-text">{{ formGroupInputHelpText }}</small>
  {{/ formGroupInputHelpText}}
  {{/formGroupInputError}}
  {{# formGroupInputError}}
  <div class="invalid-feedback">{{ formGroupInputError.text }}</div>
  {{/ formGroupInputError}}
</div>
