<div class="form-group {{ formGroupClass }}">
  {{# formGroupSelectLabel}}
  <label for="{{ formGroupSelectID }}">{{ formGroupSelectLabel }}</label>
  {{/ formGroupSelectLabel}}
  <select class="custom-select {{formGroupSelectClass}}" name="{{ formGroupSelectID }}" id="{{formGroupSelectID}}"{{# formGroupSelectRequired}} required{{/ formGroupSelectRequired}}>
    <option value="">{{ formGroupSelect.defaultOption}}</option>
    {{# formGroupSelect.options }}
      {{> components-option }}
    {{/ formGroupSelect.options }}
  </select>
  {{^formGroupInputError}}
  {{# formGroupInputHelpText}}
  <small id="textRequiredHelpBlock" class="form-text">{{ formGroupInputHelpText }}</small>
  {{/ formGroupInputHelpText}}
  {{/formGroupInputError}}
  {{# formGroupInputError}}
  <div class="invalid-feedback">{{ formGroupInputError.text }}</div>
  {{/ formGroupInputError}}
</div>
