<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" {{ switchState }} id="{{ switchID }}">
  <label class="custom-control-label" for="{{ switchID }}">{{ switchLabel }}</label>
</div>
