{{> components-skip-navigation }}
<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{# messageBar}}
  {{> components-message-bar}}
  {{/ messageBar}}

  {{> patterns-content-header }}

  {{# featuredSection}}
  <div class="pt-8 pb-4" id="featuredContent" data-component-type="a-la-une">
    <div class="container">
      <h2 class="sr-only">En ce moment</h2>
      <div class="row cards">
        {{# featuredCard}}
        {{# cards.card-item }}
          <div class="{{ cards.bsgrid-classes }}">
            {{> components-card-item-featured }}
          </div>
        {{/ cards.card-item }}
        {{/ featuredCard}}
        {{# featuredSecondaryCards}}
        {{# cards.card-item }}
          <div class="{{ cards.bsgrid-classes }}">
            {{> components-card-item-featured }}
          </div>
        {{/ cards.card-item }}
        {{/ featuredSecondaryCards}}
      </div>
    </div>
  </div>
  {{/ featuredSection}}

  {{# serviceSection}}
  <div class="pt-8 pb-4 bg-light" id="featuredServices" data-component-type="services-vedettes">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>{{ headings.text }}</h2>
          <ul class="row cards mb-0">
            {{# cards.card-item}}
            <li class="{{ cards.bsgrid-classes }}">
              {{> components-card-item }}
            </li>
            {{/ cards.card-item}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{/ serviceSection}}

  {{# dateSection}}
  <div class="page-section pt-8 pb-4" id="featuredDates" data-component-type="dates-importantes">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>{{ headings.text }}</h2>
          {{# cards}}
          <ul class="row cards mb-0">
            {{# cards.card-item }}
            <li class="{{ cards.bsgrid-classes }}">
              {{> components-card-item}}
            </li>
            {{/ cards.card-item}}
          </ul>
          {{# load-extra-item}}
          <ul id="collapseDatesImportantesSection" class="row cards collapse-content collapse">
            {{# cards.extra-item}}
            <li class="{{ cards.bsgrid-classes }}">
            {{> components-card-item}}
            </li>
            {{/ cards.extra-item}}
          </ul>
          {{/ load-extra-item}}
          {{/ cards}}
          {{# has-extra-item}}
          <div class="mb-4">
            <button class="btn btn-secondary btn-squared btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#collapseDatesImportantesSection" aria-expanded="false" aria-controls="collapseDatesImportantesSection" data-link-title="Voir plus">Voir plus</button>
          </div>
          {{/ has-extra-item}}
        </div>
      </div>
    </div>
  </div>
  {{/ dateSection}}


  {{# featuredSearch}}
  <div id="{{ featuredContentID }}" class="bg-image-section overlay-mid pt-8 pb-4"{{# featuredContentBgImage }} style="{{ featuredContentBgImage }}"{{/ featuredContentBgImage }} data-component-type="recherche">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-center">
          <h2 class="text-white">{{ headings.text }}</h2>
        </div>
        <div class="col-12 col-lg-6 text-center">
          <div class="form-group form-group-lg">
            <div class="input-group-icon input-group-icon-left">
              <input type="text" class="form-control input-rounded" id="input-group-search" placeholder="Rechercher ...">
              <span class="icon icon-search" aria-hidden="true"></span>
            </div>
          </div>
          {{# quickLinks }}
          <div class="quick-links mb-1 mb-lg-3">
            <ul class="list-inline">
              {{# quickLinksItem }}
              <li class="list-inline-item">
                <a href="{{ url }}" class="btn btn-sm btn-primary-reverse" data-link-title="{{label}}">{{ label }}</a>
              </li>
              {{/ quickLinksItem }}
            </ul>
          </div>
          {{/ quickLinks }}
        </div>
      </div>
    </div>
  </div>
  {{/ featuredSearch}}

  {{# showEventsNewsSection}}
  <div class="page-section pt-8 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{# news }}
          <div class="page-subsection" data-component-type="sommaire-nouvelles">
            <h2>En ce moment</h2>
            <ul class="row cards mb-0">
            {{# cards.card-item }}
              <li class="{{ cards.bsgrid-classes }}">
                {{^ cards.display-full-width}}
                {{> components-card-item }}
                {{/ cards.display-full-width}}
                {{# cards.display-full-width}}
                {{> components-card-item-full-width }}
                {{/ cards.display-full-width}}
              </li>
            {{/ cards.card-item }}
            </ul>
            {{# button-cta}}
            <div class="mb-4">
            {{> components-button}}
            </div>
            {{/ button-cta}}
          </div>
          {{/ news }}
          {{# events }}
          <div class="page-subsection" data-component-type="sommaire-evenements">
            <h2>Événements</h2>
            <ul class="row cards mb-0">
            {{# cards.card-item }}
              <li class="{{ cards.bsgrid-classes }}">
                {{^ cards.display-full-width}}
                {{> components-card-item }}
                {{/ cards.display-full-width}}
                {{# cards.display-full-width}}
                {{> components-card-item-full-width }}
                {{/ cards.display-full-width}}
              </li>
            {{/ cards.card-item }}
            </ul>
            {{# button-cta}}
            <div class="mb-4">
            {{> components-button}}
            </div>
            {{/ button-cta}}
          </div>
          {{/ events }}
        </div>
      </div>
    </div>
  </div>
  {{/ showEventsNewsSection}}

  {{# mairieSection}}
  <div class="page-section border-top pt-8 pb-4" id="elusSection">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{# mairie}}
          <div class="page-subsection" data-component-type="mairie">
            <h2>{{ headings.text }}</h2>
            <ul class="row cards mb-0">
            {{# cards.card-item }}
              <li class="{{ cards.bsgrid-classes }}">
                {{> components-card-item-full-width-profile }}
              </li>
            {{/ cards.card-item }}
            </ul>
            {{# button-cta}}
            <div class="mb-4">
            {{> components-button}}
            </div>
            {{/ button-cta}}
          </div>
          {{/ mairie }}
          {{# comiteConseils}}
          <div class="page-subsection" data-component-type="sommaire-seances">
            <h2>Conseils d'arrondissement</h2>
            <ul class="row cards mb-0">
            {{# cards.card-item }}
              <li class="{{ cards.bsgrid-classes }}">
                {{> components-card-item }}
              </li>
            {{/ cards.card-item }}
            </ul>
            {{# button-cta}}
            <div class="mb-4">
            {{> components-button}}
            </div>
            {{/ button-cta}}
          </div>
          {{/ comiteConseils }}
        </div>
      </div>
    </div>
  </div>
  {{/ mairieSection}}

  <section class="container mb-4">
    <div class="row">
      <div class="col-12">
      {{> components-feedback-form}}
      </div>
    </div>
  </section>

</main>

{{> patterns-pre-footer}}

{{> patterns-footer-main }}

