{{> components-skip-navigation }}
<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content" id="main-content" aria-label="Contenu principal">

  <div class="container pt-4 pt-lg-8">
    <div class="row">
      <div class="col-12 col-lg-7">
        {{> components-breadcrumbs}}
      </div>
    </div>
  </div>

  <div class="mb-4 mb-lg-0">
  {{> patterns-content-header}}
  </div>

  <div class="container mb-4">
    <div class="row">
      <div class="col-12 col-lg-8">
        <header class="pb-4">
          <h1>
            <div class="font-size-lg d-block font-weight-normal">Découvrez</div>
            {{ heading }}
          </h1>
        </header>
        <div class="lead mb-4">
          {{{ lead }}}
        </div>
      </div>
    </div>
    {{# show-hide-description}}
    <div class="row">
      <div class="col-12 col-lg-8">
        <div id="collapseProfilDescription" class="collapse-content collapse content-modules">
          <div class="content-module-stacked">
            <h2>Titre de la section</h2>
            <p>Vestibulum porttitor, libero a faucibus vehicula, ex erat ullamcorper velit, at cursus mauris dolor eu erat. Nulla malesuada finibus nisi nec cursus. Praesent ac augue euismod, congue neque id, finibus arcu. Sed faucibus purus quis augue fermentum lobortis. Mauris commodo odio id varius tempor. Vivamus ornare pulvinar ultricies. Quisque pretium condimentum ultrices.</p>
            <h2>Titre de la section</h2>
            <p>Proin sollicitudin mauris id sollicitudin efficitur. Donec vel ante a risus semper vestibulum ac non est. Curabitur elementum consectetur nunc. Vivamus nec ligula euismod, vestibulum orci id, eleifend ipsum. Phasellus id nibh nisi. Vestibulum tristique erat mi, in vestibulum ex imperdiet at. Nullam tempor elementum malesuada. Maecenas vulputate feugiat dolor in dapibus. Fusce eget velit in sem tempus consequat id sed ex.</p>
            <div class="mb-4">
              <img src="https://picsum.photos/id/1003/800/450" alt="Image #1772" class="img-fluid" />
            </div>
            <p>Proin sollicitudin mauris id sollicitudin efficitur. Donec vel ante a risus semper vestibulum ac non est. Curabitur elementum consectetur nunc. Vivamus nec ligula euismod, vestibulum orci id, eleifend ipsum.</p>
          </div>
        </div>
        <button class="btn btn-secondary btn-squared btn-collapse collapsed mb-4" type="button" data-toggle="collapse" data-target="#collapseProfilDescription" aria-expanded="false" aria-controls="collapseProfilDescription" data-show-more="Voir plus" data-show-less="Voir moins">Voir plus</button>
      </div>
    </div>
    {{/ show-hide-description}}
  </div>

  {{# attraits}}
  <div class="page-section bg-light pt-8 pb-4" id="attraits">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Attraits</h2>
          <ul class="list-unstyled column-count-md-2 column-count-lg-3 mb-4">
            {{# items }}
            <li class="mb-2 font-size-base-interface">
              <span class="font-weight-bold text-dark pr-1">{{counter}}</span>{{^url}}{{text}}{{/url}}
              {{# url}}<a href="{{url}}">{{text}}</a>{{/url}}
            </li>
            {{/ items}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{/ attraits}}

  {{# quartiers}}
  <div class="page-section pt-8 pb-4" id="quartiers">
    <div class="container">
      <div class="row">
        <h2>Quartiers</h2>
        <div class="alternate-order-lg">
          {{# items }}
          <div class="row justify-content-between alternate-order-content mb-4">
            <div class="col-12 col-lg-5 alternate-order-element mb-2 my-lg-auto">
              <img class="img-fluid" alt="{{img.alt}}" src="{{ img.src }}" />
            </div>
            <div class="col-12 col-lg-6 my-auto">
              <h3>{{ title }}</h3>
              <div class="formatted-text-container rm-last-child-mb">
                {{{formattedText}}}
              </div>
            </div>
          </div>
          {{/ items}}
        </div>
      </div>
    </div>
  </div>
  {{/ quartiers}}

  {{# video}}
  <div class="page-section border-top py-8" id="video">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <h2>{{title}}</h2>
          <div class="media embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ src }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/ video}}

  {{# stats}}
  <div class="page-section bg-light pt-8 pb-4" id="chiffres-cles">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Chiffres clés</h2>
          <ul class="row list-unstyled mb-0">
            {{# items }}
            <li class="col-12 col-sm-6 col-lg-3 pb-4">
              {{# highlight}}
              <div class="font-size-lg-interface text-dark mb-1">{{{highlight}}}</div>
              {{/ highlight}}
              {{# text}}
              <div class="font-size-sm-interface">{{{ text }}}</div>
              {{/ text}}
            </li>
            {{/ items}}
          </ul>
          {{# call_to_action}}
          <div class="mb-4">
            <a href="{{ url }}" class="btn btn-secondary btn-squared">{{ title }}</a>
          </div>
          {{/ call_to_action}}
        </div>
      </div>
    </div>
  </div>
  {{/ stats}}

  <section class="container my-8">
    <div class="row">
      <div class="col-12">
      {{> components-feedback-form}}
      </div>
    </div>
  </section>

</main>

{{> patterns-pre-footer}}

{{> patterns-footer-main }}


