<form id="email-subscription-form" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="emailFirstName">First name</label>
    <input type="text" class="form-control" id="emailFirstName">
  </div>
  <div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" class="form-control" id="lastName">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  {{> components-button(buttonState:"disabled") }}
</form>
