<footer class="vdm-footer">
      <div class="main">
        <a class="featured">
            <span class="icon-text">311</span>Services au citoyen
        </div>
        <ul class="vdm-footer-links">
          <li><a href="#" title="Link title"><span class="label">Link 1</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 2</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 3</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 4</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 5</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 6</span></a></li>
        </ul>
        {{> atoms-social-media-icons }}
      </div>
      <div class="sub">
          <div class="first">
            First text
          </div>
          <div class="last">
            <ul class="vdm-sub-footer-links">
              <li><a href="#" title="Link title"><span class="label">Last - Link 1</span></a></li>
              <li><a href="#" title="Link title"><span class="label">Last - Link 2</span></a></li>
            </ul>
          </div>
      </sub>
    </div>
</footer>