<footer class="vdm-footer">
  <div class="footer-wrapper">
      
      <div class="main">
        <a class="featured">
            <span class="icon-text">311</span>
            <span class="text">Services au citoyen</span>
        </a>
        <ul class="vdm-footer-links">
          <li><a href="#" title="Link title">Link 1</a></li>
          <li><a href="#" title="Link title">Link 2</a></li>
          <li><a href="#" title="Link title">Link 3</a></li>
          <li><a href="#" title="Link title">Link 4</a></li>
          <li><a href="#" title="Link title">Link 5</a></li>
          <li><a href="#" title="Link title">Link 6</a></li>
        </ul>
        {{> atoms-social-media-icons }}
      </div>

      <div class="sub">
          <div class="first">
            First text
          </div>
          <div class="last">
            <ul class="vdm-sub-footer-links">
              <li><a href="#" title="Link title">Last - Link 1</a></li>
              <li><a href="#" title="Link title">Last - Link 2</a></li>
            </ul>
          </div>
      </div>

    </div>
  </div>
</footer>