<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="services-citoyen">
          <div class="services-citoyen-311">
            <span class="number311">311</span>
            <span class="title">Services<br/>au citoyen</span>
          </div>
          <div class="clearfix"></div>
          <div class="services-citoyen-horaires">
            <span class="open"> </span>
            <span class="hours">Ouvert jusqu'à 20h30</span>
          </div>
        </div>
        <ul>
          <li>
            <div class="horaires">
              <div class="link"><a href="#">Horaires et détails</a></div>
              <div class="link-arrow"><i class="vdmi ic-arrow-right ic-2x"></i></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <div>
              <div class="link"><a href="#">Transactions et demandes</a></div>
              <div class="link-arrow"><i class="vdmi ic-arrow-right ic-2x"></i></div>
            </div>
          </li>
          <li>
            <div>
              <div class="link"><a href="#">Données ouvertes</a></div>
              <div class="link-arrow"><i class="vdmi ic-arrow-right ic-2x"></i></div>
            </div>
          </li>
          <li>
            <div>
              <div class="link"><a href="#">Carrières</a></div>
              <div class="link-arrow"><i class="vdmi ic-arrow-right ic-2x"></i></div>
            </div>
          </li>
          <li>
            <div>
              <div class="link"><a href="#">Nous joindre</a></div>
              <div class="link-arrow"><i class="vdmi ic-arrow-right ic-2x"></i></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="language">
          <li>
            <a href="#">English</a>
          </li>
        </ul>
        <div class="clearfix"></div>
        <div class="social-media">
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-youtube fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x"></i>
          </span>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row copyright">
      <div class="col-md-6 text-left">
        <span>Ville de Montréal, 199X-2017 Tous deroits réservés</span>
      </div>
      <div class="col-md-6 text-right">
        <a href="#">Accessibilité</a>
        <a href="#">Sécurité et confidentialité</a>
      </div>
    </div>
  </div>
</footer>
