<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li>
            <a href="#">Horaires et détails</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <a href="#">Transactions et demandes</a>
          </li>
          <li>
            <a href="#">Données ouvertes</a>
          </li>
          <li>
            <a href="#">Carrières</a>
          </li>
          <li>
            <a href="#">Nous joindre</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div>
          <ul>
            <li>
              <a href="#">English</a>
            </li>
          </ul>
        </div>
        <div>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-youtube fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-xl">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
