<footer class="vdm-footer">
      <div class="main">
        <a class="featured">
            <span class="icon-text">311</span>Services au citoyen
        </div>
        <ul class="vdm-footer-links">
          <li><a href="#" title="Link title"><span class="label">Link 1</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 2</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 3</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 4</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 5</span></a></li>
          <li><a href="#" title="Link title"><span class="label">Link 6</span></a></li>
        </ul>
        <!-- Insert social media icons atom here -->
        <ul class="vdm-social-media footer">
          <li><a href="#" title="Facebook"  class="social-icon facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" title="Linkedin"  class="social-icon linkedin"><span class="label">Linkedin</span></a></li>
          <li><a href="#" title="Twitter"  class="social-icon twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" title="YouTube"  class="social-icon youtube"><span class="label">YouTube</span></a></li>
        </ul>
      </div>
      <div class="sub">
          <div class="first">
            First text
          </div>
          <div class="last">
            <ul class="vdm-sub-footer-links">
              <li><a href="#" title="Link title"><span class="label">Link 1</span></a></li>
              <li><a href="#" title="Link title"><span class="label">Link 2</span></a></li>
            </ul>
          </div>
      </sub>
    </div>
</footer>