{{# table}}
<div class="table-responsive">
  <table class="table table-hover {{ tableClass }}">
    {{# caption }}
    <caption>{{ caption }}</caption>
    {{/ caption }}
    <thead>
      <tr>
        <th scope="col">#</th>
        <th class="sorting sorting-asc" scope="col" aria-sort="ascending">Libellé</th>
        <th class="sorting" scope="col" aria-sort="none">Libellé</th>
        <th class="sorting" scope="col" aria-sort="none">Libellé</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    {{# tbody }}
    <tbody>
      {{# tr }}
      <tr>
        <th scope="row">{{{ th }}}</th>
        <td>{{#td1}}{{{ td1 }}}{{/td1}}</td>
        <td class="align-middle">
          {{#td2}}{{> components-input-text }}{{/td2}}
        </td>
        <td class="align-middle">
          <div class="d-flex">
          {{# td3}}{{> components-badge}}{{/ td3}}
          </div>
        </td>
        <td class="align-middle cell-sm">
          {{# td4}}
          {{# buttons}}
          <div class="td-n-margin">
            {{# default}}{{> components-button}}{{/ default}}
            {{# moreVertical}}
            <div class="dropdown d-inline-block">
              <button class="btn {{ buttonClass }}" type="button" aria-label="Label du bouton icon dans le aria-label." id="{{dropdownMenu.dropdownMenuID}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon icon-more-vertical" aria-hidden="true"></span>
              </button>
              {{> components-dropdown}}
            </div>
            {{/ moreVertical}}
          </div>
          {{/ buttons}}
          {{/ td4}}
        </td>
      </tr>
      {{/ tr}}
    </tbody>
    {{/ tbody }}
  </table>
</div>
{{/ table }}
