<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    {{# sidebar-list}}
    <ul class="list-unstyled">
      {{# list-items}}
      <li>
        <a href="#" class="icon left">{{> atoms-fonticon-item(icon-label: "015-fleche") }} {{ list-item-label }}</a>
      </li>
      {{/ list-items}}
    </ul>
    {{/ sidebar-list}}
  </section>
</div>
    