
<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    <ul class="">
      <li>
        <a href="https://beta.montreal.ca">Lien interne montreal.ca</a>
      </li>
      <li>
        <a href="https://ville.montreal.qc.ca">Lien externe vers ville.montreal.qc.ca</a>
      </li>
      <li>
        <a href="test.pdf">Nom du document en format pdf</a>
      </li>
    </ul>
  </section>
</div>
