
<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    <ul>
      <li>
        <a href="https://beta.montreal.ca">Lien interne montreal.ca</a>
      </li>
      <li>
        <a href="https://ville.montreal.qc.ca">Lien externe vers ville.montreal.qc.ca</a>
      </li>
      <li>
        <a href="https://res.cloudinary.com/villemontreal/image/upload/v1556055253/portail/owl9qrxrk0ckhot0co4i.pdf">Document Cloudinary de la Ville</a>
      </li>
      <li>
        <a href="test.pdf">Nom du document en format pdf</a>
      </li>
    </ul>
  </section>
</div>
