<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    <div class="subsection person-card">
      <p>
        <strong class="name">Marc-André Gosselin</strong><br>
        Attaché de presse<br>
        Cabinet du maire et du comité exécutif
      </p>
      <ul class="list-unstyled">
        <li>
          <a href="tel:+15142223456" class="icon left">
            {{> atoms-fonticon-item(icon-label: "012-telephone") }} 514 222-3456
          </a>
        </li>
      </ul>
    </div>
    <div class="subsection person-card">
      <p>
        <strong class="name">Linda Boutin</strong><br>
        Relationiste<br>
        Service des communications
      </p>
      <ul class="list-unstyled">
        <li>
          <a href="tel:+15143333456" class="icon left">
            {{> atoms-fonticon-item(icon-label: "012-telephone") }} 514 333-34567
          </a>
        </li>
        <li>
          <a href="mailto:linda.boutin@ville.montreal.qc.ca" class="icon left">
            {{> atoms-fonticon-item(icon-label: "028-enveloppe") }} linda.boutin@ville.montreal.qc.ca
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>