
<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    <p>Souscrivez à notre liste d'envoi électronique et soyez à l'affût des activités des commissions permanentes.</p>
    {{> atoms-button(buttonClass: "btn-secondary", buttonText: "Abonnez-vous")}}
  </section>
</div>