
<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    {{> atoms-text-icons-list}}
    {{> atoms-social-media-icons-list(socialMediaClasses: "icon-primary")}}
  </section>
</div>