
<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    {{# coordinates}}
    {{> atoms-text-icons-list}}
    {{/ coordinates }}
    {{> atoms-social-media-icons-list(socialMediaClasses: "icon-primary")}}
  </section>
</div>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Envoyer un courriel</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span class="vdm vdm-046-grand-x"></span>
        </button>
      </div>

      <div class="modal-body">
        <form role="form" method="post" id="modal-contact-form" >
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non justo sit amet quam scelerisque blandit.</p>

          <div class="form-group required">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" name="name" required maxlength="50">
          </div>
          <div class="form-group required">
            <label for="email">Courriel</label>
            <input type="email" class="form-control" id="email" name="email" required maxlength="50">
          </div>
          <div class="form-group required">
            <label for="name">Message</label>
            <textarea class="form-control" type="textarea" name="message" id="message" required maxlength="6000" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="btn-contact-us">Soumettre</button>
        </form>
      </div>
    </div>
  </div>
</div>