<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    <div class="subsection">
      <h3 class="subtitle">Ville de Montréal</h3>
      <p>IPhone messenger bag gastropub, health goth lo-fi chartreuse art party post-ironic fixie banh mi kale chips bitters.</p>
      <ul class="list-unstyled">
        <li>
          <a href="tel:+15142223456" class="icon left">
            {{> atoms-fonticon-item(icon-label: "012-telephone") }}
            514 222-3456
          </a>
        </li>
      </ul>
    </div>
    <div class="subsection">
      <h3 class="subtitle">Société d'habitation du Québec</h3>
      <p>Taxidermy flannel hammock, schlitz cloud bread direct trade tote bag skateboard readymade vexillologist meditation
        sartorial.
      </p>
      <ul class="list-unstyled">
        <li>
          <a href="tel:+1800111456" class="icon left">
            {{> atoms-fonticon-item(icon-label: "012-telephone") }}
            1 800 111-34567
          </a>
        </li>
        <li>
          <a href="mailto:infoshq@shq.gouv.qc.ca" class="icon left">
            {{> atoms-fonticon-item(icon-label: "028-enveloppe") }}
            infoshq@shq.gouv.qc.ca
          </a>
        </li>
      </ul>
    </div>
    <div class="subsection">
      <h3 class="subtitle">Autres ressources</h3>
      <p>Paleo ugh blog truffaut kinfolk XOXO tousled cliche chia four dollar toast shoreditch deep v pok pok viral.</p>
    </div>
  </section>
</div>