<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    <div class="subsection">
      <div class="icon left">
        {{> atoms-fonticon-item(icon-label: "037-horloge") }}  
        <div class="subsection-content">
          <div class="row">
            <div class="day-of-week col-4">
              <span class="elided-text">Lundi</span>
            </div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">08 h 00</span>
                <span class="schedule-end-time">12 h 00</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="day-of-week col-4"></div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">13 h 00</span>
                <span class="schedule-end-time">16 h 30</span>
                <span class="vdm vdm-069-mini-plus-circulaire collapsed" data-toggle="collapse" data-target="#collapse-0-0" aria-expanded="false" aria-controls="collapse-0-0"></span>
              </div>
            </div>
            <div class="col-12 collapse" id="collapse-0-0" style="">
              <em class="d-block note">Ceci est une note pour l'horaire du lundi 13 h 00 - 16 h 30</em>
            </div>
          </div>
          <div class="row">
            <div class="day-of-week col-4">
              <span class="elided-text">Mardi</span>
            </div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">08 h 00</span>
                <span class="schedule-end-time">12 h 00</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="day-of-week col-4"></div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">13 h 00</span>
                <span class="schedule-end-time">16 h 30</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="day-of-week col-4">
              <span class="elided-text">Mercredi</span>
            </div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">08 h 00</span>
                <span class="schedule-end-time">12 h 00</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="day-of-week col-4"></div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">13 h 00</span>
                <span class="schedule-end-time">16 h 30</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="day-of-week col-4">
              <span class="elided-text">Jeudi</span>
            </div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">08 h 00</span>
                <span class="schedule-end-time">12 h 00</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="day-of-week col-4"></div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">13 h 00</span>
                <span class="schedule-end-time">16 h 30</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="day-of-week col-4">
              <span class="elided-text">Vendredi</span>
            </div>
            <div class="col-8">
              <div class="schedule-data">
                <span class="schedule-start-time">08 h 00</span>
                <span class="schedule-end-time">12 h 00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>