<div class="sidebar {{sidebarClasses}}">
  <section class="sb-block {{ sb-classes }}">
    {{> organisms-heading-sidebar }}
    <ul class="list-icon">
      <li class="list-icon-item">
        {{> atoms-fonticon-item(icon-label: "037-horloge") }}
        <div class="list-icon-content">
          <span class="list-icon-label">Horaire Hiver-printemps</span>
          <div class="schedule-content">
            <div class="schedule-description mb-2">du 2 janvier au 23 juin 2019</div>
            <div class="row mb-2">
              <div class="col">
                <span class="schedule-day">Lundi</span>
              </div>
              <div class="col">
                <div class="schedule-data">
                  <span class="schedule-start-time">09 h 00</span>
                  <span class="schedule-end-time">12 h 00</span>
                </div>
                 <div class="schedule-data">
                  <span class="schedule-start-time">13 h 00</span>
                  <span class="schedule-end-time">17 h 00</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <span class="schedule-day">Mardi</span>
              </div>
              <div class="col">
                <div class="schedule-data">
                  <span class="schedule-start-time">09 h 00</span>
                  <span class="schedule-end-time">12 h 00</span>
                </div>
                <div class="schedule-data">
                  <span class="schedule-start-time">13 h 00</span>
                  <span class="schedule-end-time">17 h 00</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <span class="schedule-day">Mercredi</span>
              </div>
              <div class="col">
                <div class="schedule-data">
                  <span class="schedule-start-time">09 h 00</span>
                  <span class="schedule-end-time">12 h 00</span>
                </div>
                <div class="schedule-data">
                  <span class="schedule-start-time">13 h 00</span>
                  <span class="schedule-end-time">17 h 00</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <span class="schedule-day">Jeudi</span>
              </div>
              <div class="col">
                <div class="schedule-data">
                  <span class="schedule-start-time">09 h 00</span>
                  <span class="schedule-end-time">12 h 00</span>
                </div>
                <div class="schedule-data">
                  <span class="schedule-start-time">13 h 00</span>
                  <span class="schedule-end-time">17 h 00</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <span class="schedule-day">Vendredi</span>
              </div>
              <div class="col">
                <div class="schedule-data">
                  <span class="schedule-start-time">09 h 00</span>
                  <span class="schedule-end-time">12 h 00</span>
                </div>
                <div class="schedule-data">
                  <span class="schedule-start-time">13 h 00</span>
                  <span class="schedule-end-time">17 h 00</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <span class="schedule-day">Samedi</span>
              </div>
              <div class="col">
                <div class="schedule-data">
                  <span class="schedule-start-time">09 h 00</span>
                  <span class="schedule-end-time">18 h 00</span>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <span class="schedule-day">Dimanche</span>
              </div>
              <div class="col">
                <div class="schedule-data">Fermé</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="collapse collapse-content" id="collapseExtraScheduleData">
      <ul class="list-icon">
        <li class="list-icon-item">
          {{> atoms-fonticon-item(icon-label: "037-horloge") }}
          <div class="list-icon-content">
            <span class="list-icon-label">Horaire Estival</span>
            <div class="schedule-content">
              <div class="schedule-description mb-2">du 24 juin au 2 septembre 2019</div>
              <div class="row mb-2">
                <div class="col">
                  <span class="schedule-day">Lundi</span>
                </div>
                <div class="col">
                  <div class="schedule-data">
                    <span class="schedule-start-time">09 h 00</span>
                    <span class="schedule-end-time">12 h 00</span>
                  </div>
                  <div class="schedule-data">
                    <span class="schedule-start-time">13 h 00</span>
                    <span class="schedule-end-time">21 h 00</span>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <span class="schedule-day">Mardi</span>
                </div>
                <div class="col">
                  <div class="schedule-data">
                    <span class="schedule-start-time">09 h 00</span>
                    <span class="schedule-end-time">12 h 00</span>
                  </div>
                  <div class="schedule-data">
                    <span class="schedule-start-time">13 h 00</span>
                    <span class="schedule-end-time">21 h 00</span>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <span class="schedule-day">Mercredi</span>
                </div>
                <div class="col">
                  <div class="schedule-data">
                    <span class="schedule-start-time">09 h 00</span>
                    <span class="schedule-end-time">12 h 00</span>
                  </div>
                  <div class="schedule-data">
                    <span class="schedule-start-time">13 h 00</span>
                    <span class="schedule-end-time">21 h 00</span>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <span class="schedule-day">Jeudi</span>
                </div>
                <div class="col">
                  <div class="schedule-data">
                    <span class="schedule-start-time">09 h 00</span>
                    <span class="schedule-end-time">12 h 00</span>
                  </div>
                  <div class="schedule-data">
                    <span class="schedule-start-time">13 h 00</span>
                    <span class="schedule-end-time">21 h 00</span>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <span class="schedule-day">Vendredi</span>
                </div>
                <div class="col">
                  <div class="schedule-data">
                    <span class="schedule-start-time">09 h 00</span>
                    <span class="schedule-end-time">12 h 00</span>
                  </div>
                  <div class="schedule-data">
                    <span class="schedule-start-time">13 h 00</span>
                    <span class="schedule-end-time">21 h 00</span>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <span class="schedule-day">Samedi</span>
                </div>
                <div class="col">
                  <div class="schedule-data">
                    <span class="schedule-start-time">09 h 00</span>
                    <span class="schedule-end-time">18 h 00</span>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <span class="schedule-day">Dimanche</span>
                </div>
                <div class="col">
                  <div class="schedule-data">Fermé</div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="w-100 text-center">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExtraScheduleData" aria-expanded="false" aria-controls="collapseExtraScheduleData">Voir plus</button>
    </div>
  </section>
</div>