<div class="sidebar {{ sidebar-classes }}">
  <section class="sb-block">
    {{> organisms-heading-sidebar(sidebarTitle: "Informations")}}
    <ul class="list-icon">
      <li>
        <span class="icon left">
          {{> atoms-fonticon-item(icon-label: "005-calendrier") }}
          <div>
            <strong>Quand</strong><br>
            24 sept. - 12 nov. 2018<br>
            Lundi au jeudi, midi à 17h00<br>
            Vendredi et samedi, 13h00 à 16h00
          </div>
        </span>
      </li>
      <li>
        <span class="icon left">
          {{> atoms-fonticon-item(icon-label: "091-localisation") }}
          <div>
            <strong>Où</strong><br>
            <address>
              Maison de la culture Ahuntsic-Cartierville<br>
              10300, rue Lajeunesse,<br>
              Montréal, Qc, H3L 2E5
            </address>
          </div>
        </span>
      </li>
      <li>
        <span class="icon left">
          {{> atoms-fonticon-item(icon-label: "020-carte-de-credit") }}
          <div>
            <strong>Combien</strong><br>
            Enfants 4$ | Adultes 8$
          </div>
        </span>
      </li>
      <li>
        <span class="icon left">
          {{> atoms-fonticon-item(icon-label: "007-billet") }}
          <div>
            <strong>Billetterie</strong><br>
            Espace Trad<br>
            514 834-8765<br>
            <a href="https://espacetrad.ca">espacetrad.ca</a>
          </div>
        </span>
      </li>
      <li>
        <span class="icon left">
          {{> atoms-fonticon-item(icon-label: "012-telephone") }}
          <div>
            <strong>Contact</strong><br>
            Mireille Anctil<br>
            <a href="mailto:mireille.anctil@espacetrad.ca">mireille.anctil@espacetrad.ca</a><br>
            514 872-3107
          </div>
        </span>
      </li>
    </ul>
  </section>
</div>