<h4 class="pl-pattern-subtitle">Colors</h4>
<div class="pl-badge">
	{{# badges-colors }}
	  {{> components-badge }}
	{{/ badges-colors }}
</div>
<div class="pl-badge pl-mb-0">
	{{# badges-dialog-colors-light }}
	  {{> components-badge }}
	{{/ badges-dialog-colors-light }}
</div>
<div class="pl-badge">
	{{# badges-dialog-colors }}
	  {{> components-badge }}
	{{/ badges-dialog-colors }}
</div>
