<h4 class="pl-pattern-subtitle">Colors</h4>
<div class="pl-badge">
	{{# badges-icons }}
	  {{> components-badge }}
	{{/ badges-icons }}
</div>

<div class="pl-badge pl-mb-0">
	{{# badges-icons-dialog-colors-light }}
	  {{> components-badge }}
	{{/ badges-icons-dialog-colors-light }}
</div>
<div class="pl-badge">
	{{# badges-icons-dialog-colors }}
	  {{> components-badge }}
	{{/ badges-icons-dialog-colors }}
</div>

<h4 class="pl-pattern-subtitle">Positions</h4>
<div class="pl-badge">
	{{# badges-icons-position }}
	  {{> components-badge }}
	{{/ badges-icons-position }}
</div>
