<div class="message-bar {{ message-bar.class }}">
  <div class="message-bar-icon-container">
    <span class="icon icon-warning"></span>
  </div>
  <div class="message-bar-container">
    <div class="message-bar-heading">Titre</div>
    <p>Description du message</p>
    <a class="message-bar-link" href="#" target="_blank">Lien</a>
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-light">
      <title>Fermer le message</title>
      <path d="M12 13.414l-5.293 5.293a1 1 0 1 1-1.414-1.414L10.586 12 5.293 6.707a1 1 0 0 1 1.414-1.414l12 12a1 1 0 0 1-1.414 1.414L12 13.414zm5.293-8.121a1 1 0 0 1 1.414 1.414l-3 3a1 1 0 1 1-1.414-1.414l3-3z"/>
    </svg>
  </button>
</div>