<h2 class="pl-stroked-header">Commutateurs d'état</h2>

<div class="checkbox vdm-checkbox vdm-toggle">
    <input type="checkbox" id="edit-option-one" value="option-one-value">
    <label for="edit-option-one">Checkbox - Toggle OFF</label>
</div>
<div class="checkbox vdm-checkbox vdm-toggle">
    <input type="checkbox" id="edit-option-two" checked="checked" value="option-two-value">
    <label for="edit-option-two">Checkbox - Toggle ON<label>
</div>
<div class="checkbox vdm-checkbox vdm-toggle">
    <input type="checkbox" id="edit-option-four" value="option-four-value" disabled>
    <label for="edit-option-four">Disabled checkbox - Toggle OFF</label>
</div>
<div class="checkbox vdm-checkbox vdm-toggle">
    <input type="checkbox" id="edit-option-three" checked="checked" value="option-three-value" disabled>
    <label for="edit-option-three">Disabled checkbox - Toggle ON</label>
</div>
