<form>
    <div class="form-check vdm-checkbox-vdmi">
        <input type="checkbox" id="chk01">
        <label for="chk01">Checkbox</label>
    </div>
    <div class="form-check vdm-checkbox-vdmi">
        <input type="checkbox" id="chk02">
        <label for="chk02">Checkbox, one more</label>
    </div>
    <div class="form-check vdm-checkbox-vdmi disabled" >
        <input type="checkbox" id="chk03" disabled>
        <label for="chk03">Checkbox disabled</label>
    </div>
    <div class="form-check vdm-checkbox-vdmi disabled">
        <input type="checkbox" id="chk04" checked disabled>
        <label for="chk04">Checkbox disabled and checked and damn this label is so long!</label>
    </div>
</form>