<form> 
    <div class="checkbox vdm-checkbox"> 
        <label> 
            <input type="checkbox">Checkbox
        </label> 
    </div>
    <div class="checkbox vdm-checkbox "> 
        <label> 
            <input type="checkbox" checked="checked">Checked checkbox
        </label> 
    </div>
    <div class="checkbox vdm-checkbox" disabled="disabled"> 
        <label> 
            <input type="checkbox">Disabled checkbox
        </label> 
    </div>
    <div class="checkbox vdm-checkbox" checked="checked"  disabled="disabled"> 
        <label> 
            <input type="checkbox">Disabled and checked checkbox
        </label>
    </div> 
</form>