<h2 class="pl-stroked-header">Checkboxes</h2>
<form> 
    <div class="checkbox vdm-checkbox "> 
        <label> 
            <input type="checkbox">Checkbox
        </label> 
    </div>
    <div class="checkbox vdm-checkbox "> 
        <label> 
            <input type="checkbox" checked="checked">Checked checkbox
        </label> 
    </div>
    <div class="checkbox vdm-checkbox" disabled="disabled"> 
        <label> 
            <input type="checkbox">Disabled checkbox
        </label> 
    </div>
    <div class="checkbox vdm-checkbox" checked="checked"  disabled="disabled"> 
        <label> 
            <input type="checkbox">Disabled and checked checkbox
        </label>
    </div> 
</form>
<form> 
    <div class="radio vdm-radio "> 
        <label> 
            <input type="radio">Radio
        </label> 
    </div>
    <div class="radio vdm-radio "> 
        <label> 
            <input type="radio" checked="checked">Checked radio
        </label> 
    </div>
    <div class="radio vdm-radio" disabled="disabled"> 
        <label> 
            <input type="radio">Disabled radio
        </label> 
    </div>
    <div class="radio vdm-radio" checked="checked"  disabled="disabled"> 
        <label> 
            <input type="radio">Disabled and checked radio
        </label>
    </div> 
</form>