<form> 
    <div class="form-check vdm-radio-vdmi"> 
        <input type="radio" id="radio01">
        <label for="radio01">Radio</label>
    </div>
    <div class="form-check vdm-radio-vdmi"> 
        <input type="radio" id="radio02">
        <label for="radio02">Radio, one more</label>
    </div>
    <div class="form-check vdm-radio-vdmi disabled" > 
        <input type="radio" id="radio03" disabled>
        <label for="radio03">Radio disabled</label>
    </div>
    <div class="form-check vdm-radio-vdmi disabled"> 
        <input type="radio" id="radio04" checked="checked" disabled>
        <label for="radio04">Radio disabled and checked and damn this label is so long!</label>
    </div> 
</form>