<h2 class="pl-stroked-header">Radios</h2>
<form> 
    <div class="radio vdm-radio "> 
        <label> 
            <input type="radio">Radio
        </label> 
    </div>
    <div class="radio vdm-radio "> 
        <label> 
            <input type="radio" checked="checked">Checked radio
        </label> 
    </div>
    <div class="radio vdm-radio" disabled="disabled"> 
        <label> 
            <input type="radio">Disabled radio
        </label> 
    </div>
    <div class="radio vdm-radio"> 
        <label> 
            <input type="radio"  checked="checked" disabled="disabled">Disabled and checked radio
        </label>
    </div> 

<h4 class="pl-stroked-header">Inline</h4>
<form> 
    <label class="radio vdm-radio radio-inline">
        <input type="radio" >1
    </label>
    <label class="radio vdm-radio radio-inline">
        <input type="radio" checked="checked">2
    </label>
</form>
</form>