<div class="sidebar {{ sidebarClasses }}">
  {{# sb-block-bon-savoir }}
  <section class="sb-block">
    {{> organisms-heading-sidebar(sidebarTitle: "Bon à savoir")}}
    {{{ content }}}
  </section>
  {{/ sb-block-bon-savoir }}
  {{# sb-block-documents }}
  <section class="sb-block">
    {{> organisms-heading-sidebar(sidebarTitle: "Documents") }}
    <ul>
      {{# documents }}
      <li>
        <a href="{{ url }}">{{ title }}</a>
      </li>
      {{/ documents }}
    </ul>
  </section>
  {{/ sb-block-documents }}
  {{# sb-block-reglements }}
  <section class="sb-block">
    {{> organisms-heading-sidebar(sidebarTitle: "Règlements") }}
    <ul>
      {{# reglements }}
      <li>
        <a href="{{ url }}">{{ title }}</a>
      </li>
      {{/ reglements }}
    </ul>
  </section>
  {{/ sb-block-reglements}}
</div>