<div class="cotainer-fluid pl-atom-icons-grid">
	
  	<ul class="row list-unstyled">
  		{{#icon-editorial }}
	   		<li class="col-6 col-sm-4 col-md-4 col-lg-3">
		      	<div class="pl-atom-icon-item icon-editorial">
		      		<svg class="icon {{ icon-name }}" viewBox="0 0 48 48"> 
    					<path d="{{ icon-path }}"></path>
					</svg>
		       		<div class="ic-name">{{ icon-name }}</div>
		      	</div>
		    </li>
		{{/icon-editorial}}
  	</ul>

</div>