{{> styles-link-skip-to-main-content }}
{{> patterns-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">
  
  <div class="pt-lg-8">
  {{> patterns-content-header}}
  </div>

  <div class="region-content pt-0">

    <div class="container">

      <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12{{# sidebarRight }} col-lg-7{{/ sidebarRight}}{{^ sidebarRight}} col-lg-6{{/ sidebarRight}}">
          <header class="content-header mt-4 mt-lg-0">
            {{# header-back-link}}
            <div class="header-back-link">
              {{> styles-link-list-element("has-icon": true, "icon-right": false, "link-label": "Tous les articles", icon: "icon-arrow-left")}}
            </div>
            {{/ header-back-link}}

            <h1>{{ heading }}</h1>

            {{# has-badges}}
            <div class="badges-container">
              {{# badges}}
              {{> components-badge}}
              {{/ badges}}
            </div>
            {{/ has-badges}}

            <div class="d-flex flex-wrap">
              {{# publicationDate}}
              <div class="publication-date">
                Mis à jour le <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>
              </div>
              {{/ publicationDate}}
              {{# readTime}}
                {{> styles-icon-item(icon-name: "icon-dot-interpunct")}}
              <div class="publication-date">{{readTime}}</div>
              {{/ readTime}}
            </div>
          </header>
          
          <div class="lead content-module-stacked">
            {{{ lead }}}
          </div>

          {{# module-content}}
          <div class="content-modules">
          {{> templates-citoyens-article-content}}
          </div>
          {{/ module-content}}

          <div class="content-module-stacked">
            <div class="font-size-base-interface">
              <span class="mr-1">Publié par</span><a href="#">Unité administrative</a>, <a href="#">Arrondissement</a>, <a href="#">Arrondissement</a>
            </div>
          </div>

        </div>

        {{# sidebarRight}}
        <aside class="col-12 col-lg-4" role="complementary">
          {{> templates-citoyens-sidebar-article}}
        </aside>
        {{/ sidebarRight}}

      </section>

      <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12{{# sidebarRight }} col-lg-7{{/ sidebarRight}}{{^ sidebarRight}} col-lg-6{{/ sidebarRight}}">
        {{> components-feedback-form}}
        </div>
      </section>

    </div>
  </div>
</main>

{{> patterns-footer-portal }}
