<div class="pl-button">
  {{> styles-button(buttonClass: "btn-primary btn-lg", buttonText: "Primary")}}
  {{> styles-button(buttonClass: "btn-lg", buttonText: "Default")}}
  {{> styles-button(buttonClass: "btn-primary-red btn-lg", buttonText: "Primary red")}}
  {{> styles-button(buttonClass: "btn-secondary  btn-lg", buttonText: "Secondary")}}
  {{> styles-button(buttonClass: "btn-tertiary btn-lg", buttonText: "Tertiary / Button link ")}}
</div>

<div class="pl-button pl-gray-900 px-2 pt-4 pb-2">
  {{> styles-button(buttonClass: "btn-primary btn-light btn-lg", buttonText: "Primary light")}}
  {{> styles-button(buttonClass: "btn-primary-red btn-light btn-lg", buttonText: " Primary red light")}}
  {{> styles-button(buttonClass: "btn-secondary  btn-light btn-lg", buttonText: "Secondary light")}}
  {{> styles-button(buttonClass: "btn-tertiary btn-light btn-lg", buttonText: "Tertiary / Button link light")}}
</div>
