<div class="pl-button">
  {{> styles-button(buttonClass: "btn-primary", buttonText: "Primary button")}}
  {{> styles-button(buttonClass: "btn-primary-red", buttonText: "Primary red button")}}
  {{> styles-button(buttonClass: "btn-secondary", buttonText: "Secondary light button")}}
  {{> styles-button(buttonClass: "btn-link", buttonText: "Tertiary button")}}
</div>

<div class="pl-button pl-gray-900 px-2 pt-4 pb-2">
  {{> styles-button(buttonClass: "btn-primary btn-light", buttonText: "Primary light button")}}
  {{> styles-button(buttonClass: "btn-primary-red btn-light", buttonText: " Primary red ligth button")}}
  {{> styles-button(buttonClass: "btn-secondary btn-ligth", buttonText: "Secondary light button")}}
  {{> styles-button(buttonClass: "btn-link btn-ligth", buttonText: "Tertiary light button")}}
</div>