<h4 class="pl-pattern-subtitle">Large</h4>
<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary btn-lg", buttonText: "Primary button")}}
  {{> components-button(buttonClass: "btn-secondary btn-lg", buttonText: "Secondary button")}}
  {{> components-button(buttonClass: "btn-promo btn-lg", buttonText: "Promo button")}}
  {{> components-button(buttonClass: "btn-primary btn-lg", buttonText: "Disabled button", buttonState: "disabled")}}
  {{> components-button(buttonClass: "btn-link btn-lg", buttonText: "Tertiary button")}}
</div>

<h4 class="pl-pattern-subtitle">Default</h4>
<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary", buttonText: "Primary button")}}
  {{> components-button(buttonClass: "btn-secondary", buttonText: "Secondary button")}}
  {{> components-button(buttonClass: "btn-promo", buttonText: "Promo button")}}
  {{> components-button(buttonClass: "btn-primary", buttonText: "Disabled button", buttonState: "disabled")}}
  {{> components-button(buttonClass: "btn-link", buttonText: "Tertiary button")}}
</div>

<h4 class="pl-pattern-subtitle">Small</h4>
<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary btn-sm", buttonText: "Primary button")}}
  {{> components-button(buttonClass: "btn-secondary btn-sm", buttonText: "Secondary button")}}
  {{> components-button(buttonClass: "btn-promo btn-sm", buttonText: "Promo button")}}
  {{> components-button(buttonClass: "btn-primary btn-sm", buttonText: "Disabled button", buttonState: "disabled")}}
  {{> components-button(buttonClass: "btn-link btn-sm", buttonText: "Tertiary button")}}
</div>

<h4 class="pl-pattern-subtitle">Squared default</h4>
<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary btn-squared", buttonText: "Primary button")}}
  {{> components-button(buttonClass: "btn-secondary btn-squared", buttonText: "Secondary button")}}
  {{> components-button(buttonClass: "btn-primary btn-squared", buttonText: "Disabled button", buttonState: "disabled")}}
  {{> components-button(buttonClass: "btn-link btn-squared", buttonText: "Tertiary button")}}
</div>

<h4 class="pl-pattern-subtitle">Squared small</h4>
<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary btn-squared btn-sm", buttonText: "Primary button")}}
  {{> components-button(buttonClass: "btn-secondary btn-squared btn-sm", buttonText: "Secondary button")}}
  {{> components-button(buttonClass: "btn-primary btn-squared btn-sm", buttonText: "Disabled button", buttonState: "disabled")}}
  {{> components-button(buttonClass: "btn-link btn-squared btn-sm", buttonText: "Tertiary button")}}
</div>
