<div class="pl-button">
  {{> styles-button(buttonClass: "btn-primary btn-sm", buttonText: "Primary button")}}
  {{> styles-button(buttonClass: "btn-primary-red btn-sm", buttonText: "Primary red button")}}
  {{> styles-button(buttonClass: "btn-secondary btn-sm", buttonText: "Secondary light button")}}
  {{> styles-button(buttonClass: "btn-link btn-sm", buttonText: "Tertiary button", buttonState: "disabled")}}
</div>

<div class="pl-button pl-gray-900 px-2 pt-4 pb-2">
  {{> styles-button(buttonClass: "btn-primary btn-light btn-sm", buttonText: "Primary light button")}}
  {{> styles-button(buttonClass: "btn-primary-red btn-light btn-sm", buttonText: " Primary red button")}}
  {{> styles-button(buttonClass: "btn-secondary btn-light btn-sm", buttonText: "Secondary light button")}}
  {{> styles-button(buttonClass: "btn-link btn-light btn-sm", buttonText: "Tertiary light button")}}
</div>