<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary btn-lg", buttonText: "Primary large button")}}
  {{> components-button(buttonClass: "btn-secondary btn-lg", buttonText: "Secondary large button")}}
  {{> components-button(buttonClass: "btn-primary btn-lg", buttonText: "Disabled large button", buttonState: "disabled")}}
  {{> components-button(buttonClass: "btn-link btn-lg", buttonText: "Button large link")}}
</div>

<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary", buttonText: "Primary button")}}
  {{> components-button(buttonClass: "btn-secondary", buttonText: "Secondary button")}}
  {{> components-button(buttonClass: "btn-primary", buttonText: "Disabled button", buttonState: "disabled")}}
  {{> components-button(buttonClass: "btn-link", buttonText: "Button link")}}
</div>

<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary btn-sm", buttonText: "Primary small button")}}
  {{> components-button(buttonClass: "btn-secondary btn-sm", buttonText: "Secondary small button")}}
  {{> components-button(buttonClass: "btn-primary btn-sm", buttonText: "Disabled small button", buttonState: "disabled")}}
  {{> components-button(buttonClass: "btn-link btn-sm", buttonText: "Button link")}}
</div>

