<h4 class="pl-pattern-subtitle">Shape</h4>
<div class="pl-button pl-mb-0">
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-xs", buttonIconSr: true, buttonIconSrText: "Hidden label on xs breakpoint", buttonText: "Hidden label XS", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-sm", buttonIconSr: true, buttonIconSrText: "Hidden label on sm breakpoint", buttonText: "Hidden label SM", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-md", buttonIconSr: true, buttonIconSrText: "Hidden label on md breakpoint", buttonText: "Hidden label MD", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-lg", buttonIconSr: true, buttonIconSrText: "Hidden label on lg breakpoint", buttonText: "Hidden label LG", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-xl", buttonIconSr: true, buttonIconSrText: "Hidden label on xl breakpoint", buttonText: "Hidden label XL", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
</div>
<div class="pl-button">
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-hide-label-xs", buttonIconSr: true, buttonIconSrText: "Hidden label on xs breakpoint", buttonText: "Hidden label XS", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-hide-label-sm", buttonIconSr: true, buttonIconSrText: "Hidden label on sm breakpoint", buttonText: "Hidden label SM", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-hide-label-md", buttonIconSr: true, buttonIconSrText: "Hidden label on md breakpoint", buttonText: "Hidden label MD", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-hide-label-lg", buttonIconSr: true, buttonIconSrText: "Hidden label on lg breakpoint", buttonText: "Hidden label LG", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-hide-label-xl", buttonIconSr: true, buttonIconSrText: "Hidden label on xl breakpoint", buttonText: "Hidden label XL", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
</div>

<h4 class="pl-pattern-subtitle">Size</h4>
<div class="pl-button pl-mb-0">
  {{> components-button-icon(buttonClass: "btn-primary btn-lg btn-icon-left btn-squared btn-hide-label-xs", buttonIconSr: true, buttonIconSrText: "Hidden label on xs breakpoint", buttonText: "Hidden label XS", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-lg btn-icon-left btn-squared btn-hide-label-sm", buttonIconSr: true, buttonIconSrText: "Hidden label on sm breakpoint", buttonText: "Hidden label SM", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-lg btn-icon-left btn-squared btn-hide-label-md", buttonIconSr: true, buttonIconSrText: "Hidden label on md breakpoint", buttonText: "Hidden label MD", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-lg btn-icon-left btn-squared btn-hide-label-lg", buttonIconSr: true, buttonIconSrText: "Hidden label on lg breakpoint", buttonText: "Hidden label LG", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-lg btn-icon-left btn-squared btn-hide-label-xl", buttonIconSr: true, buttonIconSrText: "Hidden label on xl breakpoint", buttonText: "Hidden label XL", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
</div>
<div class="pl-button pl-mb-0">
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-xs", buttonIconSr: true, buttonIconSrText: "Hidden label on xs breakpoint", buttonText: "Hidden label XS", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-sm", buttonIconSr: true, buttonIconSrText: "Hidden label on sm breakpoint", buttonText: "Hidden label SM", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-md", buttonIconSr: true, buttonIconSrText: "Hidden label on md breakpoint", buttonText: "Hidden label MD", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-lg", buttonIconSr: true, buttonIconSrText: "Hidden label on lg breakpoint", buttonText: "Hidden label LG", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left btn-squared btn-hide-label-xl", buttonIconSr: true, buttonIconSrText: "Hidden label on xl breakpoint", buttonText: "Hidden label XL", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
</div>
<div class="pl-button">
  {{> components-button-icon(buttonClass: "btn-primary btn-sm btn-icon-left btn-squared btn-hide-label-xs", buttonIconSr: true, buttonIconSrText: "Hidden label on xs breakpoint", buttonText: "Hidden label XS", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-sm btn-icon-left btn-squared btn-hide-label-sm", buttonIconSr: true, buttonIconSrText: "Hidden label on sm breakpoint", buttonText: "Hidden label SM", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-sm btn-icon-left btn-squared btn-hide-label-md", buttonIconSr: true, buttonIconSrText: "Hidden label on md breakpoint", buttonText: "Hidden label MD", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-sm btn-icon-left btn-squared btn-hide-label-lg", buttonIconSr: true, buttonIconSrText: "Hidden label on lg breakpoint", buttonText: "Hidden label LG", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-sm btn-icon-left btn-squared btn-hide-label-xl", buttonIconSr: true, buttonIconSrText: "Hidden label on xl breakpoint", buttonText: "Hidden label XL", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
</div>