<h4 class="pl-pattern-subtitle">Shape</h4>
<div class="pl-button pl-mb-0">
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-swap-label-xs", buttonText: "Swap label XS", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-swap-label-sm", buttonText: "Swap label SM", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-swap-label-md", buttonText: "Swap label MD", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-swap-label-lg", buttonText: "Swap label LG", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-swap-label-xl", buttonText: "Swap label XL", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
</div>
<div class="pl-button pl-mb-0">
  {{> components-button-icon(buttonClass: "btn-primary btn-swap-label-xs", buttonText: "Swap label XS", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-swap-label-sm", buttonText: "Swap label SM", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-swap-label-md", buttonText: "Swap label MD", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-swap-label-lg", buttonText: "Swap label LG", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-swap-label-xl", buttonText: "Swap label XL", icon-name: "icon-help", buttonIcon: true, dataToggle: false, dataTarget: false)}}
</div>
