<button type="{{ buttonType }}" class="btn {{ buttonClass }}" {{# ariaLabel}} aria-label="{{ariaLabel}}"{{/ ariaLabel}}{{ buttonState }}{{# dataToggle }} data-toggle="{{dataToggle}}"{{/ dataToggle}}{{# dataTarget }} data-target="{{dataTarget}}"{{/ dataTarget}}{{# dataExtras}} {{{dataExtras}}}{{/ dataExtras}}>
  {{# buttonIcon }}
    <span class="icon {{icon-name}}" aria-hidden="true"></span>
  {{/ buttonIcon}}
  {{# buttonIconSr }}
  <span class="sr-only">{{buttonIconSrText}}</span>
  {{/ buttonIconSr}}
  {{# buttonText }}
    <span class="btn-label">{{ buttonText }}</span>
  {{/ buttonText}}
</button>
