{{> styles-skip-link }}

{{> components-navbar-interne }}

<main class="main-content {{ pageClasses }} mx-md-2" id="main-content" aria-label="Main Content">
  <div class="container-fluid {{ regionMainContainerClasses }}">
    {{> patterns-content-header-employes }}
    <div class="row">
      <div class="{{ regionMainContentClasses }}">
        {{# module-alert}}{{> components-alert }}{{/ module-alert}}

        {{# module-filters}}
        <div class="row no-gutters">
          {{# searchInput}}
          <div class="col-auto">
            {{> components-input-icon}}
          </div>
          {{/ searchInput}}
          {{# buttonFilter}}
          <div class="col-auto ml-auto">
            {{> components-button-icon}}
          </div>
          {{/ buttonFilter}}
        </div>
        {{/ module-filters}}
      </div>
    </div>
  </div>
</main>
