{{> styles-link-skip-to-main-content }}

{{> components-navbar-interne }}

{{> patterns-content-header-employes }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <div class="container-fluid {{ regionMainContainerClasses }}">
    <div class="row">
      <div class="{{ regionMainContentClasses }}">
        {{> components-alert(
            alertClass: "alert-warning alert-with-icon alert-dismissible fade show",
            alertTitle: "Warning!",
            alertText: "Close Me! This is a dismissible warning alert.",
            alertIcon: true,
            icon-name: "icon-warning",
            dismissableAlert: true
          )
        }}
        {{> styles-paragraph }}
      </div>
    </div>
  </div>
</main>
