<!-- @see also organisms-combo-box-sidebar-variants -->
<section class="sb-block">

    {{> atoms-heading-sidebar }}

    {{> atoms-sidebar-list }}

    {{# social-media-list }}
        {{> atoms-horizontal-divider }}
        {{> atoms-social-media-icons-shortlist }}
    {{/ social-media-list }}
</section>

{{# arrow-blocks-list }}
<section class="sb-block stroke stroke-fw stroke-top">
    {{> atoms-sidebar-list-arrow-blocks }}
</section>
{{/ arrow-blocks-list }}


{{# labels-list }}
<section class="sb-block ">
    {{> atoms-sidebar-list-inline }}
</section>
{{/ labels-list }}


