<h2>Transactions les plus populaires</h2>
<div class="vdm-cards-wrapper">
    <ul class="vdm-cards grid-type-grid {{ transactionCardsThumbClasses }}">
        {{# listItems.eight }}
            {{> molecules-transaction-card-block }}
        {{/ listItems.eight }}
    </ul>
</div>