<h2>Toutes les demandes</h2>
<form>
    <div class="row">
        <div class="col">
            {{> atoms-input }}
        </div>
        <div class="col">
            {{> atoms-select }}
        </div>
    </div>
</form>