<div class="vdm-teasers-wrapper">
    <ul class="vdm-teasers {{ transactionTeasersArrowClasses }}">
        {{# listItems.eight }}
            {{> molecules-transaction-teaser-block }}
        {{/ listItems.eight }}
    </ul>
</div>