<h2>Plus d'informations</h2>

<div class="row">
{{# link-box }}
  <div class="col-lg-4 col-md-6 link-box">
    <a href="{{ url }}">
      <div class="link-box-content">
        <span class="text">{{ link-label }}</span>
        {{> atoms-fonticon-item( icon-label: "fleche-droite") }}
      </div>
    </a>
  </div>
{{/ link-box }}
</div>
