// Base class

.badge {
  background-color: $neutral-underground-2;
  border: 1px solid transparent;
  color: $gray-900;

  &.badge-dark {
    background-color: $gray-900;
    color: $white;
  }
  &.badge-primary {
    background-color: $primary;
    color: $white;
  }
  &.badge-secondary {
    color: $primary;
    background-color: $white;
    border: 1px solid $neutral-stroke;
  }

  &.badge-icon {
    svg {
      fill: currentColor;
      width: 16px;
      height: 16px;
    }
  }

  &[href] {
    @include hover-focus {
      border: 1px solid $primary;
      color:$primary;
      background-color: $highlight-light;
    }
  }

}

@each $label, $map in $dialog-colors {
  $color-dark: map-get($map, dark);
  $color-light: map-get($map, light);
  $color-base: map-get($map, base);
  
  .badge-#{$label} {
    color: $white;
    background-color: $color-base;

    &[href] {
      @include hover-focus {
        color: $color-dark;
        background-color: $color-light;
        border: 1px solid $color-dark;
      }
    }
  }
}

