// Breadcrumb
.breadcrumb {
  @include font-size($font-size-base);
  li {
    padding-bottom: 0;
  }
  a {
    border: none;
    color: $gray-700;
    font-weight: $font-weight-bold;
    @include transition(color .15s ease-in-out);
    &:hover {
      color: $action-lighter;
    }
  }

  // Light version to be used on dark background
  &.breadcrumb-light {
    a {
      color: $white;
      &:hover {
        color: $action-lighter;
      }
    }
    .breadcrumb-item {
      &::before {
        color: $white;
      }
    }
  }
}
