.breadcrumb-container {
  margin-bottom: 2rem;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.breadcrumb-item {
  display: inline-flex;
  @include font-size($font-size-xs);
  line-height: $line-height-xs;

  // The separator between breadcrumbs (chevron-right)
  + .breadcrumb-item {
    padding-left: $breadcrumb-item-padding;

    &::before {
      padding: 0;
      margin-right: $breadcrumb-item-padding;
      @include icon-color($breadcrumb-divider-color);
      -webkit-mask: url($data-icon-chevron-right) no-repeat 50% 50%;
		  mask: url($data-icon-chevron-right) no-repeat 50% 50%;
		  width: 16px;
		  height: 16px;
      content: '';
      display: inline-block;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $breadcrumb-divider-color;
    }
  }

  a {
    border: none;
    text-decoration: none;
    color: $neutral-secondary;
    font-weight: $font-weight-bold;
    @include font-size($font-size-xs);
    line-height: $line-height-xs;
    text-transform: uppercase;

    @include hover-focus {
      background-color: transparent;
      color: $breadcrumb-active-color;
    }
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}
