// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

button {
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
  .vdm {
    color: inherit;
    font-size: 2rem;
    margin-left: -1.5rem;
    margin-right: .5rem;
    margin-top: -4px;
    margin-bottom: -4px;
    &.vdm-right {
      margin-left: .5rem;
      margin-right: -1.5rem;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;
  &:not(:disabled):not(.disabled) {
    @include hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
      background-color: transparent;
    }
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

// We provide onlye 2 buttons styles with some variants
// Primary, secondary
.btn-primary {
  @include button-variant($background: $primary, $border: $primary, $color: $white);
}

.btn-secondary {
  @include button-variant($background: transparent, $border: $primary, $color: $primary, $hover-background: transparent, $hover-border: $sarcelle-surprise, $hover-color: $sarcelle-surprise, $active-background: $sarcelle-surprise, $active-border: $sarcelle-surprise, $active-color: $white);
}

//
.btn-light {
  &.btn-primary {
    @include button-variant($background: $sarcelle-atmos, $border: $sarcelle-atmos, $color: $black, $hover-background: $sarcelle-surprise, $hover-border: $sarcelle-surprise, $hover-color: $black, $active-color: $white);
  }
  &.btn-secondary {
    @include button-variant($background: transparent, $border: $sarcelle-atmos, $color: $sarcelle-atmos, $hover-background: transparent, $hover-border: $sarcelle-surprise, $hover-color: $sarcelle-surprise, $active-color: $white);
  }
}

.btn-inverse {
  &.btn-primary {
    @include button-variant($background: $white, $border: $white, $color: $sarcelle, $hover-background: $sarcelle-surprise, $hover-border: $sarcelle-surprise, $hover-color: $sarcelle, $active-color: $white);
  }
  &.btn-secondary {
    @include button-variant($background: transparent, $border: $white, $color: $white, $hover-background: transparent, $hover-border: $sarcelle-surprise, $hover-color: $sarcelle-surprise, $active-color: $white);
  }
}

[class*="btn-"] {
  &:disabled,
  &.disabled {
   @include button-variant($gray-300, $gray-300, $hover-background: $gray-300, $hover-border: $gray-300, $active-background: $gray-300, $active-border: $gray-300);
  }
}

//
// Button Small variant
//

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  border-width: 2px;
  .vdm {
    color: inherit;
    font-size: 1.5rem;
    margin-left: -1.25rem;
    margin-right: .25rem;
    margin-top: -3px;
    margin-bottom: -3px;
    &.vdm-right {
      margin-left: .25rem;
      margin-right: -1.25rem;
    }
  }
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Link button

.btn-link {
  border-bottom: 1px solid $sarcelle-atmos;
  border-radius: 0;
  padding: 0;
  &:hover {
    border-bottom: 1px solid $sarcelle-atmos;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Make the div behave like a button
.btn-group-sm,
.btn-group-vertical-sm {
  // Prevent double borders when buttons are next to each other
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }
}

// Icon only buttons

.btn-notification {
  background: $danger;
  padding: 0;
  @include size(50px);
  .vdm {
    font-size: 1.5rem;
    margin: 0;
    color: $white;
    margin: auto;
  }
  @include hover {
    background-color: theme-color-level(danger, 2);
  }
  &.focus,
  &:focus {
    @include box-shadow(none);
  }
}

// Button close

// Slide menu close button
.btn-close {
  @include button-reset();
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: $gray-600;
  margin: 0;
  padding: .5rem;
  .vdm {
    color: inherit;
    font-size: 1.5rem;
  }
  .btn-label {
    font-size: 1rem;
    margin-left: 1rem;
  }

  @include media-breakpoint-up(sm) {
    .vdm {
      font-size: 2rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .btn-label {
      font-size: $sm-link-font-size;
    }
    .vdm {
      font-size: 2.5rem;
    }
  }
}

.btn-clear {
  @include button-reset();
  pointer-events: inherit;
  cursor: pointer;
}

.btn-close-search {
  @include button-reset();
  pointer-events: inherit;
  cursor: pointer;
  &.focus,
  &:focus {
    @include box-shadow(none);
  }

}

// Buttons
//
// To Do: Review all buttons implementations and theming. No need to overcomplicate this. Build on bootstrap please
//
// DEPRECATED - will be removed in v1.0.0
//
.vdm-btn {
  display: inline-block;
  width: auto;
  padding: $vdm-btn-padding-y $vdm-btn-padding-x;
  border-radius: 2rem;
  background-color: $primary;
  text-align: center;
  font-size: $font-size-base;
  color: $white;
  border: $vdm-btn-border-width solid $primary;
  text-shadow: none;
  margin-right: 0.725em;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  white-space: nowrap;
  background-image: none;
  &:last-of-type {
    margin-right: 0;
  }

  &:active,
  &:hover {
    @include drop-shadow();
    color: $white;
    background-color: $primary;
  }

  &:disabled {
    color: $btn-link-disabled-color;
    border: $vdm-btn-border-width solid $input-disabled-bg;
    background-color: $input-disabled-bg;
    &:active,
    &:hover {
      box-shadow: unset;
      color: $btn-link-disabled-color;
      background-color: $input-disabled-bg;
    }
  }

  &.vdm-btn-secondary {
    color: $primary;
    border: $vdm-btn-border-width solid $primary;
    background-color: $white;

    &:disabled {
      color: $btn-link-disabled-color;
      border: $vdm-btn-border-width solid $input-disabled-bg;
      background-color: $white;

      &:active,
      &:hover {
        box-shadow: unset;
        background-color: $white;
        border: 2px solid $input-disabled-bg;
      }
    }

    &:active,
    &:hover {
      @include drop-shadow(3px, 5px, 11px, 2px, 0, 0, 0, 0.27);
      border: $vdm-btn-border-width solid $white;
      background-color: $white;
    }
  }

  &.vdm-btn-sm {
    font-size: $font-size-sm;
    border-width: 1px;
    padding: $vdm-btn-padding-y-sm $vdm-btn-padding-x-sm;
    &:active,
    &:hover {
      border-width: 1px;
    }
  }

  &.vdm-btn-wide {
    width: 100%;
  }
}

a {
  &.vdm-btn {
    //padding-top: 1em;
    display: inline-block;
    text-decoration: none;
  }
}
