// This stylesheet completely replace bootstrap _buttons.scss

//
// Base styles
//

button {
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    @include box-shadow(none);
    cursor: not-allowed;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  // Icons
  .utility-icon {
    width: 18px;
    height: 18px;
    margin-left: -5px;
    margin-right: 10px;
    path {
      fill: $white;
    }
  }

  // Spinner
  .spinner-border {
    margin-right: 10px;
    @extend .spinner-border-sm;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


// Primary, secondary, promo
.btn-primary {
  @include button-variant($background: $action, $border: $action, $color: $white);
}

.btn-secondary {
  @include button-variant($background: transparent, $border: $neutral-stroke, $color: $action, $hover-background: transparent, $hover-border: $action, $hover-color: $action, $active-background: transparent, $active-border: $action, $active-color: $action);
}

.btn-link,
.btn-tertiary {
  @include button-variant($background: transparent, $border: transparent, $color: $action, $hover-background: $highlight-light, $hover-border: $highlight-light, $hover-color: $action, $active-background: $highlight-light, $active-border: $highlight-light, $active-color: $action);
  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba($highlight-light, .5);
    } @else {
      box-shadow: 0 0 0 $btn-focus-width rgba($highlight-light, .5);
    }
  }
  &.btn-collapse {
    &:after {
      content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Ctitle%3Echevron-up%3C/title%3E%3Cpath fill='%23097d6c' d='M12 11.414l3.293 3.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-4-4c-0.391-0.391-1.024-0.391-1.414 0l-4 4c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l3.293-3.293z'%3E%3C/path%3E%3C/svg%3E");
      vertical-align: middle;
      vertical-align: -webkit-baseline-middle;
      display: inline-block;
    }
    &.collapsed:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Ctitle%3Echevron-down%3C/title%3E%3Cpath fill='%23097d6c' d='M12 12.586l3.293-3.293c0.391-0.391 1.024-0.391 1.414 0s0.391 1.024 0 1.414l-4 4c-0.391 0.391-1.024 0.391-1.414 0l-4-4c-0.391-0.391-0.391-1.024 0-1.414s1.024-0.391 1.414 0l3.293 3.293z'%3E%3C/path%3E%3C/svg%3E");
      vertical-align: middle;
      vertical-align: -webkit-baseline-middle;
      display: inline-block;
    }
  }
}

.btn-promo {
  @include button-variant($background: $brand, $border: $brand, $color: $white, $hover-background: $brand-dark, $hover-border: $brand-dark, $hover-color: $white, $active-background: $brand-dark, $active-border: $brand-dark, $active-color: $white);
}


[class*="btn-"] {
  &:disabled,
  &.disabled {
   @include button-variant($background: $neutral-underground-2, $border: $neutral-underground-2, $color: $neutral-secondary, $hover-background: $neutral-underground-2, $hover-border: $neutral-underground-2, $hover-color: $neutral-secondary, $active-background: $neutral-underground-2, $active-border: $neutral-underground-2, $active-color: $neutral-secondary);
  }
}


// Button Large variant
.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-base, $btn-line-height-lg, $btn-border-radius);
}


// Button Small variant
.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $btn-line-height-sm, $btn-border-radius);
}


// Button squared variant
.btn-squared {
  border-radius:$btn-border-radius-squared;
  padding-left: 1rem;
  padding-right: 1rem; 
}


// Block button
.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Make the div behave like a button
.btn-group-sm,
.btn-group-vertical-sm {
  // Prevent double borders when buttons are next to each other
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }
}

// Button close

// Slide menu close button
.btn-close {
  @include button-reset();
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: $gray-600;
  margin: 0;
  padding: .5rem;
  @include transition($btn-transition);
  .vdm {
    color: inherit;
    @include font-size(1.5rem);
  }
  .button-label {
    @include font-size($font-size-sm);
    margin-left: 1rem;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: $action-lighter;
  }

  @include media-breakpoint-up(sm) {
    .vdm {
      @include font-size(2rem);
    }
  }

  @include media-breakpoint-up(lg) {
    .btn-label {
      @include font-size($slide-menu-link-font-size);
    }
    .vdm {
      @include font-size(2.5rem);
    }
  }
}

.btn-clear {
  @include button-reset();
  pointer-events: inherit;
  cursor: pointer;
}

.btn-quit {
  @include button-reset();
  pointer-events: inherit;
  color: $headings-color;
  cursor: pointer;
  padding: 0;
  .button-label {
    margin-right: .5rem;
  }
  .vdm {
    color: inherit;
    @include font-size(2rem);
    margin-left: 0;
    margin-right: 0;
  }

  &:not(:disabled):not(.disabled) {
    @include hover {
      color: $action-lighter;
    }
  }
  &.focus,
  &:focus {
    box-shadow: none;
  }
}

.btn-close-search {
  @include button-reset();
  pointer-events: inherit;
  cursor: pointer;
  &.focus,
  &:focus {
    @include box-shadow(none);
  }
}


// Utility class to hide button-icon label
@each $breakpoint, $value in $grid-breakpoints {
  // Hide button label at small breakpoint
  &.btn-hide-label-#{$breakpoint} {
    @include media-breakpoint-down($breakpoint) {
      .utility-icon {
        margin-left: -5px;
        margin-right: -5px;
      }
      .btn-label {
        display: none;
      }
    }
  }
}
