.carousel-control-prev, 
.carousel-control-next {
  	opacity: 1;
  	border:none;
    margin-bottom: 40px;

  	@include hover-focus {
    	background: transparent;
    	border:none;
    	opacity: 0.6;
  	}
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    width: 48px;
    height: 48px;
	  background-color: $white;
    background-image: none;
    border-radius: 48px;

   	svg {
   		margin-top: 12px;
   		fill: $primary;
   	}
}

.carousel-caption {
  bottom: 0px;
	text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: $line-height-sm;
  top: 0px;
  height: 40px;
  position: relative;

  p {
    font-size: $font-size-sm;
    color: $neutral-secondary;
  }
}
