/**
 * Generic cards styles and variants
 * Built on bootstrap card component 
 */
.card {
  display: flex;
  font-weight: $font-weight-regular;
  margin-bottom: $grid-gutter-width;
  width: 100%;

  .card-icon-top {
    padding: 2rem 2rem 0 2rem;
    margin-bottom: -1rem;
    .icon {
      @include icon-size(40px);
      @include icon-color($neutral-tertiary);
    }
  }
  .card-img-top {
    flex: 0 0 auto; // IE needs this
    margin: -1px;
    width: calc(100% + 2px); // Add the 2px from the negative margins to overlap border
    @include border-top-radius($border-radius);
  }

  .card-img-bottom {
    @include border-bottom-radius($border-radius);
  }

  // Used to provide variable height images
  .card-img-bg {
    background-size: cover;
    background-position: center center;
    position: relative;
    width: calc(100% + 2px); // Add the 2px from the negative margins to overlap border
    margin: -1px;
    @include border-top-radius($border-radius);

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;  /* 16:9 format = 0.5625 */
    }

    // Placeholder is a mix of a background image and an icon
    .icon {
      position: absolute;
      top: 50%;
      margin-top: -2.5rem;
      left: 50%;
      margin-left: -2.5rem;
      @include icon-size(5rem);
      @include icon-color($action-lighter);
    }
  }

  .card-body {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    // remove margin-bottom on last-child of card-body
    > :last-child {
      margin-bottom: 0;
    }
  }

  // Card type
  .card-type {
    font-weight: $font-weight-bold;
    @include font-size($font-size-xs);
    line-height: $line-height-xs;
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

  // Card title
  .card-title {
    @include font-size($h4-font-size);
    line-height: $line-height-lg;
    color: $neutral-primary;
    display: block;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Card text-interface
  // smaller line-height
  .card-text-interface {
    line-height: $line-height-md;
  }

  // Deprecated
  // Use card-text-interface
  .card-date-text,
  .card-publication-date {
    line-height: $line-height-md;
  }

  .card-text-sticky-bottom,
  .card-text-interface,
  .card-date-text,
  .card-publication-date,
  .card-link {
    margin-top: auto;
  }

  .card-link {
    color: $action;
    display: inline-flex;
    font-weight: $font-weight-bold;
    line-height: $line-height-md;
    .icon {
      @include icon-color($action);
      margin-left: .25rem;
    }
  }

  // Card full-width
  // Images are handeld like list-group-links using
  // variable height image technique (bg-image)
  &.card-fw {
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      .card-img-bg {
        @include make-col(4);
        @include border-radius(0);
        @include border-left-radius($border-radius);
      }
      .card-body-wrapper {
        @include make-col(8);
        align-self: center;
      }
      .card-body {
        align-self: flex-start;
        width: 100%;
      }
      .card-title {
        @include font-size($h3-font-size);  // 24/32
        line-height: 2rem;
      }

    }
  }

  // Card Document
  //
  &.card-document {
    .card-img {
      width: 198px;
      @include border-radius(0);
      border: $card-border-width solid $card-border-color;
      margin: 2rem auto 0 auto;
    }

    .card-body-wrapper {
      width: 100%;
    }

    // 576px and up
    @include media-breakpoint-up(sm) {
      .card-img {
        margin: 2rem 0 2rem 2rem;
      }
      .card-body-wrapper {
        display: flex;
        flex: 1;
        max-width: 100%;
        align-self: flex-start;
        width: auto;
      }
      .card-body {
        width: auto;
      }
    }
  }

  // Card Date
  &.card-date {
    // Card type
    .card-type {
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
      margin-bottom: 1rem;
      text-transform: none;
      &:after {
        content: "";
        background-color: $brand;
        display: block;
        width: 2rem;
        height: .125rem;
        margin-top: 1rem;
      }
    }
    // Optionnal bottom link-label
    .card-link {
      color: $action;
      display: inline-flex;
      font-weight: $font-weight-bold;
      line-height: $line-height-md;
      padding-top: 1rem;
    }
  }

  // Card profile
  &.card-profile,
  &.card-member {
    text-align: center;
    .card-img-top {
      margin: 2rem auto 0 auto;
      width: 10rem;
      height: auto;
      max-width: 10rem;
    }
    .card-body {
      *:last-child {
        margin-bottom: 0;
      }
    }
    .card-title {
      @include font-size($h3-font-size);  // 24/32
      line-height: 2rem;
    }
  }

  // Featured member
  &.card-profile {
    &.card-fw-profile {
      width: 100%;
      text-align: center;
      .card-img-top {
        max-width: 256px;
      }
      .rounded-circle {
        margin: 2rem auto 0 auto;
      }

      .card-link {
        margin-top: 0;
        justify-content: center;
      }

      // @tablet
      @include media-breakpoint-up(md) {
        text-align: left;
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-flow: row;
        .card-img-container {
          @include make-col(3);
          @include make-col-offset(1);
          order: 2;
          align-self: center;
          .card-img-top {
            margin: 0;
            width: 100%;
            max-width: 16rem;
          }
        }
        .card-body {
          @include make-col(6);
          @include make-col-offset(1);
          order: 1;
          padding-left: 0;
          padding-right: 0;
        }
        // Bigger title
        .card-title {
          @include font-size($h2-font-size);
          line-height: 2.5rem;
          margin-bottom: 2rem;
        }
        .card-link {
          margin-top: 1rem;
          justify-content: left;
        }
      }
      @include media-breakpoint-up(lg) {
        padding-top: 4rem;
        padding-bottom: 4rem;
        .card-img-container {
          @include make-col(3);
          @include make-col-offset(1);
          .card-img-top {
            margin: 0;
            width: 100%;
            max-width: 256px;
          }
        }
        .card-body {
          padding: 0;
          justify-content: center;
        }

        // Bigger title
        .card-title {
          @include font-size($h1-font-size);
          line-height: 3.5rem;
          margin-bottom: 2rem;
        }
      }
    }
  }


  // Featured card specific
  &.card-multi,
  &.card-featured {
    border: none;
    @include border-radius(0);
    border-bottom: 1px solid $neutral-stroke;
    .card-img-bg,
    .card-img-top {
      @include border-radius(0);
      margin: 0;
      width: 100%;
    }

    .card-body {
      .card-title {
        @include font-size($h3-font-size);  // 24/32
        line-height: 2rem;
        margin-bottom: 1rem;
      }
      .card-link {
        color: $action;
        display: inline-flex;
        font-weight: $font-weight-bold;
        line-height: $line-height-md;
        .icon {
          @include icon-color($action);
          margin-left: .25rem;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .card-body {
        position: relative;
        margin-top: -4rem;
        z-index: 1;
        padding-right: 6rem;
  
        &:before {
          content: "";
          height: 4rem;
          width: calc(100% - 4rem);
          background-color: $card-bg;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }
      .card-img-bg {
        height: 100%;
        order: 100;
        @include border-radius(0);
      }

      [class*="col-"] {
        &:first-child {
          padding-left: $grid-gutter-width/2;
        }
        &:last-child {
          padding-right: $grid-gutter-width/2;
        }
        
      }
    }
    // Invert Image and body Order on larger breakpoint
    &.card-multi-inv,
    &.card-featured-inv {
      @include media-breakpoint-up(lg) {
        .card-img-bg {
          order: -1;
          @include border-radius(0);
        }
      }
    }
    // Bigger multi-lg card
    &.card-multi-lg,
    &.card-featured-lg {
      .card-body {
        height: 100%; // Force to take 100% of parent
        position: relative;
        margin-top: 0;
        z-index: 1;

        &:before {
          content: none;
        }
      }

      @include media-breakpoint-up(lg) {
        border: none;
        .card-body {
          border-bottom: 1px solid $neutral-stroke;
          padding-right: 2rem;

          .card-title {
            @include font-size($h2-font-size);  // 32/40
            line-height: 2.5rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

// Set interactivity on linked card
a.card {
  color: inherit;
  @include hover-focus {
    background-color: $card-bg;
    border: $card-border-width solid transparent;
    box-shadow: $card-box-shadow;
    .icon {
      @include icon-color($primary);
    }
    .card-icon-top,
    .card-img-placeholder,
    .img-placeholder {
      .icon {
        @include icon-color($action-lighter);
      }
    }
    .card-title {
      color: $action;
    }
  }
  &:focus,
  &.focus {
    box-shadow: $card-box-shadow, $input-btn-focus-box-shadow;
  }

  &.card-multi,
  &.card-featured {
    @include hover-focus {
      border: none;
      border-bottom: $card-border-width solid transparent;
    }
  }

  &.card-multi-lg,
  &.card-featured-lg {
    @include media-breakpoint-up(lg) {
      @include hover-focus {
        border: none;
        .card-body {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

// Generic flex capacity for equalheight
.cards {
  > div,
  .card-item {
    display: flex; // must add flex capacity to col to get equalheight
  }
}


// We handle full-width differently based on the grid size
[class^="col-"][class$="-6"],
[class^="col-"][class$="-7"],
[class^="col-"][class$="-8"] {
  .card {
    &.card-fw {
      @include media-breakpoint-up(md) {
        .card-img-bg {
          @include make-col(5);
        }
        .card-body-wrapper {
          @include make-col(7);
        }
        .card-title {
          @include font-size($h4-font-size);
          line-height: $line-height-lg;
        }
      }
    }
  }
}

// Col-4
// Gives a card-body smaller padding
[class^="col-"][class$="-3"] {
  @include media-breakpoint-up(lg) {
    .card {
      .card-body {
        padding: 1rem;
      }
    }
  }
}
