// Base class
//

.chip {
  color: $chip-color;
  background-color: $chip-background-color;
  display: flex;
  align-items: center;
  font-weight: $chip-font-weight;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $chip-border-width solid $chip-border-color;
  @include chip-size($chip-padding-y, $chip-padding-x, $font-size-sm, $line-height-sm);
  @include border-radius($chip-border-radius);
  @include transition($chip-transition);
  @extend .text-truncate;

  &:after,
  .icon {
    margin-right: -.5rem;
  }

  &:after {
    background-color: $neutral-tertiary;
    @include transition($chip-transition);
  }

  .chip-label {
    display: inline-block;
    @extend .text-truncate;
  }

  .icon {
    margin-top: -.1875rem;
    margin-bottom: -.1875rem;
    margin-left: .5rem;
    &:before {
      @include transition($chip-transition);
    }
  }

  &.chip-max-width {
    max-width: 295px;
  }

  &:hover,
  &:focus {
    color: $chip-hover-color;
    background-color: $chip-hover-background-color;
    text-decoration: none;
    border-bottom-color: $chip-border-color;

    &:after {
      background-color: $chip-hover-color;
    }
    .icon {
      @include icon-color($chip-hover-color);
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    color: $chip-disabled-color;
    border-color: $chip-disabled-border-color;
    background-color: transparent;

    &:after {
      background-color: $chip-disabled-color;
    }
    .icon {
      @include icon-color($chip-disabled-color);
    }
  }

  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      color: $chip-hover-color;
      background-color: $chip-hover-background-color;
      &:after {
        background-color: $chip-hover-color;
      }

      .icon {
        @include icon-color($action);
      }

      &:focus {
        box-shadow: $btn-focus-box-shadow;
      }
    }
  }

}

// Chip Small variant
.chip-sm {
  @include chip-size($chip-padding-y-sm, $chip-padding-x-sm, $font-size-xs, $line-height-xs);

  // Icons handling
  &:after,
  .icon {
    margin-right: -.5rem;
  }
  &:after,
  .icon::before {
    width: 1rem;
    height: 1rem;
  }
  .icon {
    margin-top: -.1875rem;
    margin-bottom: -.1875rem;
    margin-left: .5rem;
  }
}

// Deprecated: v4.21.0
// Chip XSmall variant
.chip-xs {
  @include chip-size($chip-padding-y-xs, $chip-padding-x-xs, $font-size-xs, $line-height-xs);

  // Icons handling
  &:after,
  .icon {
    margin-right: -.25rem;
    margin-left: .25rem;
  }

  &:after,
  .icon::before {
    width: 1rem;
    height: 1rem;
  }

  .icon {
    margin-top: -.1875rem;
    margin-bottom: -.1875rem;
  }
}

// Handle chips horizontal spacing inside container
.chip-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: -.25rem;
  margin-bottom: -.25rem;
  > .chip,
  > .dropdown .chip {
    margin-right: .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}
