/**
 * Collector pages styles
 * Block level elements
 *
 * Question : should cards and teasers be migrated in there?
 *
 */

// Block level units
// - - - - - - - - - - - -

// Date lists
// A list of items grouped under dates
// date-list> ul > li > { day-month-year } ul > li { item one } /li |  li { item two } /li ...
.date-list {
  margin-bottom: 1.5em;
  @extend .list-unstyled;
  &:last-of-type {
    margin-bottom: 0;
  }
  > li {
    .date {
      margin-bottom: 1.5em;
    }
    ul {
      margin-bottom: 2em;

      &.list-items {
        li {
          margin-bottom: 2em;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.link-box {

  :hover,
  :active {
    text-decoration: none;
  }
  a {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .link-box-content {
    color: $body-color;
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: $white;
    margin-bottom: $grid-gutter-width;
    padding: 20px;
    align-items: center;
    .vfi {
      font-size: 2rem;
      color: $vdm-brand;
    }
  }
}
