// Utilities of bootstrap modified


//WORK IN PROGRESS

@each $label, $map in $dialog-colors {
  $keys: map-keys($map);
  $color-default: map-get($map, base);
  $color-dark: map-get($map, dark);
  $color-light: map-get($map, light);
	
  //@warn $label, #{nth($keys, 1)}, $color-default;
  //@warn $label, #{nth($keys, 2)}, $color-dark;
  //@warn $label, #{nth($keys, 3)}, $color-light;

}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).
@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}


@each $color, $value in $theme-colors {
  @include table-row-variant($color, theme-color-level($color, $table-bg-level), theme-color-level($color, $table-border-level));
}






