//
// Collapsible Item
//
.collapsible-item {
  background-color: $white;
  border: 1px solid $neutral-stroke;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 0;
  position: relative;
  .collapsible-header {
    .collapsible-title {
      margin: 0;
    }
    .collapsible-subtitle {
      @include font-size($font-size-xs);
      line-height: $line-height-xs;
      color: $neutral-secondary;
      font-weight: $font-weight-normal;
    }
    a {
      background: transparent;
      border: none;
      color: $headings-color;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @include font-size($font-size-base);
      font-weight: $font-weight-bold;
      line-height: $line-height-md;
      padding: 1rem 3.5rem 1rem 1rem;
      position: relative;
      &:after {
        content: '';
        -webkit-mask: url($data-icon-plus-circle) no-repeat 50% 50%;
        mask: url($data-icon-plus-circle) no-repeat 50% 50%;
         -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $primary;
        width: 24px;
        height: 24px;
      }

      &[aria-expanded="true"] {
        color: $primary;
        &:after {
          content: '';
          -webkit-mask: url($data-icon-minus-circle) no-repeat 50% 50%;
          mask: url($data-icon-minus-circle) no-repeat 50% 50%;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: $primary;
          width: 24px;
          height: 24px;
          border: none;
        }
      }

      &:hover,
      &:active {
        color: $primary;
        text-decoration: none;
        &:after {
          content: '';
          -webkit-mask: url($data-icon-plus-circle-full) no-repeat 50% 50%;
          mask: url($data-icon-plus-circle-full) no-repeat 50% 50%;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: $primary;
          width: 24px;
          height: 24px;
          border: none;
        }

        &[aria-expanded="true"] {
          &:after {
            content: '';
            -webkit-mask: url($data-icon-minus-circle-full) no-repeat 50% 50%;
            mask: url($data-icon-minus-circle-full) no-repeat 50% 50%;
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: $primary;
            width: 24px;
            height: 24px;
            border: none;
          }
        }
      }

      &:after {
        color: $primary;
        display: block;
        line-height: $line-height-xs;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
      span {
        //align-self: center;

        &.collapsible-icon {
          display: none;
        }
      }
    }
  }
  // Content block wrapper
  .collapsible-block {
    padding: 1rem;
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      padding-top: 0;
    }
    > *:last-child {
      margin-bottom: 1rem;
    }
  }

}

// Accodeon Listed
.accordeon-listed {
  > .collapsible-item {
    border: none;
    border-top: 1px solid $neutral-stroke;
    border-radius: 0;
    margin: 0;
    .collapsible-header {
      a {
        &:after {
          -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
          mask: url($data-icon-chevron-down) no-repeat 50% 50%;
          background-color: $neutral-tertiary;
        }
  
        &[aria-expanded="true"] {
          color: $primary;
          &:after {
            -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
            mask: url($data-icon-chevron-up) no-repeat 50% 50%;
            background-color: $neutral-tertiary;
          }
        }
  
        &:hover,
        &:active {
          &:after {
            -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
            mask: url($data-icon-chevron-down) no-repeat 50% 50%;
            background-color: $primary;
          }
  
          &[aria-expanded="true"] {
            &:after {
              -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
              mask: url($data-icon-chevron-up) no-repeat 50% 50%;
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  &.accordeon-listed-sm {
    > .collapsible-item {
      .collapsible-header {
        a {
          @include font-size($font-size-sm);
          line-height: $line-height-sm;
          padding: .5rem 2.5rem .5rem .5rem;
        }
      }
      // Content block wrapper
      .collapsible-block {
        padding-top: .5rem;
        > *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
