
/**
  * Try to derive color palettes from large tendencies in the layouts
  *
  * @see implementation of theses schemes under the flex teasers molecules
  *
  *
  *
  *
  */ 


.color-scheme-base {
    background : $vdm-grey-light;
    border: none;
    color: $black;
    &:before, 
    &:after {
        color: $vdm-brand;
    }
    >* {
        color: $black; 
    }

    a {
        &:hover, 
        &:active {

        }
    }
}


.color-scheme-light {
    background : transparent;
    border: 1px solid $vdm-brand;
    color: $black;
    &:before, 
    &:after {
        color: $vdm-brand;
    }
    >* {
        color: $black; 
    }
    
    a {
        &:hover, 
        &:active {

        }
    }
    .vdmi {
       color: $vdm-brand; 
    }
}

.color-scheme-white {
    background : $white;
    color: $black;
    border: none;
    &:before, 
    &:after {
        color: $vdm-brand;
    }
    >* {
        color: $black; 
    }
    
    a {
        &:hover, 
        &:active {

        }
    }
}