//
// Collapsible Item
//
.collapsible-item {
  background-color: $white;
  border: 1px solid $neutral-stroke;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 0;
  position: relative;
  .collapsible-header {
    .collapsible-title {
      margin: 0;
    }
    .collapsible-subtitle {
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
      color: $neutral-secondary;
      font-weight: $font-weight-normal;
    }
    .disabled,
    a,
    button {
      background: transparent;
      border: none;
      color: $headings-color;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @include font-size($font-size-base);
      font-weight: $font-weight-bold;
      line-height: $line-height-md;
      padding: 1rem 3.5rem 1rem 1rem;
      position: relative;
      text-align: left;
      width: 100%;
      &:after {
        position: absolute;
        right: 1rem;
        content: '';
        -webkit-mask: url($data-icon-plus) no-repeat 50% 50%;
        mask: url($data-icon-plus) no-repeat 50% 50%;
         -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $neutral-primary;
        width: 24px;
        height: 24px;
      }

      &[aria-expanded="true"] {
        color: $primary;
        &:after {
          content: '';
          -webkit-mask: url($data-icon-minus) no-repeat 50% 50%;
          mask: url($data-icon-minus) no-repeat 50% 50%;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: $primary;
          width: 24px;
          height: 24px;
          border: none;
        }
      }

      &:hover,
      &:active,
      &:focus {
        color: $primary;
        text-decoration: none;
        border-radius: $border-radius;
        &:after {
          content: '';
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: $primary;
          width: 24px;
          height: 24px;
          border: none;
        }

        &[aria-expanded="true"] {
          &:after {
            content: '';
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: $primary;
            width: 24px;
            height: 24px;
            border: none;
          }
        }
      }

      &:focus {
        box-shadow: $btn-focus-inset-box-shadow;
        border-radius: subtract($border-radius, 1px);
      }

      // TODO: Is this still needed?
      span {
        &.collapsible-icon {
          display: none;
        }
      }
    }

    // Disabled state
    .disabled {
      color: $neutral-stroke;
      &:after {
        background-color: $neutral-stroke;
      }
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
        border-radius: 0;
        cursor: not-allowed;
        color: $neutral-stroke;
        &:after {
          background-color: $neutral-stroke;
        }
      }
      .collapsible-subtitle {
        color: $neutral-stroke;
      }
    }
  }
  // Content block wrapper
  .collapsible-block {
    padding: 1rem;
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      padding-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }

}

// Accodeon Listed
.accordeon-listed {
  > .collapsible-item {
    border: none;
    border-top: 1px solid $neutral-stroke;
    border-radius: 0;
    margin: 0;

    &:last-child {
      border-bottom: 1px solid $neutral-stroke;
    }

    .collapsible-header {
      a,
      button {
        &:after {
          -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
          mask: url($data-icon-chevron-down) no-repeat 50% 50%;
          background-color: $neutral-primary;
        }

        &[aria-expanded="true"] {
          color: $primary;
          &:after {
            -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
            mask: url($data-icon-chevron-up) no-repeat 50% 50%;
            background-color: $neutral-primary;
          }
        }

        &:hover,
        &:active,
        &:focus {
          border-radius: 0;
          &:after {
            -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
            mask: url($data-icon-chevron-down) no-repeat 50% 50%;
            background-color: $primary;
          }

          &[aria-expanded="true"] {
            &:after {
              -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
              mask: url($data-icon-chevron-up) no-repeat 50% 50%;
              background-color: $primary;
            }
          }
        }
      }
      .disabled {
        &:after {
          -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
          mask: url($data-icon-chevron-down) no-repeat 50% 50%;
          background-color: $neutral-stroke;
        }
        &:hover,
        &:active {
          &:after {
            -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
            mask: url($data-icon-chevron-down) no-repeat 50% 50%;
            background-color: $neutral-stroke;
          }
        }
      }
    }
  }
  // Deprecated Small version
  &.accordeon-listed-sm {
    > .collapsible-item {
      .collapsible-header {
        a, button {
          @include font-size($font-size-sm);
          line-height: $line-height-sm;
          padding: .5rem 2.5rem .5rem .5rem;
        }
      }
      // Content block wrapper
      .collapsible-block {
        padding-top: .5rem;
        > *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
