//
// Main content header
.content-header {
  border-bottom: 1px solid $neutral-stroke;
  margin-bottom: 4rem;
  padding-bottom: 2rem;

  > * {
    margin-bottom: 2rem;
  }

  .content-header-extras {
    @include font-size($font-size-sm);
    line-height: $line-height-sm;

    .content-header-extras-item {
      display: flex;
      flex-wrap: wrap;

      + .content-header-extras-item {
        margin-top: .5rem;
      }
    }
  }

  // Deprecated
  // Use content-header-extras
  //
  .publication-date {
    @include font-size($font-size-sm);
    line-height: $line-height-sm;
  }

  // Use to set bg-image and overlay
  &.content-header-overlay {
    position: relative;
    background-size: cover;
    background-position: center;
    &:before {
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
      background-color: $overlay-strong;
    }
  }

  &.content-header-profile {
    .img-profile-container {
      max-width: 348px;
      margin: 0 auto;
    }
  }
}


// Document heading
// Left notch and centered Notch handling
.document-heading {
  position: relative;
  width: 100%;
  z-index: 0;

  &.document-heading-grid {
    .document-heading-image-container {
      padding-top: $padding-16-9;
      .img-copyright {
        bottom: 3rem;
      }
    }
    .document-heading-content-wrapper {
      margin: 0;
    }
    .document-heading-content-wrapper {
      @include media-breakpoint-only(sm) {
        @include make-container();
        max-width: map-get($container-max-widths, sm);
        margin: 0 auto;
      }
      @include media-breakpoint-only(md) {
        @include make-container();
        max-width: map-get($container-max-widths,md);
        margin: 0 auto;
      }
    }

    @include media-breakpoint-up(lg) {
      @include make-container();
      max-width: map-get($container-max-widths, lg);
    }
    @include media-breakpoint-up(xl) {
      @include make-container();
      max-width: map-get($container-max-widths, xl);
    }

  }

  &.document-heading-fullwidth {
    .document-heading-header {
      padding-top: 2rem;
      padding-bottom: 4rem;
      h1, .h1,
      .document-heading-subtitle {
        margin: 0;
        padding-bottom: 1rem;
      }
    }

    // Give smaller padding top and bottom (Index)
    &.document-heading-sm {
      .document-heading-header {
        padding-top: 2rem;
        padding-bottom: 1rem;
      }
    }
    // Give bigger padding top and bottom (vitrine)
    &.document-heading-xl {
      .document-heading-header {
        padding-top: 4rem;
        padding-bottom: 2rem;
      }
    }

    // Homepage
    &.document-heading-homepage {
      background-color: $neutral-underground-1;
    }
  }

  &.document-heading-emergency,
  &.document-heading-danger {
    background-color: $danger;
    color: $white;

    .icon {
      @include icon-color($white);
    }

    .document-heading-header {
      justify-content: center;
      text-align: center;
    }

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4 {
      color: $white;
    }

    // surtitle
    .document-heading-surtitle {
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
      color: $white;
      font-weight: $font-weight-bold;
    }


    // subtitle
    .document-heading-subtitle {
      @include font-size($font-size-base);
      line-height: $line-height-lg;
      color: $white;
      font-weight: $font-weight-bold;
    }

  }

  .document-heading-background {
    background-color: $neutral-underground-1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .document-heading-header {
    position: relative;
    z-index: 5;
  }

  .document-heading-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .document-heading-content-wrapper {
    width: 100%;
    align-self: flex-end;
    padding: 0 1rem;
    margin: 0;
  }

  .document-heading-content {
    background-color: $white;
    height: 2rem;
    margin: 0 auto;
  }

  // Surtitle
  .document-heading-surtitle {
    @include font-size($font-size-base);
    line-height: $line-height-md;
    color: $headings-color;
    font-weight: $font-weight-bold;
    margin-bottom: .5rem;
  }

  // subtitle
  .document-heading-subtitle {
    @include font-size($font-size-base);
    line-height: $line-height-lg;
    color: $neutral-primary;
  }

  .brand-border-bottom {
    margin-bottom: 1rem;
  }


  // 768px and up
  @include media-breakpoint-up(md) {
    &.document-heading-grid {
      .document-heading-image-container {
        padding-top: $padding-16-7;
        .img-copyright {
          bottom: 3rem;
        }
      }
    }
  }

  // 992px and up
  @include media-breakpoint-up(lg) {
    // Full width bg image layout
    .document-heading-content {
      height: 3.5rem;
    }
    // Left notch handling
    &.document-heading-left-notch {
      .document-heading-content {
        margin: 0;
        &:before {
          content: '';
          background: $white;
          width: 1000px;
          height: 100%;
          position: absolute;
          left: -1000px;
        }
        &:after {
          content: '';
          background: $white;
          width: 1rem;
          height: 100%;
          position: absolute;
          right: -1rem;
        }
      }
    }
    &.document-heading-fullwidth {
      .document-heading-header {
        padding-top: 4rem;
        padding-bottom: 7rem;
      }

      &.document-heading-xl {
        .document-heading-header {
          padding-top: 8rem;
          padding-bottom: 6rem;
        }
      }

      &.document-heading-sm {
        .document-heading-header {
          padding-top: 4rem;
          padding-bottom: 3rem;
        }
      }

    }

    // Container restricted bg image layout
    &.document-heading-grid {
      .document-heading-background {
        width: calc(100% - 2rem);
      }
      .document-heading-image-container {
        .img-copyright {
          bottom: 1rem;
          right: 2rem;
        }
      }
      .document-heading-content-wrapper {
        padding: 0;
      }

      // Left notch handling
      &.document-heading-left-notch {
        .document-heading-content {
          &:before {
            content: none;
          }
        }
      }
    }

    .document-heading-surtitle {
      @include font-size($font-size-lg);
      line-height: $line-height-lg;
      margin-bottom: 1rem;
    }
    .document-heading-subtitle {
      @include font-size($font-size-lg);
      line-height: $line-height-xl;
    }
  }

  // 1200px and up
  @include media-breakpoint-up(xl) {
    // Fullwidth homepage Document heading
    &.document-heading-fullwidth {
      &.document-heading-homepage {
        // Switch from cover to contain for background-size to prevent "zoom in" effect" on very large screen
        .document-heading-background {
          background-size: contain;
        }
      }
    }
  }
}


// Page Header for Templates outils interne.
.page-header {
  padding: 1rem 0;
  height: auto;

  .btn-backlink {
    border-bottom: none;
    border-radius: $btn-border-radius-squared;
    .icon {
      @include icon-size($icon-md);
      @include icon-color($action);
    }
  }

  .content-header-extras {
    @include font-size($font-size-sm);
    line-height: $line-height-sm;

    .content-header-extras-item {
      display: flex;
      flex-wrap: wrap;

      + .content-header-extras-item {
        margin-top: .5rem;
      }
    }
  }

  .breadcrumb-container {
    margin-bottom: 0.5rem;
    .breadcrumb {
      margin-bottom: 0;
    }
  }

  .container-title {
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin-bottom: .5rem;
    }

    .container-subtitle,
    .container-info {
      display: inline-flex;
      align-items: center;
      margin-bottom: 0;

      p {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        margin-bottom: 0;
      }
      * {
        margin-right: 1rem;
      }
      .icon {
        margin-right: 0;
      }
    }
  }

  .container-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    // Easily place margin between footer elements
    > .btn:not(:first-child) { margin-left: .5rem; }
    > .btn:not(:last-child) { margin-right: .5rem; }

    &.btn-sem-order {
      flex-direction: row-reverse;
      justify-content: flex-start;
      // Easily place margin between footer elements
      > .btn:not(:first-child):not(:last-child) {
        margin-left: .5rem;
        margin-right: .5rem;
      }
      > .btn:not(:first-child) {
        margin: inherit;
        margin-right: .5rem;
      }
      > .btn:not(:last-child) {
        margin: inherit;
        margin-left: .5rem;
      }
    }

  }
}

// Breakpoint MD and up
@include media-breakpoint-up(md) {
  .page-header {
    padding: 1.5rem 0;

    .btn-backlink {
      .icon {
        @include icon-size($icon-lg);
      }
    }
  }
}

// Breakpoint MD and down
@include media-breakpoint-down(md) {
  .page-header {
    .list-inline-interpunct {
      .list-inline-item {
        display: flex;
        width: 100%;
        &::after {
          content: none;
        }
      }
    }
  }
}
