// The dropdown menu
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  margin: $dropdown-spacer 0 0; // override default ul
  @include font-size($dropdown-font-size);
  color: $dropdown-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;
  border: none;
  @include border-radius($dropdown-border-radius);
  box-shadow: $dropdown-box-shadow;

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    color: $neutral-primary;
    line-height: $line-height-md;
    margin-bottom: 0;
    
    @include hover-focus {
      color: $neutral-primary;
      border: none;
      @include gradient-bg($neutral-underground-1);
    }
  
    &.active,
    &:active {
      color: $neutral-primary;
      @include gradient-bg($neutral-underground-1);
    }
  
    &.disabled,
    &:disabled {
      color: $dropdown-link-disabled-color;
      background-color: transparent;
    }

    // Handle form-group in dropdown-item
    &.form-group {
      margin-bottom: 0;
    }
    .custom-control {
      margin-bottom: 0;
    }

    .icon {
      margin-right: 1rem;
    }
  }

  &.dropdown-menu-sm {
    min-width: $dropdown-sm-min-width;
  }

  &.dropdown-menu-form-group {
    .dropdown-item {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

// Dropdown section headers
.dropdown-header {
  display: block;
  font-weight: $font-weight-bold;
  padding: .5rem 1rem;
  margin-bottom: 0; // for use with heading elements
  @include font-size($dropdown-font-size);
  color: $dropdown-header-color;
  white-space: nowrap; // as with > li > a
}

// change icon when dropdown is open
.dropdown.show {
  .dropdown-toggle {
    &:after {
      content: '';
      -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
      mask: url($data-icon-chevron-up) no-repeat 50% 50%;     
    }
  }
}