$vdmicons : (
	vdm-001-rosace : "\f101",
	vdm-002-recherche : "\f102",
	vdm-003-profil : "\f103",
	vdm-004-drapeau : "\f104",
	vdm-005-calendrier : "\f105",
	vdm-006-soleil : "\f106",
	vdm-007-billet : "\f107",
	vdm-008-oeil : "\f108",
	vdm-009-personnes : "\f109",
	vdm-010-porte-document : "\f10a",
	vdm-011-bus : "\f10b",
	vdm-012-telephone : "\f10c",
	vdm-013-livre : "\f10d",
	vdm-014-lecture : "\f10e",
	vdm-015-fleche : "\f10f",
	vdm-016-actualite : "\f110",
	vdm-017-localisation-etoile : "\f111",
	vdm-018-permis : "\f112",
	vdm-019-document : "\f113",
	vdm-020-carte-de-credit : "\f114",
	vdm-021-dossier : "\f115",
	vdm-022-cloche : "\f116",
	vdm-023-parametres : "\f117",
	vdm-024-plus-circulaire : "\f118",
	vdm-025-moins-circulaire : "\f119",
	vdm-026-coche-etapes : "\f11a",
	vdm-027-3-points-circulaire : "\f11b",
	vdm-028-enveloppe : "\f11c",
	vdm-029-ajout-dossier : "\f11d",
	vdm-030-attention : "\f11e",
	vdm-031-ordinateur : "\f11f",
	vdm-032-ecrou : "\f120",
	vdm-033-crayon : "\f121",
	vdm-034-ampoule : "\f122",
	vdm-035-plume : "\f123",
	vdm-036-attention-circulaire : "\f124",
	vdm-037-horloge : "\f125",
	vdm-038-cible : "\f126",
	vdm-039-balai : "\f127",
	vdm-040-permis-generique : "\f128",
	vdm-041-fleche-circulaire-haut : "\f129",
	vdm-042-fleche-circulaire-droite : "\f12a",
	vdm-043-fleche-circulaire-bas : "\f12b",
	vdm-044-fleche-circulaire-gauche : "\f12c",
	vdm-045-maison : "\f12d",
	vdm-046-grand-x : "\f12e",
	vdm-047-cercle-progression-complet : "\f12f",
	vdm-048-cercle-progression-a : "\f130",
	vdm-049-cercle-progression-ab : "\f131",
	vdm-050-cercle-progression-abc : "\f132",
	vdm-051-cercle-progression-c : "\f133",
	vdm-052-cercle-progression-bc : "\f134",
	vdm-053-cercle-progression-coche : "\f135",
	vdm-054-cercle-progression-dossier : "\f136",
	vdm-055-chevron-haut : "\f137",
	vdm-056-chevron-droite : "\f138",
	vdm-057-chevron-bas : "\f139",
	vdm-058-chevron-gauche : "\f13a",
	vdm-059-coche-circulaire : "\f13b",
	vdm-060-menu : "\f13c",
	vdm-061-localisation-plein : "\f13d",
	vdm-062-fleche-haut : "\f13e",
	vdm-063-fleche-droite : "\f13f",
	vdm-064-fleche-bas : "\f140",
	vdm-065-fleche-gauche : "\f141",
	vdm-066-mini-plus : "\f142",
	vdm-067-mini-moins : "\f143",
	vdm-068-mini-x : "\f144",
	vdm-069-mini-plus-circulaire : "\f145",
	vdm-070-mini-moins-circulaire : "\f146",
	vdm-071-mini-x-circulaire : "\f147",
	vdm-072-mini-plus-circulaire-plein : "\f148",
	vdm-073-mini-moins-circulaire-plein : "\f149",
	vdm-074-mini-x-circulaire-plein : "\f14a",
	vdm-075-mini-case-coche : "\f14b",
	vdm-076-mini-case-coche-vide : "\f14c",
	vdm-077-mini-case-coche-coche : "\f14d",
	vdm-078-mini-case-coche-plein : "\f14e",
	vdm-079-dechets-et-recyclage : "\f14f",
	vdm-080-recyclage : "\f150",
	vdm-081-compostage : "\f151",
	vdm-082-residus-verts : "\f152",
	vdm-083-permis-animal-chien : "\f153",
	vdm-084-nid-de-poule : "\f154",
	vdm-085-lampadaire : "\f155",
	vdm-086-graffiti : "\f156",
	vdm-087-banc-de-parc : "\f157",
	vdm-088-branches-d-arbre : "\f158",
	vdm-089-travaux-routiers : "\f159",
	vdm-090-preferences : "\f15a",
	vdm-091-localisation : "\f15b",
	vdm-092-question : "\f15c",
	vdm-093-porte-voix : "\f15d",
	vdm-094-permis-stationnement : "\f15e",
	vdm-095-deneigement : "\f15f",
	vdm-096-permis-animal-chat : "\f160",
	vdm-097-social-instagram : "\f161",
	vdm-098-social-linkedin : "\f162",
	vdm-099-social-twitter : "\f163",
	vdm-100-social-youtube : "\f164",
	vdm-101-social-facebook : "\f165",
	vdm-102-social-gplus : "\f166",
	vdm-103-311-mobile : "\f167",
	vdm-104-permis-animal-generique : "\f168",
	vdm-105-petition : "\f169",
	vdm-106-menu-simple : "\f16a",
	vdm-107-excavatrice : "\f16b",
	vdm-108-usine : "\f16c"
);