// Montreal regulier
@font-face {
  font-family: "Montreal";
  src: url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Regulier.woff2') format('woff2'),
       url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Regulier.woff') format('woff'),
       url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Regulier.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Montreal italique
@font-face {
  font-family: "Montreal";
  src: url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Italique.woff2') format('woff2'),
       url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Italique.woff') format('woff'),
       url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Italique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// Montreal gras
@font-face {
  font-family: "Montreal";
  src: url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Gras.woff2') format('woff2'),
       url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Gras.woff') format('woff'),
       url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-Gras.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Montreal gras italique
@font-face {
  font-family: "Montreal";
  src: url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-GrasItalique.woff2') format('woff2'),
       url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-GrasItalique.woff') format('woff'),
       url('https://montreal.ca/fonts/montreal/v1/Montreal-Web-GrasItalique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
