@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700");


.vdm {
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; // -- required to avoid text-decoration inheritance
  color: $headings-color;
}

// Icon Sizes
// -------------------------

/* makes the font 33% larger relative to the icon container */
.vdm-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.vdm-2x { font-size: 2em; }
.vdm-3x { font-size: 3em; }
.vdm-4x { font-size: 4em; }
.vdm-5x { font-size: 5em; }

a {
  &:hover,
  &:active,
  &:focus {
    .vdm {
      text-decoration: none !important; // -- Prevent text-decoration for icons, e-ve-ry-whe-re
    }
  }
}

@each $name, $char in $vdmicons {
  &.#{$name} {
    &:before {
      content: $char;
    }
  }
}
