//
// Main footer
//
footer {
  &.footer {
    background-color: $neutral-primary;
    color: $white;
    padding-top: .5rem;
    padding-bottom: 2rem;

    a:not(.btn) {
      border: none;
      color: $white;
      font-weight: $font-weight-normal;
      @include hover-focus {
        background-color: transparent;
        border-bottom: none;
        color: $action-lighter;
      }
      // Custom focus for footer links
      &:focus,
      &.focus {
        box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-reverse-color;
      }

      &.link-page-top {
        @include font-size($font-size-xs);
        line-height: $line-height-xs;
        font-weight: $font-weight-bold;
        display: inline-block;
        padding: .5rem;
      }
    }
    ul:not(.list-social-media) {
      a[href*="//"]:not([href*="montreal.ca"]):not([href*="montreal.qc.ca"]):not([href$=".pdf"]):not(.link-has-icon):not(.btn) {
        margin-right: 1.5rem;
        position: relative;
        width: auto !important;
        &:after {
          content: '';
          -webkit-mask: url($data-icon-externallink) no-repeat 50% 50%;
          mask: url($data-icon-externallink) no-repeat 50% 50%;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: $white;
          display: inline-flex;
          width: $icon-sm;
          height: $icon-sm;
          overflow: hidden;
          vertical-align: middle;
          margin-right: -1.5rem;
          margin-top: -.75rem;
          margin-bottom: -.5rem;
          margin-left: .25rem;
        }

        @include hover-focus {
          &:after {
            background-color: $action-lighter;
          }
        }
      }
    }

    ul {
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
      margin-bottom: 0;
      li {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

      + ul {
        margin-top: 0;
      }
    }

    .list-heading {
      @include font-size($font-size-base);
      line-height: $line-height-md;
      display: block;
      font-weight: $font-weight-bold;
      margin-bottom: 1rem;
    }

    .list-social-media {
      li {
        display: flex;
        a {
          display: inline-flex;
          .icon {
            margin-right: .5rem;
            &:before {
              width: 20px;
              height: 20px;
            }
            @include icon-color($white);
          }
          @include hover-focus {
            .icon {
              @include icon-color($action-lighter);
            }
          }
        }
      }
    }
    @include media-breakpoint-up(md) {
      .list-inline-dot {
        .list-inline-item {
          &:last-child {
            &:after {
              content: '';
            }
          }
        }
      }
    }

    .top-separator {
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: $border-width;
        background-color: $neutral-secondary;
        margin-bottom: 2rem;
      }
    }

    .footer-logo {
      width: auto;
      height: 2.5rem;
    }

    .btn-lang {
      padding-left: 0;
      padding-right: 0;
      margin-right: .5rem;
    }
  }

  // md and up
  @include media-breakpoint-up(md) {
    &.footer {
      padding-top: 1rem;
      padding-bottom: 4rem;
    }
    // Override collapse content on tablet and up
    &.footer {
      .footer-sub {
        .collapse {
          display: block;
        }
      }
    }
  }

  // Mobile footer handling
  @include media-breakpoint-down(sm) {
    &.footer {
      .footer-sub {
        margin-bottom: 2rem;
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: $border-width;
          background-color: $neutral-secondary;
          margin-top: 1rem;
        }
        .list-toggle {
          .list-heading {
            cursor: pointer;
            display: flex;
            &:after {
              position: absolute;
              right: 1rem;
              content: '';
              -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
              mask: url($data-icon-chevron-down) no-repeat 50% 50%;
              -webkit-mask-size: cover;
              mask-size: cover;
              background-color: currentColor;
              width: 24px;
              height: 24px;
              border: none;
            }
    
            &[aria-expanded="true"] {
              &:after {
                -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
                mask: url($data-icon-chevron-up) no-repeat 50% 50%;
              }
            }
          }
        }
      }
    }
  }
  &.footer-minimal {
    padding-top: 2rem;
    @include media-breakpoint-up(md) {
      padding-top: 4rem;
    }
  }
}
