//
// Main footer
//
footer {
  &.footer {
    background-color: $neutral-primary;
    color: $white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    a {
      border: none;
      color: $white;
      font-weight: $font-weight-normal;
      @include hover-focus {
        background-color: transparent;
        border-bottom: none;
        color: $action-lighter;
      }
    }

    ul {
      @include font-size($font-size-sm);
      line-height: $line-height-md;
      margin-bottom: 0;
      li {
        margin-bottom: .5rem;
      }

      + ul {
        margin-top: 0;
      }
    }
    .site-name {
      @include font-size($h3-font-size);
      font-weight: $font-weight-bold;
      line-height: 2rem;
    }
    .list-heading {
      display: block;
      font-weight: $font-weight-bold;
      margin-bottom: 1rem;
    }

    .list-social-media-icon {
      justify-content: center;
      li a {
        .icon {
          @include icon-color($white);
        }
        @include hover-focus {
          .icon {
            @include icon-color($action-lighter);
          }
        }
      }
    }

    .top-separator {
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: $border-width;
        background-color: $neutral-secondary;
        margin-bottom: 2rem;
      }
    }

    .btn-lang {
      @include button-reset();
      @include font-size($font-size-base);
      font-weight: $font-weight-bold;
      cursor: pointer;
      color: $action-lighter;
      line-height: $line-height-md;
      // TODO: Define a hover state
    }

    .copyright {
      color: $neutral-tertiary;
      display: inline-block;
      @include font-size($font-size-sm);
      line-height: $line-height-md;
    }

    .footer-logo {
      width: auto;
      height: 24px;
    }

    .footer-head + .footer-last {
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: $border-width;
        background-color: $neutral-secondary;
        margin-bottom: 2rem;
      }
    }

    @include media-breakpoint-up(md) {
      &.footer {
        padding-top: 4rem;
        padding-bottom: 4rem;
        .footer-logo {
          height: 40px;
        }
      }
    }

    // Mobile footer handling
    // TODO: Collapse content on mobile
    @include media-breakpoint-down(sm) {
      &.footer {
        .footer-sub {
          margin-bottom: 2rem;
          &:before {
            content: "";
            display: block;
            width: 100%;
            height: $border-width;
            background-color: $neutral-secondary;
            margin-bottom: 2rem;
          }
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: $border-width;
            background-color: $neutral-secondary;
            margin-top: 2rem;
          }
        }
        .top-separator {
          &:before {
            content: none;
          }
        }
      }
    }

  }
}
