/**
 * Main footer
 */
footer {
  &.footer {
    background-color: $sarcelle-light;
    color: $gray-900;
    padding-top: 4rem;
    padding-bottom: 2rem;

    // Links
    a {
      border: none;
      color: $gray-700;
      &:hover,
      &:active {
        color: $sarcelle-surprise;
        text-decoration: none;
      }
    }

    ul {
      margin-bottom: 0;
    }

    .social-media-list {
      justify-content: center;
      li a {
        .vdm {
          font-size: 1.5rem;
          padding: 0;
        }
      }
    }

    .btn-lang {
      @include button-reset();
      border: 1px solid $gray-700;
      border-radius: 2px;
      cursor: pointer;
      font-size: $font-size-sm;
      line-height: 1.16666666667;
      padding: .75rem 3.5rem;
      &:hover {
        border-color: $sarcelle-surprise;
        color: $sarcelle-surprise;
      }
    }

    .legal-links {
      font-size: $font-size-sm;
      line-height: 1.16666666667;
      li {
        padding-bottom: 0;
      }
    }

    .copyright {
      font-size: 0.625rem;
      line-height: 1.4;
    }
    .footer-sub {
      margin-bottom: 1.5rem;
    }
    .footer-section {
      border-top: 2px solid $gray-900;
      padding-top: .875rem;
    }

    .col-footer-sub {
      text-align: center;
      align-self: center;
      justify-content: center;
    }

    .col-footer-copyright {
      text-align: center;
    }

    // md-up
    @include media-breakpoint-down(md) {
      .col-footer-sub {
        &:first-child {
          margin-bottom: 1.5rem;
        }
        &:nth-child(2) {
          margin-bottom: 2.5rem;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

    } 
    // lg-up
    @include media-breakpoint-up(lg) {
      .col-lg-text-center {
        text-align: center;
      }
      .col-lg-text-right {
        text-align: right;
      }
      .col-lg-text-left {
        text-align: left;
      }

      .footer-section {
        padding-top: 1.5rem;
      }
    }
  }
}
