// New navbar based on bootstrap navbar

.navbar {
  padding: 1.125rem 1.5rem;
  border-bottom: 1px solid $gray-400;
  a:not(.btn) {
    border-bottom: none;
  }
  .navbar-div {
    display: flex;
    flex-basis: auto; // Changes flex-bases to auto because of an IE10 bug
    flex-grow: 1;
    align-items: center;
  }

  // Montreal logo is the navbar-brand
  .navbar-brand {
    display: flex;
    padding: 0;
    img {
      height: 1.5rem;
      width: auto;
    }

    @include media-breakpoint-up(sm) {
      img {
        height: 2rem;
      }
    }

    @include media-breakpoint-up(md) {
      img {
        height: 2.5rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    button + .dropdown,
    button + button {
      margin-left: 3.5rem;
    }
  }

  // Special placement on smaller device...
  .btn-notification {
    position: fixed;
    bottom: $grid-gutter-width;
    right: $grid-gutter-width;
    z-index: 2000;
    @include media-breakpoint-up(lg) {
      position: static;
      bottom: auto;
      right: auto;
      z-index: auto;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .navbar-nav {
    align-items: center;
    .nav-item-btn {
      padding-bottom: 0;
      margin: 0 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
    li:last-child {
      .nav-link {
        padding-right: 0;
      }
    }
  }

  // Dropdown Menu toggle (user)
  .dropdown {
    margin-bottom: 0;
    padding-bottom: 0;
    position: inherit;
    display: flex;
    .user-info {
      padding-right: .5rem;
      line-height: 1.25;
      > * {
        display: flex;
      }
      .user-profil {
        font-weight: $font-weight-bold;
      }
    }
  }
  .dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
    &:after {
      border: 0;
      color: $link-color;
      font-size: 1rem;
      margin-left: 0;
      width: auto;
      height: auto;
    }
    @include iconvdm($position: after, $icon: '057-chevron-bas');

    @include media-breakpoint-up(sm) {
      &:after {
        font-size: 1.5rem;
      }
    }
  }

  // Dropdown menu
  .dropdown-menu {
    border-right: 0;
    top: 100%;
    right: 0;
    margin: 0;
    font-size: 1.125rem; // 18px
    box-shadow: -1px 3px 3px 0 $gray-300;

    .vdm {
      font-size: 3rem;
      color: $sarcelle-surprise;
    }
    ul {
      padding: 0;
      margin-bottom: 0;
      li {
        padding: 0;
      }
    }
    .dropdown-item-section {
      color: $black;
      font-size: 1rem;
      padding: .75rem $dropdown-item-padding-x;
      > * {
        margin-bottom: 1.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .user-email {
        font-size: $font-size-md;
        color: $gray-600;
      }
      .user-profil {
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }
    }
    .user-action {
      .dropdown-item {
        .vdm {
          font-size: 2.5rem;
          margin-top: -.75rem;
          margin-bottom: -.75rem;
          margin-left: auto;
        }
      }
    }

    .dropdown-item {
      display: flex;
      align-items: center;
      padding-top: .75rem;
      padding-bottom: .75rem;

      @include hover-focus {
        color: $link-color;
        @include gradient-bg($white);
      }
    
      &.active,
      &:active {
        color: $link-color;
        @include gradient-bg($white);
      }
    
      &.disabled,
      &:disabled {
        color: $dropdown-link-disabled-color;
        background-color: transparent;
      }
    }

  }

  // change icon when dropdown is open
  .dropdown.show {
    .dropdown-toggle {
      @include iconvdm($position: after, $icon: '055-chevron-haut');
    }
  }

  // Dropdown-menu Mobile full width
  @include media-breakpoint-down(xs) {
    .dropdown-menu {
      border-left: 0;
      width: 100%;
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 1.875rem 1.5rem;
  }

  @include media-breakpoint-up(md) {
    padding: 2.125rem 3rem;
  }
}

// Navbar buttons styles

.navbar-button {
  @include button-reset();
  color: $black;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: .0625rem 0;
  @include transition(color .15s ease-in-out);

  // Icons size in navbar
  .vdm {
    font-size: 2rem;
    vertical-align: middle;
    @include transition(color .15s ease-in-out);

    // mobile and up
    @include media-breakpoint-up(sm) {
      font-size: 2.5rem;
    }
    // tablets and up
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
  }

  .button-label {
    color: $black;
    font-size: 1.125rem;
    line-height: 1;
    margin-left: 1rem;
    @include transition(color .15s ease-in-out);
  }

  &:hover,
  &:active {
    color: $sarcelle-surprise;
    .vdm,
    .button-label {
      color: $sarcelle-surprise;
    }
  }

  // remove focus from box-shadow
  &:focus,
  &.focus {
    box-shadow: none;
  }

}

// Navbar search flyout
.navbar-search {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: $zindex-fixed;
  padding-top: 3.375em;
  padding-bottom: 3.375rem;

  .inner-container {
    display: flex;
  }

  .form-group {
    display: flex;
    margin: 0;
    width: 100%;
  }

  .form-control {
    border: none;
    font-size: 1.875rem;
    &:focus {
      box-shadow: none;
    }
  }
}


// Wizard header
//
// Optimize and normalize - we can extend from banner and build more generic containers
.wizard-header {
  background-color: $white;
  display: flex;
  border-bottom: 1px solid $gray-400;
  justify-content: space-between;
  .hdr-container,
  .hdr-links {
    display: flex;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .home-link {
    border: none;
    flex-shrink: 0;
    @include size($header-icon-width);
    background-color: $black;
    color: $white;
    text-decoration: none;
    .vdm {
      font-size: 3rem;
      color: $white;
    }
  }
  .hdr-title {
    color: $headings-color;
    font-weight: $font-weight-bold;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem; // 24px
    }
  }
  .hdr-links {
    padding-right: $grid-gutter-width;
    ul {
      margin-bottom: 0;
    }
  }
}
