// New navbar based on bootstrap navbar

.navbar {
  padding: 1.125rem 1.5rem;
  border-bottom: 1px solid $gray-400;
  a:not(.btn) {
    border-bottom: none;
  }
  .navbar-div {
    display: flex;
    flex-basis: auto; // Changes flex-bases to auto because of an IE10 bug
    flex-grow: 1;
    align-items: center;
  }

  // Montreal logo is the navbar-brand
  .navbar-brand {
    display: flex;
    padding: 0;
    img {
      height: 1.5rem;
      width: auto;
    }

    @include media-breakpoint-up(sm) {
      img {
        height: 2rem;
      }
    }

    @include media-breakpoint-up(md) {
      img {
        height: 2.5rem;
      }
    }
  }

  button + button {
    margin-left: 2rem;
  }

  // Icons size in navbar
  .vfi {
    font-size: 2rem;
    vertical-align: middle;

    // mobile and up
    @include media-breakpoint-up(sm) {
      font-size: 2.5rem;
    }
    // tablets and up
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .navbar-nav {
    align-items: center;
    .nav-item-btn {
      padding-bottom: 0;
      margin: 0 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
    li:last-child {
      .nav-link {
        padding-right: 0;
      }
    }
  }

  // Dropdown Menu toggle (user)
  .nav-item.dropdown {
    margin-bottom: 0;
    padding-bottom: 0;
    position: inherit;

    .user-name {
      padding-right: .5rem;
    }
  }
  .nav-link.dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
    &:after {
      border: 0;
      color: $link-color;
      font-size: 1rem;
      margin-left: 0;
      width: auto;
      height: auto;
    }
    @include iconvfi($position: after, $icon: chevron-bas);

    @include media-breakpoint-up(sm) {
      &:after {
        font-size: 1.5rem;
      }
    }
  }

  // Dropdown menu
  .dropdown-menu {
    border-right: 0;
    top: 100%;
    right: 0;
    margin: 0;
    font-size: 1.125rem; // 18px
    box-shadow: -1px 3px 3px 0 $gray-300;

    .vfi {
      font-size: 3rem;
      color: $sarcelle-surprise;
    }
    ul {
      padding: 0;
      li {
        padding: 0;
      }
    }
    .dropdown-item-section {
      color: $body-color;
      padding: 1.5rem $dropdown-item-padding-x;
      > * {
        margin-bottom: 1.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .user-email {
        font-size: $font-size-base;
      }
      .user-profil {
        font-weight: $font-weight-bold;
      }
    }

    .user-section {
      display: flex;
      align-items: center;
      .user-info {
        > * {
          display: block;
        }
      }
      .user-action {
        margin-left: 1rem;
      }
    }
  }

  // change icon when dropdown is open
  .dropdown.show {
    .nav-link.dropdown-toggle {
      @include iconvfi($position: after, $icon: chevron-haut);
    }
  }

  // Dropdown-menu Mobile full width
  @include media-breakpoint-down(xs) {
    .dropdown-menu {
      border-left: 0;
      width: 100%;
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 1.875rem 1.5rem;
  }

  @include media-breakpoint-up(md) {
    padding: 2.125rem 3rem;
  }
}

// Navbar buttons styles

.navbar-button {
  @include button-reset();
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: .0625rem 0;

  .button-label {
    color: $black;
    font-size: 1.125rem;
    line-height: 1;
    margin-left: 1rem;
  }

  &:hover,
  &:active {
    .vfi,
    .button-label {
      color: $sarcelle-surprise;
    }
  }
}

/*
.menu-toggler {
  @include button-reset();
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: .0625rem .5rem;
}

// Search toggler
.navbar-search-toggler {
  @include button-reset();
  color: $black;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 .5rem;
  display: inline-flex;
  align-items: center;
}
*/

// Navbar search flyout
.navbar-search {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: $zindex-fixed;
  padding-top: 3.375em;
  padding-bottom: 3.375rem;

  .inner-container {
    display: flex;
  }

  .form-group {
    display: flex;
    margin: 0;
    width: 100%;
  }

  .form-control {
    border: none;
    font-size: 1.875rem;
    &:focus {
      box-shadow: none;
    }
  }
}



// Wizard header
//
// Optimize and normalize - we can extend from banner and build more generic containers
.wizard-header {
  background-color: $white;
  display: flex;
  border-bottom: 1px solid $gray-400;
  justify-content: space-between;
  .hdr-container,
  .hdr-links {
    display: flex;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .home-link {
    border: none;
    flex-shrink: 0;
    @include size($header-icon-width);
    background-color: $black;
    color: $white;
    text-decoration: none;
    .vfi {
      font-size: 3rem;
      color: $white;
    }
  }
  .hdr-title {
    color: $headings-color;
    font-weight: $font-weight-bold;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem; // 24px
    }
  }
  .hdr-links {
    padding-right: $grid-gutter-width;
    ul {
      margin-bottom: 0;
    }
  }
}
