// Main navbar based on bootstrap navbar

.navbar {
  background-color: $white;
  border-bottom: 1px solid $gray-400;
  padding: 1rem;
  a:not(.btn) {
    border-bottom: none;
  }
  .navbar-div {
    display: flex;
    flex-basis: auto; // Changes flex-bases to auto because of an IE10 bug
    flex-grow: 1;
    align-items: center;
  }

  // Montreal logo is the navbar-brand
  .navbar-brand {
    padding: 0;
    svg {
      height: 1.5rem;
      width: auto;
      flex: 0 0 auto; // This is needed because of IE weird behavior
    }
    // 768px and up
    @include media-breakpoint-up(xl) {
      svg {
        height: 2.5rem;
        width: auto;
      }
    }
  }

  // All svg in navbar should be neutral-primary
  .icon-dark {
    fill: $neutral-primary;
  }

  // 768px and up
  @include media-breakpoint-up(md) {
    button + .dropdown,
    button + button {
      margin-left: 2.5rem;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navbar-nav {
    align-items: center;
    .nav-item-btn {
      margin: 0 .5rem;
      padding-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
    li:last-child {
      .nav-link {
        padding-right: 0;
      }
    }
  }


  .dropdown {
    position: inherit;
    display: flex;
  }
  // Dropdown overrides
  .dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;

    // Prevent long username/profile to break layout with max-width
    // Use elided-text helper class on field to add ellipsis on truncated strings
    .user-info {
      flex-direction: column;
      line-height: 1.25;
      max-width: 170px;
      text-align: left;
      padding-right: .5rem;
      .user-profil {
        font-weight: $font-weight-bold;
      }
    }
    // remove carets
    &:after {
      content: none;
      color: $link-color;
      @include font-size(1.125rem);
    }

    // Add chevron only on large breakpoint and up
    @include media-breakpoint-up(md) {
      padding-right: .5rem;
       
    }
  }

  // Dropdown menu
  .dropdown-menu {
    border-right: 0;
    top: 100%;
    right: 0;
    margin: 0;
    max-height: none;
    min-width: 20rem;
    box-shadow: -1px 3px 3px 0 $gray-300;

    // Font-icon size and color
    .vdm {
      @include font-size(3rem);
      color: $action-lighter;
    }

    // Dropdown section
    .dropdown-item-section {
      .user-info {
        line-height: 1.4;
        > * {
          display: flex;
        }
      }
      .user-email {
        @include font-size($font-size-sm);
        color: $gray-600;
      }
      .user-profil {
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
      }
    }

    .dropdown-item {
      display: flex;
      align-items: center;
      padding: .75rem 2.5rem;
    }

    .user-action {
      .dropdown-item {
        .vdm {
          @include font-size(2.5rem);
          margin-top: -.75rem;
          margin-bottom: -.75rem;
          margin-left: auto;
        }
      }
    }

  }

  // change icon when dropdown is open
  .dropdown.show {
    .dropdown-toggle {
      &:after {
        content: none;
      }
      // Switch to chevron haut for large breakpoint and up
      @include media-breakpoint-up(md) {
        //@include iconvdm($position: after, $icon: '055-chevron-haut');
      }
    }
  }

  // Dropdown-menu Mobile full width
  @include media-breakpoint-down(xs) {
    .dropdown-menu {
      border-left: 0;
      width: 100%;
    }
  }
}

//
// Navbar buttons styles
.navbar-button {
  @include button-reset();
  color: $neutral-primary;
  cursor: pointer;
  font-weight: $font-weight-bold;
  display: inline-flex;
  align-items: center;
  padding: .0625rem 0;
  @include transition(color .15s ease-in-out);

  .button-label {
    color: $neutral-primary;
    line-height: $line-height-component;
    @include transition(color .15s ease-in-out);
  }

  &:hover,
  &:active {
    color: $action-lighter;
    .vdm,
    .button-label {
      color: $action-lighter;
    }
  }

  // remove focus from box-shadow
  &:focus,
  &.focus {
    box-shadow: none;
  }

}

//
// Navbar search flyout
.navbar-search {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: $zindex-fixed;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  .inner-container {
    display: flex;
  }

  .form-group {
    display: flex;
    margin: 0;
    width: 100%;
  }

  .form-control {
    border: none;
    @include font-size(1.875rem);
    &:focus {
      box-shadow: none;
    }
  }
}

//
// Wizard header
// Optimize and normalize - we can extend from banner and build more generic containers
.wizard-header {
  background-color: $highlight-strong;
  display: flex;
  justify-content: space-between;
  .hdr-container,
  .hdr-links {
    display: flex;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // .home-link removed from templates
  // Will be deprecated
  .home-link {
    border: none;
    flex-shrink: 0;
    width: $header-icon-width;
    height: $header-icon-height;
    background-color: $black;
    color: $white;
    text-decoration: none;
    .vdm {
      @include font-size(3rem);
      color: $white;
    }
  }
  .hdr-title {
    color: $headings-color;
    @include font-size($font-size-base);
    line-height: $line-height-base;       // 1.75
    font-weight: $font-weight-bold;
    padding: 1.5rem $grid-gutter-width;

    @include media-breakpoint-up(md) {
      @include font-size($font-size-lg);
      line-height: $line-height-sm;       // 1.5
    }
  }
  .hdr-links {
    padding-right: 1.375rem;
    ul {
      margin-bottom: 0;
    }
  }
}
