
// Import variables for icons svg in css
@import "icons-utility";
@import "icons-editorial";



//style for utility icons

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


@each $color, $value in $theme-colors {
  .icon-#{$color} {
    fill:$value;
  }
}

@each $label, $map in $dialog-colors {
  $color-dark: map-get($map, dark);
  $color-light: map-get($map, light);
  .icon-#{$label}-dark {
    fill: $color-dark;
  }
  .icon-#{$label}-light {
    fill: $color-light;
  }
}

.icon-white {
  fill: $white;
}

.icon-dark {
  fill: $neutral-primary;
}
