.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: 0;
  //margin-bottom: $jumbotron-padding;

  // Jumbotron heading
  &-heading {
    margin-bottom: 2rem;
  }
  // Jumbotron title
  &-title {
    @extend h3;
    margin-bottom: 0;
    
  }

  // jumbotron bg alternate aka sarcelle-ligthtest
  &.jumbotron-bg-sarcelle {
    background-color: $sarcelle-lightest;
  }

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}
