// @file layout.scss

html {

  // @see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
  // @see https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
  &.sticky {
    .vdm-page {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding-top: $header-total-portal-height;
    }
    .main-content {
      &.regions {
        flex: 1 0 auto;
      }
    }
    .vdm-header,
    .vdm-footer {
      flex: none;
    }
  }
}

.sidebar {
  > * {
    background-color: $vdm-grey-light;
  }
} // Sidebar

// Make all base regions Bootstrap containers & rows
// with these standardized classes
.region {
  //padding-bottom: $region-padding-bottom;
  /*
  &:last-of-type {
    padding-bottom: $region-last-padding-bottom;
  }
  */

  .region-container {
    @include make-container();
    @include make-container-max-widths();
  }

  .region-row {
    @include make-row();
  }

  // Default state for the first tag inside a region row, to be orverriden
  .region-content {
    @include make-col-ready();
    @include make-col(12);
  }

  &.full-width {
    @extend .container-fluid;
  }
}

// All regions in page templates should have at least a "region" class
// A region is anything that implements a bootstrap grid on the first level
// in an html document.
.region {
  // Sections : sub-sections inside regions
  // Sections will always be inside a bootstrap row
  .region-row {
    > .section {
      @include make-col-ready();
      &.full-width {
        @include make-col(12);
      }
      padding-bottom: $section-padding-bottom;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  // Image , title and teaser container, portal
  // Main header, always includes at least the page Title
  // Keeper styles
  &.region-content-header {

    &.content-header-dark {
      background-color: $vdm-grey-dark;
      color: $white;
    }
  }

  // The container fluid version of the region
  &.full-width-container {
    @extend .container-fluid;
    .content-wrapper {
      @include make-row();
      .main-content {
        @include make-col-ready();
        @include make-col(12);
      }
    }
  }

  // This is the 3 columns region, with a potential for left and right sidebars
  &.main-region {
    // Mobile first, everything is 12 initially
    .main-content {
      @include make-col-ready();
      @include make-col(12);
      padding-bottom: $region-padding-bottom;
    }
    .sidebar {
      @include make-col-ready();
      @include make-col(12);
    }

    // Swap the source order for the 3 column case
    .col-both {
      .sidebar-left {
        order: 1;
      }
      .sidebar-right {
        order: 2;
      }
      .main-content {
        order: 0;
      }
    }

    // Medium breakpoint and above (768)
    @include media-breakpoint-up(md) {
      .col-left,
      .col-right {
        .main-content {
          @include make-col(8);
        }
        .sidebar {
          @include make-col(4);
        }
      }
      // Reorder the source for medium + displays -- 3 columns override
      .col-both {
        .main-content {
          @include make-col(6);
        }
        .sidebar {
          @include make-col(3);
        }
        .sidebar-left {
          order: 0;
        }
        .sidebar-right {
          order: 0;
        }
      }
    } // md-up
  }

  // Background color variants
  &.shaded {
    &.shaded-light {
      background: $vdm-neutral-light;
    }
    &.shaded-black {
      background: $vdm-neutral-light;
    }
  }

  &.region-border {
    border-bottom: 1px solid $gray-400;
  }

  &.has-nav-tabs {
    padding-bottom: 0;
  }
} // Region


// Background-color for region or zone or anything really...

.neutral-light {
  background-color: $vdm-grey-light;
}
