// @file layout.scss

html {

  // @see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
  // @see https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
  &.sticky {
    .vdm-page {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding-top: $header-total-portal-height;
    }
    .main-content {
      flex: 1 0 auto;
    }
    .vdm-header,
    .footer {
      flex: none;
    }
  }
}

.sidebar {
  > * {
    background-color: $vdm-grey-light;
  }
} // Sidebar


// Do we really need this?
.region {

  // Main header, always includes at least the page Title
  &.region-content-header {
    // Dark variant
    &.content-header-dark {
      background-color: $vdm-grey-dark;
      color: $white;
    }

    &.has-nav-tabs {
      .content-header {
        padding-bottom: 0;
      }
    }

    &.region-border {
      border-bottom: 1px solid $gray-400;
    }

  }
  .content-header {
    padding: 3rem 0;

    &.has-image {
      margin-top: -150px;
    }
  }
} // Region

// Swap the source order for the 3 column case
.main-content {
  order: 0;
}
.sidebar-left {
  order: 1;
}
.sidebar-right {
  order: 2;
}



// Generic section layouts
.page-section {
  padding: map-get($spacers, 5);
  .section-heading {
    margin-bottom: map-get($spacers, 4);
  }
  &.bg-gray-light,
  &.bg-light {
    .card {
      border: none;
    }
  }
}
.services-heading {
  padding-top: 3rem;
  padding-bottom: 3rem; 
}

// Medium breakpoint and above (768)
@include media-breakpoint-up(md) {
  // Reorder the source for medium + displays -- 3 columns override
  .sidebar-left {
    order: 0;
  }
  .sidebar-right {
    order: 0;
  }
}

// Services styles
// Might migrate to own stylesheet if it becomes too long
.summary {
  .summary-heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
    h2 {
      @include header(4, "bold");
      display: inline-block;
      margin-bottom: 0;
    }
    .nav {
      .nav-item {
        padding-right: 1rem;
        padding-left: 1rem;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  .summary-content {
    border-top: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
  }
  .label {
    font-weight: $font-weight-bold;
  }
}

//
// Coordinates
//
.block-coordinates {
  .title {
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    margin-bottom: 1.5rem;
  }
  .item-label {
    @include header(6, 'bold');
  }
}
