// List groups
//
// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.
.list-group-item {
  border: $list-group-border-width solid $list-group-border-color;
  // remove right and left border
  border-right: 0;
  border-left: 0;
  display: flex;
  @include border-radius(0);

  // remove border-top-radius
  &:first-child {
    @include border-top-radius(0);
  }

  // remove border-bottom-radius
  &:last-child {
    @include border-bottom-radius(0);
  }

  a {
    border-bottom: none;
    &:hover {
      .list-group-item-title {
        color: $sarcelle;
      }
    }
  }

  .vdm {
    font-size: 1.5rem;
    padding-right: .5rem;
  }

  .list-group-item-title {
    color: $headings-color;
    display: block;
    font-size: $font-size-xl;
    line-height: 1.3333;
    padding-bottom: .5rem;
  }
  
  .list-group-item-label {
    font-weight: $font-weight-bold;
    display: block;
  }

}

.list-group-heading {
  color: $headings-color;
  font-size: $font-size-xl;
  line-height: 1.3333;
  padding-top: .7rem;
  padding-bottom: 1.275rem;
}


// List-group-hub and list-group-content variants
//
// Use with more complex content
.list-group-hub,
.list-group-content {
  margin-bottom: 0;
  .list-group-item {
    color: $gray-ink;
    display: flex;
    //justify-content: space-between;
    padding: 2.25rem 2rem;
    > *:last-child {
      padding-bottom: 0;
    }
    flex-direction: row;
    align-items: center;
    .list-group-item-body {
      flex: 1 0 0%;
      min-width: 0; // this is needed for the text-overflow property to work
      text-align: left;
    }
    .list-group-item-footer {
      margin-left: auto;
      //padding: 1.5rem 1rem 1.5rem 0;
      .vdm {
        color: $gray-300;
        font-size: 3rem;
        padding-right: 0;
      }
    }
    // Make sure we always have margin between body and footer
    .list-group-item-body + .list-group-item-footer {
      margin-left: 1.5rem;
    }
  }
}

// List group hub for Collectrices list-group layout
// Title and simple data inline with divider. Optionnal footer icon
.list-group-hub {

  a.list-group-item {
    &:hover {
      color: $gray-ink;
      .list-group-item-title {
        color: $sarcelle;
      }
      .list-group-item-footer {
        .vdm {
          color: $sarcelle;
        }
      }
    }
  }

  // Review this shit
  .list-group-item-content {
    display: flex;
    flex-wrap: wrap;
    > span {
      margin-right: .75rem;
      &:last-child {
        margin-right: 0;
      }
    }
    > span:nth-child(n + 2):not(.separator-brand) {
      &:before {
        content: "·";
        color: $gray-900;
        margin-right: .75rem;
      }
    }
  }
}

.list-group-max-width {
  max-width: 800px;
}

// List group content for list-group layout inside content
// Title and complexe data structure. With or without bs grid layout.
.list-group-content {

  //remove extra margin on last child item of last-child...
  .list-group-item-body {
    > :last-child {
      > * {
        margin-bottom: 0;
      }
    }
  }

  .list-group-item-row,
  .list-group-item-column {
    padding-bottom: 1rem;
    &:last-child {
      padding-bottom: 0;
    }
  }

  // A column is not inside bootstrap grid layout
  .list-group-item-column {
    width: 100%;
    display: block;
    .list-group-item-label {
      color: $headings-color;
      padding-bottom: 1rem;
    }
  }
  
}

// Flush bottom list items
//
// Remove borders bottom
// use list-group-flush to remove both
.list-group-flush-bottom {
  &:last-child {
    .list-group-item:last-child {
      border-bottom: 0;
    }
  }
}
