// List defines styled lists

// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list,
.list-icon {
  display: flex;
  flex-direction: column;

  @include font-size($font-size-base);
  line-height: $line-height-md;

  // No need to set list-style: none; since .list-group-item is block level
  list-style: none;
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
}

.list-lg {
  .list-item {
    padding: 1rem;
    .icon {
      margin-right: 1rem;
    }
    svg {
      margin-right: 1rem;
    }
  }
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

.list-item-action {
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  border: none;
  color: $list-group-action-color;
  text-align: inherit; // For `<button>`s (anchors inherit)

  // Hover state
  @include hover-focus {
    z-index: 1; // Place hover/focus items above their siblings for proper border styling
    color: $list-group-action-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
    border: none;

    svg {
      fill: currentColor;
    }
  }

  .icon {
    @include icon-color($action);
    align-self: center;
  }

  &:active {
    color: $list-group-action-active-color;
    background-color: $list-group-action-active-bg;
  }

}


// Individual list items
//
// Use on `li`s or `div`s within the `.list` parent.

.list-item {
  position: relative;
  display: flex;
  padding: .5rem 0;
  color: $list-group-color;

  &:last-child {
    margin-bottom: 0;
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    pointer-events: none;
    background-color: $list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
  }
  .icon {
    margin-right: .5rem;
  }
  svg {
    margin-right: .5rem;
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    flex-shrink: 0;
  }

  &.list-item-description {
    .list-item-label {
      color: $neutral-primary;
      font-weight: $font-weight-bold;
    }
  }
}

.list-content {
  &.list-icon-content {
    margin-left: 2rem;
  }
}


// Individual list items with icon
.list-item-icon {
  padding: .5rem 0;
  display: flex;
  flex-flow: row wrap;
  .icon {
    margin-right: 1rem;
  }
  svg {
    margin-right: 1rem;
    fill: $neutral-tertiary;
  }

}
.list-item-icon-label {
  color: $neutral-primary;
  font-weight: $font-weight-bold;
}
.list-item-icon-action {
  display: inherit;
  width: 100%;
  .link-has-icon {
    .icon {
      padding: 0;
    }
    @include hover-focus {
      .icon {
        background-color: transparent;
      }
    }
  }
}
.list-item-icon-content {
  flex: 2;
  p {
    margin-bottom: 1rem;
    + p {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
