// Lists overrides and new variants

// List groups
.list-group {
  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-group-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;

  li {
    list-style: none;
  }

  .list-group-item-title {
    font-weight: $font-weight-bold;
  }

  // DEPRECATED
  // Use column-count utility classes
  &.list-2-columns {
    display: block;
    .list-group-item {
      display: inline-block;
    }
  }
  &[class*="column-count"] {
    display: block;
    .list-group-item {
      display: inline-block;
    }
  }
}

.list-group-xl,
.list-group-lg {
  .list-group-item {
    padding: 1rem;
    .icon {
      margin-right: 1rem;
    }
    svg {
      margin-right: 1rem;
    }

    &.list-group-item-action {
      > a {
        padding: 1rem;
      }
    }
  }
}

// Clickable wrapper
// .list-group-icons-categories is Deprecated, use list-group-xl
.list-group-icons-categories,
.list-group-xl {
  .list-group-item {
    border-top: $list-group-border-width solid $list-group-border-color;
    &.active {
      border-color: $list-group-active-border-color;
    }
    
    &:active,
    &.active {
      color: $list-group-action-active-color;
      background-color: $list-group-action-active-bg;
      border-bottom: none;
      border-top: 1px solid transparent;
      + .list-group-item-action {
        border-top: 1px solid transparent;
      }
      .list-group-item-title {
        color: $list-group-action-active-color;
      }
    }
    &.list-group-item-action {
      > a {
        align-items: center;
      }
      @include hover-focus {
        border-bottom: none;
        border-top: 1px solid transparent;
        + .list-group-item-action {
          border-top: 1px solid transparent;
        }
      }
    }
  }
}

.list-group-allow-ext-icon {
  a[href*="//"]:not([href*="montreal.ca"]):not([href*="ville.montreal.qc.ca"]):not([href$=".pdf"]):not(.link-has-icon):not(.btn) {
    .list-group-item-label {
      @extend .is-external-link;
    }
  }
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

.list-group-item-action {
  border-bottom: none;
  font-weight: $font-weight-bold;
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  color: $list-group-action-color;
  text-align: inherit; // For `<button>`s (anchors inherit)

  @include hover-focus {
    z-index: 1; // Place hover/focus items above their siblings for proper border styling
    color: $list-group-action-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
    border: none;
  }


  // Fix active state and class for list-group-item-action
  &:active,
  &.active {
    color: $list-group-action-active-color;
    background-color: $list-group-action-active-bg;
    border-bottom: none;
    .list-group-item-title {
      color: $list-group-action-active-color;
    }
  }

}



//
// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.
.list-group-item {
  position: relative;
  display: block;
  padding: .5rem;
  display: flex;
  //align-items: center;
  line-height: $line-height-md;
  margin-bottom: 0;
  color: $list-group-color;
  background-color: $list-group-bg;

  &:last-child {
    margin-bottom: 0;
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    pointer-events: none;
    background-color: $list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }

  a {
    border-bottom: none;
    &:hover {
      //border-top: 1px solid transparent;
      .list-group-item-title {
        color: $action;
      }
      // Needs to override possible overrides coming from external links behavior
      // @see type.scss
      &:before {
        content: none !important;
      }
    }

  }

  .icon {
    @include icon-color($action);
    flex-shrink: 0;
    margin-right: .5rem;
    &:before {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  svg {
    margin-right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    flex-shrink: 0;
  }

  &.list-group-item-action {
    padding: 0;
    > a {
      padding: .5rem;
      display: flex;
      // align-items: center;
      width: 100%;
    }
  }

}

// Icons - Editorial and Utility
//
.list-group-xl,
.list-group-icons-categories {
  a {
    border-bottom: none;
      // Hover state
    @include hover-focus {
      .icon {
        @include icon-color($action-lighter);
      }
      svg {
        fill: $action-lighter;
      }
    }

    &:active,
    &.active {
      .icon {
        @include icon-color($action-lighter);
      }
      svg {
        fill: $action-lighter;
      }
    }
  }
  .icon {
    @include icon-color($neutral-tertiary);
    &:before {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: $neutral-tertiary;
  }
}


// List-group-teaser
// Content type teaser list-group variant
//
.list-group-teaser {
  margin-bottom: 0;

  .list-group-item {
    display: block;
    padding: 1rem 0;
    border-top: $list-group-border-width solid $list-group-border-color;

    // DEPRECATED
    // use list-group-thumb
    .list-group-teaser-img {
      background-size: cover;
      background-position: center center;
      flex: 1 0 auto;
      margin-bottom: 1rem;
      padding-top: 56.25%;  /* 16:9 format = 0.5625 */
      width: 100%;

      .icon {
        position: absolute;
        top: 50%;
        margin-top: -1.75rem;
        left: 50%;
        margin-left: -1.75rem;
        @include icon-size(3.5rem);
        @include icon-color($action-lighter);
      }

    }

    a.list-group-item-title {
      @include hover-focus {
        background-color: transparent;
        color: $list-group-action-active-color;
      }
    }

  }

  // List-group-item-action for actionnable content (links or complexe toggling)
  .list-group-item-action {
    color: $neutral-secondary;
    font-weight: $font-weight-normal;

    @include hover-focus {
      background-color: transparent;
      cursor: pointer;

      .icon {
        @include icon-color($primary);
      }

      .list-group-item-title {
        color: $list-group-action-active-color;
      }
    }
  }

  .list-group-thumb {
    max-width : 128px;
    height: auto;

    &.list-group-thumb-placeholder {
      width: 128px;
      height: 72px;
      position: relative;

      .icon {
        position: absolute;
        top: 50%;
        margin-top: calc(-#{$icon-cat}/2);
        left: 50%;
        margin-left: calc(-#{$icon-cat}/2);
        @include icon-size($icon-cat);
        @include icon-color($action-lighter);
      }
    }
  }

  .list-group-item-max-width {
    max-width: 670px;
  }

  .list-group-item-title {
    @include font-size($font-size-lg);
    color: $headings-color;
    display: block;
    line-height: $line-height-lg;
    margin-bottom: 1rem;
  }

  .list-group-item-type,
  .list-group-item-category {
    @include font-size($font-size-xs);
    font-weight: $font-weight-bold;
    line-height: $line-height-xs;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }
  .list-group-item-publication-date,
  .list-group-item-date {
    @include font-size($font-size-base);
    line-height: $line-height-md;
  }
  .list-group-item-date {
    font-weight: $font-weight-bold;
  }
  .list-group-item-badge {
    display: inline-flex;
    margin-right: 1rem;
  }
  .list-group-item-infos {
    display: inline-block;
    @include font-size($font-size-base);
    line-height: $line-height-md;
    position: relative;
    padding-right: 1.5rem;
    margin-right: -.25rem;
    &:after {
      content: "";
      -webkit-mask: url($data-icon-dot-interpunct) no-repeat 50% 50%;
      mask: url($data-icon-dot-interpunct) no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $neutral-tertiary;
      width: $icon-md;
      height: $icon-md;
      position: absolute;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }

  }

  // DEPRECATED
  &.list-group-date {
    .list-group-item-date {
      margin-bottom: 1rem;
      &:after {
        content: "";
        display: block;
        height: .125rem;
        width: 2rem;
        margin-top: 1rem;
        background-color: $brand;
      }
    }
    .list-group-item-title {
      margin-bottom: 0;
    }
  }

  // Small breakpoint override
  @include media-breakpoint-up(sm) {
    .list-group-item {
      .list-group-teaser-img {
        margin-bottom: 0;
        padding-top: 0;
        height: 100%;
      }
    }
  }

}

.list-group-complex {

  .list-group-item {
    padding: 1rem;

    .badge + .badge {
      margin-left: .25rem;
    }
  }

  .list-group-icon {
    .icon {
      @include icon-color($neutral-tertiary);
      margin-right: 1rem;
    }
  }

  .list-group-icon-editorial {
    .icon {
      @include icon-size($icon-cat);
    }
  }

  // Custom control (checkbox or radios)
  .custom-control {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    padding-left: 1.5rem;
  }

  .custom-checkbox .custom-control-label {
    &::before {
      left: -1.5rem;
    }
    &::after {
      left: -1.5rem;
    }
  }

  .list-group-item-title {
    @include font-size($font-size-base);
    line-height: $line-height-md;
    margin-bottom: 0;
  }

  // Smaller font-size for list-group-complex
  .list-group-item-infos {
    @include font-size($font-size-sm);
    line-height: $line-height-sm;
  }

  .list-group-item {
    @include hover-focus {
      background-color: $neutral-underground-1;

      .icon {
        @include icon-color($neutral-primary);
      }

      .list-group-icon {
        .icon {
          @include icon-color($action-lighter);
        }
      }

      .list-group-item-title {
        color: $list-group-action-active-color;
      }
    }
  }
}

