// List defines styled lists

// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list,
.list-icon {
  display: flex;
  flex-direction: column;

  @include font-size($font-size-base);
  line-height: $line-height-md;

  // No need to set list-style: none; since .list-group-item is block level
  list-style: none;
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
}

// Interactive list item
//
.list-item-action {
  text-align: inherit;
  display: inherit;
  width: 100%;

  a {
    display: inline-block;
    border: none;
    color: $list-group-action-color;

    // Hover state
    @include hover-focus {
      background-color: transparent;
      color: $list-group-action-hover-color;
      text-decoration: none;
      z-index: 1; // Place hover/focus items above their siblings for proper border styling
      .link-label {
        border-bottom: 1px solid $action;
        display: inline;
        background-color: $highlight-light;
      }
    }
  }
}


// list item
//
// Use on `li`s or `div`s within the `.list` parent.

.list-item {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  padding: .5rem 0;
  color: $list-group-color;

  &:last-child {
    margin-bottom: 0;
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    pointer-events: none;
    background-color: $list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
  }
  .icon {
    margin-right: .5rem;
  }
  svg {
    margin-right: .5rem;
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    flex-shrink: 0;
  }
}

// Default list-item-label styles
.list-item-label {
  color: $neutral-primary;
  font-weight: $font-weight-bold;
}

// TODO: see what this is for and document and/or remove
.list-content {
  &.list-icon-content {
    margin-left: 2rem;
  }
}


// list item icon
//
.list-item-icon {
  padding: .5rem 0;
  display: flex;
  flex-flow: row wrap;

  // Icon and svgs handling
  .icon {
    margin-right: 1rem;
  }
  svg {
    margin-right: 1rem;
    fill: $neutral-tertiary;
  }
}

// Default list-item-icon-label styles
.list-item-icon-label {
  color: $neutral-primary;
  font-weight: $font-weight-bold;
}

.list-item-icon-action ~ .list-item-icon-content {
  margin-left: 2.5rem;
}

// Label is a link
.list-item-icon-action {
  display: inherit;
  width: 100%;
  .link-has-icon {
    display: inline-flex;
    border: none;
    line-height: $line-height-md;
    .icon {
      @include icon-color($action);
      display: block;
      margin: 0;
      padding: 0;
      margin-right: 1rem;
    }
    @include hover-focus {
      border: none;
      background-color: transparent;
      .link-icon-label {
        background-color: $highlight-light;
        display: inline;
        border-bottom: 1px solid $action;
      }
      .icon {
        border: none;
        background-color: transparent;
      }
    }
  }
}


// Sizes handling for list-item and list-item-icon.
// TODO: Use mixins to set sizes
.list {
  &.list-lg {
    .list-item,
    .list-item-icon {
      @include font-size($font-size-base);
      line-height: $line-height-md;
    }
  }

  &.list-md {
    .list-item,
    .list-item-icon {
     @include font-size($font-size-sm);
     line-height: $line-height-sm;
    }

    // list item icon
    .list-item-icon {
      padding: .625rem 0;
      // Icon and svgs handling
      .icon {
        @include icon-size($icon-sm);
      }
    }
    .list-item-icon-action {
      .link-has-icon {
        line-height: $line-height-sm;
      }
      ~ .list-item-icon-content {
        margin-left: 2.25rem;
      }
    }
  }

  &.list-sm {
    .list-item,
    .list-item-icon {
      @include font-size($font-size-xs);
      line-height: $line-height-xs;
    }

    // list item icon
    .list-item-icon {
      padding: .5rem 0;
      // Icon and svgs handling
      .icon {
        margin-right: .5rem;
        @include icon-size($icon-xs);
      }
    }
    .list-item-icon-action {
      .link-has-icon {
        line-height: $line-height-xs;
      }
      ~ .list-item-icon-content {
      margin-left: 1.5rem;
      }
    }
  }
}

// Content handling
// TODO: validate all this and set use case if still good.
.list-item-content,
.list-item-icon-content {
  flex: 2;
  p {
    margin-bottom: 1rem;
    + p {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// TODO: validate if this is still needed
.list-item-icon-sub-content {
  position: relative;
  &:before {
    content: "";
    background: $neutral-stroke;
    position: absolute;
    left: -1.75rem;
    top: 0;
    height: 100%;
    width: 2px;
  }
  > * {
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// DEPRECATED
// USE new .list-inline-interpunct
.list-inline-dot {
  margin-top: .375rem;
  .list-inline-item {
    display: inline-flex;
    margin-right: 0;
    margin-bottom: .375rem;
    a {
      display: inline-block;
    }
    &:after {
      -webkit-mask: url($data-icon-dot-interpunct) no-repeat 50% 50%;
      mask: url($data-icon-dot-interpunct) no-repeat 50% 50%;
      width: 20px;
      height: 20px;
      content: '';
      display: inline-flex;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $neutral-tertiary;
    }

    + .list-inline-item {
      margin-left: -.25rem;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

// Use for list-inline or any content that needs to be listed with interpunct
//
.list-inline-interpunct {
  display: flex;
  flex-wrap: wrap;
  .list-inline-item {
    display: inline-flex;
    margin-right: 0;
    margin-bottom: .25rem;
    &:after {
      -webkit-mask: url($data-icon-dot-interpunct) no-repeat 50% 50%;
      mask: url($data-icon-dot-interpunct) no-repeat 50% 50%;
      width: $icon-sm;
      height: $icon-sm;
      content: '';
      display: inline-flex;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $neutral-tertiary;
      margin-left: .25rem;
      margin-right: .25rem;
    }
    // Remove interpunct from last item
    &:last-child {
      &:after {
        content: none;
      }
    }

    a {
      display: inline-block;
    }

  }
}


// DEPRECATED - USE column-count utilities
// 2 columns list layout
//
.list-2-columns {
  @include media-breakpoint-up(lg) {
    -moz-column-count: 2;
    -moz-column-gap: $grid-gutter-width;
    -webkit-column-count: 2;
    -webkit-column-gap: $grid-gutter-width;
    column-count: 2;
    column-gap: $grid-gutter-width;
    > * {
      // Prevent element inside column from breaking
      -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
      page-break-inside: avoid; /* Firefox */
      break-inside: avoid; /* IE 10+ */
      transform: translateZ(0); // Issues with box-shadow focus
    }
  }
}

// DEPRECATED - USE column-count utilities
// 4 columns list layout
//
.list-4-columns-md {
  @include media-breakpoint-up(md) {
    -moz-column-count: 4;
    -moz-column-gap: $grid-gutter-width;
    -webkit-column-count: 4;
    -webkit-column-gap: $grid-gutter-width;
    column-count: 4;
    column-gap: $grid-gutter-width;
    > * {
      // Prevent element inside column from breaking
      -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
      page-break-inside: avoid; /* Firefox */
      break-inside: avoid; /* IE 10+ */
      transform: translateZ(0); // Fix issues with box-shadow focus
    }
  }
}


// Quick links lists
// TODO: Use generic classes no need to customize this
.quick-links {
  @include font-size($font-size-sm);
  line-height: $line-height-sm;
  margin-bottom: .5rem;
  .quick-links-label {
    color: $neutral-primary;
    display: inline-block;
    font-weight: $font-weight-normal;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  .list-inline {
    display: inline;
  }
  .list-inline-item {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
}
