.header-main-nav {
  position: relative;
  // Handle fixed-top padding
  &.is-fixed-top {
    padding-bottom: 5.5rem;
    @include media-breakpoint-up(lg) {
      padding-bottom: 6.5rem;
    }
    // Handle navbar without top bar when is-fixed-top
    &.is-mini {
      padding-bottom: 3.5rem;
      @include media-breakpoint-up(lg) {
        padding-bottom: 4.5rem;
      }
    }
  }
}

// Main navbar based on bootstrap navbar
.main-navbar {
  &.navbar {
    background-color: $white;
    border-bottom: 1px solid $neutral-stroke;
    padding: .5rem 1rem;
    z-index: $zindex-fixed;

    a,
    button,
    .btn {
      &:focus {
        box-shadow: $main-navbar-focus-box-shadow;
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active {
        background-image: none;
        box-shadow: $main-navbar-focus-box-shadow;

        &:focus {
          box-shadow: $main-navbar-focus-box-shadow;
        }
      }
    }

    a:not(.btn) {
      border-bottom: none;
    }

    .navbar-div {
      display: flex;
    }

    // Montreal logo is the navbar-brand
    .navbar-brand {
      display: inline-flex;
      padding: .5rem;
      margin: 0;
      @include hover-focus {
        background-color: transparent;
      }
      svg {
        flex: 0 0 auto; // This is needed because of IE weird behavior
        height: 1.5rem;
        width: auto;
      }
    }

    .navbar-brand {
      @include font-size($font-size-base);
      line-height: $line-height-md;
      font-weight: $font-weight-bold;
      align-items: center;
      @include transition(color .15s ease-in-out);
    }

    a.navbar-brand {
      @include hover-focus {
        color: $action;
      }
    }

    // Navbar sitename used for navbar services
    .navbar-sitename {
      display: flex;
      flex-direction: column;
      white-space: normal;
      margin: 0;
      padding: .5rem;

      .sitename {
        @include font-size($font-size-base);
        line-height: $line-height-md;
        font-weight: $font-weight-bold;
        color: $neutral-primary;
      }

      .sitename-info {
        @include font-size($font-size-xs);
        line-height: $line-height-xs;
      }
    }

    // Separator in navbar
    // Use display utility class to hide @breakpoint
    .navbar-separator {
      display: flex;
      margin: 0 .5rem;
      &:after {
        content: "";
        border-right: 1px solid $neutral-stroke;
        height: 1.5rem;
      }
    }

    .navbar-div {
      .navbar-btn {
        margin: 0 .25rem;
      }
      margin-right: -.25rem;
    }

    //
    // Navbar buttons styles
    .navbar-btn {
      @include button-reset();
      display: inline-flex;
      align-items: center;
      font-weight: $btn-font-weight;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border-radius: $btn-border-radius-squared;
      color: $neutral-primary;
      padding: .5rem;
      @include font-size($font-size-base);
      line-height: $line-height-md;
      @include transition($btn-transition);

      .icon {
        margin: 0;
        @include icon-color($neutral-primary);
      }

      svg {
        fill: currentColor;
      }

      .btn-label {
        color: $neutral-primary;
        line-height: $line-height-md;
        @include transition($btn-transition);
      }

      &:active,
      &.active {
        color: $action;
        .icon {
          @include icon-color($action);
        }
        .btn-label {
          color: $action;
        }
      }

      @include hover-focus {
        color: $action;
        .icon {
          @include icon-color($action);
        }
        .btn-label {
          color: $action;
        }
      }

      &.navbar-btn-icon {
        .btn-label {
          margin-left: 1rem;
        }
      }

      &.navbar-btn-alert {
        background-color: $danger;
        border-radius: $btn-border-radius;
        .btn-label {
          @include font-size($btn-font-size);
          line-height: $btn-line-height;
          color: $white;
          margin-left: .5rem;
          margin-right: .5rem;
        }
        .icon {
          @include icon-color($white);
        }
        svg {
          fill: $white;
        }

        @include hover-focus {
          background-color: $negative-dark;
        }
      }

      &.navbar-btn-danger {
        .btn-label {
          color: $negative-dark;
        }
        .icon {
          @include icon-color($negative-dark);
        }
        @include hover-focus {
          .btn-label {
            color: $negative;
          }
          .icon {
            @include icon-color($negative);
          }
        }
      }
    }

    // Dropdown
    .dropdown {
      position: relative;
      display: flex;

      &.show {
        .dropdown-toggle {
          // remove chevron
          &:after {
            content: none;
          }
        }
      }
    }
    // Dropdown overrides
    .dropdown-toggle {
      // Prevent long username/profile to break layout with max-width
      // Use elided-text helper class on field to add ellipsis on truncated strings
      .user-info {
        flex-direction: column;
        line-height: $line-height-md;
        max-width: 170px;
        text-align: left;

        &.user-has-profil {
          @include font-size($font-size-xs);
          line-height: $line-height-xs;

          .user-profil {
            color: $neutral-secondary;
            font-weight: $font-weight-normal;
          }
        }
      }
      // remove chevron
      &:after {
        content: none;
      }

      @include hover-focus {
        .user-avatar,
        .media-avatar {
          background-color: $action-darker;
        }
      }

    }

    // Dropdown menu
    .dropdown-menu {
      right: 0;
      left: auto;
      margin: 0;
      max-height: none;
      min-width: 20rem;
      box-shadow: $dropdown-box-shadow;

      // Dropdown section
      .dropdown-item-section {
        padding: .5rem 1rem;
        .user-info {
          line-height: $line-height-md;
          > * {
            display: flex;
          }
        }
        .user-email {
          @include font-size($font-size-sm);
          color: $neutral-secondary;
        }
        .user-profil {
          font-weight: $font-weight-bold;
          margin-bottom: 1rem;
        }
      }
    }

    // Dark navbar variant
    //
    &.navbar-dark {
      background-color: $neutral-primary;
      border-bottom: none;

      .navbar-btn {
        color: $white;
        .icon {
          @include icon-color($white);
        }

        .btn-label {
          color: $white;
        }

        @include hover-focus {
          color: $action-lighter;
          .icon {
            @include icon-color($action-lighter);
          }
          .btn-label {
            color: $action-lighter;
          }
        }
      }
      .navbar-separator {
        &:after {
          border-right: 1px solid $neutral-secondary;
        }
      }
      .navbar-brand {
        @include font-size($font-size-base);
        line-height: $line-height-md;
        font-weight: $font-weight-bold;
        align-items: center;

        @include hover-focus {
          color: $action-lighter;
        }
      }

      .navbar-sitename {
        color: $white;
        margin-left: .5rem;
        .sitename {
          color: $white;
        }
      }

      .dropdown-toggle {
        &::after {
          background-color: $white;
        }

        @include hover-focus {
          &::after {
            background-color: $action-lighter;
          }
          .user-avatar,
          .media-avatar {
            background-color: $action-lighter;
          }
        }
      }

      .user-avatar,
      .media-avatar {
        background-color: $action-lighter;
        color: $white;
      }
    }

    &.navbar-scrolled {
      box-shadow: $navbar-box-shadow;
    }

    // Dropdown-menu Mobile full width
    @include media-breakpoint-down(xs) {
      .dropdown-menu {
        width: 100%;
      }
    }

    // 992px and up
    @include media-breakpoint-up(lg) {
      padding: 1rem 2rem;
      min-height: 4.5rem;
      // Montreal logo is the navbar-brand
      .navbar-brand {
        padding: .25rem;
        svg {
          height: 2rem;
        }
      }

      .navbar-sitename {
        padding: 0;
      }

      .navbar-separator {
        margin: 0 1rem;
      }

      .navbar-div {
        .navbar-btn {
          margin: 0 .5rem;
        }
        .navbar-separator {
          margin: 0 .5rem;
        }
        margin-right: -.5rem;
      }

      &.navbar-dark {
        .navbar-sitename {
          margin-left: 1rem;
        }
      }

      .dropdown {
        &.show {
          .dropdown-toggle {
            // Add Chevron
            &:after {
              content: '';
            }
          }
        }
      }

      // Add chevron
      .dropdown-toggle {
        &::after {
          content: '';
          background-color: $neutral-tertiary;
        }
        @include hover-focus {
          &::after {
            background-color: $primary;
          }
        }
      }
    }
  }
}

.navbar-lang-switcher {
  background-color: $neutral-primary;
  color: $white;
  padding: 0;
  height: $navbar-lang-height;
  position: relative;
  z-index: $zindex-fixed + 1;
  align-items: center;
  .btn-lang {
    padding-top: .125rem;
    padding-bottom: .125rem;
  }
  .not-translated {
    @include font-size($font-size-sm);
    line-height: $line-height-sm;
    font-weight: $font-weight-normal;
    align-self: center;
    margin-left: auto;
    margin-right: 1rem;
    > * {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 0 1rem;
  }
}

//
// Navbar search flyout
.navbar-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  visibility: hidden;
  z-index: $zindex-fixed;

  .navbar-search-form {
    padding: .5rem;
    visibility: hidden;
    background-color: $white;
    transform: translateY(-100%);
    transition: $main-menu-transition, visibility 0s linear 300ms;
  }

  .input-group {
    .icon {
      align-self: center;
      @include icon-color($neutral-primary);
    }
    .form-control {
      @include font-size($input-btn-font-size-lg);
      border: none;
      line-height: $line-height-md;
      padding: 0 1rem;
    }
  }

  .btn + .btn {
    margin-left: .5rem;
  }

  .btn-search-submit {
    .icon {
      @include icon-color($action);
      display: none;
    }
  }


  &.show {
    top: 0;
    display: block;

    .navbar-search-form {
      visibility: visible;
      transform: translateY(0);
      transition: $main-menu-transition, visibility 0s linear 0s;
    }
  }

  @include media-breakpoint-up(lg) {
    height: 4.5rem;

    .navbar-search-form {
      padding: 1rem 1.5rem;
    }

  }

  @include media-breakpoint-down(md) {

    .input-group {
      margin-left: .5rem;
    }

    .btn + .btn {
      margin-left: .5rem;
    }
    .btn-primary.btn-search-submit:not(:disabled):not(.disabled) {
      padding: .5rem;
      border: 0;
      .icon {
        @include icon-color($white);
        display: inline-flex;
        margin-right: 0;
        margin: 0;
      }
      .btn-label {
        display: none;
      }
      &:hover,
      &:focus {
        background-color: $action-darker;
      }
    }
  }
}

