// Main navbar based on bootstrap navbar
.main-navbar {
  &.navbar {
    background-color: transparent;
    border-bottom: 1px solid $neutral-stroke;
    padding: 1rem;
    a:not(.btn) {
      border-bottom: none;
    }
    .navbar-div {
      display: flex;
      width: 100%;
    }

    // Montreal logo is the navbar-brand
    .navbar-brand {
      padding: 0;
      margin: 0 auto;
      display: inline-flex;
      @include hover-focus {
        background-color: transparent;
      }
      svg {
        height: 1.5rem;
        width: auto;
        flex: 0 0 auto; // This is needed because of IE weird behavior
      }
    }

    .nav-link {
      display: flex;
      align-items: center;
      padding: 0;
    }

    .navbar-nav {
      align-items: center;
      .nav-item-btn {
        margin: 0 .5rem;
        padding-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
      li:last-child {
        .nav-link {
          padding-right: 0;
        }
      }
    }

    // Separator in navbar
    // Use display utility class to hide @breakpoint
    .navbar-separator {
      display: flex;
      margin-right: 2rem;
      &:after {
        content: "";
        border-right: 1px solid $neutral-stroke;
        height: 1.5rem;
        margin-left: 2rem;
      }
    }

    //
    // Navbar buttons styles
    .navbar-btn {
      @include button-reset();
      color: $neutral-primary;
      cursor: pointer;
      font-weight: $font-weight-bold;
      display: inline-flex;
      align-items: center;
      padding: 0;
      @include transition(color .15s ease-in-out);

      svg {
        fill: currentColor;
      }

      .btn-label {
        color: $neutral-primary;
        line-height: $line-height-component;
        @include transition(color .15s ease-in-out);
      }

      &:hover,
      &:active {
        color: $action;
        .btn-label {
          color: $action;
        }
      }

      // remove focus from box-shadow
      &:focus,
      &.focus {
        box-shadow: none;
      }
    }

    // Dropdown
    .dropdown {
      position: inherit;
      display: flex;
    }
    // Dropdown overrides
    .dropdown-toggle {
      padding-top: 0;
      padding-bottom: 0;

      // Prevent long username/profile to break layout with max-width
      // Use elided-text helper class on field to add ellipsis on truncated strings
      .user-info {
        flex-direction: column;
        line-height: $line-height-component;
        max-width: 170px;
        text-align: left;

        &.user-has-profil {
          @include font-size($font-size-xs);
          line-height: 1.333333333;

          .user-profil {
            color: $neutral-secondary;
            font-weight: $font-weight-normal;
          }
        }
      }
      // remove carets
      &:after {
        content: none;
      }

    }

    // Dropdown menu
    .dropdown-menu {
      border-right: 0;
      top: 100%;
      right: 0;
      margin: 0;
      max-height: none;
      min-width: 20rem;
      box-shadow: -1px 3px 3px 0 $neutral-underground-2;

      // Dropdown section
      .dropdown-item-section {
        .user-info {
          line-height: $line-height-component;
          > * {
            display: flex;
          }
        }
        .user-email {
          @include font-size($font-size-sm);
          color: $neutral-tertiary;
        }
        .user-profil {
          font-weight: $font-weight-bold;
          margin-bottom: 1rem;
        }
      }

      .dropdown-item {
        display: flex;
        align-items: center;
        padding: .75rem 2.5rem;
      }

    }

    // change icon when dropdown is open
    .dropdown.show {
      .dropdown-toggle {
        &:after {
          content: none;
        }
      }
    }

    // Dark navbar variant
    //
    &.navbar-dark {
      background-color: $neutral-primary;
      border-bottom: none;
    
      .navbar-btn,
      .navbar-btn .btn-label {
        color: $white;
        &:hover,
        &:active {
          color: $action-lighter;
          .btn-label {
            color: $action-lighter;
          }
        }
      }
      .navbar-separator {
        &:after {
          border-right: 1px solid $neutral-secondary;
        }
      }
      .navbar-brand {
        @include font-size($font-size-base);
        line-height: $line-height-component;
        font-weight: $font-weight-bold;
        align-items: center;
        
        &:hover,
        &:active {
          color: $action-lighter;
        }
      }

      .dropdown-toggle {
        &::after {
          background-color: $white;
        }
      }
    
    }

    &.navbar-scrolled {
      background-color: $white;
      box-shadow: $navbar-box-shadow;
      &.navbar-dark {
        background-color: $neutral-primary;
      }
    }

    // Dropdown-menu Mobile full width
    @include media-breakpoint-down(xs) {
      .dropdown-menu {
        border-left: 0;
        width: 100%;
      }
    }

    // 768px and up
    @include media-breakpoint-up(md) {
      .navbar-div-left {
        width: auto;
      }
      .navbar-brand {
        margin: 0;
      }
    }

    // 992px and up
    @include media-breakpoint-up(lg) {
      height: 4.5rem;
      padding: 1rem 2rem;
      .navbar-brand {
        svg {
          height: 2rem;
          width: auto;
        }
      }

      // Add chevron
      .dropdown-toggle {
        &::after {
          content: '';
        }
      }

      // Switch to chevron up when opened
      .dropdown.show {
        .dropdown-toggle {
          &:after {
            content: '';
            -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
            mask: url($data-icon-chevron-up) no-repeat 50% 50%;
          }
        }
      }
    }
  }
}

//
// Navbar search flyout
.navbar-search {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: $zindex-fixed;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  .inner-container {
    display: flex;
  }

  .form-group {
    display: flex;
    margin: 0;
    width: 100%;
  }

  .form-control {
    border: none;
    @include font-size(1.875rem);
    &:focus {
      box-shadow: none;
    }
  }
}
