.media-container {
  margin-bottom: 3rem;
}

// Media gallery
.media-gallery-container {
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.media-gallery {
  @extend .list-unstyled;
  @include make-row();
  margin-bottom: 0;
  li {
    @include make-col-ready();
    @include make-col(12);
    padding-bottom: $grid-gutter-width;
  }

  @include media-breakpoint-up(md) {
    li {
      @include make-col(6);
    }
  }

  @include media-breakpoint-up(lg) {
    li {
      @include make-col(3);
    }
  }
}

.media-gallery-hidden {
  display: none;
}

.media-gallery-button {
  position: relative;
  display: inline-block;
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
  }
}