.nav-menu-items {
  display: flex;
  height: 100%;
}
.nav-menu-items-rtl {
  .menu-items,
  .menu-items.menu-items-column {
    border-right: none;
    border-left: 1px solid $neutral-stroke;
  }
  .menu-items.menu-items-column {
    li {
      a.menu-item:not(.disabled) {
        &.active,
        &:active {
          &:before {
            bottom: auto;
            left: -1px;
            right: auto;
          }
        }
      }
    }
  }
  // Invert border-radius side for menu-items-column
  .menu-items.menu-items-labeled-bar {
    padding: 1rem 1rem 1rem 0;
    li {
      a.menu-item:not(.disabled) {
        @include border-left-radius(0px);
        @include border-right-radius($border-radius);
      }
    }
  }
}

// DEPRECATED
//
.nav-menu-items-right {
  right: 0;
  height: calc(100% - 56px);
  z-index: 2;
  @include media-breakpoint-up(lg) {
    height: calc(100% - 72px);
  }
  .menu-items.menu-items-icon-bar {
    li {
      a.menu-item:not(.disabled) {
        &.active,
        &:active {
          &:before {
            right: 0;
            left: auto;
          }
        }
      }
    }
  }
}

// Menu-item
.menu-items {
  border-bottom: 1px solid $neutral-stroke;
  background-color: $white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    padding: 0;
    display: flex;
    &.menu-item-separator {
      &:after {
        background-color: $neutral-stroke;
        position: relative;
        content: '';
        height: auto;
        margin: .75rem 1rem;
        width: 1px;
      }
    }
    .menu-item {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      border-bottom: none;
      padding: 1rem;
      position: relative;
      .icon {
        @include icon-color($neutral-stroke);
      }
      .menu-item-label {
        display: none;
        @include font-size($font-size-xs);
        line-height: $line-height-xs;
        color: $neutral-secondary;
        font-weight: $font-weight-bold;
        margin-top: .5rem;
      }
    }
    .disabled {
      background-color: transparent;
      cursor: not-allowed;
      .menu-item-label {
        color: $neutral-tertiary;
      }
    }
    // Defines color and states for links
    a.menu-item:not(.disabled) {
      .icon {
        @include icon-color($neutral-secondary);
      }
      .menu-item-label {
        color: $neutral-secondary;
      }
      @include hover-focus {
        background-color: transparent;
        z-index: 2;
        .icon {
          @include icon-color($action);
        }
        .menu-item-label {
          color: $action;
        }
      }

      &.active,
      &:active {
        background-color: $highlight-light;
        .icon {
          @include icon-color($action);
        }
        .menu-item-label {
          color: $action;
        }
        &:before {
          content: "";
          position: absolute;
          right: auto;
          bottom: -1px;
          height: 2px;
          width: 100%;
          background-color: $action;
        }
      }
    }
  }

  &.menu-items-column {
    border-bottom: none;
    border-right: 1px solid $neutral-stroke;
    flex-direction: column;
    height: 100%;
    // The menu-items-column is fluid.
    // Use inside grid or use a fixed size container.
    //width: 256px;
    li {
      position: relative;
      display: flex;
      flex-direction: column;
      &.menu-item-separator {
        padding-bottom: 2rem;
        &:after {
          background-color: $neutral-stroke;
          position: absolute;
          bottom: 0;
          content: '';
          height: 1px;
          margin: 0 .75rem 1rem .75rem;
          width: calc(100% - 1.5rem);
        }
      }
      .menu-item {
        min-width: auto;
        width: 100%;
        flex-direction: row;
        .icon {
          @include icon-color($neutral-stroke);
        }

        .menu-item-label {
          display: flex;
          @include font-size($font-size-base);
          line-height: $line-height-md;
          margin-top: 0;
          margin-left: 1rem;
        }
      }

      // Defines states for links
      a.menu-item:not(.disabled) {
        @include border-left-radius($border-radius);
        .icon {
          @include icon-color($neutral-secondary);
        }
        @include hover-focus {
          .icon {
            @include icon-color($action);
          }
        }

        &.active,
        &:active {
          .icon {
            @include icon-color($action);
          }
          &:before {
            bottom: auto;
            right: -1px;
            height: 100%;
            width: 2px;
            background-color: $action;
          }
        }
      }
    }
  }

  &.menu-items-labeled-bar {
    padding: 1rem 0 1rem 1rem;
  }

  &.menu-items-column.menu-items-icon-bar {
    width: 56px;
  }

  &.menu-items-icon-bar {
    li {
      .menu-item {
        padding: 1rem;
        width: 100%;
        // Hide label if any
        .menu-item-label {
          display: none;
        }
      }

      // Defines states for links
      a.menu-item:not(.disabled) {
        @include border-radius(0px);
        .icon {
          @include icon-color($neutral-secondary);
        }
        @include hover-focus {
          .icon {
            @include icon-color($action);
          }
        }

        &.active,
        &:active {
          .icon {
            @include icon-color($action);
          }
        }
      }
    }
  }

  // DEPRECATED
  // Dark variant
  &.menu-items-reverse {
    background-color: $neutral-primary;
    border-color: $neutral-primary;
    li {
      // Defines colors and states for links
      a.menu-item:not(.disabled) {
        .icon {
          @include icon-color($white);
        }
        .menu-item-label {
          color: $white;
        }
        @include hover-focus {
          .icon {
            @include icon-color($action-lighter);
          }
          .menu-item-label {
            color: inherit;
          }
        }
        &.active,
        &:active {
          .icon {
            @include icon-color($action-lighter);
          }
          background-color: $black;
          .menu-item-label {
            color: inherit;
          }
          &:before {
            background-color: $action-lighter;
          }
        }
      }
    }
  }

  // DEPRECATED
  // Light variant
  &.menu-items-light,
  &.menu-items-underground {
    background-color: $neutral-underground-1;
  }

  // Handle right or left side positionning of border and active state
  &.menu-items-right {
    border-right: none;
    border-left: 1px solid $neutral-stroke;

    &.menu-items-column {
      li {
        a.menu-item:not(.disabled) {
          &.active,
          &:active {
            &:before {
              left: -1px;
              right: auto;
            }
          }
        }
      }
    }

    &.menu-items-labeled-bar {
      padding: 1rem 1rem 1rem 0;
      li {
        a.menu-item:not(.disabled) {
          @include border-left-radius(0px);
          @include border-right-radius($border-radius);
        }
      }
    }
  }

}

.sub-menu-items {
  padding-left: 3.5rem;
  @include font-size($font-size-sm);
  line-height: $line-height-sm;
  .sub-menu-item {
    border-bottom: none;
    padding: .625rem 1rem;
  }
  .sub-menu-item-label {
    color: $neutral-secondary;
    font-weight: $font-weight-bold;
  }
  a.sub-menu-item:not(.disabled) {
    @include border-left-radius($border-radius);
    @include hover-focus {
      background-color: transparent;
      .sub-menu-item-label {
        color: $action;
      }
    }
    &.active,
    &:active {
      background-color: $highlight-light;
      .sub-menu-item-label {
        color: $action;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: auto;
        right: -1px;
        height: 100%;
        width: 2px;
        background-color: $action;
      }
    }
  }

  .disabled {
    .sub-menu-item-label {
      color: $neutral-tertiary;
    }
  }

}

// Nav Wizard
//
.nav-wizard {
  .circle {
    font-weight: $font-weight-bold;
  }
  .disabled {
    .circle {
      color: $neutral-tertiary;
    }
  }
}

// Menu item content
//
.menu-item-content {
  width: 100%;
  z-index: 2;
  .menu-item-content-header {
    padding: 1rem 3.5rem 1rem 1rem;
    color: $neutral-primary;
  }
}

