// Slide menu
//

// Slide menu header
// Contains the close button
.slide-menu-header {
  margin: .625rem;

  @include media-breakpoint-up(sm) {
    margin: 1rem;
  }

  @include media-breakpoint-up(lg) {
    margin: 4rem 4rem 2.5rem 4rem;
  }

}

// Slide menu close button
.btn-side-menu-close {
  @include button-reset();
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: $gray-600;
  margin: 0;
  padding: .5rem;
  .vdm {
    color: inherit;
    font-size: 1.5rem;
  }
  .btn-label {
    font-size: 1rem;
    margin-left: 1rem;
  }

  @include media-breakpoint-up(sm) {
    .vdm {
      font-size: 2rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .btn-label {
      font-size: $sm-link-font-size;
    }
    .vdm {
      font-size: 2.5rem;
    }
  }
}

// Slide menu search
//
.slide-menu-search {

  .form-group {
    margin-bottom: 0;
  }

  .vdm {
    color: $gray-100;
  }
  .form-control {
    background-color: $gray-800;
    border: none;
    border-radius: 0;
    color: $gray-100;
    font-size: 1rem;
    line-height: 1;
    padding: 1.1875rem;

    &::placeholder {
      color: $gray-100;
    }

    &:focus {
      background: $gray-400;
      box-shadow: none;
      color: $gray-900;

      &::placeholder {
        color: $gray-900;
      }

    }
  }
  .input-group-icon {
    .input-group-icon-left {
      padding-left: .625rem;
      .vdm {
        font-size: 2.5rem;
      }
      + input {
        padding-left: 3.75rem;
      }
    }
    .input-group-focus {
      display: none;
    }
  }

  // Mobile
  @include media-breakpoint-up(sm) {
    .form-control {
      font-size: $sm-link-font-size;
      padding: 1.75rem;
    }
    .input-group-icon {
      .input-group-icon-left {
        padding-left: 1rem;
        .vdm {
          font-size: 3rem;
        }
        + input {
          padding-left: 5rem;
        }
      }
    }
  }
}

// Main slide-menu container
.slide-menu {
	position: fixed;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	display: none;
  overflow-x: hidden;
  overflow-y: auto;
	box-sizing: border-box;
	background: $sm-menu-bg;
	transition: transform $sm-transition-dur $sm-transition-easing;
	transform: translateX(100%);
	will-change: transform;
	z-index: $zindex-fixed;

	.slider {
		width: 100%;
		transition: transform $sm-transition-dur $sm-transition-easing;
		transform: translateX(0);
		will-change: transform;
	}

	ul {
		@extend .list-unstyled;
		position: relative;
		width: 100%;
		max-width: 100%;
    margin: 0;
    margin-top: 1.5rem;
    
    li {
      display: flex;
      padding: 0;
    }

		ul {
			position: absolute;
			top: 0;
			left: 100%;
      display: none;
      padding: 0;
      margin: 0;
		}

		a {
      color: $sm-link-color;
      font-size: $sm-link-font-size;
      display: flex;
      flex: 1;
      align-items: center;
      padding: 1.5rem 3.75rem;
      cursor: pointer;
      &:hover,
      &:active,
      &.active {
        color: $sarcelle-surprise;
        text-decoration: none;
        
        .vdm {
          color: $sarcelle-surprise;
        }
      }
      .vdm {
        color: $gray-600;
        font-size: 3rem;
        margin-left: 1.5rem;
        margin-top: -.75rem;
        margin-bottom: -.75rem;
      }

      &.back-link {
        color: $sm-link-hover-color;
        font-size: $font-size-md;
        text-transform: uppercase;

        .vdm {
          color: $sm-icon-color;
          font-size: 1rem;
          line-height: 1;
          margin-left: 0;
        }
      }
    }
    
    @include media-breakpoint-up(sm) {
      a {
        padding-left: 5rem;
        padding-right: 5rem;
        .vdm {
          margin-left: auto;
        }
      }
    }
	}
  
  @include media-breakpoint-up(sm) {
    width: $sm-menu-width;
  }
}
