// MENUS

// Fullscreen Menu
//
.main-menu {
  visibility: hidden;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  .main-menu-container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    padding-right: calc($grid-gutter-width / 2);
    padding-left: calc($grid-gutter-width / 2);
    transition: $main-menu-transition, visibility 0s linear 300ms;
    transform: translateY(-100%);
    will-change: transform;
    overflow-y: auto;
    position: relative;
    height: calc(100vh - #{$main-navbar-height-sm}); // Set height to allow for scroll on smaller devices
  }

  &.show {
    visibility: visible;
    .main-menu-container {
      visibility: visible;
      transform: translateY(0);
      transition: $main-menu-transition, visibility 0s linear 0s;
    }
  }

  .main-menu-content {
    display: flex;
    padding: 2rem 0 2rem 0;
    background-color: $main-menu-bg;
    box-shadow: $main-menu-box-shadow;
    // Fix weird behavior for ios Device...
    @supports (-webkit-overflow-scrolling: touch) {
      padding-bottom: 6rem;
    }
  }

  .main-menu-heading {
    @include font-size($h4-font-size);  // 20/28
    line-height: $line-height-md;
    color: $headings-color;
    display: block;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul:not(.main-menu-categories) {
    li {
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
      padding-bottom: 1rem;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .main-menu-level1 {
    a {
      text-decoration: none;
      border-bottom: none;
      @include hover-focus {
        text-decoration: underline;
      }
    }
  }
  .main-menu-categories {
    margin-right: -1rem;
  }
  .main-menu-level2 {
    position: absolute;
    top: -32px;
    left: 100%;
    width: 200%;
    z-index: 1;
    height: calc(100% + 64px);
    padding: 4rem;
    background-color: $main-menu-active-bg;
  }

  .main-menu-level2-close,
  .main-menu-level2-hidden {
    display: none;
  }

  .btn-main-menu-toggle {
    @include button-reset();
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    color: $neutral-primary;
    @include font-size($font-size-sm);
    line-height: $line-height-sm;
    font-weight: $btn-font-weight;
    padding: .375rem 2.5rem .375rem .5rem;
    width: 100%;
    @include transition($btn-transition);

    &:after {
      content: '';
      -webkit-mask: url($data-icon-chevron-right) no-repeat 50% 50%;
      mask: url($data-icon-chevron-right) no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      display: block;
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-color: $neutral-tertiary;
    }

    // Active state
    &.active {
      color: $primary;
      background-color: $main-menu-active-bg;
      &:after {
        content: none;
      }
    }

    // Hover and focus states
    &:hover,
    &:focus {
      color: $action;
      &:after {
        background-color: $action;
      }
    }

  }

  // Mobile Menu header
  .main-menu-mobile-header {
    background-color: $white;
    display: flex;
    padding: .5rem;
    width: 100%;
    position: absolute;
    top: -57px;
    height: 56px;
    z-index: $zindex-fixed + 1;
    align-self: center;
    align-items: center;
    transition: top .3s ease-out;
    .navbar-brand {
      padding: .375rem .5rem;
      margin: 0;
      svg {
        height: 1.75rem;
      }
    }
  }

  @include media-breakpoint-up(md){
    overflow: hidden;

    .main-menu-level2 {
      width: 140%;
    }

    .main-menu-level2-close {
      display: none;
      position: absolute;
      top: -1.5rem;
      right: calc(-140% + .5rem);
      z-index: 2;
      .btn {
        margin-left: 0;
      }
    }

    .btn-main-menu-toggle.active ~ .main-menu-level2-close {
      display: block;
    }
  }

  // Breakpoints tweaks
  @include media-breakpoint-up(lg) {
    left: calc(50vw - (#{map-get($container-max-widths, lg)} / 2));
    max-width: map-get($container-max-widths, lg);
    padding: 0 .5rem .5rem .5rem;

    .main-menu-container {
      height: auto;
    }

    .main-menu-level2 {
      width: 200%;
    }

    .main-menu-level2-close {
      right: calc(-200% + .5rem);
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (min-height: 720px){
    .main-menu-container {
      height: auto
    }
  }

  // Set Height for larger breakpoint if we have a small height...
  @media (min-width: map-get($grid-breakpoints, lg)) and (max-height: 620px) {
    .main-menu-container {
      height: calc(100vh - #{$main-navbar-height}); // Set height to allow for scroll on smaller devices
    }
  }

  @include media-breakpoint-down(sm) {
    .main-menu-heading {
      @include font-size($font-size-base);  // 16/24
      line-height: $line-height-md;
    }
    .main-menu-categories {
      margin-right: 0;
      > li {
        border-top: 1px solid $neutral-stroke;
      }
    }
    .btn-main-menu-toggle {
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
      padding: .5rem 2.5rem .5rem .5rem;

      &:after {
        content: '';
        -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
        mask: url($data-icon-chevron-down) no-repeat 50% 50%;
      }

      // Active state
      &.active {
        color: $primary;
        background-color: transparent;
        &:after {
          content: '';
          -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
          mask: url($data-icon-chevron-up) no-repeat 50% 50%;
        }
      }

      &:hover,
      &:focus {
        &:after {
          background-color: $primary;
        }

        &.active {
          &:after {
            -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
            mask: url($data-icon-chevron-up) no-repeat 50% 50%;
            background-color: $primary;
          }
        }
      }
    }

    .main-menu-level2 {
      position: static;
      width: auto;
      height: auto;
      padding: 1rem;
      background-color: transparent;
    }
  }
}


// Menu interne
//
// Main menu interne container
.slide-menu-interne,
.slide-menu-employes {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background: $slide-menu-interne-bg;
  transition: $slide-menu-interne-transition, visibility 0s linear 300ms;
  transform: translateX(-100%);
  will-change: transform;
  z-index: $zindex-fixed;

  &.show {
    visibility: visible;
    transform: translateX(0);
    transition: $slide-menu-interne-transition, visibility 0s linear 0s;
  }

  // Menu interne header
  // Contains the close button
  .slide-menu-header {
    background-color: $neutral-underground-1;
    height: 3.5rem;
    padding: 0 1rem;
    display: flex;

    .navbar-btn {
      align-self: center;
      margin: 0;
    }

    @include media-breakpoint-up(lg) {
      height: 4.5rem;
    }

  }

  .nav-menu-items {
    height: calc(100% - 3.5rem);

    @include media-breakpoint-up(lg) {
      height: calc(100% - 4.5rem);
    }
  }

  .slide-menu-footer {
    position: absolute;
    bottom: 0;
    padding: 1.5rem 1rem 1.5rem 1.25rem;

    svg {
      width: 100%;
      height: 100%;
      max-width: 110px;
    }
    @include media-breakpoint-up(lg) {
      padding: 1.5rem 1.5rem 1.5rem 1.75rem;
    }

  }

  // Sm and up
  @include media-breakpoint-up(sm) {
    width: $slide-menu-interne-width;
  }
}

// Needs more specifi overrides
.main-navbar.navbar.navbar-dark .slide-menu-interne .slide-menu-header .navbar-btn {
  .icon {
    @include icon-color($neutral-primary);
  }
}
