// Menu-item
.menu-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  li {
    padding: 0;
    display: flex;
    &.menu-item-separator {
      &:after {
        background-color: $neutral-stroke;
        position: relative;
        content: '';
        height: auto;
        margin: .75rem 1rem;
        width: 1px;
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      border-bottom: none;
      padding: 1rem;
      position: relative;
      .icon {
        @include icon-color($neutral-tertiary);
      }
      .menu-item-label {
        display: none;
        @include font-size($font-size-xs);
        line-height: $line-height-xs;
        color: $neutral-secondary;
        margin-top: .5rem;
      }

      @include hover-focus {
        background-color: transparent;
        z-index: 2;
        .icon {
          @include icon-color($action);
        }
        .menu-item-label {
          color: $action;
        }
      }

      &.active,
      &:active {
        background-color: $highlight-light;
        .icon {
          @include icon-color($action);
        }
        .menu-item-label {
          color: $action;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          height: 2px;
          width: 100%;
          background-color: $action;
        }
      }
    }
  }

  &.menu-items-column {
    flex-direction: column;
    padding: 0;
    li {
      a {
        min-width: auto;
        padding: 1rem;
        width: 100%;
        flex-direction: row;

        .menu-item-label {
          display: flex;
          @include font-size($font-size-base);
          line-height: $line-height-md;
          margin-top: 0;
          margin-left: 1rem;
        }

        @include hover-focus {
          .icon {
            @include icon-color($action-lighter);
          }
        }
        
        &.active,
        &:active {
          @include border-left-radius($border-radius);
          .icon {
            @include icon-color($action-lighter);
          }
          &:before {
            right: 0;
            height: 100%;
            width: 2px;
            background-color: $action;
          }
        }
      }
    }
  }

  &.menu-items-icon-bar {
    li {
      a {
        width: auto;

        @include hover-focus {
          .icon {
            @include icon-color($action);
          }
        }

        &.active,
        &:active {
          @include border-radius(0px);
          .icon {
            @include icon-color($action);
          }
          &:before {
            right: auto;
            left: 0;
          }
        }
      }
    }
  }

  // Informative variant for Vue agent...
  &.menu-items-info {
    background-color: $informative;
    li {
      &.menu-item-separator {
        &:after {
          background-color: $white;
        }
      }
      a {
        .icon {
          @include icon-color($white);
        }
        .menu-item-label {
          color: $white;
        }
  
        @include hover-focus {
          background-color: $informative-dark;
          .icon {
            @include icon-color($white);
          }
          .menu-item-label {
            color: $white;
          }
        }
  
        &.active,
        &:active {
          background-color: $informative-dark;
          .icon {
            @include icon-color($white);
          }
          .menu-item-label {
            color: $white;
          }
          &:before {
            content: none;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    li {
      a {
        padding: .75rem 1rem;
        .menu-item-label {
          display: flex;
        }
      }
    }
  }
}

// Menu item content

.menu-item-content {
  box-shadow: $dropdown-box-shadow;
  width: 100%;
  z-index: 2;
  .menu-item-content-header {
    padding: 1.5rem 3.5rem 1rem 1.5rem;
    position: relative;
    .btn-close {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
    }
    &.menu-item-content-header-info {
      background-color: $informative-dark;
      color: $white;
      .btn-close {
        .icon {
          @include icon-color($white);
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    width: 320px;
  }
  @include media-breakpoint-up(lg) {
    width: 480px;
  }
}

