// Alert
.alert-container {
  margin-bottom: 3rem;
}
.alert-heading {
  margin-bottom: 1rem;
}
.alert-link {
  border-bottom: none;
}
.alert-icon {
  display: flex;
  align-items: center;
  .vdm {
    color: inherit;
    padding-right: 1.5rem;
    font-size: 3rem;
  }
}

// States
.state {
  @include size(2rem);
  display: flex;
  border-radius: 50%;
  align-self: center;
  .vdm {
    text-align: right;
    color: $white;
    font-size: 2rem;
    align-self: center;
  }
}

// Add cursor to all element containing a popover
[data-toggle="popover"] {
  cursor: pointer;
}

//
// Top banner
//
.top-banner {
  background: $gray-900;
  color: $white;
  font-size: $font-size-sm;
  height: $top-banner-height;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $grid-gutter-width;
  line-height: 1.33;

  .top-banner-link {
    display: none;
  }

  .back-link {
    display: none;
  }

  // Default link colors and underline, overrides in mixins
  a {
    color: $white;
    border: none;
    box-shadow: inset 0 -1px $white; // Needs Harmonisation with all other links?
    &:active,
    &:hover {
      color: $white;
    }
  }

  @include media-breakpoint-up(md) {
    justify-content: space-between;

    .top-banner-link {
      display: inline-block;
      margin-left: 1rem;
    }

    .back-link {
      display: inline-block;
    }
  }
}

// Colors
//
// Contextual variations.
@each $color, $value in $theme-colors {
  .top-banner-#{$color} {
    @include banner-variant($value);
  }
}
