// Vendor
@import "~bootstrap/scss/vendor/rfs";

// Deprecate
@import "~bootstrap/scss/mixins/deprecate";

// Utilities
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/screen-reader";
@import "~bootstrap/scss/mixins/text-emphasis";
@import "~bootstrap/scss/mixins/text-hide";
@import "~bootstrap/scss/mixins/text-truncate";
@import "~bootstrap/scss/mixins/visibility";

// // Components
@import "~bootstrap/scss/mixins/lists";
@import "~bootstrap/scss/mixins/nav-divider";

// // Skins
@import "~bootstrap/scss/mixins/background-variant";
@import "~bootstrap/scss/mixins/border-radius";
@import "~bootstrap/scss/mixins/box-shadow";
@import "~bootstrap/scss/mixins/gradients";
@import "~bootstrap/scss/mixins/transition";

// // Layout
@import "~bootstrap/scss/mixins/clearfix";
@import "~bootstrap/scss/mixins/grid-framework";
@import "~bootstrap/scss/mixins/grid";
@import "~bootstrap/scss/mixins/float";

// // Custom
@import "mixins/buttons";
@import "mixins/forms";
@import "mixins/icons";
@import "mixins/mixins";
@import "mixins/nav";
