.modal {

  .btn {
    @extend .btn-squared;
  }
  // Validate this override
  .form-group {
    margin-bottom: 1.3125rem; // 21px
  }

  .modal-header {
    padding: 1rem;
    flex: 0 0 auto; // IE need this
    .btn-close {
      .icon {
        @include icon-color($action);
      }
      svg {
        width: 24px;
        height: 24px;
        path {
          fill: $neutral-secondary;
        }
      }
      &:not(:disabled):not(.disabled) {
        @include hover-focus {
          opacity: 1;
          .icon {
            @include icon-color($action-darker);
          }
          svg {
            path {
              fill: $neutral-primary;
            }
          }
        }
      }
    }
  }
  .modal-title {
    @include font-size($font-size-base);
    line-height: $line-height-md;
  }

  .modal-date-time {
    @include font-size($font-size-sm);
    line-height: $line-height-sm;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
  }

  // prevent modal-body to grow and push footer to the bottom
  .modal-body {
    flex-grow: 0;
    padding: $modal-inner-padding;
    > :last-child {
      margin-bottom: 0;
    }
  }

  // Modal icon
  // Modal-alert-icon is deprecated
  .modal-alert-icon,
  .modal-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    // Easily place margin between footer elements
    > :not(:first-child) { margin: 0; }
    > :not(:last-child) { margin: 0; }

    // DEPRECATED
    .modal-footer-buttons {
      display: flex;
        // Easily place margin between footer elements
        > :not(:first-child) { margin-right: 0; }
        > :not(:last-child) { margin-left: 0; }
    }
  }

  .modal-footer-order {
    justify-content: unset;
    flex-direction: column-reverse;
  }

  .modal-footer-logo {
    margin-top: auto;
    margin-bottom: 2rem;
    img {
      height: 1.5rem;
      width: auto;
    }
  }

  // Modal filters
  //
  &.modal-filters {

    .modal-body {
      padding-top: 2rem;
    }
    .form-group {
      margin-bottom: 0;
    }

    .modal-filters-content {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 1rem;
      }
    }
    .modal-filters-title {
      color: $headings-color;
      display: block;
      font-weight: $font-weight-bold;
      margin-bottom: .5rem;
    }
  }

  // Mobile Behavior
  // Full screen modal on 767px and under
  @include media-breakpoint-down(sm) {
    .modal-dialog:not(.modal-compact) {
      min-width: 100%;
      margin: 0;
      min-height: auto;
      height: auto;

      .modal-content {
        min-height: 100vh;
      }

      .modal-body {
        flex-grow: 1;
        padding: 1rem;
      }
    }

    .modal-compact {
      width: $modal-compact;
      margin: auto;
    }

    // Scrollable
    .modal-dialog-scrollable {
      max-height: 100%;
    }

    // Centered
    .modal-dialog-centered {
      min-height: 100%;

      &::before {
        height: 100vh;
      }

      // Ensure `.modal-body` shows scrollbar (IE10/11)
      &.modal-dialog-scrollable {
        height: 100%;
      }
    }

    // Tweak modal-footer for mobile
    .modal-footer {
      // Full width block button on mobile
      .btn {
        display: block;
        width: 100%;

        // Hide tertiary/link button on mobile
        &.btn-tertiary,
        &.btn-link {
          display: none;
        }
      }

      // Handle spacing for stacked buttons
      .btn:not(.btn-link):not(.btn-tertiary) {
        + .btn {
          margin-top: $btn-block-spacing-y;
        }
      }
    }
    // Handle spacing for stacked buttons in reverse ordering
    .modal-footer-order {
      .btn:not(.btn-link):not(.btn-tertiary) {
        + .btn {
          margin-top: 0;
          margin-bottom: $btn-block-spacing-y;
        }
      }
    }
  }

}

@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $modal-sm;
    margin: $modal-dialog-margin-y-sm-up auto;
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});

    .modal-content {
      max-height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
    }
  }

  .modal-dialog-centered {
    min-height: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});

    &::before {
      height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
    }
  }

  .modal-content {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .modal-lg,
  .modal-xl {
    max-width: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});

    .modal-content {
      min-height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
    }

    .modal-body {
      flex-grow: 1;
    }
  }
}

@include media-breakpoint-up(md) {
  .modal {
    .modal-footer {
      // Easily place margin between footer elements
      > :not(:first-child) { margin-left: .5rem; }
      > :not(:last-child) { margin-right: .5rem; }
    }
    .modal-footer-order {
      flex-direction: row-reverse;

      // Easily place margin between footer elements
      > :not(:first-child) {
        margin-left: 0;
        margin-right: .5rem;
      }
      > :not(:last-child) {
        margin-left: .5rem;
        margin-right: 0;
      }

      // DEPRECATED
      .modal-footer-buttons {
        display: flex;
          // Easily place margin between footer elements
          > :not(:first-child) { margin-right: .5rem; }
          > :not(:last-child) { margin-left: .5rem; }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .modal-md {
    max-width: $modal-md;
  }

  .modal-lg,
  .modal-xl {
    max-width: calc(100% - 4rem);
  }
}

@include media-breakpoint-up(lg) {
  .modal-lg,
  .modal-xl {
    max-width: calc(100% - 4rem);
  }
}

@include media-breakpoint-up(xl) {
  .modal-xl { max-width: calc(100% - 4rem); }
}
