.modal {

  .modal-header {
    padding: 1.5rem;
    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
      margin: auto;
      z-index: $zindex-modal + 1;
      .vdm {
        color: $gray-900;
        font-size: 1.5rem;
      }
    }
  }

  // prevent modal-body to grow and push footer to the bottom
  .modal-body {
    flex-grow: 0;
    padding: .5rem 1.5rem 2rem 1.5rem;
    > :last-child {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1.5rem 2rem 1.5rem;
  }

  .modal-footer-logo {
    margin-top: auto;
    margin-bottom: 2rem;
    img {
      height: 1.5rem;
      width: auto;
    }
  }

  // User profile
  .modal-user {
    border: 1px solid $gray-300;
    display: flex;
    padding: 1rem 1rem 1rem .75rem;
    align-items: center;
    .vdm {
      font-size: 4rem;
      margin-right: .75rem;
    }
    .user-info {
      flex: 1;
      color: $gray-600;
      font-size: $font-size-md;
      line-height: get-line-height($font-size-md, 18px);
      overflow: hidden;
      span {
        display: block;
      }
      .user-profil {
        color: $headings-color;
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        padding-bottom: .25rem;
      }
      .user-name {
        font-weight: $font-weight-bold;
      }
    }

    &:hover {
      background-color: $gray-200;
      cursor: pointer;
    }

    + .modal-user {
      margin-top: 1rem;
    }

    @include media-breakpoint-up(sm) {
      .vdm {
        margin-right: 1.5rem;
      }
    }
  }

  // Full screen modal on 767px and under
  @include media-breakpoint-down(sm) {
    .modal-dialog {
      min-width: 100%;
      margin: 0;
    }
  
    .modal-content {
      min-height: 100vh;
    }
    .modal-footer {
      justify-content: center;
      > button {
        margin-bottom: 1rem;
      }
    }
  }
  // 576px and up
  @include media-breakpoint-up(sm) {
    .modal-footer-logo {
      img {
        height: 2rem;
      }
    }
  }
}

// Modal icon variant
//
.modal {
  &.modal-icon {
    .modal-header,
    .modal-body {
      text-align: center;
    }
    .modal-header {
      .vdm {
        font-size: 4em;
      }
      .btn-close {
        .vdm {
          color: $gray-900;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Modal alert variant
//
.modal {

  &.modal-alert {
    .modal-header {
      background-color: $danger;
      text-align: center;
      .vdm {
        color: $white;
        font-size: 4rem;
      }
      .btn-close {
        .vdm {
          color: $gray-900;
          font-size: 1.5rem;
        }
      }
    }

    .modal-content {
      border-radius: 0;
      text-align: center;
    }

    .modal-body {
      padding: 3rem 2rem;
      color: $gray-ink;
      .date-time {
        color: $gray-700;
        font-size: .875rem;
        line-height: get-line-height(14px, 16px);
        font-weight: bold;
        margin-bottom: 2rem;
      }
      .modal-title {
        margin-bottom: 1.5rem;
      }
    }

    .modal-footer {
      padding: 0 2rem 3rem 2rem;
    }
    // Full screen modal on 767px and under
    @include media-breakpoint-down(sm) {
      .modal-dialog {
        min-width: 100%;
        margin: 0;
      }
    
      .modal-content {
        min-height: 100vh;
      }

      .modal-header {
        // btn-close is white on small device for this variant
        .btn-close {
          .vdm {
            color: $white;
          }
        }
      }

      .modal-body {
        padding: 2rem;
      }

    }

    // Switch header to side on 768px and up
    // Specific to modal alert
    @include media-breakpoint-up(md) {
      .modal-header {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        .vdm {
          font-size: 5rem;
        }
      }
      .modal-content {
        text-align: left;
        flex-direction: row;
        min-height:  300px;
      }

      .modal-footer {
        justify-content: flex-start;
      }
    }
  }
}

// Modal 