.modal {

  &.modal-left-pane,
  &.modal-right-pane {
    &.fade {
      opacity: 1;
    }
    &.fade:not(.show) {
      opacity: .9;
    }

    &.show .modal-dialog {
      transform: translate(0, 0);
    }

  }
  &.modal-left-pane {
    .modal-dialog {
      transform: translate(-100%, 0);
    }
  }

  &.modal-right-pane {
    .modal-dialog {
      transform: translate(100%, 0);
    }
  }

  .modal-header {
    padding: 1.5rem;
    flex: 0 0 auto; // IE need this
    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
      margin: auto;
      z-index: $zindex-modal + 1;
      .vdm {
        color: $gray-900;
        @include font-size(1.5rem);
      }
    }
  }

  // prevent modal-body to grow and push footer to the bottom
  .modal-body {
    flex: 0 1 auto;
    overflow-y: auto;
    padding: 2rem 1.5rem 2rem 1.5rem;
    > :last-child {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  .modal-footer-logo {
    margin-top: auto;
    margin-bottom: 2rem;
    img {
      height: 1.5rem;
      width: auto;
    }
  }

  // User profile
  .modal-user {
    border: 1px solid $gray-300;
    display: flex;
    padding: 1rem 1rem 1rem .75rem;
    align-items: center;
    .vdm {
      @include font-size(4rem);
      margin-right: .75rem;
    }
    .user-info {
      color: $gray-600;
      flex: 1;
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
      overflow: hidden;
      span {
        display: block;
      }
      .user-profil {
        color: $headings-color;
        @include font-size($font-size-lg);
        font-weight: $font-weight-bold;
      }
      .user-name {
        font-weight: $font-weight-bold;
      }
    }

    &:hover {
      background-color: $gray-200;
      cursor: pointer;
    }

    + .modal-user {
      margin-top: 1rem;
    }

    @include media-breakpoint-up(sm) {
      .vdm {
        margin-right: 1.5rem;
      }
    }
  }

  // Full screen modal on 767px and under
  @include media-breakpoint-down(sm) {
    .modal-dialog:not(.modal-dialog-scrollable) {
      min-width: 100%;
      margin: 0;
      .modal-content {
        min-height: 100vh;
      }
    }

    .modal-dialog-scrollable {
      margin: 0 auto;
      max-height: 100%;
      min-height: 100%;
      .modal-content {
        height: 100%;
      }
      .modal-body {
        flex-grow: 1;
      }
    }

    .modal-footer {
      justify-content: center;
      > button {
        margin-bottom: 1rem;
      }
    }
  }
  // 576px and up
  @include media-breakpoint-up(sm) {
    .modal-footer-logo {
      img {
        height: 2rem;
      }
    }
  }
}

// Modal icon variant
//
.modal {
  &.modal-icon {
    .modal-header,
    .modal-body {
      text-align: center;
    }
    .modal-header {
      .vdm {
        @include font-size(4.5rem);
      }
      .btn-close {
        .vdm {
          color: $gray-900;
          @include font-size(1.5rem);
        }
      }
    }
  }
}

// Modal alert variant
//
.modal {
  &.modal-alert {
    .modal-header {
      background-color: $danger;
      text-align: center;
      .vdm {
        color: $white;
        @include font-size(4.5rem);
      }
      .btn-close {
        .vdm {
          color: $gray-900;
          @include font-size(1.5rem);
        }
      }
    }

    .modal-content {
      border-radius: 0;
      text-align: center;
    }

    .modal-body {
      padding: 3rem 2rem;
      color: $gray-ink;
      .date-time {
        color: $gray-700;
        @include font-size($font-size-sm);
        font-weight: bold;
        margin-bottom: 2rem;
      }
      .modal-title {
        margin-bottom: 1.5rem;
      }
    }

    .modal-footer {
      padding: 0 2rem 3rem 2rem;
    }
    // Full screen modal on 767px and under
    @include media-breakpoint-down(sm) {
      .modal-dialog {
        min-width: 100%;
        margin: 0;
      }
    
      .modal-content {
        min-height: 100vh;
      }

      .modal-header {
        // btn-close is white on small device for this variant
        .btn-close {
          .vdm {
            color: $white;
          }
        }
      }

      .modal-body {
        padding: 2rem;
      }

    }

    // Switch header to side on 768px and up
    // Specific to modal alert
    @include media-breakpoint-up(md) {
      .modal-header {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
      .modal-content {
        text-align: left;
        flex-direction: row;
        min-height:  300px;
      }

      .modal-footer {
        justify-content: flex-start;
      }
    }
  }

  // Modal filters
  &.modal-filters {
    // Border are applied as an exception until new design system takes care
    // of modals layout harmonisation.
    .modal-header {
      border-bottom: 1px solid $modal-header-border-color;
    }
    .modal-footer {
      border-top: 1px solid $modal-footer-border-color;
    }
    .form-group {
      margin-bottom: .75rem;
    }

    .filters-content {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
      .filters-title {
        color: $headings-color;
        display: block;
        margin-bottom: 1rem;
      }
    }
  }
}
