//
// Nav
//
nav {
  position: relative;
}
.nav {
  .nav-item {
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
  }
  .nav-link {
    border: none;
    color: $neutral-secondary;
  }
}

// Subnav
.subnav {
  border-bottom: 1px solid $neutral-stroke;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  .subnav-container,
  .subnav-links {
    display: flex;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .subnav-title {
    @include font-size($font-size-base);
    color: $headings-color;
    font-weight: $font-weight-bold;
  }
  .subnav-links {
    ul {
      margin-bottom: 0;
    }
  }
}


// Nav tabs
.nav-tabs {
  background-color: $white;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  line-height: $line-height-sm;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* Remove the default scrollbar for WebKit implementations */
  &::-webkit-scrollbar {
      display: none;
  }
  .nav {
    flex-wrap: nowrap;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .nav-item {
    display: inline-block;
    flex-shrink: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    &.show {
      .nav-link {
        @extend .nav-link.active;
      }
    }
    &:last-of-type {
      .nav-link {
        margin: 0;
      }
    }
  }
  .nav-link {
    flex-shrink: 0;
    color: $neutral-secondary;
    @include font-size($font-size-sm);
    line-height: $line-height-sm;
    font-weight: $font-weight-bold;
    padding: .625rem 1rem;
    position: relative;
    white-space: normal;
    &:hover,
    &.active,
    &:focus {
      &:not(.disabled) {
        border: none;
        color: $action;
        background-color: $white;
        &:before {
          content: " ";
          width: auto;
          height: $nav-tabs-active-border-width;
          background-color: $action;
          position: absolute;
          bottom: 0;
          left: 1rem;
          right: 1rem;
          display: block;
        }
      }
    }
    // Disabled state lightens text
    &.disabled {
      color: $nav-link-disabled-color;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

// Nav Tabs Large variant
.nav-tabs-lg {
  @include nav-tabs-size(1rem, 1rem, $font-size-base, $line-height-md);
}


// Nav Tabs Small variant
.nav-tabs-sm {
  @include nav-tabs-size(.5rem, .5rem, $font-size-xs, $line-height-xs);
  .nav {
    margin-left: -.5rem;
    margin-right: -.5rem;
  }
}

// Nav anchors
.nav-anchors {
  background-color: $white;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* Remove the default scrollbar for WebKit implementations */
  &::-webkit-scrollbar {
      display: none;
  }
  .nav {
    flex-wrap: nowrap;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding: 1rem 0;
  }

  .nav-item {
    flex-shrink: 0;
    position: relative;
    + .nav-item:before {
      content: "";
      background-color: $neutral-stroke;
      border-radius: 50%;
      position: absolute;
      display: block;
      left: -2px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height:  4px;
    }
  }

  .nav-link {
    @include font-size($font-size-base);
    border-bottom: none;
    font-weight: $font-weight-bold;
    line-height: $line-height-md;
    margin: 0 1.25rem;
    padding: 0;
    position: relative;
    text-align: center;
    white-space: normal;
    
    &:hover,
    &.active {
      &:not(.disabled) {
        color: $action;
      }
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
}
