// Breadcrumb
// Reference used : https://projects.invisionapp.com/d/main#/console/11533069/245898997/inspect
.breadcrumb {
  border-radius: 0;
  font-size: $font-size-sm;
  margin-bottom: 0;
  a {
    border: none;
  }
}

.nav-wizard {
  background-color: $white;
  border-bottom: 1px solid $gray-400;
}

// Pagination
// Reference used : https://projects.invisionapp.com/d/main#/console/11533069/245898997/inspect

.pagination {
  @include border-radius(0);
}

// Page item

.page-item {
  display: flex;
  &:first-child {
    .page-link {
      @include border-left-radius(0);
    }
  }

  &:last-child {
    .page-link {
      @include border-right-radius(0);
    }
  }

  &:first-child,
  &:last-child {
    > .page-link {
      padding: $pagination-icon-padding;
      line-height: 1;
      .vfi {
        display: block;
        font-size: 1em;
        line-height: 1;
      }
    }
  }
}

// Page link

.page-link {
  font-size: $h5-font-size;
}

//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, 1.5rem, $line-height-lg, 0);

  .page-item {
    &:first-child,
    &:last-child {
      > .page-link {
        padding: $pagination-icon-padding-lg;
        .vfi {
          font-size: 1.2em;
        }
      }
    }
  }
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-md, $line-height-sm, 0);

  .page-item {
    &:first-child,
    &:last-child {
      > .page-link {
        padding: $pagination-icon-padding-sm;
      }
    }
  }
}

//
// Collapsible Item
//

.collapsible-item {
  margin-bottom: 30px;
  padding: 0;
  position: relative;
  .collapsible-header {
    h4 {
      margin: 0;
    }
    a {
      @include header(5);
      background: $gray-sky;
      border: none;
      color: $black;
      display: flex;
      line-height: 1.9rem;
      padding: 1.4rem 5rem 1.4rem 4rem;
      cursor: pointer;
      @include iconvfi(after, mini-plus-circulaire);

      &[aria-expanded="true"] {
        color: $primary;
        @include iconvfi(after, mini-moins-circulaire-plein);
      }

      &:hover,
      &:active {
        color: $primary;
        text-decoration: none;
        @include iconvfi(after, mini-plus-circulaire-plein);

        &[aria-expanded="true"] {
          @include iconvfi(after, mini-moins-circulaire);
        }
      }

      &:after {
        font-size: 2.6rem;
        line-height: 1;
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        align-self: center;
        right: 1.4rem;
        display: block;
        color: $primary;
      }

      span {
        align-self: center;

        &.collapsible-icon {
          color: $primary;
          flex-grow: 0;
          font-size: 2rem;
          align-self: center;
          font-weight: $font-weight-bold;
          content: "";
          position: absolute;
          left: 1.3rem;
        }

        &.circle {
          @include circle();
          margin-left: 0.5rem;
        }
      }
    }
  }
  // Content block wrapper
  .collapsible-block {
    padding: 1rem 4.3rem 1.5rem 4.3rem;
  }
}

.collapsible-variant {
  .collapsible-item {
    background-color: $white;
    box-shadow: 0 2px 7px 4px rgba(232,232,232,0.5);
    z-index: 100;
  }
  .collapsible-header {
    a {
      background: transparent;
      border: none;
    }
    span {
      margin-right: 15px;
    }
    .badge-pill {
      font-size: $font-size-sm;
    }
  }

}

//
// Tabs
//

nav {
  position: relative;
}

.nav-tabs {
  border-bottom: none;
  display: flex;
  flex-direction: column;
  @extend .flex-md-row;
  .nav-item {
    margin-bottom: 0;
    padding-bottom: 0;
    &.show {
      .nav-link {
        @extend .nav-link.active;
      }
    }
    &:last-of-type {
      .nav-link {
        margin: 0;
      }
    }
  }
  @include media-breakpoint-up(md) {
    justify-content: center;
    .nav-item {
      flex: 0 1 25%;
      .nav-link {
        margin-right: $nav-tabs-spacing;
      }
      &:last-of-type {
        .nav-link {
          margin: 0;
        }
      }
    }
  }
}

.nav-tabs,
.nav-tabs-dropdown-menu {
  .nav-link {
    background: $gray-sky;
    border: none;
    color: $black;
    font-weight: $font-weight-bold;
    position: relative;
    text-align: center;
    &.active,
    &:hover,
    &:focus {
      &:not(.disabled) {
        border: none;
        color: $black;
        background-color: $white;
        &:before {
          content: " ";
          width: 100%;
          height: $nav-tabs-active-border-width;
          background-color: $brand;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
        }
      }
    }
    &.disabled {
      background-color: $gray-sky;
    }
    &:not(.active) {
      @include media-breakpoint-up(md) {
        box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.3) inset;
      }
    }
  }
}

// Mobile tabs becomes dropdown
.nav-tabs-dropdown {
  @include iconvfi(after, chevron-bas);
  @extend .nav-link;
  background: $gray-sky;
  border: none;
  color: $black;
  font-weight: $font-weight-bold;
  position: relative;
  text-align: center;

  &.active,
  &:hover,
  &:focus {
    border: none;
    color: $black;
    background-color: $white;
    &:before {
      content: " ";
      width: 100%;
      height: $nav-tabs-active-border-width;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }

  &:after {
    font-size: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    display: block;
    width: 1em;
    height: 1em;
    line-height: 1;
  }
}

.nav-tabs-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: $dropdown-min-width;
  padding: 0;
  margin: 0;
  text-align: center; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: transparent;
  border: none;
  @include border-radius(0);
  @include box-shadow(none);

  .dropdown-item {
    display: block;
    width: 100%; // For `<button>`s
    padding: 0;
    clear: both;
    font-weight: $font-weight-normal;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border: 0; // For `<button>`s

    @include hover-focus {
      color: $dropdown-link-hover-color;
      text-decoration: none;
      @include gradient-bg($dropdown-link-hover-bg);
    }

    .active {
      display: none;
      //color: $dropdown-link-active-color;
      //text-decoration: none;
      //@include gradient-bg($dropdown-link-active-bg);
    }

    .disabled {
      color: $dropdown-link-disabled-color;
      //background-color: transparent;
      // Remove CSS gradients if they're enabled
      @if $enable-gradients {
        background-image: none;
      }
    }
  }
}

// Dropdown component
// @see https://projects.invisionapp.com/d/main#/console/11533069/248706245/preview
.vdm-dropdown {
  background: $white;
  padding: 0.75rem 1.7rem 0.75rem 1.1rem;
  @include drop-shadow;
  display: inline-block;
  font-size: $font-size-base * 2.1875;

  .dropdown-trigger {
    position: relative;
    padding: 0.5rem 2em 0.5rem 0.5rem;
    @include iconvfi(after, chevron-bas);
    border-bottom: 2px solid $gray-600;
    display: block;
    width: 100%;
    text-decoration: none;
    color: $black;

    &:after {
      font-size: 1em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% - 1em);
      display: block;
      width: 1em;
      height: 1em;
      line-height: 1;
    }

    &[aria-expanded="true"] {
      @include iconvfi(after, chevron-haut);
    }
  }
  .dropdown-elements {
    list-style-type: none;
    margin: 1.7rem 0 1rem 0;
    padding: 0;
  }

  // Controls bootstrap collapsing animation speed
  .collapsing {
    transition: height 0.1s ease;
  }

  .dropdown-element {
    > a {
      font-size: $font-size-base * 2.1875;
      color: $black;
      display: block;
      line-height: 4rem;
      list-style-type: none;
      padding-right: 2em;
      position: relative;

      &:hover,
      &:active {
        @include iconvfi(after, fleche-droite);
        text-decoration: none;
      }

      &:after {
        font-size: 1.5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% - 0.9em);
        display: block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5;
      }
    }
  }
}

// To delete after decision is made
// Draft from https://projects.invisionapp.com/d/main#/console/11533069/248706245/preview
// Uses the Bootstrap component dropdown
.vdm-dropdown-bs {
  background: $white;
  padding: 0.75rem;
  @include drop-shadow;
  display: inline-block;
  font-size: $font-size-base * 2.1875;

  .dropdown-toggle {
    background: transparent;
    border-radius: 0;
    padding: 0.5rem 2em 0.5rem 0.5rem;
    border: 0;
    @include iconvfi(after, chevron-bas);
    border-bottom: 1px solid $gray-600;
    display: block;
    width: 100%;

    &:before {
      font-size: 1.3em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% - 1.3em);
      display: block;
      width: 1.3em;
      height: 1.3em;
      line-height: 1.3;
    }
    &:after {
      display: none;
    }
  }
  .dropdown-item {
    font-size: $font-size-base * 2.1875;
  }
}

/**
 * Step Wizard
 */
.nav-wizard {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-steps-count {
  display: none;
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $header-icon-width;
    display: flex;
    align-items: center;
  }
}
.nav-steps-items {
  flex: 1;
}
.nav-steps {
  display: flex;
  flex-direction: column;
  @extend .flex-sm-row;
  // Position the steps line and circle
  li {
    position: relative;
    padding: inherit;
    a {
      border: none;
    }
    &:after {
      background-color: $gray-600;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 1px;
    }
    &:after {
      left: 0.5rem;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:not(.disabled) {
      &:hover {
        .circle {
          background-color: $red;
          border-color: $red;
        }
      }
    }
  }
  .caption {
    color: $gray-ink;
    display: inline-block;
    padding-bottom: .5rem;
  }
  .circle {
    @include circle($background-color: $gray-200, $border: true);
    z-index: 100;
    position: relative;
  }

  .complete {
    .circle {
      background-color: $gray-600;
    }
  }

  .active {
    .circle {
      background-color: $red;
      border-color: $red;
    }
  }
  .disabled {
    .nav-link {
      cursor: default;
    }
  }
  //larger than 768px
  @include media-breakpoint-up(sm) {
    justify-content: center;
    // Position the steps line and circle
    .nav-item {
      text-align: center;
      flex-basis: 0;
      flex-grow: 1;
      align-self: flex-end;
    }
    li {
      &:after {
        height: 1px;
        bottom: 1.5rem;
        width: 100%;
      }
      &:after {
        left: 50%;
      }
    }
    .circle {
      margin: 0 auto;
    }
  }
  // smaller than 768px
  @include media-breakpoint-down(xs) {
    li {
      &:after {
        top: 50%;
      }
      .nav-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.625rem 1rem 0.625rem 0;
        .caption {
          order: 2;
          padding-left: 1rem;
          padding-bottom: 0;
        }
        .circle {
          order: 1;
          flex: 0 0 auto;
        }
      }
    }
  }
}

// Nav dashboard Steps
//
.nav-dashboard-item { 
  border-bottom: 1px solid $gray-200;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  .db-label {
    display: inline-block;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    margin-bottom: .5rem;
    text-transform: uppercase;
  }
  .db-title {
    display: flex;
    font-size: 24px;
    font-weight: $font-weight-bold;
    justify-content: space-between;
  }
  .progress-container {
    padding-bottom: 1rem;
  }
}

// Services sub-navigation
.navbar-services {
  border-bottom: 1px solid $gray-200;

  .navbar-brand,
  .navbar-link {
    color: $headings-color;
    display: flex;
    font-size: $font-size-lg;
    line-height: 1.333333;
    padding: 0;
  }

  .navbar-brand {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
  }

  .navbar-link {
    padding-bottom: 5px;
  }

  .navbar-header {
    margin-left: $header-icon-width;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    &.navbar-header-profile-link {
      padding-top: .375rem;
      padding-bottom: .375rem;
      .navbar-brand {
        font-size: $font-size-lg;
      }
    }
    a {
      border: none;
      color: $headings-color;
      text-decoration: underline;
    }
  }

  .nav-item {
    padding: 0 1rem;
  }
}
