// Overlay
//
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: $backdrop-bg;
  opacity: $backdrop-opacity;
  z-index: $zindex-sticky - 1;

  &.show {
    display: block;
  }
}

// Overlay on background-image
// Might need some variant for dark and light overlay
.overlay-mid {
  position: relative;
  background-size: cover;
  background-position: center;
  &:before {
    position: absolute;
    content:" ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:0;
    background-color: $overlay-mid;
  }
}