// Page number
.page-number {
  color: $headings-color;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  span {
    &:before,
    &:after {
      content: "-";
      padding: .5rem;
    }
  }
}

// Page load-more section
// Load more buttons and optionnal all results link
.pagination-wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  button {
    display: block;
    margin: 0 auto;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.cards + .pagination-wrapper {
  margin-top: -$grid-gutter-width;
}

// Pagination
.pagination {
  @include border-radius(0);
  @include font-size($font-size-sm);
  line-height: $line-height-sm; 
  margin-bottom: 0;
  .page-item {
    display: none;
    &:first-child,
    &:last-child,
    &.active {
      display: flex;
    }
    .page-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .icon:before,
      svg {
        fill: currentColor;
        width: 1rem;
        height: 1rem;
      }
      .icon {
        @include icon-color($pagination-color);
      }
      &:hover {
        .icon {
          @include icon-color($pagination-hover-color);
        }
      }
      &:focus,
      &:visited {
        border-bottom: 1px solid $neutral-stroke;
      }
      
    }
    @include media-breakpoint-up(md){
      display: flex;
    }
  }
  
}


// Page item
.page-item {
  display: flex;
  padding-bottom: 0;
  &:first-child {
    .page-link {
      @include border-left-radius(0);
    }
  }

  &:last-child {
    .page-link {
      @include border-right-radius(0);
    }
  }

  &:first-child,
  &:last-child {
    > .page-link {
      padding: $pagination-padding-y $pagination-icon-padding;
    }
  }
}

//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-base, 1.375rem, 0);

  .page-item {
    &:first-child,
    &:last-child {
      > .page-link {
        padding: $pagination-padding-y-lg $pagination-icon-padding-lg;
        .icon:before,
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-xs, 0.875rem, 0);

  .page-item {
    &:first-child,
    &:last-child {
      > .page-link {
        padding: $pagination-padding-y-sm $pagination-icon-padding-sm;
        .icon:before,
        svg {
          width: .875rem;
          height: .875rem;
        }
      }
    }
  }
}