// DEPRECATED
// Use new iframes utility @utilities
// IFrames utility
.page-wrap-iframe {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  //text-align: center;
  //vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: flex;
  height: calc(100vh - 56px);
  margin-right: 56px;

  @include media-breakpoint-up(lg) {
    height: calc(100vh - 72px);
  }
}

// .page-drawer will be DEPRECATED
// Upgrade to new .drawer strucutre.
// Page drawer should be use with nav-interne only

.showing-page-drawers .page-wrap-iframe {
  margin-right: 300px;
}

.page-drawers {
  transition: all 100ms ease;
  -webkit-overflow-scrolling: touch;
  // position: fixed;
  position: absolute;
  right: 0;
  width: 0;
  top: 56px;
  bottom: 0;
  margin-right: 56px;
  z-index: -1;
  .menu-item-content {
    height: 100%;
    overflow: auto;
  }
  .content-modules {
    h2,.h2 {
      padding-top: 0;
    }
  }
}

.showing-page-drawers .page-drawers {
  width: 300px;
  right: -300px;
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

@include media-breakpoint-up(lg) {
  .showing-page-drawers .page-wrap-iframe {
    margin-right: calc(460px + 56px);
  }
  .showing-page-drawers .page-drawers {
    right: -460px;
    width: 460px;
  }

  .page-drawers {
    top: 72px;
  }
}


// Substract main-navbar height from page height
.has-drawer {
  height: calc(100vh - 56px);

  @include media-breakpoint-up(lg) {
    height: calc(100vh - 72px);
  }
}

// Page drawers
// .drawer replaces .page-drawer
.drawer {
  height: calc(100vh - 56px);
  transition: all 100ms ease;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  float: left; // Allow nav to go next to page-drawers section
  width: 0;
  .menu-item-content {
    height: 100%;
    overflow: auto;
  }
  .content-modules {
    h2,.h2 {
      padding-top: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    height: calc(100vh - 72px);
  }
}

.show-drawer .drawer {
  width: 320px;

  @include media-breakpoint-up(lg) {
    width: 480px;
  }
}
