// Page load-more section
// Load more buttons and optionnal all results link
.pagination-wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  button {
    display: block;
    margin: 0 auto;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.cards + .pagination-wrapper {
  margin-top: -$grid-gutter-width;
}

// Pagination
.pagination {
  @include font-size($font-size-sm);
  line-height: $line-height-sm; 
  margin-bottom: 0;
  .page-item {
    display: none;
    &:first-child,
    &:last-child,
    &.active {
      display: flex;
    }
    .page-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .icon {
        @include icon-color($pagination-color);
        @include icon-size($pagination-icon-size);
      }
      &:hover {
        .icon {
          @include icon-color($pagination-hover-color);
        }
      }
      &:focus,
      &:visited {
        border-bottom: 1px solid $neutral-stroke;
      }
      
    }
    @include media-breakpoint-up(md){
      display: flex;
    }
  }
  
}


// Page item
.page-item {
  display: flex;

  &:first-child,
  &:last-child {
    > .page-link {
      padding: $pagination-icon-padding;
    }
  }
}

//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-base, $line-height-md, $border-radius);

  .page-item {
    &:first-child,
    &:last-child {
      > .page-link {
        padding: $pagination-icon-padding-lg;
        .icon {
          @include icon-size($pagination-icon-size-lg);
        }
      }
    }
  }
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-xs, $line-height-xs, $border-radius);

  .page-item {
    &:first-child,
    &:last-child {
      > .page-link {
        padding: $pagination-icon-padding-sm;
        .icon {
          @include icon-size($pagination-icon-size-sm);
        }
      }
    }
  }
}