// Page load-more section
// Load more buttons and optionnal all results link
.pagination-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.pagination-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .items-label {
    @include font-size($font-size-sm);
    line-height: $line-height-sm;
    font-weight: $font-weight-bold;
    color: $body-color;
    margin-bottom: 0;
  }

  .pagination-items-select {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    .custom-select {
      width: auto;
    }
  }
}

@include media-breakpoint-up(md) {
  .pagination-controls {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.pagination-list {
  display: flex;
  justify-content: center;
}

// Pagination
.pagination {
  @include font-size($font-size-sm);
  line-height: $line-height-sm;
  margin-bottom: 0;
  .page-item {
    display: flex;
    &:first-child,
    &:last-child,
    &.active {
      display: flex;
    }
    &.active {
      .page-link {
        border-color: $action-darker;
      }
    }
    .page-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-weight: $font-weight-bold;
      border-radius: $border-radius;
      margin-left: 0;

      .icon {
        @include icon-color($pagination-color);
        @include icon-size($pagination-icon-size);
      }
      &:hover {
        .icon {
          @include icon-color($pagination-hover-color);
        }
      }
      &:focus,
      &:visited {
        border: 1px solid transparent;
      }
      &:focus {
        border-color: $white;
        border-radius: 0;
      }
    }

    &.no-link .page-link {
      color: $body-color;
      pointer-events: none;
      cursor: auto;
      border: 0;
      padding: 0.625rem 0.5rem;
    }

    &.disabled {
      .page-link {
        .icon {
          @include icon-color($pagination-disabled-color);
        }
      }
    }
  }
}

// Page item
.page-item {
  display: flex;

  &:first-child,
  &:last-child {
    > .page-link {
      padding: $pagination-icon-padding;
    }
  }
}

//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-base, $line-height-md, $border-radius);

  .page-item {
    &:first-child,
    &:last-child {
      > .page-link {
        padding: $pagination-icon-padding-lg;
        .icon {
          @include icon-size($pagination-icon-size-lg);
        }
      }
    }
  }
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-xs, $line-height-xs, $border-radius);

  .page-item {
    &:first-child,
    &:last-child {
      > .page-link {
        padding: $pagination-icon-padding-sm;
        .icon {
          @include icon-size($pagination-icon-size-sm);
        }
      }
    }
  }
}
