// Sidebar
.sidebar {
  margin-bottom: 1rem;
  overflow: hidden;

  .social-media-list {
    padding-left: 2rem;
    .vdm {
      color: $gray-ink;
    }
  }

  p {
    margin-bottom: $paragraph-margin-bottom;
  }

  // Other fixtures
  // Titles
  .subtitle {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-bottom: 1rem;
  }
  .sidebar-title {
    color: $headings-color;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    display: flex;
    margin-bottom: 2rem;
    // Tweak some styles for icon inside title
    &.icon {
      .vdm {
        font-size: 2rem;
        color: $headings-color;
      }
    }
  }

  // Top stroke variant
  &.sidebar-top-stroke {
    border-top: 4px solid $headings-color;
    padding: 2rem 2rem 0 2rem;
  }


  // Transparent border brand
  &.sidebar-border {
    .sb-block {
      border: 1px solid $gray-200;
      background-color: transparent;
      padding: 1.5rem 1.75rem 2rem 1.75rem;
      .sidebar-title {
        margin-bottom: 1rem;
      }
    }
  }
}

// The base unit for a sidebar component, stacked
.sb-block {
  overflow: hidden;
  margin-bottom: 3rem;
  > *:last-child {
    margin-bottom: 0;
  }

  // The basic grouping tool for visual effect, with a padding/margin-bottom;
  .subsection {
    padding-bottom: $sidebar-box-v-padding;
    &:last-of-type {
      padding-bottom: 0;
    }
    .subsection-content {
      flex: 1;
    }
  }

  // Schedule data
  // TODO: Refactor this code
  .sb-schedule {
    align-items: flex-start;
    width: 100%;
    &.icon.left {
      > .vdm {
        padding-right: .5rem;
      }
    }
    .schedule-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      .schedule-start-time,
      .schedule-send-time {
        white-space: nowrap
      }
      .schedule-start-time { 
        margin-right: 10px;
      }
      .vdm {
        margin-left: .5rem;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
  
  // Note
  .note {
    margin: 1rem 0;
  }
}
