// Anything that is a top level sidebar in the layout.
// See also base definition in the layout.scss document.
.sidebar {
  // Links in sidebars
  a {
    border: none;
    color: $link-color;

    &:after,
    &:before {
      color: $primary;
    }
    .vfi {
      color: $primary;
      &:after,
      &:before {
        background: transparent;
      }
    }
    &:hover,
    &:active {
      color: $black;
      &:after,
      &:before {
        color: $primary;
      }
      .vfi {
        color: $black;
      }
    }
  }

  // Generic icon links : may or may not be applied to a hyperlink
  .vfi {
    font-size: 1.5em;
    color: $primary;
    background: transparent;
  }

  // Links and span tags, mind the inheritance
  // All icon elements are block level
  .icon {
    display: flex;
    align-items: flex-start;

    address {
      margin-bottom: 0;
    }
    .vfi {
      &:before {
        font-size: 1em;
      }
    }

    &.left {
      .vfi {
        padding-right: .5rem;
      }
    }
    &.right {
      .vfi {
        padding-left: .5rem;
      }
    }
  }

  // Reset some button styles in sidebar
  // TODO: Check if we need this more generic
  button {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.35rem;
    &:last-of-type {
      margin: 0 auto;
    }
  }

  // Lists in sidebars
  .list-unstyled {
    margin-bottom: $paragraph-margin-bottom;
    li {
      padding-bottom: 1rem;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  p {
    margin-bottom: $paragraph-margin-bottom;
  }

  .avatar {
    display: block;
    margin-bottom: 2rem;
  }

  // Other fixtures
  // Titles
  .subtitle {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-bottom: 1rem;
  }
  .sidebar-title {
    //margin-bottom: 2em;
    @include heading(5, bold);
    display: flex;
    margin-bottom: 1rem;
    // Tweak some styles for icon inside title
    &.icon {
      &.right {
        justify-content: space-between;
        width: 100%;
      }
      .vfi {
        font-size: 2rem;
        color: $headings-color;
      }
    }
    &.icon.icon-xl {
      .vfi {
        font-size: 3.5rem;
        color: $primary;
      }
    }
  }

  // Color theme variants
  // Transparent top stroke theme variant
  &.sidebar-top-stroke {
    .sb-block {
      border-top: 4px solid $black;
      background-color: transparent;
      padding-right: 0;
      .sidebar-title {
        margin-bottom: 1rem;
      }
    }
  }
  // Transparent border brand
  &.sidebar-border {
    .sb-block {
      border: 1px solid $gray-200;
      background-color: transparent;
      .sidebar-title {
        margin-bottom: 1rem;
      }
    }
  }

  .bullet-left {
    &.brand {
      color: $primary;
    }
  }

  // md breakpoint
  //
  @include media-breakpoint-only(md) {
    .sidebar-title {
      &.icon-right {
        padding-right: 0;
        padding-bottom: 5rem;
        // Move the icon
        .vfi {
          top: calc(100% - 1.25em);
          left: 50%;
          height: 1em;
          transform: translateX(-50%);
        }
        &:after {
          display: none;
        }
        margin-bottom: 1rem;
      }
    }
  }
}

// The base unit for a sidebar component, stacked
.sb-block {
  padding: $sidebar-box-v-padding $sidebar-box-h-padding 2rem $sidebar-box-h-padding;
  &:last-of-type {
    margin-bottom: $sidebar-box-v-padding;
  }

  // The basic grouping tool for visual effect, with a padding/margin-bottom;
  .subsection {
    padding-bottom: $sidebar-box-v-padding;
    &:last-of-type {
      padding-bottom: 0;
    }
    .subsection-content {
      flex: 1;
    }
  }

  .divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-style: none;
    border-width: 0;
    height: 2px;
    background: $black;
    border-radius: 0;

    &.divider-title {
      display: block;
      height: .25rem;
      width: 60px;
      margin-top: 0;
      margin-bottom: 2rem;
      margin-right: 0;
      background-color: $black;
    }
  }

  // Schedule data
  .schedule-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    .schedule-start-time,
    .schedule-send-time {
      white-space: nowrap
    }
    .schedule-start-time { 
      margin-right: 10px;
    }
    .vfi {
      margin: 0;
      font-size: 1rem;
    }
  }
  .note {
    margin: 1rem 0;
  }
}
