// Sidebar
.sidebar {
  border-top: 1px solid $neutral-stroke;
  margin-bottom: 4rem;
  overflow: hidden;

  .social-media-list {
    padding-left: 2rem;
    .vdm {
      color: $neutral-secondary;
    }
  }

  p {
    margin-bottom: $paragraph-margin-bottom;
  }

  // Other fixtures
  // Titles
  .subtitle {
    @include font-size($font-size-lg);
    line-height: $line-height-sm;     // 1.5
    margin-bottom: 1rem;
  }
  .sidebar-title {
    @extend .h3;
    margin-bottom: 1rem;
  }

  @include media-breakpoint-up(lg) {
    border-top: none;
  }

}

// The base unit for a sidebar component, stacked
.sb-block {
  @include clearfix;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  // The basic grouping tool for visual effect, with a padding/margin-bottom;
  /*.subsection {
    padding-bottom: 1.5rem;
    &:last-of-type {
      padding-bottom: 0;
    }
    .subsection-content {
      flex: 1;
    }
  }*/

  // Schedule data
  // TODO: Refactor this code
  .schedule-content {
    align-items: flex-start;
    @include font-size($font-size-sm);
    width: 100%;

    .schedule-day,
    .schedule-data {
      color: $headings-color;
    }

    .schedule-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      .schedule-start-time,
      .schedule-end-time {
        white-space: nowrap
      }
      .schedule-start-time { 
        margin-right: .25rem;
      }
      .schedule-end-time {
        &:before {
          content: "-";
          margin-right: .25rem;
        }
      }
      .vdm {
        cursor: pointer;
        @include font-size(1rem);
        margin-left: .5rem;
      }
    }
  }

  .elided-text {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
  }
}
