.table { 
  font-size: $font-size-sm;
  th,
  td {
    line-height: $line-height-component;
  }
  thead th {
    color: $gray-900;
    border-bottom: $table-border-width solid $table-border-color;
  }

}

.table-sm {
  font-size: $font-size-xs;
  th,
  td {
    line-height: $line-height-xs;
  }

}

.table-lg {
  font-size: $font-size-base;
  th,
  td {
    padding: $table-cell-padding-lg;
  }
}