.table {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin-bottom: 0;
  th,
  td {
    line-height: $line-height-sm;
  }
  th {
    color: $headings-color;
  }
  thead th {
    border-bottom: (2 * $table-border-width) solid $table-border-color;
    border-top: none;

    // Add sorting styles.
    &.sorting {
      cursor: pointer;
      white-space: nowrap; // needed to prevent wrapping of pseudo-element

      &:after {
        content: "";
        -webkit-mask: none;
        mask: none;
        background-color: transparent;
        display: inline-flex;
        margin-left: .5rem;
        margin-top: -.5rem;
        margin-bottom: -.5rem;
        width: $icon-sm;
        height: $icon-sm;
        vertical-align: middle;
      }
      // Asending sort
      &-asc {
        &:after {
          content: "";
          -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
          mask: url($data-icon-chevron-up) no-repeat 50% 50%;
          background-color: $neutral-primary;
        }
      }
      // Descending sort
      &-desc {
        &:after {
          content: "";
          -webkit-mask: url($data-icon-chevron-down) no-repeat 50% 50%;
          mask: url($data-icon-chevron-down) no-repeat 50% 50%;
          background-color: $neutral-primary;
        }
      }

      &:hover {
        color: $action;
        &:after {
          content: "";
          -webkit-mask: url($data-icon-chevron-up) no-repeat 50% 50%;
          mask: url($data-icon-chevron-up) no-repeat 50% 50%;
          background-color: $action;
        }
      }

    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  // Caption inside table
  caption {
    margin-top: 1rem;
  }

  // Fix padding for some elements inside Table cell.
  td > .form-group,
  .td-n-margin {
    margin-top: -.375rem;
    margin-bottom: -.375rem;
  }

  .form-group {
    min-width: 320px;
  }

  // Allow a cell to fit it's content without wrapping
  .cell-sm {
    width: 1%;
    white-space: nowrap;
  }

}

.table-dark {
  th,
  thead th {
    border-color: $table-dark-border-color;
    color: $table-dark-color;
  }
}

// Small table variant
.table-sm {
  font-size: $font-size-xs;
  th,
  td {
    line-height: $line-height-xs;
  }

  thead th {
    &.sorting {
      &:after {
        width: $icon-xs;
        height: $icon-xs;
      }
    }
  }

}

// Large table variant
.table-lg {
  font-size: $font-size-base;
  line-height: $line-height-md;
  th,
  td {
    line-height: $line-height-md;
    padding: $table-cell-padding-lg;
  }
  thead th {
    &.sorting {
      &:after {
        width: $icon-md;
        height: $icon-md;
      }
    }
  }

  caption {
    @include font-size($font-size-sm);
    line-height: $line-height-sm;
  }

  // Fix padding for inputs
  td > .form-group,
  .td-n-margin {
    margin-top: -.5rem;
    margin-bottom: -.5rem;
  }
}
