.toast {
  overflow: hidden; // cheap rounded corners on nested items
  @include font-size($toast-font-size);
  line-height: $toast-line-height;
  color: $toast-color;
  background-color: $toast-background-color;
  background-clip: padding-box;
  box-shadow: $toast-box-shadow;
  backdrop-filter: blur(10px);
  opacity: 0;
  @include border-radius($toast-border-radius);

  &:not(:last-child) {
    margin-bottom: $toast-padding-x;
  }

  &.showing {
    opacity: 1;
  }

  &.show {
    display: inline-flex;
    opacity: 1;
  }

  &.hide {
    display: none;
  }
}
.toast-icon {
  display: inline-flex;
  align-items: center;
  flex-grow: 0;
  margin: 1rem 0 1rem 1rem;
  .icon {
    @include icon-color($white);
  }
}
.toast-body {
  display: flex;
  align-items: center;
  padding: $toast-padding-x; // apply to both vertical and horizontal
  margin: 0;

  &:last-child {
    margin-right: 1rem;
  }
}
.toast-action {
  display: flex;
  align-items: center;
  margin-right: .5rem;
  .btn + .btn {
    margin-left: .5rem;
  }
  .btn {
    @extend .btn-reversed;
    @extend .btn-squared;
    @extend .btn-tertiary;

    @each $breakpoint, $value in $grid-breakpoints {
      &.btn-swap-label-#{$breakpoint} {
        @include media-breakpoint-down($breakpoint) {
          padding: .4375rem;
          &.btn-lg {
            padding: .9375rem;
          }
          &.btn-sm {
            padding: .4375rem;
          }
        }
      }
    }
  }
}

@each $color, $value in $toast-colors {
  .toast-#{$color} {
    @include toast-variant($value, $white);
  }
}

@include media-breakpoint-down(sm) {
  .toast {
    width: 100%;
  }
  .toast-body {
    &:last-child {
      margin-right: 0;
    }
  }
  .toast-action {
    margin-left: auto;
  }
}
