@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i");

// Font-smoothing normalisation for mac os
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.regular {
	font-weight: 400;
}
.bold {
	font-weight: 600;
}

// Headings
//
// Headings are responsive
// @see responsive-font-size mixin
h1, .h1 {
  @include responsive-font-size($h1-font-size, .8, 40px);
  // 576px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($h1-font-size, 1, 56px);
  }
}
h2, .h2 {
  @include responsive-font-size($h2-font-size, .75, 32px);
  // 576px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($h2-font-size, 1, 40px);
  }
}
h3, .h3 {
  @include responsive-font-size($h3-font-size, .85, 28px);
  // 576px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($h3-font-size, 1, 32px);
  }
}
h4, .h4 {
  @include responsive-font-size($h4-font-size, .8, 24px);
  // 576px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($h4-font-size, 1, 28px);
  }
}
h5, .h5 {
  @include responsive-font-size($h5-font-size, .846153, 20px);
  // 576px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($h5-font-size, 1, 24px);
  }
}
h6, .h6 {
  @include responsive-font-size($h6-font-size, .85, 14px);
  // 576px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($h6-font-size, 1, 20px);
  }
}

// Display headings
//
// Display headings are responsive
// @see responsive-font-size mixin

.display-1,
.display-2 {
  @include responsive-font-size($display1-size, .625, 52px);
  // 576px and up
  @include media-breakpoint-up(sm) {
    @include responsive-font-size($display1-size, .78125, 64px);
  }
  // 768px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($display1-size, 1, 80px);
  }
}
.display-3 {
  @include responsive-font-size($display3-size, .642857, 44px);
  // 576px and up
  @include media-breakpoint-up(sm) {
    @include responsive-font-size($display3-size, .82142, 60px);
  }
  // 768px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($display3-size, 1, 72px);
  }
}
.display-4 {
  @include responsive-font-size($display4-size, .64, 40px);
  // 576px and up
  @include media-breakpoint-up(sm) {
    @include responsive-font-size($display4-size, .84, 56px);
  }
  // 768px and up
  @include media-breakpoint-up(md) {
    @include responsive-font-size($display4-size, 1, 64px);
  }
}


// Utility class for font-size

.font-size-lg {
  @include font-size($font-size-lg);
}
.font-size-sm {
  @include font-size($font-size-sm);
}
.font-size-xs {
  @include font-size($font-size-xs);
}

// Lead
//
// Lead font-size are responsive

.lead {
  @include responsive-font-size($lead-font-size, .9166, 32px);
  color: $headings-color;
  font-weight: $lead-font-weight;
  margin-bottom: 2.5rem;
  > :last-child {
    margin-bottom: 0;
  }
  // 576px and up
  @include media-breakpoint-up(sm) {
    @include responsive-font-size($lead-font-size, 1, 36px);
  }
}


b, strong {
  font-weight: $font-weight-bold;
}

mark,
.mark {
  color: $mark-color;
}

.line-through {
  text-decoration: line-through;
}

address {
  margin-bottom: $paragraph-margin-bottom;
}

// Links - generic
a {
  // We had border-bottom on all links and override specific case
  //border-bottom: $link-border-width solid $link-border-color;

  // icons in link should be link-color
  .vdm {
    color: $link-color;
  }
  &:hover,
  &:active {
    color: $link-hover-color;
    .vdm {
      color: $link-hover-color;
    }
  }

  // File extension handling
  &[href$=".pdf"] {
    margin-right: 3.02em;
    &:after {
      content: "(PDF)";
      margin-right: -3.02em;
      padding-left: .5rem;
      overflow: hidden;
    }
  }

  &.link-scrollto {
    color: $primary;
    border-bottom: none;
    .vdm {
      color: $primary;
      @include font-size(2rem);
      vertical-align: top;
    }
  }

  // Read more links
  &.read-more {
    color: $link-color;
    border: none;
    &:hover,
    &:active {
      color: $link-hover-color;
      .vdm {
        color: $link-hover-color;
      }
    }
  }

  // Utility classes to remove border-bottom
  // Need important to override any local styles that may be applied later
  &.img-link,
  &.no-border,
  &.no-underline {
    border: none !important;
    text-decoration: none !important;
  }

  &.no-style {
    border: none !important;
    color: inherit !important;
  }
}

// Add .icon class to display vertically centered icon and text
.icon {
  display: inline-flex;
  align-items: center;
  // we need this code to prevent icon from getting underlined on hover
  .vdm {
    display: inline-block;
    @include font-size(1.5rem);
    &:before {
      display: inline-block;
    }
  }
  &.right {
    .vdm {
      padding-left: 0.5rem;
    }
  }
  &.left {
    .vdm {
      padding-right: 0.5rem;
    }
  }
}

// External link icon
// Apply to .region-content and sb-block
// Everything not on montreal.ca or of /villemontreal/ AKA cloudinary directory
.sb-block,
.region-content,
.lead {
  a[href*="//"]:not([href*="montreal.ca"]):not([href$=".pdf"]) {
    margin-right: 1.125em;
    &:after {
      @include font-size($font-size-base);
      overflow: hidden;
      margin-right: -1.125em;
      margin-top: -.625rem;
      margin-bottom: -.625rem;
      padding-left: 0.125rem;
      vertical-align: middle;
    }
  }
  // List some exclusion
  .media-gallery,
  .list-icon,
  .social-media-list,
  .cards,
  .list-group-hub {
    a[href*="//"]:not([href*="montreal.ca"]):not([href$=".pdf"]) {
      margin-right: 0;
      &:after {
        content: none;
      }
    }
  }
}

// Break word
//
.break-word {
  word-wrap: break-word;
}

// Blockquote
//
.blockquote {
  color: $gray-900;
  @include font-size($blockquote-font-size);
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  margin-bottom: 2rem;
  padding-left: 2rem;
  position: relative;

  p:last-of-type {
    margin-bottom: 1rem;
  }

  &:before {
    content: "";
    background: $brand;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
  }

  .blockquote-footer {
    color: $body-color;
    @include font-size($font-size-base);
    font-style: normal;
    &:before {
      display: none;
    }
  }
  cite {
    color: $gray-900;
    font-style: normal;
  }
}

// Mostly applied to the hr element
// Parts or full class will be deprecated
.divider {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-style: none;
  border-width: 0;
  height: 2px;
  background: $black;
  border-radius: 0;
  
  &.divider-fullwidth {
    width: 100%;
  }
}

// Maintenance page
.divider-brand {
  &:after {
    content: "";
    display: block;
    height: .5rem;
    width: 4rem;
    background-color: $brand;
    margin-right: auto;
    margin-left: auto;
  }
}

.divider-lg {
  &:after {
    width: 6rem;
  }
}

// Longdash
.separator-brand {
  &:before {
    content: "—";
    color: $brand;
    margin-right: .75rem;
  }
}


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.bullet-left {
  @include bullet-left();
}

.footer-notes {
  border-top: 1px solid $gray-700;
  @include font-size($font-size-sm);
  padding-top: 2rem;
  margin-bottom: 4rem;
  small, .small {
    @include font-size(100%);
  }
}

.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

// Class to add ellipsis to long line of text
.elided-text {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

//
// Dates display
//
// for the rendering of dates in general
.date {
  @include font-size($h5-font-size);
  // Fat day, discrete month, block level headings
  &.day-month {
    > .day {
      @extend .h2;
      display: inline-block;
      position: relative;
      margin-bottom: 0;
      margin-right: 0.3em;
      &:after {
        position: absolute;
        width: 1.1em;
        content: " ";
        left: .05em;
        bottom: -.075em;
        height: 4px;
        background: $black;
      }
    }
  }
}
