mark,
.mark {
  color: $mark-color;
}


//
// Headings
//

h1, .h1 {
  @include header(1);
  &.strong {
    @include header(1, "bold");
  }
}
h2, .h2 {
  @include header(2);
  &.strong {
    @include header(2, "bold");
  }
}
h3, .h3 {
  @include header(3);
  &.strong {
    @include header(3, "bold");
  }
}
h4, .h4 {
  @include header(4);
  &.strong {
    @include header(4, "bold");
  }
}
h5, .h5 {
  @include header(5);
  &.strong {
    @include header(5, "bold");
  }
}
h6, .h6 {
  @include header(6);
  &.strong {
    @include header(6, "bold");
  }
}

// TODO: Change vdm-title declaration
// Deprecated - we use .divider class to provide the decorative line under title or other element

.vdm-title {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem;

  &:after {
    position: absolute;
    min-width: 3rem;
    max-width: 4rem;
    content: " ";
    left: 0;
    top: calc(100% - 0.3rem);
    height: $font-size-base / 3;
    background: $brand;
  }
}

// Font weight - generic

.regular {
  font-weight: $font-weight-regular;
}
.bold {
  font-weight: $font-weight-bold;
}
.light {
  font-weight: $font-weight-light;
}

em {
  font-style: italic;
}

b, strong {
  font-weight: $font-weight-bold;
}

p {
  line-height: $line-height-lg;
}

// Links - generic
a {
  // TODO: Refactor required for this block, considering the icon tag will be explicite in the markup
  // Used in the side menu
  border-bottom: $link-border-width solid $link-border-color;
  &.block {
    display: block;
    background: transparent;
    line-height: $line-height-lg;
    padding: 0.6em 0.6em;

    .vfi {
      font-size: 2.5em;
    }

    &.inline {
      display: inline-block;
      padding-left: 0;
    }

    &.arrow {
      position: relative;
      padding-right: 4em;

      .vfi {
        position: absolute;
        content: map-get($vdmicons, fleche-droite);
        font-family: $vfi-icon-font-family;
        font-size: 2.5em;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% - 1.25em);
        background: transparent;

        &:hover,
        &:active {
          background-color: transparent;
          text-decoration: none;
        }
      }
    }

    &.inverse {
      background: $black;
      color: $white;
      &:hover,
      &:active {
        color: $primary;
        text-decoration: none;
      }
    }
    &.brand {
      color: $primary;
    }
  }
}

// Add .icon class to display vertically centered icon and text
.icon {
  display: inline-flex;
  align-items: center;
  // we need this code to prevent icon from getting underlined on hover
  .vfi {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    &:before {
      display: inline-block;
      text-decoration: none;
    }
  }
  &.right {
    .vfi {
      padding-left: 0.15em;
    }
  }
  &.left {
    .vfi {
      padding-right: 0.15em;
    }
  }
}

// Inline links with icons - Headers : a tad smaller
h1, h2, h3, h4, h5, h6 {
  a {
    &.icon {
      .vfi {
        font-size: 1.2em;
      }
    }
  }
}

// Lists
//
// ul, ol

// Plain list overrides
// Should all lists carry this look and feel, really?
ul {
  padding-left:  1.25rem;
  li {
    padding-bottom: .5rem;
  }
  &.custom-list {
    list-style-type: none;
    padding: 0;

    li {
      padding-left: .8em;
      position: relative;
      margin-bottom: 0.7em;

      &:before {
        @include circle($size: .3rem, $background-color: $body-color);
        position: absolute;
        top: .5rem;
        left: 0;
      }
      // Level 2
      ul {
        list-style-type: none;
        padding: 1rem 0 0 1rem;
        li {
          padding-left: 1rem;
          &:before {
            width: .4rem;
            top: .7rem;
            height: 1px;
            border-radius: 0;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// Ordered list overrides
ol {
  &.numbered-list {
    list-style-type: none; // Not sure this remains accessible
    counter-reset: ol-counter;
    padding-left: 6em;
    position: relative;
    .title {
      @include header(4, bold);
      color: $headings-color;
    }

    > li {
      padding-bottom: 1.5rem;
      &:before {
        @include header(4, bold);
        color: $headings-color;
        content: counter(ol-counter, decimal);
        counter-increment: ol-counter;
        position: absolute;
        width: 1.5em;
        height: 1.6em;
        padding: 0 2.15em 0 0;
        left: 0;
        border-bottom: 4px solid $brand;
      }
    }
  }
}

// Date lists
// A list of items grouped under dates
// date-list> ul > li > { day-month-year } ul > li { item one } /li |  li { item two } /li ...
.date-list {
  margin-bottom: 1.5em;
  @extend .list-unstyled;
  &:last-of-type {
    margin-bottom: 0;
  }
  > li {
    .date {
      margin-bottom: 1.5em;
    }
    ul {
      margin-bottom: 2em;

      &.list-items {
        li {
          margin-bottom: 2em;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// Hub Lists
// A list of items with link and description
.hub-list-container {
  h3 {
    margin-bottom: 2rem;
  }
}
.hub-list {
  @extend .list-unstyled;
  margin-bottom: 3.5rem;
}

.hub-list-item {
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    @include header(4, bold);
    border: none;
    color: $primary;
    display: inline-block;
  }
  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Definition list

dl {
  margin-bottom: 2em;
  dt {
    @include header(4, bold);
    color: $headings-color;
  }
  dd {
    padding-bottom: 2em;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 2em;
    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: 0;
    }
  }
}

// Blockquote

blockquote {
  &.blockquote {
    padding-left: 1.75em;
    font-size: $font-size-lg;
    font-weight: normal;
    font-style: italic;
    position: relative;

    &:before {
      width: 8px;
      height: 35%;
      position: absolute;
      background: $brand;
      content: "";
      left: 0;
      top: 0;
    }

    .blockquote-footer {
      font-style: normal;
      text-align: right;
      &:before {
        display: none;
      }
    }
    cite {
      color: $gray-900;
      font-style: normal;
    }
  }
}

// Mostly applied to the hr element
.divider {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-style: none;
  border-width: 0;
  height: 2px;
  background: $black;
  border-radius: 0;
  &.divider-title {
    display: inline-block;
    height: .5rem;
    width: 64px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: $brand;
  }
  
  &.divider-small {
    height: 4px;
    width: 50px;
  }
  
  &.divider-fullwidth {
    width: 100%;
  }
}

.bullet-left {
  @include bullet-left();
}

.meta {
  font-size: $font-size-sm;
}

.date-time {
  font-size: $font-size-sm;
}

.footer-notes {
  border-top: 1px solid $gray-700;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

//
// Dates display
//
// for the rendering of dates in general

.date {
  font-size: $h5-font-size;
  // Fat day, discrete month, block level headings
  &.day-month {
    > .day {
      @include header(2);
      display: inline-block;
      position: relative;
      margin-right: 0.3em;
      &:after {
        position: absolute;
        width: 1.1em;
        content: " ";
        left: 0.05em;
        bottom: -0.075em;
        height: 4px;
        background: $black;
      }
    }
  }
}

// Link box are used to build grid display of links
//
// Might not be in the right stylesheet
.link-box {
  :hover,
  :active {
    text-decoration: none;
  }
  a {
    border: none;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .link-box-content {
    color: $body-color;
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: $white;
    margin-bottom: $grid-gutter-width;
    padding: 20px;
    align-items: center;
    .vfi {
      font-size: 2rem;
      color: $primary;
    }
  }
}

// link with icons

.link-with-icon {
  a {
    display: flex;
    align-items: center;
    .vfi {
      font-size: 2rem;
      &:before {
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}
