@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');
@import "variables.scss";
@import "mixins.scss";

html {
  font-size: $vdm-font-size-base; // This is THE reference value for all rem units (16px)
  body {
    font-family: $vdm-font-family;
    font-weight: $vdm-font-weight-regular;
    font-size: $vdm-font-size-base;   // Override inherited font-sizes

    h1 {
      @include header(1);
    }
    h2 {
      @include header(2);
    }
    h3 {
      @include header(3);
    }
    h4 {
      @include header(4);
      &.strong {
        @include header(4, "bold");
      }
    }
    h5 {
      @include header(5);
    }
    h6 {
      @include header(6);
    }

    .vdm-title {
      position: relative;
      padding-bottom: 0.5rem;
      margin-bottom: 3rem;

      &:after {
        position: absolute;
        min-width: 3rem;
        max-width: 4rem;
        content: " ";
        left: 0;
        top: calc(100% - 0.3rem);
        //border-radius: $vdm-font-size-base / 4;
        height: $vdm-font-size-base / 3;
        background: $vdm-sub-brand;
        
      }
    }



    .regular {
      font-weight: $vdm-font-weight-regular;
    }
    .bold {
      font-weight: $vdm-font-weight-bold;
    }
    .light {
      font-weight: $vdm-font-weight-light;
    }
    .intro {
      font-family: $vdm-font-family;
      font-weight: $vdm-font-weight-regular;
      font-size: $vdm-font-size-smaller;
      line-height: $vdm-line-height-base;
    }
    em {
      font-style: italic;
    }
    strong {
      font-weight: $vdm-font-weight-bold;
    }
    p {
      line-height: 1.35em;
      margin-bottom: ceil($vdm-font-size-base * 1.5);
    }

    // Hyperlinks - generic
    a {
      color: $vdm-brand;
      
      &:hover, 
      &:active {
        color: $black;
        text-decoration: underline;
      }
      // Inline links with icons
      &.icon {
        
        i {
            &.vdmi {
              font-size: 1.5em;
              position: relative;
              top: 0.2em;
            }
        }
        &.right {
          i {
            &.vdmi {
                padding-left: 0.15em;
              }
          }
        }
        &.left {
          i {
            &.vdmi {
                padding-right: 0.15em;
              }
          }
        }
      }
      &.block {
        display: block;
        background: transparent;
        line-height: 1.6em;
        padding: 0.6em 0.6em;

        &.inline {
          display: inline-block;
          padding-left: 0;
          
        }
        
        &.arrow {
          position: relative;
          padding-right: 4em;
          
          &:after {
            position: absolute;
            // content: "\E103";
            content: map-get($icons , arrow-right);
            font-family: "vdm-fonticon";
            font-size: 2.5em;
            top: 50%;
            transform: translateY(-50%);
            left: calc(100% - 1.25em); 
            // right: 0;
            

            background: transparent;
            &:hover, 
            &:active {
              background-color: transparent;
              text-decoration: none;
            }
          }
          
        }
        &.inverse {
          background: $black;
          color: $white;
          &:hover, 
          &:active {
            color: $vdm-brand;
            text-decoration: none;
          }

        }
        &.brand {
          color: $vdm-brand;
        }
      }
    }
    // Inline links with icons - Headers : a tad smaller
    h1, h2, h3, h4, h5, h6 {
      a {
        &.icon {
          i {
            &.vdmi {
              font-size: 1.2em;
            }
          }
        }
      }
    } 

    // Lists
    // All lists
    ul, ol {
      li {

      }

      &.vdm-list-plain {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin: 0 0 0.3em 0;
          padding: 0;
        }
      }

      &.vdm-list-date {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0 0 0.3em 0;
        }
      }
    }

    // Plain list overrides
    // Should all lists carry this look and feel, really?
    ul {
      &.vdm-list {
        list-style-type: none;
        padding: 0;
        
        li {
          padding-left: 0.8em;
          position: relative;
          margin-bottom: 0.7em;
  
          &:before {
            content : "";
            width: 0.35em;
            height: 0.35em;
            @extend .rounded-circle;
            background: $black;
            position: absolute;
            top: 0.5em;
            left: 0;
          }
          // Level 2
          ul {
            list-style-type: none;
            padding: 0.5em 0 0 1em;
            li {
              padding-left: 1.25em;
              &:before {
                width: 0.8em;
                top: 0.7em;
                height: 1px;
                border-radius:0;
              }
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    // Ordered list overrides
    ol {
      li {
      }

      &.vdm-numbered-list {
        list-style-type: none; // Not sure this remains accessible
        counter-reset: ol-counter;
        padding-left: 6em;
        position: relative;
        .title {
          @include header(4, bold);
        }

        >li {
          &:before {
            content: counter(ol-counter, decimal);
            counter-increment: ol-counter;
            position: absolute;
            @include header(4, bold);
            width: 1.5em;
            height: 1.6em;
            padding: 0 2.15em 0 0;
            left: 0;
            line-height: $vdm-line-height-base * 1.8095;
            border-bottom: 4px solid $vdm-sub-brand;
            
          }
          

          
        }
      }
    }
    dl {
      dt {
        
      }
      dd {

      }
      
      &.vdm-definition-list {
        margin-bottom: 2em;
        dt {
          @include header(4, bold);
          color: $vdm-brand;
        }
        dd {
          padding-bottom: 2em;
          border-bottom: 1px solid $vdm-grey-light;
          margin-bottom: 2em;
          &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border: 0;
          }
        }
      }
    }

    // Odd elements

    blockquote {
      &.vdm-blockquote {

        @extend .blockquote;

        padding-left: 1.75em;
        font-size: $vdm-font-size-larger;
        font-weight: normal;
        font-style: italic;
        position: relative;
        
        &:before {
          width: 8px;
          height: 35%;
          position: absolute;
          background: $vdm-sub-brand;
          content: "";
          left: 0;
          top: 0;
        }

        .vdm-blockquote-footer {
          @extend .blockquote-footer;
          font-style: normal;
          color: $vdm-grey;
          font-size: $vdm-font-size-smaller;
          text-align: right;
          &:before {
            display: none;
          }
        }
        cite {
          color: $black;
          font-style: normal;
        }
      }
    }

    // Mostly applied to the hr element
    .divider {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      border-style: none;
      border-width: 0; 
      height: $vdm-font-size-base / 3;
      background: $black;
      border-radius: $vdm-font-size-base / 4;
      &.mock-title {
        width: 3rem;
        margin-left: 0;
      }
    }

  } //  Body
} // Html

/**
 *
 * More inline text classes
 *
 *
 */

  // Teaser text
 .teaser-text {
    font-size: $vdm-font-size-base * 1.3125; // 21px
    line-height: $vdm-line-height-base * 1.619;  // 34px
    background: transparent;
 }

 .bullet-left {
   @include bullet-left();
 }

 .meta {
    font-size: $vdm-font-size-smaller;
 }

 .date-time {
    font-size: $vdm-font-size-smaller;
 }

 .vdm-label {
    font-weight: $vdm-font-weight-regular;
    font-size: $vdm-font-size-smaller;
    background: transparent;
    border: $vdm-element-border-width/2 solid $vdm-brand;
    color: $vdm-brand;
    border-radius: $vdm-element-border-radius;
    padding: $vdm-btn-padding-y $vdm-btn-padding-x * 0.75;
    &.selected {
      border: $vdm-element-border-width/2 solid $black;
      color: $black;
    }
 }


 // Dates display -- for the rendering of dates in general
.vdm-date {
    font-size: $vdm-font-size-larger;
    // Fat day, discrete month, block level headings
    &.day-month {
        >.day {
          @include header(2);
          display: inline-block;
          position: relative;
          margin-right: 0.3em;
          &:after {
            position: absolute;
            width: 1.1em;
            content: " ";
            left: 0.05em;
            bottom: -0.075em;
            border-radius: $vdm-element-border-radius;
            height: 4px;
            background: $black;
          }
        }
    }
} 
