@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");

// Font-smoothing normalisation for mac os
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.regular {
	font-weight: $font-weight-regular;
}
.bold {
	font-weight: $font-weight-bold;
}

// Headings
//
// Headings are responsive
// Displays are mapped to Headings
h1, .h1,
.display-1 {
  @include font-size($h2-font-size);    // 32/40
  line-height: 2.5rem;
  // 576px and up
  @include media-breakpoint-up(md) {
    @include font-size($h1-font-size);  // 40/56
    line-height: 3.5rem;
  }
}
h2, .h2,
.display-2 {
  @include font-size($h3-font-size);    // 24/32
  line-height: 2rem;
  margin-bottom: 1rem;
  // 576px and up
  @include media-breakpoint-up(md) {
    @include font-size($h2-font-size);  // 32/40
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
}
h3, .h3,
.display-3 {
  @include font-size($h4-font-size);    // 20/28
  line-height: $line-height-md;
  margin-bottom: .5rem;
  // 576px and up
  @include media-breakpoint-up(md) {
    @include font-size($h3-font-size);  // 24/32
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}
h4, .h4,
.display-4 {
  @include font-size($h5-font-size);    // 16/24
  line-height: $line-height-md;
  margin-bottom: .25rem;
  // 576px and up
  @include media-breakpoint-up(md) {
    @include font-size($h4-font-size);  // 20/28
    line-height: $line-height-md;
    margin-bottom: .5rem;
  }
}
h5, .h5 {
  @include font-size($h6-font-size);    // 14/20
  line-height: $line-height-sm;
  margin-bottom: 0;
  // 576px and up
  @include media-breakpoint-up(md) {
    @include font-size($h5-font-size);  // 16/24
    line-height: $line-height-md;
    margin-bottom: .25rem;
  }
}
h6, .h6 {
  @include font-size($font-size-xs);    // 12/16
  line-height: $line-height-xs;
  margin-bottom: 0;
  // 576px and up
  @include media-breakpoint-up(md) {
    @include font-size($h6-font-size);  // 14/20
    line-height: $line-height-sm;
  }
}

// Lead
//
.lead {
  @include font-size($lead-font-size);  // 20px
  line-height: $lead-line-height;       // 32px
  color: $neutral-primary;
  font-weight: $lead-font-weight;
  margin-bottom: 2rem;
  > :last-child {
    margin-bottom: 0;
  }
}

b, strong {
  font-weight: $font-weight-bold;
}

ol, ul, dl {
  margin-bottom: $paragraph-margin-bottom;
}

mark,
.mark {
  color: $mark-color;
}

.line-through {
  text-decoration: line-through;
}

address {
  margin-bottom: $paragraph-margin-bottom;
}

// Links - generic
a {
  // We had border-bottom on all links and override specific case
  //border-bottom: $link-border-width solid $link-border-color;

  // icons in link should be link-color
  .icon {
    color: $link-color;
  }
  &:hover,
  &:active {
    color: $link-hover-color;
  }

  // Utility classes to remove border-bottom
  // Need important to override any local styles that may be applied later
  &.img-link,
  &.no-border,
  &.no-underline {
    border: none !important;
    text-decoration: none !important;
  }

  &.no-style {
    border: none !important;
    color: inherit !important;
  }

  &.link-list-element {
    @include font-size($font-size-base);
    line-height: $line-height-md;
    border: none;
    @include hover-focus {
      border: none;
      background-color: transparent;
      .link-label {
        background-color: $highlight-light;
        display: inline;
        border-bottom: 1px solid $action;
      }
    }
  
    &.link-sm {
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
    }

    &.link-xs {
      @include font-size($font-size-xs);
      line-height: $line-height-xs;
    }
  }
}

// Quick links
.quick-links {
  @include font-size($font-size-sm);
  padding-bottom: 2rem;
  .quick-links-label {
    color: $neutral-secondary;
    display: inline-block;
    font-weight: $font-weight-bold;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  ul {
    display: inline-block;
    margin-bottom: 0;
  }
  .list-inline-item:not(:last-child) {
    margin-right: .5rem;
  }
  a {
    border-color: $headings-color;
    color: $headings-color;
    &:hover {
      color: $headings-color;
      border-color: transparent;
    }
  }
}

// External link icon
// Apply to .region-content and sb-block
// Everything not on montreal.ca or of /villemontreal/ AKA cloudinary directory
.sb-block,
.region-content,
.lead {
  a[href*="//"]:not([href*="montreal.ca"]):not([href$=".pdf"]):not(.list-group-item-action):not(.link-has-icon):not(.btn) {
    margin-right: 1.625rem;
    position: relative;
    &:after {
      content: '';
      -webkit-mask: url($data-icon-externallink) no-repeat 50% 50%;
      mask: url($data-icon-externallink) no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $action;
      display: inline-flex;
      width: $icon-md;
      height: $icon-md;
      overflow: hidden;
      margin-right: -1.625rem;
      margin-left: .125rem;
      vertical-align: -.375rem;
    }

    @include hover-focus {
      &:before {
        background-color: $highlight-light;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: -1.625rem;
        bottom: -1px;
        z-index: -1;
      }
    }
  }
  // Generic file extension handling
  a[href$=".pdf"] {
    margin-right: 3.02em;
    &:after {
      content: "(PDF)";
      margin-right: -3.02em;
      padding-left: .5rem;
      overflow: hidden;
    }
  }
  // List some exclusion
  .media-gallery,
  .social-media-list,
  .cards,
  .list-group,
  .list,
  .list-icon,
  .list-group-hub {
    // Don't show external link icon
    a[href*="//"]:not([href*="montreal.ca"]):not([href$=".pdf"]):not(.list-group-item-action):not(.link-has-icon):not(.btn) {
      margin-right: 0;
      &:after {
        content: none;
      }
    }
    // Don't show (PDF)
    a[href$=".pdf"] {
      margin-right: 0;
      &:after {
        content: none;
      }
    }
  }
}

// Blockquote And Blockquote emphasis
//
.blockquote {
  @include font-size($blockquote-font-size);
  color: $neutral-primary;
  line-height: 2rem;
  font-weight: $font-weight-normal;
  font-style: italic;
  margin-bottom: 2rem;
  padding-left: 2rem;
  position: relative;

  p:last-of-type {
    margin-bottom: 1rem;
  }

  &:before {
    content: "";
    background: $neutral-stroke;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
  }

  .blockquote-footer {
    color: $body-color;
    @include font-size($font-size-sm);  // 14/20
    line-height: $line-height-sm;
    font-style: normal;
    &:before {
      display: none;
    }

    .blockquote-footer-author {
      color: $neutral-primary;
      font-weight: $font-weight-bold;
    }
  }
  cite {
    color: $neutral-primary;
    font-style: normal;
  }

  &.blockquote-emphasis {
    font-style: normal;
  }
}

.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

// Class to add ellipsis to long line of text
.elided-text {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
