/*-- BOOTSTRAP --*/
@import "~bootstrap/scss/utilities/align";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/borders";
@import "~bootstrap/scss/utilities/clearfix";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/embed";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/float";
@import "~bootstrap/scss/utilities/overflow";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/screenreaders";
@import "~bootstrap/scss/utilities/shadows";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/stretched-link";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/visibility";

/*-- CUSTOM --*/
@import "../scss/utilities/text";
@import "../scss/utilities/background";

// Provide a utility class for neutral-stroke border color
.border-neutral-stroke {
  border-color: $neutral-stroke !important;
}

// Provide the ability to "Unfix" a element using the fixed-top
// Like when embeding a montreal.ca page inside the vue de l'agent 311
.unfixed {
  .fixed-top {
    position: inherit;
  }
}

// IFrames utility
.page-wrap-iframe {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  position: absolute;
  top: 56px;
  left: 0;
  right: 56px;
  bottom: 0;

  iframe {
    border: 0;
    &.is-full-frame {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.showing-page-drawers .page-wrap-iframe {
  margin-right: 300px;
}

.page-drawers {
  transition: all 100ms ease;
  -webkit-overflow-scrolling: touch;
  // position: fixed;
  position: absolute;
  right: -300px;
  width: 300px;
  top: 56px;
  bottom: 0;
  margin-right: 56px;
  z-index: -1;
  .menu-item-content {
    height: 100%;
    overflow: auto;
  }
}

.showing-page-drawers .page-drawers {
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

@include media-breakpoint-up(lg) {
  .page-wrap-iframe {
    top: 72px;
  }

  .showing-page-drawers .page-wrap-iframe {
    margin-right: 460px;
  }

  .page-drawers {
    right: -460px;
    width: 460px;
    top: 72px;
  }
}

