// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// Brand colors
$brand: 					  #e00000;
$brand-dark:        #bb0000;
$brand-black: 		  #1d1d1b;

// Actions
$action:					  #097d6c;
$primary:       	  $action;
$action-lighter:    #0cb097;
$primary-lighter:   $action-lighter;
$action-darker:     #075B4F;
$primary-darker:   $action-darker;

// Highlight
$highlight-light:	  #eefaf8;
$highlight-strong:  #d0f3ee;

// Neutral
$neutral-primary: 			    #212529;
$neutral-primary-reverse: 	#ffffff;
$neutral-secondary:		    	#637381;
$neutral-tertiary:			    #adb5bd;
$neutral-stroke:			      #ced4dA;
$neutral-underground-1:		  #f8f9fa;
$neutral-underground-2: 	  #dee2e6;

//Grays
$black:             #000000;
$gray-900:          $neutral-primary;
$gray-800:          $neutral-primary; // gradient mixin, table dark
$gray-700:          $neutral-secondary;
$gray-600:          $neutral-tertiary; // disabled states
$gray-500:          $neutral-tertiary;
$gray-400:          $neutral-stroke;
$gray-300:          $neutral-underground-2;
$gray-200:          $neutral-underground-1;
$gray-100:          $neutral-underground-1;
$white:             $neutral-primary-reverse;


// Alert colors
$informative-dark:		#004b7b;
$informative:				  #0079c4;
$informative-light:	  #e6f5f9;
$blue:						      $informative;
$info:       				    $informative;

$positive-dark:				#025d29;
$positive:					  #0da566;
$positive-light:			#e7f6f0;
$green:   					    $positive;
$success:    				    $positive;

$warning-dark:				#6C4600;
$warning:					    #ffb833;
$warning-light:				#fefae6;
$yellow:  					    $warning;

$negative-dark:				#851a00;
$negative-light:			#ffebe6;
$negative:					  #d3310a;
$red:     					    $negative;
$danger:     				    $negative;

$colors: ();
$colors: map-merge(
  (
    "black":       $black,
  ),
  $colors
);

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    			  $primary,
	  "neutral-primary":   	$neutral-primary,
	  "neutral-secondary":  $neutral-secondary,
    "neutral-tertiary":   $neutral-tertiary,
    "neutral-stroke":     $neutral-stroke,
	  "success":    			  $positive,
    "info":       			  $informative,
    "warning":    			  $warning,
    "danger":     			  $negative,
  ),
  $theme-colors
);

$dialog-colors: ();
$dialog-colors: (
  success: (
    base:   $positive,
    dark:   $positive-dark,
    light:  $positive-light
  ),
  info: (
    base:   $informative,
    dark:   $informative-dark,
    light:  $informative-light
  ),
  warning: (
    base:   $warning,
    dark:   $warning-dark,
    light:  $warning-light
  ),
  danger: (
    base:   $negative,
    dark:   $negative-dark,
    light:  $negative-light
  )
);


// Overlays
//
$overlay-almost-visible:            rgba($black, .05);
$overlay-subtle:                    rgba($black, .1);
$overlay-light:                     rgba($black, .3);
$overlay-mid:                       rgba($black, .5);
$overlay-strong:                    rgba($black, .7);

$overlay-almost-visible-reversed:   rgba($white, .05);
$overlay-subtle-reversed:           rgba($white, .1);
$overlay-light-reversed:            rgba($white, .3);
$overlay-mid-reversed:              rgba($white, .5);
$overlay-strong-reversed:           rgba($white, .7);


// Icons
//

// Size
$icon-xs:     16px;
$icon-sm:     20px;
$icon-md:     24px;

$icon-cat:    40px;
$icon-cat-xl: 80px;

$icons-size: ();
$icons-size: (
  xs:  (
    size: $icon-xs
  ),
  sm:  (
    size: $icon-sm
  ),
  md:  (
    size: $icon-md
  )
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-validation-icons:                     true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer: .5rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0:  0,
    1:  ($spacer),
    2:  ($spacer * 2),
    3:  ($spacer * 3),
    4:  ($spacer * 4),
    5:  ($spacer * 5),
    6:  ($spacer * 6),
    7:  ($spacer * 7),
    8:  ($spacer * 8),
    9:  ($spacer * 9),
    10: ($spacer * 10),
    11: ($spacer * 11),
    12: ($spacer * 12),
    13: ($spacer * 13),
    14: ($spacer * 14),
    15: ($spacer * 15),
    16: ($spacer * 16),
    17: ($spacer * 17),
    18: ($spacer * 18),
    19: ($spacer * 19),
    20: ($spacer * 20),
    21: ($spacer * 21),
    22: ($spacer * 22),
    23: ($spacer * 23),
    24: ($spacer * 24)
  ),
  $spacers
);

// Body
//
// Settings for the `<body>` element.

$body-bg:         $white;
$body-color:      $neutral-secondary;


// Links
//
// Style anchor elements.

$link-color:                  $action;
$link-decoration:             none;
$link-hover-color:            $action;
$link-hover-decoration:       none;

// Ajout custom
$link-border-color:           $action;
$link-border-width:           1px;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:     1rem;



// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Define pseudo xxs breakpoint
//
$bp-custom-xxs:   450px;


// Grid columns
//
// Set the number of columns and specify the width of the gutters. 

$grid-columns:                12;
$grid-gutter-width:           32px;



// Columns
//
// Set the number of columns to use with column-count
$column-gap:    $grid-gutter-width;

$column-count: ();
$column-count: map-merge(
  (
    2:  2,
    3:  3,
    4:  4
  ),
  $column-count
);


// Components
//
// Define common padding and border radius sizes and more.

$line-height-xl:              2rem;    // 32px
$line-height-lg:              1.75rem; // 28px 
$line-height-md:              1.5rem;  // 24px  
$line-height-sm:              1.25rem; // 20px
$line-height-xs:              1rem;    // 16px 

$border-radius:               .25rem;
$border-width:                1px;
$border-color:                $neutral-stroke;

$border-radius-lg:            .5rem;
$border-radius-sm:            .125rem;

$component-active-color:      $white;
$component-active-bg:         $primary;

$focus-color:                 $informative;
$focus-reverse-color:         $informative-light;

// generic variable box-shadow apply to card, popover, dropdown and modal
$box-shadow:                  0 0 2rem 0 $overlay-subtle;

// Generic value for backdrop bg and opacity
$backdrop-bg:                 $neutral-primary;
$backdrop-opacity:            .3;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-base:            'Open Sans', Helvetica, Arial, sans-serif;

$font-size-base:              1rem; // Assumes the browser default, typically `16px
$font-size-lg:                $font-size-base * 1.25;   //20px
$font-size-sm:                $font-size-base * .875;   //14px
$font-size-xs:                $font-size-base * .75;    //12px

$font-weight-normal:          400;  // Open Sans Regular     
$font-weight-regular:         $font-weight-normal;
$font-weight-bold:            700; // Open Sans Bold

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.75;

$h1-font-size:                $font-size-base * 2.5;         // 40px
$h2-font-size:                $font-size-base * 2;       	   // 32px
$h3-font-size:                $font-size-base * 1.5;         // 24px
$h4-font-size:                $font-size-base * 1.25;        // 20px
$h5-font-size:                $font-size-base * 1;       	   // 16px
$h6-font-size:                $font-size-base * 0.875;       // 14px

$headings-margin-bottom:      1.5rem;
$headings-font-family:        $font-family-base;
$headings-font-weight:        $font-weight-bold;         
$headings-color:              $neutral-primary;


// Headings font-size and line-height are made responsive
// @see type.scss
// These values represent the largest font-size for those headings
$display1-size:               $h1-font-size;           
$display2-size:               $h1-font-size;           
$display3-size:               $h2-font-size;         
$display4-size:               $h3-font-size;      

$display1-weight:             600;
$display2-weight:             600;
$display3-weight:             600;
$display4-weight:             600;

$lead-font-size:              $font-size-lg;              // 20px
$lead-line-height:            2rem;                        // 32px
$lead-font-weight:            $font-weight-regular;

$mark-color:                  $neutral-primary;

$small-font-size:             .75em;
$text-muted:                  $neutral-tertiary;
$blockquote-small-color:      $body-color;
$blockquote-font-size:        $font-size-lg;              // 20px

$hr-margin-y:                 ($spacer * 2);


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding-lg:       1rem 1rem;
$table-cell-padding:          0.625rem 1rem;
$table-cell-padding-sm:       0.5rem 1rem;

$table-bg:                    transparent;
$table-accent-bg:             $neutral-underground-1; // used for zebra accent
$table-hover-bg:              $neutral-underground-1; // used for hoverable
$table-active-bg:             $table-hover-bg;

$table-border-width:          $border-width;
$table-border-color:          $neutral-stroke;

$table-head-bg:               $neutral-underground-2;
$table-head-color:            $headings-color;

$table-dark-bg:               $neutral-primary;
$table-dark-accent-bg:        rgba($white, .05);
$table-dark-hover-bg:         rgba($white, .075);
$table-dark-border-color:     lighten($neutral-primary, 7.5%);
$table-dark-color:            $body-bg;

$table-striped-order:         odd;

$table-caption-color:         $neutral-secondary;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .5625rem;
$input-btn-padding-x:         .4375rem;
$input-btn-font-family:       null;
$input-btn-font-size:         $font-size-sm;
$input-btn-line-height:       $line-height-sm; // 14/20

$input-btn-focus-width:       .1875rem;
$input-btn-focus-color:       rgba($focus-color, .5);
$input-btn-focus-reverse-color: rgba($focus-reverse-color, .3);
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-btn-reverse-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-reverse-color;

$input-btn-padding-y-sm:      .4375rem;
$input-btn-padding-x-sm:      .4375rem;
$input-btn-font-size-sm:      $font-size-xs;
$input-btn-line-height-sm:    $line-height-xs; // 12/16

$input-btn-padding-y-lg:      .9375rem;
$input-btn-padding-x-lg:      .9375rem;
$input-btn-font-size-lg:      $font-size-base;
$input-btn-line-height-lg:    $line-height-md; // 16/24

$input-btn-border-width:      $border-width;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               2rem;
$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $input-btn-font-size;
$btn-line-height:             $input-btn-line-height;

$btn-padding-y-sm:            $input-btn-padding-y-sm;
$btn-padding-x-sm:            1rem;
$btn-font-size-sm:            $input-btn-font-size-sm;
$btn-line-height-sm:          $input-btn-line-height-sm;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            2rem;
$btn-font-size-lg:            $input-btn-font-size-lg;
$btn-line-height-lg:          $input-btn-line-height-lg;

$btn-border-width:            $input-btn-border-width;


$btn-font-weight:             $font-weight-bold;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
$btn-focus-width:             $input-btn-focus-width;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow;
$btn-disabled-opacity:        .65;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125);

$btn-link-disabled-color:     $neutral-tertiary;

$btn-block-spacing-y:         .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           4rem;
$btn-border-radius-sm:        $btn-border-radius;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-squared:   $border-radius;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


// Forms
$label-margin-bottom:                   0.5rem;

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-font-family:                     $input-btn-font-family;
$input-font-size:                       $input-btn-font-size;
$input-line-height:                     $input-btn-line-height;

$input-padding-y-sm:                    $input-btn-padding-y-sm;
$input-padding-x-sm:                    $input-btn-padding-x-sm;
$input-font-size-sm:                    $input-btn-font-size-sm;
$input-line-height-sm:                  $input-btn-line-height-sm;

$input-padding-y-lg:                    $input-btn-padding-y-lg;
$input-padding-x-lg:                    $input-btn-padding-x-lg;
$input-font-size-lg:                    $input-btn-font-size-lg;
$input-line-height-lg:                  $input-btn-line-height-lg;

$input-bg:                              $white;
$input-disabled-bg:                     $neutral-underground-2;

$input-label-color:                     $headings-color;
$input-color:                           $neutral-primary;
$input-border-color:                    $neutral-stroke;
$input-border-width:                    1px;
$input-box-shadow:                      none;

$input-border-radius:                   $border-radius;
$input-border-radius-lg:                $border-radius;
$input-border-radius-sm:                $border-radius;

$input-focus-bg:                        $input-bg;
$input-focus-border-color:              $primary;
$input-focus-color:                     $input-color;
$input-focus-width:                     $input-btn-focus-width;
$input-focus-box-shadow:                $input-btn-focus-box-shadow;

$input-placeholder-color:               $neutral-secondary;
$input-plaintext-color:                 $body-color;

$input-height-border:                   $input-border-width * 2;

$input-height-inner:                    calc(#{$input-line-height * 1} + #{$input-padding-y * 2});
$input-height-inner-half:               calc(#{$input-line-height * .5} + #{$input-padding-y});
$input-height-inner-quarter:            calc(#{$input-line-height * .25} + #{$input-padding-y / 2});

$input-height:                          calc(#{$input-line-height} + #{$input-padding-y * 2} + #{$input-height-border});
$input-height-sm:                       calc(#{$input-line-height-sm} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border});
$input-height-lg:                       calc(#{$input-line-height-lg} + #{$input-btn-padding-y-lg * 2} + #{$input-height-border});

$form-text-margin-top:                  .5rem;
$form-group-margin-bottom:              1rem;


// custom forms

$custom-control-indicator-disabled-bg:          $neutral-stroke;
$custom-control-label-disabled-color:           $neutral-tertiary;

$custom-control-gutter:                         1rem;
$custom-control-spacer-x:                       1rem;

$custom-control-indicator-size:                 1.25rem;
$custom-control-indicator-bg:                   $white;

$custom-control-indicator-bg-size:              1.5rem 1.5rem;
$custom-control-indicator-border-color:         $neutral-stroke;
$custom-control-indicator-border-width:         $input-border-width;

$custom-control-indicator-active-box-shadow:    none;
$custom-control-indicator-active-bg:            none;

$custom-control-indicator-checked-color:        $white;
$custom-control-indicator-checked-bg:           $primary;

$custom-control-indicator-checked-disabled-bg:  $custom-control-indicator-disabled-bg;

$custom-checkbox-indicator-border-radius:         $border-radius-sm;
$custom-checkbox-indicator-icon-checked-size:     1.5rem;
$custom-checkbox-indicator-icon-checked:          str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='#{$custom-control-indicator-checked-color}' d='M16.7 8.3C17.1 8.7 17.1 9.3 16.7 9.7L10.7 15.7 10.7 15.7C10.6 15.9 10.4 15.9 10.2 16L10.1 16 10.1 16 9.9 16C9.7 16 9.5 15.9 9.3 15.7L7.3 13.7C6.9 13.3 6.9 12.7 7.3 12.3 7.7 11.9 8.3 11.9 8.7 12.3L10 13.6 15.3 8.3C15.7 7.9 16.3 7.9 16.7 8.3Z'/%3e%3c/svg%3e"), "#", "%23");

$custom-radio-indicator-icon-checked:             str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3ccircle cx='12' cy='12' r='4' fill='#{$custom-control-indicator-checked-color}'/%3e%3c/svg%3e"), "#", "%23");

$custom-switch-width:                             2.5rem;
$custom-switch-indicator-border-radius:           .5rem;
$custom-switch-indicator-size:                    1.25rem;

$custom-switch-indicator-bg:                      $neutral-stroke;
$custom-switch-indicator-handle:                  $white;
$custom-switch-indicator-handle-disabled:         $neutral-underground-2;

$custom-switch-indicator-checked-bg:              $highlight-strong;
$custom-switch-indicator-checked-handle:          $action;
$custom-switch-indicator-checked-handle-disabled: $highlight-light;


// Form validation

$form-feedback-margin-top:          $form-text-margin-top;
$form-feedback-font-size:           $small-font-size;
$form-feedback-valid-color:         $success;
$form-feedback-invalid-color:       $negative;

$form-feedback-icon-valid-color:    $form-feedback-valid-color;
$form-feedback-icon-valid:          str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='#{$form-feedback-icon-valid-color}' d='M21.5 17.5C21.3 18 20.7 18.1 20.2 17.8 19.7 17.6 19.5 17 19.8 16.5 20.6 15.1 21 13.6 21 12 21 7 17 3 12 3 7 3 3 7 3 12 3 17 7 21 12 21 13.6 21 15.1 20.6 16.5 19.8 17 19.5 17.6 19.7 17.8 20.2 18.1 20.7 18 21.3 17.5 21.5 15.8 22.5 13.9 23 12 23 5.9 23 1 18.1 1 12 1 5.9 5.9 1 12 1 18.1 1 23 5.9 23 12 23 13.9 22.5 15.8 21.5 17.5ZM15.3 9.3C15.7 8.9 16.3 8.9 16.7 9.3 17.1 9.7 17.1 10.3 16.7 10.7L11.7 15.7C11.3 16.1 10.7 16.1 10.3 15.7L8.3 13.7C7.9 13.3 7.9 12.7 8.3 12.3 8.7 11.9 9.3 11.9 9.7 12.3L11 13.6 15.3 9.3z'/%3e%3c/svg%3e"), "#", "%23");
//$form-feedback-icon-valid:          str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e"), "#", "%23");
$form-feedback-icon-invalid-color:  $negative-dark;
$form-feedback-icon-invalid:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#{$form-feedback-icon-invalid-color}'%3e%3cpath d='M21.5 17.5C21.3 18 20.7 18.1 20.2 17.8 19.7 17.6 19.5 17 19.8 16.5 20.6 15.1 21 13.6 21 12 21 7 17 3 12 3 7 3 3 7 3 12 3 17 7 21 12 21 13.6 21 15.1 20.6 16.5 19.8 17 19.5 17.6 19.7 17.8 20.2 18.1 20.7 18 21.3 17.5 21.5 15.8 22.5 13.9 23 12 23 5.9 23 1 18.1 1 12 1 5.9 5.9 1 12 1 18.1 1 23 5.9 23 12 23 13.9 22.5 15.8 21.5 17.5ZM12 6C12.6 6 13 6.4 13 7L13 13C13 13.6 12.6 14 12 14 11.4 14 11 13.6 11 13L11 7C11 6.4 11.4 6 12 6ZM12 16C12.6 16 13 16.4 13 17 13 17.6 12.6 18 12 18 11.4 18 11 17.6 11 17 11 16.4 11.4 16 12 16z'/%3e%3c/svg%3e"), "#", "%23");
//$form-feedback-icon-invalid:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$form-feedback-icon-invalid-color}' viewBox='-2 -2 7 7'%3e%3cpath stroke='#{$form-feedback-icon-invalid-color}' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E"), "#", "%23");



// Navs

$nav-link-padding-y:                  1.5rem;
$nav-link-padding-x:                  2rem;

$nav-tabs-border-color:               $neutral-underground-2;
$nav-tabs-border-width:               1px;
$nav-tabs-border-radius:              0;
$nav-tabs-link-hover-border-color:    $action;
$nav-tabs-link-active-color:          $action;
$nav-tabs-link-active-bg:             $body-bg;
$nav-tabs-link-active-border-color:   $action;

$nav-tabs-spacing:                    4px;
$nav-tabs-active-border-width:        2px;


// Navbar

$navbar-box-shadow:                 0 .25rem .5rem -.5rem $overlay-mid;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                16rem;
$dropdown-sm-min-width:             4rem;
$dropdown-padding-y:                .5rem;
$dropdown-spacer:                   .125rem;
$dropdown-font-size:                $font-size-base;
$dropdown-color:                    $neutral-primary;
$dropdown-bg:                       $white;
$dropdown-border-color:             $neutral-stroke;
$dropdown-border-radius:            $border-radius;
$dropdown-border-width:             $border-width;
$dropdown-inner-border-radius:      calc(#{$dropdown-border-radius} - #{$dropdown-border-width});
$dropdown-divider-bg:               $neutral-stroke;
$dropdown-divider-margin-y:         .5rem;
$dropdown-box-shadow:               $box-shadow; 

$dropdown-link-color:               $neutral-primary;
$dropdown-link-hover-color:         $neutral-primary;
$dropdown-link-hover-bg:            $neutral-underground-1;

$dropdown-link-active-color:        $neutral-primary;
$dropdown-link-active-bg:           $neutral-underground-1;

$dropdown-link-disabled-color:      $neutral-tertiary;

$dropdown-item-padding-y:           .5rem;
$dropdown-item-padding-x:           1rem;

$dropdown-header-color:             $neutral-primary;


// Pagination

$pagination-border-width:           1px;

$pagination-padding-y:              calc(0.625rem - #{$pagination-border-width});
$pagination-padding-x:              1rem;
$pagination-padding-y-sm:           calc(0.5rem - #{$pagination-border-width});
$pagination-padding-x-sm:           .75rem;
$pagination-padding-y-lg:           calc(1rem - #{$pagination-border-width});
$pagination-padding-x-lg:           1.4375rem;

$pagination-icon-size:              $icon-md;
$pagination-icon-size-sm:           $icon-sm;
$pagination-icon-size-lg:           1.75rem;

$pagination-icon-padding:           calc(.5rem - #{$pagination-border-width});
$pagination-icon-padding-sm:        calc(.375rem - #{$pagination-border-width});
$pagination-icon-padding-lg:        calc(.875rem - #{$pagination-border-width});

$pagination-line-height:            $line-height-sm;

$pagination-color:                  $body-color;
$pagination-bg:                     $white;
$pagination-border-width:           1px;
$pagination-border-color:           $neutral-stroke;

$pagination-focus-box-shadow:       $input-btn-focus-box-shadow;
$pagination-focus-outline:          0;

$pagination-hover-color:            $primary;
$pagination-hover-bg:               $highlight-light;
$pagination-hover-border-color:     $neutral-stroke;

$pagination-active-color:           $primary;
$pagination-active-bg:              $highlight-light;
$pagination-active-border-color:    $neutral-stroke; 

$pagination-disabled-color:         $neutral-secondary;
$pagination-disabled-bg:            $neutral-underground-1;
$pagination-disabled-border-color:  $neutral-stroke;


// Jumbotron

$jumbotron-padding:                 3rem;
$jumbotron-bg:                      $neutral-underground-1;


// Cards

$card-border-width:                 $border-width;
$card-border-radius:                $border-radius;
$card-border-color:                 $neutral-stroke;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width});
$card-box-shadow:                   $box-shadow;


// Toasts

$toast-padding-x:                   1rem;
$toast-padding-y:                   1rem;
$toast-font-size:                   $font-size-sm;
$toast-line-height:                 $line-height-sm;
$toast-color:                       $white;
$toast-background-color:            $neutral-primary;
$toast-border-radius:               .25rem;
$toast-box-shadow:                  0 .125rem .5rem $overlay-subtle;


// Badges

$badge-font-size:                   $font-size-xs;
$badge-font-weight:                 $font-weight-bold;
$badge-border-width:                $border-width;
$badge-border-radius:               $border-radius;
$badge-padding-y:                   calc(.25rem - #{$badge-border-width});
$badge-padding-x:                   .5rem;

$badge-transition:                  $btn-transition;
$badge-focus-width:                 $input-btn-focus-width;

$badge-pill-padding-x:              .5rem;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:          10rem;


// Chips

$chip-color:                        $neutral-primary;
$chip-hover-color:                  $primary;
$chip-background-color:             $white;
$chip-hover-background-color:       $highlight-light;

$chip-font-weight:                  $font-weight-bold;
$chip-border-width:                 $border-width;
$chip-border-radius:                $border-radius;
$chip-border-color:                 $neutral-stroke;
$chip-padding-y:                    calc(.625rem - #{$chip-border-width});
$chip-padding-x:                    calc(.5rem - #{$chip-border-width});
$chip-padding-y-sm:                 calc(.5rem - #{$chip-border-width});
$chip-padding-x-sm:                 calc(.5rem - #{$chip-border-width});
$chip-padding-y-xs:                 calc(.25rem - #{$chip-border-width});
$chip-padding-x-xs:                 calc(.5rem - #{$chip-border-width});

$chip-transition:                   $btn-transition;
$chip-focus-width:                  $input-btn-focus-width;


// Modals

// Padding applied to the modal body
$modal-inner-padding:               2rem;

$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       4rem;

$modal-title-line-height:           $line-height-md;

$modal-content-bg:                  $white;
$modal-content-border-color:        rgba($black, .2);
$modal-content-border-width:        0;
$modal-content-box-shadow-xs:       $box-shadow;
$modal-content-box-shadow-sm-up:    $box-shadow;

$modal-backdrop-bg:                 $backdrop-bg;
$modal-backdrop-opacity:            $backdrop-opacity;
$modal-header-border-color:         $neutral-stroke;
$modal-footer-border-color:         $modal-header-border-color;
$modal-header-border-width:         $border-width;
$modal-footer-border-width:         $border-width;
$modal-header-padding-y:            1rem;
$modal-header-padding-x:            1rem;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x;

$modal-xl:                          1140px;
$modal-lg:                          800px;
$modal-md:                          600px;
$modal-sm:                          460px;

$modal-transition:                  transform 300ms ease-out;

// Flyouts

// Padding applied to the flyout body
$flyout-inner-padding:              1rem;

$flyout-title-line-height:          $line-height-base;

$flyout-content-color:              null;
$flyout-content-bg:                 $white;
$flyout-content-border-color:       null;
$flyout-content-border-width:       $border-width;
$flyout-content-border-radius:      $border-radius-lg;
$flyout-content-box-shadow-xs:      $box-shadow;
$flyout-content-box-shadow-sm-up:   $box-shadow;

$flyout-header-border-color:        $neutral-stroke;
$flyout-footer-border-color:        $flyout-header-border-color;
$flyout-header-border-width:        $flyout-content-border-width;
$flyout-footer-border-width:        $flyout-header-border-width;
$flyout-header-padding-y:           1rem;
$flyout-header-padding-x:           1rem;
$flyout-header-padding:             $flyout-header-padding-y $flyout-header-padding-x; // Keep this for backwards compatibility

$flyout-lg:                         600px;
$flyout-md:                         460px;
$flyout-sm:                         320px;

$flyout-show-transform:             none;
$flyout-transition:                 transform .3s ease-out;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                   1rem;
$alert-padding-x:                   1rem;
$alert-margin-bottom:               1rem;
$alert-border-radius:               0;
$alert-link-font-weight:            $font-weight-bold;
$alert-border-width:                0;

$alert-bg-level:                    -10;
$alert-border-level:                0;
$alert-color-level:                 6;

$alert-bg-level-interval:			      9%;
$alert-color-level-interval:		    8%;

$alert-dark-bg-level:               6;
$alert-dark-border-level:           7;
$alert-dark-color-level:            5;


// Progress bars

$progress-height:                   1rem;
$progress-height-sm:                .5rem;
$progress-font-size:                $font-size-base;
$progress-bg:                       $neutral-underground-2;
$progress-border-radius:            4rem;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1);
$progress-bar-color:                $white;
$progress-bar-bg:                   $action;

// Progress circle bars

$progress-circle-border-width:          .5rem;
$progress-circle-border-color-default:  $neutral-underground-2;
$progress-circle-border-color-fill:     $action;
$progress-circle-size:                  112px;
$progress-circle-steps:                 100; //this needs to be even.
$progress-circle-animation-timing:      .5s;


// List group

$list-group-bg:                     transparent;
$list-group-border-color:           $neutral-stroke;
$list-group-border-width:           $border-width;
$list-group-border-radius:          0;

$list-group-item-padding-y:         1rem;
$list-group-item-padding-x:         1rem;

$list-group-hover-bg:               $highlight-light;
$list-group-active-color:           $headings-color;
$list-group-active-bg:              $highlight-light;
$list-group-active-border-color:    transparent;

$list-group-action-color:           $action;
$list-group-action-hover-color:     $action;

$list-group-action-active-color:    $action;
$list-group-action-active-bg:       $highlight-light;


// Figures

$figure-caption-font-size:          90%;
$figure-caption-color:              $neutral-secondary;


// Breadcrumbs

$breadcrumb-item-padding:           .25rem;

$breadcrumb-margin-bottom:          1rem;

$breadcrumb-divider-color:          $neutral-tertiary;
$breadcrumb-active-color:           $action;


// Carousel
$carousel-control-opacity:           1;
$carousel-control-hover-opacity:     .6;
$carousel-caption-width:             100%;
$carousel-caption-color:             $neutral-primary;


// Popover
$popover-border-color:              $neutral-underground-1;
$popover-box-shadow:                $box-shadow;
$popover-header-bg:                 $white;
$popover-header-padding-y:          0;
$popover-header-padding-x:          0;

// Media
$padding-16-9:                    56.25%;
$padding-16-7:                    43.75%;


// Main navbar
$main-navbar-height:              104px;
$main-navbar-height-sm:           89px;

$navbar-lang-height:              2rem;

$main-navbar-focus-box-shadow:  0 0 0 $input-btn-focus-width rgba($action, .3);


// Main menu
$main-menu-bg:                    $white;
$main-menu-active-bg:             $highlight-light;
$main-menu-transition:            transform 300ms ease-out;
$main-menu-box-shadow:            0 .125rem .5rem 0 $overlay-subtle;


// Slide Menus Interne
$slide-menu-interne-width:                440px;
$slide-menu-interne-bg:                   $white;
$slide-menu-interne-link-color:           $neutral-secondary;
$slide-menu-interne-link-hover-color:     $action;
$slide-menu-interne-icon-size:            1.5rem;
$slide-menu-interne-icon-color:           $neutral-tertiary;
$slide-menu-interne-icon-hover-color:     $action-lighter;
$slide-menu-interne-transition:           transform 300ms ease-out;
