// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Assets path

$assets-img-paths : "../../../images" !default;
$assets-icons-path : "../../../images/icons" !default;
$assets-font-path: '../fonts' !default;

//
// Color system
//


// Grays

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// Specilazed grays

$gray-ink: #637381; // Usage: Text default color.
$gray-sky: #f4f6f8; // Usage: Backgrounds.

// Primary colors

$sarcelle:          #097d6c;
$sarcelle-dark:     #075b4f;
$sarcelle-surprise: #0cb097;
$sarcelle-atmos:    #87dfd3;
$sarcelle-lightest: #f8f9fa;
$red-montreal:      #e00000;

// UI color

// $blue:    #005fc9; 
$blue:    #0296c0;          // VDM
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ff3200;
//$red:     $red-montreal;      // VDM
$orange:  #fd7e14 !default;
$yellow:  #fecc03;          // VDM
// $green:   #02c876;
$green:   #0da566;          // VDM
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

//== Brand

$brand:         $red-montreal;

$primary:       $sarcelle;
$secondary:     $gray-600;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);
// stylelint-enable

$button-colors: () !default;
$button-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
), $button-colors);
// stylelint-enable

// Spacing
//
// Spacers are multiple of 8
$spacer: .5rem;
$spacers: ();
$spacers: map-merge((
  0:  0,
  1:  ($spacer),
  2:  ($spacer * 2),
  3:  ($spacer * 3),
  4:  ($spacer * 4),
  5:  ($spacer * 5),
  6:  ($spacer * 6),
  7:  ($spacer * 7),
  8:  ($spacer * 8),
  9:  ($spacer * 9),
  10: ($spacer * 10),
  11: ($spacer * 11),
  12: ($spacer * 12),
  13: ($spacer * 13),
  14: ($spacer * 14)
), $spacers);

// Body
//
// Settings for the `<body>` element.

$body-bg:               $white;
$body-color:            $gray-ink;

// Links
//
// Style anchor elements.

$link-color:                  $sarcelle-surprise; //$gray-900;
$link-border-color:           $sarcelle-atmos;
$link-border-width:           1px;
$link-decoration:             none;
$link-hover-color:            $sarcelle;
$link-hover-decoration:       none;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:     2rem;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 570px,
  md: 750px,
  lg: 990px,
  xl: 1170px
);

// Components
//
// Define common padding and border radius sizes and more.

$border-radius:               .25rem;
$border-radius-lg:            .3125rem;
$border-radius-sm:            .2rem;

$headings-color:              $gray-900;

$mark-color:                  $gray-900;

$component-active-color:      $white;
$component-active-bg:         theme-color("primary");

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base:            'Nunito Sans', Helvetica, Arial, sans-serif;


$font-weight-light:           300; // Nunito Sans Light         
$font-weight-regular:         400; // Nunito Sans Regular
$font-weight-bold:            700; // Nunito Sans Bold
$font-weight-normal:          $font-weight-regular;

$line-height-base:            1.5;
$line-height-xl:              1.3333;
$line-height-lg:              1.5238;
$line-height-sm:              1.3333;

$font-size-base:              1rem;       // Assumes the browser default, typically `16px`
$font-size-xl:                1.5rem;     // ~24px
$font-size-lg:                1.3125rem;  // ~21px
$font-size-md:                0.875rem;   // ~14px
$font-size-sm:                0.75rem;    // ~12px

$h1-font-size:                $font-size-base * 3.25;       // 52px
$h2-font-size:                $font-size-base * 2.8125;     // 45px
$h3-font-size:                $font-size-base * 2.4375;     // 39px
$h4-font-size:                $font-size-base * 2;          // 32px
$h5-font-size:                $font-size-base * 1.625;      // 26px
$h6-font-size:                $font-size-base * 1.1875;     // 19px

$headings-margin-bottom:      1rem;
$headings-font-weight:        $font-weight-regular;
$headings-line-height:        1.23; // specific line-height for each level, see mixins header
$headings-color:              inherit !default;

$display1-size:               4.0625rem; //6rem;
$display2-size:               3.6875rem; //5.5rem;
$display3-size:               3.25rem;   //4.5rem;
$display4-size:               2.8125rem; //3.5rem;

$display1-weight:             300;
$display2-weight:             300;
$display3-weight:             300;
$display4-weight:             300;

// Display line-height are dealt directly in the class because it's specific to each display 
$display-line-height:         $headings-line-height;

$lead-font-size:              $font-size-lg;     // 21px
$lead-line-height:            get-line-height($lead-font-size, 32px);    // 32px
$lead-font-weight:            $font-weight-regular;

$small-font-size:             .75em;

$blockquote-small-color:      $body-color;
$blockquote-font-size:        ($font-size-base * 1.25);

$hr-margin-y:                 ($spacer * 2);


//== Icons fonts vfi class, imported from "@villemontreal/font-icon
$vfi-icon-font-path: $assets-font-path;
$vfi-icon-font-family : 'vdm';


// Body
//
// Settings for the `<body>` element.

$header-banner-portal-height : 50px;
$header-portal-height : 60px;
$header-total-portal-height : $header-banner-portal-height + $header-portal-height;

// Navs

$nav-link-padding-y:                1rem;
$nav-link-padding-x:                2rem;

$nav-tabs-border-color:             $white;
$nav-tabs-border-width:             0;
$nav-tabs-border-radius:            0;
$nav-tabs-link-hover-border-color:  $brand;
$nav-tabs-link-active-color:        $black;
$nav-tabs-link-active-bg:           $body-bg;
$nav-tabs-link-active-border-color: $brand;

$nav-tabs-spacing:                  4px;
$nav-tabs-active-border-width:      4px;

// Navbar

$navbar-height: 60px;

// Pagination

$pagination-padding-y:              .625rem;
$pagination-padding-x:              1.125rem;
$pagination-padding-y-sm:           .3rem;
$pagination-padding-x-sm:           .6rem;
$pagination-padding-y-lg:           .75rem;
$pagination-padding-x-lg:           1.5625rem;
$pagination-line-height:            1.25;

$pagination-icon-padding:           .785rem;
$pagination-icon-padding-sm:        .425rem;
$pagination-icon-padding-lg:        1.0625rem;

$pagination-color:                  $gray-600;
$pagination-bg:                     $white;
$pagination-border-width:           1px;
$pagination-border-color:           $gray-400;

$pagination-hover-color:            $primary;
$pagination-hover-bg:               $gray-sky;
$pagination-hover-border-color:     $gray-400;

$pagination-active-color:           $white;
$pagination-active-bg:              $primary;
$pagination-active-border-color:    $gray-400; 

$pagination-disabled-color:         $gray-400;
$pagination-disabled-bg:            $white;
$pagination-disabled-border-color:  $gray-400;

// Breadcrumbs

$breadcrumb-item-padding:           1.25rem;
$breadcrumb-bg:                     $white;
$breadcrumb-active-color:           $black;

// Figures

$figure-caption-font-size:          90%;
$figure-caption-color:              $gray-ink;


// Jumbotron

//$jumbotron-padding:                 2rem;
$jumbotron-bg:                      $white;


// Cards

$card-border-radius:                0;
$card-border-color:                 $gray-400;
$card-inner-border-radius:          0;
//$card-bg:                           $gray-500;
$card-box-shadow:                   0 1px 7px 0 #e6e6e6;


//
// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                   1.5rem !default;
$alert-padding-x:                   1.5rem !default;
$alert-margin-bottom:               1rem !default;
$alert-border-radius:               0;
$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width:                0;


// Progress circle bars

$progress-circle-border-width:          5px;
$progress-circle-border-color-default:  $gray-300;
$progress-circle-border-color-fill:     $gray-700;
$progress-circle-size:                  100px;
$progress-circle-steps:                 100; //this needs to be even.
$progress-circle-animation-timing:      .5s;

// Badges

$badge-pill-padding-x:              1em;
$badge-pill-padding-y:              .5em;


// Input btn

$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;
$input-btn-line-height:       $line-height-base;

$input-btn-focus-width:       .2rem;
$input-btn-focus-color:       rgba($primary, .25);
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm:      .25rem;
$input-btn-padding-x-sm:      .5rem;
$input-btn-line-height-sm:    $line-height-sm;

$input-btn-padding-y-lg:      .5rem;
$input-btn-padding-x-lg:      1rem;
$input-btn-line-height-lg:    $line-height-lg;

//
// Buttons
//
// DEPRECATED - Use btn-* variables instead

$vdm-btn-border-width:        2px;
$vdm-btn-height:              53px;
$vdm-btn-small-height:        40px;

$vdm-btn-padding-y:           .75rem;
$vdm-btn-padding-x:           2.5rem;
$vdm-btn-padding-y-sm:        .625rem;
$vdm-btn-padding-x-sm:        2rem;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               .75rem;
$btn-padding-x:               2.5rem;
$btn-line-height:             $input-btn-line-height;

$btn-padding-y-sm:            .5625rem;
$btn-padding-x-sm:            2rem;
$btn-line-height-sm:          get-line-height(12px, 18px);

$btn-border-width:            2px;

$btn-font-weight:             $font-weight-normal;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
$btn-focus-width:             $input-btn-focus-width;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow;
$btn-disabled-opacity:        .65;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125);

$btn-link-disabled-color:     $gray-600;

$btn-block-spacing-y:         .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           2rem;
$btn-border-radius-sm:        $btn-border-radius;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


//
// Forms
//

$input-label-color:                             $gray-900;
$input-color:                                   $gray-700;
$input-border-color:                            $gray-400;
$input-border-width:                            1px;

$input-disabled-bg:                             $gray-200;

$input-placeholder-color:                       $gray-500;


// custom forms

$custom-control-indicator-disabled-bg:          $gray-300;
$custom-control-label-disabled-color:           $gray-600;

$custom-control-gutter:                         3rem;
$custom-control-spacer-y:                       1rem;

$custom-control-indicator-size:                 1.875rem;
$custom-control-indicator-bg:                   $gray-300;
$custom-control-indicator-bg-size:              50% 50%;

//$custom-control-indicator-focus-box-shadow:     0 0 0 1px $body-bg, 0 0 0 .2rem rgba($brand, .25);
//$custom-control-indicator-focus-box-shadow:     none !important;
$custom-control-indicator-active-box-shadow:    none !important;
$custom-control-indicator-active-bg:            none !important;
$custom-control-indicator-checked-color:        $primary;
$custom-control-indicator-checked-bg:           $custom-control-indicator-bg;

$custom-checkbox-indicator-border-radius:       $border-radius-lg;
$custom-checkbox-indicator-icon-checked:        none;
$custom-checkbox-indicator-indeterminate-bg:    $custom-control-indicator-bg;

$custom-checkbox-indicator-icon-indeterminate:  none;
$custom-checkbox-indicator-icon-checked:        none;

$custom-radio-indicator-icon-checked:           none;
$custom-control-indicator-checked-disabled-bg:  $custom-control-indicator-bg;


// Checkbox Toggle :on/off switches

$checkbox-toggle-border-width:          2px;
$checkbox-toggle-border-radius:         40px;
$checkbox-toggle-border-radius-inside:  30px;
$checkbox-toggle-height:                40px;
$checkbox-toggle-width:                 75px;
$checkbox-toggle-width-inside:          30px;
$checkbox-toggle-padding:               5px;


// Dropdowns
//
// Dropdown menu container and contents.

//$dropdown-min-width:                10rem;
//$dropdown-padding-y:                .5rem;
//$dropdown-spacer:                   .125rem;
$dropdown-bg:                       $white;
$dropdown-border-color:             $gray-400;
$dropdown-border-radius:            0;
$dropdown-border-width:             1px;
$dropdown-divider-bg:               $gray-400;

$dropdown-link-color:               $gray-900;
$dropdown-link-hover-color:         darken($gray-900, 5%);
$dropdown-link-hover-bg:            $gray-100;

//$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $sarcelle-atmos;

//$dropdown-link-disabled-color:      $gray-600;

$dropdown-item-padding-y:           .5rem;
$dropdown-item-padding-x:           1.5rem;

$dropdown-header-color:             $gray-600;

// Modal

//$modal-lg:                          800px;
$modal-md:                          600px;
//$modal-sm:                          300px;


//
// Menus
//
$side-menu-width:               300px;
$side-menu-border-width:        2px;
$side-menu-icon-size:           3rem;
$side-menu-link-h-padding:      1rem;
$side-menu-link-v-padding:      1.75rem;

$header-icon-width:             60px;
$header-icon-height:            $header-icon-width;

// Navs

$nav-divider-margin-y:              $spacer;

// Navbar


$navbar-padding-y:                  $spacer;
$navbar-padding-x:                  0;


// Navbar

// $navbar-padding-y:                  ($spacer / 2) !default;
// $navbar-padding-x:                  $spacer !default;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   ($font-size-base * $line-height-base + $nav-link-padding-y * 2) !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;

$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;
$navbar-toggler-font-size:          2rem;
$navbar-toggler-border-radius:      0.25rem;

$navbar-dark-color:                 rgba($white, .5) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                $black;
$navbar-light-hover-color:          $black;
$navbar-light-active-color:         $black;
$navbar-light-disabled-color:       $gray-700;
//$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-light-toggler-border-color: $black;


// - - - - - - - - - -
// == Layout
// - - - - - - - - - -

$sidebar-box-h-padding:         1.75rem;
$sidebar-box-v-padding:         1.5rem;

// Vertical spacing between regions and sections
$region-last-padding-bottom:    4rem;
$region-padding-bottom:         3rem;
$section-padding-bottom:        2.5rem;
