// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// Brand colors
$brand: 					  #e00000;
$brand-dark:        #bb0000;
$brand-black: 		  #1d1d1b;

// Actions
$action:					  #097d6c;
$primary:       	  $action;
$action-lighter:    #0cb097;
$primary-lighter:   $action-lighter;
$action-darker:     #075B4F;
$primary-darker:   $action-darker;

// Highlight
$highlight-light:	  #eefaf8;
$highlight-strong:  #d0f3ee;

// Neutral
$neutral-primary: 			    #212529;
$neutral-primary-reverse: 	#ffffff;
$neutral-secondary:		    	#637381;
$neutral-tertiary:			    #adb5bd;
$neutral-stroke:			      #ced4dA;
$neutral-underground-1:		  #f8f9fa;
$neutral-underground-2: 	  #dee2e6;

//Grays
$black:             #000000;
$gray-900:          $neutral-primary;
$gray-800:          $neutral-primary; // gradient mixin, table dark
$gray-700:          $neutral-secondary;
$gray-600:          $neutral-tertiary; // disabled states
$gray-500:          $neutral-tertiary;
$gray-400:          $neutral-stroke;
$gray-300:          $neutral-underground-2;
$gray-200:          $neutral-underground-1;
$gray-100:          $neutral-underground-1;
$white:             $neutral-primary-reverse;


// Alert colors
$informative-dark:		#004b7b;
$informative:				  #0079c4;
$informative-light:	  #e6f5f9;
$blue:						      $informative;
$info:       				    $informative;

$positive-dark:				#025d29;
$positive:					  #0da566;
$positive-light:			#e7f6f0;
$green:   					    $positive;
$success:    				    $positive;

$warning-dark:				#6C4600;
$warning:					    #ffb833;
$warning-light:				#fefae6;
$yellow:  					    $warning;

$negative-dark:				#851a00;
$negative-light:			#ffebe6;
$negative:					  #d3310a;
$red:     					    $negative;
$danger:     				    $negative;

$colors: ();
$colors: map-merge(
  (
    "black":       $black,
  ),
  $colors
);

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    			  $primary,
	  "neutral-primary":   	$gray-900,
	  "neutral-secondary":  $gray-700,
	  "neutral-tertiary":   $gray-500,
	  "success":    			  $positive,
    "info":       			  $informative,
    "warning":    			  $warning,
    "danger":     			  $negative,
  ),
  $theme-colors
);

$dialog-colors: ();
$dialog-colors: (
  success: (
    base:   $positive,
    dark:   $positive-dark,
    light:  $positive-light
  ),
  info: (
    base:   $informative,
    dark:   $informative-dark,
    light:  $informative-light
  ),
  warning: (
    base:   $warning,
    dark:   $warning-dark,
    light:  $warning-light
  ),
  danger: (
    base:   $negative,
    dark:   $negative-dark,
    light:  $negative-light
  )
);

// Icons
//

// Size
$icon-xs:     16px;
$icon-sm:     20px;
$icon-md:     24px;

$icons-size: ();
$icons-size: (
  xs:  (
    size: $icon-xs
  ),
  sm:  (
    size: $icon-sm
  ),
  md:  (
    size: $icon-md
  )
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-validation-icons:                     false;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer: .5rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0:  0,
    1:  ($spacer),
    2:  ($spacer * 2),
    3:  ($spacer * 3),
    4:  ($spacer * 4),
    5:  ($spacer * 5),
    6:  ($spacer * 6),
    7:  ($spacer * 7),
    8:  ($spacer * 8),
    9:  ($spacer * 9),
    10: ($spacer * 10),
    11: ($spacer * 11),
    12: ($spacer * 12),
    13: ($spacer * 13),
    14: ($spacer * 14),
    15: ($spacer * 15),
    16: ($spacer * 16),
    17: ($spacer * 17),
    18: ($spacer * 18),
    19: ($spacer * 19),
    20: ($spacer * 20),
    21: ($spacer * 21),
    22: ($spacer * 22),
    23: ($spacer * 23),
    24: ($spacer * 24)
  ),
  $spacers
);

// Body
//
// Settings for the `<body>` element.

$body-bg:         $white;
$body-color:      $neutral-secondary;


// Links
//
// Style anchor elements.

$link-color:                  $action;
$link-decoration:             none;
$link-hover-color:            $action;
$link-hover-decoration:       none;

// Ajout custom
$link-border-color:           $action;
$link-border-width:           1px;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:     2rem;



// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 570px,
  md: 750px,
  lg: 990px,
  xl: 1170px
);


// Grid columns
//
// Set the number of columns and specify the width of the gutters. 

$grid-columns:                12;
$grid-gutter-width:           32px;


// Grid content
//
// Define the maximum width of content for different screen sizes.
$content-max-widths: (
  md: 750px,
  lg: 1110px,
  xl: 1440px
); 


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.75rem; // 28px 
$line-height-md:              1.5rem;  // 24px  
$line-height-sm:              1.25rem; // 20px
$line-height-xs:              1rem;    // 16px 

$border-radius:               .25rem;
$border-width:                1px;
$border-color:                $neutral-stroke;

$border-radius-lg:            .375rem;
$border-radius-sm:            .125rem;

$component-active-color:      $white;
$component-active-bg:         $primary;

// genaral variable box-shadow apply to card, popover, dropdown and modal
$box-shadow:                  0 .5rem 2rem 0 rgba($black, .1);

// Generic value for backdrop bg and opacity
$backdrop-bg:                 $neutral-primary;
$backdrop-opacity:            .3;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-base:            'Open Sans', Helvetica, Arial, sans-serif;

$font-size-base:              1rem; // Assumes the browser default, typically `16px
$font-size-lg:                $font-size-base * 1.25;   //20px
$font-size-sm:                $font-size-base * .875;   //14px
$font-size-xs:                $font-size-base * .75;    //12px

$font-weight-normal:          400;  // Open Sans Regular     
$font-weight-regular:         $font-weight-normal;
$font-weight-bold:            700; // Open Sans Bold

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.75;

$h1-font-size:                $font-size-base * 2.5;         // 40px
$h2-font-size:                $font-size-base * 2;       	   // 32px
$h3-font-size:                $font-size-base * 1.5;         // 24px
$h4-font-size:                $font-size-base * 1.25;        // 20px
$h5-font-size:                $font-size-base * 1;       	   // 16px
$h6-font-size:                $font-size-base * 0.875;       // 14px

$headings-margin-bottom:      1.5rem;
$headings-font-family:        $font-family-base;
$headings-font-weight:        $font-weight-bold;         
$headings-color:              $neutral-primary;


// Headings font-size and line-height are made responsive
// @see type.scss
// These values represent the largest font-size for those headings
$display1-size:               $h1-font-size;           
$display2-size:               $h1-font-size;           
$display3-size:               $h2-font-size;         
$display4-size:               $h3-font-size;      

$display1-weight:             600;
$display2-weight:             600;
$display3-weight:             600;
$display4-weight:             600;


$lead-font-size:              $font-size-lg;              // 20px
$lead-line-height:            2rem;                        // 32px
$lead-font-weight:            $font-weight-regular;

$mark-color:                  $neutral-primary;

$small-font-size:             .75em;
$text-muted:                  $neutral-tertiary;
$blockquote-small-color:      $body-color;
$blockquote-font-size:        $font-size-lg;              // 20px





$hr-margin-y:                 ($spacer * 2);


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding-lg:       1rem 1rem;
$table-cell-padding:          0.625rem 1rem;
$table-cell-padding-sm:       0.5rem 1rem;

$table-bg:                    transparent;
$table-accent-bg:             $highlight-light; // used for zebra accent
$table-hover-bg:              $highlight-light; // used for hoverable
$table-active-bg:             $table-hover-bg;

$table-border-width:          $border-width;
$table-border-color:          $neutral-stroke;

$table-head-bg:               $highlight-light;
$table-head-color:            $headings-color;

$table-head-dark-bg:          $highlight-strong;

$table-dark-bg:               $neutral-primary;
$table-dark-accent-bg:        rgba($white, .05);
$table-dark-hover-bg:         rgba($white, .075);
$table-dark-border-color:     lighten($neutral-primary, 7.5%);
$table-dark-color:            $body-bg;

$table-striped-order:         odd;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         0.625rem;
$input-btn-padding-x:         0.5rem;
$input-btn-font-family:       null;
$input-btn-font-size:         $font-size-sm;
$input-btn-line-height:       1.28572; // 14/18

$input-btn-focus-width:       .2rem;
$input-btn-focus-color:       rgba($component-active-bg, .25);
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-btn-focus-color:       rgba($component-active-bg, .25);

$input-btn-padding-y-sm:      0.5rem;
$input-btn-padding-x-sm:      0.5rem;
$input-btn-font-size-sm:      $font-size-xs;
$input-btn-line-height-sm:    1.16666666666; // 12/14

$input-btn-padding-y-lg:      1rem;
$input-btn-padding-x-lg:      1rem;
$input-btn-font-size-lg:      $font-size-base;
$input-btn-line-height-lg:    1.375; // 16/22

$input-btn-border-width:      $border-width;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               2rem;
$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $input-btn-font-size;
$btn-line-height:             $input-btn-line-height;

$btn-padding-y-sm:            $input-btn-padding-y-sm;
$btn-padding-x-sm:            1rem;
$btn-font-size-sm:            $input-btn-font-size-sm;
$btn-line-height-sm:          $input-btn-line-height-sm;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            2rem;
$btn-font-size-lg:            $input-btn-font-size-lg;
$btn-line-height-lg:          $input-btn-line-height-lg;

$btn-border-width:            $input-btn-border-width;


$btn-font-weight:             $font-weight-bold;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
$btn-focus-width:             $input-btn-focus-width;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow;
$btn-disabled-opacity:        .65;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125);

$btn-link-disabled-color:     $neutral-tertiary;

$btn-block-spacing-y:         .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           4rem;
$btn-border-radius-sm:        $btn-border-radius;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-squared:   4px;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


// Forms
$label-margin-bottom:                   0.5rem;

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-font-family:                     $input-btn-font-family;
$input-font-size:                       $input-btn-font-size;
$input-line-height:                     $input-btn-line-height;

$input-padding-y-sm:                    $input-btn-padding-y-sm;
$input-padding-x-sm:                    $input-btn-padding-x-sm;
$input-font-size-sm:                    $input-btn-font-size-sm;
$input-line-height-sm:                  $input-btn-line-height-sm;

$input-padding-y-lg:                    $input-btn-padding-y-lg;
$input-padding-x-lg:                    $input-btn-padding-x-lg;
$input-font-size-lg:                    $input-btn-font-size-lg;
$input-line-height-lg:                  $input-btn-line-height-lg;

$input-bg:                              $white;
$input-disabled-bg:                     $neutral-underground-2;

$input-label-color:                     $headings-color;
$input-color:                           $neutral-primary;
$input-border-color:                    $neutral-stroke;
$input-border-width:                    1px;
$input-box-shadow:                      none;

$input-border-radius:                   $border-radius;
$input-border-radius-lg:                $border-radius;
$input-border-radius-sm:                $border-radius;

$input-focus-bg:                        $input-bg;
$input-focus-border-color:              $primary;
$input-focus-color:                     $input-color;
$input-focus-width:                     $input-btn-focus-width;
$input-focus-box-shadow:                none;

$input-placeholder-color:               $neutral-tertiary;
$input-plaintext-color:                 $body-color;

// custom forms

$custom-control-indicator-disabled-bg:          $neutral-stroke;
$custom-control-label-disabled-color:           $neutral-tertiary;

$custom-control-gutter:                         .625rem;
$custom-control-spacer-y:                       0.5rem; // Custom VDM addon
$custom-control-spacer-x:                       0.75rem;

$custom-control-indicator-size:                 1.25rem;
$custom-control-indicator-bg:                   $white;
$custom-control-indicator-border-width:         $input-border-width;

$custom-control-indicator-active-box-shadow:    none !important;
$custom-control-indicator-active-bg:            none !important;
$custom-control-indicator-checked-color:        $white;
$custom-control-indicator-checked-bg:           $primary;

$custom-control-indicator-checked-disabled-bg:  $custom-control-indicator-disabled-bg;


$custom-checkbox-indicator-border-radius:         $border-radius-lg;
$custom-checkbox-indicator-icon-checked-bg-size:  1.1875rem;  
$custom-checkbox-indicator-icon-checked:          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.3 7.1c-.5-.5-1.3-.5-1.9 0l-7.1 7.1-1.7-1.7c-.5-.5-1.4-.5-1.9 0s-.5 1.4 0 1.9L8.3 17c.4.4 1.1.5 1.6.2L18.2 9c.6-.6.6-1.4.1-1.9z' fill='%23fff'/%3E%3C/svg%3E");
$custom-radio-indicator-icon-checked-bg-size:     .625rem;

$custom-switch-control-indicator-size:            1.75rem;
$custom-switch-control-indicator-color:           $primary;
$custom-switch-control-indicator-disabled-color:  $white;
$custom-switch-inner-padding:                     .125rem;
$custom-switch-width:                             $custom-switch-control-indicator-size * 2;
$custom-switch-indicator-border-radius:           $custom-switch-control-indicator-size;
$custom-switch-indicator-size:                    calc(#{$custom-switch-control-indicator-size} - #{$custom-control-indicator-border-width * 4});


// Form validation

$form-feedback-margin-top:          .5rem;
$form-feedback-font-size:           $font-size-sm;
$form-group-margin-bottom:          1rem;

// Checkbox Toggle :on/off switches
//
// Will be removed in V4 - we now use custom-switch

$checkbox-toggle-border-width:          2px;
$checkbox-toggle-border-color:          $primary;
$checkbox-toggle-border-radius:         40px;
$checkbox-toggle-border-radius-inside:  30px;
$checkbox-toggle-height:                40px;
$checkbox-toggle-width:                 75px;
$checkbox-toggle-width-inside:          30px;
$checkbox-toggle-padding:               5px;
$checkbox-toggle-bg:                    $white;
$checkbox-toggle-bg-toggled:            $primary;


// Navs

$nav-link-padding-y:                  1.5rem;
$nav-link-padding-x:                  2rem;

$nav-tabs-border-color:               $neutral-underground-2;
$nav-tabs-border-width:               1px;
$nav-tabs-border-radius:              0;
$nav-tabs-link-hover-border-color:    $action;
$nav-tabs-link-active-color:          $action;
$nav-tabs-link-active-bg:             $body-bg;
$nav-tabs-link-active-border-color:   $action;

$nav-tabs-spacing:                    4px;
$nav-tabs-active-border-width:        2px;


// Navbar

$navbar-box-shadow:                 0 .25rem .5rem -.5rem rgba($black, .5);

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                16rem;
$dropdown-padding-y:                .5rem;
$dropdown-spacer:                   .125rem;
$dropdown-font-size:                $font-size-base;
$dropdown-color:                    $neutral-primary;
$dropdown-bg:                       $white;
$dropdown-border-color:             $neutral-stroke;
$dropdown-border-radius:            $border-radius;
$dropdown-border-width:             $border-width;
$dropdown-inner-border-radius:      calc(#{$dropdown-border-radius} - #{$dropdown-border-width});
$dropdown-divider-bg:               $neutral-stroke;
$dropdown-divider-margin-y:         .5rem;
$dropdown-box-shadow:               $box-shadow; 

$dropdown-link-color:               $neutral-primary;
$dropdown-link-hover-color:         $neutral-primary;
$dropdown-link-hover-bg:            $neutral-underground-1;

$dropdown-link-active-color:        $neutral-primary;
$dropdown-link-active-bg:           $neutral-underground-1;

$dropdown-link-disabled-color:      $neutral-tertiary;

$dropdown-item-padding-y:           .5rem;
$dropdown-item-padding-x:           1rem;

$dropdown-header-color:             $neutral-primary;


// Pagination

$pagination-padding-y:              0.625rem;
$pagination-padding-x:              1.25rem;
$pagination-padding-y-sm:           .5rem;
$pagination-padding-x-sm:           1rem;
$pagination-padding-y-lg:           1rem;
$pagination-padding-x-lg:           2rem;

$pagination-icon-padding:           0.75rem;
$pagination-icon-padding-sm:        0.5rem;
$pagination-icon-padding-lg:        1.15rem;

$pagination-line-height:            $line-height-sm;

$pagination-color:                  $body-color;
$pagination-bg:                     $white;
$pagination-border-width:           1px;
$pagination-border-color:           $neutral-stroke;

$pagination-hover-color:            $primary;
$pagination-hover-bg:               $highlight-light;
$pagination-hover-border-color:     $neutral-stroke;

$pagination-active-color:           $white;
$pagination-active-bg:              $primary;
$pagination-active-border-color:    $neutral-stroke; 

$pagination-disabled-color:         $neutral-stroke;
$pagination-disabled-bg:            $white;
$pagination-disabled-border-color:  $neutral-stroke;


// Jumbotron

$jumbotron-padding:                 3rem;
$jumbotron-bg:                      $neutral-underground-1;


// Cards

$card-border-width:                 $border-width;
$card-border-radius:                $border-radius;
$card-border-color:                 $neutral-stroke;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width});
$card-box-shadow:                   $box-shadow;


// Badges

$badge-padding-y:                   ($spacer / 2);
$badge-padding-x:                   ($spacer / 2);
$badge-pill-padding-x:              $spacer;


// Modals

// Padding applied to the modal body
$modal-inner-padding:               1rem;
$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       1.75rem;
$modal-title-line-height:           $line-height-sm;

$modal-content-bg:                  $white;
$modal-content-border-color:        rgba($black, .2);
$modal-content-border-width:        0;
$modal-content-box-shadow-xs:       $box-shadow;
$modal-content-box-shadow-sm-up:    $box-shadow;


$modal-backdrop-bg:                 $backdrop-bg;
$modal-backdrop-opacity:            $backdrop-opacity;
$modal-header-border-color:         $gray-200;
$modal-footer-border-color:         $modal-header-border-color;
$modal-header-border-width:         $modal-content-border-width;
$modal-footer-border-width:         $modal-header-border-width;
$modal-header-padding:              1rem;

$modal-xl:                          800px;
$modal-lg:                          800px;
$modal-md:                          600px;
$modal-sm:                          600px;

$modal-transition:                  transform 300ms ease-out;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                   1rem;
$alert-padding-x:                   1rem;
$alert-margin-bottom:               1rem;
$alert-border-radius:               0;
$alert-link-font-weight:            $font-weight-bold;
$alert-border-width:                0;

$alert-bg-level:                    -10;
$alert-border-level:                0;
$alert-color-level:                 6;

$alert-bg-level-interval:			      9%;
$alert-color-level-interval:		    8%;

$alert-dark-bg-level:               6;
$alert-dark-border-level:           7;
$alert-dark-color-level:            5;


// Progress circle bars

$progress-circle-border-width:          5px;
$progress-circle-border-color-default:  $neutral-underground-2;
$progress-circle-border-color-fill:     $success;
$progress-circle-size:                  100px;
$progress-circle-steps:                 100; //this needs to be even.
$progress-circle-animation-timing:      .5s;


// List group

$list-group-bg:                     $white;
$list-group-border-color:           $neutral-stroke;
$list-group-border-width:           $border-width;
$list-group-border-radius:          0;

$list-group-item-padding-y:         1rem;
$list-group-item-padding-x:         1rem;

$list-group-hover-bg:               $highlight-light;
$list-group-active-color:           $headings-color;
$list-group-active-bg:              $highlight-light;
$list-group-active-border-color:    transparent;

$list-group-action-color:           $action;
$list-group-action-hover-color:     $action;

$list-group-action-active-color:    $action;
$list-group-action-active-bg:       $highlight-light;


// Figures

$figure-caption-font-size:          90%;
$figure-caption-color:              $neutral-secondary;


// Breadcrumbs

$breadcrumb-padding-y:              2rem;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           1rem;

$breadcrumb-margin-bottom:          0;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          $neutral-secondary;
$breadcrumb-active-color:           $neutral-secondary;
$breadcrumb-divider:                quote("/");

$breadcrumb-border-radius:          0;


// Carousel
$carousel-control-opacity:           1;
$carousel-control-hover-opacity:     .6;
$carousel-caption-width:             100%;
$carousel-caption-color:             $neutral-primary !default;


// Popover
$popover-border-color:              $neutral-underground-1;
$popover-box-shadow:                $box-shadow;
$popover-header-bg:                 $white;
$popover-header-padding-y:          0;
$popover-header-padding-x:          0;

// Media
$padding-16-9:                    56.25%;
$padding-16-7:                    43.75%;

// Ajout custom
// Slide Menus
$slide-menu-width:                440px;
$slide-menu-bg:                   $neutral-primary;
$slide-menu-border-width:         1px;
$slide-menu-border-color:         $neutral-secondary;
$slide-menu-link-color:           $white;
$slide-menu-link-hover-color:     $action-lighter;
$slide-menu-link-font-size:       $font-size-base;
$slide-menu-icon-size:            3rem;
$slide-menu-icon-color:           $action-lighter;
$slide-menu-link-padding:         1rem 2.8125rem;
$slide-menu-transition-dur:       300ms;
$slide-menu-transition-easing:    ease-in-out;

// Slide Menus Employes
$slide-menu-employes-width:                440px;
$slide-menu-employes-bg:                   $white;
$slide-menu-employes-link-color:           $neutral-secondary;
$slide-menu-link-hover-color:              $action;
$slide-menu-employes-icon-size:            1.5rem;
$slide-menu-employes-icon-color:           $neutral-tertiary;
$slide-menu-employes-icon-hover-color:     $action-lighter;
$slide-menu-employes-transition-dur:       300ms;
$slide-menu-employes-transition-easing:    ease-in-out;


