// Main wrapper styles
//
.wrapper {
  border: 1px solid $neutral-stroke;
  border-radius: $border-radius;
  padding: 1rem;
}

.wrapper-explainer {
  padding: 2rem 1rem;
  
  @include media-breakpoint-up(md) {
    [class^="col-"] {
      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Sélecteur arrondissement
//
.wrapper-arrondissement {
  padding: 0;
  display: flex;
  flex-direction: column;

  .wrapper-arrondissement-header {
    @include font-size($font-size-sm);
    border-bottom: 1px solid $neutral-stroke;
    line-height: $line-height-xs;
    padding: 1rem;
    margin-bottom: 2rem;

    .title {
      color: $neutral-primary;
      font-weight: $font-weight-bold;
    }

    &.wrapper-sticky-header {
      position: -webkit-sticky;
      position: sticky;
      top: 3.5rem;
      background-color: $white;
      @include border-top-radius($border-radius);
      z-index: 100;

      @include media-breakpoint-up(lg) {
        top: 4.5rem;
      }
    }
  }

  .wrapper-arrondissement-body {
    padding: 0 1rem 2rem 1rem;
    .empty-state {
      @include font-size($font-size-sm);
      line-height: $line-height-xs;
      text-align: center;
      p {
        margin-bottom: 0;
      }
      .icon {
        margin: 0 auto 1rem auto;
        width: 80px;
        height: 80px;
        &:before {
          width: 80px;
          height: 80px;
        }
      }
      svg {
        fill: $neutral-tertiary;
        margin-bottom: 1rem;
      }
    }
    // Margin-bottom is smaller when inside the wrapper-arrondissement-body
    .content-module-stacked {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(md) {
      .empty-state {
        padding: 2rem;
      }
    }
  }
}

// Wrapper Accordion
//
.wrapper-accordion {
  .collapsible-item {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Blockquote And Emphasis
//
.blockquote {
  @include font-size($blockquote-font-size);
  color: $neutral-primary;
  line-height: 2rem;
  font-weight: $font-weight-normal;
  font-style: italic;
  margin-bottom: 2rem;
  padding-left: 2rem;
  position: relative;

  p:last-of-type {
    margin-bottom: 1rem;
  }

  &:before {
    content: "";
    background: $neutral-stroke;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
  }

  .blockquote-footer {
    color: $body-color;
    @include font-size($font-size-sm);  // 14/20
    line-height: $line-height-sm;
    font-style: normal;
    &:before {
      display: none;
    }

    .blockquote-footer-author {
      color: $neutral-primary;
      font-weight: $font-weight-bold;
    }
  }
  cite {
    color: $neutral-primary;
    font-style: normal;
  }

  &.blockquote-emphasis {
    font-style: normal;
    p:last-child {
      margin-bottom: 0;
    }
    &.emphasis-lg {
      @include font-size($font-size-lg);
      line-height: 2rem;
      padding-left: 2rem;
    }
    &.emphasis-md {
      @include font-size($font-size-base);
      line-height: $line-height-lg;
      padding-left: 1rem;
    }
    &.emphasis-sm {
      @include font-size($font-size-sm);
      line-height: $line-height-md;
      padding-left: 1rem;
    }
  }
}


// Lexique

.lexique {
  .lexique-heading {
    @include font-size($font-size-base);
    line-height: $line-height-md;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .lexique-heading-label {
      width: 1.5rem;
    }
    &:after {
      content: "";
      width: 100%;
      margin-right: 1.5rem;
      height: 1px;
      background-color: $neutral-stroke;
    }
  }
  .lexique-nav {
    ul {
      margin: 0;
    }
    a {
      @include font-size($font-size-sm);
      line-height: $line-height-sm;
      border: none;
      border-radius: 50%;
      color: $neutral-primary;
      font-weight: $font-weight-normal;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      @include hover-focus {
        color: $white;
        background: $neutral-primary;
        font-weight: $font-weight-bold;
      }
      &.active {
        color: $white;
        background: $neutral-primary;
        font-weight: $font-weight-bold;
      }
    }
  }
}
