$newicons : (
	vfi-rosace : "\f101",
	vfi-recherche : "\f102",
	vfi-profil : "\f103",
	vfi-drapeau : "\f104",
	vfi-calendrier : "\f105",
	vfi-soleil : "\f106",
	vfi-billet : "\f107",
	vfi-oeil : "\f108",
	vfi-personnes : "\f109",
	vfi-porte-document : "\f10a",
	vfi-bus : "\f10b",
	vfi-telephone : "\f10c",
	vfi-livre : "\f10d",
	vfi-lecture : "\f10e",
	vfi-fleche : "\f10f",
	vfi-actualite : "\f110",
	vfi-localisation-etoile : "\f111",
	vfi-permis : "\f112",
	vfi-document : "\f113",
	vfi-carte-de-credit : "\f114",
	vfi-dossier : "\f115",
	vfi-cloche : "\f116",
	vfi-parametres : "\f117",
	vfi-plus-circulaire : "\f118",
	vfi-moins-circulaire : "\f119",
	vfi-coche-etapes : "\f11a",
	vfi-3-points-circulaire : "\f11b",
	vfi-enveloppe : "\f11c",
	vfi-ajout-dossier : "\f11d",
	vfi-attention : "\f11e",
	vfi-ordinateur : "\f11f",
	vfi-ecrou : "\f120",
	vfi-crayon : "\f121",
	vfi-ampoule : "\f122",
	vfi-plume : "\f123",
	vfi-attention-circulaire : "\f124",
	vfi-horloge : "\f125",
	vfi-cible : "\f126",
	vfi-balai : "\f127",
	vfi-permis-generique : "\f128",
	vfi-fleche-circulaire-haut : "\f129",
	vfi-fleche-circulaire-droite : "\f12a",
	vfi-fleche-circulaire-bas : "\f12b",
	vfi-fleche-circulaire-gauche : "\f12c",
	vfi-maison : "\f12d",
	vfi-grand-x : "\f12e",
	vfi-cercle-progression-complet : "\f12f",
	vfi-cercle-progression-a : "\f130",
	vfi-cercle-progression-ab : "\f131",
	vfi-cercle-progression-abc : "\f132",
	vfi-cercle-progression-c : "\f133",
	vfi-cercle-progression-bc : "\f134",
	vfi-cercle-progression-coche : "\f135",
	vfi-cercle-progression-dossier : "\f136",
	vfi-chevron-haut : "\f137",
	vfi-chevron-droite : "\f138",
	vfi-chevron-bas : "\f139",
	vfi-chevron-gauche : "\f13a",
	vfi-coche-circulaire : "\f13b",
	vfi-menu : "\f13c",
	vfi-localisation-plein : "\f13d",
	vfi-fleche-haut : "\f13e",
	vfi-fleche-droite : "\f13f",
	vfi-fleche-bas : "\f140",
	vfi-fleche-gauche : "\f141",
	vfi-mini-plus : "\f142",
	vfi-mini-moins : "\f143",
	vfi-mini-x : "\f144",
	vfi-mini-plus-circulaire : "\f145",
	vfi-mini-moins-circulaire : "\f146",
	vfi-mini-x-circulaire : "\f147",
	vfi-mini-plus-circulaire-plein : "\f148",
	vfi-mini-moins-circulaire-plein : "\f149",
	vfi-mini-x-circulaire-plein : "\f14a",
	vfi-mini-case-coche : "\f14b",
	vfi-mini-case-coche-vide : "\f14c",
	vfi-mini-case-coche-coche : "\f14d",
	vfi-mini-case-coche-plein : "\f14e",
	vfi-dechets-et-recyclage : "\f14f",
	vfi-recyclage : "\f150",
	vfi-compostage : "\f151",
	vfi-residus-verts : "\f152",
	vfi-permis-animal-chien : "\f153",
	vfi-nid-de-poule : "\f154",
	vfi-lampadaire : "\f155",
	vfi-graffiti : "\f156",
	vfi-banc-de-parc : "\f157",
	vfi-branches-d-arbre : "\f158",
	vfi-travaux-routiers : "\f159",
	vfi-preferences : "\f15a",
	vfi-localisation : "\f15b",
	vfi-question : "\f15c",
	vfi-porte-voix : "\f15d",
	vfi-permis-stationnement : "\f15e",
	vfi-deneigement : "\f15f",
	vfi-permis-animal-chat : "\f160",
	vfi-social-instagram : "\f161",
	vfi-social-linkedin : "\f162",
	vfi-social-twitter : "\f163",
	vfi-social-youtube : "\f164",
	vfi-social-facebook : "\f165",
	vfi-social-gplus : "\f166"
);