<div class="empty-state-container">
  <img src="/images/empty-state-arr-sm.png" class="d-sm-none">
  <img src="/images/empty-state-arr-lg.png" class="d-none d-sm-block">
  <p class="text-center">Lorem ipsum dolor sit amet consectetur elit.<br>
    Phasellus cursus mauris non orci malesuada aliquet.</p>
</div>