<!-- Modal -->
<!-- pl-example-modal is used to show modal, used only for examples -->
{{# modalSize}}
<div class="pl-example-modal pl-neutral-underground-1 py-md-4">
  {{> components-modal}}
</div>
{{/ modalSize}}
