<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bodyScrollableModalLive">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal modal-filters fade" id="bodyScrollableModalLive" tabindex="-1" role="dialog" aria-labelledby="moreFiltersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moreFiltersModalLabel">Body scrollable modal</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>Icons/24px/X</title>
            <path d="M12 13.414l-5.293 5.293a1 1 0 1 1-1.414-1.414L10.586 12 5.293 6.707a1 1 0 0 1 1.414-1.414l12 12a1 1 0 0 1-1.414 1.414L12 13.414zm5.293-8.121a1 1 0 0 1 1.414 1.414l-3 3a1 1 0 1 1-1.414-1.414l3-3z" fill="#ADB5BD" fill-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur libero nisl, tincidunt in pretium quis, efficitur id velit. Mauris in feugiat enim. Pellentesque eget leo est. Fusce accumsan luctus interdum. Vestibulum tellus purus, euismod id consequat sit amet, suscipit at tortor. Suspendisse vel nulla vel nisi molestie varius ultricies eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Sed consectetur, nulla eget varius tincidunt, nibh justo mollis risus, quis aliquet risus magna vitae ipsum. Nulla nulla dolor, consequat vitae commodo in, viverra quis felis. Aliquam vulputate, risus nec faucibus suscipit, mauris diam elementum lectus, quis tempus est elit luctus est. Phasellus a leo vel purus sodales sodales sed ut dolor. Donec euismod augue et nibh finibus, ac imperdiet turpis mollis. Nam consequat massa magna, sit amet pretium eros feugiat sit amet. Praesent vel pharetra nisi. Aenean sed gravida velit. Duis ac lorem non massa pretium mattis. Nulla facilisi. Aliquam malesuada tellus semper, vulputate purus eget, hendrerit magna. Aliquam ac velit vulputate, consequat justo vitae, tincidunt mauris. Donec nec aliquet leo, sit amet rutrum quam. Nullam quis lacus quis ante tincidunt convallis eu a odio. Nullam nunc velit, mattis id posuere vel, gravida id erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <p>Aliquam nec pulvinar erat, lobortis eleifend ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin elit arcu, posuere ac efficitur eu, pellentesque at enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque nec bibendum sem, molestie sodales neque. Donec lacus nibh, eleifend efficitur posuere ut, ultricies sit amet metus. Vestibulum euismod sit amet neque nec blandit. Nam ac pretium libero, quis dignissim justo. Aliquam sollicitudin massa et arcu auctor egestas. Vivamus sit amet tellus vitae ipsum porttitor varius. Aliquam ut pulvinar enim, at eleifend enim.</p>
        <p>Maecenas rutrum nisi sit amet velit blandit, eu rhoncus mi vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Sed eros libero, volutpat in lacus fermentum, semper suscipit purus. Morbi finibus iaculis turpis, in facilisis erat imperdiet eu. Vestibulum in egestas lectus. Etiam viverra felis nunc, vel pellentesque ex ultricies venenatis.</p>
        <p>Pellentesque congue, dolor quis mollis sagittis, odio dui elementum nisl, eget consectetur velit lectus eu quam. Donec nibh dui, iaculis eget sagittis finibus, rutrum eget ipsum. Donec ac bibendum eros. Etiam egestas sagittis consequat. Curabitur vitae purus egestas, luctus massa eget, iaculis erat. Vivamus euismod blandit interdum. Aenean nulla arcu, sollicitudin id sodales vitae, sagittis nec tellus. Quisque lacinia aliquam libero, sed tempus risus eleifend at. Quisque quis mi ut tortor dignissim gravida sit amet ac magna. Curabitur rutrum dapibus elit luctus convallis. Morbi hendrerit lectus et ultricies feugiat. In hac habitasse platea dictumst. Ut nec eros non mauris faucibus elementum.</p>
      </div>
      <div class="modal-footer">
        <div class="ml-auto">
          <button type="button" class="btn btn-primary">Appliquer</button>
        </div>
      </div>
    </div>
  </div>
</div>