<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleLiveModalDefault">Default modal</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleLiveModalMd">Medium modal</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleLiveModalLarge">Large modal</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleLiveModalBodyScrollable">.scrollable</button>


<!-- Default modal  -->
{{# modalLiveExample}}
  {{> components-modal}}
{{/ modalLiveExample}}
