<!-- Button trigger modal -->
<div class="buttons-wrapper mb-4">
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalDefault">Default modal</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalMd">Medium modal</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalLarge">Large modal</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalBodyScrollable">.scrollable</button>
</div>

<h4 class="pl-pattern-subtitle">Compacte mobile</h4>
<div class="buttons-wrapper">
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalCompactDefault">Default modal</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalCompactMd">Medium modal</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalCompactLarge">Large modal</button>
  <button type="button" class="btn btn-primary btn-squared" data-toggle="modal" data-target="#exampleLiveModalCompactBodyScrollable">.scrollable</button>
</div>

<!-- Default modal  -->
{{# modalLiveExample}}
  {{> components-modal}}
{{/ modalLiveExample}}
