<!-- Modal Alert -->
<!-- pl-example-modal is used to show modal, used only for examples -->
<div class="pl-example-modal pl-neutral-underground-1 py-md-4">
  <div class="modal modal-alert" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="alertModalLabel">Mesure d'urgence</h5>
          <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
            {{> styles-icon-item("icon-name": "icon-x")}}
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-alert-icon">
            <span class="icon icon-sante-et-securite-publiques" aria-hidden="true"></span>
          </div>
          <div class="modal-date-time">Le <time datetime="2020-07-23T16:34:00-0400">23 juillet 2020 à 12:34</time></div>
          <h2 class="h3">Nunc convallis enim eu elit vestibulum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas enim nec erat vulputate, at luctus neque lacinia. Phasellus sed ex ultrices, faucibus nisl sit amet, tincidunt magna.</p>
          <p>Ut pretium urna rhoncus varius viverra, <a href="#">cliquez ici</a>.</p>
        </div>
        <div class="modal-footer">
          <div class="modal-footer-buttons">
            <button type="submit" class="btn btn-primary">J'ai compris</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>