<div class="d-flex justify-content-center mx-auto py-8">
  {{> atoms-loader }}
</div>
<div class="bg-gray-900 d-flex justify-content-center mx-auto py-8">
  {{> atoms-loader(loaderClass: inverted) }}
</div>
<div class="py-4">
  {{> atoms-buttons-loader}}
</div>
