<div class="form-group">
  <label for="text-one">Textfield</label>
  <input type="text" class="form-control" id="text-one">
</div>
<div class="form-group required">
  <label for="textrequired">Required textfield</label>
  <input type="text" class="form-control" id="textrequired" aria-describedby="textRequiredHelpBlock" required>
  <small id="textRequiredHelpBlock" class="form-text text-muted">
    Help text goes here.
  </small>
</div>
<div class="form-group">
  <label for="mail">Email address</label>
  <input type="email" class="form-control" id="mail">
</div>
<div class="form-group">
  <label for="pass">Password</label>
  <input type="password" class="form-control" id="pass">
</div>
<div class="form-group">
  <label for="textarea">Textarea</label>
  <textarea class="form-control" rows="3" id="textarea"></textarea>
</div>
<div class="form-group">
  <label for="textdisabled"> Single textfield disabled</label>
  <input type="text" class="form-control" id="textdisabled" disabled>
</div>
<fieldset disabled>
  <div class="form-group">
    <label for="textdisabled1">Textfield 1 in disabled fieldset</label>
    <input type="text" class="form-control" id="textdisabled1">
  </div>
  <div class="form-group">
    <label for="textdisabled2">Textfield 2 in disabled fieldset</label>
    <input type="text" class="form-control" id="textdisabled2">
  </div>
</fieldset>
