<div class="form-group vdm-form-group has-icon ic-left">
    <i class="vdmi ic-search" aria-hidden="true"></i>
    <input type="text" class="form-control vdm-form-control" id="text">
    <label for="text">Search field with icon, left</label>
</div>

<div class="form-group vdm-form-group has-error has-icon ic-right">
    <i class="vdmi ic-eye" aria-hidden="true"></i>
    <input type="text" class="form-control vdm-form-control" id="text">
    <label for="text">Search field with icon, right</label>
</div>
