<div class="form-group vdm-form-group {{ inputTextFgClasses }}">
    <!--
    inputTextHasIcon: true +  inputTextIconClasses : ic-something for icons in data file
    -->
    {{# inputTextHasIcon }}
        {{> atoms-fonticon-item(label: "oeil") }}
    {{/ inputTextHasIcon }}
    <input type="text" class="form-control vdm-form-control" id="{{ formAttributes.input.type-text.id }}">
    <label for="{{ formAttributes.input.type-text.id }}">{{ formAttributes.input.type-text.label }}</label>
</div>

