<div class="form-group vdm-form-group has-icon ic-left">
    {{> atoms-fonticon-item(label: "recherche") }}
    <input type="text" class="form-control vdm-form-control" id="text">
    <label for="text">Search field with icon, left</label>
</div>

<div class="form-group vdm-form-group has-error has-icon ic-right">
    {{> atoms-fonticon-item(label: "oeil") }}
    <input type="text" class="form-control vdm-form-control" id="text">
    <label for="text">Search field with icon, right</label>
</div>

