<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <div class="input-group-append">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">lbs</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">lbs</a>
      <a class="dropdown-item" href="#">kg</a>
    </div>
  </div>
</div>