<form>
    <div class="form-check vdm-radio-vdmi">
        <input type="radio" id="radio01" name="radioGroup">
        <label for="radio01">Radio</label>
    </div>
    <div class="form-check vdm-radio-vdmi">
        <input type="radio" id="radio02" name="radioGroup">
        <label for="radio02">Radio, one more</label>
    </div>
    <div class="form-check vdm-radio-vdmi disabled" >
        <input type="radio" id="radio03" name="radioGroup" disabled>
        <label for="radio03">Radio disabled</label>
    </div>
    <div class="form-check vdm-radio-vdmi disabled">
        <input type="radio" id="radio04" name="radioGroup" checked disabled>
        <label for="radio04">Radio disabled and checked and damn this label is so long!</label>
    </div>
</form>