<form>
{{# formCheckboxes }}
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="{{ id }}" {{ state }}>
  <label class="custom-control-label" for="{{ id }}">{{ label }}</label>
</div>
{{/ formCheckboxes }}
</form>