<div class="file-drop-container">
  <span class="help-text">{{ fileDrop.helpText }}</span>
  <div class="file-selector-button">
    <label class="vdm-btn vdm-btn-secondary" for="inputId">{{ fileDrop.label }}</label>
    <input type="file" id="inputId" class="sr-only">
  </div>
</div>