<div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio1">Radio</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio2">Radio, one more</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" disabled>
  <label class="custom-control-label" for="customRadio3">Radio, disabled</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" disabled checked>
  <label class="custom-control-label" for="customRadio4">Radio disabled and checked and damn this label is so long!</label>
</div>
