<form>
    <div class="vdm-select-wrapper">
        <label for="select">Label</label>
        <select class="form-control vdm-select" name="select" id="select"> 
            <option value="">Select w/ label</option> 
            <option value="1">1</option> 
            <option value="2">2</option> 
            <option value="3">3</option> 
            <option value="4">4</option> 
            <option value="5">5</option>
            <option value="6">The long brown fox has jumped over the lazy bee</option>
        </select>
    </div>
    <div class="vdm-select-wrapper">
        <select class="form-control vdm-select" name="select" id="select"> 
            <option value="">Select w/out label</option> 
            <option value="1">1</option> 
            <option value="2">2</option> 
            <option value="3">3</option> 
            <option value="4">4</option> 
            <option value="5">5</option>
            <option value="6">The long brown fox has jumped over the lazy bee</option>
        </select>
    </div>
    <div class="vdm-select-wrapper icon-left location">
        {{> atoms-fonticon-item(label: "localisation-plein") }}
        <label for="selecticon">Label</label>
        <select class="form-control vdm-select" name="selecticon" id="selecticon"> 
            <option value="">Select with left icon</option> 
            <option value="1">1</option> 
            <option value="2">2</option> 
            <option value="3">3</option> 
            <option value="4">4</option> 
            <option value="5">5</option>
            <option value="6">The long brown fox has jumped over the lazy bee</option>
        </select>
    </div>
<form>
