<form>
  <div class="form-check radio">
    <input type="radio" id="radio01" name="radioGroup">
    <label for="radio01">Radio</label>
  </div>
  <div class="form-check radio">
    <input type="radio" id="radio02" name="radioGroup">
    <label for="radio02">Radio, one more</label>
  </div>
  <div class="form-check radio disabled">
    <input type="radio" id="radio03" name="radioGroup" disabled>
    <label for="radio03">Radio disabled</label>
  </div>
  <div class="form-check radio disabled">
    <input type="radio" id="radio04" name="radioGroup" checked disabled>
    <label for="radio04">Radio disabled and checked and damn this label is so long!</label>
  </div>
</form>

<div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
</div>
