<div>
  <ul class="pl-list-stacked-block plain">
    <li>
      <h1>H1. Montréal Heading</h1>
      <span class="d-md-none">32/40</span>
      <span class="d-none d-md-block">Open Sans Bold (600) - 40/56</span>
    </li>
    <li>
      <h2>H2. Montréal Heading</h2>
      <span class="d-md-none">24/32</span>
      <span class="d-none d-md-block">Open Sans Bold (600) - 32/40</span>
    </li>
    <li>
      <h3>H3. Montréal heading</h3>
      <span class="d-md-none">20/28</span>
      <span class="d-none d-md-block">Open Sans Bold (600) - 24/32</span>
    </li>
    <li>
      <h4>H4. Montréal heading</h4>
      <span class="d-md-none">16/24</span>
      <span class="d-none d-md-block">Open Sans Bold (600) - 20/28</span>
    </li>
    <li>
      <h5>H5. Montréal heading</h5>
      <span class="d-md-none">14/20</span>
      <span class="d-none d-md-block">Open Sans Bold (600) - 16/24</span>
    </li>
    <li>
      <h6>H6. Montréal heading</h6>
      <span class="d-md-none"> 12/14</span>
      <span class="d-none d-md-block">Open Sans Bold (600) - 14/20</span>
    </li>
  </ul>
</div>