
<p><small>This line of text is meant to be treated as fine print with the use of the tag small</small></p>
<p class="text-xs">This line of text is meant to be treated as fine print with the use of the class txt-xs</small></p>