<div>
  <ul class="pl-list-stacked-block plain">
    <li>
      {{> atoms-display-heading(text-elements.headings.display.classes : "display-1", text-elements.headings.display.content : "Display 1")   }}
      <div class="d-lg-none">hide on screens wider than lg</div>
      <div class="d-none d-lg-block">hide on screens smaller than lg</div>
      <span>Open sans regular (400) - 64/80</span>
    </li>
    <li>
      {{> atoms-display-heading(text-elements.headings.display.classes : "display-2", text-elements.headings.display.content : "Display 2")  }}
      <span>Open sans regular (400) - 64/80</span>
    </li>
    <li>
      {{> atoms-display-heading(text-elements.headings.display.classes : "display-3", text-elements.headings.display.content : "Display 3")  }}
      <span>Open sans regular (400) - 64/80</span>
    </li>
    <li>
      {{> atoms-display-heading(text-elements.headings.display.classes : "display-4", text-elements.headings.display.content : "Display 4")  }}
      <span>Open sans regular (400) - 64/80</span>
    </li>
  </ul>
</div>
