{{> styles-link-skip-to-main-content }}
{{> patterns-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> patterns-content-header }}

  {{# featuredSection}}
    {{> components-card }}
  {{/ featuredSection}}

  <!-- Teaser -->
  {{# has-lead-text }}
  {{> components-lead }}
  {{/ has-lead-text }}

  <section class="page-section">
    {{# third-level-section }}
    <div class="container">
      <div class="row">
        {{# third-level-section.items }}
        <div class="col-12 col-lg-7">
          <div class="hub-list-container">
            {{# subheading }}
            <h3>{{ subheading }}</h3>
            {{/ subheading }}
            <ul class="hub-list">
              {{# item }}
              <li class="hub-list-item">
                {{# link}}
                <a href="{{ url }}">{{ title }}</a>
                {{/ link}}
                {{# description}}
                  {{{ description}}}
                {{/ description}}
              </li>
              {{/ item}}
            </ul>
          </div>
        </div>
        {{/ third-level-section.items}}
        {{# sidebarRight}}
        <aside class="col-12 {{ sidebarRightClass }} sidebar sidebar-right">
        </aside>
        {{/ sidebarRight}}
      </div>
    </div>
    {{/ third-level-section }}
  </section>

  {{# hasFeedbackForm}}
  {{> components-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> patterns-footer-portal }}
