{{> styles-link-skip-to-main-content }}
{{> patterns-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">

  {{> patterns-content-header }}

  <!-- Teaser -->
  {{# has-lead-text }}
  {{> components-lead }}
  {{/ has-lead-text }}

  {{# featuredSection}}
    {{> components-card }}
  {{/ featuredSection}}

  {{# demandesListes }}
  <section class="page-section">
    <div class="container">
      <div class="hub-section-heading">
        {{# inputGroupSearch }}
        <div class="row">
          <div class="col-12 col-lg-8">
            {{> components-input-icon }}
          </div>
        </div>
        {{/ inputGroupSearch }}
        {{# headings }}
        <div class="row">
          <div class="col-12">
            <h2 class="{{ headings.class }}">{{ headings.text }}</h2>
          </div>
        </div>
        {{/ headings }}
      </div>

      {{# listGroups }}
      <div class="row">
        <div class="col-12">
          {{> components-list-group-hub}}
        </div>
      </div>
      {{/ listGroups }}

      {{# hasPagination }}
      <div class="pagination-wrapper">
        {{> components-pagination("paginationClass": justify-content-center) }}
      </div>
      {{/ hasPagination }}

    </div>
  </section>
  {{/ demandesListes }}

   <!-- Empty results -->
  {{^ demandesListes }}
  <section class="page-section">
    <div class="container">
      <div class="hub-section-heading">
        {{# inputGroupSearch }}
        <div class="row">
          <div class="col-12 col-lg-8">
            {{> components-input-icon }}
          </div>
        </div>
        {{/ inputGroupSearch }}
      </div>
      <div class="row">
        <div class="col-12">
          {{> components-empty-search-results }}
        </div>
      </div>
    </div>
  </section>
  {{/ demandesListes }}

  {{# hasFeedbackForm}}
  {{> components-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> patterns-footer-portal }}
