{{# generalites}}
<div class="content-modules mb-2 pb-0">
  <h2 class="font-size-base-interface mb-1">Titre de niveau 2</h2>
  <div class="content-module-stacked">
    <p>Labore eirmod ea dolor sadipscing ipsum tempor erat, sit lorem tempor duo labore dolores takimata lorem, at amet elitr et est. At ut et eos sadipscing sadipscing. At <a href="/lien-interne">diam clita sit</a> et <a href="https://google.ca">consetetur vero accusam</a> lorem aliquyam. Aliquyam sit ea dolore ipsum ipsum, no lorem et sit diam ipsum. Lorem nonumy clita voluptua voluptua consetetur, voluptua ea est takimata sed.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
  <div class="content-module-stacked">
    <div class="list-group">
      <div class="list-group-item list-group-item-action">
        <a href="#" data-toggle="modal" data-target="#exampleTableData">
          <span class="icon icon-table" aria-hidden="true"></span> Seuil de faible revenue
        </a>
      </div>
    </div>
  </div>
  <div class="content-module-stacked">
    <!-- Media Gallery -->
    {{> components-galerie }}
  </div>
  <div class="content-module-stacked">
  {{> patterns-emphasis(emphasisClasses: emphasis-md)}}
  </div>
  {{# comment}}
  <div class="content-module-stacked">
    <div class="list text-info-reversed">
    {{> components-liste-contenu-element}}
    </div>
  </div>
  {{/ comment}}
</div>
{{/ generalites}}

{{# procedures}}
<div class="content-modules mb-2 pb-0{{#separator}} {{separatorClass}}{{/separator}}">
  {{# modules}}
  {{# moduleText}}
  {{# heading}}<h2 class="font-size-base-interface mb-1">{{heading}}</h2>{{/heading}}
  <div class="content-module-stacked">
    <p>Labore eirmod ea dolor sadipscing ipsum tempor erat, sit lorem tempor duo labore dolores takimata lorem, at amet elitr et est. At ut et eos sadipscing sadipscing. At <a href="/lien-interne">diam clita sit</a> et <a href="https://google.ca">consetetur vero accusam</a> lorem aliquyam. Aliquyam sit ea dolore ipsum ipsum, no lorem et sit diam ipsum. Lorem nonumy clita voluptua voluptua consetetur, voluptua ea est takimata sed.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
  {{/ moduleText}}
  {{# moduleTable}}
  <div class="content-module-stacked">
    <div class="list-group">
      <div class="list-group-item list-group-item-action">
        <a href="#" data-toggle="modal" data-target="#exampleTableData">
          <span class="icon icon-table" aria-hidden="true"></span> Seuil de faible revenue
        </a>
      </div>
    </div>
  </div>
  {{/ moduleTable}}
  {{# moduleImage}}
  <div class="content-module-stacked">
      <!-- Media Gallery -->
    {{> components-galerie }}
  </div>
  {{/ moduleImage}}
  {{# moduleDocuments}}
  <h2 class="font-size-base-interface mb-1">Module titre de section</h2>
  <div class="content-module-stacked">
  {{> components-liste-lien}}
  </div>
  {{/ moduleDocuments}}
  {{# moduleLiens}}
  <h2 class="font-size-base-interface mb-1">Module titre de section</h2>
  <div class="content-module-stacked">
  {{> components-liste-lien}}
  </div>
  {{/ moduleLiens}}
  {{# moduleComment}}
  <div class="content-module-stacked">
    <div class="list text-info-reversed">
    {{> components-liste-contenu-element}}
    </div>
  </div>
  {{/ moduleComment}}
  {{/ modules}}
  {{^modules}}Voir Procédures internes pour les modules possibles.{{/modules}}
</div>
{{/ procedures}}

{{# gdc}}
<div class="mb-1">
  {{# heading}}<h2 class="font-size-base-interface mb-1">{{ heading }}</h2>{{/ heading}}
  <ul class="list{{# listClass }} {{ listClass }}{{/ listClass }}">
    {{# list }}
    <li class="list-item-icon">
      <div class="mr-2">
        <img src="{{ src}}" alt="{{alt}}" width="24" height="24"/>
      </div>
      <div class="list-item-icon-content">
        {{# listItemLabel }}
        <div class="list-item-icon-label">{{listItemLabel}}</div>
        {{/ listItemLabel}}
        {{# listItemContent}}
        {{#listExtraContentClass}}
        <div class="{{listExtraContentClass}}">
        {{/listExtraContentClass}}
          {{# extraContent}}
          <div{{#class}} class="{{class}}"{{/class}}>{{{content}}}</div>
          {{/ extraContent}}
        {{#listExtraContentClass}}
        </div>
        {{/ listExtraContentClass}}
        {{/ listItemContent}}
      </div>
    </li>
    {{/ list }}
  </ul>
</div>
{{/ gdc}}

{{# question-type}}
<div class="questions-container mb-0">
  {{# question-item}}
  <div class="question-item">
    <h2 class="font-size-base-interface mb-1">{{ question }}</h2>
    <div class="pb-2">
      {{{ answer}}}
    </div>
  </div>
  {{/ question-item}}
</div>
{{/ question-type}}

{{# personne-ressource}}
  {{# list-icon}}
  <div class="mb-2">
    {{> components-liste-contenu}}
  </div>
  {{/ list-icon}}
  {{{ extra-content }}}
{{/ personne-ressource}}

{{# agent-liaison}}
  {{# list-icon}}
  <div class="mb-2">
    {{> components-liste-contenu}}
  </div>
  {{/ list-icon}}
  {{{ extra-content }}}
{{/ agent-liaison}}

{{# responsable-maj}}
  {{# list-icon}}
  <div class="mb-2">
    {{> components-liste-contenu}}
  </div>
  {{/ list-icon}}
  {{{ extra-content }}}
{{/ responsable-maj}}
