<div class="drawer">
  {{# drawerInfo}}
  <div class="menu-item-content" id="vdl311-info">
    <div class="menu-item-content-header p-2">
      <div class="mb-2 d-flex justify-content-between">
        <div class="h4 mb-0 mr-2">Rivière-des-Prairies–Pointe-aux-Trembles</div>
        <div class="ml-auto">
          <button type="button" class="btn btn-sm btn-tertiary btn-squared btn-icon-right" data-toggle="modal" data-target="#modalArrondissementVDA">
            <span class="icon icon-location" aria-hidden="true"></span>
            <span class="btn-label">Changer</span>
          </button>
        </div>
      </div>
      <div class="font-size-xs-interface">Mis à jour le 18 mai 2021</div>
    </div>
    <div class="px-2">
      {{# moduleAvis}}
      {{> components-alert}}
      {{/ moduleAvis}}
    </div>
    {{# accordionListed}}
    {{> components-accordeon}}
    {{/ accordionListed}}

    {{# help}}
    <div class="pl-2 pr-7 mb-2">
      {{> components-list-item}}
    </div>
    {{/ help}}
  </div>
  {{/ drawerInfo}}
  {{# drawerLexique}}
  <div class="menu-item-content" id="vdl311-lexicon" data="lexique">
    <div class="menu-item-content-header p-2">
      <h2 class="h4 mb-2">Lexique XYZ</h2>
      <div class="font-size-xs-interface">Mis à jour le 19 mai 2021</div>
    </div>
    {{> patterns-lexique-element}}
  </div>
  {{/ drawerLexique}}
  {{# drawerSignaler}}
  <div class="menu-item-content" id="vdl311-signaler">
    <div class="menu-item-content-header">
      <div class="h4 mb-0">Signaler...</div>
    </div>
    <div class="p-2">
      {{# hasMessage}}
      {{> components-alert}}
      {{/ hasMessage}}
      <form id="form-vdl311-signaler">
      {{# formGroupSelectProblem}}
      {{> components-select-item}}
      {{/ formGroupSelectProblem}}
      {{> components-textarea("formGroupInputID": "form-group-signaler-description","formGroupInputLabel": "Description", "formGroupInputPlaceholder": true, "formGroupInputPlaceholder.text": "Placeholder", "formGroupInputRequired": true)}}
      {{> components-textarea("formGroupInputID": "form-group-signaler-recommendation","formGroupInputLabel": "Recommandation", "formGroupInputPlaceholder": true, "formGroupInputPlaceholder.text": "Placeholder", "formGroupInputRequired": false)}}
      {{> components-button(buttonType: "submit", buttonClass: "btn-primary btn-squared", buttonText: "Soumettre")}}
      </form>
    </div>
  </div>
  {{/ drawerSignaler}}
  {{# drawerPartager}}
  <div class="menu-item-content" id="vdl-311-partager">
    <div class="menu-item-content-header">
      <div class="h4 mb-0">Partager...</div>
    </div>
    <div class="p-2">
      {{# hasMessage}}
      {{> components-alert}}
      {{/ hasMessage}}
      <form id="form-vdl311-partager">
        <div class="mb-2">http://montreal.ca/collectes/collecte-des-dechets-domestiques</div>
        {{> components-input-text("formGroupInputID": "form-group-partager-email","formGroupInputLabel": "Adresse courriel du destinataire", "formGroupInputRequired": true)}}
        {{> components-textarea("formGroupInputID": "form-group-partager-comment","formGroupInputLabel": "Commentaires", "formGroupInputRequired": false)}}
        {{> components-button(buttonType: "submit", buttonClass: "btn-primary btn-squared", buttonText: "Envoyer")}}
      </form>
    </div>
  </div>
  {{/ drawerPartager}}
</div>
