
<form>
  <div class="form-step">
    <fieldset>
      <legend>Responsable de l'entreprise</legend>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">Prénom</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="Gilles">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Nom</label>
          <input type="texgt" class="form-control" id="inputLastName" placeholder="Bergeron">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Nom</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="email@domain.com">
        </div>
      </div>

      <div class="row form-repeatable-group">
        <div class="form-group col-md-2">
          <label for="inputPhoneType">Téléphone</label>
          <select id="inputPhoneType" class="form-control">
            <option selected>Type</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-5">
          <label for="inputPhoneNumber">Numéro</label>
          <input type="text" class="form-control" id="inputPhoneNumber">
        </div>
        <div class="form-group col-md-5">
          <label for="inputPhoneExtra">Poste</label>
          <input type="text" class="form-control" id="inputPhoneExtra">
        </div>
        <div class="form-group">
          <button class="btn btn-link">Ajouter un numéro de téléphone</button>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-step">
    <fieldset>
      <legend>Identification de l'entreprise</legend>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputCieName">Nom de l'entreprise</label>
          <input type="text" class="form-control" id="inputCieName" placeholder="Holding Petoleum Canada Inc.">
        </div>
      </div>
      <fieldset>
        <legend>Est-ce que l’entreprise possède un numéro d’identification NEQ, TPS et TVQ?</legend>
        <div class="form-group">
          <div class="custom-control custom-radio">
            <input type="radio" id="numeroRadio1" name="numeroRadio" class="custom-control-input" value="1" checked>
            <label class="custom-control-label" for="numeroRadio1">Oui</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="numeroRadio2" name="numeroRadio" class="custom-control-input" value="0">
            <label class="custom-control-label" for="numeroRadio2">Non</label>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputNEQ">NEQ</label>
          <input type="text" class="form-control" id="inputNEQ" placeholder="02-89483-084-93884">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputTPS">Numéro TPS</label>
          <input type="text" class="form-control" id="inputTPS" placeholder="83758393">
        </div>
        <div class="form-group col-md-6">
          <label for="inputTVQ">Numéro TVQ</label>
          <input type="text" class="form-control" id="inputTVQ" placeholder="3663663">
        </div>
      </div>
    </fieldset>
  </div>
  <div class="form-group form-action-group">
    <ul>
      <li>
        {{> atoms-button("btnClasses": "vdm-btn-secondary prev-step", "buttonText": "Précédent" ) }}
      </li>
      <li>
        {{> atoms-button("buttonText": "Soumettre") }}
      </li>
    </ul>
  </div>
  
</form>
