<form class="form-wizard">
  {{# hasStepIdentificationIndividual}}
  <div class="form-step">
    <fieldset>
      <legend>Responsable de l'entreprise</legend>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">Prénom</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="Gilles">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Nom</label>
          <input type="texgt" class="form-control" id="inputLastName" placeholder="Bergeron">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Courriel</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="email@domain.com">
        </div>
      </div>

      <div class="row form-repeatable-group">
        <div class="form-group col-md-2">
          <label for="inputPhoneType">Téléphone</label>
          <select id="inputPhoneType" class="form-control">
            <option selected>Type</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-5">
          <label for="inputPhoneNumber">Numéro</label>
          <input type="text" class="form-control" id="inputPhoneNumber">
        </div>
        <div class="form-group col-md-5">
          <label for="inputPhoneExtra">Poste</label>
          <input type="text" class="form-control" id="inputPhoneExtra">
        </div>
        <div class="form-group">
          <button class="btn btn-link">Ajouter un numéro de téléphone</button>
        </div>
      </div>
    </fieldset>
  </div>
  {{/ hasStepIdentificationIndividual}}
  {{# hasStepIdentificationEnterprise}}
  <div class="form-step">
    <fieldset>
      <legend>Identification de l'entreprise</legend>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputCieName">Nom de l'entreprise</label>
          <input type="text" class="form-control" id="inputCieName" placeholder="Holding Petoleum Canada Inc.">
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Est-ce que l’entreprise possède un numéro d’identification NEQ, TPS et TVQ?</legend>
      <div class="form-group">
        <div class="custom-control custom-radio">
          <input type="radio" id="numeroRadio1" name="numeroRadio" class="custom-control-input" value="1" checked>
          <label class="custom-control-label" for="numeroRadio1">Oui</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="numeroRadio2" name="numeroRadio" class="custom-control-input" value="0">
          <label class="custom-control-label" for="numeroRadio2">Non</label>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputNEQ">NEQ</label>
        <input type="text" class="form-control" id="inputNEQ" placeholder="02-89483-084-93884">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputTPS">Numéro TPS</label>
        <input type="text" class="form-control" id="inputTPS">
      </div>
      <div class="form-group col-md-6">
        <label for="inputTVQ">Numéro TVQ</label>
        <input type="text" class="form-control" id="inputTVQ">
      </div>
    </div>
  </div>
  {{/ hasStepIdentificationEnterprise}}
  {{# hasStepDescription}}
  <div class="form-step">
    <fieldset>
      <legend>Description</legend>
      <div class="form-group">
        <label>Photo (facultatif)</label>
        {{> atoms-file-upload }}
      </div>
      <div class="form-group">
        <label for="autres-details">Autres détails (facultatif)</label>
        <textarea class="form-control" rows="3" id="autres-details"></textarea>
      </div>
    </fieldset>
  </div>
  {{/ hasStepDescription}}
  {{# hasStepDeclaration}}
  <div class="form-step">
    <fieldset>
      <legend>Est-ce qu’une matière dangereuse visée en vertu du règlement est produite, entreposée ou détenue à cet établissement?</legend>
      <div class="form-group">
      {{# radiosDeclaration }}
        {{> atoms-radio-custom-form-item }}
      {{/ radiosDeclaration}}
      </div>
    </fieldset>
    <div class="form-group">
      {{# checkboxDeclaration}}
        {{> atoms-checkbox-custom-form-item }}
      {{/ checkboxDeclaration}}
    </div>
  </div>
  {{/ hasStepDeclaration }}
  {{# hasStepSelectYear }}
  <div class="form-step">
    <label class="group-label">Pour quelle année désirez-vous faire une déclaration?</label>
    {{> atoms-select }}

    {{# hasSummaryAfterForm }}
      {{> organisms-service-summary }}
    {{/ hasSummaryAfterForm }}
    <div class="alert-container mb-5">
      <div class="alert alert-warning alert-icon" role="alert">
        <span class="vfi vfi-attention-circulaire" aria-hidden="true"></span>
        <div>Si l’année que vous cherchez ne se trouve pas dans cette liste, cela signifie que vous avez déjà fais cette déclaration. Vous pouvez la modifier directement via le tableau de bord.</div>
      </div>
    </div>
  </div>
  {{/ hasStepSelectYear }}
  {{# hasStepRadios }}
  <div class="form-step">
    <div class="form-group"> 
      <label class="group-label">Préciser qui est le reponsable de l'entreprise</label>
      <div class="alert alert-warning alert-icon" role="alert">
        <span class="vfi vfi-attention-circulaire" aria-hidden="true"></span>
        <div>Responsable de la déclaration: Personne responsable des renseignements techniques, chargée de préparer la déclaration et de répondre à toute question relative à son contenu</div>
      </div>
      {{> atoms-radio-custom-form }}
    </div>
  </div>
  {{/ hasStepRadios }}
  {{# hasStepAddCardsModal }}
  <div class="form-step">
    <fieldset>
      <legend>Est-ce qu’une matière dangereuse visée en vertu du règlement est produite, entreposée ou détenue à cet établissement?</legend>
      <div class="form-group"> 
      {{# radiosAddReservoir }}
        {{> atoms-radio-custom-form-item }}
      {{/ radiosAddReservoir }}
      </div>
    </fieldset>
    <div class="form-group">
      <label class="group-label">Spécifiez pour chaque système de réservoir les informations demandées ci-dessous:</label>
      <div class="row cards">
        {{# cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          <div class="card {{ classes }}">
            <div class="card-body">
              <span class="card-label">Système de réservoir</span>
              <p class="card-text">34-589-BRF-11</p>
              <span class="card-title">7664-41-7 Ammoniac</span>
              <span class="card-label">Concentration de la matière</span>
              <p class="card-text">20%</p>
              <div class="row mb-4">
                <div class="col-12 col-md-6">
                  <span class="card-label">Capacité</span>
                  <p class="card-text">0,907  tonnes</p>
                </div>
                <div class="col-12 col-md-6">
                  <span class="card-label">Quantité maximale</span>
                  <p class="card-text">2 tonnes</p>
                </div>
              </div>
              <span class="card-label">Geolocalisation</span>
              <div class="row">
                <div class="col-12 col-md-6">
                  <p class="card-text">45.890990</p>
                </div>
                <div class="col-12 col-md-6">
                  <p class="card-text">-73.656565</p>  
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/ cards.card-item }}
        <div class="{{ cards.bsgrid-classes }}">
          <div class="card card-row-layout bg-gray-sky text-center" tabindex="0" data-toggle="modal" data-target="#addReservoireModal">
            <div class="card-body">
              <span class="card-title">Ajouter un système de réservoir</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addReservoireModal" tabindex="-1" role="dialog" aria-labelledby="addReservoireModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addReservoireModalLabel">Ajouter un système de réservoirs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            {{> atoms-input(formAttributes.input.type-text.label: "Identification du sytème de réservoir:", formAttributes.input.type-text.id: "inputID") }}
            {{> atoms-input(formAttributes.input.type-text.label: "Choisissez la matière contenue dans le système de réservoir (nom de la matière ou #CAS)", formAttributes.input.type-text.id: "inputMatiere")}}
            <div class="form-group">
              <label for="inputConcentration">Concentration de la matière</label>
              <div class="input-inline-addon">
                <input type="text" class="form-control" id="inputConcentration"><span class="input-inline-text">% massique</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputCapacite">Capacité nominale du système de réservoir</label>
              <div class="input-inline-addon">
                <input type="text" class="form-control" id="inputCapacite"><span class="input-inline-text">tonne(s)</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputQteMax">Quantité maximale de matière dans le système de réservoir</label>
              <div class="input-inline-addon">
                <input type="text" class="form-control" id="inputQteMax"><span class="input-inline-text">tonne(s)</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputGeolong">Géolocalisation du système de réservoir</label>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="input-inline-addon">
                    <input type="text" class="form-control" id="inputGeolong"><span class="input-inline-text">long.</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="input-inline-addon">
                    <input type="text" class="form-control" id="inputGeolat"><span class="input-inline-text">lat.</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-start">
          <button type="button" class="vdm-btn vdm-btn-sm">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal END -->
  {{/ hasStepAddCardsModal }}

  {{# hasStepDeclarationOwner }}
    {{# checkboxDeclarationMatiere }}
      <label class="group-label">Veuillez cocher les cases pour attester l'exactitude des informations avant de soumettre votre déclaration.</label>
      <div class="form-group">
        <label>Substances présentes à l’établissement</label>
        {{> atoms-checkbox-custom-form-item }}
      </div>
    {{/ checkboxDeclarationMatiere }}

    {{> organisms-block-coordinates }}

    {{# checkboxDeclaration }}
      <div class="form-group">
        <label>Déclaration</label>
        {{> atoms-checkbox-custom-form-item }}
      </div>
    {{/ checkboxDeclaration }}
  {{/ hasStepDeclarationOwner }}

  {{# hasStepDeclarationCards }}
    <div class="form-step">
      <label class="group-label">Veuillez cocher les cases pour attester l'exactitude des informations avant de soumettre votre déclaration.</label>
      <div class="form-group">
        <label>Substances présentes à l’établissement</label>
        {{# checkboxDeclarationMatiere }}
          {{> atoms-checkbox-custom-form-item }}
        {{/ checkboxDeclarationMatiere }}
      </div>
      {{# checkboxDeclaration }}
      <div class="form-group">
        <label>Déclaration</label>
        {{> atoms-checkbox-custom-form-item }}
      </div>
      {{/ checkboxDeclaration }}
    </div>
  {{/ hasStepDeclarationCards }}
  <div class="form-group form-action-group">
    <ul>
      <li class="first">
        {{> atoms-button("buttonClass": "vdm-btn vdm-btn-secondary btn-prev", "buttonText": "Précédent" ) }}
      </li>
      <li class="last">
        {{> atoms-button("buttonClass": "vdm-btn btn-next", "buttonText": "Soumettre") }}
      </li>
    </ul>
  </div>
  
</form>
