<div class="sidebar pt-8">
  {{# sb-logo}}
  <div class="mb-8">
    <img src="{{ src }}" alt="{{ alt }}" />
  </div>
  {{/ sb-logo}}
  {{# sb-block-renseignements}}
  <section class="sb-block mb-8">
    {{> styles-heading-sidebar(sidebarTitle: "Nous joindre")}}

    {{# informations}}
      {{> components-list-item-icon}}
    {{/ informations}}
  </section>
  {{/ sb-block-renseignements}}
  {{# sb-block-liens-utiles}}
  <section class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Liens utiles") }}
    {{> components-list-item-link}}
  </section>
  {{/ sb-block-liens-utiles}}
  {{# sb-block-profile}}
  {{> components-card-item}}
  {{/ sb-block-profile}}
</div>