
// Utilities of bootstrap modified

//Text
.text-secondary,
.text-primary,
.text-black-50,
.text-white-50 {
	color: $body-color !important;
}

.text-light {
	color: $white !important;
}

@each $color, $value in $dialog-colors-dark {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

//Link


// Background
.bg-primary,
.bg-secondary {
  background-color: transparent !important;
}

@each $color, $value in $dialog-colors-light {
  @include bg-variant(".bg-#{$color}", $value);
}
