<div class="sidebar pt-8{{^ documentHeading}} pt-lg-0{{/documentHeading}}">
  {{# sb-block-tc-lies}}
  <section class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Liste documents enfants") }}
    {{> components-list-item-links-icons-categories}}
  </section>
  {{/ sb-block-tc-lies}}
</div>