<!-- Flyouts -->
<!-- pl-example-flyout is used to show flyout, used only for examples -->

<h4 class="pl-pattern-subtitle">Position</h4>
<div class="row pl-flyout-example">
  <div class="col-auto mb-2">
    {{> components-flyout-item('flyoutSizeClass': "flyout-sm", "flyoutDefaultBody": true)}}
  </div>
</div>