<div class="alert" role="alert">
  <div class="alert-heading bold">Message de l'alerte</div>
    This the alert by default with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<div class="alert alert-success" role="alert">
  <div class="alert-heading bold">Titre du message</div>
 Success! This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<div class="alert alert-danger" role="alert">
  <div class="alert-heading bold">Titre du message</div>
  <strong>Lookout!</strong> This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<div class="alert alert-warning" role="alert">
  <div class="alert-heading bold">Titre du message</div>
  <strong>Warning.</strong> This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like <a href="#">an example link</a>.
</div>

<div class="alert alert-info" role="alert">
  <div class="alert-heading bold">Titre du message</div>
  This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>