{{> components-alert }}

{{> components-alert(
  alertClass: "alert-success",
  alertText: "Success! This is a success alert with <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like."
)}}

{{> components-alert(
  alertClass: "alert-danger",
  alertText: "<strong>Lookout!</strong> This is a danger alert with <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like."
)}}

{{> components-alert(
  alertClass: "alert-warning",
  alertText: "<strong>Warning.</strong> This is a warning alert with <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like."
)}}

{{> components-alert(
  alertClass: "alert-info",
  alertText: "This is a info alert with <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like."
)}}
