<div class="alert alert-with-icon" role="alert">

  <div class="alert-icon-container">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Icons/24px/Check-Circle</title>
      <path d="M21.542 17.477a1 1 0 0 1-1.734-.997A8.953 8.953 0 0 0 21 12a9 9 0 1 0-9 9 8.953 8.953 0 0 0 4.484-1.195 1 1 0 0 1 .998 1.733A10.953 10.953 0 0 1 12 23C5.925 23 1 18.075 1 12S5.925 1 12 1s11 4.925 11 11a10.96 10.96 0 0 1-1.458 5.477zm-6.25-8.184a1 1 0 0 1 1.415 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L11 13.586l4.293-4.293z" />
    </svg>
  </div>

  <div class="alert-content">
    <div class="alert-heading bold">Alert with icon</div>
    This is an alert with an icon and  <a href="#" class="alert-link">an example link</a>. Give it a click if you like. Etiam non lacus nisi. Aliquam dignissim arcu at metus blandit pulvinar. Aenean ultrices finibus elit, non suscipit eros vestibulum at. Aliquam porta dui sem, semper tempus velit iaculis sit amet. Mauris convallis justo non semper sollicitudin. Etiam quis vehicula ante. 
  </div>

</div>

<div class="alert alert-with-icon alert-success" role="alert">

  <div class="alert-icon-container">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Icons/24px/Check-Circle</title>
      <path d="M21.542 17.477a1 1 0 0 1-1.734-.997A8.953 8.953 0 0 0 21 12a9 9 0 1 0-9 9 8.953 8.953 0 0 0 4.484-1.195 1 1 0 0 1 .998 1.733A10.953 10.953 0 0 1 12 23C5.925 23 1 18.075 1 12S5.925 1 12 1s11 4.925 11 11a10.96 10.96 0 0 1-1.458 5.477zm-6.25-8.184a1 1 0 0 1 1.415 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L11 13.586l4.293-4.293z" />
    </svg>
  </div>

  <div class="alert-content">
    <div class="alert-heading bold">Alert with icon</div>
    This is an alert with an icon and  <a href="#" class="alert-link">an example link</a>. Aliquam dignissim arcu at metus blandit pulvinar. Maecenas non ante ut quam malesuada posuere in congue nisi. Donec id lectus fringilla, pharetra elit sed, efficitur erat. Mauris eu varius ante.
  </div>

</div>

<div class="alert alert-with-icon alert-danger" role="alert">

  <div class="alert-icon-container">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Icons/24px/Check-Circle</title>
      <path d="M21.542 17.477a1 1 0 0 1-1.734-.997A8.953 8.953 0 0 0 21 12a9 9 0 1 0-9 9 8.953 8.953 0 0 0 4.484-1.195 1 1 0 0 1 .998 1.733A10.953 10.953 0 0 1 12 23C5.925 23 1 18.075 1 12S5.925 1 12 1s11 4.925 11 11a10.96 10.96 0 0 1-1.458 5.477zm-6.25-8.184a1 1 0 0 1 1.415 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L11 13.586l4.293-4.293z" />
    </svg>
  </div>

  <div class="alert-content">
    <div class="alert-heading bold">Alert with icon</div>
    This is an alert with an icon and  <a href="#" class="alert-link">an example link</a>. Give it a click if you like. Etiam non lacus nisi. Aliquam dignissim arcu at metus blandit pulvinar. Aenean ultrices finibus elit, non suscipit eros vestibulum at. Aliquam porta dui sem, semper tempus velit iaculis sit amet. Mauris convallis justo non semper sollicitudin. Etiam quis vehicula ante. 
  </div>

</div>

<div class="alert alert-with-icon alert-warning" role="alert">

  <div class="alert-icon-container">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Icons/24px/Check-Circle</title>
      <path d="M21.542 17.477a1 1 0 0 1-1.734-.997A8.953 8.953 0 0 0 21 12a9 9 0 1 0-9 9 8.953 8.953 0 0 0 4.484-1.195 1 1 0 0 1 .998 1.733A10.953 10.953 0 0 1 12 23C5.925 23 1 18.075 1 12S5.925 1 12 1s11 4.925 11 11a10.96 10.96 0 0 1-1.458 5.477zm-6.25-8.184a1 1 0 0 1 1.415 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L11 13.586l4.293-4.293z" />
    </svg>
  </div>

  <div class="alert-content">
    <div class="alert-heading bold">Alert with icon</div>
    This is an alert with an icon and  <a href="#" class="alert-link">an example link</a>. Aliquam dignissim arcu at metus blandit pulvinar. Maecenas non ante ut quam malesuada posuere in congue nisi. Donec id lectus fringilla, pharetra elit sed, efficitur erat. Mauris eu varius ante.
  </div>

</div>

<div class="alert alert-with-icon alert-info" role="alert">

  <div class="alert-icon-container">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Icons/24px/Check-Circle</title>
      <path d="M21.542 17.477a1 1 0 0 1-1.734-.997A8.953 8.953 0 0 0 21 12a9 9 0 1 0-9 9 8.953 8.953 0 0 0 4.484-1.195 1 1 0 0 1 .998 1.733A10.953 10.953 0 0 1 12 23C5.925 23 1 18.075 1 12S5.925 1 12 1s11 4.925 11 11a10.96 10.96 0 0 1-1.458 5.477zm-6.25-8.184a1 1 0 0 1 1.415 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L11 13.586l4.293-4.293z" />
    </svg>
  </div>

  <div class="alert-content">
    <div class="alert-heading bold">Alert with icon</div>
    This is an alert with an icon and  <a href="#" class="alert-link">an example link</a>. Give it a click if you like. Etiam non lacus nisi. Aliquam dignissim arcu at metus blandit pulvinar. Aenean ultrices finibus elit, non suscipit eros vestibulum at. Aliquam porta dui sem, semper tempus velit iaculis sit amet. Mauris convallis justo non semper sollicitudin. Etiam quis vehicula ante. 
  </div>
  
</div>
