{{> components-alert(
    alertClass: "alert-with-icon",
    alertTitle: "Alert with icon",
    alertText: "This is an alert with an icon and  <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like.",
    alertIcon: true,
    icon-name: "icon-info"
  )
}}

{{> components-alert(
    alertClass: "alert-success alert-with-icon",
    alertTitle: "Alert with icon",
    alertText: "This is an alert with an icon and  <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like.",
    alertIcon: true,
    icon-name: "icon-check-circle"
  )
}}

{{> components-alert(
    alertClass: "alert-danger alert-with-icon",
    alertTitle: "Alert with icon",
    alertText: "This is an alert with an icon and  <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like.",
    alertIcon: true,
    icon-name: "icon-warning"
  )
}}

{{> components-alert(
    alertClass: "alert-warning alert-with-icon",
    alertTitle: "Alert with icon",
    alertText: "This is an alert with an icon and  <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like.",
    alertIcon: true,
    icon-name: "icon-warning"
  )
}}

{{> components-alert(
    alertClass: "alert-info alert-with-icon",
    alertTitle: "Alert with icon",
    alertText: "This is an alert with an icon and  <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like.",
    alertIcon: true,
    icon-name: "icon-info"
  )
}}
