<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalIconLive">
  Launch demo modal icon
</button>

<!-- Modal Icon variant -->
<div class="modal modal-icon fade" id="exampleModalIconLive" tabindex="-1" role="dialog" aria-labelledby="modalIconLiveExampleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="m-auto">
          {{> styles-fonticon-item(icon-label: 030-attention, icon-class: "text-danger")}}
          <h5 class="modal-title" id="modalIconLiveExampleLabel">Modal title</h5>
        </div>
        <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
          <span class="vdm vdm-046-grand-x"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas enim nec erat vulputate, at luctus neque lacinia. Phasellus sed ex ultrices, faucibus nisl sit amet, tincidunt magna.</p>
      </div>
      <div class="modal-footer">
        <div class="modal-footer-content mx-auto">
          <a href="#">Consulter le communiquer pour plus de détails</a>
        </div>
      </div>
    </div>
  </div>
</div>