<!-- Button trigger modal -->
{{> styles-button-icon(buttonClass: "btn-notification", buttonIconSr: true, buttonIconSrText: "Toggle notification view", buttonText: false, icon-label: "093-porte-voix", buttonIcon: true, dataToggle: modal, dataTarget: "#alertModalLive")}}

<!-- Modal -->
<!-- pl-example-modal is used to show modal, used only for examples -->
<div class="modal modal-alert fade" id="alertModalLive" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="m-auto">
          {{> styles-fonticon-item(icon-label: 093-porte-voix)}}
        </div>
        <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
          <span class="vdm vdm-046-grand-x"></span>
        </button>
      </div>
      <div class="">
        <div class="modal-body">
          <div class="date-time">Mise à jour le 23 juillet 2018 à 12:34</div>
          <h5 class="modal-title" id="alertModalLabel">Modal title</h5>
          <p>Prolongation des heures d'ouverture des plages, piscines extérieures, pataugeoires et jeux et des lieux publics climatisés (bibliothèques, centres communautaires, etc.).</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm">M'abonner aux alertes</button>
          <button type="button" class="btn btn-primary btn-sm">En savoir plus</button>
        </div>
      </div>
      <div class="modal-footer-logo d-md-none ">
        {{> styles-logo-svg }}
      </div>
    </div>
  </div>
</div>