<div class="popover-wrapper">
  <span class="d-inline-block" aria-hidden="true" data-toggle="popover" data-placement="bottom" title="Lorem ipsum" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur.">
  	<span class="icon icon-help" aria-hidden="true"></span>
  </span>
  <span class="sr-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec quam ut erat scelerisque efficitur.</span>
</div>
