<section class="bg-gray-sky" id="feedback-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="feedback-form-container alert">

          {{# has-success-message }}
          <div class="feedback-form-header mb-0">
            <h4>Votre réponse à été soumise.</h4>
            <p class="mb-0">Merci d’avoir répondu à ces questions&nbsp;!</p>
          </div>
          {{/ has-success-message }}
          {{^ has-success-message }}
          <form id="form20" name="form20" class="wufoo feedback-form" accept-charset="UTF-8"
            autocomplete="off" enctype="multipart/form-data" method="post" novalidate="novalidate" action="#">
            <div class="feedback-question">
              <h4>Cette page répond-elle à vos besoins?</h4>
              <div class="feedback-answers form-group">
                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback01-1" name="Field10" class="custom-control-input" value="oui" >
                  <label class="custom-control-label" for="rdioFeedback01-1">Oui</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback01-2" name="Field10" class="custom-control-input" value="oui_en_partie" >
                  <label class="custom-control-label" for="rdioFeedback01-2">Oui en partie</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback01-3" name="Field10" class="custom-control-input" value="non" >
                  <label class="custom-control-label" for="rdioFeedback01-3">Non</label>
                </div>
              </div>
            </div>
            <div class="feedback-question feedback-details-content" style="display: none;">
              <span class="feedback-question-label">Est-ce le contenu qu'il faut améliorer?</span>
              <div class="feedback-answers form-group">
                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback02-1" name="radiosGroupContenu" class="custom-control-input" value="contenu_adequat" >
                  <label class="custom-control-label" for="rdioFeedback02-1">Le contenu me semble adéquat.</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback02-2" name="radiosGroupContenu" class="custom-control-input" value="contenu_pas_assez_precis" >
                  <label class="custom-control-label" for="rdioFeedback02-2">Le contenu n'est pas assez précis.</label>
                </div>
                <div class="form-group" style="display:none;">
                  <textarea class="form-control" placeholder="Expliquez" name="Field14"></textarea>
                  <div class="invalid-feedback" style="display: none;">Merci de nous expliquer ce qui pourrait être amélioré.</div>
                </div>

                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback02-3" name="radiosGroupContenu" class="custom-control-input" value="contenu_trop_complexe" >
                  <label class="custom-control-label" for="rdioFeedback02-3">Le contenu est trop complexe.</label>
                </div>

                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback02-4" name="radiosGroupContenu" class="custom-control-input" value="contenu_errone" >
                  <label class="custom-control-label" for="rdioFeedback02-4">Le contenu est erroné.</label>
                </div>

                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback02-5" name="radiosGroupContenu" class="custom-control-input" value="contenu_non_attendu" >
                  <label class="custom-control-label" for="rdioFeedback02-5">Ce n’est pas le contenu auquel je m’attendais.</label>
                </div>

                <div class="custom-control custom-radio">
                  <input type="radio" id="rdioFeedback02-6" name="radiosGroupContenu" class="custom-control-input" value="pas_de_reponse" >
                  <label class="custom-control-label" for="rdioFeedback02-6">Je n'ai pas trouvé la réponse à ma question.</label>
                </div>
              </div>
            </div>
            <input type="hidden" name="Field4" value="BAO-test">
            <input type="hidden" name="Field5" value="BAO-test">
            <input type="hidden" name="Field6" value="BAO-test">
            <input type="hidden" name="Field7" value="BAO-test">
            <input type="hidden" name="Field8" value="fr">
            <input type="hidden" name="Field16" value="BAO-test">
            <p class="notice">En soumettant le formulaire, vous acceptez que les informations techniques relatives à votre équipement
              soient collectées pour nous permettre d’améliorer le site.</p>
            <div class="actions-buttons">
              <button type="submit" name="saveForm" class="btn btn-primary" {{ is-disabled }}>Soumettre</button>
              <button type="button" id="cancel" class="btn btn-link" hidden>Annuler</button>
            </div>
            <input type="hidden" name="comment">
            <input type="hidden" name="idstamp" value="s6ca0fAPki7zk4nFCtzEiJYsfTA8bSL6BKoW46uSjgY=">
          </form>
          {{/ has-success-message}}
        </div>
      </div>
    </div>
  </div>
</section>
