<blockquote class="blockquote {{ blockquote-classes}}">
  {{{blockquote-html-text}}}
  {{# blockquote-footer}}
  <footer class="blockquote-footer">
    <div class="blockquote-footer-author">{{blockquote-footer-author}}</div>
    {{# blockquote-footer-text }}
    <div class="blockquote-footer-text">{{blockquote-footer-text}}</div>
    {{/ blockquote-footer-text }}
  </footer>
  {{/ blockquote-footer}}
</blockquote>
