<h4 class="pl-pattern-subtitle">Large</h4>
<div class="pl-button">
  {{> patterns-emphasis("emphasisClasses": "emphasis-lg")}}
</div>

<h4 class="pl-pattern-subtitle">Medium</h4>
<div class="pl-button">
  {{> patterns-emphasis("emphasisClasses": "emphasis-md")}}
</div>

<h4 class="pl-pattern-subtitle">Small</h4>
<div class="pl-button">
  {{> patterns-emphasis("emphasisClasses": "emphasis-sm")}}
</div>