<div class="row no-gutters content-comparatif{{# colonnes}} comparatif-columns{{/ colonnes}}">
  {{# content }}
  <div class="col-12{{# colonnes }} col-md-6{{/ colonnes}}">
    <div class="content-wrapper">
      <div class="h4">{{ title }}</div>
      {{{ text }}}
    </div>
  </div>
  {{/ content}}
</div>
