<div class="wrapper wrapper-explainer">
  <h3 class="h3">{{ wrapperTitle }}</h3>
  <div class="row">
    {{# wrapperExplainer.imgLeft}}
    <div class="col-12 col-md-5 mb-4 mb-md-0">
      <img src="{{ img.src}}" alt="{{ img.alt }}" class="img-fluid">
    </div>
    <div class="col-12 col-md-7 mb-n4 mb-md-0">
      <p>Corps de texte - exemples de contenu : reconnaître un frêne, reconnaître un coyote, un panneau de stationnement, etc.</p>
      <ul>
        <li>Liste à puce</li>
        <li>Liste à puce</li>
        <li>Liste à puce</li>
      </ul>
    </div>
    {{/ wrapperExplainer.imgLeft}}
    {{# wrapperExplainer.imgRight}}
    <div class="col-12 col-md-7">
      <p>Corps de texte - exemples de contenu : reconnaître un frêne, reconnaître un coyote, un panneau de stationnement, etc.</p>
      <ul>
        <li>Liste à puce</li>
        <li>Liste à puce</li>
        <li>Liste à puce</li>
      </ul>
    </div>
    <div class="col-12 col-md-5">
      <img src="{{ img.src}}" alt="{{ img.alt }}" class="img-fluid">
    </div>
    {{/ wrapperExplainer.imgRight}}
    {{# wrapperExplainer.imgTop}}
    <div class="col-12 mb-4">
      <img src="{{ img.src}}" alt="{{ img.alt }}" class="img-fluid">
    </div>
    <div class="col-12 mb-n4 mb-md-0">
      <p>Corps de texte - exemples de contenu : reconnaître un frêne, reconnaître un coyote, un panneau de stationnement, etc.</p>
      <ul>
        <li>Liste à puce</li>
        <li>Liste à puce</li>
        <li>Liste à puce</li>
      </ul>
    </div>
    {{/ wrapperExplainer.imgTop}}
    {{# wrapperExplainer.imgBottom}}
    <div class="col-12 mb-md-4">
      <p>Corps de texte - exemples de contenu : reconnaître un frêne, reconnaître un coyote, un panneau de stationnement, etc.</p>
      <ul>
        <li>Liste à puce</li>
        <li>Liste à puce</li>
        <li>Liste à puce</li>
      </ul>
    </div>
    <div class="col-12">
      <img src="{{ img.src}}" alt="{{ img.alt }}" class="img-fluid">
    </div>
    {{/ wrapperExplainer.imgBottom}}
  </div>
</div>