<div class="row no-gutters wrapper-comparatif{{# colonnes}} wrapper-comparatif-columns{{/ colonnes}}">
  {{# comparatif }}
  <div class="col-12{{# colonnes }} col-md-6{{/ colonnes}}">
    <div class="wrapper-comparatif-content">
      <div class="h4">{{ title }}</div>
      {{{ text }}}
    </div>
  </div>
  {{/ comparatif}}
</div>
