<div id="{{ carousel.carouselID }}" class="carousel slide" data-ride="carousel">
    {{# carousel.hasIndicators }}
    <ol class="carousel-indicators">
    {{# carousel.carouselItem }}
        <li data-target="#{{ carousel.carouselID }}" data-slide-to="{{ slide-number }}" class="{{ item-is-active }}"></li>
    {{/ carousel.carouselItem }}
    </ol>
    {{/ carousel.hasIndicators }}
    <div class="carousel-inner">
        {{# carousel.carouselItem }}
        <div class="carousel-item {{ item-is-active }}">
            <img class="d-block w-100" src="{{ url }}" alt="{{ alt }}">
            {{# caption }}
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ caption.label }}</h5>
                <p>{{ caption.content }}</p>
            </div>
            {{/ caption }}
        </div>
        {{/ carousel.carouselItem }}
    </div>
    {{# carousel.hasControls }}
    <a class="carousel-control-prev" href="#{{ carousel.carouselID }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ carousel.carouselID }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    {{/ carousel.hasControls }}
</div>