<div class="pl-gray-sky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="accordion" class="collapsible-variant" role="tablist" aria-multiselectable="true">
          {{> molecules-collapsible-item }}
        </div>
      </div>
    </div>
  </div>
</div>