{{# collapsibleItem }}
<div class="collapsible-item">
  <div class="collapsible-header" role="tab" id="{{ heading-id }}">
    <div class="collapsible-title">
      <a data-toggle="collapse" href="#" data-target="#{{ block-id }}" aria-expanded="false" aria-controls="{{ block-id }}">
        {{# icon }}
        <span class="collapsible-icon vfi {{ icon }}" aria-hidden="true"></span>
        {{/ icon }}
        {{^ icon }}
        {{# has-default-icon }}
        <span class="collapsible-icon circle" aria-hidden="true"></span>
        {{/ has-default-icon }}
        {{/ icon }}
        <span>{{ title }}</span>
        {{# badge }}
          {{> molecules-badge }}
        {{/ badge}}
      </a>
    </div>
  </div>
  <div id="{{ block-id }}" class="collapse" role="tabpanel" aria-labelledby="{{ heading-id }}">
    <div class="collapsible-block">
      {{{ content }}}
    </div>
  </div>
</div>
{{/ collapsibleItem }}
