
<div class="container">
  <div class="row cards {{ cards.classes }}">
  {{# cards.card-item }}
    <div class="{{ cards.bsgrid-classes }}">
      {{> components-card-item-full-width-profile }}
    </div>
  {{/ cards.card-item }}
  </div>
</div>