
{{# url}}
<a href="{{ url }}" class="card {{ classes }}"{{# data-link-title}} data-link-title="{{data-link-title}}"{{/ data-link-title}}{{# data-link-position}} data-link-position="{{data-link-position}}"{{/ data-link-position}}>
{{/ url}}
{{^ url}}
<div class="card {{ classes }}">
{{/ url}}
  <div class="row w-100 no-gutters">

    {{# card-media.document}}
    <img class="card-img {{ card-media.document.img.classes }}" src="{{ card-media.document.img.src}}" alt="{{ card-media.document.img.alt }}">
    {{/ card-media.document}}
    {{# card-media.img }}
    <div class="card-img-bg" style="background-image: url('{{ card-media.img.src }}')">
      <span class="sr-only">{{card-media.img.alt}}</span>
    </div>
    {{/ card-media.img }}

    {{# card-media.placeholder}}
    <div class="card-img-bg img-placeholder" style="background-image:url(https://res.cloudinary.com/villemontreal/image/upload/q_auto,f_auto,dpr_auto,w_768,c_fill/v1571398706/portail/background/texture-Small-highlight.png)">
      <span class="icon {{ card-media.placeholder.icon }}" aria-hidden="true"></span>
    </div>
    {{/ card-media.placeholder}}

    <div class="card-body-wrapper">
      <div class="card-body">
        {{# card-type }}
        <span class="card-type">{{ card-type }}</span>
        {{/ card-type}}

        {{# card-title }}
        <span class="card-title">{{ card-title }}</span>
        {{/ card-title }}
        
        {{# card-text }}
        <p class="card-text">{{{ card-text }}}</p>
        {{/ card-text }}

        {{# card-text-interface }}
        <div class="card-text-interface">
          {{^ date-time}}
          {{{ card-text-interface }}}
          {{/ date-time}}
          {{# date-time}}
          {{{text}}} <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>{{# line-break}}<br>{{/ line-break}}
          {{/ date-time}}
        </div>
        {{/ card-text-interface }}

        {{# card-link }}
        <div class="card-link mt-4">{{ card-link }} <span class="icon icon-arrow-right" aria-hidden="true"></span></div>
        {{/ card-link }}

      </div>
    </div>
  </div>
{{# url }}
</a>
{{/ url }}
{{^url}}
</div>
{{/ url}}
