
{{# url}}
<a href="{{ url }}" class="card {{ classes }}">
{{/ url}}
{{^ url}}
<div class="card {{ classes }}">
{{/ url}}

  {{# card-media }}
    {{# card-media.icon }}
    <div class="card-icon-top">
      <span class="icon {{ card-media.icon }}" aria-hidden="true"></span>
    </div>
    {{/ card-media.icon }}
    {{# card-media.img }}
    <img class="card-img-top {{ card-media.img.classes }}" src="{{ card-media.img.src}}" alt="{{ card-media.img.alt }}">
    {{/ card-media.img }}
  {{/ card-media }}

  <div class="card-body">

    {{# card-type }}
    <span class="card-type">{{ card-type }}</span>
    {{/ card-type}}

    {{# card-date }}
      <span class="card-type">
      {{# date-time}}
      {{{text}}} <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>
      {{/ date-time}}
      </span>
    {{/ card-date }}

    {{# card-title }}
    <span class="card-title">{{{ card-title }}}</span>
    {{/ card-title }}
    
    {{# card-text }}
    <p class="card-text">{{{ card-text }}}</p>
    {{/ card-text }}

    {{# card-text-interface }}
    <div class="card-text-interface">{{{ card-text-interface }}}</div>
    {{/ card-text-interface }}

    {{# card-date-text }}
      <div class="card-date-text">{{{ card-date-text }}}</div>
    {{/ card-date-text }}

    {{# card-publication-date}}
      <div class="card-publication-date">
      {{# dateTime}}
      {{{text}}} <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>
      {{/ dateTime}}
      </div>
    {{/ card-publication-date}}

    {{# card-cta }}
      {{> components-button}}
    {{/ card-cta }}

    {{# card-link }}
      <div class="card-link">{{ card-link }}</div>
    {{/ card-link }}

  </div>

{{# url }}
</a>
{{/ url }}
{{^url}}
</div>
{{/ url}}
