{{> components-skip-navigation }}
<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <div class="region-content pb-8 pt-4 pt-lg-8">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-md-5 order-md-last">
          <div class="d-flex justify-content-center mb-4 mb-md-0">
            <img src="https://res.cloudinary.com/villemontreal/image/upload/q_auto,f_auto,dpr_auto,w_256,h_256/v1573047726/portail/picto/image_erreur500.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-7">
          <div class="mb-8">
            <h1>Une erreur est survenue</h1>
            <p>Veuillez réessayer plus tard.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> patterns-footer-main }}

