<h4 class="pl-pattern-subtitle">Size</h4>

<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    {{# formRadiosSmall}}
		<div class="form-group-sm">
  			{{> components-radio-item }}
		</div>
	{{/ formRadiosSmall}}
  </li>
  <li class="col-xs-6 col-md-4">
    {{# formRadios}}
		<div class="form-group">
  			{{> components-radio-item }}
		</div>
	{{/ formRadios}}
  </li>
  <li class="col-xs-6 col-md-4">
    {{# formRadiosLarge }}
		<div class="form-group-lg">
  			{{> components-radio-item }}
		</div>
	{{/ formRadiosLarge}}
  </li>
</ul>

<h4 class="pl-pattern-subtitle">Position inline</h4>

<ul class="row list-unstyled">
  <li class="col-md-12">
	{{# formRadiosSmallInline }}
		<div class="form-group-sm">
  			{{> components-radio-item }}
		</div>
	{{/ formRadiosSmallInline }}
  </li>
  <li class="col-md-12">
	{{# formRadiosInline }}
		<div class="form-group">
  			{{> components-radio-item }}
		</div>
	{{/ formRadiosInline }}
  </li>
  <li class="col-md-12">
	{{# formRadiosLargeInline }}
		<div class="form-group-lg">
  			{{> components-radio-item }}
		</div>
	{{/ formRadiosLargeInline }}
  </li>
</ul>

