<h4 class="pl-pattern-subtitle">Size</h4>

<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    {{# switchesSmall}}
		<div class="form-group-sm">
  			{{> components-switch }}
		</div>
	{{/ switchesSmall}}
  </li>
  <li class="col-xs-6 col-md-4">
    {{# switches}}
		<div class="form-group">
  			{{> components-switch }}
		</div>
	{{/ switches}}
  </li>
  <li class="col-xs-6 col-md-4">
    {{# switchesLarges }}
		<div class="form-group-lg">
  			{{> components-switch }}
		</div>
	{{/ switchesLarges}}
  </li>
</ul>

