<div class="page-wizard">

  {{> organisms-header-wizard }}

  <nav class="nav-wizard" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col">
          {{> molecules-step-wizard }}
        </div>
      </div>
    </div>
  </nav>

  <main class="main-content regions" id="main-content" aria-label="Main Content">

    <div class="region bg-gray-100">
      <div class="region-container bg-white">
        <div class="row">
          <div class="col">
            {{> organisms-multistep-form }}
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
