{{> organisms-header-wizard }}
{{> molecules-step-wizard }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">

  <div class="region bg-gray-sky">
    <div class="container bg-white py-6">
      {{> organisms-confirmation}}
    </div>
  </div>
</main>
