<div class="col-12 col-md-6 col-lg-3 top-separator">
  <div class="list-heading">Titre colonne 1</div>
  <ul class="list-unstyled mb-4 mb-md-8">
    <li>
      <a href="#">Invidunt lorem tempor sit</a>
    </li>
    <li>
      <a href="#">Sanctus rebum</a>
    </li>
    <li>
      <a href="#">Sit aliquyam clita</a>
    </li>
      <li>
      <a href="#">Consetetur diam sanctus</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-6 col-lg-3 top-separator">
  <div class="list-heading">Titre colonne 2</div>
  <ul class="list-unstyled mb-4 mb-md-8">
    <li>
      <a href="#">Duo magna ipsum erat</a>
    </li>
    <li>
      <a href="#">Eos sed ipsum est ut no</a>
    </li>
    <li>
      <a href="#">Ea diam</a>
    </li>
    <li>
      <a href="#">Voluptua gubergren amet lorem sed</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-6 col-lg-3 top-separator">
  <div class="list-heading">Titre colonne 3</div>
  <ul class="list-unstyled mb-4 mb-md-8">
    <li>
      <a href="#">Takimata eirmod</a>
    </li>
    <li>
      <a href="#">Voluptua sadipscing clita duo</a>
    </li>
    <li>
      <a href="#">Elitr eirmod amet</a>
    </li>
  </ul>
</div>
<div class="col-12 col-md-6 col-lg-3 top-separator">
  <div class="list-heading">Nous suivre</div>
  <ul class="list-unstyled list-social-media mb-4 mb-md-8">
    <li>
      <a href="#">
        <span class="icon icon-social-facebook" aria-hidden="true"></span> Facebook
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon icon-social-linkedin" aria-hidden="true"></span> LinkedIn
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon icon-social-twitter" aria-hidden="true"></span> Twitter
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon icon-social-youtube" aria-hidden="true"></span> YouTube
      </a>
    </li>
  </ul>
</div>