<div class="form-group {{ inputTextFgClasses }}">
  {{^ inputHideLabel }}
  <label for="{{ formAttributes.input.type-text.id }}">{{ formAttributes.input.type-text.label }}</label>
  {{/ inputHideLabel }}
  <input type="text" class="form-control" id="{{ formAttributes.input.type-text.id }}" placeholder="{{ formAttributes.input.placeholder }}">
  {{# inputTextHasIcon }}
    {{> atoms-fonticon-item }}
  {{/ inputTextHasIcon }}
</div>

