<h4 class="pl-pattern-subtitle">Large</h4>
<div class="pl-mb-4">
{{> components-tab-item(navTabsClass: "nav-tabs-lg") }}
</div>

<h4 class="pl-pattern-subtitle">Medium</h4>
<div class="pl-mb-4">
{{> components-tab-item }}
</div>

<h4 class="pl-pattern-subtitle">Small</h4>
<div class="pl-mb-4">
{{> components-tab-item(navTabsClass: "nav-tabs-sm") }}
</div>
