<nav class="nav-tabs {{navTabsClass}}" aria-label="Nav label">
  {{# inContainer}}
  <div class="container">
  {{/ inContainer}}
    <ul class="nav" role="tablist">
      {{# navTabs.navItem }}
      <li class="nav-item {{liClass}}" role="presentation">
        <button type="button" class="nav-link {{ class }}" role="tab" data-toggle="tab" aria-controls={{tabContentId}} {{#isDisabled}}tabindex="-1" aria-disabled="true"{{/isDisabled}}>{{ title }}</button>
      </li>
      {{/ navTabs.navItem }}
    </ul>
  {{# inContainer}}
  </div>
  {{/ inContainer}}
</nav>
