{{# table }}
{{# tableWrapper}}
<div class="table-responsive {{ tableWrapper.class }}">
{{/ tableWrapper}}
  <table class="table {{ tableClass }}">
    {{# caption }}
    <caption>{{ caption }}</caption>
    {{/ caption }}
    {{# thead }}
    <thead class="{{ theadClass }}">
      <tr>
      {{# th }}
        <th scope="col">{{ title }}</th>
      {{/ th }}
      </tr>
    </thead>
    {{/ thead }}
    {{# tbody }}
    <tbody>

    {{# tr }}
      <tr class="{{ trClass }}">
        {{# th }}
        <th scope="">{{ th }}</th>
        {{/ th }}
        {{# td }}
        <td>{{ text }}</td>
        {{/ td }}
      </tr>
    {{/ tr}}
    </tbody>
    {{/ tbody }}
  </table>
{{# tableWrapper }}
</div>
{{/ tableWrapper }}
{{/ table }}
