<div class="jumbotron">
  	<h1 class="{{ displayHeadingClass }}">{{ heading }}</h1>
 	<p class="{{ paragraphClass }}">{{ text-paragraph }}</p>
	{{# cta }}
	<p><a class="btn btn-primary btn-lg" href="{{ url }}" role="button">{{ cta }}</a></p>
	{{/ cta }}
</div>

