<div class="bg-gray-sky lead-container {{ leadContainerClasses }}">
  <div class="section-content-fluid">
    <div class="section-inner section-inner-lg">
      {{> atoms-lead }}
    </div>
  </div>
</div>
