<div class="">
  <div class="container">
    <div class="row cards {{ cards.classes }}">
    {{# cards.card-item }}
      <div class="col-12 col-md-6">
        {{> molecules-card-item }}
      </div>
    {{/ cards.card-item }}
    </div>
  </div>
</div>

