<section id="webdiffusion" class="bg-image-section {{ regionAfterClasses }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="featured-content">
          <h2 class="h1">Regarder le conseil en direct</h2>
          <p>Dans un esprit de plus grande transparence le conseil municipal est diffusé en direct sur Internet, ainsi qu'en différé.</p>
          {{> atoms-button(buttonClass: "btn-secondary", buttonText: "Visionnez")}}
        </div>
      </div>
    </div>
  </div>
</section>
