{{# contact-item}}
<div class="content-block content-block-contact">
  <div class="content-block-infos">
    <span class="font-size-xl bold">{{ name }}</span>
    <span>{{ fonction }}</span>
    <span>{{ compagnie }}</span>
  </div>
  {{> atoms-text-icons-list }}
  {{> atoms-social-media-icons-list }}
</div>
{{/ contact-item}}
