
{{# organism-teaser}}
<div class="row">
  <div class="col-12 col-lg-3">
    {{# logo}}
    <a href="{{ url }}" class="img-link">
      <img class="img-fluid px-4" src="{{ src }}" alt="{{ alt }}">
    </a>
    {{/ logo}}
  </div>
  <div class="col-12 col-lg-5">
    <div class="">
      <span class="d-block mb-4">
        <a href="{{ name.url }}">{{ name.title }}</a>
      </span>
      <p>{{ description }}</p>
    </div>
  </div>
  <div class="col-12 col-lg-4">
  {{# informations}}
    <div class="sidebar sb-block">
      {{> atoms-text-icons-list}}
      {{> atoms-social-media-icons-list}}
    </div>
  {{/ informations}}
  </div>
</div>
{{/ organism-teaser}}
