<div class="card {{ classes }}">
  {{# url }}
  <a href="{{ url }}" class="">
  {{/ url }}
    {{# card-media }}
      {{# card-media.icon }}
      <span class="card-icon-top {{ card-media.classes }} vfi {{ card-media.icon }}" aria-hidden="true"></span>
      {{/ card-media.icon }}
      {{# card-media.img }}
      <img class="card-img-top {{ card-media.img.classes }}" src="{{ card-media.img.url}}" alt="{{ card-media.img.alt }}">
      {{/ card-media.img }}
    {{/ card-media }}
    <div class="card-body">
      {{# card-tags }}
      <span class="card-tags">{{ tag }}</span>
      {{/ card-tags }}
      {{# card-title }}
      <span class="card-title">{{ card-title }}</span>
      {{/ card-title }}
      {{# card-text }}
      <p class="card-text">{{ card-text }}</p>
      {{/ card-text }}
      {{# card-button }}
      <a href="#" class="btn btn-primary">Go somewhere</a>
      {{/ card-button }}
    </div>
    {{# footer }}
    <div class="card-footer">
      {{ footer.text }}<span class="vfi vfi-fleche-droite" aria-hidden="true"></span>
    </div>
    {{/ footer }}
  {{# url }}
  </a>
  {{/ url }}
</div>
