<div class="card {{ classes }}">
  {{# url }}
  <a href="{{ url }}" class="">
  {{/ url }}
    {{# card-media }}
      {{# card-media.icon }}
      <span class="card-icon-top {{ card-media.classes }} vfi {{ card-media.icon }}" aria-hidden="true"></span>
      {{/ card-media.icon }}
      {{# card-media.img }}
      <img class="card-img-top {{ card-media.img.classes }}" src="{{ card-media.img.url}}" alt="{{ card-media.img.alt }}">
      {{/ card-media.img }}
    {{/ card-media }}
    <div class="card-body">
      {{# card-tags }}
      <span class="card-tags">{{ tag }}</span>
      {{/ card-tags }}
      {{# card-date }}
      <span class="card-date">{{ card-date }}</span>
      {{/ card-date }}
      {{# card-title }}
      <span class="card-title">{{ card-title }}</span>
      {{/ card-title }}
      {{# card-text }}
      <p class="card-text">{{ card-text }}</p>
      {{/ card-text }}
      {{# card-text-muted }}
      <span class="text-muted">{{ card-text-muted }}</span>
      {{/ card-text-muted }}
      {{# card-button }}
      <a href="#" class="btn btn-primary">Go somewhere</a>
      {{/ card-button }}
      {{# footer.inside-body }}
      <div class="card-footer">
        {{ footer.text }}<span class="vfi vfi-fleche-droite" aria-hidden="true"></span>
      </div>
      {{/ footer.inside-body }}
    </div>
    {{# card-metadata }}
    <div class="card-metadata">
      <span class="identifier">
        {{ card-metadata }}
      </span>
    </div>
    {{/ card-metadata }}
    {{# footer.outside-body }}
    <div class="card-footer">
      {{ footer.text }}<span class="vfi vfi-fleche-droite" aria-hidden="true"></span>
    </div>
    {{/ footer.outside-body }}
  {{# url }}
  </a>
  {{/ url }}
</div>
