<li class="teaser-item">
    <a class="teaser teaser-picture" title="title text">
        {{> atoms-teaser-block }}
        <div class="content">
            <h3 class="title">{{ text.hipster.50 }}</h3>
            {{> atoms-label }}
        </div>
    </a>
</li>