            
{{# module-cta }}
<div class="content-module-stacked">
  {{> components-button}}
</div>
{{/ module-cta}}

{{# module-emphasis }}
<div class="content-module-stacked">
  {{> styles-blockquote }}
</div>
{{/ module-emphasis}}

{{# module-message }}
<div class="content-module-stacked">
  {{> components-alert}}
</div>
{{/ module-message }}

{{# module-text}}
<div class="content-module-stacked">
  <h2>Module Titre de section (H2, H3 ou H4)</h2>
  <p>Corps de texte - <i>Italique</i> et <strong>gras</strong>, exposant, indice et caractères spéciaux adipiscing elit. Morbi condimentum sollicitudin erat, quis <a href="#">lien interne</a> ou <a href="https://google.com">lien externe</a> convallis risus. Nullam  posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
  <ul>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
    <li>Liste à puce</li>
  </ul>
  <ol>
    <li>Liste numérotée</li>
    <li>Liste numérotée</li>
    <li>Liste numérotée</li>
  </ol>
</div>
{{/ module-text}}

{{# module-image-album}}
<div class="content-module-stacked">
  <h2>Image-Album - Module titre</h2>
  {{> components-carousel }}
</div>
{{/ module-image-album}}

{{^module-image-album}}
{{# module-image-single}}
<div class="content-module-stacked">
  <h2>Image simple - Module titre</h2>
  {{> styles-figure}}
</div>
{{/ module-image-single}}
{{/module-image-album}}

{{# module-video}}
<div class="content-module-stacked">
  <h2>Vidéo intégrée - Module titre</h2>
  {{> styles-video-responsive-embed }}
</div>
{{/ module-video}}

{{# module-collapse}}
<div class="content-module-stacked">
  <h2>Contenus imbriqués Accordéons - module titre</h2>
  <div id="accordion" class="wrapper-accordion" role="tablist" aria-multiselectable="true">
    {{> components-collapsible-item }}
  </div>
</div>
{{/ module-collapse}}

{{# module-comparatif-colonne}}
<div class="content-module-stacked">
  <h2>Comparatif Colonnes - module titre (H2)</h2>
  {{> patterns-content-comparatif }}
</div>
{{/ module-comparatif-colonne}}

{{# module-comparatif-rangee}}
<div class="content-module-stacked">
  <h3>Comparatif Rangées - module titre (H3)</h3>
  {{> patterns-content-comparatif }}
</div>
{{/ module-comparatif-rangee}}

{{# module-explainer}}
<div class="content-module-stacked">
  {{> patterns-wrapper-explainer }}
</div>
{{/ module-explainer}}

{{# module-table}}
<div class="content-module-stacked">
  <h2>Titre tableau - module Titre (H2, H3...)</h2>
  <p>Courte description optionnelle - module corps de texte</p>
  {{> styles-table }}
</div>
{{/ module-table}}

{{# module-list-reference}}
<div class="content-module-stacked">
  <h2>Liste de références de liens internes ou externes</h2>
  {{> components-list-item-link }}
</div>
{{/ module-list-reference}}

{{# module-documents}}
<div class="content-module-stacked">
  <h2>Documents à télécharger</h2>
  {{> components-list-item-link}}
</div>
{{/ module-documents }}
