<header class="content-header {{ contentHeaderClasses }}">
  <div class="{{ headerContainerClasses }} pb-7">
    <div class="row">
      <div class="col-12">
        {{# has-breadcrumb}}
        {{> molecules-breadcrumbs}}
        {{/ has-breadcrumb}}
        <div class="content-header-title">
          {{> atoms-display-heading }}
        </div>
      </div>
      {{# has-publication-date }}
      <div class="col order-1">
        <div class="content-header-metadata">
        {{> atoms-date-time-text }}
        </div>
      </div>
      {{/ has-publication-date}}
      {{# has-informations}}
      <div class="col order-2">
        <div class="content-header-metadata metadata-infos">
          {{{ informations-text }}}
          {{# badges }}
          {{> atoms-badge}}
          {{/ badges }}
        </div>
      </div>
      {{/ has-informations}}
      {{# has-hub-link}}
      <div class="col-12 col-xl-auto order-first order-xl-3">
        <div class="hub-link">
          <a href="#">{{ hub-link-text }}</a>
        </div>
      </div>
      {{/ has-hub-link}}
    </div>
  </div>
  {{# has-image}}
  {{> molecules-header-image}}
  {{/ has-image}}
</header>
