<header class="content-header {{ contentHeaderClasses }}">
  <div class="{{ headerContainerClasses }} pb-7">
    <div class="row">
      <div class="col-12">
        {{# has-breadcrumb}}
        {{> molecules-breadcrumbs}}
        {{/ has-breadcrumb}}
        <div class="content-header-title">
          {{> atoms-display-heading }}
        </div>
      </div>
    </div>
    
    {{# has-header-meta}}
    <div class="row content-header-metadata">
      {{# has-publication-date }}
      <div class="col-12 col-sm-6">
        {{> atoms-date-time-text }}
      </div>
      {{/ has-publication-date}}
      {{# has-informations}}
      <div class="col-12 col-sm-6">
        <span class="metadata-informations">{{ informations-text }}</span>
        {{# badges }}
        <div class="d-inline-flex mx-2">
          {{> atoms-badge}}
        </div>
        {{/ badges }}
      </div>
      {{/ has-informations}}
      {{# has-hub-link}}
      <div class="col-12 col-sm-6">
        <div class="hub-link">
          <a href="#">{{ hub-link-text }}</a>
        </div>
      </div>
      {{/ has-hub-link}}
    </div>
    {{/ has-header-meta}}
  </div>
  {{# has-image}}
  {{> molecules-header-image}}
  {{/ has-image}}
</header>
