<header class="content-header {{# contentHeaderBgImage }}content-header-overlay {{contentHeaderOverlayClasses}}{{/ contentHeaderBgImage }} {{ contentHeaderClasses }}" {{# contentHeaderBgImage }} style="{{ contentHeaderBgImage }}" {{/ contentHeaderBgImage }}>
  <div class="{{ contentHeaderContainerClasses }}">
    <div class="row">
      {{# has-breadcrumb}}
      <div class="col-12">
      {{> molecules-breadcrumbs}}
      </div>
      {{/ has-breadcrumb}}
      <div class="col-12">
        {{# contentHeaderSubtitle}}
        <div class="content-header-subtitle">{{ contentHeaderSubtitle }}</div>
        {{/ contentHeaderSubtitle}}
        <div class="content-header-title">
          {{> atoms-display-heading }}
        </div>
        {{# has-header-liner}}
        <div class="content-header-liner">
          <p class="lead">{{ liner-text }}</p>
        </div>
        {{/ has-header-liner }}
      </div>
      {{# has-publication-date }}
      <div class="col-12">
        <div class="content-header-metadata">
        {{> atoms-date-time-text }}
        </div>
      </div>
      {{/ has-publication-date}}
      {{# has-informations}}
      <div class="col-12">
        <div class="content-header-metadata metadata-infos">
          {{# informations-state }}
          <span class="badge badge-pill {{ badgeClass }}">{{ badge }}</span>
          {{/ informations-state }}

          {{# informations-event}}
          <div class="infos-event {{ informations-state.stateClass }}">
            {{# date }}
            <span class="infos-date">
            {{# informations-state.state-cancel }}<s>
            {{/ informations-state.state-cancel }}
            {{ date }}
            {{# informations-state.state-cancel }}</s>
            {{/ informations-state.state-cancel }}
            </span>
            {{/ date}}
            {{# lieu }}
            <span class="infos-lieu">{{ lieu }}</span>
            {{/ lieu }}
          </div>
          {{/ informations-event}}

          {{# badges }}
          {{> atoms-badge}}
          {{/ badges }}
        </div>
      </div>
      {{/ has-informations}}
    </div>
  </div>
</header>
