<header class="content-header content-header-hub content-header-overlay {{ contentHeaderClasses }}" {{# contentHeaderBgImage }} style="{{ contentHeaderBgImage }}" {{/ contentHeaderBgImage }}>
  <div class="container-fluid container-fluid-xl {{ contentHeaderContainerClasses }}">
    <div class="row">
      <div class="col-12">
        {{> atoms-display-heading }}
        {{# header-subtitle }}
        <h2 class="display-1">{{ header-subtitle}}</h2>
        {{/ header-subtitle }}
      </div>
      {{# inputGroupSearch }}
      <div class="col-12 col-lg-8">
        {{> atoms-input-icon }}
      </div>
      {{/ inputGroupSearch }}
      {{# quickLinks }}
      <div class="col-12">
        <div class="quick-links">
          <span class="quick-links-label">Recherche rapide : </span>
          <ul class="list-inline">
            {{# quickLinksItem }}
            <li class="list-inline-item"><a href="{{ url }}">{{ label }}</a></li>
            {{/ quickLinksItem }}
          </ul>
        </div>
        {{/ quickLinks }}
      </div>
    </div>
  </div>
</header>
