<header class="content-header content-header-profile {{ contentHeaderClasses }}">
  <div class="{{ contentHeaderContainerClasses }}">
    <div class="row no-gutters bg-gray-sky">
      <div class="col-12 col-lg-7">
        <div class="content-header-title">
          {{> atoms-display-heading }}
        </div>
        {{# profile-infos }}
        <div class="content-header-infos mb-8">
          {{# title }}
          <span class="profile-title">{{ value }}</span>
          {{/ title }}
          <span class="profile-member">{{ member }}</span>
        </div>

        <div class="row">
          <div class="col-12 mb-3">
            <div class="content-header-infos">
              <span class="profile-label">Parti</span>
              <span class="profile-value">{{ parti }}</span>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-3">
            <div class="content-header-infos">
              <span class="profile-label">Arrondissement</span>
              <span class="profile-value">{{ arrondissement }}</span>
            </div>
          </div>
          {{# district }}
          <div class="col-12 col-lg-6 mb-3">
            <div class="content-header-infos">
              <span class="profile-label">District</span>
              <span class="profile-value">{{ district }}</span>
            </div>
          </div>
          {{/ district }}
        </div>
        {{/ profile-infos }}
      </div>
      <div class="col-12 col-lg-5">
        <div class="img-profile">
          <img src="{{ profile-infos.imageUrl }}" class="img-fluid rounded-circle" alt="{{ profile-infos.imageAlt }}" />
        </div>
      </div>
    </div>
  </div>
</header>


<!--
<header class="content-header mx-auto container-fluid-max-xl {{ contentHeaderClasses }}">
    <div class="{{ contentHeaderContainerClasses }} bg-gray-sky">

      <div class="row">
        <div class="col-12 col-lg-7">
          <div class="content-header-title">
            {{> atoms-display-heading }}
          </div>
          {{# profile-infos }}
          <div class="content-header-infos mb-8">
            {{# title }}
            <span class="profile-title">{{ value }}</span>
            {{/ title }}
            <span class="profile-member">{{ member }}</span>
          </div>

          <div class="row">
            <div class="col-12 mb-3">
              <div class="content-header-infos">
                <span class="profile-label">Parti</span>
                <span class="profile-value">{{ parti }}</span>
              </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
              <div class="content-header-infos">
                <span class="profile-label">Arrondissement</span>
                <span class="profile-value">{{ arrondissement }}</span>
              </div>
            </div>
            {{# district }}
            <div class="col-12 col-lg-6 mb-3">
              <div class="content-header-infos">
                <span class="profile-label">District</span>
                <span class="profile-value">{{ district }}</span>
              </div>
            </div>
            {{/ district }}
          </div>
          {{/ profile-infos }}
        </div>
        <div class="col-12 col-lg-5">
          <div class="img-profile">
            <img src="{{ profile-infos.imageUrl }}" class="img-fluid rounded-circle" alt="{{ profile-infos.imageAlt }}" />
          </div>
        </div>
      </div>
    </div>
</header>
-->
