<header class="content-header {{ contentHeaderClasses }}">
  <div class="{{ contentHeaderContainerClasses }}">
  {{# has-hub-link}}
    <div class="row">
      <div class="col-12">
        <div class="hub-link">
          <a href="{{ url }}">{{ link-text }}</a>
        </div>
      </div>
    </div>
    {{/ has-hub-link}}
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-5">
        <div class="content-header-wrapper bg-gray-sky">
          <div class="content-header-headings">
            {{> atoms-display-heading }}
            {{# badges }}
            {{> atoms-badge}}
            {{/ badges }}
          </div>
          <div class="content-header-metadata">
            {{> atoms-text-icons-list}}
          </div>
        </div>
      </div>
      {{# has-media-image }}
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="media-cover" role="image" aria-label="media-image.mediaAlt" style="background-image: url('{{ media-image.mediaSrc}}');"></div>
      </div>
      {{/ has-media-image }}
      </div>
    </div>
  </div>
</header>
