<div class="pl-badge">
	{{# badges-links }}
	  {{> components-badge }}
	{{/ badges-links }}
</div>

<div class="pl-badge pl-mb-0">
	{{# badges-links-dialog-colors-light }}
	  {{> components-badge }}
	{{/ badges-links-dialog-colors-light }}
</div>
<div class="pl-badge">
	{{# badges-links-dialog-colors }}
	  {{> components-badge }}
	{{/ badges-links-dialog-colors }}
</div>