<h1>Example heading {{> components-badge }}</h1>
<h2>Example heading {{> components-badge }}</h2>
<h3>Example heading {{> components-badge }}</h3>
<h4>Example heading {{> components-badge }}</h4>
<h5>Example heading {{> components-badge }}</h5>
<h6>Example heading {{> components-badge }}</h6>
