<h4 class="pl-pattern-subtitle">Truncated label</h4>
<div class="badge-group mb-4">
	{{# badges-truncated-label }}
	  {{> components-badge }}
	{{/ badges-truncated-label }}
</div>

<h4 class="pl-pattern-subtitle">Max width Truncated label</h4>
<div class="badge-group mb-4">
	{{# badges-max-width-truncated-label }}
	  {{> components-badge }}
	{{/ badges-max-width-truncated-label }}
</div>

