<div class="pl-badge">
  <div class="mr-2">
    <div class="badge-notification-dot" aria-label="Texte pour accessibilité"></div>
  </div>
  <div class="badge-notification-top-right mr-2" aria-label="Texte pour l'accessibilité">
    <span class="icon icon-bell" aria-hidden="true"></span>
    <div class="badge-notification-dot" aria-hidden="true"></div>
  </div>
  <div class="bg-dark p-1">
    <div class="badge-notification-reversed badge-notification-top-right" aria-label="Texte pour l'accessibilité">
      <span class="icon icon-bell" aria-hidden="true"></span>
      <div class="badge-notification-dot" aria-hidden="true"></div>
    </div>
  </div>
</div>
