<div class="pl-badge">
  <div class="badge-notification-dot" aria-label="Texte pour l'accessibilité">
    <span class="icon icon-help" aria-hidden="true"></span>
  </div>
</div>

<div class="pl-badge">
  <div class="badge-notification-wrapper">
    <div class="badge-notification-dot" aria-label="Texte pour l'accessibilité"></div>
  </div>
</div>