<div class="pl-badge">
  <div class="badge-notification-top-right" aria-label="Texte pour l'accessibilité">
    <span class="icon icon-help" aria-hidden="true"></span>
    <div class="badge-notification-dot" aria-hidden="true"></div>
  </div>
  <div class="ml-2">
    <div class="badge-notification-dot" aria-label="Texte pour accessibilité"></div>
  </div>
</div>