{{> components-alert(
  alertClass: "alert-info",
 "alertText": "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin."
)}}

{{> components-alert(
  alertClass: "alert-success",
  "alertText": "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin."
)}}

{{> components-alert(
  alertClass: "alert-warning",
  "alertText": "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin."
)}}

{{> components-alert(
  alertClass: "alert-danger",
  "alertText": "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin."
)}}
