{{> components-alert(
    alertClass: "alert-with-icon",
    alertTitle: "Titre du message",
    alertText: "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin.",
    alertIcon: true,
    icon-name: "icon-info"
  )
}}

{{> components-alert(
    alertClass: "alert-info alert-with-icon",
    alertTitle: "Titre du message",
    alertText: "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin.",
    alertIcon: true,
    icon-name: "icon-info"
  )
}}

{{> components-alert(
    alertClass: "alert-success alert-with-icon",
    alertTitle: "Titre du message",
    alertText: "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin.",
    alertIcon: true,
    icon-name: "icon-check-circle"
  )
}}

{{> components-alert(
    alertClass: "alert-warning alert-with-icon",
    alertTitle: "Titre du message",
    alertText: "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin.",
    alertIcon: true,
    icon-name: "icon-warning"
  )
}}

{{> components-alert(
    alertClass: "alert-danger alert-with-icon",
    alertTitle: "Titre du message",
    alertText: "Description du message obligatoire avec <a href=\"#\" class=\"alert-link\">un lien facultatif</a> si besoin.",
    alertIcon: true,
    icon-name: "icon-error"
  )
}}
