<section id="feedback-section">
  <div class="feedback-form-container alert">
    {{# has-success-message }}
    <h2 class="h4 mb-1">Nous avons bien reçu votre commentaire.</h2>
    <p class="mb-0">Merci d’avoir répondu à ce formulaire.</p>
    {{/ has-success-message }}
    {{^ has-success-message }}
    <form id="form21" name="form21" class="wufoo feedback-form needs-validation" accept-charset="UTF-8"
      autocomplete="off" enctype="multipart/form-data" method="post" action="#" novalidate>
      <h2 class="h4 mb-1">Cette page répond-elle à vos besoins?</h2>
      <p>Aidez-nous à optimiser notre site.</p>
      <div class="form-group">
        <div class="custom-control custom-radio">
          <input type="radio" id="rdioFeedback01-1" name="Field10" class="custom-control-input" value="oui" >
          <label class="custom-control-label" for="rdioFeedback01-1">Oui</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="rdioFeedback01-2" name="Field10" class="custom-control-input" value="non" {{# is-active}}checked{{/ is-active}}>
          <label class="custom-control-label" for="rdioFeedback01-2">Non</label>
        </div>
      </div>
      <div class="form-group d-none">
        <textarea class="form-control" placeholder="Expliquez" name="Field14"></textarea>
        <div class="invalid-feedback">
          Message d'erreur personnalisé
        </div>
      </div>
      <input type="hidden" name="Field4" value="BAO-test">
      <input type="hidden" name="Field5" value="BAO-test">
      <input type="hidden" name="Field6" value="BAO-test">
      <input type="hidden" name="Field7" value="BAO-test">
      <input type="hidden" name="Field8" value="fr">
      <input type="hidden" name="Field16" value="BAO-test">
      <div class="actions-buttons">
        <button type="submit" name="saveForm" class="btn btn-primary btn-squared" disabled>Soumettre</button>
        <button type="button" id="cancel" class="btn btn-link btn-squared" hidden>Annuler</button>
      </div>
      <input type="hidden" name="comment">
      <input type="hidden" name="idstamp" value="s6ca0fAPki7zk4nFCtzEiJYsfTA8bSL6BKoW46uSjgY=">
    </form>
    {{/ has-success-message}}
  </div>
</section>
