<div class="empty-state d-flex flex-column align-items-center text-center py-8">
  <div class="mb-4">
    {{> styles-icon-item}}
  </div>
  {{# messageStateTitle}}<{{tag}} class="h2 mb-2">{{ title}}</{{tag}}>{{/ messageStateTitle}}
  <p class="mb-4">{{ description}}</p>
  {{# messageActions}}
  <div class="buttons-wrapper buttons-wrapper-center">
  {{# buttons}}
  {{> components-button}}
  {{/ buttons}}
  </div>
  {{/ messageActions}}
</div>
