<div class="alert {{ alertClass }}" role="alert">
  {{# alertIcon }}
   <div class="alert-icon-container">
    <span class="icon {{icon-name}}" aria-label="{{iconAriaLabel}}"></span>
  </div>
  {{/ alertIcon }}
  {{# alertIcon }}
  <div class="alert-content">
  {{/ alertIcon }}
  {{# alertTitle }}
  <strong class="alert-heading">{{ alertTitle }}</strong>
	{{/ alertTitle }}
	{{{ alertText }}}
  {{# alertButtons}}
  <div class="alert-actions">
    {{# buttons}}
    {{> components-button}}
    {{/ buttons}}
  </div>
  {{/ alertButtons}}
  {{# alertLink}}
  <div class="alert-actions">
    <a href="#">
      <span class="link-label">{{label}}</span><span class="icon-nowrap">&#65279;<span class="icon icon-arrow-right" aria-hidden="true"></span></span>
    </a>
  </div>
  {{/ alertLink}}
  {{# alertIcon }}
  </div>
  {{/ alertIcon }}
	{{# dismissableAlert }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Fermer le message">
    {{> styles-icon-item("icon-name": "icon-x")}}
  </button>
	{{/ dismissableAlert }}
</div>
