<div class="alert {{ alertClass }}" role="alert">
  {{# alertIcon }}
   <div class="alert-icon-container">
    <span class="icon {{icon-name}}" aria-label="{{iconAriaLabel}}"></span>
  </div>
  {{/ alertIcon }}
  {{# alertIcon }}
  <div class="alert-content">
  {{/ alertIcon }}
  {{# alertTitle }}
  <div class="alert-heading">{{ alertTitle }}</div>
	{{/ alertTitle }}
	{{{ alertText }}}
  {{# alertButtons}}
  <div class="alert-actions">
    {{# buttons}}
    {{> components-button}}
    {{/ buttons}}
  </div>
  {{/ alertButtons}}
  {{# alertIcon }}
  </div>
  {{/ alertIcon }}
	{{# dismissableAlert }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Fermer le message">
    {{> styles-icon-item("icon-name": "icon-x")}}
  </button>
	{{/ dismissableAlert }}
</div>
