<div class="alert message-bar {{ messageBarClass }}" data-component-type="message-barre"{{# messageBarID}} id={{messageBarID}}{{/ messageBarID}}>
  <div class="message-bar-icon-container">
    <span class="icon {{ icon-name }}" aria-hidden="true"></span>
  </div>
  <div class="message-bar-container">
    <div class="message-bar-heading">Titre</div>
    <p>Description du message</p>
    <a class="message-bar-link" href="#" data-link-title="Lien">Lien</a>
  </div>
  {{# dismissibleAlert }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Fermer le message">
    {{> styles-icon-item("icon-name": "icon-x")}}
  </button>
	{{/ dismissibleAlert }}
</div>
