{{# featuredSearch}}
<section id="{{ featuredContentID }}" class="bg-image-section overlay-mid" {{# featuredContentBgImage }} style="{{ featuredContentBgImage }}" {{/ featuredContentBgImage }}>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        {{# section-headings}}
          <h2 class="section-heading">{{ heading }}</h2>
        {{/ section-headings}}
        {{# inputGroupSearch }}
          {{> atoms-input-icon }}
        {{/ inputGroupSearch }}
        {{# quickLinks }}
        <div class="quick-links">
          <ul class="list-inline">
            {{# quickLinksItem }}
            <li class="list-inline-item">
              <a href="{{ url }}" class="btn btn-sm btn-secondary btn-inverse">{{ label }}</a>
            </li>
            {{/ quickLinksItem }}
          </ul>
        </div>
        {{/ quickLinks }}
      </div>
    </div>
  </div>
</section>
{{/ featuredSearch}}