{{> styles-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content">
  <div class="region-content">
    <div class="container">
      <div class="row">
        <article class="col-12">
          <div class="row">
            <div class="alert-container col-12 col-lg-8 offset-lg-2">
              {{> molecules-alerts }}
            </div>
          </div>
          {{# has-confirmation-summary }}
          {{> organisms-wizard-confirmation-summary }}
          {{/ has-confirmation-summary }}

          {{# confirmation-cta }}
          {{> organisms-wizard-confirmation-cta }}
          {{/ confirmation-cta }}
        </article>
      </div>
    </div>
  </div>
  {{# hasFeedbackForm}}
  {{> organisms-feedback-form}}
  {{/ hasFeedbackForm }}
</main>

{{> organisms-footer-portal }}
