<!-- Media Gallery -->
<div class="media-gallery-container">
  <ul class="media-gallery">
    {{# mediaGallery }}
    <li>
      <a href="#">
        <img src="{{ mediaSrc }}" class="img-fluid" alt="{{ mediaAlt }}">
      </a>
    </li>
    {{/ mediaGallery }}
  </ul>
</div>
