<!-- Media Gallery -->
<div class="media-gallery-button">
  <img src="{{ mediaGallery.0.thumbnail.mediaSrc }}" class="img-fluid" height="{{ mediaGallery.0.thumbnail.height }}" width="{{ mediaGallery.0.thumbnail.width }}" itemprop="thumbnail" alt="{{ mediaGallery.0.mediaAlt }}">
  {{> atoms-button-icon(buttonClass: "btn-primary btn-light js-gallery-trigger", buttonText: "Afficher les photos", icon-label: "021-dossier", buttonIcon: true)}}
</div>


<ul class="media-gallery d-none" itemscope itemtype="http://schema.org/ImageGallery">
  {{# mediaGallery }}
  <li itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ mediaSrc }}" itemprop="contentUrl" data-size="{{ mediaSize }}" data-index="{{ index }}" data-title="{{ mediaCaption}}" data-author="{{ mediaAuthor }}">
      <img src="{{ thumbnail.mediaSrc }}" class="img-fluid" height="{{ thumbnail.height }}" width="{{ thumbnail.width }}" itemprop="thumbnail" alt="{{ mediaAlt }}">
    </a>
  </li>
  {{/ mediaGallery}}
</ul>
