<div class="pl-swatches-flex">
  <div class="pl-swatches-wrapper">

    <h4 class="pl-pattern-subtitle">Action</h4>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Couleur</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-action"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Action</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$action</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#097d6c</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-action-darker"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Action-darker</div>
        <div class="pl-swatch-item slect-all" data-header="Variable">$action-darker</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#075b4F</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-action-lighter"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Action-lighter</div>
        <div class="pl-swatch-item slect-all" data-header="Variable">$action-lighter</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0cb097</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Marque (Brand)</h4>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Couleur</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-brand"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Brand</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$brand</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#e00000</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Neutre (Neutral)</h4>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Couleur</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-primary"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Primary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-primary</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#212529</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-primary-reverse"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Primary-reversed</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-primary-reversed</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ffffff</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-secondary"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Secondary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-secondary</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#637381</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-tertiary"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Tertiary</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-tertiary</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#adb5bd</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-neutral-stroke"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Stroke</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$neutral-stroke</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ced4da</div>
      </div>
    </div>

    <h4 class="pl-pattern-subtitle">Message (Alert)</h4>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Couleur</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
       <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Informative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$informative</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0079C4</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative-dark"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Informative-darker</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$informative-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#004B7B</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-informative-light"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Informative-lighter</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$informative-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#E6F5F9</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Negative</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$negative</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#D3310A</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative-dark"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Negative-darker</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$negative-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#851A00</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-negative-light"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Negative-lighter</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$negative-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#FFEBE6</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Positive</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$positive</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0DA566</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive-dark"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Positive-darker</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$positive-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#025D29</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-positive-light"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Positive-lighter</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$positive-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#E7F6F0</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Warning</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$warning</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#FFB833</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning-dark"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Warning-darker</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$warning-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#6C4600</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning-light"></span></div>
        <div class="pl-swatch-item" data-header="Couleur">Warning-lighter</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$warning-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#FEFAE6</div>
      </div>
    </div>

  </div>
</div>
