{{#svgs}}
.icon-{{{name}}} {
	&:before {
		-webkit-mask: url("{{{inline}}}") no-repeat 50% 50%;
		mask: url("{{{inline}}}") no-repeat 50% 50%;
		width: {{{width}}};
		height: {{{height}}};
	}
 } 
{{/svgs}}

