<div class="sidebar pt-8 pt-lg-0">
  {{# sb-block-featured-cta}}
  <div class="sb-block">
  {{> patterns-wrapper-featured-cta}}
  </div>
  {{/ sb-block-featured-cta}}
  {{# sb-block-list-links}}
  <div class="sb-block">
    {{> styles-heading-sidebar(sidebarTitle: "Contenus complémentaires") }}
    {{> components-liste-lien}}
  </div>
  {{/ sb-block-list-links}}
</div>
