<div class="pl-button">
	<button class="btn btn-primary" type="button" disabled>
	<span class="spinner-border" role="status" aria-hidden="true"></span>
	  Primary button spinner
	</button>
	<button class="btn btn-primary btn-sm" type="button" disabled>
	  <span class="spinner-border" role="status" aria-hidden="true"></span>
	  Primary small button spinner
	</button>
</div>


