<div class="bg-dark py-2 cookie-consent" role="alert">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md text-white font-size-base-interface align-self-center">
        <p class="mb-4 mb-md-0">{{{ cookiesConsent.msg }}}</p>
      </div>
      <div class="col-12 col-md-auto align-self-center">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-secondary-reverse btn-squared mr-2" id="refuseCookies">Non</button>
          <button type="button" class="btn btn-primary-reverse btn-squared" id="acceptCookies">Oui</button>
        </div>
      </div>
    </div>
  </div>
</div>