{{# table }}
{{# tableWrapper}}
<div class="table-responsive {{ tableWrapper.class }}">
{{/ tableWrapper}}
  <table class="table table-hover {{ tableClass }}">
    {{# caption }}
    <caption>{{{ caption }}}</caption>
    {{/ caption }}
    {{# thead }}
    <thead class="{{ theadClass }}">
      <tr>
      {{# th }}
        <th scope="col">{{ title }}</th>
      {{/ th }}
      </tr>
    </thead>
    {{/ thead }}
    {{# tbody }}
    <tbody>

    {{# tr }}
      <tr class="{{ trClass }}">
        {{# th }}
        <th scope="row">{{ th }}</th>
        {{/ th }}
        {{# td }}
        {{#text}}<td{{#class}} class="{{class}}"{{/class}}>{{{ text }}}</td>{{/text}}
        {{#cell}}<td>{{#items}}<div{{#class}} class="{{class}}"{{/class}}>{{{ text }}}</div>{{/items}}</td>{{/cell}}
        {{/ td }}
      </tr>
    {{/ tr}}
    </tbody>
    {{/ tbody }}
    {{# tfoot }}
    <tfoot>
      <tr>
        <td>{{{tfoot}}}</td>
      </tr>
    </tfoot>
    {{/ tfoot }}
  </table>
{{# tableWrapper }}
</div>
{{/ tableWrapper }}
{{/ table }}
