<h4 class="pl-pattern-subtitle">Types</h4>
{{# toggleTypes}}
<div class="d-block pl-mb-2">
{{> components-toggle }}
</div>
{{/ toggleTypes}}

<h4 class="pl-pattern-subtitle">Sizes</h4>
{{# toggleSizes}}
<div class="d-block pl-mb-2">
{{> components-toggle }}
</div>
{{/ toggleSizes}}

