{{> patterns-header-wizard }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">

  <div class="region-content">

    <div class="container">

      <div class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">

          {{# module-message }}
          <div class="mb-4">
            {{> components-alert}}
          </div>
          {{/ module-message }}

        </div>

        {{# sidebarRight}}
        <aside class="col-12 col-lg-4" role="complementary">
          <p>Ceci est le contenu de la sidebar (optionnel)</p>
        </aside>
        {{/ sidebarRight}}

      </div>
    </div>
  </div>
</main>
