<h4 class="pl-pattern-subtitle">Size</h4>

<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button type="button" class="btn btn-secondary">Left</button>
      <button type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-secondary">Right</button>
    </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-secondary">Left</button>
      <button type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-secondary">Right</button>
    </div>
  </li>
  <li class="col-xs-6 col-md-4">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" class="btn btn-secondary">Left</button>
      <button type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-secondary">Right</button>
    </div>
  </li>
</ul>


<h4 class="pl-pattern-subtitle">Position vertical</h4>

<ul class="row list-unstyled">
  <li class="col-xs-6 col-md-4">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-secondary">Top</button>
      <button type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-secondary">Bottom</button>
    </div>
  </li>
</ul>

