<h4 class="pl-pattern-subtitle">Sizes</h4>
<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary btn-lg", buttonText: "Large button")}}
  {{> components-button(buttonClass: "btn-primary ", buttonText: "Default button")}}
  {{> components-button(buttonClass: "btn-primary btn-sm", buttonText: "Small button")}}
</div>

<h4 class="pl-pattern-subtitle">Colors</h4>
<div class="pl-button d-flex">
  {{> components-button(buttonClass: "btn-primary", buttonText: "Primary button")}}
  {{> components-button(buttonClass: "btn-promo", buttonText: "Promo button")}}
  {{> components-button(buttonClass: "btn-secondary", buttonText: "Secondary button")}}
  <div class="bg-gray-900 ">{{> components-button(buttonClass: "btn-secondary-reverse", buttonText: "Secondary-reverse button")}}</div>
  {{> components-button(buttonClass: "btn-link", buttonText: "Tertiary button")}}
</div>

<h4 class="pl-pattern-subtitle">Shapes</h4>
<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary", buttonText: "Default round button")}}
  {{> components-button(buttonClass: "btn-primary btn-squared", buttonText: "Square button")}}
</div>

<h4 class="pl-pattern-subtitle">States</h4>
<div class="pl-button">
  {{> components-button(buttonClass: "btn-primary", buttonText: "Disabled state", buttonState: "disabled" )}}
  <button type="button" class="btn btn-primary btn-squared" disabled>
    {{> components-spinner }}
    Loading state...
  </button>
</div>