<h4 class="pl-pattern-subtitle">Position</h4>
<div class="pl-button">
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-icon-left", buttonText: "Primary icon left", icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-icon-right", buttonText: "Primary icon right", icon-name: "icon-help", buttonIcon: true)}}
</div>

<h4 class="pl-pattern-subtitle">Sizes</h4>
<div class="pl-button pl-mb-0">
  {{> components-button-icon(buttonClass: "btn-primary btn-lg btn-squared btn-icon-left", buttonText: "Large icon left", icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-icon-left", buttonText: "Default icon left", icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-sm btn-squared btn-icon-left", buttonText: "Small square icon left", icon-name: "icon-help", buttonIcon: true)}}
</div>

<div class="pl-button">
  {{> components-button-icon(buttonClass: "btn-primary btn-lg btn-squared btn-icon-right", buttonText: "Large icon right", icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-icon-right", buttonText: "Default icon right", icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-sm btn-squared btn-icon-right", buttonText: "Small square icon right", icon-name: "icon-help", buttonIcon: true)}}
</div>

<h4 class="pl-pattern-subtitle">Colors</h4>
<div class="pl-button">
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-icon-left", buttonText: "Primary icon left", icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-secondary btn-squared btn-icon-left", buttonText: "Secondary icon left", icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-link btn-squared btn-icon-left", buttonText: "Tertiary icon left", icon-name: "icon-help", buttonIcon: true)}}
</div>

<h4 class="pl-pattern-subtitle">Icon only</h4>
<div class="pl-button">
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-lg btn-icon", buttonText: false, icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-icon", buttonText: false, icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-squared btn-sm btn-icon", buttonText: false, icon-name: "icon-help", buttonIcon: true)}}
</div>

<h4 class="pl-pattern-subtitle">Collapse</h4>
<div class="pl-button">
  <div class="collapse-content collapse" id="collapseExampleBtn">
    <p>Etiam eget purus in justo venenatis consectetur vel nec magna. Fusce non neque nunc. Etiam at aliquet lectus, eu dignissim sapien. Suspendisse non elit id lectus ultricies suscipit. Duis ornare, enim quis imperdiet vestibulum, quam urna efficitur tellus, vel euismod urna lacus quis lectus. Aenean eros risus, interdum eu vehicula vitae, sagittis vel nisi. Fusce mollis orci nisl, id blandit lacus porttitor ut. Mauris nec congue odio. Nunc lacus sem, rutrum et est tempor, viverra posuere augue.</p>
  </div>
  <button class="btn btn-link btn-squared btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#collapseExampleBtn" aria-expanded="false" aria-controls="collapseExampleBtn">Voir plus</button>
</div>
