<h4 class="pl-pattern-subtitle">Position</h4>
<div class="pl-button">
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-left", buttonText: "Button with icon left", icon-name: "icon-help", buttonIcon: true)}}
  {{> components-button-icon(buttonClass: "btn-primary btn-icon-right", buttonText: "Button with icon right", icon-name: "icon-help", buttonIcon: true)}}
</div>


<h4 class="pl-pattern-subtitle">Collapse</h4>
<div class="pl-button">
  <div class="collapse-content collapse" id="collapseExampleBtn">
    <p>Etiam eget purus in justo venenatis consectetur vel nec magna. Fusce non neque nunc. Etiam at aliquet lectus, eu dignissim sapien. Suspendisse non elit id lectus ultricies suscipit. Duis ornare, enim quis imperdiet vestibulum, quam urna efficitur tellus, vel euismod urna lacus quis lectus. Aenean eros risus, interdum eu vehicula vitae, sagittis vel nisi. Fusce mollis orci nisl, id blandit lacus porttitor ut. Mauris nec congue odio. Nunc lacus sem, rutrum et est tempor, viverra posuere augue.</p>
  </div>
  <button class="btn btn-link btn-squared btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#collapseExampleBtn" aria-expanded="false" aria-controls="collapseExampleBtn">Voir plus</button>
</div>
