<nav aria-label="Pagination">
  <ul class="pagination {{ paginationClass }}">
    <li class="page-item{{# prev.disabled}} disabled{{/ prev.disabled}}">
      <a class="page-link" href="#" aria-label="Précédent"{{# prev.disabled}} tabindex="-1" aria-disabled="true"{{/ prev.disabled}}>
        <span class="icon icon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </a>
    </li>
  {{# paginationList}}
    <li class="page-item {{ class }}">
      {{# url}}
      <a class="page-link" href="{{ url}}">{{ text }}</a>
      {{/ url}}
      {{^ url}}
      <span class="page-link">{{ text }}</span>
      {{/ url}}
    </li>
  {{/ paginationList}}
    <li class="page-item{{# next.disabled}} disabled{{/ next.disabled}}">
      <a class="page-link" href="#" aria-label="Suivant"{{# next.disabled}} tabindex="-1" aria-disabled="true"{{/ next.disabled}}>
        <span class="icon icon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </li>
  </ul>
</nav>
