<div class="d-flex mb-2">
  {{> components-etiquette(badgeClass: "badge-info", badge: "État") }}
</div>

<div class="content-module-stacked">
  <p>Corps de texte complet - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum sollicitudin erat, quis convallis risus. Nullam posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
</div>

<h3>Tarifs - module Corps de texte ou module Titre (exemple H3)</h3>
<div class="content-module-stacked">
  <p>Courte description optionnelle - corps de texte</p>
</div>

<div class="content-module-stacked">
  {{# module-table }}
  {{> styles-table }}
  {{/ module-table }}
</div>
{{# module-emphasis}}
<div class="content-module-stacked">
  {{> patterns-emphasis }}
</div>
{{/ module-emphasis}}

<div class="content-module-stacked">
  <p>Corps de texte complet - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum sollicitudin erat, quis convallis risus. Nullam posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
</div>

{{# module-message }}
<div class="content-module-stacked">
  {{> components-alert}}
</div>
{{/ module-message }}

{{# module-documents}}
<h3>Documents à télécharger</h3>
<div class="content-module-stacked">
  {{> components-liste-lien}}
</div>
{{/ module-documents }}

{{# module-documents-necessaires}}
<h3>Documents nécessaires</h3>
<div class="content-module-stacked">
  <p>Fournir les documents suivants :</p>
  <p>Corps de texte complet - avec liste à puce sit amet, consectetur adipiscing elit. Morbi condimentum sollicitudin erat, quis convallis risus. Nullam posuere odio ligula, hendrerit suscipit ligula congue laoreet. Curabitur eleifend nulla purus, ut pharetra urna efficitur id. Cras lacinia nisi id quam lacinia, et orci aliquam.</p>
</div>
<div class="content-module-stacked">
  <p>Présenter deux pièces d'identité parmi les suivantes :</p>
  <ul class="">
    <li>Pièce d'identité #1</li>
    <li>Pièce d'identité #2</li>
    <li>Pièce d'identité #3</li>
    <li>Pièce d'identité #4</li>
    <li>Pièce d'identité #5</li>
  </ul>
</div>
<div class="content-module-stacked">
  <p>Présenter deux preuve d'adresse parmi les suivantes :</p>
  <ul class="partial-hidden" id="show-more-preuve-adresse">
    <li>Preuve d'adresse #1</li>
    <li>Preuve d'adresse #2</li>
    <li>Preuve d'adresse #3</li>
    <li>Preuve d'adresse #4</li>
    <li>Preuve d'adresse #5</li>
    <li class="extra-item sr-only">Preuve d'adresse extra #6</li>
    <li class="extra-item sr-only">Preuve d'adresse extra #7</li>
    <li class="extra-item sr-only">Preuve d'adresse extra #8</li>
  </ul>
  <button class="btn btn-link btn-squared btn-collapse collapsed" type="button" data-toggle="show-list" data-target="show-more-preuve-adresse" aria-expanded="false" aria-controls="show-more-preuve-adresse">Voir la liste complète</button>
</div>
{{/ module-documents-necessaires}}

{{# module-canaux-comm}}
<h3>Canaux de communication</h3>
<div class="content-module-stacked">
  <div id="accordion" class="wrapper-accordion" role="tablist" aria-multiselectable="true">
  {{> components-collapsible-item }}
  </div>
</div>
{{/ module-canaux-comm}}

{{# module-reglements}}
<h3>Règlements</h3>
<div class="content-module-stacked">
  {{> components-liste-lien}}
</div>
{{/ module-reglements}}
