<section class="page-section bg-gray-sky">
  <div class="container">
    <div class="row cards {{ cards.classes }}">
      {{# cards.headings}}
      <div class="col-12">
        <h2 class="{{ cards.headings.class }}">{{ cards.headings.text }}</h2>
      </div>
      {{/ cards.headings}}
      {{# cards.card-item}}
      <div class="{{ cards.bsgrid-classes }}">
        {{> molecules-card-item }}
      </div>
      {{/ cards.card-item}}
    </div>
  </div>
</section>
