<section class="page-section {{ cards.section-classes }}">
  <div class="container">
    <div class="row cards {{ cards.classes }}">
    {{# cards.headings }}
      <h2>{{> cards.headings }}</h2>
    {{/ cards.headings }}
    {{# cards.card-item }}
      <div class="{{ cards.bsgrid-classes }}">
        {{> molecules-card-item }}
      </div>
    {{/ cards.card-item }}
    </div>
  </div>
</section>