<section class="page-section {{cards.section-classes}}">
  <div class="container">
    <div class="row cards {{ cards.classes }}">
      {{# cards.headings}}
      <div class="col-12">
        <h2 class="{{ cards.headings.class }}">{{ cards.headings.text }}</h2>
      </div>
      {{/ cards.headings}}
      {{# cards.card-item}}
      <div class="{{ bsgrid-classes }}">
        {{> molecules-card-item-teaser }}
      </div>
      {{/ cards.card-item}}
    </div>
  </div>
</section>