<section class="page-section bg-gray-sky">
  <div class="container">
    <div class="row cards">
      {{# cards.card-item }}
      <div class="{{ cards.bsgrid-classes }}">
        <div class="card card-fw">
          <div class="card-section">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4">
                  <span class="card-label">187092009876554</span>
                  <span class="small">Derniere mise à jour le 30 mars 2018</span>
                </div>
                <div class="col-lg-6">
                  <span class="card-label card-label-normal">Déclaration pour établissement existant - 2018</span>
                  <span>Petro 2908-0</span>
                </div>
                <div class="col-lg-2">{{> molecules-badge(badge: "En cours", badgeClass: "badge-pill badge-warning")}}</div>
              </div>
            </div>
          </div>
          <div class="card-section">
            <span class="card-icon-top {{ card-media.classes }} vfi {{ card-media.icon }}" aria-hidden="true"></span>
            <div class="card-body">
              <span class="card-subtitle">Terminez votre déclaration</span>
              <p class="card-text">Veuillez reviser votre déclaration. Il manque une pièce justificative pour la micropuce de votre chat. </p>
            </div>
          </div>
        </div>
      </div>
      {{/ cards.card-item }}
    </div>
  </div>
</div>
