<section class="page-section {{cards.section-classes}}">
  <div class="container">
    <div class="row cards">
      {{# cards.card-item }}
      <div class="{{ cards.bsgrid-classes }}">
        {{> molecules-card-item-tarif-v2}}
      </div>
      {{/ cards.card-item }}
    </div>
  </div>
</section>
