
{{# url}}
<a href="{{ url }}" class="card {{ classes }}">
{{/ url}}
{{^ url}}
<div class="card {{ classes }}" {{# data-href }} data-href="{{ data-href }}" {{/ data-href }}>
{{/ url}}
  {{# card-media }}
    {{# card-media.icon }}
    <span class="card-icon-top {{ card-media.classes }} vdm {{ card-media.icon }}" aria-hidden="true"></span>
    {{/ card-media.icon }}
    {{# card-media.img }}
    <img class="card-img-top {{ card-media.img.classes }}" src="{{ card-media.img.url}}" alt="{{ card-media.img.alt }}">
    {{/ card-media.img }}
  {{/ card-media }}
  <div class="card-body">
    {{# card-tags }}
    <span class="card-tags {{class}}">{{ tag }}</span>
    {{/ card-tags }}
    {{# card-date }}
    <span class="card-date">{{ card-date }}</span>
    {{/ card-date }}
    {{# card-title }}
    <span class="card-title">{{ card-title }}</span>
    {{/ card-title }}
    {{# card-text }}
    <p class="card-text">{{ card-text }}</p>
    {{/ card-text }}
    {{# card-inception-links }}
      {{{ card-inception-links }}}
    {{/ card-inception-links }}
    {{# card-text-muted }}
    <span class="text-muted">{{ card-text-muted }}</span>
    {{/ card-text-muted }}
    {{# card-complex-content }}
      <div class="row">
        <div class="col-12 col-md-8 col-lg-9 align-self-center">
          <span class="card-label">{{ label1 }}</span>
          <p class="card-text">{{ info1 }}</p>
          <div class="row">
            <div class="col-12 col-lg-8">
              <span class="card-label">{{ label2 }}</span>
              <p class="card-text">{{ info2 }}</p>
            </div>
            <div class="col-12 col-lg-4">
              <span class="card-label">{{ label3 }}</span>
              <p class="card-text">{{ info3 }}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          {{> molecules-popovers-icon }}
          {{# card-metadata }}
            {{# card-metadata.success }}
            <div class="card-progress">
              {{> atoms-progress-circle(ariaNow: 20, progressCircleClass: "progress-success", progressCompleteText: "Inférieur à 20% de la quantité seuil réglementaire") }}
            </div>
            {{/ card-metadata.success }}
            {{# card-metadata.warning }}
              {{> atoms-progress-circle(ariaNow: 80, progressCircleClass: "progress-warning", progressCompleteText: "Inférieur à 80% de la quantité seuil réglementaire") }}
            {{/ card-metadata.warning }}
            {{# card-metadata.alert }}
              {{> atoms-progress-circle(ariaNow: 100, progressCircleClass: "progress-warning", progressCompleteText: "100% de la quantité seuil réglementaire") }}
            {{/ card-metadata.alert }}
          {{/ card-metadata }}
        </div>
      </div>
    {{/ card-complex-content }}
    {{# card-button }}
    <a href="#" class="btn btn-primary">Go somewhere</a>
    {{/ card-button }}
    {{# footer.inside-body }}
    <div class="card-footer">
      {{# footer.text}}
      <span class="card-footer-label">
        {{ footer.text }}
      </span>
      {{/ footer.text}}
      <span class="vdm vdm-063-fleche-droite" aria-hidden="true"></span>
    </div>
    {{/ footer.inside-body }}
  </div>
  {{# card-metadata }}
  <div class="card-metadata">
    <span class="identifier">
      {{ card-metadata }}
    </span>
  </div>
  {{/ card-metadata }}
  {{# footer.outside-body }}
  <div class="card-footer">
    {{# footer.text}}
    <span class="card-footer-label">
      {{ footer.text }}
    </span>
    {{/ footer.text}}
    <span class="vdm vdm-063-fleche-droite" aria-hidden="true"></span>
  </div>
  {{/ footer.outside-body }}
{{# url }}
</a>
{{/ url }}
{{^url}}
</div>
{{/ url}}
