{{# url}}
<a href="{{ url }}" class="card {{ classes }}">
{{/ url}}
{{^ url}}
<div class="card {{ classes }}">
{{/ url}}
  <div class="card-section">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <span class="card-label">{{ card-label-1 }}</span>
          <span class="small">{{ card-item-1 }}</span>
        </div>
        <div class="col-lg-6 align-self-center">
          {{# card-link}}
          <a href="{{card-link.url}}" class="card-link {{card-link.class}}">{{ card-link.label }} {{> atoms-fonticon-item(icon-label: "063-fleche-droite")}}</a>
          {{/ card-link}}
        </div>
      </div>
    </div>
  </div>
  {{# card-teaser-tarif}}
  <div class="card-section {{ class }}">
    <div class="card-body text-center">{{{ card-tarif-text }}}</div>
  </div>
  {{/ card-teaser-tarif}}
  {{# card-table-tarif}}
  <div class="card-section {{ class }}">
    {{> atoms-table}}
  </div>
  {{/ card-table-tarif}}
{{# url }}
</a>
{{/ url }}
{{^url}}
</div>
{{/ url}}
