{{# content-header-extras}}
<div class="content-header-extras">
  {{^ customExtras}}
  {{^ hideExtraMetaInfos}}
  <div class="content-header-extras-item list-inline-interpunct">
    {{# publicationDate}}
    <div class="list-inline-item">Publié le&nbsp;<time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time></div>
    {{/ publicationDate}}
    {{# updatedDate}}
    <div class="list-inline-item">Mis à jour le&nbsp;<time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time></div>
    {{/ updatedDate}}
    {{# readTime}}
    <div class="list-inline-item">Temps de lecture : {{readTime}}</div>
    {{/ readTime}}
  </div>
  {{/ hideExtraMetaInfos}}
  {{/ customExtras}}
  {{# customExtras}}
  <div class="content-header-extras-item">
    {{# customExtrasItems}}
    <span class="font-weight-bold mr-1">{{ customLabel}}</span>
    <span>{{{ customContent }}}</span>
    {{/ customExtrasItems}}
  </div>
  {{/ customExtras}}
  {{# linkedContent}}
  <div class="content-header-extras-item">
    {{^ customLabel}}
    <span class="mr-1">Relié à </span>
    {{/ customLabel}}
    {{# customLabel}}
    <span class="mr-1">{{ customLabel }}</span>
    {{/ customLabel}}
    {{# linkedContentItem}}<a href="{{url}}" class="mr-1">{{label}}</a>{{/ linkedContentItem}}
  </div>
  {{/ linkedContent}}
</div>
{{/ content-header-extras}}
