<div class="pl-swatches-flex">
  <div class="pl-swatches-wrapper">
    <h2 class="h5">Brand color</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-sub-brand"></span></div>
        <div class="pl-swatch-item" data-header="Color">Rouge Montréal</div>
        <div class="pl-swatch-item" data-header="Variable">$vdm-sub-brand</div>
        <div class="pl-swatch-item" data-header="Hex">#e00000</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-black"></span></div>
        <div class="pl-swatch-item" data-header="Color">Black</div>
        <div class="pl-swatch-item" data-header="Variable">$black</div>
        <div class="pl-swatch-item" data-header="Hex">#000000</div>
      </div>
    </div>

    <h2 class="h5">Accent color</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-sarcelle"></span></div>
        <div class="pl-swatch-item" data-header="Color">Sarcelle</div>
        <div class="pl-swatch-item" data-header="Variable">$vdm-brand</div>
        <div class="pl-swatch-item" data-header="Hex">#429a8e</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-sarcelle-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Dark Sarcelle</div>
        <div class="pl-swatch-item" data-header="Variable">$dark-sarcelle</div>
        <div class="pl-swatch-item" data-header="Hex">#097d6c</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-sarcelle-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Light Sarcelle</div>
        <div class="pl-swatch-item" data-header="Variable">$light-sarcelle</div>
        <div class="pl-swatch-item" data-header="Hex">#87dfd3</div>
      </div>
    </div>

    <h2 class="h5">Neutral color</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-white"></span></div>
        <div class="pl-swatch-item" data-header="Color">White</div>
        <div class="pl-swatch-item" data-header="Variable">$white</div>
        <div class="pl-swatch-item" data-header="Hex">#ffffff</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-100"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 100</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-100</div>
        <div class="pl-swatch-item" data-header="Hex">#f8f9fa</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-200"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 200</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-200</div>
        <div class="pl-swatch-item" data-header="Hex">#e9ecef</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-300"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 300</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-300</div>
        <div class="pl-swatch-item" data-header="Hex">#dee2e6</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-400"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 400</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-400</div>
        <div class="pl-swatch-item" data-header="Hex">#ced4da</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-500"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 500</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-500</div>
        <div class="pl-swatch-item" data-header="Hex">#adb5bd</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-600"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 600</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-600</div>
        <div class="pl-swatch-item" data-header="Hex">#6c757d</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-700"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 700</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-700</div>
        <div class="pl-swatch-item" data-header="Hex">#495057</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-800"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 800</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-800</div>
        <div class="pl-swatch-item" data-header="Hex">#343a40</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-gray-900"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 900</div>
        <div class="pl-swatch-item" data-header="Variable">$gray-900</div>
        <div class="pl-swatch-item" data-header="Hex">#212529</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-black"></span></div>
        <div class="pl-swatch-item" data-header="Color">Black</div>
        <div class="pl-swatch-item" data-header="Variable">$black</div>
        <div class="pl-swatch-item" data-header="Hex">#000000</div>
      </div>
    </div>

    <h2 class="h5">UI color</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-primary"></span></div>
        <div class="pl-swatch-item" data-header="Color">Blue</div>
        <div class="pl-swatch-item" data-header="Variable">$blue, $primary</div>
        <div class="pl-swatch-item" data-header="Hex">#007bff</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-success"></span></div>
        <div class="pl-swatch-item" data-header="Color">Green</div>
        <div class="pl-swatch-item" data-header="Variable">$green, $success</div>
        <div class="pl-swatch-item" data-header="Hex">#28a745</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-info"></span></div>
        <div class="pl-swatch-item" data-header="Color">Cyan</div>
        <div class="pl-swatch-item" data-header="Variable">$cyan, $info</div>
        <div class="pl-swatch-item" data-header="Hex">#17a2b8</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-warning"></span></div>
        <div class="pl-swatch-item" data-header="Color">Yellow</div>
        <div class="pl-swatch-item" data-header="Variable">$yellow, $warning</div>
        <div class="pl-swatch-item" data-header="Hex">#ffc107</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item"><span class="pl-swatch-round pl-danger"></span></div>
        <div class="pl-swatch-item" data-header="Color">Red</div>
        <div class="pl-swatch-item" data-header="Variable">$red, $danger</div>
        <div class="pl-swatch-item" data-header="Hex">#dc3545</div>
      </div>
    </div>
  </div>
</div>
