<div class="pl-swatches-flex">
  <div class="pl-swatches-wrapper">
    <h2 class="pl-swatches-title">Brand colors</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-brand"></span></div>
        <div class="pl-swatch-item" data-header="Color">Rouge Montréal</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$brand</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#e00000</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-black"></span></div>
        <div class="pl-swatch-item" data-header="Color">Black</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$black</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#000000</div>
      </div>
    </div>

    <h2 class="pl-swatches-title">Main neutral colors</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-ink"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gris encre</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-ink</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#637381</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-sky"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gris ciel</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-sky</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#f4f6f8</div>
      </div>
    </div>

    <h2 class="pl-swatches-title">Primary colors</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-sarcelle"></span></div>
        <div class="pl-swatch-item" data-header="Color">Sarcelle</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$primary, $sarcelle</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#097d6c</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-sarcelle-dark"></span></div>
        <div class="pl-swatch-item" data-header="Color">Sarcelle foncé</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$sarcelle-dark</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#075b4f</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-sarcelle-surprise"></span></div>
        <div class="pl-swatch-item" data-header="Color">Sarcelle Surprise</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$sarcelle-surprise</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0cb097</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-sarcelle-atmos"></span></div>
        <div class="pl-swatch-item" data-header="Color">Sarcelle Atmos</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$sarcelle-atmos</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#87dfd3</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-sarcelle-light"></span></div>
        <div class="pl-swatch-item" data-header="Color">Sarcelle Léger (Pepermane)</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$sarcelle-light</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#d0f3ee</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-sarcelle-lightest"></span></div>
        <div class="pl-swatch-item" data-header="Color">Sarcelle - Ultra léger</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$sarcelle-lightest</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#eefaf8</div>
      </div>
    </div>

    <h2 class="pl-swatches-title">Dialog colors</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-info"></span></div>
        <div class="pl-swatch-item" data-header="Color">Blue</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$blue, $info</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0296c0</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-success"></span></div>
        <div class="pl-swatch-item" data-header="Color">Green</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$green, $success</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#0da566</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-warning"></span></div>
        <div class="pl-swatch-item" data-header="Color">Yellow</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$yellow, $warning</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#fecc03</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-danger"></span></div>
        <div class="pl-swatch-item" data-header="Color">Red</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$red, $danger</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ff3200</div>
      </div>
    </div>

    <h2 class="pl-swatches-title">Neutral colors</h2>
    <div class="pl-swatches">
      <div class="pl-swatch pl-swatch-header">
        <div class="pl-swatch-item"></div>
        <div class="pl-swatch-item">Color</div>
        <div class="pl-swatch-item">Variable</div>
        <div class="pl-swatch-item">Hex</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-900"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 900</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-900</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#212529</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-800"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 800</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-800</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#343a40</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-700"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 700</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-700</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#495057</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-600"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 600</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-600</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#868e96</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-500"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 500</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-500</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#adb5bd</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-400"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 400</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-400</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#ced4da</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-300"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 300</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-300</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#dee2e6</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-200"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 200</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-200</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#e9ecef</div>
      </div>
      <div class="pl-swatch">
        <div class="pl-swatch-item pl-swatch-item-fw"><span class="pl-swatch-square pl-gray-100"></span></div>
        <div class="pl-swatch-item" data-header="Color">Gray 100</div>
        <div class="pl-swatch-item select-all" data-header="Variable">$gray-100</div>
        <div class="pl-swatch-item select-all" data-header="Hex">#868e96</div>
      </div>
    </div>
  </div>
</div>
