<div class="container pl-atom-color pl-columns">
  <div class="pl-swatches-wrapper">
    <br><br>
    <h2>Typographie</h2>
    <br>
    <div class="pl-swatches-wrapper">
      <div class="pl-swatches">
        <p class="regular">NunitoSans-Regular Aa Zz</p><br>
        <p class="bold">NunitoSans-Bold Aa Zz</p><br>
        <p class="light">NunitoSans-Light Aa Zz</p><br>
        <!--<div><em>Primary font italic: Nunito Sans</em></div><br>-->
        <!--<div><strong>Primary font bold: Nunito Sans</strong></div><br>-->
      </div>
    </div>
    <br><br>
    <!--<h2>Links</h2>-->
    <!--<br>-->
    <!--<div class="pl-swatches-wrapper">-->
      <!--<div class="pl-swatches">-->
        <!--<div><a href="#">Hyperlink</a></div><br>-->
      <!--</div>-->
    <!--</div>-->
    <!--<br><br>-->
  </div>
</div>
