<div class="container pl-atom-color pl-columns">
  <div class="pl-swatches-wrapper">
    <h2>Typographie</h2>
    <div class="pl-swatches-wrapper">
      <div class="pl-swatches">
        <div>Primary font: Nunito Sans - bold</div>
        <div><em>Primary font light: Nunito Sans - bold</em></div>
        <div><strong>Primary font bold: Nunito Sans - bold</strong></div>
      </div>
    </div>
    <br><br>
    <h2>Styles</h2>
    <div class="pl-swatches-wrapper">
      <div class="pl-swatches">
        <div>Light</div>
        <div>Light Italic</div>
        <div>Regular</div>
        <div>Regular Italic</div>
        <div>Semi-Bold</div>
        <div>Semi-Bold Italic</div>
        <div>Bold</div>
        <div>Bold Italic</div>
      </div>
    </div>
  </div>
</div>
