<div class="cotainer-fluid pl-atom-icons-grid">
	<ul class="row list-unstyled">
    {{#icons }}
    <li class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="pl-atom-icon-item">
        {{> atoms-fonticon-item }}
        <span class="ic-name">{{ icon-label }}</span>
      </div>
    </li>
    {{/icons}}
  </ul>
</div>
