<h3>Icon font<h3>
<ul id="icons">
    <li class="font-icon">
    <span class="font-glyph" data-clipboard-text=""></span>
    <span class="font-glyphname" data-icon="">
    <br>rosace<br>
    <span class="glyph-address" data-clipboard-text="E000">
    &amp;#xE000;</span>
    </span>
    </li>
<ul>