<!-- @TO-DO : Make this markup accessible @see http://fontawesome.io/accessibility/ -->
<!-- @TO-DO : Create a translated strings catalogue for accessibility -->
<!-- @TO-DO : implement this catalogue grid higher up into organisms -->
<!-- @TO-DO : develop a custom cut & paste method with the complete html tag -->
<div class="container-fluid pl-atom-icons-grid">
	<div class="wrapper">
        <h2>Icones</h2><br/>
        <ul>
            <li>
                <i class="vdmi ic-rosette" aria-hidden="true"></i>
                <span class="ic-name">rosette</span>
                <span class="ic-charcode">\E000</span>
            <li>
            <li>
                <i class="vdmi ic-search" aria-hidden="true"></i>
                <span class="ic-name">search</span>
                <span class="ic-charcode">\E001</span>
            <li>
            <li>
                <i class="vdmi ic-profile" aria-hidden="true"></i>
                <span class="ic-name">profile</span>
                <span class="ic-charcode">\E002</span>
            <li>
            <li>
                <i class="vdmi ic-flag" aria-hidden="true"></i>
                <span class="ic-name">flag</span>
                <span class="ic-charcode">\E003</span>
            <li>
            <li>
                <i class="vdmi ic-calendar" aria-hidden="true"></i>
                <span class="ic-name">calendar</span>
                <span class="ic-charcode">\E004</span>
            <li>
            <li>
                <i class="vdmi ic-sun" aria-hidden="true"></i>
                <span class="ic-name">sun</span>
                <span class="ic-charcode">\E005</span>
            <li>
            <li>
                <i class="vdmi ic-ticket" aria-hidden="true"></i>
                <span class="ic-name">ticket</span>
                <span class="ic-charcode">\E006</span>
            <li>
            <li>
                <i class="vdmi ic-eye" aria-hidden="true"></i>
                <span class="ic-name">eye</span>
                <span class="ic-charcode">\E007</span>
            <li>
            <li>
                <i class="vdmi ic-people" aria-hidden="true"></i>
                <span class="ic-name">people</span>
                <span class="ic-charcode">\E008</span>
            <li>
            <li>
                <i class="vdmi ic-doc-holder" aria-hidden="true"></i>
                <span class="ic-name">doc-holder</span>
                <span class="ic-charcode">\E009</span>
            <li>
            <li>
                <i class="vdmi ic-bus" aria-hidden="true"></i>
                <span class="ic-name">bus</span>
                <span class="ic-charcode">\E00A</span>
            <li>
            <li>
                <i class="vdmi ic-phone" aria-hidden="true"></i>
                <span class="ic-name">phone</span>
                <span class="ic-charcode">\E00B</span>
            <li>
            <li>
                <i class="vdmi ic-book" aria-hidden="true"></i>
                <span class="ic-name">book</span>
                <span class="ic-charcode">\E00C</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-play" aria-hidden="true"></i>
                <span class="ic-name">arrow-play</span>
                <span class="ic-charcode">\E00D</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-select" aria-hidden="true"></i>
                <span class="ic-name">arrow-select</span>
                <span class="ic-charcode">\E00E</span>
            <li>
            <li>
                <i class="vdmi ic-news-item" aria-hidden="true"></i>
                <span class="ic-name">news-item</span>
                <span class="ic-charcode">\E00F</span>
            <li>
            <li>
                <i class="vdmi ic-location-star" aria-hidden="true"></i>
                <span class="ic-name">location-star</span>
                <span class="ic-charcode">\E010</span>
            <li>
            <li>
                <i class="vdmi ic-permit-id" aria-hidden="true"></i>
                <span class="ic-name">permit-id</span>
                <span class="ic-charcode">\E011</span>
            <li>
            <li>
                <i class="vdmi ic-document" aria-hidden="true"></i>
                <span class="ic-name">document</span>
                <span class="ic-charcode">\E012</span>
            <li>
            <li>
                <i class="vdmi ic-credit-card" aria-hidden="true"></i>
                <span class="ic-name">credit-card</span>
                <span class="ic-charcode">\E013</span>
            <li>
            <li>
                <i class="vdmi ic-folder" aria-hidden="true"></i>
                <span class="ic-name">folder</span>
                <span class="ic-charcode">\E014/span>
            <li>
            <li>
                <i class="vdmi ic-bell" aria-hidden="true"></i>
                <span class="ic-name">bell</span>
                <span class="ic-charcode">\E015</span>
            <li>
            <li>
                <i class="vdmi ic-settings" aria-hidden="true"></i>
                <span class="ic-name">settings</span>
                <span class="ic-charcode">\E016</span>
            <li>
            <li>
                <i class="vdmi ic-plus-circle-dot" aria-hidden="true"></i>
                <span class="ic-name">plus-circle-dot</span>
                <span class="ic-charcode">\E017</span>
            <li>
            <li>
                <i class="vdmi ic-minus-circle-dot" aria-hidden="true"></i>
                <span class="ic-name">minus-circle-dot</span>
                <span class="ic-charcode">\E018</span>
            <li>
            <li>
                <i class="vdmi ic-steps-checked" aria-hidden="true"></i>
                <span class="ic-name">steps-checked</span>
                <span class="ic-charcode">\E019</span>
            <li>
            <li>
                <i class="vdmi ic-ellipsis-circle-dot" aria-hidden="true"></i>
                <span class="ic-name">ellipsis-circle-dot</span>
                <span class="ic-charcode">\E01A</span>
            <li>
            <li>
                <i class="vdmi ic-enveloppe" aria-hidden="true"></i>
                <span class="ic-name">enveloppe</span>
                <span class="ic-charcode">\E01B</span>
            <li>
            <li>
                <i class="vdmi ic-folder-add" aria-hidden="true"></i>
                <span class="ic-name">folder-add</span>
                <span class="ic-charcode">\E01C</span>
            <li>
            <li>
                <i class="vdmi ic-warning-triangle" aria-hidden="true"></i>
                <span class="ic-name">warning-triangle</span>
                <span class="ic-charcode">\E01D</span>
            <li>
            <li>
                <i class="vdmi ic-computer" aria-hidden="true"></i>
                <span class="ic-name">computer</span>
                <span class="ic-charcode">\E01E</span>
            <li>
            <li>
                <i class="vdmi ic-nut" aria-hidden="true"></i>
                <span class="ic-name">nut</span>
                <span class="ic-charcode">\E01F</span>
            <li>
            <li>
                <i class="vdmi ic-pencil" aria-hidden="true"></i>
                <span class="ic-name">pencil</span>
                <span class="ic-charcode">\E020/span>
            <li>
            <li>
                <i class="vdmi ic-lightbulb" aria-hidden="true"></i>
                <span class="ic-name">lightbulb</span>
                <span class="ic-charcode">\E021</span>
            <li>
            <li>
                <i class="vdmi ic-pen" aria-hidden="true"></i>
                <span class="ic-name">pen</span>
                <span class="ic-charcode">\E022</span>
            <li>
            <li>
                <i class="vdmi ic-warning-circle" aria-hidden="true"></i>
                <span class="ic-name">warning-circle</span>
                <span class="ic-charcode">\E023</span>
            <li>
            <li>
                <i class="vdmi ic-clock" aria-hidden="true"></i>
                <span class="ic-name">clock</span>
                <span class="ic-charcode">\E024</span>
            <li>
            <li>
                <i class="vdmi ic-target" aria-hidden="true"></i>
                <span class="ic-name">target</span>
                <span class="ic-charcode">\E025</span>
            <li>
            <li>
                <i class="vdmi ic-broom" aria-hidden="true"></i>
                <span class="ic-name">broom</span>
                <span class="ic-charcode">\E026</span>
            <li>
            <li>
                <i class="vdmi ic-permit" aria-hidden="true"></i>
                <span class="ic-name">permit</span>
                <span class="ic-charcode">\E027</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-circle-up" aria-hidden="true"></i>
                <span class="ic-name">arrow-circle-up</span>
                <span class="ic-charcode">\E028</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-circle-up" aria-hidden="true"></i>
                <span class="ic-name">arrow-circle-right</span>
                <span class="ic-charcode">\E029</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-circle-down" aria-hidden="true"></i>
                <span class="ic-name">arrow-circle-down</span>
                <span class="ic-charcode">\E02A</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-circle-left" aria-hidden="true"></i>
                <span class="ic-name">arrow-circle-left</span>
                <span class="ic-charcode">\E02B</span>
            <li>
            <li>
                <i class="vdmi ic-house" aria-hidden="true"></i>
                <span class="ic-name">house</span>
                <span class="ic-charcode">\E02C</span>
            <li>
            <li>
                <i class="vdmi ic-x-close" aria-hidden="true"></i>
                <span class="ic-name">x-close</span>
                <span class="ic-charcode">\E02D</span>
            <li>
            <li>
                <i class="vdmi ic-circle-progress-done" aria-hidden="true"></i>
                <span class="ic-name">circle-progress-done</span>
                <span class="ic-charcode">\E02E</span>
            <li>
            <li>
                <i class="vdmi ic-circle-progress-a" aria-hidden="true"></i>
                <span class="ic-name">circle-progress-a</span>
                <span class="ic-charcode">\E02F</span>
            <li>
            <li>
                <i class="vdmi ic-circle-progress-ab" aria-hidden="true"></i>
                <span class="ic-name">circle-progress-ab</span>
                <span class="ic-charcode">\E030</span>
            <li>
            <li>
                <i class="vdmi ic-circle-progress-abc" aria-hidden="true"></i>
                <span class="ic-name">circle-progress-abc</span>
                <span class="ic-charcode">\E031</span>
            <li>
            <li>
                <i class="vdmi ic-circle-progress-c" aria-hidden="true"></i>
                <span class="ic-name">circle-progress-c</span>
                <span class="ic-charcode">\E032</span>
            <li>
            <li>
                <i class="vdmi ic-circle-progress-bc" aria-hidden="true"></i>
                <span class="ic-name">circle-progress-bc</span>
                <span class="ic-charcode">\E033</span>
            <li>
            <li>
                <i class="vdmi ic-circle-progress-checked" aria-hidden="true"></i>
                <span class="ic-name">circle-progress-checked</span>
                <span class="ic-charcode">\E034</span>
            <li>
            <li>
                <i class="vdmi ic-circle-progress-folder" aria-hidden="true"></i>
                <span class="ic-name">circle-progress-folder</span>
                <span class="ic-charcode">\E035</span>
            <li>
            <li>
                <i class="vdmi ic-chevron-up" aria-hidden="true"></i>
                <span class="ic-name">chevron-up</span>
                <span class="ic-charcode">\E036</span>
            <li>
            <li>
                <i class="vdmi ic-chevron-right" aria-hidden="true"></i>
                <span class="ic-name">chevron-right</span>
                <span class="ic-charcode">\E037</span>
            <li>
            <li>
                <i class="vdmi ic-chevron-down" aria-hidden="true"></i>
                <span class="ic-name">chevron-down</span>
                <span class="ic-charcode">\E038</span>
            <li>
            <li>
                <i class="vdmi ic-chevron-left" aria-hidden="true"></i>
                <span class="ic-name">chevron-left</span>
                <span class="ic-charcode">\E039</span>
            <li>
            <li>
                <i class="vdmi ic-circle-checked" aria-hidden="true"></i>
                <span class="ic-name">circle-checked</span>
                <span class="ic-charcode">\E03A</span>
            <li>
            <li>
                <i class="vdmi ic-menu" aria-hidden="true"></i>
                <span class="ic-name">menu</span>
                <span class="ic-charcode">\E100</span>
            <li>
            <li>
                <i class="vdmi ic-location" aria-hidden="true"></i>
                <span class="ic-name">location</span>
                <span class="ic-charcode">\E101</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-up" aria-hidden="true"></i>
                <span class="ic-name">arrow-up</span>
                <span class="ic-charcode">\E102</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-right" aria-hidden="true"></i>
                <span class="ic-name">arrow-right</span>
                <span class="ic-charcode">\E103</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-down" aria-hidden="true"></i>
                <span class="ic-name">arrow-down</span>
                <span class="ic-charcode">\E104</span>
            <li>
            <li>
                <i class="vdmi ic-arrow-left" aria-hidden="true"></i>
                <span class="ic-name">arrow-left</span>
                <span class="ic-charcode">\E105</span>
            <li>
            <li>
                <i class="vdmi ic-plus" aria-hidden="true"></i>
                <span class="ic-name">plus</span>
                <span class="ic-charcode">\E200</span>
            <li>
            <li>
                <i class="vdmi ic-minus" aria-hidden="true"></i>
                <span class="ic-name">minus</span>
                <span class="ic-charcode">\E201</span>
            <li>
            <li>
                <i class="vdmi ic-multiply" aria-hidden="true"></i>
                <span class="ic-name">multiply</span>
                <span class="ic-charcode">\E202</span>
            <li>
            <li>
                <i class="vdmi ic-circle-plus" aria-hidden="true"></i>
                <span class="ic-name">circle-plus</span>
                <span class="ic-charcode">\E203</span>
            <li>
            <li>
                <i class="vdmi ic-circle-minus" aria-hidden="true"></i>
                <span class="ic-name">circle-minus</span>
                <span class="ic-charcode">\E204</span>
            <li>
            <li>
                <i class="vdmi ic-circle-multiply" aria-hidden="true"></i>
                <span class="ic-name">circle-multiply</span>
                <span class="ic-charcode">\E205</span>
            <li>
            <li>
                <i class="vdmi ic-circle-plus-invert" aria-hidden="true"></i>
                <span class="ic-name">circle-plus-invert</span>
                <span class="ic-charcode">\E206</span>
            <li>
            <li>
                <i class="vdmi ic-circle-minus-invert" aria-hidden="true"></i>
                <span class="ic-name">circle-minus-invert</span>
                <span class="ic-charcode">\E207</span>
            <li>
            <li>
                <i class="vdmi ic-circle-multiply-invert" aria-hidden="true"></i>
                <span class="ic-name">circle-multiply-invert</span>
                <span class="ic-charcode">\E208</span>
            <li>
            <li>
                <i class="vdmi ic-checkbox-checked" aria-hidden="true"></i>
                <span class="ic-name">checkbox-checked</span>
                <span class="ic-charcode">\E209</span>
            <li>
            <li>
                <i class="vdmi ic-checkbox-empty" aria-hidden="true"></i>
                <span class="ic-name">checkbox-empty</span>
                <span class="ic-charcode">\E20A</span>
            <li>
            <li>
                <i class="vdmi ic-checkbox-checked-trans" aria-hidden="true"></i>
                <span class="ic-name">checkbox-checked-trans</span>
                <span class="ic-charcode">\E20B</span>
            <li>
            <li>
                <i class="vdmi ic-checkbox-checked-invert" aria-hidden="true"></i>
                <span class="ic-name">checkbox-checked-invert</span>
                <span class="ic-charcode">\E20C</span>
            <li>
            <li>
                <i class="vdmi ic-trash" aria-hidden="true"></i>
                <span class="ic-name">trash</span>
                <span class="ic-charcode">\E400</span>
            <li>
            <li>
                <i class="vdmi ic-recycle" aria-hidden="true"></i>
                <span class="ic-name">recycle</span>
                <span class="ic-charcode">\E401</span>
            <li>
            <li>
                <i class="vdmi ic-compost" aria-hidden="true"></i>
                <span class="ic-name">compost</span>
                <span class="ic-charcode">\E402</span>
            <li>
            <li>
                <i class="vdmi ic-greens" aria-hidden="true"></i>
                <span class="ic-name">greens</span>
                <span class="ic-charcode">\E403</span>
            <li>
            <li>
                <i class="vdmi ic-permit-pet" aria-hidden="true"></i>
                <span class="ic-name">permit-pet</span>
                <span class="ic-charcode">\E404</span>
            <li>
        </ul>
        <br/><br/>
        <h2>Médias sociaux</h2><br/>
        <ul style="background-color:#E00000; padding-top:6px;">
            <li>
                <span class="fa-stack fa-xl">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
            </li>
            <li>
                <span class="fa-stack fa-xl">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-youtube fa-stack-1x"></i>
                </span>
            </li>
            <li>
                <span class="fa-stack fa-xl">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x"></i>
                </span>
            </li>
            <li>
                <span class="fa-stack fa-xl">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
            </li>
            <li>
                <span class="fa-stack fa-xl">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x"></i>
                </span>
            </li>
            <li>
                <span class="fa-stack fa-xl">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x"></i>
                </span>
            </li>
        </ul>
    </div>
</div>
