<h3 class="stroked-header">Icon font sample</h3>
<ul id="icons">
    <li class="font-icon">
        <span class="font-glyph" data-clipboard-text=""></span>
        <span class="font-glyphname" data-icon="">
        <br>rosace<br>
        <span class="glyph-address" data-clipboard-text="E000">
            &amp;#xE000;</span>
        </span>
    </li>
</ul>

<h3 class="stroked-header">Inline implementation <span class='pl-smaller'>[.vdmi && .vdmi-item classes]</span></h3>

<h3><i class="vdmi vdmi-rosace" aria-hidden="true"></i>Title 1 inline implementation with a 'vdmi' class</h1>
<h1><i class="vdmi vdmi-rosace" aria-hidden="true"></i>Title 3 inline implementation with a 'vdmi' class</h3>
<p>
    <i class="vdmi vdmi-rosace" aria-hidden="true"></i>Paragraph inline implementation with a 'vdmi' class
</p>
<p>
    <a class="icon-link" href="#" aria-label="Logo de la Ville de Montréal">
        <i class="vdmi vdmi-rosace vdmi-3x" aria-hidden="true"></i>
    </a>
    Linked icon 3x
</p>
    

<h3 class="stroked-header">Icon font directory</h3>
<ul id="icons">
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>rosace<br><span class="glyph-address" data-clipboard-text="E000">&amp;#xE000;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>recherche<br><span class="glyph-address" data-clipboard-text="E001">&amp;#xE001;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>profil<br><span class="glyph-address" data-clipboard-text="E002">&amp;#xE002;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>drapeau<br><span class="glyph-address" data-clipboard-text="E003">&amp;#xE003;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>calendrier<br><span class="glyph-address" data-clipboard-text="E004">&amp;#xE004;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>soleil<br><span class="glyph-address" data-clipboard-text="E005">&amp;#xE005;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>billet<br><span class="glyph-address" data-clipboard-text="E006">&amp;#xE006;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>oeil<br><span class="glyph-address" data-clipboard-text="E007">&amp;#xE007;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>personnes<br><span class="glyph-address" data-clipboard-text="E008">&amp;#xE008;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>porte&nbsp;document<br><span class="glyph-address" data-clipboard-text="E009">&amp;#xE009;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>bus<br><span class="glyph-address" data-clipboard-text="E00A">&amp;#xE00A;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>telephone<br><span class="glyph-address" data-clipboard-text="E00B">&amp;#xE00B;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>livre<br><span class="glyph-address" data-clipboard-text="E00C">&amp;#xE00C;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>jouer<br><span class="glyph-address" data-clipboard-text="E00D">&amp;#xE00D;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche<br><span class="glyph-address" data-clipboard-text="E00E">&amp;#xE00E;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>actualite<br><span class="glyph-address" data-clipboard-text="E00F">&amp;#xE00F;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>localisation&nbsp;etoile<br><span class="glyph-address" data-clipboard-text="E010">&amp;#xE010;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>permis<br><span class="glyph-address" data-clipboard-text="E011">&amp;#xE011;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>document<br><span class="glyph-address" data-clipboard-text="E012">&amp;#xE012;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>carte&nbsp;de_credit<br><span class="glyph-address" data-clipboard-text="E013">&amp;#xE013;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>dossier<br><span class="glyph-address" data-clipboard-text="E014">&amp;#xE014;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cloche<br><span class="glyph-address" data-clipboard-text="E015">&amp;#xE015;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>parametres<br><span class="glyph-address" data-clipboard-text="E016">&amp;#xE016;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>plus&nbsp;circulaire<br><span class="glyph-address" data-clipboard-text="E017">&amp;#xE017;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>moins&nbsp;circulaire<br><span class="glyph-address" data-clipboard-text="E018">&amp;#xE018;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>coche&nbsp;etapes<br><span class="glyph-address" data-clipboard-text="E019">&amp;#xE019;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>3&nbsp;points_circulaire<br><span class="glyph-address" data-clipboard-text="E01A">&amp;#xE01A;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>enveloppe<br><span class="glyph-address" data-clipboard-text="E01B">&amp;#xE01B;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>ajout&nbsp;dossier<br><span class="glyph-address" data-clipboard-text="E01C">&amp;#xE01C;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>attention<br><span class="glyph-address" data-clipboard-text="E01D">&amp;#xE01D;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>ordinateur<br><span class="glyph-address" data-clipboard-text="E01E">&amp;#xE01E;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>ecrous<br><span class="glyph-address" data-clipboard-text="E01F">&amp;#xE01F;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>crayon<br><span class="glyph-address" data-clipboard-text="E020">&amp;#xE020;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>ampoule<br><span class="glyph-address" data-clipboard-text="E021">&amp;#xE021;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>plume<br><span class="glyph-address" data-clipboard-text="E022">&amp;#xE022;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>attention&nbsp;circulaire<br><span class="glyph-address" data-clipboard-text="E023">&amp;#xE023;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>horloge<br><span class="glyph-address" data-clipboard-text="E024">&amp;#xE024;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cible<br><span class="glyph-address" data-clipboard-text="E025">&amp;#xE025;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>balais<br><span class="glyph-address" data-clipboard-text="E026">&amp;#xE026;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>permis&nbsp;generique<br><span class="glyph-address" data-clipboard-text="E027">&amp;#xE027;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche&nbsp;circulaire_haut<br><span class="glyph-address" data-clipboard-text="E028">&amp;#xE028;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche&nbsp;circulaire_droite<br><span class="glyph-address" data-clipboard-text="E029">&amp;#xE029;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche&nbsp;circulaire_bas<br><span class="glyph-address" data-clipboard-text="E02A">&amp;#xE02A;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche&nbsp;circulaire_gauche<br><span class="glyph-address" data-clipboard-text="E02B">&amp;#xE02B;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>maison<br><span class="glyph-address" data-clipboard-text="E02C">&amp;#xE02C;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>grand&nbsp;x<br><span class="glyph-address" data-clipboard-text="E02D">&amp;#xE02D;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cercle&nbsp;progression_complet<br><span class="glyph-address" data-clipboard-text="E02E">&amp;#xE02E;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cercle&nbsp;progression_a<br><span class="glyph-address" data-clipboard-text="E02F">&amp;#xE02F;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cercle&nbsp;progression_ab<br><span class="glyph-address" data-clipboard-text="E030">&amp;#xE030;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cercle&nbsp;progression_abc<br><span class="glyph-address" data-clipboard-text="E031">&amp;#xE031;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cercle&nbsp;progression_c<br><span class="glyph-address" data-clipboard-text="E032">&amp;#xE032;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cercle&nbsp;progression_bc<br><span class="glyph-address" data-clipboard-text="E033">&amp;#xE033;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cercle&nbsp;progression_coche<br><span class="glyph-address" data-clipboard-text="E034">&amp;#xE034;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>cercle&nbsp;progression_dossier<br><span class="glyph-address" data-clipboard-text="E035">&amp;#xE035;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>chevron&nbsp;haut<br><span class="glyph-address" data-clipboard-text="E036">&amp;#xE036;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>chevron&nbsp;droite<br><span class="glyph-address" data-clipboard-text="E037">&amp;#xE037;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>chevron&nbsp;bas<br><span class="glyph-address" data-clipboard-text="E038">&amp;#xE038;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>chevron&nbsp;gauche<br><span class="glyph-address" data-clipboard-text="E039">&amp;#xE039;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>coche&nbsp;circulaire<br><span class="glyph-address" data-clipboard-text="E03A">&amp;#xE03A;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>menu<br><span class="glyph-address" data-clipboard-text="E100">&amp;#xE100;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>localisation<br><span class="glyph-address" data-clipboard-text="E101">&amp;#xE101;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche&nbsp;haut<br><span class="glyph-address" data-clipboard-text="E102">&amp;#xE102;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche&nbsp;droite<br><span class="glyph-address" data-clipboard-text="E103">&amp;#xE103;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche&nbsp;bas<br><span class="glyph-address" data-clipboard-text="E104">&amp;#xE104;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>fleche&nbsp;gauche<br><span class="glyph-address" data-clipboard-text="E105">&amp;#xE105;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>plus<br><span class="glyph-address" data-clipboard-text="E200">&amp;#xE200;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>moins<br><span class="glyph-address" data-clipboard-text="E201">&amp;#xE201;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>x<br><span class="glyph-address" data-clipboard-text="E202">&amp;#xE202;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>plus&nbsp;circulaire<br><span class="glyph-address" data-clipboard-text="E203">&amp;#xE203;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>moins&nbsp;circulaire<br><span class="glyph-address" data-clipboard-text="E204">&amp;#xE204;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>x&nbsp;circulaire<br><span class="glyph-address" data-clipboard-text="E205">&amp;#xE205;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>plus&nbsp;circulaire_plein<br><span class="glyph-address" data-clipboard-text="E206">&amp;#xE206;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>moins&nbsp;circulaire_plein<br><span class="glyph-address" data-clipboard-text="E207">&amp;#xE207;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>x&nbsp;circulaire_plein<br><span class="glyph-address" data-clipboard-text="E208">&amp;#xE208;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>case&nbsp;coche<br><span class="glyph-address" data-clipboard-text="E209">&amp;#xE209;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>case&nbsp;coche_vide<br><span class="glyph-address" data-clipboard-text="E20A">&amp;#xE20A;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>case&nbsp;coche_coche<br><span class="glyph-address" data-clipboard-text="E20B">&amp;#xE20B;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>case&nbsp;coche_plein<br><span class="glyph-address" data-clipboard-text="E20C">&amp;#xE20C;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>dechets&nbsp;et_recyclage<br><span class="glyph-address" data-clipboard-text="E400">&amp;#xE400;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>recyclage<br><span class="glyph-address" data-clipboard-text="E401">&amp;#xE401;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>compostage<br><span class="glyph-address" data-clipboard-text="E402">&amp;#xE402;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>residus&nbsp;verts<br><span class="glyph-address" data-clipboard-text="E403">&amp;#xE403;</span></span>
    </li>
    <li class="font-icon"><span class="font-glyph" data-clipboard-text=""></span><span class="font-glyphname" data-icon=""><br>permis&nbsp;animal<br><span class="glyph-address" data-clipboard-text="E404">&amp;#xE404;</span></span>
    </li>
</ul>