
<h4 class="pl-stroked-header">Relative units</h4>
<p>Font size base from the html element = 16px</p>
<p>1rem = 1em = 100% = 16px without child modifiers</p>
<div class="pl-size-wrapper">
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:0.3rem;">
        <span class="pl-size-unit">0.3rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:0.3em;">
        <span class="pl-size-unit">0.3em</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:0.5rem;">
        <span class="pl-size-unit">0.5rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:0.5em;">
        <span class="pl-size-unit">0.5em</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:0.75rem;">
        <span class="pl-size-unit">0.75rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:0.75em;">
        <span class="pl-size-unit">0.75em</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:1rem;">
        <span class="pl-size-unit">1rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:1em;">
        <span class="pl-size-unit">1em</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:2rem;">
        <span class="pl-size-unit">2rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:2em;">
        <span class="pl-size-unit">2em</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:5rem;">
        <span class="pl-size-unit">5rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:5em;">
        <span class="pl-size-unit">5em</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:10rem;">
        <span class="pl-size-unit">10rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-5" style="height:10em;">
        <span class="pl-size-unit">10em</span>
    </div>
</div>
<h5>Wrapper font-size @ 2rem = 32px</h5>
<div class="pl-vspacer pl-vspacer-10"></div>
<div class="pl-size-wrapper" style="font-size: 2rem">
    <div class="pl-size-block pl-size-inline pl-size-10" style="height:1rem;">
        <span class="pl-size-unit">1rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-10" style="height:1em;">
        <span class="pl-size-unit">1em</span>
    </div>
</div>
<h5>Wrapper font-size = 2em || Result = 32px</h5>
<div class="pl-vspacer pl-vspacer-10"></div>
<div class="pl-size-wrapper" style="font-size: 2em;">
    <div class="pl-size-block pl-size-inline pl-size-10" style="height:1rem;">
        <span class="pl-size-unit">1rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-10" style="height:1em;">
        <span class="pl-size-unit">1em</span>
    </div>
</div>
<h5>Wrapper font-size = 200% || Result = 32px</h5>
<div class="pl-vspacer pl-vspacer-10"></div>
<div class="pl-size-wrapper" style="font-size: 200%;">
    <div class="pl-size-block pl-size-inline pl-size-10" style="height:1rem;">
        <span class="pl-size-unit">1rem</span>
    </div>
    <div class="pl-size-block pl-size-inline pl-size-10" style="height:1em;">
        <span class="pl-size-unit">1em</span>
    </div>
</div>

<div class="pl-vspacer pl-vspacer-50"></div>
<h5>Margins and padding as relative rem units</h5>
<div class="pl-size-box-wrapper">
    <div class="pl-size-box pl-size-box-margin">
        <div class="pl-size-box pl-size-box-base">
            <div class="pl-size-box pl-size-box-padding">
                Box @ 1rem
            </div>
        </div>
    </div>
</div>
<div class="pl-size-box-wrapper pl-size-box-2rem">
    <div class="pl-size-box pl-size-box-margin">
        <div class="pl-size-box pl-size-box-base">
            <div class="pl-size-box pl-size-box-padding">
                Box @ 2rem
            </div>
        </div>
    </div>
</div>