<ul class="social-media-list {{ socialMediaShortClasses }}">
	<li><a href="#" title="Facebook">{{> atoms-fonticon-item(label: "social-facebook") }}<span class="label">Facebook</span></a></li>
	<li><a href="#" title="Linkedin">{{> atoms-fonticon-item(label: "social-linkedin") }}<span class="label">Linkedin</span></a></li>
</ul>
