<ul class="vdm-social-media {{ sm-short-classes }}">
	<li><a href="#" title="Facebook" class="social-icon facebook"><span class="label">Facebook</span></a></li>
	<li><a href="#" title="Linkedin" class="social-icon linkedin"><span class="label">Linkedin</span></a></li>
</ul>