<ul class="social-media-list {{ socialMediaShortClasses }}">
	<li><a href="#" title="Facebook">{{> atoms-fonticon-item(icon-label: "social-facebook") }}<span>Facebook</span></a></li>
	<li><a href="#" title="Linkedin">{{> atoms-fonticon-item(icon-label: "social-linkedin") }}<span>Linkedin</span></a></li>
</ul>
