<ul class="social-media-list {{ socialMediaClasses }}">
	<li><a href="#" title="Facebook">{{> atoms-fonticon-item(label: "social-facebook") }}<span class="label">Facebook</span></a></li>
	<li><a href="#" title="Linkedin">{{> atoms-fonticon-item(label: "social-linkedin") }}<span class="label">Linkedin</span></a></li>
    <li><a href="#" title="Twitter">{{> atoms-fonticon-item(label: "social-twitter") }}<span class="label">Twitter</span></a></li>
    <li><a href="#" title="YouTube">{{> atoms-fonticon-item(label: "social-youtube") }}<span class="label">YouTube</span></a></li>
	<li><a href="#" title="Instagram">{{> atoms-fonticon-item(label: "social-instagram") }}<span class="label">Instagram</span></a></li>
	<li><a href="#" title="Google+">{{> atoms-fonticon-item(label: "social-gplus") }}<span class="label">Google+</span></a></li>
</ul>