<ul class="social-media-list {{ socialMediaClasses }}">
  <li>
    <a href="#" title="Facebook">
      {{> atoms-fonticon-item(icon-label: "social-facebook") }}
      <span>Facebook</span>
    </a>
  </li>
  <li>
    <a href="#" title="Linkedin">
      {{> atoms-fonticon-item(icon-label: "social-linkedin") }}
      <span>Linkedin</span>
    </a>
  </li>
  <li>
    <a href="#" title="Twitter">
      {{> atoms-fonticon-item(icon-label: "social-twitter") }}
      <span>Twitter</span>
    </a>
  </li>
  <li>
    <a href="#" title="YouTube">
      {{> atoms-fonticon-item(icon-label: "social-youtube") }}
      <span>YouTube</span>
    </a>
  </li>
  <li>
    <a href="#" title="Instagram">
      {{> atoms-fonticon-item(icon-label: "social-instagram") }}
      <span>Instagram</span>
    </a>
  </li>
  <li>
    <a href="#" title="Google+">
      {{> atoms-fonticon-item(icon-label: "social-gplus") }}
      <span>Google+</span>
    </a>
  </li>
</ul>
