<ul class="vdm-social-media {{ socialMediaClasses }}">
	<li><a href="#" title="Facebook"  class="social-icon facebook"><span class="label">Facebook</span></a></li>
	<li><a href="#" title="Linkedin"  class="social-icon linkedin"><span class="label">Linkedin</span></a></li>
    <li><a href="#" title="Twitter"  class="social-icon twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" title="YouTube"  class="social-icon youtube"><span class="label">YouTube</span></a></li>
	<li><a href="#" title="Instagram" class="social-icon instagram"><span class="label">Instagram</span></a></li>
	<li><a href="#" title="Google+" class="social-icon googleplus"><span class="label">Google+</span></a></li>
</ul>