{{> atoms-link-skip-to-main-content }}
{{> organisms-header-portal }}

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">
  <div class="container box-content container-padding">
      <div class="summary">
    {{> atoms-badge(badgeClass: "badge-pill badge-success mb-3", badge: "Complétée")}}
      <h1 class="h3 mb-0">Demande : Permis de toiture</h1> 
        <div class="summary-content border-0">
          <div class="row">
            <div class="col-12">
              <span class="label">No de la demande</span>
              <span>PT-2368-67588</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="label">Emplacement</span>
              <span>Maison Mere</span>
              <span>169 boul. Dutrisac, Montréal-Nord, H6T 4R5</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="ohwell">Consulter le permis</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="ohwell">Consulter la demande initiale</a>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <hr/>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="label">Factures</span>
              <span>Permis de toiture : Versement unique</span>
              <span>Montant à payer : 2845,00 $</span>
              <span>Statut : Payé</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="ohwell">Consulter la facture</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>

{{> organisms-footer-portal }}
