<table class="table table-condensed">
  <tr>
    <td style="width:50%"><p class="regular">Montreal - Regulier (400)</p></td>
    <td style="width:50%"><p class="regular">a b c d e f g h i j k l m n o p q r s t u v w x y z<br/>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p><br/></td>
  </tr>
  <tr>
    <td><p class="bold">Montreal - Gras (700)</p></td>
    <td><p class="bold">a b c d e f g h i j k l m n o p q r s t u v w x y z<br/>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p><br/></td>
  </tr>
</table>
