<!DOCTYPE html>
<html{{#htmlClass}} class="{{ htmlClass }}"{{/htmlClass}} lang={{lang}}>
	<head>
		<title>{{ pageTitle }}</title>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex,nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="../../css/patternlab.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/styles.css?{{ cacheBuster }}" media="all" />
		<meta name="author" content="{{ metaAuthor }}">
		<meta name="description" content="{{ metaDescription }}">
		<link rel="icon" type="image/png" href="../../images/favicon.png">
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{{ patternLabHead }}}
		<!-- End Pattern Lab -->

    <!-- Mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Photoswipe -->
    <link rel="stylesheet" href="../../plugin/photoswipe/dist/photoswipe.css"> 

    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)-->
    <link rel="stylesheet" href="../../plugin/photoswipe/dist/default-skin/default-skin.css"> 

    <!-- Core JS file -->
    <script src="../../plugin/photoswipe/dist/photoswipe.min.js"></script> 

    <!-- UI JS file -->
    <script src="../../plugin/photoswipe/dist/photoswipe-ui-default.min.js"></script>


	</head>
	<body class="{{ bodyClass }}">
		