<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ pageTitle }}</title>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="../../css/patternlab.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../fonts/vdm.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/styles.css?{{ cacheBuster }}" media="all" />
		<meta name="author" content="{{ metaAuthor }}">
		<meta name="description" content="{{ metaDescription }}">
		<link rel="icon" type="image/png" href="../../images/favicon.png">
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{{ patternLabHead }}}
		<!-- End Pattern Lab -->

    <!-- Leaflet -->
    <!--
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
   -->

    <!-- Mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />


	</head>
	<body class="{{ bodyClass }}">
		