<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="../../css/patternlab.css" media="all" />
		<link rel="stylesheet" href="../../css/styles.css" media="all" />
		<meta name="author" content="{{ metaAuthor }}">
		<meta name="description" content="{{ metaDescription }}">
		<link rel="icon" type="image/gif" href="../../images/icons/favicon.gif">
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{{ patternLabHead }}}
		<!-- End Pattern Lab -->
	</head>
	<body class="{{ bodyClass }}">	
		