	<script src="../../js/vendor/jquery.slim.min.js"></script>
	<script src="../../js/vendor/popper.min.js"></script>
	<script src="../../js/vendor/bootstrap.min.js"></script>
	<script src="../../js/vdm-bao.js"></script>
	<!--
	<script src="../../js/application.js"></script>
	-->	
	<!--DO NOT REMOVE-->
	{{{ patternLabFoot }}}
	
	</body>
</html>