<script src="../../js/vendor/jquery-slim.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/vdm-bao.js"></script>
			
	<!--DO NOT REMOVE-->
	{{{ patternLabFoot }}}
	
	</body>
</html>