{{> styles-link-skip-to-main-content }}

<header class="header-main-nav {{# navbarFixedTop}}is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">
  
  <div class="container pt-4 pt-lg-8">
    <div class="row{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
      <div class="col-12 col-lg-7">
        {{> components-breadcrumbs}}
      </div>
    </div>
  </div>

  {{# documentHeading}}
  <div class="mb-4 mb-lg-0">
  {{> patterns-content-header}}
  </div>
  {{/ documentHeading}}

  <div class="region-content pt-0">

    <div class="container">

      <div class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
          <header class="content-header">

            <h1>{{ heading }}</h1>

            {{# has-badges}}
            <div class="badges-container">
              {{# badges}}
              {{> components-badge}}
              {{/ badges}}
            </div>
            {{/ has-badges}}

            <div class="d-flex flex-wrap">
              {{# publicationDate}}
              <div class="publication-date">
                Mis à jour le <time datetime="{{dateTimeFormat}}">{{{dateTimeText}}}</time>
              </div>
              {{/ publicationDate}}
              {{# readTime}}
                {{> styles-icon-item(icon-name: "icon-dot-interpunct")}}
              <div class="publication-date">{{readTime}}</div>
              {{/ readTime}}
            </div>
          </header>
          
          <div class="lead">
            {{{ lead }}}
          </div>

          {{# module-content}}
          <div class="content-modules">
          {{> templates-citoyens-article-content}}
          </div>
          {{/ module-content}}

        </div>

        {{# sidebarRight}}
        <aside class="col-12 col-lg-4" role="complementary">
          {{> templates-citoyens-sidebar-article}}
        </aside>
        {{/ sidebarRight}}

      </div>

      <section class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
        {{> components-feedback-form}}
        </div>
      </section>

    </div>
  </div>
</main>

{{> patterns-footer-main }}
