//
// function @theme-color-level upgrade
// add of a parameter of $theme-color-interval to set up the rigth color to the alert
//
@function dialog-color-level($color-name: "primary", $level: 0, $theme-color-interval: 8%) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, $black, $white);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

// Alert
// assign dialog-color to have not more than four
@each $color, $value in $dialog-colors {
    .alert-#{$color} {
	   @include alert-variant(
		   dialog-color-level($color, $alert-bg-level, $alert-bg-level-interval),
		   dialog-color-level($color, $alert-border-level), 
		   dialog-color-level($color, $alert-color-level, $alert-color-level-interval)
		   );
    }
}