{{^ badgeUrl }}
<span class="badge {{ badgeClass }}">{{ badge }}</span>
{{# badge-sr-text }}
<span class="sr-only">{{ badge-sr-text }}</span>
{{/ badge-sr-text }}
{{/ badgeUrl }}
{{# badgeUrl }}
<a href="{{ badgeUrl }}" class="badge {{ badgeClass }}">{{ badge }}</a>
{{/ badgeUrl }}