{{> styles-skip-links-section }}

<header class="header-main-nav{{# navbarFixedTop}} is-fixed-top{{/navbarFixedTop}}">
{{> components-navbar }}
</header>

<main class="main-content {{ pageClasses }}" id="main-content" aria-label="Main Content" role="main">

  {{# breadcrumb}}
  <div class="container pt-4 pt-lg-8">
    <div class="row{{^ sidebarRight}}{{^documentHeading}} justify-content-center{{/documentHeading}}{{/ sidebarRight}}">
      <div class="col-12 col-lg-7">
        {{> components-breadcrumbs}}
      </div>
    </div>
  </div>
  {{/ breadcrumb}}

  {{# documentHeading}}
  <div class="mb-4 mb-lg-0{{^ breadcrumb}}} pt-lg-8{{/ breadcrumb}}">
  {{> patterns-content-header}}
  </div>
  {{/ documentHeading}}

  <div class="region-content{{# breadcrumb}} pt-0{{/ breadcrumb}}">
    <div class="container">
      <div class="row{{# sidebarRight }} justify-content-between{{/ sidebarRight}}{{^ sidebarRight}} justify-content-center{{/ sidebarRight}}">
        <div class="col-12 col-lg-7">
          <header class="content-header">

            <h1>{{ heading }}</h1>

            {{> patterns-content-header-extras}}

          </header>
          
          <div class="lead content-module-stacked">
            {{{ lead }}}
          </div>

          <div class="content-modules">
          {{> styles-paragraph }}
          </div>
          
        </div>
        {{#sidebarRight}}
        <aside class="col-12 col-lg-4" role="complementary">
          <div class="sidebar pt-8{{^ documentHeading}} pt-lg-0{{/documentHeading}}">
            <section class="sb-block">
              {{> styles-heading-sidebar(sidebarTitle: "Titre du block") }}
              {{> components-list-item-link("listGroupClass": "list-group-allow-ext-icon")}}
            </section>
          </div>
        </aside>
        {{/sidebarRight}}

      </div>
    </div>
  </div>
</main>

{{> patterns-footer-main }}
