<a href="#" title="link title text" class="vdm-avatar"><img src="../../../images/avatars/avatar-300-01.jpg" class="img-responsive img-circle" alt="Responsive circular avatar image - 300 pixels" width="300" height="300">
</a>


