<h2>Avatar</h2>

<ul class="pl-list-stacked-block plain">
	<li><a href="#" title="link title text" class="vdm-avatar"><img src="../../images/avatars/avatar-180-01.jpg" alt="Responsive circular avatar image - 180 pixels" width="180" height="180">
</a></li>
	<li><a href="#" title="link title text" class="vdm-avatar"><img src="../../images/avatars/avatar-250-01.jpg" alt="Responsive circular avatar image - 250 pixels" width="250" height="250">
</a></li>
<li><a href="#" title="link title text" class="vdm-avatar"><img src="../../images/avatars/avatar-300-01.jpg" alt="Responsive circular avatar image - 300 pixels" width="300" height="300">
</a></li>
<li><a href="#" title="link title text" class="vdm-avatar"><img src="../../images/avatars/avatar-768-01.jpg" alt="Responsive circular avatar image - 768 pixels" width="768" height="768">
</a></li>
</ul>



