{{> components-skip-navigation}}
<nav class="main-navbar navbar navbar-dark navbar-expand w-100" role="navigation">
  {{# navbarInterneHasMenu}}
  <button type="button" id="menu-interne-toggler" class="btn navbar-btn navbar-btn-icon btn-hide-label-sm ml-0" aria-expanded="false" aria-controls="slide-menu-left">
    <span class="icon icon-menu" aria-hidden="true"></span>
    <span class="sr-only btn-label">Menu</span>
  </button>
  {{> components-main-menu-interne }}
  {{/ navbarInterneHasMenu}}
  <div class="navbar-sitename">
    <span class="sitename">{{ applicationName }}</span>
  </div>
  <div class="navbar-div ml-auto">
    <div class="d-flex align-items-center">
      {{# navbarInterneHasSearch}}
      <button class="btn navbar-btn navbar-btn-icon navbar-search-toggler btn-hide-label-md" id="navbarDropdownSearch" aria-haspopup="true" aria-expanded="false">
        <span class="icon icon-search" aria-hidden="true"></span>
        <span class="btn-label">Recherche</span>
      </button>
      {{/ navbarInterneHasSearch}}
      <div class="navbar-separator d-none d-lg-flex"></div>
        {{^ user-authenticated }}
        <button class="btn navbar-btn navbar-btn-icon btn-hide-label-md">
          <span class="icon icon-user-circle" aria-hidden="true"></span>
          <span class="btn-label">Me connecter</span>
        </button>
        {{/ user-authenticated }}
        {{# user-authenticated }}
        <div class="dropdown">
          <button type="button" class="btn navbar-btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{> components-media-avatar}}
            {{^ user-has-profile}}
            <div class="user-info d-none d-lg-inline-flex ml-2">
              <span class="user-username elided-text">{{ user.username }}</span>
            </div>
            {{/ user-has-profile}}
            {{# user-has-profile}}
            <div class="user-info user-has-profil d-none d-lg-inline-flex ml-2">
              <span class="user-username elided-text">{{ user.username }}</span>
              <span class="user-profil elided-text">{{ user.profil }}</span>
            </div>
            {{/ user-has-profile}}
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="dropdown-item-section">
              <div class="user-info">
                <div class="user-name">{{ user.name }}</div>
                {{# user-has-profile}}
                <div class="user-profil d-block d-xl-none">{{ user.profil }}</div>
                {{/ user-has-profile}}
                <div class="user-email">{{ user.email }}</div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled mb-0">
              <li>
                <a class="dropdown-item" href="#">Tableau de bord</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Modifier mon profil</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Mes services</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Mes demandes</a>
              </li>
            </ul>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Me déconnecter</a>
          </div>
        </div>
        {{/ user-authenticated }}
    </div>
  </div>
  <div class="overlay"></div>
</nav>
